{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "basePath": "/",
  "tags": [
    {
      "name": "behaviors"
    },
    {
      "name": "fields"
    },
    {
      "name": "processes"
    },
    {
      "name": "rules"
    },
    {
      "name": "states"
    },
    {
      "name": "workItemTypes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processes": {
      "post": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "CreateProcess",
        "description": "",
        "operationId": "Processes_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProcessModel"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcesses",
        "description": "",
        "operationId": "Processes_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetProcessExpandLevel"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/behaviors": {
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetBehaviors",
        "description": "",
        "operationId": "Behaviors_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetBehaviorsExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemBehavior"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/behaviors/{behaviorRefName}": {
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetBehavior",
        "description": "",
        "operationId": "Behaviors_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetBehaviorsExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemBehavior"
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetFields",
        "description": "",
        "operationId": "Fields_GetFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workitemtypes": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemTypes",
        "description": "",
        "operationId": "WorkItemTypes_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workitemtypes/{witRefName}": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetWorkItemTypeFields",
        "description": "",
        "operationId": "Fields_GetWorkItemTypeFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/rules": {
      "post": {
        "tags": [
          "Rules"
        ],
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "AddWorkItemTypeRule",
        "description": "",
        "operationId": "Rules_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Rules"
        ],
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "GetWorkItemTypeRules",
        "description": "",
        "operationId": "Rules_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldRuleModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/rules/{ruleId}": {
      "delete": {
        "tags": [
          "Rules"
        ],
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "DeleteWorkItemTypeRule",
        "description": "",
        "operationId": "Rules_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Rules"
        ],
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "GetWorkItemTypeRule",
        "description": "",
        "operationId": "Rules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Rules"
        ],
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "UpdateWorkItemTypeRule",
        "description": "",
        "operationId": "Rules_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/states": {
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinitions",
        "description": "",
        "operationId": "States_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateResultModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/states/{stateId}": {
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinition",
        "description": "",
        "operationId": "States_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      }
    },
    "/_apis/work/processes/{processTypeId}": {
      "delete": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "DeleteProcess",
        "description": "",
        "operationId": "Processes_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcessById",
        "description": "",
        "operationId": "Processes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetProcessExpandLevel"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "UpdateProcess",
        "description": "",
        "operationId": "Processes_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProcessModel"
            }
          },
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "Control": {
      "description": "Represent a control in the form.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the control.",
          "$ref": "#/definitions/WitContribution"
        },
        "controlType": {
          "description": "Type of the control.",
          "type": "string"
        },
        "height": {
          "description": "Height of the control, for html controls.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the field",
          "type": "string"
        },
        "metadata": {
          "description": "Inner text of the control.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "A value indicating if the control is readonly.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the control should be hidden or not.",
          "type": "boolean"
        },
        "watermark": {
          "description": "Watermark text for the textbox.",
          "type": "string"
        }
      }
    },
    "CreateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parentProcessTypeId": {
          "type": "string",
          "format": "uuid"
        },
        "referenceName": {
          "type": "string"
        }
      }
    },
    "Extension": {
      "description": "Represents the extensions part of the layout",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isIdentity": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldRuleModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleActionModel"
          }
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleConditionModel"
          }
        },
        "friendlyName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "isSystem": {
          "type": "boolean"
        }
      }
    },
    "FormLayout": {
      "description": "",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Gets and sets extensions list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "pages": {
          "description": "Top level tabs of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          }
        },
        "systemControls": {
          "description": "Headers controls of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        }
      }
    },
    "Group": {
      "description": "Represent a group in the form that holds controls in it.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the group.",
          "$ref": "#/definitions/WitContribution"
        },
        "controls": {
          "description": "Controls to be put in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the group.",
          "type": "string"
        },
        "order": {
          "description": "Order in which the group should appear in the section.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the group should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "Page": {
      "description": "",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the page.",
          "$ref": "#/definitions/WitContribution"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "The label for the page.",
          "type": "string"
        },
        "locked": {
          "description": "A value indicating whether any user operations are permitted on this page and the contents of this page",
          "type": "boolean"
        },
        "order": {
          "description": "Order in which the page should appear in the layout.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "pageType": {
          "description": "The icon for the page.",
          "enum": [
            "custom",
            "history",
            "links",
            "attachments"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.PageType"
          }
        },
        "sections": {
          "description": "The sections of the page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Section"
          }
        },
        "visible": {
          "description": "A value indicating if the page should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "ProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectReference"
          }
        },
        "properties": {
          "$ref": "#/definitions/ProcessProperties"
        },
        "referenceName": {
          "type": "string"
        },
        "typeId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ProcessProperties": {
      "description": "",
      "type": "object",
      "properties": {
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.ProcessClass"
          }
        },
        "isDefault": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "parentProcessTypeId": {
          "type": "string",
          "format": "uuid"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ProjectReference": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RuleActionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actionType": {
          "type": "string"
        },
        "targetField": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "RuleConditionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "conditionType": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Section": {
      "description": "",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        }
      }
    },
    "UpdateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WitContribution": {
      "description": "",
      "type": "object",
      "properties": {
        "contributionId": {
          "description": "The id for the contribution.",
          "type": "string"
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "inputs": {
          "description": "A dictionary holding key value pairs for contribution inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "showOnDeletedWorkItem": {
          "description": "A value indicating if the contribution should be show on deleted workItem.",
          "type": "boolean"
        }
      }
    },
    "WorkItemBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "type": "boolean"
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemBehaviorField"
          }
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "name": {
          "type": "string"
        },
        "overriden": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorField": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviorFieldId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemStateResultModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "behavior": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "isDefault": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeModel": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeBehavior"
          }
        },
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.Process.WebApi.Models.WorkItemTypeClass"
          }
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "description": "Parent WIT Id/Internal ReferenceName that it inherits from",
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "layout": {
          "$ref": "#/definitions/FormLayout"
        },
        "name": {
          "type": "string"
        },
        "states": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateResultModel"
          }
        },
        "url": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}