{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "5.0-preview"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "basePath": "/",
  "tags": [
    {
      "name": "Behaviors"
    },
    {
      "name": "Fields"
    },
    {
      "name": "Processes"
    },
    {
      "name": "Rules"
    },
    {
      "name": "States"
    },
    {
      "name": "Work Item Types"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processes": {
      "post": {
        "tags": [
          "Processes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "CreateProcess",
        "x-ms-preview": true,
        "description": "Creates a process.",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProcessModel"
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Create the process": {
            "$ref": "./httpExamples/processes/POST__create_process.json"
          }
        }
      },
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcesses",
        "x-ms-preview": true,
        "description": "Returns a list of all processes.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "projects"
            ],
            "x-ms-enum": {
              "name": "GetProcessExpandLevel",
              "values": [
                {
                  "value": "none",
                  "description": ""
                },
                {
                  "value": "projects",
                  "description": ""
                }
              ]
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the list of processes": {
            "$ref": "./httpExamples/processes/GET__processes.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/behaviors": {
      "post": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "CreateProcessBehavior",
        "x-ms-preview": true,
        "description": "Creates a single behavior in the given process.",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessBehaviorCreateRequest"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessBehavior"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Create a process behavior": {
            "$ref": "./httpExamples/behaviors/POST__process_behavior.json"
          }
        }
      },
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetProcessBehaviors",
        "x-ms-preview": true,
        "description": "Returns a list of all behaviors in the process.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "fields",
              "combinedFields"
            ],
            "x-ms-enum": {
              "name": "GetBehaviorsExpand",
              "values": [
                {
                  "value": "none",
                  "description": "Default none option."
                },
                {
                  "value": "fields",
                  "description": "This option returns fields associated with a behavior."
                },
                {
                  "value": "combinedFields",
                  "description": "This option returns fields associated with this behavior and all behaviors from which it inherits."
                }
              ]
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessBehavior"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the list of process behaviors": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior_list.json"
          },
          "Get the list of process behaviors with Fields option": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior_list_fields.json"
          },
          "Get the list of process behaviors with CombinedFields option": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior_list_combined_fields.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/behaviors/{behaviorRefName}": {
      "delete": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "DeleteProcessBehavior",
        "x-ms-preview": true,
        "description": "Removes a behavior in the process.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "The reference name of the behavior",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Delete a process behavior": {
            "$ref": "./httpExamples/behaviors/DELETE__process_behavior.json"
          }
        }
      },
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetProcessBehavior",
        "x-ms-preview": true,
        "description": "Returns a behavior of the process.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "The reference name of the behavior",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "fields",
              "combinedFields"
            ],
            "x-ms-enum": {
              "name": "GetBehaviorsExpand",
              "values": [
                {
                  "value": "none",
                  "description": "Default none option."
                },
                {
                  "value": "fields",
                  "description": "This option returns fields associated with a behavior."
                },
                {
                  "value": "combinedFields",
                  "description": "This option returns fields associated with this behavior and all behaviors from which it inherits."
                }
              ]
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessBehavior"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the process behavior": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior.json"
          },
          "Get the process behavior with Fields option": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior_fields.json"
          },
          "Get the process behavior with CombinedFields option": {
            "$ref": "./httpExamples/behaviors/GET__process_behavior_combined_fields.json"
          }
        }
      },
      "put": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "UpdateProcessBehavior",
        "x-ms-preview": true,
        "description": "Replaces a behavior in the process.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessBehaviorUpdateRequest"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "The reference name of the behavior",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessBehavior"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Update a process behavior": {
            "$ref": "./httpExamples/behaviors/PUT__process_behavior.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetFields",
        "x-ms-preview": true,
        "description": "Returns a list of all fields in a process.",
        "operationId": "Get Fields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the list of process fields": {
            "$ref": "./httpExamples/fields/GET__process_fields.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/workitemtypes": {
      "post": {
        "tags": [
          "Work Item Types"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "CreateProcessWorkItemType",
        "x-ms-preview": true,
        "description": "Creates a work item type in the process.",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProcessWorkItemTypeRequest"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process on which to create work item type.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessWorkItemType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Work Item Types"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetProcessWorkItemTypes",
        "x-ms-preview": true,
        "description": "Returns a list of all work item types in a process.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessWorkItemType"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/work/processes/{processId}/workitemtypes/{witRefName}": {
      "delete": {
        "tags": [
          "Work Item Types"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "DeleteProcessWorkItemType",
        "x-ms-preview": true,
        "description": "Removes a work itewm type in the process.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Work Item Types"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetProcessWorkItemType",
        "x-ms-preview": true,
        "description": "Returns a single work item type in a process.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessWorkItemType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Work Item Types"
        ],
        "x-ms-docs-override-version": "5.0-preview.2",
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "UpdateProcessWorkItemType",
        "x-ms-preview": true,
        "description": "Updates a work item type of the process.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProcessWorkItemTypeRequest"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.2"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessWorkItemType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetWorkItemTypeFields",
        "x-ms-preview": true,
        "description": "Returns a list of all fields in a work item type.",
        "operationId": "Get Work Item Type Fields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the list of work item type fields": {
            "$ref": "./httpExamples/fields/GET__wit_fields.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/rules": {
      "post": {
        "tags": [
          "Rules"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "AddWorkItemTypeRule",
        "x-ms-preview": true,
        "description": "Adds a rule to work item type in the process.",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Add the rule definition": {
            "$ref": "./httpExamples/rules/POST__wit_rule.json"
          }
        }
      },
      "get": {
        "tags": [
          "Rules"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "GetWorkItemTypeRules",
        "x-ms-preview": true,
        "description": "Returns a list of all rules in the work item type of the process.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldRuleModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the list of rules for the work item type": {
            "$ref": "./httpExamples/rules/GET__wit_rules.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/rules/{ruleId}": {
      "delete": {
        "tags": [
          "Rules"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "DeleteWorkItemTypeRule",
        "x-ms-preview": true,
        "description": "Removes a rule from the work item type in the process.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The ID of the rule",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Delete the rule": {
            "$ref": "./httpExamples/rules/DELETE__wit_rule.json"
          }
        }
      },
      "get": {
        "tags": [
          "Rules"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "GetWorkItemTypeRule",
        "x-ms-preview": true,
        "description": "Returns a single rule in the work item type of the process.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The ID of the rule",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the specified rule definition": {
            "$ref": "./httpExamples/rules/GET__wit_rule.json"
          }
        }
      },
      "put": {
        "tags": [
          "Rules"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "rules",
        "x-ms-vss-method": "UpdateWorkItemTypeRule",
        "x-ms-preview": true,
        "description": "Updates a rule in the work item type of the process.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ruleId",
            "description": "The ID of the rule",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldRuleModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Update the rule definition": {
            "$ref": "./httpExamples/rules/PUT__wit_rule.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/states": {
      "post": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "CreateStateDefinition",
        "x-ms-preview": true,
        "description": "Creates a state definition in the work item type of the process.",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Create state definition": {
            "$ref": "./httpExamples/states/CREATE__wit_state.json"
          }
        }
      },
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinitions",
        "x-ms-preview": true,
        "description": "Returns a list of all state definitions in a work item type of the process.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateResultModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get state definitions": {
            "$ref": "./httpExamples/states/GET__wit_states.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/states/{stateId}": {
      "delete": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "DeleteStateDefinition",
        "x-ms-preview": true,
        "description": "Removes a state definition in the work item type of the process.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "ID of the state",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Delete state definition": {
            "$ref": "./httpExamples/states/DELETE__wit_state.json"
          }
        }
      },
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinition",
        "x-ms-preview": true,
        "description": "Returns a single state definition in a work item type of the process.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "The ID of the state",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get state definition": {
            "$ref": "./httpExamples/states/GET__wit_state.json"
          }
        }
      },
      "put": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "HideStateDefinition",
        "x-ms-preview": true,
        "description": "Hides a state definition in the work item type of the process.Only states with customizationType:System can be hidden.",
        "operationId": "Hide State Definition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HideStateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "The ID of the state",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Hide state definition": {
            "$ref": "./httpExamples/states/HIDE__wit_state.json"
          }
        }
      },
      "patch": {
        "tags": [
          "States"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "UpdateStateDefinition",
        "x-ms-preview": true,
        "description": "Updates a given state definition in the work item type of the process.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "ID of the state",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Update state definition": {
            "$ref": "./httpExamples/states/UPDATE__wit_state.json"
          }
        }
      }
    },
    "/_apis/work/processes/{processTypeId}": {
      "delete": {
        "tags": [
          "Processes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "DeleteProcess",
        "x-ms-preview": true,
        "description": "Removes a process of a specific ID.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Delete the process definition": {
            "$ref": "./httpExamples/processes/DELETE__process.json"
          }
        }
      },
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcessById",
        "x-ms-preview": true,
        "description": "Returns a single process of a specified ID.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "projects"
            ],
            "x-ms-enum": {
              "name": "GetProcessExpandLevel",
              "values": [
                {
                  "value": "none",
                  "description": ""
                },
                {
                  "value": "projects",
                  "description": ""
                }
              ]
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
          "Get the specific process definition": {
            "$ref": "./httpExamples/processes/GET__process.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Processes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "UpdateProcess",
        "x-ms-preview": true,
        "description": "Updates a process of a specific ID.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProcessModel"
            }
          },
          {
            "in": "path",
            "name": "processTypeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
          "Update the process definition": {
            "$ref": "./httpExamples/processes/PATCH__update_process.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Control": {
      "description": "Represent a control in the form.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the control.",
          "$ref": "#/definitions/WitContribution"
        },
        "controlType": {
          "description": "Type of the control.",
          "type": "string"
        },
        "height": {
          "description": "Height of the control, for html controls.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution or not.",
          "type": "boolean"
        },
        "label": {
          "description": "Label for the field",
          "type": "string"
        },
        "metadata": {
          "description": "Inner text of the control.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "A value indicating if the control is readonly.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the control should be hidden or not.",
          "type": "boolean"
        },
        "watermark": {
          "description": "Watermark text for the textbox.",
          "type": "string"
        }
      }
    },
    "CreateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the process",
          "type": "string"
        },
        "name": {
          "description": "Name of the process",
          "type": "string"
        },
        "parentProcessTypeId": {
          "description": "The ID of the parent process",
          "type": "string",
          "format": "uuid"
        },
        "referenceName": {
          "description": "Reference name of the process",
          "type": "string"
        }
      }
    },
    "CreateProcessWorkItemTypeRequest": {
      "description": "Class for create work item type request",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color hexadecimal code to represent the work item type",
          "type": "string"
        },
        "description": {
          "description": "Description of the work item type",
          "type": "string"
        },
        "icon": {
          "description": "Icon to represent the work item typ",
          "type": "string"
        },
        "inheritsFrom": {
          "description": "Parent work item type for work item type",
          "type": "string"
        },
        "name": {
          "description": "Name of work item type",
          "type": "string"
        }
      }
    },
    "Extension": {
      "description": "Represents the extensions part of the layout",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isIdentity": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "FieldType",
            "values": [
              {
                "value": "string",
                "description": ""
              },
              {
                "value": "integer",
                "description": ""
              },
              {
                "value": "dateTime",
                "description": ""
              },
              {
                "value": "plainText",
                "description": ""
              },
              {
                "value": "html",
                "description": ""
              },
              {
                "value": "treePath",
                "description": ""
              },
              {
                "value": "history",
                "description": ""
              },
              {
                "value": "double",
                "description": ""
              },
              {
                "value": "guid",
                "description": ""
              },
              {
                "value": "boolean",
                "description": ""
              },
              {
                "value": "identity",
                "description": ""
              },
              {
                "value": "picklistInteger",
                "description": ""
              },
              {
                "value": "picklistString",
                "description": ""
              },
              {
                "value": "picklistDouble",
                "description": ""
              }
            ]
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldRuleModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleActionModel"
          }
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleConditionModel"
          }
        },
        "friendlyName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "isSystem": {
          "type": "boolean"
        }
      }
    },
    "FormLayout": {
      "description": "",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Gets and sets extensions list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "pages": {
          "description": "Top level tabs of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          }
        },
        "systemControls": {
          "description": "Headers controls of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        }
      }
    },
    "Group": {
      "description": "Represent a group in the form that holds controls in it.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the group.",
          "$ref": "#/definitions/WitContribution"
        },
        "controls": {
          "description": "Controls to be put in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "type": "boolean"
        },
        "label": {
          "description": "Label for the group.",
          "type": "string"
        },
        "order": {
          "description": "Order in which the group should appear in the section.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the group should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "HideStateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "hidden": {
          "type": "boolean"
        }
      }
    },
    "Page": {
      "description": "",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the page.",
          "$ref": "#/definitions/WitContribution"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "type": "boolean"
        },
        "label": {
          "description": "The label for the page.",
          "type": "string"
        },
        "locked": {
          "description": "A value indicating whether any user operations are permitted on this page and the contents of this page",
          "type": "boolean"
        },
        "order": {
          "description": "Order in which the page should appear in the layout.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "pageType": {
          "description": "The icon for the page.",
          "enum": [
            "custom",
            "history",
            "links",
            "attachments"
          ],
          "x-ms-enum": {
            "name": "PageType",
            "values": [
              {
                "value": "custom",
                "description": ""
              },
              {
                "value": "history",
                "description": ""
              },
              {
                "value": "links",
                "description": ""
              },
              {
                "value": "attachments",
                "description": ""
              }
            ]
          }
        },
        "sections": {
          "description": "The sections of the page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Section"
          }
        },
        "visible": {
          "description": "A value indicating if the page should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "ProcessBehavior": {
      "description": "Process Behavior Model.",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color.",
          "type": "string"
        },
        "customization": {
          "description": "Indicates the type of customization on this work item. System behaviors are inherited from parent process but not modified. Inherited behaviors are modified modified behaviors that were inherited from parent process. Custom behaviors are behaviors created by user in current process.",
          "enum": [
            "system",
            "inherited",
            "custom"
          ],
          "x-ms-enum": {
            "name": "CustomizationType",
            "values": [
              {
                "value": "system",
                "description": ""
              },
              {
                "value": "inherited",
                "description": ""
              },
              {
                "value": "custom",
                "description": ""
              }
            ]
          }
        },
        "description": {
          "description": ". Description",
          "type": "string"
        },
        "fields": {
          "description": "Process Behavior Fields.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProcessBehaviorField"
          }
        },
        "inherits": {
          "description": "Parent behavior reference.",
          "$ref": "#/definitions/ProcessBehaviorReference"
        },
        "name": {
          "description": "Behavior Name.",
          "type": "string"
        },
        "rank": {
          "description": "Rank of the behavior",
          "type": "integer",
          "format": "int32"
        },
        "referenceName": {
          "description": "Behavior Id",
          "type": "string"
        },
        "url": {
          "description": "Url of the behavior.",
          "type": "string"
        }
      }
    },
    "ProcessBehaviorCreateRequest": {
      "description": "Process Behavior Create Payload.",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color.",
          "type": "string"
        },
        "inherits": {
          "description": "Parent behavior id.",
          "type": "string"
        },
        "name": {
          "description": "Name of the behavior.",
          "type": "string"
        },
        "referenceName": {
          "description": "ReferenceName is optional, if not specified will be auto-generated.",
          "type": "string"
        }
      }
    },
    "ProcessBehaviorField": {
      "description": "Process Behavior Field.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the field.",
          "type": "string"
        },
        "referenceName": {
          "description": "Reference name of the field.",
          "type": "string"
        },
        "url": {
          "description": "Url to field.",
          "type": "string"
        }
      }
    },
    "ProcessBehaviorReference": {
      "description": "Process behavior Reference.",
      "type": "object",
      "properties": {
        "behaviorRefName": {
          "description": "Id of a Behavior.",
          "type": "string"
        },
        "url": {
          "description": "Url to behavior.",
          "type": "string"
        }
      }
    },
    "ProcessBehaviorUpdateRequest": {
      "description": "Process Behavior Replace Payload.",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color.",
          "type": "string"
        },
        "name": {
          "description": "Behavior Name.",
          "type": "string"
        }
      }
    },
    "ProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the process",
          "type": "string"
        },
        "name": {
          "description": "Name of the process",
          "type": "string"
        },
        "projects": {
          "description": "Projects in this process",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectReference"
          }
        },
        "properties": {
          "description": "Properties of the process",
          "$ref": "#/definitions/ProcessProperties"
        },
        "referenceName": {
          "description": "Reference name of the process",
          "type": "string"
        },
        "typeId": {
          "description": "The ID of the process",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ProcessProperties": {
      "description": "Properties of the process",
      "type": "object",
      "properties": {
        "class": {
          "description": "Class of the process",
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "ProcessClass",
            "values": [
              {
                "value": "system",
                "description": ""
              },
              {
                "value": "derived",
                "description": ""
              },
              {
                "value": "custom",
                "description": ""
              }
            ]
          }
        },
        "isDefault": {
          "description": "Is the process default process",
          "type": "boolean"
        },
        "isEnabled": {
          "description": "Is the process enabled",
          "type": "boolean"
        },
        "parentProcessTypeId": {
          "description": "ID of the parent process",
          "type": "string",
          "format": "uuid"
        },
        "version": {
          "description": "Version of the process",
          "type": "string"
        }
      }
    },
    "ProcessWorkItemType": {
      "description": "Class that describes a work item type object",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color hexadecimal code to represent the work item type",
          "type": "string"
        },
        "customization": {
          "description": "Indicates the type of customization on this work item System work item types are inherited from parent process but not modified Inherited work item types are modified work item that were inherited from parent process Custom work item types are work item types that were created in the current process",
          "enum": [
            "system",
            "inherited",
            "custom"
          ],
          "x-ms-enum": {
            "name": "CustomizationType",
            "values": [
              {
                "value": "system",
                "description": ""
              },
              {
                "value": "inherited",
                "description": ""
              },
              {
                "value": "custom",
                "description": ""
              }
            ]
          }
        },
        "description": {
          "description": "Description of the work item type",
          "type": "string"
        },
        "icon": {
          "description": "Icon to represent the work item typ",
          "type": "string"
        },
        "isDisabled": {
          "description": "Indicates if a work item type is disabled",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the work item type",
          "type": "string"
        },
        "referenceName": {
          "description": "Reference name of work item type",
          "type": "string"
        },
        "url": {
          "description": "Url of the work item type",
          "type": "string"
        }
      }
    },
    "ProjectReference": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the project",
          "type": "string"
        },
        "id": {
          "description": "The ID of the project",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Name of the project",
          "type": "string"
        },
        "url": {
          "description": "Url of the project",
          "type": "string"
        }
      }
    },
    "RuleActionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "actionType": {
          "type": "string"
        },
        "targetField": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "RuleConditionModel": {
      "description": "",
      "type": "object",
      "properties": {
        "conditionType": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Section": {
      "description": "",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        }
      }
    },
    "UpdateProcessModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "UpdateProcessWorkItemTypeRequest": {
      "description": "Class for update request on a work item type",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color of the work item type",
          "type": "string"
        },
        "description": {
          "description": "Description of the work item type",
          "type": "string"
        },
        "icon": {
          "description": "Icon of the work item type",
          "type": "string"
        },
        "isDisabled": {
          "description": "If set will disable the work item type",
          "type": "boolean"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WitContribution": {
      "description": "",
      "type": "object",
      "properties": {
        "contributionId": {
          "description": "The id for the contribution.",
          "type": "string"
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "inputs": {
          "description": "A dictionary holding key value pairs for contribution inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "showOnDeletedWorkItem": {
          "description": "A value indicating if the contribution should be show on deleted workItem.",
          "type": "boolean"
        }
      }
    },
    "WorkItemBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "type": "boolean"
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemBehaviorField"
          }
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "name": {
          "type": "string"
        },
        "overriden": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorField": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviorFieldId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemBehaviorReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemStateInputModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color of the state",
          "type": "string"
        },
        "name": {
          "description": "Name of the state",
          "type": "string"
        },
        "order": {
          "description": "Order in which state should appear",
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "description": "Category of the state",
          "type": "string"
        }
      }
    },
    "WorkItemStateResultModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "customizationType": {
          "enum": [
            "system",
            "inherited",
            "custom"
          ],
          "x-ms-enum": {
            "name": "CustomizationType",
            "values": [
              {
                "value": "system",
                "description": ""
              },
              {
                "value": "inherited",
                "description": ""
              },
              {
                "value": "custom",
                "description": ""
              }
            ]
          }
        },
        "hidden": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "behavior": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "isDefault": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeModel": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeBehavior"
          }
        },
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "WorkItemTypeClass",
            "values": [
              {
                "value": "system",
                "description": ""
              },
              {
                "value": "derived",
                "description": ""
              },
              {
                "value": "custom",
                "description": ""
              }
            ]
          }
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "description": "Parent WIT Id/Internal ReferenceName that it inherits from",
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "layout": {
          "$ref": "#/definitions/FormLayout"
        },
        "name": {
          "type": "string"
        },
        "states": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateResultModel"
          }
        },
        "url": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version-preview.1": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '5.0-preview.1' to use this version of the api.",
      "required": true,
      "type": "string"
    },
    "api-Version-preview.2": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '5.0-preview.2' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
    },
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.work_write": "Grants the ability to read, create, and update work items and queries, update board metadata, read area and iterations paths other work item tracking related metadata, execute queries, and to receive notifications about work item events via service hooks.",
        "vso.work": "Grants the ability to read work items, queries, boards, area and iterations paths, and other work item tracking related metadata. Also grants the ability to execute queries and to receive notifications about work item events via service hooks."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}