{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "basePath": "/",
  "tags": [
    {
      "name": "behaviors"
    },
    {
      "name": "Controls"
    },
    {
      "name": "fields"
    },
    {
      "name": "Groups"
    },
    {
      "name": "layout"
    },
    {
      "name": "lists"
    },
    {
      "name": "Pages"
    },
    {
      "name": "states"
    },
    {
      "name": "workItemTypes"
    },
    {
      "name": "workItemTypesFields"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processdefinitions/{processId}/behaviors": {
      "post": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "CreateBehavior",
        "description": "",
        "operationId": "Behaviors_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BehaviorCreateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetBehaviors",
        "description": "",
        "operationId": "Behaviors_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BehaviorModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/behaviors/{behaviorId}": {
      "delete": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "DeleteBehavior",
        "description": "",
        "operationId": "Behaviors_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetBehavior",
        "description": "",
        "operationId": "Behaviors_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "ReplaceBehavior",
        "description": "",
        "operationId": "Behaviors_ReplaceBehavior",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BehaviorReplaceModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/fields/{field}": {
      "post": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "CreateField",
        "description": "",
        "operationId": "Fields_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "UpdateField",
        "description": "",
        "operationId": "Fields_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldUpdate"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes": {
      "post": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "CreateWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemTypes",
        "description": "",
        "operationId": "WorkItemTypes_GetWorkItemTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefName}": {
      "delete": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "DeleteWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_GetWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "UpdateWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_UpdateWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout": {
      "get": {
        "tags": [
          "Layout"
        ],
        "x-ms-vss-resource": "layout",
        "x-ms-vss-method": "GetFormLayout",
        "description": "Gets the form layout",
        "operationId": "Layout_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FormLayout"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/groups/{groupId}/controls": {
      "post": {
        "tags": [
          "Controls"
        ],
        "x-ms-vss-resource": "controls",
        "x-ms-vss-method": "AddControlToGroup",
        "description": "Creates a control in a group",
        "operationId": "Controls_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The control",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group to add the control to",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/groups/{groupId}/controls/{controlId}": {
      "patch": {
        "tags": [
          "Controls"
        ],
        "x-ms-vss-resource": "controls",
        "x-ms-vss-method": "EditControl",
        "description": "Updates a control on the work item form",
        "operationId": "Controls_EditControl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The updated control",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "The ID of the control",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "Controls"
        ],
        "x-ms-vss-resource": "controls",
        "x-ms-vss-method": "RemoveControlFromGroup",
        "description": "Removes a control from the work item form",
        "operationId": "Controls_RemoveControlFromGroup",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "The ID of the control to remove",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "Controls"
        ],
        "x-ms-vss-resource": "controls",
        "x-ms-vss-method": "SetControlInGroup",
        "description": "Moves a control to a new group",
        "operationId": "Controls_SetControlInGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The control",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group to move the control to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "The id of the control",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromGroupId",
            "description": "The group to remove the control from",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages": {
      "post": {
        "tags": [
          "Pages"
        ],
        "x-ms-vss-resource": "pages",
        "x-ms-vss-method": "AddPage",
        "description": "Adds a page to the work item form",
        "operationId": "Pages_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The page",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Page"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Pages"
        ],
        "x-ms-vss-resource": "pages",
        "x-ms-vss-method": "EditPage",
        "description": "Updates a page on the work item form",
        "operationId": "Pages_EditPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The page",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Page"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}": {
      "delete": {
        "tags": [
          "Pages"
        ],
        "x-ms-vss-resource": "pages",
        "x-ms-vss-method": "RemovePage",
        "description": "Removes a page from the work item form",
        "operationId": "Pages_RemovePage",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "The ID of the page",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}/sections/{sectionId}/groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "x-ms-vss-resource": "groups",
        "x-ms-vss-method": "AddGroup",
        "description": "Adds a group to the work item form",
        "operationId": "Groups_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "The ID of the page to add the group to",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "The ID of the section to add the group to",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}/sections/{sectionId}/groups/{groupId}": {
      "patch": {
        "tags": [
          "Groups"
        ],
        "x-ms-vss-resource": "groups",
        "x-ms-vss-method": "EditGroup",
        "description": "Updates a group in the work item form",
        "operationId": "Groups_EditGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The updated group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "The ID of the page the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "The ID of the section the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "x-ms-vss-resource": "groups",
        "x-ms-vss-method": "RemoveGroup",
        "description": "Removes a group from the work item form",
        "operationId": "Groups_RemoveGroup",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "The ID of the page the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "The ID of the section to the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "x-ms-vss-resource": "groups",
        "x-ms-vss-method": "SetGroupInPage",
        "description": "Moves a group to a different page and section",
        "operationId": "Groups_SetGroupInPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The updated group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "The ID of the process",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "The reference name of the work item type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "The ID of the page the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "The ID of the section the group is in",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "The ID of the group",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromPageId",
            "description": "ID of the page to remove the group from",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromSectionId",
            "description": "ID of the section to remove the group from",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/states": {
      "post": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "CreateStateDefinition",
        "description": "",
        "operationId": "States_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinitions",
        "description": "",
        "operationId": "States_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateResultModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/states/{stateId}": {
      "delete": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "DeleteStateDefinition",
        "description": "",
        "operationId": "States_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "GetStateDefinition",
        "description": "",
        "operationId": "States_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "HideStateDefinition",
        "description": "",
        "operationId": "States_HideStateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HideStateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "States"
        ],
        "x-ms-vss-resource": "states",
        "x-ms-vss-method": "UpdateStateDefinition",
        "description": "",
        "operationId": "States_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefNameForBehaviors}/behaviors": {
      "post": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "AddBehaviorToWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      },
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetBehaviorsForWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_GetBehaviorsForWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeBehavior"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "UpdateBehaviorToWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_UpdateBehaviorToWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefNameForBehaviors}/behaviors/{behaviorRefName}": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetBehaviorForWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_GetBehaviorForWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "RemoveBehaviorFromWorkItemType",
        "description": "",
        "operationId": "WorkItemTypes_RemoveBehaviorFromWorkItemType",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefNameForFields}/fields": {
      "post": {
        "tags": [
          "WorkItemTypesFields"
        ],
        "x-ms-vss-resource": "workItemTypesFields",
        "x-ms-vss-method": "AddFieldToWorkItemType",
        "description": "",
        "operationId": "WorkItemTypesFields_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "WorkItemTypesFields"
        ],
        "x-ms-vss-resource": "workItemTypesFields",
        "x-ms-vss-method": "GetWorkItemTypeFields",
        "description": "",
        "operationId": "WorkItemTypesFields_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeFieldModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefNameForFields}/fields/{fieldRefName}": {
      "get": {
        "tags": [
          "WorkItemTypesFields"
        ],
        "x-ms-vss-resource": "workItemTypesFields",
        "x-ms-vss-method": "GetWorkItemTypeField",
        "description": "",
        "operationId": "WorkItemTypesFields_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fieldRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "WorkItemTypesFields"
        ],
        "x-ms-vss-resource": "workItemTypesFields",
        "x-ms-vss-method": "RemoveFieldFromWorkItemType",
        "description": "",
        "operationId": "WorkItemTypesFields_RemoveFieldFromWorkItemType",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fieldRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "x-ms-vss-resource": "lists",
        "x-ms-vss-method": "GetListsMetadata",
        "description": "",
        "operationId": "Lists_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PickListMetadataModel"
              }
            }
         }
        }
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "x-ms-vss-resource": "lists",
        "x-ms-vss-method": "CreateList",
        "description": "",
        "operationId": "Lists_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/lists/{listId}": {
      "delete": {
        "tags": [
          "Lists"
        ],
        "x-ms-vss-resource": "lists",
        "x-ms-vss-method": "DeleteList",
        "description": "",
        "operationId": "Lists_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Lists"
        ],
        "x-ms-vss-resource": "lists",
        "x-ms-vss-method": "GetList",
        "description": "",
        "operationId": "Lists_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Lists"
        ],
        "x-ms-vss-resource": "lists",
        "x-ms-vss-method": "UpdateList",
        "description": "",
        "operationId": "Lists_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
          },
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "BehaviorCreateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color",
          "type": "string"
        },
        "inherits": {
          "description": "Parent behavior id",
          "type": "string"
        },
        "name": {
          "description": "Name of the behavior",
          "type": "string"
        }
      }
    },
    "BehaviorModel": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "description": "Is the behavior abstract (i.e. can not be associated with any work item type)",
          "type": "boolean"
        },
        "color": {
          "description": "Color",
          "type": "string"
        },
        "description": {
          "description": "Description",
          "type": "string"
        },
        "id": {
          "description": "Behavior Id",
          "type": "string"
        },
        "inherits": {
          "description": "Parent behavior reference",
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "name": {
          "description": "Behavior Name",
          "type": "string"
        },
        "overridden": {
          "description": "Is the behavior overrides a behavior from system process",
          "type": "boolean"
        },
        "rank": {
          "description": "Rank",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "BehaviorReplaceModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color",
          "type": "string"
        },
        "name": {
          "description": "Behavior Name",
          "type": "string"
        }
      }
    },
    "Control": {
      "description": "Represent a control in the form.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the control.",
          "$ref": "#/definitions/WitContribution"
        },
        "controlType": {
          "description": "Type of the control.",
          "type": "string"
        },
        "height": {
          "description": "Height of the control, for html controls.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the field",
          "type": "string"
        },
        "metadata": {
          "description": "Inner text of the control.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "A value indicating if the control is readonly.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the control should be hidden or not.",
          "type": "boolean"
        },
        "watermark": {
          "description": "Watermark text for the textbox.",
          "type": "string"
        }
      }
    },
    "Extension": {
      "description": "Represents the extensions part of the layout",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "pickList": {
          "$ref": "#/definitions/PickListMetadataModel"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "FormLayout": {
      "description": "",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Gets and sets extensions list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "pages": {
          "description": "Top level tabs of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          }
        },
        "systemControls": {
          "description": "Headers controls of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        }
      }
    },
    "Group": {
      "description": "Represent a group in the form that holds controls in it.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the group.",
          "$ref": "#/definitions/WitContribution"
        },
        "controls": {
          "description": "Controls to be put in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the group.",
          "type": "string"
        },
        "order": {
          "description": "Order in which the group should appear in the section.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the group should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "HideStateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "hidden": {
          "type": "boolean"
        }
      }
    },
    "Page": {
      "description": "",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the page.",
          "$ref": "#/definitions/WitContribution"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "The label for the page.",
          "type": "string"
        },
        "locked": {
          "description": "A value indicating whether any user operations are permitted on this page and the contents of this page",
          "type": "boolean"
        },
        "order": {
          "description": "Order in which the page should appear in the layout.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "pageType": {
          "description": "The icon for the page.",
          "enum": [
            "custom",
            "history",
            "links",
            "attachments"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.PageType"
          }
        },
        "sections": {
          "description": "The sections of the page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Section"
          }
        },
        "visible": {
          "description": "A value indicating if the page should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "PickListItemModel": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PickListMetadataModel": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isSuggested": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PickListModel": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PickListMetadataModel"
        }
      ],
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PickListItemModel"
          }
        }
      }
    },
    "Section": {
      "description": "",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WitContribution": {
      "description": "",
      "type": "object",
      "properties": {
        "contributionId": {
          "description": "The id for the contribution.",
          "type": "string"
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "inputs": {
          "description": "A dictionary holding key value pairs for contribution inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "showOnDeletedWorkItem": {
          "description": "A value indicating if the contribution should be show on deleted workItem.",
          "type": "boolean"
        }
      }
    },
    "WorkItemBehaviorReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemStateInputModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        }
      }
    },
    "WorkItemStateResultModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "behavior": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "isDefault": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeFieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "allowGroups": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "pickList": {
          "$ref": "#/definitions/PickListMetadataModel"
        },
        "readOnly": {
          "type": "boolean"
        },
        "referenceName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeModel": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeBehavior"
          }
        },
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.WorkItemTypeClass"
          }
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "description": "Parent WIT Id/Internal ReferenceName that it inherits from",
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "layout": {
          "$ref": "#/definitions/FormLayout"
        },
        "name": {
          "type": "string"
        },
        "states": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateResultModel"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeUpdateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}