{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTrackingProcessTemplate",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTrackingProcessTemplate",
  "basePath": "/",
  "tags": [
    {
      "name": "behaviors"
    },
    {
      "name": "processes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processadmin/{processId}/behaviors": {
      "get": {
        "tags": [
          "Behaviors"
        ],
        "x-ms-vss-resource": "behaviors",
        "x-ms-vss-method": "GetBehavior",
        "description": "",
        "operationId": "Behaviors_GetBehavior",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AdminBehavior"
            }
         }
        }
      }
    },
    "/_apis/work/processadmin/processes/checktemplateexistence": {
      "post": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "CheckTemplateExistence",
        "description": "Check if process template exists",
        "operationId": "Processes_CheckTemplateExistence",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CheckTemplateExistenceResult"
            }
         }
        }
      }
    },
    "/_apis/work/processadmin/processes/export/{id}": {
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "ExportProcessTemplate",
        "description": "Returns requested process template",
        "operationId": "Processes_ExportProcessTemplate",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        }
      }
    },
    "/_apis/work/processadmin/processes/import": {
      "post": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "ImportProcessTemplate",
        "description": "",
        "operationId": "Processes_ImportProcessTemplate",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          },
          {
            "in": "query",
            "name": "ignoreWarnings",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessImportResult"
            }
         }
        }
      }
    },
    "/_apis/work/processadmin/processes/status/{id}": {
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "ImportProcessTemplateStatus",
        "description": "Whether promote has completed for the specified promote job id",
        "operationId": "Processes_ImportProcessTemplateStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessPromoteStatus"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "AdminBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "type": "boolean"
        },
        "color": {
          "type": "string"
        },
        "custom": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminBehaviorField"
          }
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "overriden": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AdminBehaviorField": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviorFieldId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CheckTemplateExistenceResult": {
      "description": "",
      "type": "object",
      "properties": {
        "doesTemplateExist": {
          "type": "boolean"
        },
        "existingTemplateName": {
          "type": "string"
        },
        "existingTemplateTypeId": {
          "type": "string",
          "format": "uuid"
        },
        "requestedTemplateName": {
          "type": "string"
        }
      }
    },
    "ProcessImportResult": {
      "description": "",
      "type": "object",
      "properties": {
        "helpUrl": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "promoteJobId": {
          "type": "string",
          "format": "uuid"
        },
        "validationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationIssue"
          }
        }
      }
    },
    "ProcessPromoteStatus": {
      "description": "",
      "type": "object",
      "properties": {
        "complete": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "message": {
          "type": "string"
        },
        "pending": {
          "type": "integer",
          "format": "int32"
        },
        "remainingRetries": {
          "type": "integer",
          "format": "int32"
        },
        "successful": {
          "type": "boolean"
        }
      }
    },
    "ValidationIssue": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "helpLink": {
          "type": "string"
        },
        "issueType": {
          "enum": [
            "warning",
            "error"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessTemplate.WebApi.Models.ValidationIssueType"
          }
        },
        "line": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}