{
  "swagger": "2.0",
  "info": {
    "title": "Test",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Test",
  "basePath": "/",
  "tags": [
    {
      "name": "ActionResults"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Bugs"
    },
    {
      "name": "CloneOperation"
    },
    {
      "name": "CodeCoverage"
    },
    {
      "name": "Configurations"
    },
    {
      "name": "ExtensionFields"
    },
    {
      "name": "History"
    },
    {
      "name": "Iterations"
    },
    {
      "name": "LinkedWorkItemsQuery"
    },
    {
      "name": "MessageLogs"
    },
    {
      "name": "ParameterResults"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Points"
    },
    {
      "name": "ResultDetailsByBuild"
    },
    {
      "name": "ResultDetailsByRelease"
    },
    {
      "name": "ResultDocument"
    },
    {
      "name": "ResultRetentionSettings"
    },
    {
      "name": "Results"
    },
    {
      "name": "ResultSummaryByBuild"
    },
    {
      "name": "ResultSummaryByRelease"
    },
    {
      "name": "ResultSummaryByRequirement"
    },
    {
      "name": "ResultTrendByBuild"
    },
    {
      "name": "ResultTrendByRelease"
    },
    {
      "name": "Runs"
    },
    {
      "name": "Session"
    },
    {
      "name": "SharedParameter"
    },
    {
      "name": "SharedStep"
    },
    {
      "name": "SuiteEntry"
    },
    {
      "name": "Suites"
    },
    {
      "name": "TestCases"
    },
    {
      "name": "TestSettings"
    },
    {
      "name": "Variables"
    },
    {
      "name": "WorkItems"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/test/suites": {
      "get": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "GetSuitesByTestCaseId",
        "description": "",
        "operationId": "Suites_GetSuitesByTestCaseId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/cloneoperation/{cloneOperationId}": {
      "get": {
        "tags": [
          "CloneOperation"
        ],
        "x-ms-vss-resource": "cloneOperation",
        "x-ms-vss-method": "GetCloneInformation",
        "description": "",
        "operationId": "CloneOperation_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "cloneOperationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/codecoverage": {
      "get": {
        "tags": [
          "CodeCoverage"
        ],
        "x-ms-vss-resource": "codeCoverage",
        "x-ms-vss-method": "GetBuildCodeCoverage",
        "description": "",
        "operationId": "CodeCoverage_GetBuildCodeCoverage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "flags",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildCoverage"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CodeCoverage"
        ],
        "x-ms-vss-resource": "codeCoverage",
        "x-ms-vss-method": "UpdateCodeCoverageSummary",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/CodeCoverage?buildId=10 Request: Json of code coverage summary",
        "operationId": "CodeCoverage_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeCoverageData"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/configurations": {
      "post": {
        "tags": [
          "Configurations"
        ],
        "x-ms-vss-resource": "configurations",
        "x-ms-vss-method": "CreateTestConfiguration",
        "description": "",
        "operationId": "Configurations_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Configurations"
        ],
        "x-ms-vss-resource": "configurations",
        "x-ms-vss-method": "GetTestConfigurations",
        "description": "",
        "operationId": "Configurations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeAllProperties",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestConfiguration"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/configurations/{testConfigurationId}": {
      "delete": {
        "tags": [
          "Configurations"
        ],
        "x-ms-vss-resource": "configurations",
        "x-ms-vss-method": "DeleteTestConfiguration",
        "description": "",
        "operationId": "Configurations_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Configurations"
        ],
        "x-ms-vss-resource": "configurations",
        "x-ms-vss-method": "GetTestConfigurationById",
        "description": "",
        "operationId": "Configurations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Configurations"
        ],
        "x-ms-vss-resource": "configurations",
        "x-ms-vss-method": "UpdateTestConfiguration",
        "description": "",
        "operationId": "Configurations_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/extensionfields": {
      "post": {
        "tags": [
          "ExtensionFields"
        ],
        "x-ms-vss-resource": "extensionFields",
        "x-ms-vss-method": "AddCustomFields",
        "description": "",
        "operationId": "ExtensionFields_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "ExtensionFields"
        ],
        "x-ms-vss-resource": "extensionFields",
        "x-ms-vss-method": "QueryCustomFields",
        "description": "",
        "operationId": "ExtensionFields_Query",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopeFilter",
            "description": "",
            "required": true,
            "type": "string",
            "format": "CustomTestFieldScope"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/linkedworkitemsquery": {
      "post": {
        "tags": [
          "LinkedWorkItemsQuery"
        ],
        "x-ms-vss-resource": "linkedWorkItemsQuery",
        "x-ms-vss-method": "GetLinkedWorkItemsByQuery",
        "description": "",
        "operationId": "LinkedWorkItemsQuery_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkedWorkItemsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkedWorkItemsQueryResult"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/test/plans": {
      "post": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "CreateTestPlan",
        "description": "",
        "operationId": "Plans_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlanUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "GetPlans",
        "description": "",
        "operationId": "Plans_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includePlanDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "filterActivePlans",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPlan"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/plans/{planId}": {
      "delete": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "DeleteTestPlan",
        "description": "",
        "operationId": "Plans_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "GetPlanById",
        "description": "",
        "operationId": "Plans_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "UpdateTestPlan",
        "description": "",
        "operationId": "Plans_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlanUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/cloneoperation": {
      "post": {
        "tags": [
          "CloneOperation"
        ],
        "x-ms-vss-resource": "cloneOperation",
        "x-ms-vss-method": "CloneTestPlan",
        "description": "",
        "operationId": "CloneOperation_CloneTestPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestPlanCloneRequest"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites": {
      "get": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "GetTestSuitesForPlan",
        "description": "",
        "operationId": "Suites_GetTestSuitesForPlan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeSuites",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "asTreeView",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{sourceSuiteId}/cloneoperation": {
      "post": {
        "tags": [
          "CloneOperation"
        ],
        "x-ms-vss-resource": "cloneOperation",
        "x-ms-vss-method": "CloneTestSuite",
        "description": "",
        "operationId": "CloneOperation_CloneTestSuite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestSuiteCloneRequest"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "sourceSuiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}": {
      "post": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "CreateTestSuite",
        "description": "",
        "operationId": "Suites_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuiteCreateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "DeleteTestSuite",
        "description": "",
        "operationId": "Suites_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "GetTestSuiteById",
        "description": "",
        "operationId": "Suites_GetTestSuiteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeChildSuites",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestSuite"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "UpdateTestSuite",
        "description": "",
        "operationId": "Suites_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuiteUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestSuite"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{suiteId}/points": {
      "get": {
        "tags": [
          "Points"
        ],
        "x-ms-vss-resource": "points",
        "x-ms-vss-method": "GetPoints",
        "description": "",
        "operationId": "Points_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "witFields",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "configurationId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testPointIds",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includePointDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPoint"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{suiteId}/points/{pointIds}": {
      "get": {
        "tags": [
          "Points"
        ],
        "x-ms-vss-resource": "points",
        "x-ms-vss-method": "GetPoint",
        "description": "",
        "operationId": "Points_GetPoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pointIds",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "witFields",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPoint"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Points"
        ],
        "x-ms-vss-resource": "points",
        "x-ms-vss-method": "UpdateTestPoints",
        "description": "",
        "operationId": "Points_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pointIds",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPoint"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}/testcases": {
      "get": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "GetTestCases",
        "description": "",
        "operationId": "Suites_GetTestCases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuiteTestCase"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}/testcases/{testCaseIds}": {
      "post": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "AddTestCasesToSuite",
        "description": "",
        "operationId": "Suites_Add",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuiteTestCase"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "GetTestCaseById",
        "description": "",
        "operationId": "Suites_GetTestCaseById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SuiteTestCase"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Suites"
        ],
        "x-ms-vss-resource": "suites",
        "x-ms-vss-method": "RemoveTestCasesFromSuiteUrl",
        "description": "",
        "operationId": "Suites_RemoveTestCasesFromSuiteUrl",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/points": {
      "post": {
        "tags": [
          "Points"
        ],
        "x-ms-vss-resource": "points",
        "x-ms-vss-method": "GetPointsByQuery",
        "description": "",
        "operationId": "Points_GetPointsByQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestPointsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPointsQuery"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultdetailsbybuild": {
      "get": {
        "tags": [
          "ResultDetailsByBuild"
        ],
        "x-ms-vss-resource": "resultDetailsByBuild",
        "x-ms-vss-method": "GetTestResultDetailsForBuild",
        "description": "",
        "operationId": "ResultDetailsByBuild_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "groupBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderby",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsDetails"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultdetailsbyrelease": {
      "get": {
        "tags": [
          "ResultDetailsByRelease"
        ],
        "x-ms-vss-resource": "resultDetailsByRelease",
        "x-ms-vss-method": "GetTestResultDetailsForRelease",
        "description": "",
        "operationId": "ResultDetailsByRelease_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "releaseEnvId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "groupBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderby",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsDetails"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultretentionsettings": {
      "get": {
        "tags": [
          "ResultRetentionSettings"
        ],
        "x-ms-vss-resource": "resultRetentionSettings",
        "x-ms-vss-method": "GetResultRetentionSettings",
        "description": "",
        "operationId": "ResultRetentionSettings_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ResultRetentionSettings"
        ],
        "x-ms-vss-resource": "resultRetentionSettings",
        "x-ms-vss-method": "UpdateResultRetentionSettings",
        "description": "",
        "operationId": "ResultRetentionSettings_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/results": {
      "post": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "GetTestResultsByQuery",
        "description": "",
        "operationId": "Results_GetTestResultsByQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsQuery"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Results/history": {
      "post": {
        "tags": [
          "History"
        ],
        "x-ms-vss-resource": "history",
        "x-ms-vss-method": "QueryTestResultHistory",
        "description": "",
        "operationId": "History_Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResultsFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultHistory"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Results/workitems": {
      "get": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "QueryTestResultWorkItems",
        "description": "",
        "operationId": "WorkItems_QueryTestResultWorkItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workItemCategory",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "automatedTestName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "maxCompleteDate",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "days",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "workItemCount",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybybuild": {
      "get": {
        "tags": [
          "ResultSummaryByBuild"
        ],
        "x-ms-vss-resource": "resultSummaryByBuild",
        "x-ms-vss-method": "QueryTestResultsReportForBuild",
        "description": "",
        "operationId": "ResultSummaryByBuild_Query",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeFailureDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "buildToCompare",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildReference"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultSummary"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybyrelease": {
      "get": {
        "tags": [
          "ResultSummaryByRelease"
        ],
        "x-ms-vss-resource": "resultSummaryByRelease",
        "x-ms-vss-method": "QueryTestResultsReportForRelease",
        "description": "",
        "operationId": "ResultSummaryByRelease_QueryTestResultsReportForRelease",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "releaseEnvId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeFailureDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "releaseToCompare",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseReference"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultSummary"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ResultSummaryByRelease"
        ],
        "x-ms-vss-resource": "resultSummaryByRelease",
        "x-ms-vss-method": "QueryTestResultsSummaryForReleases",
        "description": "",
        "operationId": "ResultSummaryByRelease_QueryTestResultsSummaryForReleases",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseReference"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestResultSummary"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybyrequirement": {
      "post": {
        "tags": [
          "ResultSummaryByRequirement"
        ],
        "x-ms-vss-resource": "resultSummaryByRequirement",
        "x-ms-vss-method": "QueryTestSummaryByRequirement",
        "description": "",
        "operationId": "ResultSummaryByRequirement_Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultsContext"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workItemIds",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSummaryForWorkItem"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resulttrendbybuild": {
      "post": {
        "tags": [
          "ResultTrendByBuild"
        ],
        "x-ms-vss-resource": "resultTrendByBuild",
        "x-ms-vss-method": "QueryResultTrendForBuild",
        "description": "",
        "operationId": "ResultTrendByBuild_Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultTrendFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregatedDataForResultTrend"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/test/resulttrendbyrelease": {
      "post": {
        "tags": [
          "ResultTrendByRelease"
        ],
        "x-ms-vss-resource": "resultTrendByRelease",
        "x-ms-vss-method": "QueryResultTrendForRelease",
        "description": "",
        "operationId": "ResultTrendByRelease_Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultTrendFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregatedDataForResultTrend"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/test/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "x-ms-vss-resource": "runs",
        "x-ms-vss-method": "CreateTestRun",
        "description": "",
        "operationId": "Runs_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunCreateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Runs"
        ],
        "x-ms-vss-resource": "runs",
        "x-ms-vss-method": "GetTestRuns",
        "description": "",
        "operationId": "Runs_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildUri",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tmiRunId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "planId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeRunDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "automated",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestRun"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/runs/{runId}": {
      "delete": {
        "tags": [
          "Runs"
        ],
        "x-ms-vss-resource": "runs",
        "x-ms-vss-method": "DeleteTestRun",
        "description": "",
        "operationId": "Runs_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Runs"
        ],
        "x-ms-vss-resource": "runs",
        "x-ms-vss-method": "GetTestRunById",
        "description": "",
        "operationId": "Runs_GetTestRunById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Runs"
        ],
        "x-ms-vss-resource": "runs",
        "x-ms-vss-method": "UpdateTestRun",
        "description": "",
        "operationId": "Runs_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "CreateTestRunAttachment",
        "description": "",
        "operationId": "Attachments_CreateTestRunAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAttachmentRequestModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAttachmentReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "GetTestRunAttachments",
        "description": "Returns attachment references for test run.",
        "operationId": "Attachments_GetTestRunAttachments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestAttachment"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "GetTestRunAttachmentContent",
        "description": "Returns a test run attachment",
        "operationId": "Attachments_GetTestRunAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "attachmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/codecoverage": {
      "get": {
        "tags": [
          "CodeCoverage"
        ],
        "x-ms-vss-resource": "codeCoverage",
        "x-ms-vss-method": "GetTestRunCodeCoverage",
        "description": "",
        "operationId": "CodeCoverage_GetTestRunCodeCoverage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "flags",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestRunCoverage"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/messagelogs": {
      "get": {
        "tags": [
          "MessageLogs"
        ],
        "x-ms-vss-resource": "messageLogs",
        "x-ms-vss-method": "GetTestRunLogs",
        "description": "",
        "operationId": "MessageLogs_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestMessageLogDetails"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/resultdocument": {
      "post": {
        "tags": [
          "ResultDocument"
        ],
        "x-ms-vss-resource": "resultDocument",
        "x-ms-vss-method": "PublishTestResultDocument",
        "description": "",
        "operationId": "ResultDocument_PublishTestResultDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultDocument"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/results": {
      "post": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "AddTestResultsToTestRun",
        "description": "",
        "operationId": "Results_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "GetTestResults",
        "description": "",
        "operationId": "Results_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "detailsToInclude",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ResultDetails"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "UpdateTestResults",
        "description": "",
        "operationId": "Results_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/results/{testCaseResultId}": {
      "get": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "GetTestResultById",
        "description": "",
        "operationId": "Results_GetTestResultById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "detailsToInclude",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ResultDetails"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestCaseResult"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "CreateTestIterationResultAttachment",
        "description": "",
        "operationId": "Attachments_CreateTestIterationResultAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAttachmentRequestModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionPath",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAttachmentReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "GetTestResultAttachments",
        "description": "Returns attachment references for test result.",
        "operationId": "Attachments_GetTestResultAttachments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestAttachment"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "GetTestResultAttachmentContent",
        "description": "Returns a test result attachment",
        "operationId": "Attachments_GetTestResultAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "attachmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/bugs": {
      "get": {
        "tags": [
          "Bugs"
        ],
        "x-ms-vss-resource": "bugs",
        "x-ms-vss-method": "GetBugsLinkedToTestResult",
        "description": "",
        "operationId": "Bugs_List",
[...]
