{
  "swagger": "2.0",
  "info": {
    "title": "Test",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Test",
  "basePath": "/",
  "tags": [
    {
      "name": "Agents"
    },
    {
      "name": "Commands"
    },
    {
      "name": "DistributedTestRuns"
    },
    {
      "name": "Slices"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/test/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "CreateAgent",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/agents Request: Json of TestAgent",
        "operationId": "Agents_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAgent"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAgent"
            }
         }
        }
      }
    },
    "/_apis/test/agents/{id}": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "DeleteAgent",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/agents/id Request: Json of id",
        "operationId": "Agents_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "GetAgent",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/agents/id Request: Json of id",
        "operationId": "Agents_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAgent"
            }
         }
        }
      }
    },
    "/_apis/test/Agents/{testagentId}/commands/{commandId}": {
      "get": {
        "tags": [
          "Commands"
        ],
        "x-ms-vss-resource": "commands",
        "x-ms-vss-method": "GetCommand",
        "description": "Gets test message that is in queue after lastMessageId.",
        "operationId": "Commands_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testAgentId",
            "description": "The test agent which calls this api.",
            "required": true,
            "x-ms-required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commandId",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestExecutionServiceCommand"
            }
         }
        }
      }
    },
    "/_apis/test/distributedtestruns/{project}": {
      "patch": {
        "tags": [
          "DistributedTestRuns"
        ],
        "x-ms-vss-resource": "distributedTestRuns",
        "x-ms-vss-method": "UpdateTestRun",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/DistributedTestRuns/ Request: Json of TestRun",
        "operationId": "DistributedTestRuns_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DistributedTestRun"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DistributedTestRun"
            }
         }
        }
      }
    },
    "/_apis/test/slices": {
      "patch": {
        "tags": [
          "Slices"
        ],
        "x-ms-vss-resource": "slices",
        "x-ms-vss-method": "UpdateSlice",
        "description": "",
        "operationId": "Slices_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAutomationRunSlice"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/test/slices/{testAgentId}": {
      "get": {
        "tags": [
          "Slices"
        ],
        "x-ms-vss-resource": "slices",
        "x-ms-vss-method": "GetSlice",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/slices/[?testAgentId=1]",
        "operationId": "Slices_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testAgentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAutomationRunSlice"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "DistributedTestRun": {
      "description": "",
      "type": "object",
      "properties": {
        "distributedTestRunCreateModel": {
          "$ref": "#/definitions/DistributedTestRunCreateModel"
        },
        "environmentUri": {
          "description": "DTA Environment Uri",
          "type": "string"
        },
        "testRunId": {
          "description": "Test Run Id",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DistributedTestRunCreateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "autEnvironmentUrl": {
          "type": "string"
        },
        "automated": {
          "type": "boolean"
        },
        "build": {
          "$ref": "#/definitions/ShallowReference"
        },
        "buildDropLocation": {
          "type": "string"
        },
        "buildFlavor": {
          "type": "string"
        },
        "buildPlatform": {
          "type": "string"
        },
        "configurationIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "environmentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "plan": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pointIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "releaseEnvironmentUri": {
          "type": "string"
        },
        "releaseUri": {
          "type": "string"
        },
        "runTimeout": {
          "type": "string",
          "format": "TimeSpan"
        },
        "sourceFilter": {
          "type": "string"
        },
        "testCaseFilter": {
          "type": "string"
        },
        "testConfigurationsMapping": {
          "type": "string"
        },
        "testSettings": {
          "$ref": "#/definitions/ShallowReference"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Message": {
      "description": "Slices can send back information via the Message structure",
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        },
        "type": {
          "enum": [
            "none",
            "error",
            "warning",
            "info"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Test.WebApi.MessageType"
          }
        }
      }
    },
    "RunFilter": {
      "description": "This class is used to provide the filters used for discovery",
      "type": "object",
      "properties": {
        "sourceFilter": {
          "description": "filter for the test case sources (test containers)",
          "type": "string"
        },
        "testCaseFilter": {
          "description": "filter for the test cases",
          "type": "string"
        }
      }
    },
    "ShallowReference": {
      "description": "An abstracted reference to some other resource. This class is used to provide the build data contracts with a uniform way to reference other resources in a way that provides easy traversal through links.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "SlicedTestData": {
      "description": "Sliced Data passed from server to agent post slicing",
      "type": "object",
      "properties": {
        "anticipatedExecutionTime": {
          "description": "The time the slice is anticipated to take, based on past history.",
          "type": "number",
          "format": "double"
        },
        "baseDefinitionRunId": {
          "description": "The id of the base build /release from which Anticipated time is got.",
          "type": "integer",
          "format": "int32"
        },
        "executorUri": {
          "description": "ExecutorUri of Executor of testcase",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified Name of Testcase",
          "type": "string"
        },
        "source": {
          "description": "TestContainer of TestCase",
          "type": "string"
        }
      }
    },
    "TeamProjectReference": {
      "description": "Represents a shallow reference to a TeamProject.",
      "type": "object",
      "properties": {
        "abbreviation": {
          "description": "Project abbreviation.",
          "type": "string"
        },
        "description": {
          "description": "The project's description (if any).",
          "type": "string"
        },
        "id": {
          "description": "Project identifier.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Project name.",
          "type": "string"
        },
        "revision": {
          "description": "Project revision.",
          "type": "integer",
          "format": "int64"
        },
        "state": {
          "description": "Project state.",
          "enum": [
            "deleting",
            "new",
            "wellFormed",
            "createPending",
            "all",
            "unchanged",
            "deleted"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectState"
          }
        },
        "url": {
          "description": "Url to the full version of the object.",
          "type": "string"
        },
        "visibility": {
          "description": "Project visibility.",
          "enum": [
            "unchanged",
            "private",
            "organization",
            "public"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility"
          }
        }
      }
    },
    "TestAgent": {
      "description": "",
      "type": "object",
      "properties": {
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dtlEnvironment": {
          "$ref": "#/definitions/ShallowReference"
        },
        "dtlMachine": {
          "$ref": "#/definitions/ShallowReference"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastHeartBeat": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "testRunId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TestAutomationRunSlice": {
      "description": "Represents the Slice of work that needs to be executed by Automation Test Agent. Data is categorized as below Slice related information e.g. Identity/Type etc Agent related information: Currently none. TestRun related information e.g. TcmRunId/ProjectName/TestContainers etc",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of Slice Sent to ExecutionHost",
          "type": "integer",
          "format": "int32"
        },
        "lastPhaseResults": {
          "description": "Results from the previous slice in jason format. e.g. Results from DiscoverySlice can be used by ExecutionSlice.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SlicedTestData"
          }
        },
        "messages": {
          "description": "Important messages related to the execution of the slice.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "requirements": {
          "description": "List of requirements on the slice that should be met for it to be assigned",
          "type": "string"
        },
        "results": {
          "description": "Results of the slice",
          "type": "string"
        },
        "status": {
          "description": "Status of the slice",
          "enum": [
            "none",
            "pending",
            "allocated",
            "completed",
            "aborted",
            "cancelled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Test.WebApi.AutomatedTestRunSliceStatus"
          }
        },
        "testConfigId": {
          "description": "config Id of Executing Slice",
          "type": "integer",
          "format": "int32"
        },
        "testConfigurationsMapping": {
          "description": "Test Configurations mapping",
          "type": "string"
        },
        "testRunInformation": {
          "description": "TestRunInformation should capture any information related to the TestRun",
          "$ref": "#/definitions/TestRunInformation"
        },
        "type": {
          "description": "The type of slice being worked on",
          "enum": [
            "none",
            "discovery",
            "execution",
            "sessionStart",
            "sessionStop"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Test.WebApi.AutomatedTestRunSliceType"
          }
        }
      }
    },
    "TestExecutionServiceCommand": {
      "description": "The type is used as part of Command resource rest api. When Agent does a GetCommand this is what Agent gets.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Json string of TestExecutionCommandMessage.",
          "type": "string"
        },
        "messageId": {
          "description": "The message id.",
          "type": "integer",
          "format": "int64"
        },
        "messageType": {
          "description": "The message type",
          "type": "string"
        }
      }
    },
    "TestRunInformation": {
      "description": "Captures the Automation TestRun related information needed by TestAgent to execute the TestRun slice.",
      "type": "object",
      "properties": {
        "filters": {
          "$ref": "#/definitions/RunFilter"
        },
        "isTestPlanRun": {
          "type": "boolean"
        },
        "isTestRunComplete": {
          "type": "boolean"
        },
        "projectReference": {
          "$ref": "#/definitions/TeamProjectReference"
        },
        "runSettings": {
          "description": "RunSettings Xml",
          "type": "string"
        },
        "tcmRun": {
          "$ref": "#/definitions/ShallowReference"
        },
        "testDropPath": {
          "description": "Location of Test containers on Test agent machine.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}