{
  "swagger": "2.0",
  "info": {
    "title": "Csm",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "accountResource"
    },
    {
      "name": "accountResourceGroup"
    },
    {
      "name": "accountResourceOperations"
    },
    {
      "name": "extensionResource"
    },
    {
      "name": "extensionResourceGroup"
    },
    {
      "name": "nameAvailability"
    },
    {
      "name": "subscriptionEvents"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_areas/commerceCsmV2/providers/microsoft.visualstudio/operations": {
      "get": {
        "tags": [
          "accountResourceOperations"
        ],
        "summary": "Operations_List",
        "description": "Gets the details of all operations possible on the Microsoft.VisualStudio resource provider.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the possible operations on the Microsoft.VisualStudio resource provider.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
         }
        }
      }
    },
    "/_areas/commerceCsmV2/subscriptions/{subscriptionId}/providers/microsoft.visualstudio/checkNameAvailability": {
      "post": {
        "tags": [
          "nameAvailability"
        ],
        "summary": "Accounts_CheckNameAvailability",
        "description": "Checks if the specified Visual Studio Team Services account name is available. Resource name can be either an account name or an account name and PUID.",
        "operationId": "Accounts_CheckNameAvailability",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Parameters describing the name to check availability for.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameter"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the result of the name availability check.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
         }
        }
      }
    },
    "/_areas/commerceCsmV2/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account": {
      "get": {
        "tags": [
          "accountResourceGroup"
        ],
        "summary": "Accounts_ListByResourceGroup",
        "description": "Gets all Visual Studio Team Services account resources under the resource group linked to the specified Azure subscription.",
        "operationId": "Accounts_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Name of the resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services account resources linked to the Azure subscription.",
            "schema": {
              "$ref": "#/definitions/AccountResourceListResult"
            }
         }
        }
      }
    },
    "/_areas/commerceCsmV2/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension": {
      "get": {
        "tags": [
          "extensionResourceGroup"
        ],
        "summary": "Extensions_ListByAccount",
        "description": "Gets the details of the extension resources created within the resource group.",
        "operationId": "Extensions_ListByAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The name of the Azure Resource group of which the extension is a part of.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountResourceName",
            "description": "The name of the Visual Studio Team Services account resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains all extension resource details for the specified account.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceListResult"
            }
         }
        }
      }
    },
    "/_areas/commerceCsmV2/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}": {
      "put": {
        "tags": [
          "extensionResource"
        ],
        "summary": "Extensions_Create",
        "description": "Registers the extension with a Visual Studio Team Services account.",
        "operationId": "Extensions_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "An object containing additional information related to the extension request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResourceRequest"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The name of the Azure Resource group of which the extension is a part of.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountResourceName",
            "description": "The name of the Visual Studio Team Services account resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "extensionResourceName",
            "description": "The name of the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The extension resource was created for the specified account.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "extensionResource"
        ],
        "summary": "Extensions_Delete",
        "description": "Removes an extension resource registration for a Visual Studio Team Services account.",
        "operationId": "Extensions_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The name of the Azure Resource group of which the extension is a part of.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountResourceName",
            "description": "The name of the Visual Studio Team Services account resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "extensionResourceName",
            "description": "The name of the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The extension resource has been deleted for the specified account."
         }
        }
      },
      "get": {
        "tags": [
          "extensionResource"
        ],
        "summary": "Extensions_Get",
        "description": "Gets the details of an extension associated with a Visual Studio Team Services account resource.",
        "operationId": "Extensions_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The name of the Azure Resource group of which the extension is a part of.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountResourceName",
            "description": "The name of the Visual Studio Team Services account resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "extensionResourceName",
            "description": "The name of the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the extension resource details for the specified account.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
         },
          "404": {
            "description": "The specified extension has no plans defined."
         }
        }
      },
      "patch": {
        "tags": [
          "extensionResource"
        ],
        "summary": "Extensions_Update",
        "description": "Updates an existing extension registration for the Visual Studio Team Services account.",
        "operationId": "Extensions_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "An object containing additional information related to the extension request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResourceRequest"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "The name of the Azure Resource group of which the extension is a part of.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountResourceName",
            "description": "The name of the Visual Studio Team Services account resource.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "extensionResourceName",
            "description": "The name of the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The extension resource was updated for the specified account.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
         }
        }
      }
    },
    "/_areas/commerceCsmV2/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{resourceName}": {
      "put": {
        "tags": [
          "accountResource"
        ],
        "summary": "Accounts_Create",
        "description": "Creates or updates a Visual Studio Team Services account resource.",
        "operationId": "Accounts_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The request data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountResourceRequestData"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceName",
            "description": "Name of the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The Visual Studio Team Services account resource was created or updated.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
         },
          "404": {
            "description": "The Visual Studio Team Services account does not exist."
         }
        }
      },
      "delete": {
        "tags": [
          "accountResource"
        ],
        "summary": "Accounts_Delete",
        "description": "Deletes a Visual Studio Team Services account resource.",
        "operationId": "Accounts_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceName",
            "description": "Name of the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The Visual Studio Team Services account resource was deleted."
         }
        }
      },
      "get": {
        "tags": [
          "accountResource"
        ],
        "summary": "Accounts_Get",
        "description": "Gets the Visual Studio Team Services account resource details.",
        "operationId": "Accounts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "The Azure subscription identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceName",
            "description": "Name of the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services account resource.",
            "schema": {
              "$ref": "#/definitions/AccountResource"
            }
         },
          "404": {
            "description": "The Visual Studio Team Services account does not exist."
         }
        }
      }
    }
  },
  "definitions": {
    "AccountResource": {
      "description": "The response to an account resource GET request.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Resource properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AccountResourceListResult": {
      "description": "The response to an account resource list GET request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of resource details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResource"
          }
        }
      }
    },
    "AccountResourceRequestData": {
      "description": "The body of a PUT request to modify a Visual Studio account resource.",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The account name.",
          "type": "string"
        },
        "email": {
          "description": "The email address.",
          "type": "string"
        },
        "location": {
          "description": "The Azure instance location.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of the operation.",
          "enum": [
            "unknown",
            "create",
            "update",
            "link"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Commerce.AccountResourceRequestOperationType"
          }
        },
        "properties": {
          "description": "The custom properties of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceGroupName": {
          "description": "The name of the resource group.",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "resourceProviderNamespace": {
          "description": "The resource provider namespace.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the resource.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "The subscription identifier.",
          "type": "string",
          "format": "uuid"
        },
        "tags": {
          "description": "The custom tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tenantId": {
          "description": "The tenant identifier.",
          "type": "string"
        },
        "upn": {
          "description": "The UPN.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityParameter": {
      "description": "The body of a POST request to check name availability.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource to check availability for.",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of resource to check availability for.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResult": {
      "description": "The response to a name availability request.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message describing the detailed reason.",
          "type": "string"
        },
        "nameAvailable": {
          "description": "The value which indicates whether the provided name is available.",
          "type": "boolean"
        }
      }
    },
    "ExtensionResource": {
      "description": "The response to an extension resource GET request.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AccountResource"
        }
      ],
      "properties": {
        "plan": {
          "description": "The extension plan that was purchased.",
          "$ref": "#/definitions/ExtensionResourcePlan"
        }
      }
    },
    "ExtensionResourceListResult": {
      "description": "The response to an extension resource list GET request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of extension resource details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionResource"
          }
        }
      }
    },
    "ExtensionResourcePlan": {
      "description": "Plan data for an extension resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the plan.",
          "type": "string"
        },
        "product": {
          "description": "Product name.",
          "type": "string"
        },
        "promotionCode": {
          "description": "Optional: the promotion code associated with the plan.",
          "type": "string"
        },
        "publisher": {
          "description": "Name of the extension publisher.",
          "type": "string"
        },
        "version": {
          "description": "A string that uniquely identifies the plan version.",
          "type": "string"
        }
      }
    },
    "ExtensionResourceRequest": {
      "description": "The body of an extension resource PUT request.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)",
          "type": "string"
        },
        "plan": {
          "description": "Extended information about the plan being purchased for this extension resource.",
          "$ref": "#/definitions/ExtensionResourcePlan"
        },
        "properties": {
          "description": "A dictionary of extended properties. This property is currently unused.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceGroupName": {
          "description": "Optional: the resource group name.",
          "type": "string"
        },
        "resourceName": {
          "description": "Optional: the resource name.",
          "type": "string"
        },
        "resourceProviderNamespace": {
          "description": "The name of the ARM resource provider. This should currently always be set to 'Microsoft.VisualStudio'.",
          "type": "string"
        },
        "resourceType": {
          "description": "Optional: the type of the resource.",
          "type": "string"
        },
        "rootResourceName": {
          "description": "Optional: the name of the root resource.",
          "type": "string"
        },
        "rootResourceType": {
          "description": "Optional: the type of the root resource.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "The Azure subscription identifier.",
          "type": "string",
          "format": "uuid"
        },
        "tags": {
          "description": "A dictionary of user-defined tags to be stored with the extension resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "display": {
          "description": "The properties of the resource operation.",
          "$ref": "#/definitions/OperationProperties"
        },
        "name": {
          "description": "The name of the resource operation.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Container for a list of operations supported by a resource provider.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of operations supported by a resource provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of an operation supported by the resource provider.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the resource operation.",
          "readOnly": true,
          "type": "string"
        },
        "operation": {
          "description": "The operation name.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The provider name.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "description": "The resource name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "A generic Azure Resource Manager resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "name": {
          "description": "Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Resource type.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SubscriptionRequest": {
      "description": "Put call content is deserialized to this object.",
      "type": "object",
      "properties": {
        "anniversaryDay": {
          "description": "Gets or sets the subscription anniversary day.",
          "type": "string",
          "format": "byte"
        },
        "properties": {
          "description": "Gets or sets the quota identifier for the subscription",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "registrationDate": {
          "description": "Gets or sets the subscription registration date.",
          "type": "string",
          "format": "date-time"
        },
        "source": {
          "description": "Identifies the source of the subscription",
          "enum": [
            "normal",
            "enterpriseAgreement",
            "internal",
            "unknown",
            "freeTier"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Commerce.SubscriptionSource"
          }
        },
        "state": {
          "description": "Gets or sets the subscription state.",
          "enum": [
            "unknown",
            "registered",
            "unregistered",
            "suspended",
            "deleted",
            "warned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Commerce.CsmSubscriptionState"
          }
        },
        "subscriptionId": {
          "description": "Gets or sets the subscription identifier.",
          "type": "string",
          "format": "uuid"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}