{
  "swagger": "2.0",
  "info": {
    "title": "TaskAgent",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "agents"
    },
    {
      "name": "azurermsubscriptions"
    },
    {
      "name": "deploymentgroupaccesstoken"
    },
    {
      "name": "deploymentgroups"
    },
    {
      "name": "deploymentmachinejobrequests"
    },
    {
      "name": "deploymentmachinemessages"
    },
    {
      "name": "endpoint"
    },
    {
      "name": "hublicense"
    },
    {
      "name": "icon"
    },
    {
      "name": "inputvalidation"
    },
    {
      "name": "jobrequests"
    },
    {
      "name": "machinegroupaccesstoken"
    },
    {
      "name": "machinegroups"
    },
    {
      "name": "machines"
    },
    {
      "name": "maintenancedefinitions"
    },
    {
      "name": "maintenancejobs"
    },
    {
      "name": "messages"
    },
    {
      "name": "packages"
    },
    {
      "name": "poolroles"
    },
    {
      "name": "pools"
    },
    {
      "name": "queueroles"
    },
    {
      "name": "queues"
    },
    {
      "name": "revisions"
    },
    {
      "name": "securefiles"
    },
    {
      "name": "serviceendpointproxy"
    },
    {
      "name": "serviceendpoints"
    },
    {
      "name": "serviceendpointtypes"
    },
    {
      "name": "sessions"
    },
    {
      "name": "taskgroups"
    },
    {
      "name": "tasks"
    },
    {
      "name": "updates"
    },
    {
      "name": "usercapabilities"
    },
    {
      "name": "variablegroups"
    },
    {
      "name": "vstsaadoauth"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/distributedtask/endpoint": {
      "post": {
        "tags": [
          "endpoint"
        ],
        "summary": "QueryEndpoint",
        "description": "Proxy for a GET request defined by an 'endpoint'. The request is authorized using a service connection. The response is filtered using an XPath/Json based selector.",
        "operationId": "QueryEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Describes the URL to fetch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskDefinitionEndpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/hublicense/{hubName}": {
      "get": {
        "tags": [
          "hublicense"
        ],
        "summary": "GetTaskHubLicenseDetails",
        "description": "",
        "operationId": "GetTaskHubLicenseDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "hubName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeEnterpriseUsersCount",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeHostedAgentMinutesCount",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskHubLicenseDetails"
            }
         }
        }
      },
      "put": {
        "tags": [
          "hublicense"
        ],
        "summary": "UpdateTaskHubLicenseDetails",
        "description": "",
        "operationId": "UpdateTaskHubLicenseDetails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskHubLicenseDetails"
            }
          },
          {
            "in": "path",
            "name": "hubName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskHubLicenseDetails"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/inputvalidation": {
      "post": {
        "tags": [
          "inputvalidation"
        ],
        "summary": "ValidateInputs",
        "description": "",
        "operationId": "ValidateInputs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InputValidationRequest"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/packages/{packageType}/{platform}": {
      "get": {
        "tags": [
          "packages"
        ],
        "summary": "GetPackages",
        "description": "",
        "operationId": "GetPackages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "packageType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "platform",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PackageMetadata"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/packages/{packageType}/{platform}/{version}": {
      "get": {
        "tags": [
          "packages"
        ],
        "summary": "GetPackage",
        "description": "",
        "operationId": "GetPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "packageType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "platform",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageMetadata"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/poolroles/{poolId}": {
      "get": {
        "tags": [
          "poolroles"
        ],
        "summary": "GetAgentPoolRoles",
        "description": "",
        "operationId": "GetAgentPoolRoles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRef"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/pools": {
      "post": {
        "tags": [
          "pools"
        ],
        "summary": "AddAgentPool",
        "description": "",
        "operationId": "AddAgentPool",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPool"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "pools"
        ],
        "summary": "GetAgentPools",
        "description": "",
        "operationId": "GetAgentPools",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "poolName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "properties",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "poolType",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentPoolType"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentPoolActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentPool"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}": {
      "delete": {
        "tags": [
          "pools"
        ],
        "summary": "DeleteAgentPool",
        "description": "",
        "operationId": "DeleteAgentPool",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "pools"
        ],
        "summary": "GetAgentPool",
        "description": "",
        "operationId": "GetAgentPool",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "properties",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentPoolActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPool"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "pools"
        ],
        "summary": "UpdateAgentPool",
        "description": "",
        "operationId": "UpdateAgentPool",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPool"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPool"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "AddAgent",
        "description": "",
        "operationId": "AddAgent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GetAgents",
        "description": "",
        "operationId": "GetAgents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "agentName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeCapabilities",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAssignedRequest",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "demands",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgent"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}": {
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "DeleteAgent",
        "description": "",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GetAgent",
        "description": "",
        "operationId": "GetAgent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCapabilities",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAssignedRequest",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "ReplaceAgent",
        "description": "",
        "operationId": "ReplaceAgent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "UpdateAgent",
        "description": "",
        "operationId": "UpdateAgent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/updates": {
      "put": {
        "tags": [
          "updates"
        ],
        "summary": "UpdateAgentUpdateState",
        "description": "",
        "operationId": "UpdateAgentUpdateState",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "currentState",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/usercapabilities": {
      "put": {
        "tags": [
          "usercapabilities"
        ],
        "summary": "UpdateAgentUserCapabilities",
        "description": "",
        "operationId": "UpdateAgentUserCapabilities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/jobrequests": {
      "get": {
        "tags": [
          "jobrequests"
        ],
        "summary": "GetAgentRequestsForAgent",
        "description": "",
        "operationId": "GetAgentRequestsForAgent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "completedRequestCount",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentJobRequest"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "jobrequests"
        ],
        "summary": "QueueAgentRequest",
        "description": "",
        "operationId": "QueueAgentRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentJobRequest"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentJobRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/jobrequests/{requestId}": {
      "delete": {
        "tags": [
          "jobrequests"
        ],
        "summary": "DeleteAgentRequest",
        "description": "",
        "operationId": "DeleteAgentRequest",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "lockToken",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "result",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskResult"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "jobrequests"
        ],
        "summary": "GetAgentRequest",
        "description": "",
        "operationId": "GetAgentRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentJobRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "jobrequests"
        ],
        "summary": "UpdateAgentRequest",
        "description": "",
        "operationId": "UpdateAgentRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentJobRequest"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "lockToken",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentJobRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancedefinitions": {
      "post": {
        "tags": [
          "maintenancedefinitions"
        ],
        "summary": "CreateAgentPoolMaintenanceDefinition",
        "description": "",
        "operationId": "CreateAgentPoolMaintenanceDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "maintenancedefinitions"
        ],
        "summary": "GetAgentPoolMaintenanceDefinitions",
        "description": "",
        "operationId": "GetAgentPoolMaintenanceDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancedefinitions/{definitionId}": {
      "delete": {
        "tags": [
          "maintenancedefinitions"
        ],
        "summary": "DeleteAgentPoolMaintenanceDefinition",
        "description": "",
        "operationId": "DeleteAgentPoolMaintenanceDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "maintenancedefinitions"
        ],
        "summary": "GetAgentPoolMaintenanceDefinition",
        "description": "",
        "operationId": "GetAgentPoolMaintenanceDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "maintenancedefinitions"
        ],
        "summary": "UpdateAgentPoolMaintenanceDefinition",
        "description": "",
        "operationId": "UpdateAgentPoolMaintenanceDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancejobs": {
      "get": {
        "tags": [
          "maintenancejobs"
        ],
        "summary": "GetAgentPoolMaintenanceJobs",
        "description": "",
        "operationId": "GetAgentPoolMaintenanceJobs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "maintenancejobs"
        ],
        "summary": "QueueAgentPoolMaintenanceJob",
        "description": "",
        "operationId": "QueueAgentPoolMaintenanceJob",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancejobs/{jobId}": {
      "delete": {
        "tags": [
          "maintenancejobs"
        ],
        "summary": "DeleteAgentPoolMaintenanceJob",
        "description": "",
        "operationId": "DeleteAgentPoolMaintenanceJob",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "maintenancejobs"
        ],
        "summary": "GetAgentPoolMaintenanceJob",
        "description": "",
        "operationId": "GetAgentPoolMaintenanceJob",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "maintenancejobs"
        ],
        "summary": "UpdateAgentPoolMaintenanceJob",
        "description": "",
        "operationId": "UpdateAgentPoolMaintenanceJob",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/messages": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "GetMessage",
        "description": "",
        "operationId": "GetMessage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "lastMessageId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentMessage"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "RefreshAgent",
        "description": "",
        "operationId": "RefreshAgent",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/messages/{messageId}": {
      "delete": {
        "tags": [
          "messages"
        ],
        "summary": "DeleteMessage",
        "description": "",
        "operationId": "DeleteMessage",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "messageId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/sessions": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "CreateAgentSession",
        "description": "",
        "operationId": "CreateAgentSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentSession"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentSession"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/sessions/{sessionId}": {
      "delete": {
        "tags": [
          "sessions"
        ],
        "summary": "DeleteAgentSession",
        "description": "",
        "operationId": "DeleteAgentSession",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/queueroles/{queueId}": {
      "get": {
        "tags": [
          "queueroles"
        ],
        "summary": "GetAgentQueueRoles",
        "description": "",
        "operationId": "GetAgentQueueRoles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRef"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/queues": {
      "post": {
        "tags": [
          "queues"
        ],
        "summary": "AddAgentQueue",
        "description": "",
        "operationId": "AddAgentQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "queues"
        ],
        "summary": "CreateTeamProject",
        "description": "",
        "operationId": "CreateTeamProject",
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "GetAgentQueues",
        "description": "",
        "operationId": "GetAgentQueues",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "queueName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentQueue"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/queues/{queueId}": {
      "delete": {
        "tags": [
          "queues"
        ],
        "summary": "DeleteAgentQueue",
        "description": "",
        "operationId": "DeleteAgentQueue",
        "parameters": [
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "GetAgentQueue",
        "description": "",
        "operationId": "GetAgentQueue",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/serviceendpointproxy/azurermsubscriptions": {
      "get": {
        "tags": [
          "azurermsubscriptions"
        ],
        "summary": "GetAzureSubscriptions",
        "description": "Returns list of azure subscriptions",
        "operationId": "GetAzureSubscriptions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AzureSubscriptionQueryResult"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/serviceendpointproxy/vstsaadoauth": {
      "post": {
        "tags": [
          "vstsaadoauth"
        ],
        "summary": "AcquireAccessToken",
        "description": "",
        "operationId": "AcquireAccessToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AadOauthTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AadOauthTokenResult"
            }
         }
        }
      },
      "get": {
        "tags": [
          "vstsaadoauth"
        ],
        "summary": "GetVstsAadTenantId",
        "description": "",
        "operationId": "GetVstsAadTenantId",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/serviceendpointtypes": {
      "get": {
        "tags": [
          "serviceendpointtypes"
        ],
        "summary": "GetServiceEndpointTypes",
        "description": "",
        "operationId": "GetServiceEndpointTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scheme",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceEndpointType"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.serviceendpoint"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}": {
      "delete": {
        "tags": [
          "tasks"
        ],
        "summary": "DeleteTaskDefinition",
        "description": "",
        "operationId": "DeleteTaskDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTaskDefinitions",
        "description": "",
        "operationId": "GetTaskDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "visibility",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "scopeLocal",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}/{versionString}": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTaskContentZip",
        "description": "",
        "operationId": "GetTaskContentZip",
        "produces": [
          "application/json",
          "application/zip"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "versionString",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "visibility",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "scopeLocal",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}/{versionString}/icon": {
      "get": {
        "tags": [
          "icon"
        ],
        "summary": "GetTaskIcon",
        "description": "",
        "operationId": "GetTaskIcon",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "versionString",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "StreamContent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroupaccesstoken/{deploymentGroupId}": {
      "post": {
        "tags": [
          "deploymentgroupaccesstoken"
        ],
        "summary": "GenerateDeploymentGroupAccessToken",
        "description": "",
        "operationId": "GenerateDeploymentGroupAccessToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups": {
      "post": {
        "tags": [
          "deploymentgroups"
        ],
        "summary": "AddDeploymentGroup",
        "description": "",
        "operationId": "AddDeploymentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      },
      "get": {
        "tags": [
          "deploymentgroups"
        ],
        "summary": "GetDeploymentGroups",
        "description": "",
        "operationId": "GetDeploymentGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupActionFilter"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupExpands"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentGroup"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}": {
      "delete": {
        "tags": [
          "deploymentgroups"
        ],
        "summary": "DeleteDeploymentGroup",
        "description": "",
        "operationId": "DeleteDeploymentGroup",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "deploymentgroups"
        ],
        "summary": "GetDeploymentGroup",
        "description": "",
        "operationId": "GetDeploymentGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupActionFilter"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupExpands"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "deploymentgroups"
        ],
        "summary": "UpdateDeploymentGroup",
        "description": "",
        "operationId": "UpdateDeploymentGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/deploymentmachinejobrequests": {
      "get": {
        "tags": [
          "deploymentmachinejobrequests"
        ],
        "summary": "GetAgentRequestsForDeploymentMachine",
        "description": "",
        "operationId": "GetAgentRequestsForDeploymentMachine",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "completedRequestCount",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentJobRequest"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/deploymentmachinemessages": {
      "post": {
        "tags": [
          "deploymentmachinemessages"
        ],
        "summary": "RefreshDeploymentMachines",
        "description": "",
        "operationId": "RefreshDeploymentMachines",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/machines": {
      "post": {
        "tags": [
          "machines"
        ],
        "summary": "AddDeploymentMachine",
        "description": "",
        "operationId": "AddDeploymentMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "get": {
        "tags": [
          "machines"
        ],
        "summary": "GetDeploymentMachines",
        "description": "",
        "operationId": "GetDeploymentMachines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tags",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentMachineExpands"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "machines"
        ],
        "summary": "UpdateDeploymentMachines",
        "description": "",
        "operationId": "UpdateDeploymentMachines",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/machines/{machineId}": {
      "delete": {
        "tags": [
          "machines"
        ],
        "summary": "DeleteDeploymentMachine",
        "description": "",
        "operationId": "DeleteDeploymentMachine",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "machines"
        ],
        "summary": "GetDeploymentMachine",
        "description": "",
        "operationId": "GetDeploymentMachine",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentMachineExpands"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "put": {
        "tags": [
          "machines"
        ],
        "summary": "ReplaceDeploymentMachine",
        "description": "",
        "operationId": "ReplaceDeploymentMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "machines"
        ],
        "summary": "UpdateDeploymentMachine",
        "description": "",
        "operationId": "UpdateDeploymentMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroupaccesstoken/{machineGroupId}": {
      "post": {
        "tags": [
          "machinegroupaccesstoken"
        ],
        "summary": "GenerateDeploymentMachineGroupAccessToken",
        "description": "",
        "operationId": "GenerateDeploymentMachineGroupAccessToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups": {
      "post": {
        "tags": [
          "machinegroups"
        ],
        "summary": "AddDeploymentMachineGroup",
        "description": "",
        "operationId": "AddDeploymentMachineGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      },
      "get": {
        "tags": [
          "machinegroups"
        ],
        "summary": "GetDeploymentMachineGroups",
        "description": "",
        "operationId": "GetDeploymentMachineGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "machineGroupName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "MachineGroupActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachineGroup"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}": {
      "delete": {
        "tags": [
          "machinegroups"
        ],
        "summary": "DeleteDeploymentMachineGroup",
        "description": "",
        "operationId": "DeleteDeploymentMachineGroup",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "machinegroups"
        ],
        "summary": "GetDeploymentMachineGroup",
        "description": "",
        "operationId": "GetDeploymentMachineGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "MachineGroupActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "machinegroups"
        ],
        "summary": "UpdateDeploymentMachineGroup",
        "description": "",
        "operationId": "UpdateDeploymentMachineGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}/machines": {
      "get": {
        "tags": [
          "machines"
        ],
        "summary": "GetDeploymentMachineGroupMachines",
        "description": "",
        "operationId": "GetDeploymentMachineGroupMachines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tagFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "machines"
        ],
        "summary": "UpdateDeploymentMachineGroupMachines",
        "description": "",
        "operationId": "UpdateDeploymentMachineGroupMachines",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/queues": {
      "post": {
        "tags": [
          "queues"
        ],
        "summary": "AddAgentQueue",
        "description": "",
        "operationId": "AddAgentQueue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "queues"
        ],
        "summary": "CreateTeamProject",
        "description": "",
        "operationId": "CreateTeamProject",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "GetAgentQueues",
        "description": "",
        "operationId": "GetAgentQueues",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queueName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentQueue"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/queues/{queueId}": {
      "delete": {
        "tags": [
          "queues"
        ],
        "summary": "DeleteAgentQueue",
        "description": "",
        "operationId": "DeleteAgentQueue",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "GetAgentQueue",
        "description": "",
        "operationId": "GetAgentQueue",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/securefiles": {
      "get": {
        "tags": [
          "securefiles"
        ],
        "summary": "GetSecureFiles",
        "description": "Get secure files",
        "operationId": "GetSecureFiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "namePattern",
            "description": "Name of the secure file to match. Can include wildcards to match multiple files.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeDownloadTickets",
            "description": "If includeDownloadTickets is true and the caller has permissions, a download ticket for each secure file is included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "Filter by secure file permissions for View, Manage or Use action. Defaults to View.",
            "required": false,
            "type": "string",
            "format": "SecureFileActionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecureFile"
              }
            }
         }
        }
      },
      "post": {
        "tags": [
          "securefiles"
        ],
        "summary": "QuerySecureFilesByProperties",
        "description": "Query secure files using a name pattern and a condition on file properties.",
        "operationId": "QuerySecureFilesByProperties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The main condition syntax is described [here](https://go.microsoft.com/fwlink/?linkid=842996). Use the *property('property-name')* function to access the value of the specified property of a secure file. It returns null if the property is not set. E.g. ``` and( eq( property('devices'), '2' ), in( property('provisioning profile type'), 'ad hoc', 'development' ) ) ```",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "namePattern",
            "description": "Name of the secure file to match. Can include wildcards to match multiple files.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecureFile"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "securefiles"
        ],
        "summary": "UpdateSecureFiles",
        "description": "Update properties and/or names of a set of secure files. Files are identified by their IDs. Properties provided override the existing one entirely, i.e. do not merge.",
        "operationId": "UpdateSecureFiles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A list of secure file objects. Only three field must be populated Id, Name, and Properties. The rest of fields in the object are ignored.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecureFile"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
[...]
