{
  "swagger": "2.0",
  "info": {
    "title": "Git",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Git",
  "x-ms-vss-resource-area-id": "4e080c62-fa21-4fbc-8fef-2a10a2b38049",
  "basePath": "/",
  "tags": [
    {
      "name": "annotatedTags"
    },
    {
      "name": "Blobs"
    },
    {
      "name": "BranchStats"
    },
    {
      "name": "Changes"
    },
    {
      "name": "CherryPicks"
    },
    {
      "name": "CommitDiffs"
    },
    {
      "name": "Commits"
    },
    {
      "name": "CommitsBatch"
    },
    {
      "name": "DeletedRepositories"
    },
    {
      "name": "forks"
    },
    {
      "name": "forkSyncRequests"
    },
    {
      "name": "ImportRequests"
    },
    {
      "name": "Items"
    },
    {
      "name": "ItemsBatch"
    },
    {
      "name": "PullRequestAttachments"
    },
    {
      "name": "PullRequestCommentLikes"
    },
    {
      "name": "PullRequestCommits"
    },
    {
      "name": "PullRequestConflicts"
    },
    {
      "name": "PullRequestIterationChanges"
    },
    {
      "name": "PullRequestIterations"
    },
    {
      "name": "PullRequestIterationStatuses"
    },
    {
      "name": "PullRequestLabels"
    },
    {
      "name": "PullRequestQuery"
    },
    {
      "name": "PullRequestReviewers"
    },
    {
      "name": "PullRequests"
    },
    {
      "name": "PullRequestShare"
    },
    {
      "name": "PullRequestStatuses"
    },
    {
      "name": "PullRequestThreadComments"
    },
    {
      "name": "PullRequestThreads"
    },
    {
      "name": "PullRequestWorkItems"
    },
    {
      "name": "pushes"
    },
    {
      "name": "refs"
    },
    {
      "name": "refsFavorites"
    },
    {
      "name": "Repositories"
    },
    {
      "name": "Reverts"
    },
    {
      "name": "Statuses"
    },
    {
      "name": "Suggestions"
    },
    {
      "name": "Trees"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/git/pullrequests/{pullRequestId}": {
      "get": {
        "tags": [
          "PullRequests"
        ],
        "x-ms-vss-resource": "pullRequests",
        "x-ms-vss-method": "GetPullRequestById",
        "description": "Get a pull request using its ID",
        "operationId": "PullRequests_GetPullRequestById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "the Id of the pull request",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
         }
        }
      }
    },
    "/_apis/git/repositories": {
      "post": {
        "tags": [
          "Repositories"
        ],
        "x-ms-vss-resource": "repositories",
        "x-ms-vss-method": "CreateRepository",
        "description": "Create a git repository",
        "operationId": "Repositories_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitRepositoryCreateOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitRepository"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Repositories"
        ],
        "x-ms-vss-resource": "repositories",
        "x-ms-vss-method": "GetRepositories",
        "description": "Retrieve git repositories.",
        "operationId": "Repositories_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeLinks",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAllUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitRepository"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}": {
      "delete": {
        "tags": [
          "Repositories"
        ],
        "x-ms-vss-resource": "repositories",
        "x-ms-vss-method": "DeleteRepository",
        "description": "Delete a git repository",
        "operationId": "Repositories_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Repositories"
        ],
        "x-ms-vss-resource": "repositories",
        "x-ms-vss-method": "GetRepository",
        "description": "",
        "operationId": "Repositories_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeParent",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitRepository"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Repositories"
        ],
        "x-ms-vss-resource": "repositories",
        "x-ms-vss-method": "UpdateRepository",
        "description": "Updates the Git repository with the single populated change in the specified repository information.",
        "operationId": "Repositories_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitRepository"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitRepository"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_manage"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/blobs": {
      "post": {
        "tags": [
          "Blobs"
        ],
        "x-ms-vss-resource": "blobs",
        "x-ms-vss-method": "GetBlobsZip",
        "description": "Gets one or more blobs in a zip file download.",
        "operationId": "Blobs_GetBlobsZip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filename",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_manage"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/blobs/{sha1}": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "x-ms-vss-resource": "blobs",
        "x-ms-vss-method": "GetBlob",
        "description": "Gets a single blob.",
        "operationId": "Blobs_GetBlob",
        "produces": [
          "application/octet-stream",
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sha1",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitBlobRef"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits": {
      "get": {
        "tags": [
          "Commits"
        ],
        "x-ms-vss-resource": "commits",
        "x-ms-vss-method": "GetCommits",
        "description": "Retrieve git commits for a project",
        "operationId": "Commits_GetCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": true,
            "type": "string",
            "format": "GitQueryCommitsCriteria"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitCommitRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}": {
      "get": {
        "tags": [
          "Commits"
        ],
        "x-ms-vss-resource": "commits",
        "x-ms-vss-method": "GetCommit",
        "description": "Retrieve a particular commit.",
        "operationId": "Commits_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "The id of the commit.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "changeCount",
            "description": "The number of changes to include in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitCommit"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}/changes": {
      "get": {
        "tags": [
          "Changes"
        ],
        "x-ms-vss-resource": "changes",
        "x-ms-vss-method": "GetChanges",
        "description": "Retrieve changes for a particular commit.",
        "operationId": "Changes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "The id of the commit.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of changes to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "The number of changes to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitCommitChanges"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}/statuses": {
      "post": {
        "tags": [
          "Statuses"
        ],
        "x-ms-vss-resource": "statuses",
        "x-ms-vss-method": "CreateCommitStatus",
        "description": "",
        "operationId": "Statuses_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitStatus"
            }
          },
          {
            "in": "path",
            "name": "commitId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitStatus"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write",
              "vso.code_status"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Statuses"
        ],
        "x-ms-vss-resource": "statuses",
        "x-ms-vss-method": "GetStatuses",
        "description": "",
        "operationId": "Statuses_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "latestOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitStatus"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code",
              "vso.code_status"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/commitsbatch": {
      "post": {
        "tags": [
          "CommitsBatch"
        ],
        "x-ms-vss-resource": "commitsBatch",
        "x-ms-vss-method": "GetCommitsBatch",
        "description": "Retrieve git commits for a project",
        "operationId": "CommitsBatch_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitQueryCommitsCriteria"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeStatuses",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitCommitRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/diffs/commits": {
      "get": {
        "tags": [
          "CommitDiffs"
        ],
        "x-ms-vss-resource": "commitDiffs",
        "x-ms-vss-method": "GetCommitDiffs",
        "description": "Get differences in committed items between two commits.",
        "operationId": "CommitDiffs_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "Friendly name or guid of repository",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "diffCommonCommit",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of changes to skip",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseVersionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GitBaseVersionDescriptor"
          },
          {
            "in": "query",
            "name": "targetVersionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GitTargetVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitCommitDiffs"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "x-ms-vss-resource": "items",
        "x-ms-vss-method": "GetItems",
        "description": "Get Item Metadata and/or Content for a collection of items. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
        "operationId": "Items_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopePath",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursionLevel",
            "description": "",
            "required": false,
            "type": "string",
            "format": "VersionControlRecursionType"
          },
          {
            "in": "query",
            "name": "includeContentMetadata",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "latestProcessedChange",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLinks",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "versionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GitVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitItem"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/items/{path}": {
      "get": {
        "tags": [
          "Items"
        ],
        "x-ms-vss-resource": "items",
        "x-ms-vss-method": "GetItem",
        "description": "Get Item Metadata and/or Content for a single item. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
        "operationId": "Items_GetItem",
        "produces": [
          "application/octet-stream",
          "text/plain",
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopePath",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursionLevel",
            "description": "",
            "required": false,
            "type": "string",
            "format": "VersionControlRecursionType"
          },
          {
            "in": "query",
            "name": "includeContentMetadata",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "latestProcessedChange",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "versionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GitVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/itemsbatch": {
      "post": {
        "tags": [
          "ItemsBatch"
        ],
        "x-ms-vss-resource": "itemsBatch",
        "x-ms-vss-method": "GetItemsBatch",
        "description": "Post for retrieving a creating a batch out of a set of items in a repo / project given a list of paths or a long path",
        "operationId": "ItemsBatch_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitItemRequestData"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "array"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequestquery": {
      "post": {
        "tags": [
          "PullRequestQuery"
        ],
        "x-ms-vss-resource": "pullRequestQuery",
        "x-ms-vss-method": "GetPullRequestQuery",
        "description": "Query for pull requests",
        "operationId": "PullRequestQuery_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequestQuery"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestQuery"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequests": {
      "post": {
        "tags": [
          "PullRequests"
        ],
        "x-ms-vss-resource": "pullRequests",
        "x-ms-vss-method": "CreatePullRequest",
        "description": "Create a git pull request",
        "operationId": "PullRequests_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "supportsIterations",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequests"
        ],
        "x-ms-vss-resource": "pullRequests",
        "x-ms-vss-method": "GetPullRequests",
        "description": "Query for pull requests",
        "operationId": "PullRequests_GetPullRequests",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": true,
            "type": "string",
            "format": "GitPullRequestSearchCriteria"
          },
          {
            "in": "query",
            "name": "maxCommentLength",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitPullRequest"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequests/{pullRequestId}": {
      "get": {
        "tags": [
          "PullRequests"
        ],
        "x-ms-vss-resource": "pullRequests",
        "x-ms-vss-method": "GetPullRequest",
        "description": "Retrieve a pull request",
        "operationId": "PullRequests_GetPullRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "maxCommentLength",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCommits",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeWorkItemRefs",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PullRequests"
        ],
        "x-ms-vss-resource": "pullRequests",
        "x-ms-vss-method": "UpdatePullRequest",
        "description": "Updates a pull request",
        "operationId": "PullRequests_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequest"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/attachments": {
      "get": {
        "tags": [
          "PullRequestAttachments"
        ],
        "x-ms-vss-resource": "pullRequestAttachments",
        "x-ms-vss-method": "GetAttachments",
        "description": "",
        "operationId": "PullRequestAttachments_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/attachments/{fileName}": {
      "post": {
        "tags": [
          "PullRequestAttachments"
        ],
        "x-ms-vss-resource": "pullRequestAttachments",
        "x-ms-vss-method": "CreateAttachment",
        "description": "Create a new attachment",
        "operationId": "PullRequestAttachments_Create",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          },
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PullRequestAttachments"
        ],
        "x-ms-vss-resource": "pullRequestAttachments",
        "x-ms-vss-method": "DeleteAttachment",
        "description": "",
        "operationId": "PullRequestAttachments_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestAttachments"
        ],
        "x-ms-vss-resource": "pullRequestAttachments",
        "x-ms-vss-method": "GetAttachmentContent",
        "description": "",
        "operationId": "PullRequestAttachments_GetAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/commits": {
      "get": {
        "tags": [
          "PullRequestCommits"
        ],
        "x-ms-vss-resource": "pullRequestCommits",
        "x-ms-vss-method": "GetPullRequestCommits",
        "description": "Retrieve pull request's commits",
        "operationId": "PullRequestCommits_GetPullRequestCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitCommitRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/conflicts": {
      "get": {
        "tags": [
          "PullRequestConflicts"
        ],
        "x-ms-vss-resource": "pullRequestConflicts",
        "x-ms-vss-method": "GetPullRequestConflicts",
        "description": "Retrieve all conflicts for a pull request",
        "operationId": "PullRequestConflicts_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeObsolete",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitConflict"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/conflicts/{conflictId}": {
      "get": {
        "tags": [
          "PullRequestConflicts"
        ],
        "x-ms-vss-resource": "pullRequestConflicts",
        "x-ms-vss-method": "GetPullRequestConflict",
        "description": "Retrieve one conflict for a pull request by ID",
        "operationId": "PullRequestConflicts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "conflictId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitConflict"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PullRequestConflicts"
        ],
        "x-ms-vss-resource": "pullRequestConflicts",
        "x-ms-vss-method": "UpdatePullRequestConflict",
        "description": "Update merge conflict resolution",
        "operationId": "PullRequestConflicts_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitConflict"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "conflictId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitConflict"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations": {
      "get": {
        "tags": [
          "PullRequestIterations"
        ],
        "x-ms-vss-resource": "pullRequestIterations",
        "x-ms-vss-method": "GetPullRequestIterations",
        "description": "",
        "operationId": "PullRequestIterations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCommits",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitPullRequestIteration"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}": {
      "get": {
        "tags": [
          "PullRequestIterations"
        ],
        "x-ms-vss-resource": "pullRequestIterations",
        "x-ms-vss-method": "GetPullRequestIteration",
        "description": "",
        "operationId": "PullRequestIterations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestIteration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/changes": {
      "get": {
        "tags": [
          "PullRequestIterationChanges"
        ],
        "x-ms-vss-resource": "pullRequestIterationChanges",
        "x-ms-vss-method": "GetPullRequestIterationChanges",
        "description": "",
        "operationId": "PullRequestIterationChanges_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "compareTo",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestIterationChanges"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/commits": {
      "get": {
        "tags": [
          "PullRequestCommits"
        ],
        "x-ms-vss-resource": "pullRequestCommits",
        "x-ms-vss-method": "GetPullRequestIterationCommits",
        "description": "Get the commits for an iteration.",
        "operationId": "PullRequestCommits_GetPullRequestIterationCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "Iteration to retrieve commits for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitCommitRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/statuses": {
      "post": {
        "tags": [
          "PullRequestIterationStatuses"
        ],
        "x-ms-vss-resource": "pullRequestIterationStatuses",
        "x-ms-vss-method": "CreatePullRequestIterationStatus",
        "description": "Create a pull request status on the iteration. This method will have the same result as CreatePullRequestStatus with specified iterationId in the request body.",
        "operationId": "PullRequestIterationStatuses_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Pull request status to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the pull request iteration.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/PullRequestIterationStatuses/POST_git_pullRequestStatuses_iterationStatus.json"
            }
        }
      },
      "get": {
        "tags": [
          "PullRequestIterationStatuses"
        ],
        "x-ms-vss-resource": "pullRequestIterationStatuses",
        "x-ms-vss-method": "GetPullRequestIterationStatuses",
        "description": "Get all the statuses associated with a pull request iteration.",
        "operationId": "PullRequestIterationStatuses_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the pull request iteration.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitPullRequestStatus"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/PullRequestIterationStatuses/GET_git_pullRequestStatuses_iterationStatuses.json"
            }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/statuses/{statusId}": {
      "get": {
        "tags": [
          "PullRequestIterationStatuses"
        ],
        "x-ms-vss-resource": "pullRequestIterationStatuses",
        "x-ms-vss-method": "GetPullRequestIterationStatus",
        "description": "Get the specific pull request iteration status by ID. The status ID is unique within the pull request across all iterations.",
        "operationId": "PullRequestIterationStatuses_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the pull request iteration.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "statusId",
            "description": "ID of the pull request status.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/PullRequestIterationStatuses/GET_git_pullRequestStatuses_iterationStatus.json"
            }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/labels": {
      "post": {
        "tags": [
          "PullRequestLabels"
        ],
        "x-ms-vss-resource": "pullRequestLabels",
        "x-ms-vss-method": "CreatePullRequestLabel",
        "description": "",
        "operationId": "PullRequestLabels_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApiCreateTagRequestData"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiTagDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestLabels"
        ],
        "x-ms-vss-resource": "pullRequestLabels",
        "x-ms-vss-method": "GetPullRequestLabels",
        "description": "Retrieve a pull request's Labels",
        "operationId": "PullRequestLabels_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WebApiTagDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/labels/{labelIdOrName}": {
      "delete": {
        "tags": [
          "PullRequestLabels"
        ],
        "x-ms-vss-resource": "pullRequestLabels",
        "x-ms-vss-method": "DeletePullRequestLabels",
        "description": "",
        "operationId": "PullRequestLabels_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "labelIdOrName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestLabels"
        ],
        "x-ms-vss-resource": "pullRequestLabels",
        "x-ms-vss-method": "GetPullRequestLabel",
        "description": "",
        "operationId": "PullRequestLabels_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "labelIdOrName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiTagDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/reviewers": {
      "post": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "CreatePullRequestReviewers",
        "description": "Adds reviewers to a git pull request",
        "operationId": "PullRequestReviewers_CreatePullRequestReviewers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRef"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRefWithVote"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "GetPullRequestReviewers",
        "description": "Retrieve a pull request reviewers",
        "operationId": "PullRequestReviewers_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRefWithVote"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "UpdatePullRequestReviewers",
        "description": "Resets multiple reviewer votes in a batch",
        "operationId": "PullRequestReviewers_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRefWithVote"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/reviewers/{reviewerId}": {
      "put": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "CreatePullRequestReviewer",
        "description": "Adds a reviewer to a git pull request",
        "operationId": "PullRequestReviewers_CreatePullRequestReviewer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityRefWithVote"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IdentityRefWithVote"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "DeletePullRequestReviewer",
        "description": "Removes a reviewer from a git pull request",
        "operationId": "PullRequestReviewers_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestReviewers"
        ],
        "x-ms-vss-resource": "pullRequestReviewers",
        "x-ms-vss-method": "GetPullRequestReviewer",
        "description": "Retrieve a reviewer from a pull request",
        "operationId": "PullRequestReviewers_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IdentityRefWithVote"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/share": {
      "post": {
        "tags": [
          "PullRequestShare"
        ],
        "x-ms-vss-resource": "pullRequestShare",
        "x-ms-vss-method": "SharePullRequest",
        "description": "",
        "operationId": "PullRequestShare_SharePullRequest",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareNotificationContext"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/statuses": {
      "post": {
        "tags": [
          "PullRequestStatuses"
        ],
        "x-ms-vss-resource": "pullRequestStatuses",
        "x-ms-vss-method": "CreatePullRequestStatus",
        "description": "Create a pull request status.",
        "operationId": "PullRequestStatuses_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Pull request status to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "On pull request": {
                "$ref": "./httpExamples/PullRequestStatuses/POST_git_pullRequestStatuses_status.json"
            },
            "On iteration": {
                "$ref": "./httpExamples/PullRequestStatuses/POST_git_pullRequestStatuses_statusIterationInBody.json"
            }
        }
      },
      "get": {
        "tags": [
          "PullRequestStatuses"
        ],
        "x-ms-vss-resource": "pullRequestStatuses",
        "x-ms-vss-method": "GetPullRequestStatuses",
        "description": "Get all the statuses associated with a pull request.",
        "operationId": "PullRequestStatuses_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitPullRequestStatus"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/PullRequestStatuses/GET_git_pullRequestStatuses_statuses.json"
            }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/statuses/{statusId}": {
      "get": {
        "tags": [
          "PullRequestStatuses"
        ],
        "x-ms-vss-resource": "pullRequestStatuses",
        "x-ms-vss-method": "GetPullRequestStatus",
        "description": "Get the specific pull request status by ID. The status ID is unique within the pull request across all iterations.",
        "operationId": "PullRequestStatuses_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "ID of the repository the pull request belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "ID of the pull request.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "statusId",
            "description": "ID of the pull request status.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestStatus"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code",
              "vso.code_status"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/PullRequestStatuses/GET_git_pullRequestStatuses_status.json"
            }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads": {
      "post": {
        "tags": [
          "PullRequestThreads"
        ],
        "x-ms-vss-resource": "pullRequestThreads",
        "x-ms-vss-method": "CreateThread",
        "description": "Create a pull request review comment thread",
        "operationId": "PullRequestThreads_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequestCommentThread"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestCommentThread"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestThreads"
        ],
        "x-ms-vss-resource": "pullRequestThreads",
        "x-ms-vss-method": "GetThreads",
        "description": "Get all pull request comment threads.",
        "operationId": "PullRequestThreads_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseIteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitPullRequestCommentThread"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}": {
      "get": {
        "tags": [
          "PullRequestThreads"
        ],
        "x-ms-vss-resource": "pullRequestThreads",
        "x-ms-vss-method": "GetPullRequestThread",
        "description": "Get a pull request comment thread by id for a pull request",
        "operationId": "PullRequestThreads_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseIteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestCommentThread"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PullRequestThreads"
        ],
        "x-ms-vss-resource": "pullRequestThreads",
        "x-ms-vss-method": "UpdateThread",
        "description": "Update a pull request review comment thread",
        "operationId": "PullRequestThreads_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitPullRequestCommentThread"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GitPullRequestCommentThread"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}/comments": {
      "post": {
        "tags": [
          "PullRequestThreadComments"
        ],
        "x-ms-vss-resource": "pullRequestThreadComments",
        "x-ms-vss-method": "CreateComment",
        "description": "Create a pull request review comment",
        "operationId": "PullRequestThreadComments_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestThreadComments"
        ],
        "x-ms-vss-resource": "pullRequestThreadComments",
        "x-ms-vss-method": "GetComments",
        "description": "Get all pull request comments in a thread.",
        "operationId": "PullRequestThreadComments_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Comment"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}/comments/{commentId}": {
      "delete": {
        "tags": [
          "PullRequestThreadComments"
        ],
        "x-ms-vss-resource": "pullRequestThreadComments",
        "x-ms-vss-method": "DeleteComment",
        "description": "Delete a pull request comment by id for a pull request",
        "operationId": "PullRequestThreadComments_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "PullRequestThreadComments"
        ],
        "x-ms-vss-resource": "pullRequestThreadComments",
        "x-ms-vss-method": "GetComment",
        "description": "Get a pull request comment by id for a pull request",
        "operationId": "PullRequestThreadComments_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PullRequestThreadComments"
        ],
        "x-ms-vss-resource": "pullRequestThreadComments",
        "x-ms-vss-method": "UpdateComment",
        "description": "Update a pull request review comment thread",
        "operationId": "PullRequestThreadComments_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}/comments/{commentId}/likes": {
      "post": {
        "tags": [
          "PullRequestCommentLikes"
        ],
        "x-ms-vss-resource": "pullRequestCommentLikes",
        "x-ms-vss-method": "CreateLike",
        "description": "Add a like on a comment.",
        "operationId": "PullRequestCommentLikes_Create",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PullRequestCommentLikes"
        ],
        "x-ms-vss-resource": "pullRequestCommentLikes",
        "x-ms-vss-method": "DeleteLike",
        "description": "Delete a like on a comment.",
        "operationId": "PullRequestCommentLikes_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
[...]
