{
  "swagger": "2.0",
  "info": {
    "title": "Core",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Core",
  "x-ms-vss-resource-area-id": "79134c72-4a58-4b42-976c-04e7115f32bf",
  "basePath": "/",
  "tags": [
    {
      "name": "connectedServices"
    },
    {
      "name": "identityMru"
    },
    {
      "name": "members"
    },
    {
      "name": "processes"
    },
    {
      "name": "projectCollections"
    },
    {
      "name": "projectHistory"
    },
    {
      "name": "projects"
    },
    {
      "name": "proxies"
    },
    {
      "name": "teams"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/core/identitymru/{mruName}": {
      "post": {
        "tags": [
          "IdentityMru"
        ],
        "x-ms-vss-resource": "identityMru",
        "x-ms-vss-method": "CreateIdentityMru",
        "description": "",
        "operationId": "IdentityMru_Create",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityData"
            }
          },
          {
            "in": "path",
            "name": "mruName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "IdentityMru"
        ],
        "x-ms-vss-resource": "identityMru",
        "x-ms-vss-method": "GetIdentityMru",
        "description": "",
        "operationId": "IdentityMru_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "mruName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRef"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "IdentityMru"
        ],
        "x-ms-vss-resource": "identityMru",
        "x-ms-vss-method": "UpdateIdentityMru",
        "description": "",
        "operationId": "IdentityMru_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityData"
            }
          },
          {
            "in": "path",
            "name": "mruName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/process/processes": {
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcesses",
        "description": "Retrieve all processes",
        "operationId": "Processes_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Process"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/process/processes/{processId}": {
      "get": {
        "tags": [
          "Processes"
        ],
        "x-ms-vss-resource": "processes",
        "x-ms-vss-method": "GetProcessById",
        "description": "Retrieve process by id",
        "operationId": "Processes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Process"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/projectcollections": {
      "get": {
        "tags": [
          "ProjectCollections"
        ],
        "x-ms-vss-resource": "projectCollections",
        "x-ms-vss-method": "GetProjectCollections",
        "description": "Get project collection references for this application.",
        "operationId": "ProjectCollections_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamProjectCollectionReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile"
            ]
          }
        ]
      }
    },
    "/_apis/projectcollections/{collectionId}": {
      "get": {
        "tags": [
          "ProjectCollections"
        ],
        "x-ms-vss-resource": "projectCollections",
        "x-ms-vss-method": "GetProjectCollection",
        "description": "Get project collection with the specified id or name.",
        "operationId": "ProjectCollections_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamProjectCollection"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile"
            ]
          }
        ]
      }
    },
    "/_apis/projecthistory": {
      "get": {
        "tags": [
          "ProjectHistory"
        ],
        "x-ms-vss-resource": "projectHistory",
        "x-ms-vss-method": "GetProjectHistoryEntries",
        "description": "",
        "operationId": "ProjectHistory_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "minRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectInfo"
              }
            }
         }
        }
      }
    },
    "/_apis/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "projects",
        "x-ms-vss-method": "GetProjects",
        "description": "Get project references with the specified state",
        "operationId": "Projects_GetProjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "stateFilter",
            "description": "Filter on team projects in a specific team project state (default: WellFormed).",
            "required": false,
            "type": "string",
            "format": "ProjectState"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamProjectReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "projects",
        "x-ms-vss-method": "QueueCreateProject",
        "description": "Queue a project creation.",
        "operationId": "Projects_QueueCreateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The project to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_manage"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "projects",
        "x-ms-vss-method": "GetProject",
        "description": "Get project with the specified id or name, optionally including capabilities.",
        "operationId": "Projects_GetProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeCapabilities",
            "description": "Include capabilities (such as source control) in the team project result (default: false).",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeHistory",
            "description": "Search within renamed projects (that had such name in the past).",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamProject"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "projects",
        "x-ms-vss-method": "QueueDeleteProject",
        "description": "Queue a project deletion.",
        "operationId": "Projects_QueueDeleteProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "The project id of the project to delete.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "projects",
        "x-ms-vss-method": "UpdateProject",
        "description": "Update an existing project's name, abbreviation, or description.",
        "operationId": "Projects_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The updates for the project.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamProject"
            }
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "The project id of the project to update.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_write"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}/connectedservices": {
      "post": {
        "tags": [
          "ConnectedServices"
        ],
        "x-ms-vss-resource": "connectedServices",
        "x-ms-vss-method": "CreateConnectedService",
        "description": "",
        "operationId": "ConnectedServices_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApiConnectedServiceDetails"
            }
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiConnectedService"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "ConnectedServices"
        ],
        "x-ms-vss-resource": "connectedServices",
        "x-ms-vss-method": "GetConnectedServices",
        "description": "",
        "operationId": "ConnectedServices_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "kind",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ConnectedServiceKind"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WebApiConnectedService"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}/connectedservices/{name}": {
      "get": {
        "tags": [
          "ConnectedServices"
        ],
        "x-ms-vss-resource": "connectedServices",
        "x-ms-vss-method": "GetConnectedServiceDetails",
        "description": "",
        "operationId": "ConnectedServices_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiConnectedServiceDetails"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}/properties": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "GetProjectProperties",
        "description": "Get a collection of team project properties.",
        "operationId": "Projects_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "The team project ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "keys",
            "description": "A comma-delimited string of team project property names. Wildcard characters (\"?\" and \"*\") are supported. If no key is specified, all properties will be returned.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectProperty"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ],
        "x-ms-examples": {
            "Get all team project properties": {
                "$ref": "./examples/properties/GET__projects__project__properties.json"
            },
            "Get specific team project properties": {
                "$ref": "./examples/properties/GET__projects__project__properties_keys-_propertyName_,_wildcard_.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "SetProjectProperties",
        "description": "Create, update, and delete team project properties.",
        "operationId": "Projects_SetProjectProperties",
        "consumes": [
          "application/json-patch+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "The team project ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "A JSON Patch document that represents an array of property operations. See RFC 6902 for more details on JSON Patch. The accepted operation verbs are Add and Remove, where Add is used for both creating and updating properties. The path consists of a forward slash and a property name.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Create or update a team project property": {
                "$ref": "./examples/properties/PATCH__projects__project__properties.json"
            },
            "Delete a team project property": {
                "$ref": "./examples/properties/PATCH__projects__project__properties2.json"
            }
        }
      }
    },
    "/_apis/projects/{projectId}/teams": {
      "post": {
        "tags": [
          "Teams"
        ],
        "x-ms-vss-resource": "teams",
        "x-ms-vss-method": "CreateTeam",
        "description": "Creates a team",
        "operationId": "Teams_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The team data used to create the team.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApiTeam"
            }
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "The name or id (GUID) of the team project in which to create the team.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiTeam"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Teams"
        ],
        "x-ms-vss-resource": "teams",
        "x-ms-vss-method": "GetTeams",
        "description": "",
        "operationId": "Teams_GetTeams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WebApiTeam"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}/teams/{teamId}": {
      "delete": {
        "tags": [
          "Teams"
        ],
        "x-ms-vss-resource": "teams",
        "x-ms-vss-method": "DeleteTeam",
        "description": "Deletes a team",
        "operationId": "Teams_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "The name or id (GUID) of the team project containing the team to delete.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "teamId",
            "description": "The name of id of the team to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Teams"
        ],
        "x-ms-vss-resource": "teams",
        "x-ms-vss-method": "GetTeam",
        "description": "Gets a team",
        "operationId": "Teams_GetTeam",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "teamId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiTeam"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "x-ms-vss-resource": "teams",
        "x-ms-vss-method": "UpdateTeam",
        "description": "Updates a team's name and/or description",
        "operationId": "Teams_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebApiTeam"
            }
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "The name or id (GUID) of the team project containing the team to update.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "teamId",
            "description": "The name of id of the team to update.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebApiTeam"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.project_write"
            ]
          }
        ]
      }
    },
    "/_apis/projects/{projectId}/teams/{teamId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "x-ms-vss-resource": "members",
        "x-ms-vss-method": "GetTeamMembers",
        "description": "",
        "operationId": "Members_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "teamId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile",
              "vso.project"
            ]
          }
        ]
      }
    },
    "/_apis/proxies": {
      "put": {
        "tags": [
          "Proxies"
        ],
        "x-ms-vss-resource": "proxies",
        "x-ms-vss-method": "CreateOrUpdateProxy",
        "description": "",
        "operationId": "Proxies_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Proxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proxy"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "Proxies"
        ],
        "x-ms-vss-resource": "proxies",
        "x-ms-vss-method": "DeleteProxy",
        "description": "",
        "operationId": "Proxies_Delete",
        "parameters": [
          {
            "in": "query",
            "name": "proxyUrl",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "site",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Proxies"
        ],
        "x-ms-vss-resource": "proxies",
        "x-ms-vss-method": "GetProxies",
        "description": "",
        "operationId": "Proxies_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "proxyUrl",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Proxy"
              }
            }
         }
        }
      }
    }
  },
  "definitions": {
    "IdentityData": {
      "description": "",
      "type": "object",
      "properties": {
        "identityIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    },
    "IdentityDescriptor": {
      "description": "An Identity descriptor is a wrapper for the identity type (Windows SID, Passport) along with a unique identifier such as the SID or PUID.",
      "type": "object",
      "properties": {
        "identifier": {
          "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
          "type": "string"
        },
        "identityType": {
          "description": "Type of descriptor (for example, Windows, Passport, etc.).",
          "type": "string"
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "description": "The JSON model for JSON Patch Operations",
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
          }
        }
      ],
      "properties": {
      }
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "OperationReference": {
      "description": "Reference for an async operation.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Operations.OperationStatus"
          }
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    },
    "Process": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProcessReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDefault": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "system",
            "custom",
            "inherited"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProcessType"
          }
        }
      }
    },
    "ProcessReference": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ProjectInfo": {
      "description": "Contains information of the project",
      "type": "object",
      "properties": {
        "abbreviation": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectProperty"
          }
        },
        "revision": {
          "description": "Current revision of the project",
          "type": "integer",
          "format": "int64"
        },
        "state": {
          "enum": [
            "deleting",
            "new",
            "wellFormed",
            "createPending",
            "all",
            "unchanged",
            "deleted"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectState"
          }
        },
        "uri": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int64"
        },
        "visibility": {
          "enum": [
            "unchanged",
            "private",
            "organization",
            "public"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility"
          }
        }
      }
    },
    "ProjectMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/ProjectInfo"
        },
        "projectChangeType": {
          "enum": [
            "modified",
            "deleted",
            "added"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectChangeType"
          }
        },
        "shouldInvalidateSystemStore": {
          "type": "boolean"
        }
      }
    },
    "ProjectProperty": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "Proxy": {
      "description": "",
      "type": "object",
      "properties": {
        "authorization": {
          "$ref": "#/definitions/ProxyAuthorization"
        },
        "description": {
          "description": "This is a description string",
          "type": "string"
        },
        "friendlyName": {
          "description": "The friendly name of the server",
          "type": "string"
        },
        "globalDefault": {
          "type": "boolean"
        },
        "site": {
          "description": "This is a string representation of the site that the proxy server is located in (e.g. \"NA-WA-RED\")",
          "type": "string"
        },
        "siteDefault": {
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the proxy server",
          "type": "string"
        }
      }
    },
    "ProxyAuthorization": {
      "description": "",
      "type": "object",
      "properties": {
        "authorizationUrl": {
          "description": "Gets or sets the endpoint used to obtain access tokens from the configured token service.",
          "type": "string"
        },
        "clientId": {
          "description": "Gets or sets the client identifier for this proxy.",
          "type": "string",
          "format": "uuid"
        },
        "identity": {
          "description": "Gets or sets the user identity to authorize for on-prem.",
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "publicKey": {
          "description": "Gets or sets the public key used to verify the identity of this proxy. Only specify on hosted.",
          "$ref": "#/definitions/PublicKey"
        }
      }
    },
    "PublicKey": {
      "description": "Represents the public key portion of an RSA asymmetric key.",
      "type": "object",
      "properties": {
        "exponent": {
          "description": "Gets or sets the exponent for the public key.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "modulus": {
          "description": "Gets or sets the modulus for the public key.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: { self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "TeamContext": {
      "description": "The Team Context for an operation.",
      "type": "object",
      "properties": {
        "project": {
          "description": "The team project Id or name.  Ignored if ProjectId is set.",
          "type": "string"
        },
        "projectId": {
          "description": "The Team Project ID.  Required if Project is not set.",
          "type": "string",
          "format": "uuid"
        },
        "team": {
          "description": "The Team Id or name.  Ignored if TeamId is set.",
          "type": "string"
        },
        "teamId": {
          "description": "The Team Id",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TeamProject": {
      "description": "Represents a Team Project object.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TeamProjectReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "capabilities": {
          "description": "Set of capabilities this project has (such as process template & version control).",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "defaultTeam": {
          "description": "The shallow ref to the default team.",
          "$ref": "#/definitions/WebApiTeamRef"
        }
      }
    },
    "TeamProjectCollection": {
      "description": "Data contract for a TeamProjectCollection.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TeamProjectCollectionReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "description": {
          "description": "Project collection description.",
          "type": "string"
        },
        "state": {
          "description": "Project collection state.",
          "type": "string"
        }
      }
    },
    "TeamProjectCollectionReference": {
      "description": "Reference object for a TeamProjectCollection.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Collection Id.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Collection Name.",
          "type": "string"
        },
        "url": {
          "description": "Collection REST Url.",
          "type": "string"
        }
      }
    },
    "TeamProjectReference": {
      "description": "Represents a shallow reference to a TeamProject.",
      "type": "object",
      "properties": {
        "abbreviation": {
          "description": "Project abbreviation.",
          "type": "string"
        },
        "description": {
          "description": "The project's description (if any).",
          "type": "string"
        },
        "id": {
          "description": "Project identifier.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Project name.",
          "type": "string"
        },
        "revision": {
          "description": "Project revision.",
          "type": "integer",
          "format": "int64"
        },
        "state": {
          "description": "Project state.",
          "enum": [
            "deleting",
            "new",
            "wellFormed",
            "createPending",
            "all",
            "unchanged",
            "deleted"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectState"
          }
        },
        "url": {
          "description": "Url to the full version of the object.",
          "type": "string"
        },
        "visibility": {
          "description": "Project visibility.",
          "enum": [
            "unchanged",
            "private",
            "organization",
            "public"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Core.WebApi.ProjectVisibility"
          }
        }
      }
    },
    "TemporaryDataCreatedDTO": {
      "description": "A data transfer object that stores the metadata associated with the creation of temporary data.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TemporaryDataDTO"
        }
      ],
      "properties": {
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TemporaryDataDTO": {
      "description": "A data transfer object that stores the metadata associated with the temporary data.",
      "type": "object",
      "properties": {
        "expirationSeconds": {
          "type": "integer",
          "format": "int32"
        },
        "origin": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WebApiConnectedService": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WebApiConnectedServiceRef"
        }
      ],
      "properties": {
        "authenticatedBy": {
          "description": "The user who did the OAuth authentication to created this service",
          "$ref": "#/definitions/IdentityRef"
        },
        "description": {
          "description": "Extra description on the service.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Friendly Name of service connection",
          "type": "string"
        },
        "id": {
          "description": "Id/Name of the connection service. For Ex: Subscription Id for Azure Connection",
          "type": "string"
        },
        "kind": {
          "description": "The kind of service.",
          "type": "string"
        },
        "project": {
          "description": "The project associated with this service",
          "$ref": "#/definitions/TeamProjectReference"
        },
        "serviceUri": {
          "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
          "type": "string"
        }
      }
    },
    "WebApiConnectedServiceDetails": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WebApiConnectedServiceRef"
        }
      ],
      "properties": {
        "connectedServiceMetaData": {
          "description": "Meta data for service connection",
          "$ref": "#/definitions/WebApiConnectedService"
        },
        "credentialsXml": {
          "description": "Credential info",
          "type": "string"
        },
        "endPoint": {
          "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
          "type": "string"
        }
      }
    },
    "WebApiConnectedServiceRef": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WebApiCreateTagRequestData": {
      "description": "The representation of data needed to create a tag definition which is sent across the wire.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "WebApiProject": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TeamProjectReference"
        }
      ],
      "properties": {
        "capabilities": {
          "description": "Set of capabilities this project has",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "collection": {
          "description": "Reference to collection which contains this project",
          "$ref": "#/definitions/WebApiProjectCollectionRef"
        },
        "defaultTeam": {
          "description": "Default team for this project",
          "$ref": "#/definitions/WebApiTeamRef"
        }
      }
    },
    "WebApiProjectCollection": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WebApiProjectCollectionRef"
        }
      ],
      "properties": {
        "description": {
          "description": "Project collection description",
          "type": "string"
        },
        "state": {
          "description": "Project collection state",
          "type": "string"
        }
      }
    },
    "WebApiProjectCollectionRef": {
      "description": "",
      "type": "object",
      "properties": {
        "collectionUrl": {
          "description": "Collection Tfs Url (Host Url)",
          "type": "string"
        },
        "id": {
          "description": "Collection Guid",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Collection Name",
          "type": "string"
        },
        "url": {
          "description": "Collection REST Url",
          "type": "string"
        }
      }
    },
    "WebApiTagDefinition": {
      "description": "The representation of a tag definition which is sent across the wire.",
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WebApiTeam": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WebApiTeamRef"
        }
      ],
      "properties": {
        "description": {
          "description": "Team description",
          "type": "string"
        },
        "identityUrl": {
          "description": "Identity REST API Url to this team",
          "type": "string"
        }
      }
    },
    "WebApiTeamRef": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Team (Identity) Guid. A Team Foundation ID.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Team name",
          "type": "string"
        },
        "url": {
          "description": "Team REST API Url",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.profile": "Grants the ability to read your profile, accounts, collections, projects, teams, and other top-level organizational artifacts.",
        "vso.project": "Grants the ability to read projects and teams.",
        "vso.project_manage": "Grants the ability to create, read, update, and delete projects and teams.",
        "vso.project_write": "Grants the ability to read and update projects and teams.",
        "vso.work": "Grants the ability to read work items, queries, boards, area and iterations paths, and other work item tracking related metadata. Also grants the ability to execute queries and to receive notifications about work item events via service hooks."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}