{
  "swagger": "2.0",
  "info": {
    "title": "CloudLoadTest",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1-preview"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.vsclt.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "CloudLoadTest",
  "basePath": "/",
  "tags": [
    {
      "name": "Agent Groups"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Counter Instances"
    },
    {
      "name": "Counters"
    },
    {
      "name": "Counter Samples"
    },
    {
      "name": "Errors"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Plugins"
    },
    {
      "name": "Results"
    },
    {
      "name": "Test Definitions"
    },
    {
      "name": "Test Drops"
    },
    {
      "name": "Test Runs"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/clt/agentgroups": {
      "post": {
        "tags": [
          "Agent Groups"
        ],
        "x-ms-vss-resource": "agentGroups",
        "x-ms-vss-method": "CreateAgentGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Agent group to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentGroup"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AgentGroup"
            }
         }
        }
      }
    },
    "/_apis/clt/agentgroups/{agentGroupId}": {
      "get": {
        "tags": [
          "Agent Groups"
        ],
        "x-ms-vss-resource": "agentGroups",
        "x-ms-vss-method": "GetAgentGroups",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentGroupId",
            "description": "The agent group indentifier",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "machineSetupInput",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "machineAccessData",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "outgoingRequestUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "agentGroupName",
            "description": "Name of the agent group",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
         }
        }
      }
    },
    "/_apis/clt/agentGroups/{agentGroupId}/agents": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "DeleteStaticAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentGroupId",
            "description": "The agent group identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "agentName",
            "description": "Name of the static agent",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "GetStaticAgents",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentGroupId",
            "description": "The agent group identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "agentName",
            "description": "Name of the static agent",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
         }
        }
      }
    },
    "/_apis/clt/apm/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "x-ms-vss-resource": "applications",
        "x-ms-vss-method": "GetApplications",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "Filters the results based on the plugin type.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Application"
              }
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/Applications/GET__ApmApplications__type_.json"
            }
        }
      }
    },
    "/_apis/clt/apm/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "x-ms-vss-resource": "applications",
        "x-ms-vss-method": "GetApplication",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "applicationId",
            "description": "Filter by APM application identifier.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Application"
            }
         }
        }
      }
    },
    "/_apis/clt/apm/counters": {
      "get": {
        "tags": [
          "Counters"
        ],
        "x-ms-vss-resource": "counters",
        "x-ms-vss-method": "GetApplicationCounters",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "applicationId",
            "description": "Filter by APM application identifier.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "plugintype",
            "description": "Currently ApplicationInsights is the only available plugin type.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationCounters"
              }
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/Counters/GET__ApmCounters.json"
            }
        }
      }
    },
    "/_apis/clt/apm/plugins": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "x-ms-vss-resource": "plugins",
        "x-ms-vss-method": "GetPlugins",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationType"
              }
            }
         }
        },
        "x-ms-examples": {
            "Get a list of plugins": {
                "$ref": "./httpExamples/Plugins/GET__ApmPlugins.json"
            }
        }
      }
    },
    "/_apis/clt/apm/plugins/{type}": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "x-ms-vss-resource": "plugins",
        "x-ms-vss-method": "GetPlugin",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "description": "Currently ApplicationInsights is the only available plugin type.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApplicationType"
            }
         }
        },
        "x-ms-examples": {
            "Get a plugin": {
                "$ref": "./httpExamples/Plugins/GET__ApmPlugins__type_.json"
            }
        }
      }
    },
    "/_apis/clt/testdefinitions": {
      "post": {
        "tags": [
          "Test Definitions"
        ],
        "x-ms-vss-resource": "testDefinitions",
        "x-ms-vss-method": "CreateTestDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Test definition to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Test Definitions"
        ],
        "x-ms-vss-resource": "testDefinitions",
        "x-ms-vss-method": "GetTestDefinitions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fromDate",
            "description": "Date after which test definitions were created",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "Date before which test definitions were crated",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestDefinitionBasic"
              }
            }
         }
        }
      },
      "put": {
        "tags": [
          "Test Definitions"
        ],
        "x-ms-vss-resource": "testDefinitions",
        "x-ms-vss-method": "UpdateTestDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
         }
        }
      }
    },
    "/_apis/clt/testdefinitions/{testDefinitionId}": {
      "get": {
        "tags": [
          "Test Definitions"
        ],
        "x-ms-vss-resource": "testDefinitions",
        "x-ms-vss-method": "GetTestDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testDefinitionId",
            "description": "The test definition identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
         }
        }
      }
    },
    "/_apis/clt/testdrops": {
      "post": {
        "tags": [
          "Test Drops"
        ],
        "x-ms-vss-resource": "testDrops",
        "x-ms-vss-method": "CreateTestDrop",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Test drop to be created",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Microsoft.VisualStudio.TestService.WebApiModel.TestDrop"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Microsoft.VisualStudio.TestService.WebApiModel.TestDrop"
            }
         }
        },
        "x-ms-examples": {
            "Create a test drop": {
                "$ref": "./httpExamples/TestDrops/POST__TestDrops__dropType_.json"
            }
        }
      }
    },
    "/_apis/clt/testdrops/{testDropId}": {
      "get": {
        "tags": [
          "Test Drops"
        ],
        "x-ms-vss-resource": "testDrops",
        "x-ms-vss-method": "GetTestDrop",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testDropId",
            "description": "The test drop identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Microsoft.VisualStudio.TestService.WebApiModel.TestDrop"
            }
         }
        },
        "x-ms-examples": {
            "Get a test drop": {
                "$ref": "./httpExamples/TestDrops/GET__TestDrops__testDropId_.json"
            }
        }
      }
    },
    "/_apis/clt/testruns": {
      "post": {
        "tags": [
          "Test Runs"
        ],
        "x-ms-vss-resource": "testRuns",
        "x-ms-vss-method": "CreateTestRun",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
         }
        },
        "x-ms-examples": {
            "Create a test run": {
                "$ref": "./httpExamples/TestRuns/POST__TestRuns.json"
            }
        }
      },
      "get": {
        "tags": [
          "Test Runs"
        ],
        "x-ms-vss-resource": "testRuns",
        "x-ms-vss-method": "GetTestRuns",
        "x-ms-preview": true,
        "description": "Returns test runs based on the filter specified. Returns all runs of the tenant if there is no filter.",
        "operationId": "Get Test Runs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "Name for the test run. Names are not unique. Test runs with same name are assigned sequential rolling numbers.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "requestedBy",
            "description": "Filter by the user who requested the test run. Here requestedBy should be the display name of the user.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by the test run status.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "runType",
            "description": "Valid values include: null, one of TestRunType, or \"*\"",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromDate",
            "description": "Filter by the test runs that have been modified after the fromDate timestamp.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toDate",
            "description": "Filter by the test runs that have been modified before the toDate timestamp.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "detailed",
            "description": "Include the detailed test run attributes.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of test runs to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "runsourceidentifier",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "retentionState",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
         }
        },
        "x-ms-examples": {
            "All test runs": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns.json"
            },
            "By name": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__filter__name_.json"
            },
            "By user": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__filter__user_.json"
            },
            "By status": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__filter__status_.json"
            },
            "By date": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__filter__date_.json"
            },
            "With detailed attributes": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__filter__detailed_.json"
            }
        }
      }
    },
    "/_apis/clt/testruns/{testRunId}": {
      "get": {
        "tags": [
          "Test Runs"
        ],
        "x-ms-vss-resource": "testRuns",
        "x-ms-vss-method": "GetTestRun",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get Test Run",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testRunId",
            "description": "Unique ID of the test run",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/TestRuns/GET__TestRuns__testRunId_.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Test Runs"
        ],
        "x-ms-vss-resource": "testRuns",
        "x-ms-vss-method": "UpdateTestRun",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
          },
          {
            "in": "path",
            "name": "testRunId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "x-ms-examples": {
            "Start a test run": {
                "$ref": "./httpExamples/TestRuns/PATCH__TestRuns__testRunId_Queued.json"
            },
            "Stop a test run": {
                "$ref": "./httpExamples/TestRuns/PATCH__TestRuns__testRunId_Aborted.json"
            }
        }
      }
    },
    "/_apis/clt/testRuns/{testRunId}/counterinstances": {
      "get": {
        "tags": [
          "Counter Instances"
        ],
        "x-ms-vss-resource": "counterInstances",
        "x-ms-vss-method": "GetCounters",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testRunId",
            "description": "The test run identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "groupNames",
            "description": "Comma separated names of counter groups, such as 'Application', 'Performance' and 'Throughput'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeSummary",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestRunCounterInstance"
              }
            }
         }
        },
        "x-ms-examples": {
            "Get a list of counter instances": {
                "$ref": "./httpExamples/CounterInstances/GET__CounterInstances__run_.json"
            }
        }
      }
    },
    "/_apis/clt/testRuns/{testRunId}/countersamples": {
      "post": {
        "tags": [
          "Counter Samples"
        ],
        "x-ms-vss-resource": "counterSamples",
        "x-ms-vss-method": "GetCounterSamples",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VssJsonCollectionWrapper"
            }
          },
          {
            "in": "path",
            "name": "testRunId",
            "description": "The test run identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CounterSamplesResult"
            }
         }
        },
        "x-ms-examples": {
            "Get a list of counter samples": {
                "$ref": "./httpExamples/CounterSamples/POST__CounterSamples__run_.json"
            }
        }
      }
    },
    "/_apis/clt/testRuns/{testRunId}/errors": {
      "get": {
        "tags": [
          "Errors"
        ],
        "x-ms-vss-resource": "errors",
        "x-ms-vss-method": "GetLoadTestRunErrors",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testRunId",
            "description": "The test run identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter for the particular type of errors.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "subType",
            "description": "Filter for a particular subtype of errors. You should not provide error subtype without error type.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "detailed",
            "description": "To include the details of test errors such as messagetext, request, stacktrace, testcasename, scenarioname, and lasterrordate.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LoadTestErrors"
            }
         }
        },
        "x-ms-examples": {
            "With Error Type specified": {
                "$ref": "./httpExamples/Errors/errortype.json"
            },
            "With Error Type and Subtype specified": {
                "$ref": "./httpExamples/Errors/errortypesubtype.json"
            },
            "With Error Type and Subtype specified and detailed=true": {
                "$ref": "./httpExamples/Errors/errortypesubtypedetailed.json"
            },
            "With Detailed=true": {
                "$ref": "./httpExamples/Errors/GetTestRunErrorsDetailedTrue.json"
            }
        }
      }
    },
    "/_apis/clt/testRuns/{testRunId}/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "x-ms-vss-resource": "messages",
        "x-ms-vss-method": "GetTestRunMessages",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testRunId",
            "description": "Id of the test run",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "Microsoft.VisualStudio.TestService.WebApiModel.TestRunMessage"
              }
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/Messages/GET__messages_.json"
            }
        }
      }
    },
    "/_apis/clt/testRuns/{testRunId}/results": {
      "get": {
        "tags": [
          "Results"
        ],
        "x-ms-vss-resource": "results",
        "x-ms-vss-method": "GetLoadTestResult",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "testRunId",
            "description": "The test run identifier",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResults"
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/Results/GET__TestResults_.json"
            }
        }
      }
    }
  },
  "definitions": {
    "AgentGroup": {
      "description": "",
      "type": "object",
      "properties": {
        "createdBy": {
          "readOnly": true,
          "type": "string",
          "format": "IdentityRef"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "groupId": {
          "readOnly": true,
          "type": "string"
        },
        "groupName": {
          "readOnly": true,
          "type": "string"
        },
        "machineAccessData": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentGroupAccessData"
          }
        },
        "machineConfiguration": {
          "$ref": "#/definitions/WebApiUserLoadTestMachineInput"
        },
        "tenantId": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AgentGroupAccessData": {
      "description": "",
      "type": "object",
      "properties": {
        "details": {
          "type": "string"
        },
        "storageConnectionString": {
          "type": "string"
        },
        "storageEndPoint": {
          "type": "string"
        },
        "storageName": {
          "type": "string"
        },
        "storageType": {
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "",
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "pathSeperator": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ApplicationCounters": {
      "description": "",
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "ApplicationType": {
      "description": "",
      "type": "object",
      "properties": {
        "actionUriLink": {
          "type": "string"
        },
        "autPortalLink": {
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "maxComponentsAllowedForCollection": {
          "type": "integer",
          "format": "int32"
        },
        "maxCountersAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "BrowserMix": {
      "description": "",
      "type": "object",
      "properties": {
        "browserName": {
          "type": "string"
        },
        "browserPercentage": {
          "type": "string",
          "format": "Single"
        }
      }
    },
    "CltCustomerIntelligenceData": {
      "description": "",
      "type": "object",
      "properties": {
        "area": {
          "type": "string"
        },
        "feature": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "CounterGroup": {
      "description": "",
      "type": "object",
      "properties": {
        "groupName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "CounterInstanceSamples": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "counterInstanceId": {
          "type": "string"
        },
        "nextRefreshTime": {
          "type": "string",
          "format": "date-time"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CounterSample"
          }
        }
      }
    },
    "CounterSample": {
      "description": "",
      "type": "object",
      "properties": {
        "baseValue": {
          "type": "integer",
          "format": "int64"
        },
        "computedValue": {
          "type": "string",
          "format": "Single"
        },
        "counterFrequency": {
          "type": "integer",
          "format": "int64"
        },
        "counterInstanceId": {
          "type": "string"
        },
        "counterType": {
          "type": "string"
        },
        "intervalEndDate": {
          "type": "string",
          "format": "date-time"
        },
        "intervalNumber": {
          "type": "integer",
          "format": "int32"
        },
        "rawValue": {
          "type": "integer",
          "format": "int64"
        },
        "systemFrequency": {
          "type": "integer",
          "format": "int64"
        },
        "timeStamp": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CounterSampleQueryDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "counterInstanceId": {
          "type": "string"
        },
        "fromInterval": {
          "type": "integer",
          "format": "int32"
        },
        "toInterval": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CounterSamplesResult": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "maxBatchSize": {
          "type": "integer",
          "format": "int32"
        },
        "totalSamplesCount": {
          "type": "integer",
          "format": "int32"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CounterInstanceSamples"
          }
        }
      }
    },
    "Diagnostics": {
      "description": "",
      "type": "object",
      "properties": {
        "diagnosticStoreConnectionString": {
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time"
        },
        "relativePathToDiagnosticFiles": {
          "type": "string"
        }
      }
    },
    "DropAccessData": {
      "description": "",
      "type": "object",
      "properties": {
        "dropContainerUrl": {
          "type": "string"
        },
        "sasKey": {
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "lastErrorDate": {
          "type": "string",
          "format": "date-time"
        },
        "messageText": {
          "type": "string"
        },
        "occurrences": {
          "type": "integer",
          "format": "int32"
        },
        "request": {
          "type": "string"
        },
        "scenarioName": {
          "type": "string"
        },
        "stackTrace": {
          "type": "string"
        },
        "testCaseName": {
          "type": "string"
        }
      }
    },
    "LoadGenerationGeoLocation": {
      "description": "",
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "percentage": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LoadTest": {
      "description": "",
      "type": "object",
      "properties": {
      }
    },
    "LoadTestDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "agentCount": {
          "type": "integer",
          "format": "int32"
        },
        "browserMixs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BrowserMix"
          }
        },
        "coreCount": {
          "type": "integer",
          "format": "int32"
        },
        "coresPerAgent": {
          "type": "integer",
          "format": "int32"
        },
        "loadGenerationGeoLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadGenerationGeoLocation"
          }
        },
        "loadPatternName": {
          "type": "string"
        },
        "loadTestName": {
          "type": "string"
        },
        "maxVusers": {
          "type": "integer",
          "format": "int32"
        },
        "runDuration": {
          "type": "integer",
          "format": "int32"
        },
        "samplingRate": {
          "type": "integer",
          "format": "int32"
        },
        "thinkTime": {
          "type": "integer",
          "format": "int32"
        },
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LoadTestErrors": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "occurrences": {
          "type": "integer",
          "format": "int32"
        },
        "types": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Type"
          }
        },
        "url": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LoadTestRunDetails": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LoadTestRunSettings"
        }
      ],
      "properties": {
        "virtualUserCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LoadTestRunSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "agentCount": {
          "type": "integer",
          "format": "int32"
        },
        "coreCount": {
          "type": "integer",
          "format": "int32"
        },
        "coresPerAgent": {
          "type": "integer",
          "format": "int32"
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        },
        "loadGeneratorMachinesType": {
          "enum": [
            "default",
            "cLTLoadAgent",
            "userLoadAgent"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.LoadTestMachineType"
          }
        },
        "samplingInterval": {
          "type": "integer",
          "format": "int32"
        },
        "warmUpDuration": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OverridableRunSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "loadGeneratorMachinesType": {
          "enum": [
            "default",
            "cLTLoadAgent",
            "userLoadAgent"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.LoadTestMachineType"
          }
        },
        "staticAgentRunSettings": {
          "$ref": "#/definitions/StaticAgentRunSetting"
        }
      }
    },
    "PageSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "averagePageTime": {
          "type": "number",
          "format": "double"
        },
        "pageUrl": {
          "type": "string"
        },
        "percentagePagesMeetingGoal": {
          "type": "integer",
          "format": "int32"
        },
        "percentileData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SummaryPercentileData"
          }
        },
        "scenarioName": {
          "type": "string"
        },
        "testName": {
          "type": "string"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RequestSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "averageResponseTime": {
          "type": "number",
          "format": "double"
        },
        "failedRequests": {
          "type": "integer",
          "format": "int32"
        },
        "passedRequests": {
          "type": "integer",
          "format": "int32"
        },
        "percentileData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SummaryPercentileData"
          }
        },
        "requestsPerSec": {
          "type": "number",
          "format": "double"
        },
        "requestUrl": {
          "type": "string"
        },
        "scenarioName": {
          "type": "string"
        },
        "testName": {
          "type": "string"
        },
        "totalRequests": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ScenarioSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "maxUserLoad": {
          "type": "integer",
          "format": "int32"
        },
        "minUserLoad": {
          "type": "integer",
          "format": "int32"
        },
        "scenarioName": {
          "type": "string"
        }
      }
    },
    "StaticAgentRunSetting": {
      "description": "",
      "type": "object",
      "properties": {
        "loadGeneratorMachinesType": {
          "enum": [
            "default",
            "cLTLoadAgent",
            "userLoadAgent"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.LoadTestMachineType"
          }
        },
        "staticAgentGroupName": {
          "type": "string"
        }
      }
    },
    "SubType": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "errorDetailList": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetails"
          }
        },
        "occurrences": {
          "type": "integer",
          "format": "int32"
        },
        "subTypeName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "SummaryPercentileData": {
      "description": "",
      "type": "object",
      "properties": {
        "percentile": {
          "type": "integer",
          "format": "int32"
        },
        "percentileValue": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "TenantDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "accessDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentGroupAccessData"
          }
        },
        "id": {
          "type": "string"
        },
        "staticMachines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebApiTestMachine"
          }
        },
        "userLoadAgentInput": {
          "$ref": "#/definitions/WebApiUserLoadTestMachineInput"
        },
        "userLoadAgentResourcesUri": {
          "readOnly": true,
          "type": "string"
        },
        "validGeoLocations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestDefinition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TestDefinitionBasic"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "loadGenerationGeoLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadGenerationGeoLocation"
          }
        },
        "loadTestDefinitionSource": {
          "type": "string"
        },
        "runSettings": {
          "$ref": "#/definitions/LoadTestRunSettings"
        },
        "staticAgentRunSettings": {
          "$ref": "#/definitions/StaticAgentRunSetting"
        },
        "testDetails": {
          "$ref": "#/definitions/LoadTest"
        }
      }
    },
    "TestDefinitionBasic": {
      "description": "",
      "type": "object",
      "properties": {
        "accessData": {
          "$ref": "#/definitions/DropAccessData"
        },
        "createdBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string"
        },
        "lastModifiedBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time"
        },
        "loadTestType": {
          "enum": [
            "visualStudioLoadTest",
            "jMeter",
            "oldLoadTestFile"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.LoadTestTypes"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "TestDrop": {
      "description": "",
      "type": "object",
      "properties": {
        "accessData": {
          "$ref": "#/definitions/DropAccessData"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "dropType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "loadTestDefinition": {
          "$ref": "#/definitions/LoadTestDefinition"
        },
        "testRunId": {
          "type": "string"
        }
      }
    },
    "TestDropRef": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TestResults": {
      "description": "",
      "type": "object",
      "properties": {
        "cloudLoadTestSolutionUrl": {
          "type": "string"
        },
        "counterGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CounterGroup"
          }
        },
        "diagnostics": {
          "$ref": "#/definitions/Diagnostics"
        },
        "resultsUrl": {
          "type": "string"
        }
      }
    },
    "TestResultsSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "overallPageSummary": {
          "$ref": "#/definitions/PageSummary"
        },
        "overallRequestSummary": {
          "$ref": "#/definitions/RequestSummary"
        },
        "overallScenarioSummary": {
          "$ref": "#/definitions/ScenarioSummary"
        },
        "overallTestSummary": {
          "$ref": "#/definitions/TestSummary"
        },
        "overallTransactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "topSlowPages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PageSummary"
          }
        },
        "topSlowRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequestSummary"
          }
        },
        "topSlowTests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestSummary"
          }
        },
        "topSlowTransactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionSummary"
          }
        }
      }
    },
    "TestRun": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TestRunBasic"
        }
      ],
      "properties": {
        "abortMessage": {
          "$ref": "#/definitions/TestRunAbortMessage"
        },
        "autInitializationError": {
          "type": "boolean"
        },
        "chargeable": {
          "type": "boolean"
        },
        "chargedVUserminutes": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "executionFinishedDate": {
          "type": "string",
          "format": "date-time"
        },
        "executionStartedDate": {
          "type": "string",
          "format": "date-time"
        },
        "queuedDate": {
          "type": "string",
          "format": "date-time"
        },
        "retentionState": {
          "enum": [
            "none",
            "markedForDeletion",
            "deleted",
            "retain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.TestRunRetentionState"
          }
        },
        "runSourceIdentifier": {
          "type": "string"
        },
        "runSourceUrl": {
          "type": "string"
        },
        "startedBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "startedDate": {
          "type": "string",
          "format": "date-time"
        },
        "stoppedBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "subState": {
          "enum": [
            "none",
            "validatingTestRun",
            "acquiringResources",
            "configuringAgents",
            "executingSetupScript",
            "warmingUp",
            "runningTest",
            "executingCleanupScript",
            "collectingResults",
            "success",
            "partialSuccess"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.TestRunSubState"
          }
        },
        "supersedeRunSettings": {
          "$ref": "#/definitions/OverridableRunSettings"
        },
        "testDrop": {
          "$ref": "#/definitions/TestDropRef"
        },
        "testSettings": {
          "$ref": "#/definitions/TestSettings"
        },
        "warmUpStartedDate": {
          "type": "string",
          "format": "date-time"
        },
        "webResultUrl": {
          "type": "string"
        }
      }
    },
    "TestRunAbortMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "cause": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggedDate": {
          "type": "string",
          "format": "date-time"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "TestRunBasic": {
      "description": "",
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "deletedBy": {
          "type": "string",
          "format": "IdentityRef"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "finishedDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string"
        },
        "loadGenerationGeoLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadGenerationGeoLocation"
          }
        },
        "loadTestFileName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "runNumber": {
          "type": "integer",
          "format": "int32"
        },
        "runSource": {
          "type": "string"
        },
        "runSpecificDetails": {
          "$ref": "#/definitions/LoadTestRunDetails"
        },
        "runType": {
          "enum": [
            "visualStudioLoadTest",
            "jMeterLoadTest"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.TestRunType"
          }
        },
        "state": {
          "enum": [
            "pending",
            "queued",
            "inProgress",
            "stopping",
            "completed",
            "aborted",
            "error"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.TestRunState"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TestRunCounterInstance": {
      "description": "",
      "type": "object",
      "properties": {
        "categoryName": {
          "type": "string"
        },
        "counterInstanceId": {
          "type": "string"
        },
        "counterName": {
          "type": "string"
        },
        "counterUnits": {
          "type": "string"
        },
        "instanceName": {
          "type": "string"
        },
        "isPreselectedCounter": {
          "type": "boolean"
        },
        "machineName": {
          "type": "string"
        },
        "partOfCounterGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "summaryData": {
          "$ref": "#/definitions/WebInstanceSummaryData"
        },
        "uniqueName": {
          "type": "string"
        }
      }
    },
    "TestRunMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "agentId": {
          "type": "string"
        },
        "errorCode": {
          "type": "string"
        },
        "loggedDate": {
          "type": "string",
          "format": "date-time"
        },
        "message": {
          "type": "string"
        },
        "messageId": {
          "type": "string"
        },
        "messageSource": {
          "enum": [
            "setupScript",
            "cleanupScript",
            "validation",
            "other",
            "autCounterCollection"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.MessageSource"
          }
        },
        "messageType": {
          "enum": [
            "info",
            "output",
            "error",
            "warning",
            "critical"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.MessageType"
          }
        },
        "testRunId": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TestSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "cleanupCommand": {
          "type": "string"
        },
        "hostProcessPlatform": {
          "enum": [
            "none",
            "msil",
            "x86",
            "ia64",
            "amd64",
            "arm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.ProcessorArchitecture"
          }
        },
        "setupCommand": {
          "type": "string"
        }
      }
    },
    "TestSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "averageTestTime": {
          "type": "number",
          "format": "double"
        },
        "failedTests": {
          "type": "integer",
          "format": "int32"
        },
        "passedTests": {
          "type": "integer",
          "format": "int32"
        },
        "percentileData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SummaryPercentileData"
          }
        },
        "scenarioName": {
          "type": "string"
        },
        "testName": {
          "type": "string"
        },
        "totalTests": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TransactionSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "averageResponseTime": {
          "type": "number",
          "format": "double"
        },
        "averageTransactionTime": {
          "type": "number",
          "format": "double"
        },
        "percentileData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SummaryPercentileData"
          }
        },
        "scenarioName": {
          "type": "string"
        },
        "testName": {
          "type": "string"
        },
        "totalTransactions": {
          "type": "integer",
          "format": "int32"
        },
        "transactionName": {
          "type": "string"
        }
      }
    },
    "Type": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "occurrences": {
          "type": "integer",
          "format": "int32"
        },
        "subTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubType"
          }
        },
        "typeName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WebApiLoadTestMachineInput": {
      "description": "",
      "type": "object",
      "properties": {
        "machineGroupId": {
          "type": "string"
        },
        "machineType": {
          "enum": [
            "default",
            "cLTLoadAgent",
            "userLoadAgent"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.TestService.WebApiModel.LoadTestMachineType"
          }
        },
        "setupConfiguration": {
          "$ref": "#/definitions/WebApiSetupParamaters"
        },
        "supportedRunTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "TestRunType"
          }
        }
      }
    },
    "WebApiSetupParamaters": {
      "description": "",
      "type": "object",
      "properties": {
        "configurations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WebApiTestMachine": {
      "description": "",
      "type": "object",
      "properties": {
        "lastHeartBeat": {
          "type": "string",
          "format": "date-time"
        },
        "machineName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "WebApiUserLoadTestMachineInput": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WebApiLoadTestMachineInput"
        }
      ],
      "properties": {
        "agentGroupName": {
          "readOnly": true,
          "type": "string"
        },
        "tenantId": {
          "readOnly": true,
          "type": "string"
        },
        "userLoadAgentResourcesUri": {
          "readOnly": true,
          "type": "string"
        },
        "vSTSAccountUri": {
          "type": "string"
        }
      }
    },
    "WebInstanceSummaryData": {
      "description": "",
      "type": "object",
      "properties": {
        "average": {
          "type": "number",
          "format": "double"
        },
        "max": {
          "type": "number",
          "format": "double"
        },
        "min": {
          "type": "number",
          "format": "double"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}