{
  "swagger": "2.0",
  "info": {
    "title": "Profile",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "7.2-preview"
  },
  "host": "app.vssps.visualstudio.com",
  "x-ms-vss-area": "Profile",
  "x-ms-vss-resource-area-id": "8ccfef3d-2b87-4e99-8ccb-66e343d2daa8",
  "basePath": "/",
  "tags": [
    {
      "name": "Profiles"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/profile/profiles/{id}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "x-ms-docs-override-version": "7.2-preview.3",
        "x-ms-vss-resource": "profiles",
        "x-ms-vss-method": "GetProfile",
        "x-ms-preview": true,
        "description": "Gets a user profile.",
        "operationId": "Profiles_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the target user profile within the same organization, or 'me' to get the profile of the current authenticated user.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "details",
            "description": "Return public profile information such as display name, email address, country, etc. If false, the withAttributes parameter is ignored.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "withAttributes",
            "description": "If true, gets the attributes (named key-value pairs of arbitrary data) associated with the profile. The partition parameter must also have a value.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "partition",
            "description": "The partition (named group) of attributes to return.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "coreAttributes",
            "description": "A comma-delimited list of core profile attributes to return. Valid values are Email, Avatar, DisplayName, and ContactWithOffers.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "forceRefresh",
            "description": "Not used in this version of the API.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.3"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.profile"
            ]
          }
        ],
        "x-ms-examples": {
          "": {
            "$ref": "./httpExamples/Profiles/GET__profile_profiles_me.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeDescriptor": {
      "description": "Identifies an attribute with a name and a container.",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "containerName": {
          "description": "The container the attribute resides in.",
          "type": "string"
        }
      }
    },
    "AttributesContainer": {
      "description": "Stores a set of named profile attributes.",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "The attributes stored by the container.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ProfileAttribute"
          }
        },
        "containerName": {
          "description": "The name of the container.",
          "type": "string"
        },
        "revision": {
          "description": "The maximum revision number of any attribute within the container.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Avatar": {
      "description": "",
      "type": "object",
      "properties": {
        "isAutoGenerated": {
          "type": "boolean"
        },
        "size": {
          "enum": [
            "small",
            "medium",
            "large"
          ],
          "x-ms-enum": {
            "name": "AvatarSize",
            "values": [
              {
                "value": "small",
                "description": ""
              },
              {
                "value": "medium",
                "description": ""
              },
              {
                "value": "large",
                "description": ""
              }
            ]
          }
        },
        "timeStamp": {
          "type": "string",
          "format": "date-time"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      }
    },
    "CoreProfileAttribute": {
      "description": "A profile attribute which always has a value for each profile.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProfileAttributeBase"
        }
      ],
      "properties": {}
    },
    "CreateProfileContext": {
      "description": "",
      "type": "object",
      "properties": {
        "ciData": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "contactWithOffers": {
          "type": "boolean"
        },
        "countryName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        },
        "hasAccount": {
          "type": "boolean"
        },
        "language": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "profileState": {
          "description": "The current state of the profile.",
          "enum": [
            "custom",
            "customReadOnly",
            "readOnly"
          ],
          "x-ms-enum": {
            "name": "ProfileState",
            "values": [
              {
                "value": "custom",
                "description": "The profile is in use."
              },
              {
                "value": "customReadOnly",
                "description": "The profile is in use, but can only be read."
              },
              {
                "value": "readOnly",
                "description": "The profile may only be read."
              }
            ]
          }
        }
      }
    },
    "GeoRegion": {
      "description": "",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "JObject": {
      "description": "Represents a JSON object.",
      "type": "object",
      "properties": {
        "item": {
          "type": "string",
          "format": "JToken"
        },
        "type": {
          "description": "Gets the node type for this JToken.",
          "type": "string",
          "format": "JTokenType"
        }
      }
    },
    "Profile": {
      "description": "A user profile.",
      "type": "object",
      "properties": {
        "applicationContainer": {
          "description": "The attributes of this profile.",
          "$ref": "#/definitions/AttributesContainer"
        },
        "coreAttributes": {
          "description": "The core attributes of this profile.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/CoreProfileAttribute"
          }
        },
        "coreRevision": {
          "description": "The maximum revision number of any attribute.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The unique identifier of the profile.",
          "type": "string",
          "format": "uuid"
        },
        "profileState": {
          "description": "The current state of the profile.",
          "enum": [
            "custom",
            "customReadOnly",
            "readOnly"
          ],
          "x-ms-enum": {
            "name": "ProfileState",
            "values": [
              {
                "value": "custom",
                "description": "The profile is in use."
              },
              {
                "value": "customReadOnly",
                "description": "The profile is in use, but can only be read."
              },
              {
                "value": "readOnly",
                "description": "The profile may only be read."
              }
            ]
          }
        },
        "revision": {
          "description": "The maximum revision number of any attribute.",
          "type": "integer",
          "format": "int32"
        },
        "timeStamp": {
          "description": "The time at which this profile was last changed.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProfileAttribute": {
      "description": "A named object associated with a profile.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProfileAttributeBase"
        }
      ],
      "properties": {}
    },
    "ProfileAttributeBase": {
      "description": "",
      "type": "object",
      "properties": {
        "descriptor": {
          "description": "The descriptor of the attribute.",
          "$ref": "#/definitions/AttributeDescriptor"
        },
        "revision": {
          "description": "The revision number of the attribute.",
          "type": "integer",
          "format": "int32"
        },
        "timeStamp": {
          "description": "The time the attribute was last changed.",
          "type": "string",
          "format": "date-time"
        },
        "value": {
          "description": "The value of the attribute.",
          "type": "string",
          "format": "T"
        }
      }
    },
    "ProfileRegion": {
      "description": "Country/region information",
      "type": "object",
      "properties": {
        "code": {
          "description": "The two-letter code defined in ISO 3166 for the country/region.",
          "type": "string"
        },
        "name": {
          "description": "Localized country/region name",
          "type": "string"
        }
      }
    },
    "ProfileRegions": {
      "description": "Container of country/region information",
      "type": "object",
      "properties": {
        "noticeContactConsentRequirementRegions": {
          "description": "List of country/region code with contact consent requirement type of notice",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "optOutContactConsentRequirementRegions": {
          "description": "List of country/region code with contact consent requirement type of opt-out",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regions": {
          "description": "List of country/regions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProfileRegion"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialize collections as a single JSON object on the wire.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "description": "The serialized item.",
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of serialized items.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version-preview.1": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '7.2-preview.1' to use this version of the api.",
      "required": true,
      "type": "string"
    },
    "api-Version-preview.2": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '7.2-preview.2' to use this version of the api.",
      "required": true,
      "type": "string"
    },
    "api-Version-preview.3": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '7.2-preview.3' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
    },
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.profile": "Grants the ability to read your profile, accounts, collections, projects, teams, and other top-level organizational artifacts.",
        "vso.profile_write": "Grants the ability to write to your profile."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Azure DevOps REST APIs",
    "url": "https://aka.ms/azure-devops-rest-apis"
  }
}