{
  "swagger": "2.0",
  "info": {
    "title": "TaskAgent",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "TaskAgent",
  "basePath": "/",
  "tags": [
    {
      "name": "Agents"
    },
    {
      "name": "Azurermsubscriptions"
    },
    {
      "name": "Deploymentgroupaccesstoken"
    },
    {
      "name": "Deploymentgroups"
    },
    {
      "name": "Deploymentgroupsmetrics"
    },
    {
      "name": "Deploymentmachinejobrequests"
    },
    {
      "name": "Deploymentmachinemessages"
    },
    {
      "name": "Deploymentpoolaccesstoken"
    },
    {
      "name": "Endpoint"
    },
    {
      "name": "Executionhistory"
    },
    {
      "name": "Icon"
    },
    {
      "name": "Inputvalidation"
    },
    {
      "name": "Machinegroupaccesstoken"
    },
    {
      "name": "Machinegroups"
    },
    {
      "name": "Machines"
    },
    {
      "name": "Maintenancedefinitions"
    },
    {
      "name": "Maintenancejobs"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Packages",
      "description": "At resource version 2, the Packages endpoint returns Package objects and does not support streaming package contents."
    },
    {
      "name": "Queues"
    },
    {
      "name": "Revisions"
    },
    {
      "name": "Securefiles"
    },
    {
      "name": "Serviceendpointproxy"
    },
    {
      "name": "Serviceendpoints"
    },
    {
      "name": "Serviceendpointtypes"
    },
    {
      "name": "Targets"
    },
    {
      "name": "Taskgroups"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Updates"
    },
    {
      "name": "Usercapabilities"
    },
    {
      "name": "Variablegroups"
    },
    {
      "name": "Vstsaadoauth"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/distributedtask/deploymentpoolaccesstoken/{poolId}": {
      "post": {
        "tags": [
          "Deploymentpoolaccesstoken"
        ],
        "x-ms-vss-resource": "deploymentpoolaccesstoken",
        "x-ms-vss-method": "GenerateDeploymentPoolAccessToken",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Generate Deployment Pool Access Token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/endpoint": {
      "post": {
        "tags": [
          "Endpoint"
        ],
        "x-ms-vss-resource": "endpoint",
        "x-ms-vss-method": "QueryEndpoint",
        "x-ms-preview": true,
        "description": "Proxy for a GET request defined by an 'endpoint'. The request is authorized using a service connection. The response is filtered using an XPath/Json based selector.",
        "operationId": "Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Describes the URL to fetch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskDefinitionEndpoint"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/inputvalidation": {
      "post": {
        "tags": [
          "Inputvalidation"
        ],
        "x-ms-vss-resource": "inputvalidation",
        "x-ms-vss-method": "ValidateInputs",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Validate Inputs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputValidationRequest"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InputValidationRequest"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/packages/{packageType}/{platform}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "x-ms-vss-resource": "packages",
        "x-ms-vss-method": "GetPackages",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "packageType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "platform",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PackageMetadata"
              }
            }
         }
        }
      }
    },
    "/_apis/distributedtask/packages/{packageType}/{platform}/{version}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "x-ms-vss-resource": "packages",
        "x-ms-vss-method": "GetPackage",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "packageType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "platform",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageMetadata"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "AddAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "GetAgents",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "agentName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeCapabilities",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAssignedRequest",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "demands",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgent"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "DeleteAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "GetAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCapabilities",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAssignedRequest",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "ReplaceAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Replace Agent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "x-ms-vss-resource": "agents",
        "x-ms-vss-method": "UpdateAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/updates": {
      "put": {
        "tags": [
          "Updates"
        ],
        "x-ms-vss-resource": "updates",
        "x-ms-vss-method": "UpdateAgentUpdateState",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "currentState",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/usercapabilities": {
      "put": {
        "tags": [
          "Usercapabilities"
        ],
        "x-ms-vss-resource": "usercapabilities",
        "x-ms-vss-method": "UpdateAgentUserCapabilities",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancedefinitions": {
      "post": {
        "tags": [
          "Maintenancedefinitions"
        ],
        "x-ms-vss-resource": "maintenancedefinitions",
        "x-ms-vss-method": "CreateAgentPoolMaintenanceDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Maintenancedefinitions"
        ],
        "x-ms-vss-resource": "maintenancedefinitions",
        "x-ms-vss-method": "GetAgentPoolMaintenanceDefinitions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancedefinitions/{definitionId}": {
      "delete": {
        "tags": [
          "Maintenancedefinitions"
        ],
        "x-ms-vss-resource": "maintenancedefinitions",
        "x-ms-vss-method": "DeleteAgentPoolMaintenanceDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Maintenancedefinitions"
        ],
        "x-ms-vss-resource": "maintenancedefinitions",
        "x-ms-vss-method": "GetAgentPoolMaintenanceDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Maintenancedefinitions"
        ],
        "x-ms-vss-resource": "maintenancedefinitions",
        "x-ms-vss-method": "UpdateAgentPoolMaintenanceDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceDefinition"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancejobs": {
      "get": {
        "tags": [
          "Maintenancejobs"
        ],
        "x-ms-vss-resource": "maintenancejobs",
        "x-ms-vss-method": "GetAgentPoolMaintenanceJobs",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Maintenancejobs"
        ],
        "x-ms-vss-resource": "maintenancejobs",
        "x-ms-vss-method": "QueueAgentPoolMaintenanceJob",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Queue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/maintenancejobs/{jobId}": {
      "delete": {
        "tags": [
          "Maintenancejobs"
        ],
        "x-ms-vss-resource": "maintenancejobs",
        "x-ms-vss-method": "DeleteAgentPoolMaintenanceJob",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Maintenancejobs"
        ],
        "x-ms-vss-resource": "maintenancejobs",
        "x-ms-vss-method": "GetAgentPoolMaintenanceJob",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Maintenancejobs"
        ],
        "x-ms-vss-resource": "maintenancejobs",
        "x-ms-vss-method": "UpdateAgentPoolMaintenanceJob",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
          },
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "jobId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentPoolMaintenanceJob"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "x-ms-vss-resource": "messages",
        "x-ms-vss-method": "GetMessage",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "lastMessageId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentMessage"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "x-ms-vss-resource": "messages",
        "x-ms-vss-method": "RefreshAgent",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Refresh Agent",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "agentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/pools/{poolId}/messages/{messageId}": {
      "delete": {
        "tags": [
          "Messages"
        ],
        "x-ms-vss-resource": "messages",
        "x-ms-vss-method": "DeleteMessage",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "poolId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "messageId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/serviceendpointproxy/azurermsubscriptions": {
      "get": {
        "tags": [
          "Azurermsubscriptions"
        ],
        "x-ms-vss-resource": "azurermsubscriptions",
        "x-ms-vss-method": "GetAzureSubscriptions",
        "x-ms-preview": true,
        "description": "Returns list of azure subscriptions",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AzureSubscriptionQueryResult"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/serviceendpointproxy/vstsaadoauth": {
      "post": {
        "tags": [
          "Vstsaadoauth"
        ],
        "x-ms-vss-resource": "vstsaadoauth",
        "x-ms-vss-method": "AcquireAccessToken",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Acquire Access Token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AadOauthTokenRequest"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AadOauthTokenResult"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Vstsaadoauth"
        ],
        "x-ms-vss-resource": "vstsaadoauth",
        "x-ms-vss-method": "GetVstsAadTenantId",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/_apis/distributedtask/serviceendpointtypes": {
      "get": {
        "tags": [
          "Serviceendpointtypes"
        ],
        "x-ms-vss-resource": "serviceendpointtypes",
        "x-ms-vss-method": "GetServiceEndpointTypes",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scheme",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceEndpointType"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.serviceendpoint"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}": {
      "delete": {
        "tags": [
          "Tasks"
        ],
        "x-ms-vss-resource": "tasks",
        "x-ms-vss-method": "DeleteTaskDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "x-ms-vss-resource": "tasks",
        "x-ms-vss-method": "GetTaskDefinitions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "visibility",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "scopeLocal",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}/{versionString}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "x-ms-vss-resource": "tasks",
        "x-ms-vss-method": "GetTaskDefinition",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "versionString",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "visibility",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "scopeLocal",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/_apis/distributedtask/tasks/{taskId}/{versionString}/icon": {
      "get": {
        "tags": [
          "Icon"
        ],
        "x-ms-vss-resource": "icon",
        "x-ms-vss-method": "GetTaskIcon",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "versionString",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "StreamContent"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroupaccesstoken/{deploymentGroupId}": {
      "post": {
        "tags": [
          "Deploymentgroupaccesstoken"
        ],
        "x-ms-vss-resource": "deploymentgroupaccesstoken",
        "x-ms-vss-method": "GenerateDeploymentGroupAccessToken",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Generate Deployment Group Access Token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups": {
      "post": {
        "tags": [
          "Deploymentgroups"
        ],
        "x-ms-vss-resource": "deploymentgroups",
        "x-ms-vss-method": "AddDeploymentGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Deploymentgroups"
        ],
        "x-ms-vss-resource": "deploymentgroups",
        "x-ms-vss-method": "GetDeploymentGroups",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupActionFilter"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupExpands"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "ids",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentGroup"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}": {
      "delete": {
        "tags": [
          "Deploymentgroups"
        ],
        "x-ms-vss-resource": "deploymentgroups",
        "x-ms-vss-method": "DeleteDeploymentGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Deploymentgroups"
        ],
        "x-ms-vss-resource": "deploymentgroups",
        "x-ms-vss-method": "GetDeploymentGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupActionFilter"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentGroupExpands"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Deploymentgroups"
        ],
        "x-ms-vss-resource": "deploymentgroups",
        "x-ms-vss-method": "UpdateDeploymentGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentGroup"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/deploymentmachinejobrequests": {
      "get": {
        "tags": [
          "Deploymentmachinejobrequests"
        ],
        "x-ms-vss-resource": "deploymentmachinejobrequests",
        "x-ms-vss-method": "GetAgentRequestsForDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get Agent Requests For Deployment Machine",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "completedRequestCount",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentJobRequest"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/deploymentmachinemessages": {
      "post": {
        "tags": [
          "Deploymentmachinemessages"
        ],
        "x-ms-vss-resource": "deploymentmachinemessages",
        "x-ms-vss-method": "RefreshDeploymentMachines",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Refresh Deployment Machines",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/machines": {
      "post": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "AddDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "GetDeploymentMachines",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get Deployment Machines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tags",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentMachineExpands"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "UpdateDeploymentMachines",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update Deployment Machines",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/machines/{machineId}": {
      "delete": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "DeleteDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "GetDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentMachineExpands"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "ReplaceDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Replace Deployment Machine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "UpdateDeploymentMachine",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update Deployment Machine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "machineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/targets": {
      "post": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "AddDeploymentTarget",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "GetDeploymentTargets",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tags",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "partialNameMatch",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentTargetExpands"
          },
          {
            "in": "query",
            "name": "agentStatus",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentStatusFilter"
          },
          {
            "in": "query",
            "name": "agentJobResult",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentJobResultFilter"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "UpdateDeploymentTargets",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update Deployment Targets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/{deploymentGroupId}/targets/{targetId}": {
      "delete": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "DeleteDeploymentTarget",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "targetId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "GetDeploymentTarget",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "targetId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentTargetExpands"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "ReplaceDeploymentTarget",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Replace Deployment Target",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "targetId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Targets"
        ],
        "x-ms-vss-resource": "targets",
        "x-ms-vss-method": "UpdateDeploymentTarget",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update Deployment Target",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "deploymentGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "targetId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachine"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/deploymentgroups/deploymentgroupsmetrics": {
      "get": {
        "tags": [
          "Deploymentgroupsmetrics"
        ],
        "x-ms-vss-resource": "deploymentgroupsmetrics",
        "x-ms-vss-method": "GetDeploymentGroupsMetrics",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "deploymentGroupName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentGroupMetrics"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroupaccesstoken/{machineGroupId}": {
      "post": {
        "tags": [
          "Machinegroupaccesstoken"
        ],
        "x-ms-vss-resource": "machinegroupaccesstoken",
        "x-ms-vss-method": "GenerateDeploymentMachineGroupAccessToken",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Generate Deployment Machine Group Access Token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups": {
      "post": {
        "tags": [
          "Machinegroups"
        ],
        "x-ms-vss-resource": "machinegroups",
        "x-ms-vss-method": "AddDeploymentMachineGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Machinegroups"
        ],
        "x-ms-vss-resource": "machinegroups",
        "x-ms-vss-method": "GetDeploymentMachineGroups",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "machineGroupName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "MachineGroupActionFilter"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachineGroup"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}": {
      "delete": {
        "tags": [
          "Machinegroups"
        ],
        "x-ms-vss-resource": "machinegroups",
        "x-ms-vss-method": "DeleteDeploymentMachineGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Machinegroups"
        ],
        "x-ms-vss-resource": "machinegroups",
        "x-ms-vss-method": "GetDeploymentMachineGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "MachineGroupActionFilter"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Machinegroups"
        ],
        "x-ms-vss-resource": "machinegroups",
        "x-ms-vss-method": "UpdateDeploymentMachineGroup",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeploymentMachineGroup"
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "GetDeploymentMachineGroupMachines",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get Deployment Machine Group Machines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tagFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Machines"
        ],
        "x-ms-vss-resource": "machines",
        "x-ms-vss-method": "UpdateDeploymentMachineGroupMachines",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update Deployment Machine Group Machines",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "machineGroupId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeploymentMachine"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/distributedtask/queues": {
      "post": {
        "tags": [
          "Queues"
        ],
        "x-ms-vss-resource": "queues",
        "x-ms-vss-method": "AddAgentQueue",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Queues"
        ],
        "x-ms-vss-resource": "queues",
        "x-ms-vss-method": "CreateTeamProject",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Queues"
        ],
        "x-ms-vss-resource": "queues",
        "x-ms-vss-method": "GetAgentQueues",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get Agent Queues",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queueName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskAgentQueue"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/queues/{queueId}": {
      "delete": {
        "tags": [
          "Queues"
        ],
        "x-ms-vss-resource": "queues",
        "x-ms-vss-method": "DeleteAgentQueue",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Queues"
        ],
        "x-ms-vss-resource": "queues",
        "x-ms-vss-method": "GetAgentQueue",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "queueId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "TaskAgentQueueActionFilter"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaskAgentQueue"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.agentpools"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/distributedtask/securefiles": {
      "get": {
        "tags": [
          "Securefiles"
        ],
        "x-ms-vss-resource": "securefiles",
        "x-ms-vss-method": "GetSecureFiles",
        "x-ms-preview": true,
        "description": "Get secure files",
        "operationId": "Get Secure Files",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "namePattern",
            "description": "Name of the secure file to match. Can include wildcards to match multiple files.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeDownloadTickets",
            "description": "If includeDownloadTickets is true and the caller has permissions, a download ticket for each secure file is included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "actionFilter",
            "description": "Filter by secure file permissions for View, Manage or Use action. Defaults to View.",
            "required": false,
            "type": "string",
            "format": "SecureFileActionFilter"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecureFile"
              }
            }
         }
        }
      },
      "post": {
        "tags": [
          "Securefiles"
        ],
        "x-ms-vss-resource": "securefiles",
        "x-ms-vss-method": "QuerySecureFilesByProperties",
        "x-ms-preview": true,
        "description": "Query secure files using a name pattern and a condition on file properties.",
        "operationId": "Query",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The main condition syntax is described [here](https://go.microsoft.com/fwlink/?linkid=842996). Use the *property('property-name')* function to access the value of the specified property of a secure file. It returns null if the property is not set. E.g. ``` and( eq( property('devices'), '2' ), in( property('provisioning profile type'), 'ad hoc', 'development' ) ) ```",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
[...]
