{
  "swagger": "2.0",
  "info": {
    "title": "TaskAgent",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1-preview"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "TaskAgent",
  "basePath": "/",
  "tags": [
  ],
  "schemes": [
    "https"
  ],
  "paths": {
  },
  "definitions": {
    "AadOauthTokenRequest": {
      "description": "",
      "type": "object",
      "properties": {
        "refresh": {
          "type": "boolean"
        },
        "resource": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "AadOauthTokenResult": {
      "description": "",
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "refreshTokenCache": {
          "type": "string"
        }
      }
    },
    "AgentChangeEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "agent": {
          "$ref": "#/definitions/TaskAgent"
        },
        "eventType": {
          "type": "string"
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPoolReference"
        }
      }
    },
    "AgentJobRequestMessage": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobRequestMessage"
        }
      ],
      "properties": {
        "lockedUntil": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "lockToken": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "requestId": {
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "tasks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInstance"
          }
        }
      }
    },
    "AgentMigrationMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "accessToken": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AgentPoolEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPool"
        }
      }
    },
    "AgentQueueEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "queue": {
          "$ref": "#/definitions/TaskAgentQueue"
        }
      }
    },
    "AgentQueuesEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "queues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskAgentQueue"
          }
        }
      }
    },
    "AgentRefreshMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "agentId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "targetVersion": {
          "readOnly": true,
          "type": "string"
        },
        "timeout": {
          "readOnly": true,
          "type": "string",
          "format": "TimeSpan"
        }
      }
    },
    "AuthenticationSchemeReference": {
      "description": "",
      "type": "object",
      "properties": {
        "inputs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "AuthorizationHeader": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "AzureKeyVaultPermission": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourcePermission"
        }
      ],
      "properties": {
        "vault": {
          "type": "string"
        }
      }
    },
    "AzureKeyVaultVariableGroupProviderData": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariableGroupProviderData"
        }
      ],
      "properties": {
        "lastRefreshedOn": {
          "type": "string",
          "format": "date-time"
        },
        "serviceEndpointId": {
          "type": "string",
          "format": "uuid"
        },
        "vault": {
          "type": "string"
        }
      }
    },
    "AzureKeyVaultVariableValue": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VariableValue"
        }
      ],
      "properties": {
        "contentType": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "expires": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "AzurePermission": {
      "description": "",
      "type": "object",
      "properties": {
        "provisioned": {
          "type": "boolean"
        },
        "resourceProvider": {
          "type": "string"
        }
      }
    },
    "AzureResourcePermission": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzurePermission"
        }
      ],
      "properties": {
        "resourceGroup": {
          "type": "string"
        }
      }
    },
    "AzureRoleAssignmentPermission": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzurePermission"
        }
      ],
      "properties": {
        "roleAssignmentId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "AzureSpnOperationStatus": {
      "description": "",
      "type": "object",
      "properties": {
        "state": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        }
      }
    },
    "AzureSubscription": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "subscriptionTenantId": {
          "type": "string"
        },
        "subscriptionTenantName": {
          "type": "string"
        }
      }
    },
    "AzureSubscriptionQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureSubscription"
          }
        }
      }
    },
    "ChildObject": {
      "description": "",
      "type": "object",
      "properties": {
      }
    },
    "DataSource": {
      "description": "",
      "type": "object",
      "properties": {
        "authenticationScheme": {
          "$ref": "#/definitions/AuthenticationSchemeReference"
        },
        "endpointUrl": {
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthorizationHeader"
          }
        },
        "name": {
          "type": "string"
        },
        "resourceUrl": {
          "type": "string"
        },
        "resultSelector": {
          "type": "string"
        }
      }
    },
    "DataSourceBinding": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataSourceBindingBase"
        }
      ],
      "properties": {
      }
    },
    "DataSourceBindingBase": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChildObject"
        }
      ],
      "properties": {
        "dataSourceName": {
          "type": "string"
        },
        "endpointId": {
          "type": "string"
        },
        "endpointUrl": {
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthorizationHeader"
          }
        },
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resultSelector": {
          "type": "string"
        },
        "resultTemplate": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "DataSourceDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceName": {
          "type": "string"
        },
        "dataSourceUrl": {
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthorizationHeader"
          }
        },
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceUrl": {
          "type": "string"
        },
        "resultSelector": {
          "type": "string"
        }
      }
    },
    "Demand": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DependencyBinding": {
      "description": "",
      "type": "object",
      "properties": {
        "key": {
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DependencyData": {
      "description": "",
      "type": "object",
      "properties": {
        "input": {
          "type": "string"
        },
        "map": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "DependsOn": {
      "description": "",
      "type": "object",
      "properties": {
        "input": {
          "type": "string"
        },
        "map": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DependencyBinding"
          }
        }
      }
    },
    "DeploymentGroup": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentGroupReference"
        }
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "machineCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "machines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentMachine"
          }
        },
        "machineTags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentGroupMetrics": {
      "description": "",
      "type": "object",
      "properties": {
        "columnsHeader": {
          "$ref": "#/definitions/MetricsColumnsHeader"
        },
        "deploymentGroup": {
          "$ref": "#/definitions/DeploymentGroupReference"
        },
        "rows": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricsRow"
          }
        }
      }
    },
    "DeploymentGroupReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        }
      }
    },
    "DeploymentMachine": {
      "description": "",
      "type": "object",
      "properties": {
        "agent": {
          "$ref": "#/definitions/TaskAgent"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentMachineGroup": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentMachineGroupReference"
        }
      ],
      "properties": {
        "machines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentMachine"
          }
        },
        "size": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeploymentMachineGroupReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        }
      }
    },
    "DeploymentMachinesChangeEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "machineGroupReference": {
          "$ref": "#/definitions/DeploymentGroupReference"
        },
        "machines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentMachine"
          }
        }
      }
    },
    "DeploymentPoolSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "deploymentGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentGroupReference"
          }
        },
        "offlineAgentsCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "onlineAgentsCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPoolReference"
        }
      }
    },
    "DiagnosticLogMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "agentId": {
          "type": "integer",
          "format": "int32"
        },
        "agentName": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "phaseName": {
          "type": "string"
        },
        "phaseResult": {
          "type": "string"
        },
        "poolId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EndpointAuthorization": {
      "description": "",
      "type": "object",
      "properties": {
        "parameters": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scheme": {
          "type": "string"
        }
      }
    },
    "EndpointUrl": {
      "description": "",
      "type": "object",
      "properties": {
        "dependsOn": {
          "$ref": "#/definitions/DependsOn"
        },
        "displayName": {
          "type": "string"
        },
        "helpText": {
          "type": "string"
        },
        "isVisible": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "EventsConfig": {
      "description": "",
      "type": "object",
      "properties": {
      }
    },
    "ExpressionValidationItem": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationItem"
        }
      ],
      "properties": {
      }
    },
    "HelpLink": {
      "description": "",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "InputBindingContext": {
      "description": "",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the input",
          "type": "string"
        }
      }
    },
    "InputDescriptor": {
      "description": "Describes an input for subscriptions.",
      "type": "object",
      "properties": {
        "dependencyInputIds": {
          "description": "The ids of all inputs that the value of this input is dependent on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of what this input is used for",
          "type": "string"
        },
        "groupName": {
          "description": "The group localized name to which this input belongs and can be shown as a header for the container that will include all the inputs in the group.",
          "type": "string"
        },
        "hasDynamicValueInformation": {
          "description": "If true, the value information for this input is dynamic and should be fetched when the value of dependency inputs change.",
          "type": "boolean"
        },
        "id": {
          "description": "Identifier for the subscription input",
          "type": "string"
        },
        "inputMode": {
          "description": "Mode in which the value of this input should be entered",
          "enum": [
            "none",
            "textBox",
            "passwordBox",
            "combo",
            "radioButtons",
            "checkBox",
            "textArea"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.FormInput.InputMode"
          }
        },
        "isConfidential": {
          "description": "Gets whether this input is confidential, such as for a password or application key",
          "type": "boolean"
        },
        "name": {
          "description": "Localized name which can be shown as a label for the subscription input",
          "type": "string"
        },
        "properties": {
          "description": "Custom properties for the input which can be used by the service provider",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "type": {
          "description": "Underlying data type for the input value. When this value is specified, InputMode, Validation and Values are optional.",
          "type": "string"
        },
        "useInDefaultDescription": {
          "description": "Gets whether this input is included in the default generated action description.",
          "type": "boolean"
        },
        "validation": {
          "description": "Information to use to validate this input's value",
          "$ref": "#/definitions/InputValidation"
        },
        "valueHint": {
          "description": "A hint for input value. It can be used in the UI as the input placeholder.",
          "type": "string"
        },
        "values": {
          "description": "Information about possible values for this input",
          "$ref": "#/definitions/InputValues"
        }
      }
    },
    "InputValidation": {
      "description": "Describes what values are valid for a subscription input",
      "type": "object",
      "properties": {
        "dataType": {
          "enum": [
            "none",
            "string",
            "number",
            "boolean",
            "guid",
            "uri"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.FormInput.InputDataType"
          }
        },
        "isRequired": {
          "type": "boolean"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32"
        },
        "maxValue": {
          "type": "string",
          "format": "decimal"
        },
        "minLength": {
          "type": "integer",
          "format": "int32"
        },
        "minValue": {
          "type": "string",
          "format": "decimal"
        },
        "pattern": {
          "type": "string"
        },
        "patternMismatchErrorMessage": {
          "type": "string"
        }
      }
    },
    "InputValidationItem": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationItem"
        }
      ],
      "properties": {
        "context": {
          "description": "Provides binding context for the expression to evaluate",
          "$ref": "#/definitions/InputBindingContext"
        }
      }
    },
    "InputValidationRequest": {
      "description": "",
      "type": "object",
      "properties": {
        "inputs": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ValidationItem"
          }
        }
      }
    },
    "InputValue": {
      "description": "Information about a single value for an input",
      "type": "object",
      "properties": {
        "data": {
          "description": "Any other data about this input",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "displayValue": {
          "description": "The text to show for the display of this value",
          "type": "string"
        },
        "value": {
          "description": "The value to store for this input",
          "type": "string"
        }
      }
    },
    "InputValues": {
      "description": "Information about the possible/allowed values for a given subscription input",
      "type": "object",
      "properties": {
        "defaultValue": {
          "description": "The default value to use for this input",
          "type": "string"
        },
        "error": {
          "description": "Errors encountered while computing dynamic values.",
          "$ref": "#/definitions/InputValuesError"
        },
        "inputId": {
          "description": "The id of the input",
          "type": "string"
        },
        "isDisabled": {
          "description": "Should this input be disabled",
          "type": "boolean"
        },
        "isLimitedToPossibleValues": {
          "description": "Should the value be restricted to one of the values in the PossibleValues (True) or are the values in PossibleValues just a suggestion (False)",
          "type": "boolean"
        },
        "isReadOnly": {
          "description": "Should this input be made read-only",
          "type": "boolean"
        },
        "possibleValues": {
          "description": "Possible values that this input can take",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputValue"
          }
        }
      }
    },
    "InputValuesError": {
      "description": "Error information related to a subscription input value.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The error message.",
          "type": "string"
        }
      }
    },
    "Issue": {
      "description": "",
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string"
        },
        "type": {
          "enum": [
            "error",
            "warning"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.IssueType"
          }
        }
      }
    },
    "JobAssignedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobEvent"
        }
      ],
      "properties": {
        "request": {
          "$ref": "#/definitions/TaskAgentJobRequest"
        }
      }
    },
    "JobCancelMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "jobId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "timeout": {
          "readOnly": true,
          "type": "string",
          "format": "TimeSpan"
        }
      }
    },
    "JobCompletedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobEvent"
        }
      ],
      "properties": {
        "requestId": {
          "type": "integer",
          "format": "int64"
        },
        "result": {
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskResult"
          }
        }
      }
    },
    "JobEnvironment": {
      "description": "Represents the context of variables and vectors for a job request.",
      "type": "object",
      "properties": {
        "endpoints": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceEndpoint"
          }
        },
        "mask": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MaskHint"
          }
        },
        "options": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/JobOption"
          }
        },
        "secureFiles": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecureFile"
          }
        },
        "systemConnection": {
          "description": "Gets or sets the endpoint used for communicating back to the calling service.",
          "$ref": "#/definitions/ServiceEndpoint"
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobEvent": {
      "description": "",
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "JobEventConfig": {
      "description": "",
      "type": "object",
      "properties": {
        "timeout": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "JobEventsConfig": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventsConfig"
        }
      ],
      "properties": {
        "jobAssigned": {
          "$ref": "#/definitions/JobEventConfig"
        },
        "jobCompleted": {
          "$ref": "#/definitions/JobEventConfig"
        },
        "jobStarted": {
          "$ref": "#/definitions/JobEventConfig"
        }
      }
    },
    "JObject": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "JContainer"
        }
      ],
      "properties": {
        "item": {
          "$ref": "#/definitions/JToken"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "format": "JTokenType"
        }
      }
    },
    "JobOption": {
      "description": "Represents an option that may affect the way an agent runs the job.",
      "type": "object",
      "properties": {
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Gets the id of the option.",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "JobRequestMessage": {
      "description": "",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "#/definitions/JobEnvironment"
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "jobName": {
          "readOnly": true,
          "type": "string"
        },
        "jobRefName": {
          "readOnly": true,
          "type": "string"
        },
        "messageType": {
          "readOnly": true,
          "type": "string"
        },
        "plan": {
          "$ref": "#/definitions/TaskOrchestrationPlanReference"
        },
        "timeline": {
          "$ref": "#/definitions/TimelineReference"
        }
      }
    },
    "JobStartedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobEvent"
        }
      ],
      "properties": {
      }
    },
    "JToken": {
      "description": "",
      "type": "object",
      "properties": {
        "first": {
          "$ref": "#/definitions/JToken"
        },
        "hasValues": {
          "readOnly": true,
          "type": "boolean"
        },
        "item": {
          "$ref": "#/definitions/JToken"
        },
        "last": {
          "$ref": "#/definitions/JToken"
        },
        "next": {
          "$ref": "#/definitions/JToken"
        },
        "parent": {
          "readOnly": true,
          "type": "string",
          "format": "JContainer"
        },
        "path": {
          "readOnly": true,
          "type": "string"
        },
        "previous": {
          "$ref": "#/definitions/JToken"
        },
        "root": {
          "$ref": "#/definitions/JToken"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "format": "JTokenType"
        }
      }
    },
    "MaskHint": {
      "description": "",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "variable",
            "regex"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.MaskType"
          }
        },
        "value": {
          "type": "string"
        }
      }
    },
    "MetricsColumnMetaData": {
      "description": "",
      "type": "object",
      "properties": {
        "columnName": {
          "readOnly": true,
          "type": "string"
        },
        "columnValueType": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "MetricsColumnsHeader": {
      "description": "",
      "type": "object",
      "properties": {
        "dimensions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricsColumnMetaData"
          }
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricsColumnMetaData"
          }
        }
      }
    },
    "MetricsRow": {
      "description": "",
      "type": "object",
      "properties": {
        "dimensions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PackageMetadata": {
      "description": "Represents a downloadable package.",
      "type": "object",
      "properties": {
        "createdOn": {
          "description": "The date the package was created",
          "type": "string",
          "format": "date-time"
        },
        "downloadUrl": {
          "description": "A direct link to download the package.",
          "type": "string"
        },
        "filename": {
          "description": "The UI uses this to display instructions, i.e. \"unzip MyAgent.zip\"",
          "type": "string"
        },
        "hashValue": {
          "description": "MD5 hash as a base64 string",
          "type": "string"
        },
        "infoUrl": {
          "description": "A link to documentation",
          "type": "string"
        },
        "platform": {
          "description": "The platform (win7, linux, etc.)",
          "type": "string"
        },
        "type": {
          "description": "The type of package (e.g. \"agent\")",
          "type": "string"
        },
        "version": {
          "description": "The package version.",
          "$ref": "#/definitions/PackageVersion"
        }
      }
    },
    "PackageVersion": {
      "description": "",
      "type": "object",
      "properties": {
        "major": {
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "type": "integer",
          "format": "int32"
        },
        "patch": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlanEnvironment": {
      "description": "",
      "type": "object",
      "properties": {
        "mask": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MaskHint"
          }
        },
        "options": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/JobOption"
          }
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProjectReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "PropertiesCollection": {
      "description": "The class represents a property bag as a collection of key-value pairs. Values of all primitive types (any type with a `TypeCode != TypeCode.Object`) except for `DBNull` are accepted. Values of type Byte[], Int32, Double, DateType and String preserve their type, other primitives are retuned as a String. Byte[] expected as base64 encoded string.",
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of properties in the collection.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "description": "The set of keys in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "description": "The set of values in the collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublishTaskGroupMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "parentDefinitionRevision": {
          "type": "integer",
          "format": "int32"
        },
        "preview": {
          "type": "boolean"
        },
        "taskGroupId": {
          "type": "string",
          "format": "uuid"
        },
        "taskGroupRevision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ResourceUsage": {
      "description": "",
      "type": "object",
      "properties": {
        "runningPlanGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOrchestrationPlanGroup"
          }
        },
        "totalCount": {
          "type": "integer",
          "format": "int32"
        },
        "usedCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ResultTransformationDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "resultTemplate": {
          "type": "string"
        }
      }
    },
    "SecureFile": {
      "description": "",
      "type": "object",
      "properties": {
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "modifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ticket": {
          "type": "string"
        }
      }
    },
    "SendJobResponse": {
      "description": "",
      "type": "object",
      "properties": {
        "events": {
          "$ref": "#/definitions/JobEventsConfig"
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ServerExecutionDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "events": {
          "$ref": "#/definitions/EventsConfig"
        },
        "handlerName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ServerTaskRequestMessage": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobRequestMessage"
        }
      ],
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/TaskDefinition"
        },
        "taskInstance": {
          "$ref": "#/definitions/TaskInstance"
        }
      }
    },
    "ServiceEndpoint": {
      "description": "Represents an endpoint which may be used by an orchestration job.",
      "type": "object",
      "properties": {
        "administratorsGroup": {
          "$ref": "#/definitions/IdentityRef"
        },
        "authorization": {
          "description": "Gets or sets the authorization data for talking to the endpoint.",
          "$ref": "#/definitions/EndpointAuthorization"
        },
        "createdBy": {
          "description": "The Gets or sets Identity reference for the user who created the Service endpoint",
          "$ref": "#/definitions/IdentityRef"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Gets or Sets description of endpoint",
          "type": "string"
        },
        "groupScopeId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "id": {
          "description": "Gets or sets the identifier of this endpoint.",
          "type": "string",
          "format": "uuid"
        },
        "isReady": {
          "description": "EndPoint state indictor",
          "type": "boolean"
        },
        "name": {
          "description": "Gets or sets the friendly name of the endpoint.",
          "type": "string"
        },
        "operationStatus": {
          "description": "Error message during creation/deletion of endpoint",
          "$ref": "#/definitions/JObject"
        },
        "readersGroup": {
          "$ref": "#/definitions/IdentityRef"
        },
        "type": {
          "description": "Gets or sets the type of the endpoint.",
          "type": "string"
        },
        "url": {
          "description": "Gets or sets the url of the endpoint.",
          "type": "string"
        }
      }
    },
    "ServiceEndpointAuthenticationScheme": {
      "description": "",
      "type": "object",
      "properties": {
        "authorizationHeaders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthorizationHeader"
          }
        },
        "displayName": {
          "type": "string"
        },
        "inputDescriptors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputDescriptor"
          }
        },
        "scheme": {
          "type": "string"
        }
      }
    },
    "ServiceEndpointDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "authorization": {
          "$ref": "#/definitions/EndpointAuthorization"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ServiceEndpointExecutionData": {
      "description": "",
      "type": "object",
      "properties": {
        "definition": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "finishTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "owner": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "planType": {
          "readOnly": true,
          "type": "string"
        },
        "result": {
          "readOnly": true,
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskResult"
          }
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ServiceEndpointExecutionRecord": {
      "description": "",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ServiceEndpointExecutionData"
        },
        "endpointId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ServiceEndpointExecutionRecordsInput": {
      "description": "",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ServiceEndpointExecutionData"
        },
        "endpointIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    },
    "ServiceEndpointRequest": {
      "description": "",
      "type": "object",
      "properties": {
        "dataSourceDetails": {
          "$ref": "#/definitions/DataSourceDetails"
        },
        "resultTransformationDetails": {
          "$ref": "#/definitions/ResultTransformationDetails"
        },
        "serviceEndpointDetails": {
          "$ref": "#/definitions/ServiceEndpointDetails"
        }
      }
    },
    "ServiceEndpointRequestResult": {
      "description": "",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "result": {
          "$ref": "#/definitions/JToken"
        },
        "statusCode": {
          "enum": [
            "continue",
            "switchingProtocols",
            "oK",
            "created",
            "accepted",
            "nonAuthoritativeInformation",
            "noContent",
            "resetContent",
            "partialContent",
            "multipleChoices",
            "ambiguous",
            "movedPermanently",
            "moved",
            "found",
            "redirect",
            "seeOther",
            "redirectMethod",
            "notModified",
            "useProxy",
            "unused",
            "temporaryRedirect",
            "redirectKeepVerb",
            "badRequest",
            "unauthorized",
            "paymentRequired",
            "forbidden",
            "notFound",
            "methodNotAllowed",
            "notAcceptable",
            "proxyAuthenticationRequired",
            "requestTimeout",
            "conflict",
            "gone",
            "lengthRequired",
            "preconditionFailed",
            "requestEntityTooLarge",
            "requestUriTooLong",
            "unsupportedMediaType",
            "requestedRangeNotSatisfiable",
            "expectationFailed",
            "upgradeRequired",
            "internalServerError",
            "notImplemented",
            "badGateway",
            "serviceUnavailable",
            "gatewayTimeout",
            "httpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "System.Net.HttpStatusCode"
          }
        }
      }
    },
    "ServiceEndpointType": {
      "description": "",
      "type": "object",
      "properties": {
        "authenticationSchemes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceEndpointAuthenticationScheme"
          }
        },
        "dataSources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSource"
          }
        },
        "dependencyData": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DependencyData"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "endpointUrl": {
          "$ref": "#/definitions/EndpointUrl"
        },
        "helpLink": {
          "$ref": "#/definitions/HelpLink"
        },
        "helpMarkDown": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "inputDescriptors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputDescriptor"
          }
        },
        "name": {
          "type": "string"
        },
        "trustedHosts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uiContributionId": {
          "type": "string"
        }
      }
    },
    "TaskAgent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskAgentReference"
        }
      ],
      "properties": {
        "assignedRequest": {
          "description": "Gets the request which is currently assigned to this agent.",
          "$ref": "#/definitions/TaskAgentJobRequest"
        },
        "authorization": {
          "description": "Gets or sets the authorization information for this agent.",
          "$ref": "#/definitions/TaskAgentAuthorization"
        },
        "createdOn": {
          "description": "Gets the date on which this agent was created.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "lastCompletedRequest": {
          "description": "Gets the last request which was completed by this agent.",
          "$ref": "#/definitions/TaskAgentJobRequest"
        },
        "maxParallelism": {
          "description": "Gets or sets the maximum job parallelism allowed on this host.",
          "type": "integer",
          "format": "int32"
        },
        "pendingUpdate": {
          "description": "Gets the pending update for this agent.",
          "$ref": "#/definitions/TaskAgentUpdate"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "statusChangedOn": {
          "description": "Gets the date on which the last connectivity status change occurred.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "systemCapabilities": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userCapabilities": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TaskAgentAuthorization": {
      "description": "Provides data necessary for authorizing the agent using OAuth 2.0 authentication flows.",
      "type": "object",
      "properties": {
        "authorizationUrl": {
          "description": "Gets or sets the endpoint used to obtain access tokens from the configured token service.",
          "type": "string"
        },
        "clientId": {
          "description": "Gets or sets the client identifier for this agent.",
          "type": "string",
          "format": "uuid"
        },
        "publicKey": {
          "description": "Gets or sets the public key used to verify the identity of this agent.",
          "$ref": "#/definitions/TaskAgentPublicKey"
        }
      }
    },
    "TaskAgentDelaySource": {
      "description": "",
      "type": "object",
      "properties": {
        "delays": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "TimeSpan"
          }
        },
        "taskAgent": {
          "$ref": "#/definitions/TaskAgentReference"
        }
      }
    },
    "TaskAgentJobRequest": {
      "description": "",
      "type": "object",
      "properties": {
        "agentDelays": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskAgentDelaySource"
          }
        },
        "assignTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "definition": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "expectedDuration": {
          "type": "string",
          "format": "TimeSpan"
        },
        "finishTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "hostId": {
          "type": "string",
          "format": "uuid"
        },
        "jobId": {
          "type": "string",
          "format": "uuid"
        },
        "jobName": {
          "type": "string"
        },
        "lockedUntil": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "matchedAgents": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskAgentReference"
          }
        },
        "owner": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "planGroup": {
          "type": "string"
        },
        "planId": {
          "type": "string",
          "format": "uuid"
        },
        "planType": {
          "type": "string"
        },
        "poolId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "queueId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "queueTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "receiveTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "requestId": {
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "reservedAgent": {
          "$ref": "#/definitions/TaskAgentReference"
        },
        "result": {
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskResult"
          }
        },
        "scopeId": {
          "type": "string",
          "format": "uuid"
        },
        "serviceOwner": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskAgentManualUpdate": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskAgentUpdateReason"
        }
      ],
      "properties": {
      }
    },
    "TaskAgentMessage": {
      "description": "Provides a contract for receiving messages from the task orchestrator.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Gets or sets the body of the message. If the <c>IV</c> property is provided the body will need to be decrypted using the <c>TaskAgentSession.EncryptionKey</c> value in addition to the <c>IV</c>.",
          "type": "string"
        },
        "iV": {
          "description": "Gets or sets the intialization vector used to encrypt this message.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "messageId": {
          "description": "Gets or sets the message identifier.",
          "type": "integer",
          "format": "int64"
        },
        "messageType": {
          "description": "Gets or sets the message type, describing the data contract found in <c>TaskAgentMessage.Body</c>.",
          "type": "string"
        }
      }
    },
    "TaskAgentMinAgentVersionRequiredUpdate": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskAgentUpdateReason"
        }
      ],
      "properties": {
        "jobDefinition": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "jobOwner": {
          "$ref": "#/definitions/TaskOrchestrationOwner"
        },
        "minAgentVersion": {
          "$ref": "#/definitions/Demand"
        }
      }
    },
    "TaskAgentPool": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskAgentPoolReference"
        }
      ],
      "properties": {
        "autoProvision": {
          "description": "Gets or sets a value indicating whether or not a queue should be automatically provisioned for each project collection or not.",
          "type": "boolean"
        },
        "createdBy": {
          "description": "Gets the identity who created this pool. The creator of the pool is automatically added into the administrators group for the pool on creation.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Gets the date/time of the pool creation.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        }
      }
    },
    "TaskAgentPoolMaintenanceDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable maintenance",
          "type": "boolean"
        },
        "id": {
          "description": "Id",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "jobTimeoutInMinutes": {
          "description": "Maintenance job timeout per agent",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentAgentsPercentage": {
          "description": "Max percentage of agents within a pool running maintenance job at given time",
          "type": "integer",
          "format": "int32"
        },
        "options": {
          "$ref": "#/definitions/TaskAgentPoolMaintenanceOptions"
        },
        "pool": {
          "description": "Pool reference for the maintenance definition",
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/TaskAgentPoolMaintenanceRetentionPolicy"
        },
        "scheduleSetting": {
          "$ref": "#/definitions/TaskAgentPoolMaintenanceSchedule"
        }
      }
    },
    "TaskAgentPoolMaintenanceJob": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The maintenance definition for the maintenance job",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "The total error counts during the maintenance job",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "finishTime": {
          "description": "Time that the maintenance job was completed",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "jobId": {
          "description": "Id of the maintenance job",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "logsDownloadUrl": {
          "description": "The log download url for the maintenance job",
          "readOnly": true,
          "type": "string"
        },
        "orchestrationId": {
          "description": "Orchestration/Plan Id for the maintenance job",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "pool": {
          "description": "Pool reference for the maintenance job",
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "queueTime": {
          "description": "Time that the maintenance job was queued",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "requestedBy": {
          "description": "The identity that queued the maintenance job",
          "$ref": "#/definitions/IdentityRef"
        },
        "result": {
          "description": "The maintenance job result",
          "readOnly": true,
          "enum": [
            "succeeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolMaintenanceJobResult"
          }
        },
        "startTime": {
          "description": "Time that the maintenance job was started",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Status of the maintenance job",
          "enum": [
            "inProgress",
            "completed",
            "cancelling",
            "queued"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolMaintenanceJobStatus"
          }
        },
        "targetAgents": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskAgentPoolMaintenanceJobTargetAgent"
          }
        },
        "warningCount": {
          "description": "The total warning counts during the maintenance job",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskAgentPoolMaintenanceJobTargetAgent": {
      "description": "",
      "type": "object",
      "properties": {
        "agent": {
          "$ref": "#/definitions/TaskAgentReference"
        },
        "jobId": {
          "type": "integer",
          "format": "int32"
        },
        "result": {
          "enum": [
            "succeeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolMaintenanceJobResult"
          }
        },
        "status": {
          "enum": [
            "inProgress",
            "completed",
            "cancelling",
            "queued"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolMaintenanceJobStatus"
          }
        }
      }
    },
    "TaskAgentPoolMaintenanceOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "workingDirectoryExpirationInDays": {
          "description": "time to consider a System.DefaultWorkingDirectory is stale",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskAgentPoolMaintenanceRetentionPolicy": {
      "description": "",
      "type": "object",
      "properties": {
        "numberOfHistoryRecordsToKeep": {
          "description": "Number of records to keep for maintenance job executed with this definition.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskAgentPoolMaintenanceSchedule": {
      "description": "",
      "type": "object",
      "properties": {
        "daysToBuild": {
          "description": "Days for a build (flags enum for days of the week)",
          "enum": [
            "none",
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday",
            "saturday",
            "sunday",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolMaintenanceScheduleDays"
          }
        },
        "scheduleJobId": {
          "description": "The Job Id of the Scheduled job that will queue the pool maintenance job.",
          "type": "string",
          "format": "uuid"
        },
        "startHours": {
          "description": "Local timezone hour to start",
          "type": "integer",
          "format": "int32"
        },
        "startMinutes": {
          "description": "Local timezone minute to start",
          "type": "integer",
          "format": "int32"
        },
        "timeZoneId": {
          "description": "Time zone of the build schedule (string representation of the time zone id)",
          "type": "string"
        }
      }
    },
    "TaskAgentPoolReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isHosted": {
          "description": "Gets or sets a value indicating whether or not this pool is managed by the service.",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "poolType": {
          "description": "Gets or sets the type of the pool",
          "enum": [
            "automation",
            "deployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentPoolType"
          }
        },
        "scope": {
          "type": "string",
          "format": "uuid"
        },
        "size": {
          "description": "Gets the current size of the pool.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskAgentPoolSummary": {
      "description": "",
      "type": "object",
      "properties": {
        "columnsHeader": {
          "$ref": "#/definitions/MetricsColumnsHeader"
        },
        "deploymentGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentGroupReference"
          }
        },
        "pool": {
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "queues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskAgentQueue"
          }
        },
        "rows": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricsRow"
          }
        }
      }
    },
    "TaskAgentPublicKey": {
      "description": "Represents the public key portion of an RSA asymmetric key.",
      "type": "object",
      "properties": {
        "exponent": {
          "description": "Gets or sets the exponent for the public key.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "modulus": {
          "description": "Gets or sets the modulus for the public key.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      }
    },
    "TaskAgentQueue": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the queue",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the queue",
          "type": "string"
        },
        "pool": {
          "description": "Pool reference for this queue",
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "projectId": {
          "description": "Project Id",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskAgentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "enabled": {
          "description": "Gets or sets a value indicating whether or not this agent should be enabled for job execution.",
          "type": "boolean"
        },
        "id": {
          "description": "Gets the identifier of the agent.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Gets the name of the agent.",
          "type": "string"
        },
        "oSDescription": {
          "description": "Gets the OS of the agent.",
          "type": "string"
        },
        "status": {
          "description": "Gets the current connectivity status of the agent.",
          "enum": [
            "offline",
            "online"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentStatus"
          }
        },
        "version": {
          "description": "Gets the version of the agent.",
          "type": "string"
        }
      }
    },
    "TaskAgentSession": {
      "description": "Represents a session for performing message exchanges from an agent.",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Gets or sets the agent which is the target of the session.",
          "$ref": "#/definitions/TaskAgentReference"
        },
        "encryptionKey": {
          "description": "Gets the key used to encrypt message traffic for this session.",
          "$ref": "#/definitions/TaskAgentSessionKey"
        },
        "ownerName": {
          "description": "Gets or sets the owner name of this session. Generally this will be the machine of origination.",
          "type": "string"
        },
        "sessionId": {
          "description": "Gets the unique identifier for this session.",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "systemCapabilities": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TaskAgentSessionKey": {
      "description": "Represents a symmetric key used for message-level encryption for communication sent to an agent.",
      "type": "object",
      "properties": {
        "encrypted": {
          "description": "Gets or sets a value indicating whether or not the key value is encrypted. If this value is true, the Value property should be decrypted using the <c>RSA</c> key exchanged with the server during registration.",
          "type": "boolean"
        },
        "value": {
          "description": "Gets or sets the symmetric key value.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      }
    },
    "TaskAgentUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "currentState": {
          "description": "The current state of this agent update",
          "type": "string"
        },
        "reason": {
          "description": "The reason of this agent update",
          "$ref": "#/definitions/TaskAgentUpdateReason"
        },
        "requestedBy": {
          "description": "The identity that request the agent update",
          "$ref": "#/definitions/IdentityRef"
        },
        "requestTime": {
          "description": "Gets the date on which this agent update was requested.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "sourceVersion": {
          "description": "Gets or sets the source agent version of the agent update",
          "$ref": "#/definitions/PackageVersion"
        },
        "targetVersion": {
          "description": "Gets or sets the target agent version of the agent update",
          "$ref": "#/definitions/PackageVersion"
        }
      }
    },
    "TaskAgentUpdateReason": {
      "description": "",
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "enum": [
            "manual",
            "minAgentVersionRequired"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskAgentUpdateReasonType"
          }
        }
      }
    },
    "TaskAssignedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskEvent"
        }
      ],
      "properties": {
      }
    },
    "TaskAttachment": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "createdOn": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "lastChangedBy": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "lastChangedOn": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "recordId": {
          "type": "string",
          "format": "uuid"
        },
        "timelineId": {
          "type": "string",
          "format": "uuid"
        },
        "type": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TaskChangeEvent": {
      "description": "",
      "type": "object",
      "properties": {
      }
    },
    "TaskCompletedEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskEvent"
        }
      ],
      "properties": {
        "result": {
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskResult"
          }
        }
      }
    },
    "TaskDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "agentExecution": {
          "$ref": "#/definitions/TaskExecution"
        },
        "author": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "contentsUploaded": {
          "type": "boolean"
        },
        "contributionIdentifier": {
          "type": "string"
        },
        "contributionVersion": {
          "type": "string"
        },
        "dataSourceBindings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSourceBinding"
          }
        },
        "definitionType": {
          "type": "string"
        },
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "deprecated": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "execution": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/JObject"
          }
        },
        "friendlyName": {
          "type": "string"
        },
        "groups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskGroupDefinition"
          }
        },
        "helpMarkDown": {
          "type": "string"
        },
        "hostType": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "inputs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInputDefinition"
          }
        },
        "instanceNameFormat": {
          "type": "string"
        },
        "minimumAgentVersion": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "outputVariables": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOutputVariable"
          }
        },
        "packageLocation": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "releaseNotes": {
          "type": "string"
        },
        "runsOn": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "satisfies": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serverOwned": {
          "type": "boolean"
        },
        "sourceDefinitions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskSourceDefinition"
          }
        },
        "sourceLocation": {
          "type": "string"
        },
        "version": {
          "$ref": "#/definitions/TaskVersion"
        },
        "visibility": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TaskDefinitionEndpoint": {
      "description": "",
      "type": "object",
      "properties": {
        "connectionId": {
          "description": "An ID that identifies a service connection to be used for authenticating endpoint requests.",
          "type": "string"
        },
        "keySelector": {
          "description": "An Json based keyselector to filter response returned by fetching the endpoint <c>Url</c>.A Json based keyselector must be prefixed with \"jsonpath:\". KeySelector can be used to specify the filter to get the keys for the values specified with Selector. <example> The following keyselector defines an Json for extracting nodes named 'ServiceName'. <code> endpoint.KeySelector = \"jsonpath://ServiceName\"; </code></example>",
          "type": "string"
        },
        "scope": {
          "description": "The scope as understood by Connected Services. Essentialy, a project-id for now.",
          "type": "string"
        },
        "selector": {
          "description": "An XPath/Json based selector to filter response returned by fetching the endpoint <c>Url</c>. An XPath based selector must be prefixed with the string \"xpath:\". A Json based selector must be prefixed with \"jsonpath:\". <example> The following selector defines an XPath for extracting nodes named 'ServiceName'. <code> endpoint.Selector = \"xpath://ServiceName\"; </code></example>",
          "type": "string"
        },
        "taskId": {
          "description": "TaskId that this endpoint belongs to.",
          "type": "string"
        },
        "url": {
          "description": "URL to GET.",
          "type": "string"
        }
      }
    },
    "TaskDefinitionReference": {
      "description": "",
      "type": "object",
      "properties": {
        "definitionType": {
          "description": "Gets or sets the definition type. Values can be 'task' or 'metaTask'.",
          "type": "string"
        },
        "id": {
          "description": "Gets or sets the unique identifier of task.",
          "type": "string",
          "format": "uuid"
        },
        "versionSpec": {
          "description": "Gets or sets the version specification of task.",
          "type": "string"
        }
      }
    },
    "TaskEvent": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobEvent"
        }
      ],
      "properties": {
        "taskId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskExecution": {
      "description": "",
      "type": "object",
      "properties": {
        "execTask": {
          "description": "The utility task to run.  Specifying this means that this task definition is simply a meta task to call another task. This is useful for tasks that call utility tasks like powershell and commandline",
          "$ref": "#/definitions/TaskReference"
        },
        "platformInstructions": {
          "description": "If a task is going to run code, then this provides the type/script etc... information by platform. For example, it might look like. net45: { typeName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShellTask\", assemblyName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShell.dll\" } net20: { typeName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShellTask\", assemblyName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShell.dll\" } java: { jar: \"powershelltask.tasks.automation.teamfoundation.microsoft.com\", } node: { script: \"powershellhost.js\", }",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "TaskGroup": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskDefinition"
        }
      ],
      "properties": {
        "comment": {
          "description": "Gets or sets comment.",
          "type": "string"
        },
        "createdBy": {
          "description": "Gets or sets the identity who created.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "description": "Gets or sets date on which it got created.",
          "type": "string",
          "format": "date-time"
        },
        "deleted": {
          "description": "Gets or sets as 'true' to indicate as deleted, 'false' otherwise.",
          "type": "boolean"
        },
        "modifiedBy": {
          "description": "Gets or sets the identity who modified.",
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "description": "Gets or sets date on which it got modified.",
          "type": "string",
          "format": "date-time"
        },
        "owner": {
          "description": "Gets or sets the owner.",
          "type": "string"
        },
        "parentDefinitionId": {
          "description": "Gets or sets parent task group Id. This is used while creating a draft task group.",
          "type": "string",
          "format": "uuid"
        },
        "revision": {
          "description": "Gets or sets revision.",
          "type": "integer",
          "format": "int32"
        },
        "tasks": {
          "description": "Gets or sets the tasks.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskGroupStep"
          }
        }
      }
    },
    "TaskGroupCreateParameter": {
      "description": "",
      "type": "object",
      "properties": {
        "author": {
          "description": "Sets author name of the task group.",
          "type": "string"
        },
        "category": {
          "description": "Sets category of the task group.",
          "type": "string"
        },
        "description": {
          "description": "Sets description of the task group.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Sets friendly name of the task group.",
          "type": "string"
        },
        "iconUrl": {
          "description": "Sets url icon of the task group.",
          "type": "string"
        },
        "inputs": {
          "description": "Sets input for the task group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInputDefinition"
          }
        },
        "instanceNameFormat": {
          "description": "Sets display name of the task group.",
          "type": "string"
        },
        "name": {
          "description": "Sets name of the task group.",
          "type": "string"
        },
        "parentDefinitionId": {
          "description": "Sets parent task group Id. This is used while creating a draft task group.",
          "type": "string",
          "format": "uuid"
        },
        "runsOn": {
          "description": "Sets RunsOn of the task group. Value can be 'Agent', 'Server' or 'DeploymentGroup'.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "description": "Sets tasks for the task group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskGroupStep"
          }
        },
        "version": {
          "description": "Sets version of the task group.",
          "$ref": "#/definitions/TaskVersion"
        }
      }
    },
    "TaskGroupDefinition": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "isExpanded": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "visibleRule": {
          "type": "string"
        }
      }
    },
    "TaskGroupRevision": {
      "description": "",
      "type": "object",
      "properties": {
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "changeType": {
          "enum": [
            "add",
            "update",
            "delete",
            "undelete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.AuditAction"
          }
        },
        "comment": {
          "type": "string"
        },
        "fileId": {
          "type": "integer",
          "format": "int32"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "taskGroupId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "TaskGroupStep": {
      "description": "",
      "type": "object",
      "properties": {
        "alwaysRun": {
          "description": "Gets or sets as 'true' to run the task always, 'false' otherwise.",
          "type": "boolean"
        },
        "condition": {
          "description": "Gets or sets condition for the task.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Gets or sets as 'true' to continue on error, 'false' otherwise.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Gets or sets the display name.",
          "type": "string"
        },
        "enabled": {
          "description": "Gets or sets as task is enabled or not.",
          "type": "boolean"
        },
        "inputs": {
          "description": "Gets or sets dictionary of inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "task": {
          "description": "Gets or sets the reference of the task.",
          "$ref": "#/definitions/TaskDefinitionReference"
        },
        "timeoutInMinutes": {
          "description": "Gets or sets the maximum time, in minutes, that a task is allowed to execute on agent before being cancelled by server. A zero value indicates an infinite timeout.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskGroupUpdateParameter": {
      "description": "",
      "type": "object",
      "properties": {
        "author": {
          "description": "Sets author name of the task group.",
          "type": "string"
        },
        "category": {
          "description": "Sets category of the task group.",
          "type": "string"
        },
        "comment": {
          "description": "Sets comment of the task group.",
          "type": "string"
        },
        "description": {
          "description": "Sets description of the task group.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Sets friendly name of the task group.",
          "type": "string"
        },
        "iconUrl": {
          "description": "Sets url icon of the task group.",
          "type": "string"
        },
        "id": {
          "description": "Sets the unique identifier of this field.",
          "type": "string",
          "format": "uuid"
        },
        "inputs": {
          "description": "Sets input for the task group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInputDefinition"
          }
        },
        "instanceNameFormat": {
          "description": "Sets display name of the task group.",
          "type": "string"
        },
        "name": {
          "description": "Sets name of the task group.",
          "type": "string"
        },
        "parentDefinitionId": {
          "description": "Gets or sets parent task group Id. This is used while creating a draft task group.",
          "type": "string",
          "format": "uuid"
        },
        "revision": {
          "description": "Sets revision of the task group.",
          "type": "integer",
          "format": "int32"
        },
        "runsOn": {
          "description": "Sets RunsOn of the task group. Value can be 'Agent', 'Server' or 'DeploymentGroup'.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "description": "Sets tasks for the task group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskGroupStep"
          }
        },
        "version": {
          "description": "Sets version of the task group.",
          "$ref": "#/definitions/TaskVersion"
        }
      }
    },
    "TaskHubLicenseDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "enterpriseUsersCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "freeHostedLicenseCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "freeLicenseCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "hasLicenseCountEverUpdated": {
          "readOnly": true,
          "type": "boolean"
        },
        "hostedAgentMinutesFreeCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "hostedAgentMinutesUsedCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "msdnUsersCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "purchasedHostedLicenseCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "purchasedLicenseCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalLicenseCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskInputDefinition": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskInputDefinitionBase"
        }
      ],
      "properties": {
      }
    },
    "TaskInputDefinitionBase": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChildObject"
        }
      ],
      "properties": {
        "aliases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultValue": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "helpMarkDown": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "required": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "validation": {
          "$ref": "#/definitions/TaskInputValidation"
        },
        "visibleRule": {
          "type": "string"
        }
      }
    },
    "TaskInputValidation": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChildObject"
        }
      ],
      "properties": {
        "expression": {
          "description": "Conditional expression",
          "type": "string"
        },
        "message": {
          "description": "Message explaining how user can correct if validation fails",
          "type": "string"
        }
      }
    },
    "TaskInstance": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskReference"
        }
      ],
      "properties": {
        "alwaysRun": {
          "type": "boolean"
        },
        "condition": {
          "type": "string"
        },
        "continueOnError": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "environment": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instanceId": {
          "type": "string",
          "format": "uuid"
        },
        "refName": {
          "type": "string"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskLog": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskLogReference"
        }
      ],
      "properties": {
        "createdOn": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "indexLocation": {
          "type": "string"
        },
        "lastChangedOn": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "lineCount": {
          "type": "integer",
          "format": "int64"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "TaskLogReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "TaskOrchestrationContainer": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskOrchestrationItem"
        }
      ],
      "properties": {
        "children": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOrchestrationItem"
          }
        },
        "continueOnError": {
          "type": "boolean"
        },
        "data": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxConcurrency": {
          "type": "integer",
          "format": "int32"
        },
        "parallel": {
          "type": "boolean"
        },
        "rollback": {
          "$ref": "#/definitions/TaskOrchestrationContainer"
        }
      }
    },
    "TaskOrchestrationItem": {
      "description": "",
      "type": "object",
      "properties": {
        "itemType": {
          "readOnly": true,
          "enum": [
            "container",
            "job"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskOrchestrationItemType"
          }
        }
      }
    },
    "TaskOrchestrationJob": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskOrchestrationItem"
        }
      ],
      "properties": {
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "executeAs": {
          "$ref": "#/definitions/IdentityRef"
        },
        "executionMode": {
          "type": "string"
        },
        "executionTimeout": {
          "type": "string",
          "format": "TimeSpan"
        },
        "instanceId": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "refName": {
          "type": "string"
        },
        "tasks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskInstance"
          }
        },
        "variables": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TaskOrchestrationOwner": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "TaskOrchestrationPlan": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaskOrchestrationPlanReference"
        }
      ],
      "properties": {
        "environment": {
          "$ref": "#/definitions/PlanEnvironment"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time"
        },
        "implementation": {
          "$ref": "#/definitions/TaskOrchestrationContainer"
        },
        "requestedById": {
          "type": "string",
          "format": "uuid"
        },
        "requestedForId": {
          "type": "string",
          "format": "uuid"
        },
        "result": {
          "enum": [
            "succeeded",
            "succeededWithIssues",
            "failed",
            "canceled",
            "skipped",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.DistributedTask.WebApi.TaskResult"
          }
        },
        "resultCode": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "enum": [
            "inProgress",
            "queued",
            "completed"
          ],
          "x-ms-enum": {
[...]
