{
  "swagger": "2.0",
  "info": {
    "title": "Work",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1-preview"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Work",
  "basePath": "/",
  "tags": [
    {
      "name": "Backlogconfiguration"
    },
    {
      "name": "Boardcolumns"
    },
    {
      "name": "Boardparents"
    },
    {
      "name": "Boardrows"
    },
    {
      "name": "Boards"
    },
    {
      "name": "Boardusersettings"
    },
    {
      "name": "Capacities"
    },
    {
      "name": "Cardrulesettings"
    },
    {
      "name": "Cardsettings"
    },
    {
      "name": "Charts"
    },
    {
      "name": "Columns"
    },
    {
      "name": "Deliverytimeline"
    },
    {
      "name": "Iterations"
    },
    {
      "name": "Plans",
      "description": "Controller for the Scaled Agile plans REST API"
    },
    {
      "name": "Processconfiguration"
    },
    {
      "name": "Rows"
    },
    {
      "name": "Teamdaysoff"
    },
    {
      "name": "Teamfieldvalues"
    },
    {
      "name": "Teamsettings"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/work/boardcolumns": {
      "get": {
        "tags": [
          "Boardcolumns"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boardcolumns",
        "x-ms-vss-method": "GetColumnSuggestedValues",
        "x-ms-preview": true,
        "description": "Get available board columns in a project",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardSuggestedValue"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get available board columns in a project": {
                "$ref": "./httpExamples/boardcolumns/GET__work_boardColumns_ByProject.json"
            }
        }
      }
    },
    "/{project}/_apis/work/boardrows": {
      "get": {
        "tags": [
          "Boardrows"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boardrows",
        "x-ms-vss-method": "GetRowSuggestedValues",
        "x-ms-preview": true,
        "description": "Get available board rows in a project",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardSuggestedValue"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get available board rows in a project": {
                "$ref": "./httpExamples/boardrows/GET__work_boardRows_ByProject.json"
            }
        }
      }
    },
    "/{project}/_apis/work/plans": {
      "post": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "CreatePlan",
        "x-ms-preview": true,
        "description": "Add a new plan for the team",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Plan definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePlan"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
         }
        }
      },
      "get": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "GetPlans",
        "x-ms-preview": true,
        "description": "Get the information for all the plans configured for the given team",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Plan"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/work/plans/{id}": {
      "delete": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "DeletePlan",
        "x-ms-preview": true,
        "description": "Delete the specified plan",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Identifier of the plan",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "GetPlan",
        "x-ms-preview": true,
        "description": "Get the information for the specified plan",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Identifier of the plan",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
         }
        }
      },
      "put": {
        "tags": [
          "Plans"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "plans",
        "x-ms-vss-method": "UpdatePlan",
        "x-ms-preview": true,
        "description": "Update the information for the specified plan",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Plan definition to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePlan"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Identifier of the plan",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Plan"
            }
         }
        }
      }
    },
    "/{project}/_apis/work/plans/{id}/deliverytimeline": {
      "get": {
        "tags": [
          "Deliverytimeline"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "deliverytimeline",
        "x-ms-vss-method": "GetDeliveryTimelineData",
        "x-ms-preview": true,
        "description": "Get Delivery View Data",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Identifier for delivery view",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "Revision of the plan for which you want data. If the current plan is a different revision you will get an ViewRevisionMismatchException exception. If you do not supply a revision you will get data for the latest revision.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "The start date of timeline",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The end date of timeline",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DeliveryViewData"
            }
         }
        }
      }
    },
    "/{project}/_apis/work/processconfiguration": {
      "get": {
        "tags": [
          "Processconfiguration"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "processconfiguration",
        "x-ms-vss-method": "GetProcessConfiguration",
        "x-ms-preview": true,
        "description": "Get process configuration",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProcessConfiguration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get process configuration": {
                "$ref": "./httpExamples/processconfiguration/GET__work_processconfiguration.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/backlogconfiguration": {
      "get": {
        "tags": [
          "Backlogconfiguration"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "backlogconfiguration",
        "x-ms-vss-method": "GetBacklogConfigurations",
        "x-ms-preview": true,
        "description": "Gets backlog configuration for a team",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BacklogConfiguration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get backlog configuration for a team": {
                "$ref": "./httpExamples/backlogconfiguration/GET__work_backlogconfiguration.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/boards": {
      "get": {
        "tags": [
          "Boards"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boards",
        "x-ms-vss-method": "GetBoards",
        "x-ms-preview": true,
        "description": "Get boards",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/boardusersettings": {
      "get": {
        "tags": [
          "Boardusersettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boardusersettings",
        "x-ms-vss-method": "GetBoardUserSettings",
        "x-ms-preview": true,
        "description": "Get board user settings for a board id",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Board ID or Name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardUserSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get board user settings for a boardId": {
                "$ref": "./httpExamples/boardusersettings/GET__work_boards_boardId_boardUserSettings.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Boardusersettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boardusersettings",
        "x-ms-vss-method": "UpdateBoardUserSettings",
        "x-ms-preview": true,
        "description": "Update board user settings for the board id\n\nWe don't want stakeholders to update board settings (currently just autorefresh). The BacklogManagement feature check validates this.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardUserSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update a board's user settings": {
                "$ref": "./httpExamples/boardusersettings/PATCH__work_boards_boardId_boardUserSettings.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/cardrulesettings": {
      "get": {
        "tags": [
          "Cardrulesettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "cardrulesettings",
        "x-ms-vss-method": "GetBoardCardRuleSettings",
        "x-ms-preview": true,
        "description": "Get board card Rule settings for the board id or board by name",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardCardRuleSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Cardrulesettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "cardrulesettings",
        "x-ms-vss-method": "UpdateBoardCardRuleSettings",
        "x-ms-preview": true,
        "description": "Update board card Rule settings for the board id or board by name",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BoardCardRuleSettings"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardCardRuleSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/cardsettings": {
      "get": {
        "tags": [
          "Cardsettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "cardsettings",
        "x-ms-vss-method": "GetBoardCardSettings",
        "x-ms-preview": true,
        "description": "Get board card settings for the board id or board by name",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardCardSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Cardsettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "cardsettings",
        "x-ms-vss-method": "UpdateBoardCardSettings",
        "x-ms-preview": true,
        "description": "Update board card settings for the board id or board by name",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BoardCardSettings"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardCardSettings"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/charts": {
      "get": {
        "tags": [
          "Charts"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "charts",
        "x-ms-vss-method": "GetBoardCharts",
        "x-ms-preview": true,
        "description": "Get board charts",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Identifier for board, either board's backlog level name (Eg:\"Stories\") or Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardChartReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/charts/{name}": {
      "get": {
        "tags": [
          "Charts"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "charts",
        "x-ms-vss-method": "GetBoardChart",
        "x-ms-preview": true,
        "description": "Get a board chart",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Identifier for board, either board's backlog level name (Eg:\"Stories\") or Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "The chart name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardChart"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Charts"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "charts",
        "x-ms-vss-method": "UpdateBoardChart",
        "x-ms-preview": true,
        "description": "Update a board chart",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BoardChart"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Identifier for board, either board's backlog level name (Eg:\"Stories\") or Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "The chart name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BoardChart"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/columns": {
      "get": {
        "tags": [
          "Columns"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "columns",
        "x-ms-vss-method": "GetBoardColumns",
        "x-ms-preview": true,
        "description": "Get columns on a board",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Name or ID of the specific board",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardColumn"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get board columns by boardId": {
                "$ref": "./httpExamples/columns/GET__work_boards__boardId__columns.json"
            },
            "Get board columns by boardName": {
                "$ref": "./httpExamples/columns/GET__work_boards__boardName__columns.json"
            }
        }
      },
      "put": {
        "tags": [
          "Columns"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "columns",
        "x-ms-vss-method": "UpdateBoardColumns",
        "x-ms-preview": true,
        "description": "Update columns on a board",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of board columns to update",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardColumn"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Name or ID of the specific board",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardColumn"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update columns on a board": {
                "$ref": "./httpExamples/columns/PUT__work_boards__boardName__columns.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/boards/{board}/rows": {
      "get": {
        "tags": [
          "Rows"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "rows",
        "x-ms-vss-method": "GetBoardRows",
        "x-ms-preview": true,
        "description": "Get rows on a board",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Name or ID of the specific board",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardRow"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get a kanban board's rows by boardId": {
                "$ref": "./httpExamples/rows/GET__work_boards__boardId__rows.json"
            },
            "Get a kanban board's rows by boardName": {
                "$ref": "./httpExamples/rows/GET__work_boards__boardName__rows.json"
            }
        }
      },
      "put": {
        "tags": [
          "Rows"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "rows",
        "x-ms-vss-method": "UpdateBoardRows",
        "x-ms-preview": true,
        "description": "Update rows on a board",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of board rows to update",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardRow"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "board",
            "description": "Name or ID of the specific board",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoardRow"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update rows on a board": {
                "$ref": "./httpExamples/rows/PUT__work_boards__boardName__rows.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/boards/{id}": {
      "get": {
        "tags": [
          "Boards"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boards",
        "x-ms-vss-method": "GetBoard",
        "x-ms-preview": true,
        "description": "Get board",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "identifier for board, either board's backlog level name (Eg:\"Stories\") or Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Board"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Boards"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boards",
        "x-ms-vss-method": "SetBoardOptions",
        "x-ms-preview": true,
        "description": "Update board options",
        "operationId": "Set Board Options",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "options to updated",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "identifier for board, either category plural name (Eg:\"Stories\") or guid",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/boards/boardparents": {
      "get": {
        "tags": [
          "Boardparents"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "boardparents",
        "x-ms-vss-method": "GetBoardMappingParentItems",
        "x-ms-preview": true,
        "description": "Returns the list of parent field filter model for the given list of workitem ids",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "childBacklogContextCategoryRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workitemIds",
            "description": "",
            "required": true,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ParentChildWIMap"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/work/teamsettings": {
      "get": {
        "tags": [
          "Teamsettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamsettings",
        "x-ms-vss-method": "GetTeamSettings",
        "x-ms-preview": true,
        "description": "Get a team's settings",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSetting"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get team settings for a team": {
                "$ref": "./httpExamples/teamsettings/GET__work_teamsettings.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Teamsettings"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamsettings",
        "x-ms-vss-method": "UpdateTeamSettings",
        "x-ms-preview": true,
        "description": "Update a team's settings",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TeamSettings changes",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamSettingsPatch"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSetting"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update team settings. Example 1": {
                "$ref": "./httpExamples/teamsettings/PATCH__work_teamsettings.json"
            },
            "Update team settings. Example 2": {
                "$ref": "./httpExamples/teamsettings/PATCH__work_teamsettings2.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/iterations": {
      "get": {
        "tags": [
          "Iterations"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "iterations",
        "x-ms-vss-method": "GetTeamIterations",
        "x-ms-preview": true,
        "description": "Get a team's iterations using timeframe filter",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$timeframe",
            "description": "A filter for which iterations are returned based on relative time",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamSettingsIteration"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get a team's iterations using timeframe filter": {
                "$ref": "./httpExamples/iterations/GET__work_teamsettings_iterations__timeframe-_timeframe_.json"
            }
        }
      },
      "post": {
        "tags": [
          "Iterations"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "iterations",
        "x-ms-vss-method": "PostTeamIteration",
        "x-ms-preview": true,
        "description": "Add an iteration to the team",
        "operationId": "Post Team Iteration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Iteration to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamSettingsIteration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSettingsIteration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Add an iteration to the team": {
                "$ref": "./httpExamples/iterations/POST__work_teamsettings_iterations.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/iterations/{id}": {
      "delete": {
        "tags": [
          "Iterations"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "iterations",
        "x-ms-vss-method": "DeleteTeamIteration",
        "x-ms-preview": true,
        "description": "Delete a team's iteration by iterationId",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Delete a team's iteration by iterationId": {
                "$ref": "./httpExamples/iterations/DELETE__work_teamsettings_iterations__iterationId_.json"
            }
        }
      },
      "get": {
        "tags": [
          "Iterations"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "iterations",
        "x-ms-vss-method": "GetTeamIteration",
        "x-ms-preview": true,
        "description": "Get team's iteration by iterationId",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSettingsIteration"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get a team's iteration by iterationId": {
                "$ref": "./httpExamples/iterations/GET__work_teamsettings_iterations__iterationId_.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/iterations/{iterationId}/capacities": {
      "get": {
        "tags": [
          "Capacities"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "capacities",
        "x-ms-vss-method": "GetCapacities",
        "x-ms-preview": true,
        "description": "Get a team's capacity",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamMemberCapacity"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get a team's capacity": {
                "$ref": "./httpExamples/capacities/GET__work_teamsettings_iterations__iterationId__capacities.json"
            }
        }
      },
      "put": {
        "tags": [
          "Capacities"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "capacities",
        "x-ms-vss-method": "ReplaceCapacities",
        "x-ms-preview": true,
        "description": "Replace a team's capacity",
        "operationId": "Replace Capacities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Team capacity to replace",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamMemberCapacity"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamMemberCapacity"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Replace a team's capacity": {
                "$ref": "./httpExamples/capacities/PUT__work_teamsettings_iterations_iterationId_capacities.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/iterations/{iterationId}/capacities/{teamMemberId}": {
      "get": {
        "tags": [
          "Capacities"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "capacities",
        "x-ms-vss-method": "GetCapacity",
        "x-ms-preview": true,
        "description": "Get a team member's capacity",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "teamMemberId",
            "description": "ID of the team member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamMemberCapacity"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get a team member's capacity": {
                "$ref": "./httpExamples/capacities/GET__work_teamsettings_iterations__iterationId__capacities__teammemberId_.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Capacities"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "capacities",
        "x-ms-vss-method": "UpdateCapacity",
        "x-ms-preview": true,
        "description": "Update a team member's capacity",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Updated capacity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityPatch"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "teamMemberId",
            "description": "ID of the team member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamMemberCapacity"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update a team member's capacity. Example 1": {
                "$ref": "./httpExamples/capacities/PATCH__work_teamsettings_iterations__iterationId__capacities__teammemberId_.json"
            },
            "Update a team member's capacity. Example 2": {
                "$ref": "./httpExamples/capacities/PATCH__work_teamsettings_iterations__iterationId__capacities__teammemberId_2.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/iterations/{iterationId}/teamdaysoff": {
      "get": {
        "tags": [
          "Teamdaysoff"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamdaysoff",
        "x-ms-vss-method": "GetTeamDaysOff",
        "x-ms-preview": true,
        "description": "Get team's days off for an iteration",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSettingsDaysOff"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get team's days off for an iteration": {
                "$ref": "./httpExamples/teamdaysoff/GET__work_teamsettings_iterations__iterationId__teamdaysoff.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Teamdaysoff"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamdaysoff",
        "x-ms-vss-method": "UpdateTeamDaysOff",
        "x-ms-preview": true,
        "description": "Set a team's days off for an iteration",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Team's days off patch containting a list of start and end dates",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamSettingsDaysOffPatch"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "ID of the iteration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamSettingsDaysOff"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Set a team's days off for an iteration. Example 1": {
                "$ref": "./httpExamples/teamdaysoff/PATCH__work_teamsettings_iterations__iterationId__teamdaysoff.json"
            },
            "Set a team's days off for an iteration. Example 2": {
                "$ref": "./httpExamples/teamdaysoff/PATCH__work_teamsettings_iterations__iterationId__teamdaysoff2.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/work/teamsettings/teamfieldvalues": {
      "get": {
        "tags": [
          "Teamfieldvalues"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamfieldvalues",
        "x-ms-vss-method": "GetTeamFieldValues",
        "x-ms-preview": true,
        "description": "Get a collection of team field values",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamFieldValues"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get team field values": {
                "$ref": "./httpExamples/teamfieldvalues/GET__work_teamsettings_teamfieldvalues.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Teamfieldvalues"
        ],
        "x-ms-vss-api-version": "4.1-preview.1",
        "x-ms-vss-resource": "teamfieldvalues",
        "x-ms-vss-method": "UpdateTeamFieldValues",
        "x-ms-preview": true,
        "description": "Update team field values",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamFieldValuesPatch"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TeamFieldValues"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update team field values. Example 1": {
                "$ref": "./httpExamples/teamfieldvalues/PATCH__work_teamsettings_teamfieldvalues.json"
            },
            "Update team field values. Example 2": {
                "$ref": "./httpExamples/teamfieldvalues/PATCH__work_teamsettings_teamfieldvalues2.json"
            }
        }
      }
    }
  },
  "definitions": {
    "Activity": {
      "description": "",
      "type": "object",
      "properties": {
        "capacityPerDay": {
          "type": "string",
          "format": "Single"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "attribute": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      ],
      "properties": {
      }
    },
    "BacklogColumn": {
      "description": "",
      "type": "object",
      "properties": {
        "columnFieldReference": {
          "$ref": "#/definitions/WorkItemFieldReference"
        },
        "width": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BacklogConfiguration": {
      "description": "",
      "type": "object",
      "properties": {
        "backlogFields": {
          "description": "Behavior/type field mapping",
          "$ref": "#/definitions/BacklogFields"
        },
        "bugsBehavior": {
          "description": "Bugs behavior",
          "enum": [
            "off",
            "asRequirements",
            "asTasks"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.BugsBehavior"
          }
        },
        "hiddenBacklogs": {
          "description": "Hidden Backlog",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "portfolioBacklogs": {
          "description": "Portfolio backlog descriptors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BacklogLevelConfiguration"
          }
        },
        "requirementBacklog": {
          "description": "Requirement backlog",
          "$ref": "#/definitions/BacklogLevelConfiguration"
        },
        "taskBacklog": {
          "description": "Task backlog",
          "$ref": "#/definitions/BacklogLevelConfiguration"
        },
        "url": {
          "type": "string"
        },
        "workItemTypeMappedStates": {
          "description": "Mapped states for work item types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeStateInfo"
          }
        }
      }
    },
    "BacklogFields": {
      "description": "",
      "type": "object",
      "properties": {
        "typeFields": {
          "description": "Field Type (e.g. Order, Activity) to Field Reference Name map",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BacklogLevel": {
      "description": "Contract representing a backlog level",
      "type": "object",
      "properties": {
        "categoryReferenceName": {
          "description": "Reference name of the corresponding WIT category",
          "type": "string"
        },
        "pluralName": {
          "description": "Plural name for the backlog level",
          "type": "string"
        },
        "workItemStates": {
          "description": "Collection of work item states that are included in the plan. The server will filter to only these work item types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workItemTypes": {
          "description": "Collection of valid workitem type names for the given backlog level",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BacklogLevelConfiguration": {
      "description": "",
      "type": "object",
      "properties": {
        "addPanelFields": {
          "description": "List of fields to include in Add Panel",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "color": {
          "description": "Color for the backlog level",
          "type": "string"
        },
        "columnFields": {
          "description": "Default list of columns for the backlog",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BacklogColumn"
          }
        },
        "defaultWorkItemType": {
          "description": "Defaulst Work Item Type for the backlog",
          "$ref": "#/definitions/WorkItemTypeReference"
        },
        "id": {
          "description": "Backlog Id (for Legacy Backlog Level from process config it can be categoryref name)",
          "type": "string"
        },
        "name": {
          "description": "Backlog Name",
          "type": "string"
        },
        "rank": {
          "description": "Backlog Rank (Taskbacklog is 0)",
          "type": "integer",
          "format": "int32"
        },
        "workItemCountLimit": {
          "description": "Max number of work items to show in the given backlog",
          "type": "integer",
          "format": "int32"
        },
        "workItemTypes": {
          "description": "Work Item types participating in this backlog as known by the project/Process, can be overridden by team settings for bugs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeReference"
          }
        }
      }
    },
    "Board": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BoardReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "allowedMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "canEdit": {
          "type": "boolean"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BoardColumn"
          }
        },
        "fields": {
          "$ref": "#/definitions/BoardFields"
        },
        "isValid": {
          "type": "boolean"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BoardRow"
          }
        }
      }
    },
    "BoardCardRuleSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "rules": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "BoardCardSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "cards": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        }
      }
    },
    "BoardChart": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BoardChartReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links for the resource",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "settings": {
          "description": "The settings for the resource",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "BoardChartReference": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "BoardColumn": {
      "description": "",
      "type": "object",
      "properties": {
        "columnType": {
          "enum": [
            "incoming",
            "inProgress",
            "outgoing"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.BoardColumnType"
          }
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isSplit": {
          "type": "boolean"
        },
        "itemLimit": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "stateMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BoardFields": {
      "description": "",
      "type": "object",
      "properties": {
        "columnField": {
          "$ref": "#/definitions/FieldReference"
        },
        "doneField": {
          "$ref": "#/definitions/FieldReference"
        },
        "rowField": {
          "$ref": "#/definitions/FieldReference"
        }
      }
    },
    "BoardReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "BoardRow": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "BoardSuggestedValue": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "BoardUserSettings": {
      "description": "",
      "type": "object",
      "properties": {
        "autoRefreshState": {
          "type": "boolean"
        }
      }
    },
    "CapacityPatch": {
      "description": "Expected data from PATCH",
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          }
        },
        "daysOff": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateRange"
          }
        }
      }
    },
    "CardFieldSettings": {
      "description": "Card settings, such as fields and rules",
      "type": "object",
      "properties": {
        "additionalFields": {
          "description": "A collection of field information of additional fields on cards. The index in the collection signifies the order of the field among the additional fields. Currently unused. Should be used with User Story 691539: Card setting: additional fields",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldInfo"
          }
        },
        "assignedToDisplayFormat": {
          "description": "Display format for the assigned to field",
          "readOnly": true,
          "enum": [
            "avatarOnly",
            "fullName",
            "avatarAndFullName"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.IdentityDisplayFormat"
          }
        },
        "coreFields": {
          "description": "A collection of field information of rendered core fields on cards.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldInfo"
          }
        },
        "showAssignedTo": {
          "description": "Flag indicating whether to show assigned to field on cards. When true, AssignedToDisplayFormat will determine how the field will be displayed",
          "readOnly": true,
          "type": "boolean"
        },
        "showEmptyFields": {
          "description": "Flag indicating whether to show empty fields on cards",
          "readOnly": true,
          "type": "boolean"
        },
        "showId": {
          "description": "Flag indicating whether to show ID on cards",
          "readOnly": true,
          "type": "boolean"
        },
        "showState": {
          "description": "Flag indicating whether to show state field on cards",
          "readOnly": true,
          "type": "boolean"
        },
        "showTags": {
          "description": "Flag indicating whether to show tags on cards",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "CardSettings": {
      "description": "Card settings, such as fields and rules",
      "type": "object",
      "properties": {
        "fields": {
          "description": "A collection of settings related to rendering of fields on cards",
          "$ref": "#/definitions/CardFieldSettings"
        }
      }
    },
    "CategoryConfiguration": {
      "description": "Details about a given backlog category",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "referenceName": {
          "description": "Category Reference Name",
          "type": "string"
        },
        "workItemTypes": {
          "description": "Work item types for the backlog category",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeReference"
          }
        }
      }
    },
    "CreatePlan": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the plan",
          "type": "string"
        },
        "name": {
          "description": "Name of the plan to create.",
          "type": "string"
        },
        "properties": {
          "description": "Plan properties.",
          "type": "object"
        },
        "type": {
          "description": "Type of plan to create.",
          "enum": [
            "deliveryTimelineView"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.PlanType"
          }
        }
      }
    },
    "DateRange": {
      "description": "",
      "type": "object",
      "properties": {
        "end": {
          "description": "End of the date range.",
          "type": "string",
          "format": "date-time"
        },
        "start": {
          "description": "Start of the date range.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeliveryViewData": {
      "description": "Data contract for Data of Delivery View",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PlanViewData"
        }
      ],
      "properties": {
        "childIdToParentIdMap": {
          "description": "Work item child id to parenet id map",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "criteriaStatus": {
          "description": "Filter criteria status of the timeline",
          "$ref": "#/definitions/TimelineCriteriaStatus"
        },
        "endDate": {
          "description": "The end date of the delivery view data",
          "type": "string",
          "format": "date-time"
        },
        "startDate": {
          "description": "The start date for the delivery view data",
          "type": "string",
          "format": "date-time"
        },
        "teams": {
          "description": "All the team data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimelineTeamData"
          }
        }
      }
    },
    "DeliveryViewPropertyCollection": {
      "description": "Collection of properties, specific to the DeliveryTimelineView",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PlanPropertyCollection"
        }
      ],
      "properties": {
        "cardSettings": {
          "description": "Card settings",
          "$ref": "#/definitions/CardSettings"
        },
        "criteria": {
          "description": "Field criteria",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterClause"
          }
        },
        "markers": {
          "description": "Markers. Will be missing/null if there are no markers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Marker"
          }
        },
        "teamBacklogMappings": {
          "description": "Team backlog mappings",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamBacklogMapping"
          }
        }
      }
    },
    "FieldInfo": {
      "description": "Object bag storing the set of permissions relevant to this plan",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The additional field display name",
          "type": "string"
        },
        "fieldType": {
          "description": "The additional field type",
          "enum": [
            "string",
            "plainText",
            "integer",
            "dateTime",
            "treePath",
            "boolean",
            "double"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.FieldType"
          }
        },
        "isIdentity": {
          "description": "Indicates if the field definition is for an identity field.",
          "type": "boolean"
        },
        "referenceName": {
          "description": "The additional field reference name",
          "type": "string"
        }
      }
    },
    "FieldReference": {
      "description": "An abstracted reference to a field",
      "type": "object",
      "properties": {
        "referenceName": {
          "description": "fieldRefName for the field",
          "type": "string"
        },
        "url": {
          "description": "Full http link to more information about the field",
          "type": "string"
        }
      }
    },
    "FieldSetting": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      ],
      "properties": {
      }
    },
    "FilterClause": {
      "description": "",
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "logicalOperator": {
          "type": "string"
        },
        "operator": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "FilterGroup": {
      "description": "",
      "type": "object",
      "properties": {
        "end": {
          "type": "integer",
          "format": "int32"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "start": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Marker": {
      "description": "Client serialization contract for Delivery Timeline Markers.",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color associated with the marker.",
          "readOnly": true,
          "type": "string"
        },
        "date": {
          "description": "Where the marker should be displayed on the timeline.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "label": {
          "description": "Label/title for the marker.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Member": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "imageUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ParentChildWIMap": {
      "description": "",
      "type": "object",
      "properties": {
        "childWorkItemIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "Plan": {
      "description": "Data contract for the plan definition",
      "type": "object",
      "properties": {
        "createdByIdentity": {
          "description": "Identity that created this plan. Defaults to null for records before upgrading to ScaledAgileViewComponent4.",
          "$ref": "#/definitions/IdentityRef"
        },
        "createdDate": {
          "description": "Date when the plan was created",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Description of the plan",
          "type": "string"
        },
        "id": {
          "description": "Id of the plan",
          "type": "string",
          "format": "uuid"
        },
        "modifiedByIdentity": {
          "description": "Identity that last modified this plan. Defaults to null for records before upgrading to ScaledAgileViewComponent4.",
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedDate": {
          "description": "Date when the plan was last modified. Default to CreatedDate when the plan is first created.",
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "Name of the plan",
          "type": "string"
        },
        "properties": {
          "description": "The PlanPropertyCollection instance associated with the plan. These are dependent on the type of the plan. For example, DeliveryTimelineView, it would be of type DeliveryViewPropertyCollection.",
          "type": "object"
        },
        "revision": {
          "description": "Revision of the plan. Used to safeguard users from overwriting each other's changes.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "Type of the plan",
          "enum": [
            "deliveryTimelineView"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.PlanType"
          }
        },
        "url": {
          "description": "The resource url to locate the plan via rest api",
          "type": "string"
        },
        "userPermissions": {
          "description": "Bit flag indicating set of permissions a user has to the plan.",
          "enum": [
            "none",
            "view",
            "edit",
            "delete",
            "manage",
            "allPermissions"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.PlanUserPermissions"
          }
        }
      }
    },
    "PlanMetadata": {
      "description": "Metadata about a plan definition that is stored in favorites service",
      "type": "object",
      "properties": {
        "createdByIdentity": {
          "description": "Identity of the creator of the plan",
          "$ref": "#/definitions/IdentityRef"
        },
        "description": {
          "description": "Description of plan",
          "type": "string"
        },
        "modifiedDate": {
          "description": "Last modified date of the plan",
          "type": "string",
          "format": "date-time"
        },
        "userPermissions": {
          "description": "Bit flag indicating set of permissions a user has to the plan.",
          "enum": [
            "none",
            "view",
            "edit",
            "delete",
            "manage",
            "allPermissions"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Work.WebApi.PlanUserPermissions"
          }
        }
      }
    },
    "PlanPropertyCollection": {
      "description": "Base class for properties of a scaled agile plan",
      "type": "object",
      "properties": {
      }
    },
    "PlanViewData": {
      "description": "Base class for plan view data contracts. Anything common goes here.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProcessConfiguration": {
      "description": "Process Configurations for the project",
      "type": "object",
      "properties": {
        "bugWorkItems": {
          "description": "Details about bug work items",
          "$ref": "#/definitions/CategoryConfiguration"
        },
        "portfolioBacklogs": {
          "description": "Details about portfolio backlogs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryConfiguration"
          }
        },
        "requirementBacklog": {
          "description": "Details of requirement backlog",
          "$ref": "#/definitions/CategoryConfiguration"
        },
        "taskBacklog": {
          "description": "Details of task backlog",
          "$ref": "#/definitions/CategoryConfiguration"
        },
        "typeFields": {
          "description": "Type fields for the process configuration",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "Rule": {
      "description": "",
      "type": "object",
      "properties": {
        "clauses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterClause"
          }
        },
        "filter": {
          "type": "string"
        },
[...]
