{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "WorkItemTracking",
  "x-ms-vss-resource-area-id": "5264459e-e5e0-4bd8-b118-0985e68a4ec5",
  "basePath": "/",
  "tags": [
    {
      "name": "artifactLinkTypes"
    },
    {
      "name": "artifactUriQuery"
    },
    {
      "name": "attachments"
    },
    {
      "name": "classificationNodes"
    },
    {
      "name": "comments"
    },
    {
      "name": "fields"
    },
    {
      "name": "queries"
    },
    {
      "name": "recyclebin"
    },
    {
      "name": "revisions"
    },
    {
      "name": "templates"
    },
    {
      "name": "updates"
    },
    {
      "name": "wiql"
    },
    {
      "name": "workItemIcons"
    },
    {
      "name": "workItemLinks"
    },
    {
      "name": "workItemRelationTypes"
    },
    {
      "name": "workItemRevisions"
    },
    {
      "name": "workItems"
    },
    {
      "name": "workItemTypeCategories"
    },
    {
      "name": "workItemTypes"
    },
    {
      "name": "workItemTypesField"
    },
    {
      "name": "workItemTypeStates"
    },
    {
      "name": "workItemTypeTemplate"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/wit/artifactlinktypes": {
      "get": {
        "tags": [
          "ArtifactLinkTypes"
        ],
        "x-ms-vss-resource": "artifactLinkTypes",
        "x-ms-vss-method": "GetWorkArtifactLinkTypes",
        "description": "Get the workItemTracking toolTypes outboundLinks of type WorkItem",
        "operationId": "ArtifactLinkTypes_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkArtifactLink"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/artifacturiquery": {
      "post": {
        "tags": [
          "ArtifactUriQuery"
        ],
        "x-ms-vss-resource": "artifactUriQuery",
        "x-ms-vss-method": "GetWorkItemIdsForArtifactUris",
        "description": "Gets the results of the work item ids linked to the artifact uri",
        "operationId": "ArtifactUriQuery_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of artifact uris.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactUriQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArtifactUriQueryResult"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "CreateAttachment",
        "description": "Creates an attachment.",
        "operationId": "Attachments_Create",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "areaPath",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AttachmentReference"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/attachments/{id}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "x-ms-vss-resource": "attachments",
        "x-ms-vss-method": "GetAttachmentContent",
        "description": "Returns an attachment",
        "operationId": "Attachments_GetAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemicons": {
      "get": {
        "tags": [
          "WorkItemIcons"
        ],
        "x-ms-vss-resource": "workItemIcons",
        "x-ms-vss-method": "GetWorkItemIcons",
        "description": "Get a list of all work item icons.",
        "operationId": "WorkItemIcons_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemIcon"
              }
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/workItemIcons/GetWorkItemIcons.json"
            }
        }
      }
    },
    "/_apis/wit/workitemicons/{icon}": {
      "get": {
        "tags": [
          "WorkItemIcons"
        ],
        "x-ms-vss-resource": "workItemIcons",
        "x-ms-vss-method": "GetWorkItemIconJson",
        "description": "Get a work item icon given the friendly name and icon color.",
        "operationId": "WorkItemIcons_GetWorkItemIconJson",
        "produces": [
          "image/svg+xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "icon",
            "description": "The name of the icon",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "color",
            "description": "The 6-digit hex color for the icon",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "v",
            "description": "The version of the icon (used only for cache invalidation)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemIcon"
            }
         }
        }
      }
    },
    "/_apis/wit/workitemrelationtypes": {
      "get": {
        "tags": [
          "WorkItemRelationTypes"
        ],
        "x-ms-vss-resource": "workItemRelationTypes",
        "x-ms-vss-method": "GetRelationTypes",
        "description": "Gets the work item relation types.",
        "operationId": "WorkItemRelationTypes_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemRelationType"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemrelationtypes/{relation}": {
      "get": {
        "tags": [
          "WorkItemRelationTypes"
        ],
        "x-ms-vss-resource": "workItemRelationTypes",
        "x-ms-vss-method": "GetRelationType",
        "description": "Gets the work item relation types.",
        "operationId": "WorkItemRelationTypes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "relation",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemRelationType"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitems": {
      "get": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "GetWorkItems",
        "description": "Returns a list of work items",
        "operationId": "WorkItems_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "",
            "required": true,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          },
          {
            "in": "query",
            "name": "errorPolicy",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemErrorPolicy"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItem"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitems/{id}": {
      "delete": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "DeleteWorkItem",
        "description": "",
        "operationId": "WorkItems_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "destroy",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "GetWorkItem",
        "description": "Returns a single work item",
        "operationId": "WorkItems_GetWorkItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "UpdateWorkItem",
        "description": "Updates a single work item",
        "operationId": "WorkItems_Update",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The JSON Patch document representing the update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of the work item to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "validateOnly",
            "description": "Indicate if you only want to validate the changes without saving the work item",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "bypassRules",
            "description": "Do not enforce the work item type rules on this update",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "suppressNotifications",
            "description": "Do not fire any notifications for this change",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/comments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "x-ms-vss-resource": "comments",
        "x-ms-vss-method": "GetComments",
        "description": "Returns specified number of comments for a work item from the specified revision",
        "operationId": "Comments_GetComments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Work item id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "fromRevision",
            "description": "Revision from which comments are to be fetched",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The number of comments to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Ascending or descending by revision id",
            "required": false,
            "type": "string",
            "format": "CommentSortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemComments"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/comments/{revision}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "x-ms-vss-resource": "comments",
        "x-ms-vss-method": "GetComment",
        "description": "Returns comment for a work item at the specified revision",
        "operationId": "Comments_GetComment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revision",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemComment"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/revisions": {
      "get": {
        "tags": [
          "Revisions"
        ],
        "x-ms-vss-resource": "revisions",
        "x-ms-vss-method": "GetRevisions",
        "description": "Returns the list of fully hydrated work item revisions, paged.",
        "operationId": "Revisions_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItem"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/revisions/{revisionNumber}": {
      "get": {
        "tags": [
          "Revisions"
        ],
        "x-ms-vss-resource": "revisions",
        "x-ms-vss-method": "GetRevision",
        "description": "Returns a fully hydrated work item for the requested revision",
        "operationId": "Revisions_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revisionNumber",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/updates": {
      "get": {
        "tags": [
          "Updates"
        ],
        "x-ms-vss-resource": "updates",
        "x-ms-vss-method": "GetUpdates",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "Updates_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemUpdate"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/updates/{updateNumber}": {
      "get": {
        "tags": [
          "Updates"
        ],
        "x-ms-vss-resource": "updates",
        "x-ms-vss-method": "GetUpdate",
        "description": "Returns a single update for a work item",
        "operationId": "Updates_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "updateNumber",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemUpdate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/classificationnodes": {
      "get": {
        "tags": [
          "ClassificationNodes"
        ],
        "x-ms-vss-resource": "classificationNodes",
        "x-ms-vss-method": "GetRootNodes",
        "description": "",
        "operationId": "ClassificationNodes_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemClassificationNode"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/classificationnodes/{structureGroup}/{*path}": {
      "post": {
        "tags": [
          "ClassificationNodes"
        ],
        "x-ms-vss-resource": "classificationNodes",
        "x-ms-vss-method": "CreateOrUpdateClassificationNode",
        "description": "",
        "operationId": "ClassificationNodes_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ClassificationNodes"
        ],
        "x-ms-vss-resource": "classificationNodes",
        "x-ms-vss-method": "DeleteClassificationNode",
        "description": "",
        "operationId": "ClassificationNodes_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reclassifyId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "ClassificationNodes"
        ],
        "x-ms-vss-resource": "classificationNodes",
        "x-ms-vss-method": "GetClassificationNode",
        "description": "",
        "operationId": "ClassificationNodes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ClassificationNodes"
        ],
        "x-ms-vss-resource": "classificationNodes",
        "x-ms-vss-method": "UpdateClassificationNode",
        "description": "",
        "operationId": "ClassificationNodes_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetFields",
        "description": "Returns information for all fields.",
        "operationId": "Fields_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Use ExtensionFields to include extension fields, otherwise exclude them. Unless the feature flag for this parameter is enabled, extension fields are always included.",
            "required": false,
            "type": "string",
            "format": "GetFieldsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemField"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/fields/{fieldNameOrRefName}": {
      "delete": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "DeleteField",
        "description": "",
        "operationId": "Fields_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "fieldNameOrRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "GetField",
        "description": "Gets information on a specific field.",
        "operationId": "Fields_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fieldNameOrRefName",
            "description": "Field simple name or reference name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemField"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Fields"
        ],
        "x-ms-vss-resource": "fields",
        "x-ms-vss-method": "UpdateField",
        "description": "",
        "operationId": "Fields_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemField"
            }
          },
          {
            "in": "path",
            "name": "fieldNameOrRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/{project}/_apis/wit/queries": {
      "get": {
        "tags": [
          "Queries"
        ],
        "x-ms-vss-resource": "queries",
        "x-ms-vss-method": "GetQueries",
        "description": "Gets the root queries and their children",
        "operationId": "Queries_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Include the query string (wiql), clauses, query result columns, and sort options in the results.",
            "required": false,
            "type": "string",
            "format": "QueryExpand"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "In the folder of queries, return child queries and folders to this depth.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Include deleted queries and folders",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QueryHierarchyItem"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/queries/GET__wit_queries__depth-1.json"
            },
            "Just the root query folders": {
                "$ref": "./httpExamples/queries/GET__wit_queries.json"
            },
            "With the query string and columns and sort options": {
                "$ref": "./httpExamples/queries/GET__wit_queries__depth-1__expand-all.json"
            },
            "Including deleted queries": {
                "$ref": "./httpExamples/queries/GET__wit_queries__depth-2__includeDeleted-true.json"
            }
        }
      }
    },
    "/{project}/_apis/wit/queries/{query}": {
      "post": {
        "tags": [
          "Queries"
        ],
        "x-ms-vss-resource": "queries",
        "x-ms-vss-method": "CreateQuery",
        "description": "Creates a query, or moves a query.",
        "operationId": "Queries_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "The parent path for the query to create.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Create a query": {
                "$ref": "./httpExamples/queries/POST__wit_queries_Shared Queries__folderName_.json"
            },
            "Create a folder": {
                "$ref": "./httpExamples/queries/POST__wit_queries_Shared Queries.json"
            },
            "Move a query or folder": {
                "$ref": "./httpExamples/queries/POST__wit_queries_My Queries.json"
            }
        }
      },
      "delete": {
        "tags": [
          "Queries"
        ],
        "x-ms-vss-resource": "queries",
        "x-ms-vss-method": "DeleteQuery",
        "description": "Delete a query or a folder",
        "operationId": "Queries_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "ID or path of the query or folder to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "By ID": {
                "$ref": "./httpExamples/queries/DELETE__wit_queries__queryId_.json"
            },
            "By folder path": {
                "$ref": "./httpExamples/queries/DELETE__wit_queries_My Queries__folderNameNew_.json"
            },
            "Undelete a query or folder": {
                "$ref": "./httpExamples/queries/PATCH__wit_queries__folderId___undeleteDescendants-true.json"
            }
        }
      },
      "get": {
        "tags": [
          "Queries"
        ],
        "x-ms-vss-resource": "queries",
        "x-ms-vss-method": "GetQuery",
        "description": "Retrieves an individual query and its children",
        "operationId": "Queries_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Include the query string (wiql), clauses, query result columns, and sort options in the results.",
            "required": false,
            "type": "string",
            "format": "QueryExpand"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "In the folder of queries, return child queries and folders to this depth.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Include deleted queries and folders",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Query by ID": {
                "$ref": "./httpExamples/queries/GET__wit_queries__queryId_.json"
            },
            "Query by Name": {
                "$ref": "./httpExamples/queries/GET__wit_queries_Shared Queries__folderName___queryName_.json"
            },
            "Folder by ID": {
                "$ref": "./httpExamples/queries/GET__wit_queries__folderId_.json"
            },
            "Folder by Name": {
                "$ref": "./httpExamples/queries/GET__wit_queries_Shared Queries__folderName_.json"
            },
            "Deleted query by ID": {
                "$ref": "./httpExamples/queries/GET__wit_queries__queryId___includeDeleted-true.json"
            },
            "Flat query with expanded clauses": {
                "$ref": "./httpExamples/queries/GET__wit_queries__queryId___expand-clauses.json"
            },
            "Hierarchical query with expanded clauses": {
                "$ref": "./httpExamples/queries/GET__wit_queries__hierarchicalQueryId___expand-clauses.json"
            }
        }
      },
      "patch": {
        "tags": [
          "Queries"
        ],
        "x-ms-vss-resource": "queries",
        "x-ms-vss-method": "UpdateQuery",
        "description": "Update a query or a folder. This allows you to update, rename and move queries and folders.",
        "operationId": "Queries_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "The path for the query to update.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "undeleteDescendants",
            "description": "Undelete the children of this folder.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ],
        "x-ms-examples": {
            "Update a query": {
                "$ref": "./httpExamples/queries/PATCH__wit_queries_Shared Queries__folderName___queryNameNew_.json"
            },
            "Rename a query": {
                "$ref": "./httpExamples/queries/PATCH__wit_queries_Shared Queries__folderName_.json"
            },
            "Rename a folder": {
                "$ref": "./httpExamples/queries/PATCH__wit_queries_Shared Queries__folderName_.json"
            }
        }
      }
    },
    "/{project}/_apis/wit/recyclebin": {
      "get": {
        "tags": [
          "Recyclebin"
        ],
        "x-ms-vss-resource": "recyclebin",
        "x-ms-vss-method": "GetDeletedWorkItemReferences",
        "description": "",
        "operationId": "Recyclebin_GetDeletedWorkItemReferences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemDeleteShallowReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/recyclebin/{id}": {
      "delete": {
        "tags": [
          "Recyclebin"
        ],
        "x-ms-vss-resource": "recyclebin",
        "x-ms-vss-method": "DestroyWorkItem",
        "description": "",
        "operationId": "Recyclebin_DestroyWorkItem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Recyclebin"
        ],
        "x-ms-vss-resource": "recyclebin",
        "x-ms-vss-method": "GetDeletedWorkItem",
        "description": "",
        "operationId": "Recyclebin_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Recyclebin"
        ],
        "x-ms-vss-resource": "recyclebin",
        "x-ms-vss-method": "RestoreWorkItem",
        "description": "",
        "operationId": "Recyclebin_RestoreWorkItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemDeleteUpdate"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/reporting/workitemlinks": {
      "get": {
        "tags": [
          "WorkItemLinks"
        ],
        "x-ms-vss-resource": "workItemLinks",
        "x-ms-vss-method": "GetReportingLinks",
        "description": "Get a batch of work item links",
        "operationId": "WorkItemLinks_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemLinksBatch"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/workItemLinks/GET__wit_reporting_workItemLinks.json"
            }
        }
      }
    },
    "/{project}/_apis/wit/reporting/workitemrevisions": {
      "get": {
        "tags": [
          "WorkItemRevisions"
        ],
        "x-ms-vss-resource": "workItemRevisions",
        "x-ms-vss-method": "ReadReportingRevisionsGet",
        "description": "Get a batch of work item revisions with the option of including deleted items",
        "operationId": "WorkItemRevisions_ReadReportingRevisionsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "A list of fields to return in work item revisions. Omit this parameter to get all reportable fields.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item revisions of all work item types.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeIdentityRef",
            "description": "Return an identity reference instead of a string value for identity fields.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Specify if the deleted item should be returned.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeTagRef",
            "description": "Specify if the tag objects should be returned for System.Tags field.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestOnly",
            "description": "Return only the latest revisions of work items, skipping all historical revisions",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Return all the fields in work item revisions, including long text fields which are not returned by default",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          },
          {
            "in": "query",
            "name": "includeDiscussionChangesOnly",
            "description": "Return only the those revisions of work items, where only history field was changed",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "Get the first batch of work item revisions": {
                "$ref": "./httpExamples/workItemRevisions/GET__wit_reporting_workItemRevisions.json"
            },
            "Get a batch of work item revisions with identity references": {
                "$ref": "./httpExamples/workItemRevisions/GET__wit_reporting_workItemRevisions_includeIdentityRef-true_watermark-794.json"
            }
        }
      },
      "post": {
        "tags": [
          "WorkItemRevisions"
        ],
        "x-ms-vss-resource": "workItemRevisions",
        "x-ms-vss-method": "ReadReportingRevisionsPost",
        "description": "Get a batch of work item revisions. This request may be used if your list of fields is large enough that it may run the URL over the length limit.",
        "operationId": "WorkItemRevisions_ReadReportingRevisionsPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "An object that contains request settings: field filter, type filter, identity format",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/workItemRevisions/POST__wit_reporting_workItemRevisions_watermark-794.json"
            }
        }
      }
    },
    "/{project}/_apis/wit/workitems/${type}": {
      "post": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "CreateWorkItem",
        "description": "Creates a single work item",
        "operationId": "WorkItems_Create",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The JSON Patch document representing the work item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "The work item type of the work item to create",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "validateOnly",
            "description": "Indicate if you only want to validate the changes without saving the work item",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "bypassRules",
            "description": "Do not enforce the work item type rules on this update",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "suppressNotifications",
            "description": "Do not fire any notifications for this change",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "WorkItems"
        ],
        "x-ms-vss-resource": "workItems",
        "x-ms-vss-method": "GetWorkItemTemplate",
        "description": "Returns a single work item from a template",
        "operationId": "WorkItems_GetWorkItemTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypecategories": {
      "get": {
        "tags": [
          "WorkItemTypeCategories"
        ],
        "x-ms-vss-resource": "workItemTypeCategories",
        "x-ms-vss-method": "GetWorkItemTypeCategories",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "WorkItemTypeCategories_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeCategory"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypecategories/{category}": {
      "get": {
        "tags": [
          "WorkItemTypeCategories"
        ],
        "x-ms-vss-resource": "workItemTypeCategories",
        "x-ms-vss-method": "GetWorkItemTypeCategory",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "WorkItemTypeCategories_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "category",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeCategory"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemTypes",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "WorkItemTypes_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemType"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}": {
      "get": {
        "tags": [
          "WorkItemTypes"
        ],
        "x-ms-vss-resource": "workItemTypes",
        "x-ms-vss-method": "GetWorkItemType",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "WorkItemTypes_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemType"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}/fields/{field}": {
      "get": {
        "tags": [
          "WorkItemTypesField"
        ],
        "x-ms-vss-resource": "workItemTypesField",
        "x-ms-vss-method": "GetDependentFields",
        "description": "Returns the dependent fields for the corresponding workitem type and fieldname",
        "operationId": "WorkItemTypesField_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldDependentRule"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}/states": {
      "get": {
        "tags": [
          "WorkItemTypeStates"
        ],
        "x-ms-vss-resource": "workItemTypeStates",
        "x-ms-vss-method": "GetWorkItemTypeStates",
        "description": "Returns the state names and colors for a work item type",
        "operationId": "WorkItemTypeStates_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateColor"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypetemplate": {
      "post": {
        "tags": [
          "WorkItemTypeTemplate"
        ],
        "x-ms-vss-resource": "workItemTypeTemplate",
        "x-ms-vss-method": "UpdateWorkItemTypeDefinition",
        "description": "Add/updates a work item type",
        "operationId": "WorkItemTypeTemplate_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplateUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProvisioningResult"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypetemplate/{type}": {
      "get": {
        "tags": [
          "WorkItemTypeTemplate"
        ],
        "x-ms-vss-resource": "workItemTypeTemplate",
        "x-ms-vss-method": "ExportWorkItemTypeDefinition",
        "description": "Export work item type",
        "operationId": "WorkItemTypeTemplate_ExportWorkItemTypeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "exportGlobalLists",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/templates": {
      "post": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "CreateTemplate",
        "description": "Creates a template",
        "operationId": "Templates_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Template contents",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "GetTemplates",
        "description": "Gets template",
        "operationId": "Templates_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workitemtypename",
            "description": "Optional, When specified returns templates for given Work item type.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTemplateReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/templates/{templateId}": {
      "delete": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "DeleteTemplate",
        "description": "Deletes the template with given id",
        "operationId": "Templates_Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "GetTemplate",
        "description": "Gets the template with specified id",
        "operationId": "Templates_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "ReplaceTemplate",
        "description": "Replace template contents",
        "operationId": "Templates_ReplaceTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Template contents to replace with",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/wiql": {
      "post": {
        "tags": [
          "Wiql"
        ],
        "x-ms-vss-resource": "wiql",
        "x-ms-vss-method": "QueryByWiql",
        "description": "Gets the results of the query given its WIQL.",
        "operationId": "Wiql_QueryByWiql",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query containing the WIQL.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wiql"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "Whether or not to use time precision.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The max number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/wiql/POST__wit_wiql.json"
            }
        }
      }
    },
    "/{project}/{team}/_apis/wit/wiql/{id}": {
      "head": {
        "tags": [
          "Wiql"
        ],
        "x-ms-vss-resource": "wiql",
        "x-ms-vss-method": "GetQueryResultCount",
        "description": "Gets the results of the query given the query ID.",
        "operationId": "Wiql_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The query ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "Whether or not to use time precision.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
         }
        },
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/wiql/GET__wit_wiql__queryId_.json"
            }
        }
      },
      "get": {
        "tags": [
          "Wiql"
        ],
        "x-ms-vss-resource": "wiql",
        "x-ms-vss-method": "QueryById",
        "description": "Gets the results of the query given the query ID.",
        "operationId": "Wiql_QueryById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The query ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "Whether or not to use time precision.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ],
        "x-ms-examples": {
            "": {
                "$ref": "./httpExamples/wiql/GET__wit_wiql__queryId_.json"
            }
        }
      }
    }
  },
  "definitions": {
    "AccountMyWorkResult": {
      "description": "",
      "type": "object",
      "properties": {
        "querySizeLimitExceeded": {
          "description": "True, when length of WorkItemDetails is same as the limit",
          "type": "boolean"
        },
        "workItemDetails": {
          "description": "WorkItem Details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountWorkWorkItemModel"
          }
        }
      }
    },
    "AccountRecentActivityWorkItemModel": {
      "description": "Represents Work Item Recent Activity",
      "type": "object",
      "properties": {
        "activityDate": {
          "description": "Date of the last Activity by the user",
          "type": "string",
          "format": "date-time"
        },
        "activityType": {
          "description": "Type of the activity",
          "enum": [
            "visited",
            "edited",
            "deleted",
            "restored"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.WorkItemRecentActivityType"
          }
        },
        "assignedTo": {
          "description": "Assigned To",
          "type": "string"
        },
        "changedDate": {
          "description": "Last changed date of the work item",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Work Item Id",
          "type": "integer",
          "format": "int32"
        },
        "identityId": {
          "description": "TeamFoundationId of the user this activity belongs to",
          "type": "string",
          "format": "uuid"
        },
        "state": {
          "description": "State of the work item",
          "type": "string"
        },
        "teamProject": {
          "description": "Team project the work item belongs to",
          "type": "string"
        },
        "title": {
          "description": "Title of the work item",
          "type": "string"
        },
        "workItemType": {
          "description": "Type of Work Item",
          "type": "string"
        }
      }
    },
    "AccountRecentMentionWorkItemModel": {
      "description": "Represents Recent Mention Work Item",
      "type": "object",
      "properties": {
        "assignedTo": {
          "description": "Assigned To",
          "type": "string"
        },
        "id": {
          "description": "Work Item Id",
          "type": "integer",
          "format": "int32"
        },
        "mentionedDateField": {
          "description": "Lastest date that the user were mentioned",
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "description": "State of the work item",
          "type": "string"
        },
        "teamProject": {
          "description": "Team project the work item belongs to",
          "type": "string"
        },
        "title": {
          "description": "Title of the work item",
          "type": "string"
        },
        "workItemType": {
          "description": "Type of Work Item",
          "type": "string"
        }
      }
    },
    "AccountWorkWorkItemModel": {
      "description": "",
      "type": "object",
      "properties": {
        "assignedTo": {
          "type": "string"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string"
        },
        "teamProject": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "workItemType": {
          "type": "string"
        }
      }
    },
    "ArtifactUriQuery": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactUriQueryResult": {
      "description": "",
      "type": "object",
      "properties": {
        "artifactUrisQueryResult": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        }
      }
    },
    "AttachmentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldDependentRule": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "dependentFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        }
      }
    },
    "FieldsToEvaluate": {
      "description": "",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldUpdates": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "fieldValues": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rulesFrom": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "IdentityReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IdentityRef"
        }
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "Legacy back-compat property. This has been the WIT specific value from Constants. Will be hidden (but exists) on the client unless they are targeting the newest version",
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "description": "The JSON model for JSON Patch Operations",
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
          }
        }
      ],
      "properties": {
      }
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "Link": {
      "description": "",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rel": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ProjectWorkItemStateColors": {
      "description": "Project work item type state colors",
      "type": "object",
      "properties": {
        "projectName": {
          "description": "Project name",
          "readOnly": true,
          "type": "string"
        },
        "workItemTypeStateColors": {
          "description": "State colors for all work item type in a project",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeStateColors"
          }
        }
      }
    },
    "ProvisioningResult": {
      "description": "",
      "type": "object",
      "properties": {
        "provisioningImportEvents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryHierarchyItem": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryHierarchyItem"
          }
        },
        "clauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "filterOptions": {
          "enum": [
            "workItems",
            "linksOneHopMustContain",
            "linksOneHopMayContain",
            "linksOneHopDoesNotContain",
            "linksRecursiveMustContain",
            "linksRecursiveMayContain",
            "linksRecursiveDoesNotContain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.LinkQueryMode"
          }
        },
        "hasChildren": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isFolder": {
          "type": "boolean"
        },
        "isInvalidSyntax": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time"
        },
        "linkClauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "queryType": {
          "enum": [
            "flat",
            "tree",
            "oneHop"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.QueryType"
          }
        },
        "sortColumns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemQuerySortColumn"
          }
        },
        "sourceClauses": {
[...]
