{
  "swagger": "2.0",
  "info": {
    "title": "Analytics",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "handle"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/public/analytics/ExtensionEvents/handle": {
      "post": {
        "tags": [
          "handle"
        ],
        "summary": "Handle",
        "description": "",
        "operationId": "handle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionEventCallbackData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ExtensionEventCallbackResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ExtensionEventCallbackData": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "The id of the Extension whose state is changing.",
          "type": "string"
        },
        "operation": {
          "description": "The operation causing a state change (install, uninstall, update, enable, disable).",
          "enum": [
            "preInstall",
            "preEnable",
            "postInstall",
            "postUninstall",
            "postEnable",
            "postDisable",
            "postUpdate",
            "preUninstall"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ExtensionManagement.Sdk.Server.ExtensionOperation"
          }
        },
        "publisherId": {
          "description": "The id of the Publisher for Extension whose state is changing.",
          "type": "string"
        },
        "target": {
          "description": "The target host of the extension operation.",
          "$ref": "#/definitions/ExtensionEventTarget"
        },
        "version": {
          "description": "The version of the Extension whose state is changing.",
          "type": "string"
        }
      }
    },
    "ExtensionEventCallbackResult": {
      "type": "object",
      "properties": {
        "allow": {
          "description": "Indicates whether to continue with the state change or abort.",
          "type": "boolean"
        },
        "message": {
          "description": "Message indicating reason for abort.",
          "type": "string"
        }
      }
    },
    "ExtensionEventTarget": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The host identifier.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "The host name.",
          "type": "string"
        },
        "uri": {
          "description": "The host uri.",
          "type": "string"
        }
      }
    },
    "IngestResult": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StageShardInvalid": {
      "type": "object",
      "properties": {
        "disableCurrentStream": {
          "type": "boolean"
        },
        "invalidFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StageStreamInfo": {
      "type": "object",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time"
        },
        "current": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "streamId": {
          "type": "integer",
          "format": "int32"
        },
        "watermark": {
          "type": "string"
        }
      }
    },
    "StageStreamInfoCollection": {
      "type": "object",
      "properties": {
        "providerShardId": {
          "type": "integer",
          "format": "int32"
        },
        "streams": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StageStreamInfo"
          }
        },
        "tableName": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}