{
    "swagger": "2.0",
    "info": {
        "title": "Analytics",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
    },
    "definitions": {
        "ingestResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "stageShardInvalid": {
            "type": "object",
            "properties": {
                "disableCurrentStream": {
                    "type": "boolean"
                },
                "invalidFields": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "stageStreamInfo": {
            "type": "object",
            "properties": {
                "current": {
                    "type": "boolean"
                },
                "priority": {
                    "type": "integer",
                    "format": "int32"
                },
                "streamId": {
                    "type": "integer",
                    "format": "int32"
                },
                "watermark": {
                    "type": "string"
                }
            }
        },
        "stageStreamInfoCollection": {
            "type": "object",
            "properties": {
                "providerShardId": {
                    "type": "integer",
                    "format": "int32"
                },
                "streams": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/stageStreamInfo"
                    }
                },
                "tableName": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}