{
  "swagger": "2.0",
  "info": {
    "title": "Authentication",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "sessionToken"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/webplatformauth/sessiontoken": {
      "post": {
        "tags": [
          "sessionToken"
        ],
        "summary": "CreateSessionToken",
        "description": "",
        "operationId": "createSessionToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebSessionToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebSessionToken"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "WebSessionToken": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "format": "uuid"
        },
        "extensionName": {
          "type": "string"
        },
        "force": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "namedTokenId": {
          "type": "string"
        },
        "publisherName": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "tokenType": {
          "enum": [
            "session",
            "app"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebPlatform.DelegatedAppTokenType"
          }
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}