{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Authentication",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "sessionToken"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/webplatformauth/sessiontoken": {
            "post": {
                "tags": [
                    "sessionToken"
                ],
                "summary": "CreateSessionToken",
                "description": "",
                "operationId": "createSessionToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebSessionToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/WebSessionToken"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CustomerIntelligenceEvent": {
            "type": "object",
            "properties": {
                "area": {
                    "type": "string"
                },
                "feature": {
                    "type": "string"
                },
                "properties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "WebSessionToken": {
            "type": "object",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "extensionName": {
                    "type": "string"
                },
                "force": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "namedTokenId": {
                    "type": "string"
                },
                "publisherName": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "tokenType": {
                    "enum": [
                        "session",
                        "app"
                    ]
                },
                "validTo": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}