{
  "swagger": "2.0",
  "info": {
    "title": "AzureTfs",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "continuousDeploymentConfiguration"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/azuretfs/continuousdeploymentconfiguration": {
      "post": {
        "tags": [
          "continuousDeploymentConfiguration"
        ],
        "summary": "ConfigureContinuousDeployment",
        "description": "",
        "operationId": "configureContinuousDeployment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentOperation"
            }
          }
        }
      }
    },
    "/_apis/azuretfs/continuousdeploymentconfiguration/{continuousDeploymentOperationId}": {
      "get": {
        "tags": [
          "continuousDeploymentConfiguration"
        ],
        "summary": "GetContinuousDeploymentOperation",
        "description": "",
        "operationId": "getContinuousDeploymentOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "continuousDeploymentOperationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentOperation"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Authorization": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scheme": {
          "type": "string"
        }
      }
    },
    "AzureAppServiceCreateOptions": {
      "type": "object",
      "properties": {
        "appServicePlanName": {
          "type": "string"
        },
        "appServicePricingTier": {
          "type": "string"
        },
        "baseAppServiceName": {
          "type": "string"
        }
      }
    },
    "AzureAppServiceDeploymentTarget": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureDeploymentTarget"
        }
      ],
      "properties": {
        "createOptions": {
          "$ref": "#/definitions/AzureAppServiceCreateOptions"
        },
        "slotSwapConfiguration": {
          "$ref": "#/definitions/SlotSwapConfiguration"
        }
      }
    },
    "AzureContainerRegistry": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ContainerRegistry"
        }
      ],
      "properties": {
        "registryName": {
          "type": "string"
        },
        "resourceGroupName": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "subscriptionName": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        }
      }
    },
    "AzureDeploymentTarget": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentTarget"
        }
      ],
      "properties": {
        "location": {
          "type": "string"
        },
        "resourceGroupName": {
          "type": "string"
        },
        "resourceIdentifier": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "subscriptionName": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "type": {
          "enum": [
            "undefined",
            "windowsAppService",
            "linuxAppService",
            "virtualMachineScaleSets"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.AzureResourceType"
          }
        }
      }
    },
    "AzureStorageAccount": {
      "type": "object",
      "properties": {
        "authorizationInfo": {
          "$ref": "#/definitions/Authorization"
        },
        "name": {
          "type": "string"
        },
        "resourceGroup": {
          "type": "string"
        }
      }
    },
    "AzureVirtualMachineImageBuildConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildConfiguration"
        }
      ],
      "properties": {
        "baseImageUrn": {
          "type": "string"
        },
        "deploymentScript": {
          "type": "string"
        },
        "imageStore": {
          "$ref": "#/definitions/AzureStorageAccount"
        }
      }
    },
    "AzureVmssDeploymentTarget": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureDeploymentTarget"
        }
      ],
      "properties": {
      }
    },
    "BuildConfiguration": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "undefined",
            "aspNetWap",
            "aspNetCore",
            "nodeJS",
            "azureVirtualMachineImage",
            "dockerImage",
            "dotNetContainerServices",
            "python"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.ApplicationType"
          }
        },
        "workingDirectory": {
          "type": "string"
        }
      }
    },
    "BuildDefinitionReference": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefinitionReference"
        }
      ],
      "properties": {
      }
    },
    "BuildReference": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefinitionReference"
        }
      ],
      "properties": {
      }
    },
    "CiConfiguration": {
      "type": "object",
      "properties": {
        "buildDefinition": {
          "$ref": "#/definitions/BuildDefinitionReference"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "queuedBuild": {
          "$ref": "#/definitions/BuildReference"
        },
        "releaseDefinition": {
          "$ref": "#/definitions/ReleaseDefinitionReference"
        },
        "result": {
          "$ref": "#/definitions/CiConfigurationResult"
        }
      }
    },
    "CiConfigurationResult": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.CiConfigurationStatus"
          }
        },
        "statusMessage": {
          "type": "string"
        }
      }
    },
    "CodeRepository": {
      "type": "object",
      "properties": {
        "authorizationInfo": {
          "$ref": "#/definitions/Authorization"
        },
        "defaultBranch": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "CodeRepositoryDeploymentSource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentSource"
        }
      ],
      "properties": {
        "repository": {
          "$ref": "#/definitions/CodeRepository"
        }
      }
    },
    "ContainerRegistry": {
      "type": "object",
      "properties": {
        "authorizationInfo": {
          "$ref": "#/definitions/Authorization"
        },
        "registryUrl": {
          "type": "string"
        },
        "type": {
          "enum": [
            "undefined",
            "private",
            "azureContainerRegistry"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.ContainerRegistryType"
          }
        }
      }
    },
    "ContinuousDeploymentConfiguration": {
      "type": "object",
      "properties": {
        "accountConfiguration": {
          "$ref": "#/definitions/ResourceConfiguration"
        },
        "pipelineConfiguration": {
          "$ref": "#/definitions/PipelineConfiguration"
        },
        "projectConfiguration": {
          "$ref": "#/definitions/ResourceConfiguration"
        },
        "sourceConfiguration": {
          "$ref": "#/definitions/SourceConfiguration"
        },
        "targetConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "testConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        }
      }
    },
    "ContinuousDeploymentOperation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Operation"
        }
      ],
      "properties": {
        "deploymentStepIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        }
      }
    },
    "DefinitionReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "DeploymentSource": {
      "type": "object",
      "properties": {
        "buildConfiguration": {
          "$ref": "#/definitions/BuildConfiguration"
        },
        "type": {
          "enum": [
            "undefined",
            "codeRepository",
            "vstsBuild"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.DeploymentSourceType"
          }
        }
      }
    },
    "DeploymentTarget": {
      "type": "object",
      "properties": {
        "authorizationInfo": {
          "$ref": "#/definitions/Authorization"
        },
        "environmentType": {
          "enum": [
            "undefined",
            "production",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.TargetEnvironmentType"
          }
        },
        "friendlyName": {
          "type": "string"
        },
        "provider": {
          "enum": [
            "undefined",
            "azure",
            "serviceFabric"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.DeploymentTargetProvider"
          }
        }
      }
    },
    "DockerImageBuildConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildConfiguration"
        }
      ],
      "properties": {
        "dockerfilePath": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "registry": {
          "$ref": "#/definitions/ContainerRegistry"
        },
        "startupCommand": {
          "type": "string"
        }
      }
    },
    "DotNetContainerServicesBuildConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildConfiguration"
        }
      ],
      "properties": {
        "additionalComposeFilePath": {
          "type": "string"
        },
        "composeFilePath": {
          "type": "string"
        },
        "nugetVersion": {
          "type": "string"
        },
        "registry": {
          "$ref": "#/definitions/ContainerRegistry"
        }
      }
    },
    "NodeJsBuildConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildConfiguration"
        }
      ],
      "properties": {
        "nodeJsTaskRunner": {
          "enum": [
            "undefined",
            "gulp",
            "grunt"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.NodeJsTaskRunnerType"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "resultMessage": {
          "description": "The result message which is generally not set.",
          "type": "string"
        }
      }
    },
    "OperationReference": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Operations.OperationStatus"
          }
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    },
    "PipelineConfiguration": {
      "type": "object",
      "properties": {
        "clientType": {
          "enum": [
            "undefined",
            "ibiza"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.ClientType"
          }
        },
        "prodEnvironmentName": {
          "type": "string"
        },
        "testEnvironmentName": {
          "type": "string"
        }
      }
    },
    "ProjectReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ProvisioningConfiguration": {
      "type": "object",
      "properties": {
        "ciConfiguration": {
          "$ref": "#/definitions/CiConfiguration"
        },
        "id": {
          "type": "string"
        },
        "source": {
          "$ref": "#/definitions/DeploymentSource"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentTarget"
          }
        }
      }
    },
    "PythonBuildConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildConfiguration"
        }
      ],
      "properties": {
        "djangoSettingsModule": {
          "type": "string"
        },
        "flaskProjectName": {
          "type": "string"
        },
        "pythonExtensionId": {
          "type": "string"
        },
        "pythonFramework": {
          "enum": [
            "undefined",
            "bottle",
            "django",
            "flask"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.PythonFrameworkType"
          }
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ReleaseDefinitionReference": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefinitionReference"
        }
      ],
      "properties": {
        "source": {
          "enum": [
            "undefined",
            "ibiza",
            "azureCli"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.ConfigurationSource"
          }
        }
      }
    },
    "ResourceConfiguration": {
      "type": "object",
      "properties": {
        "createIfNotFound": {
          "type": "boolean"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "resourceName": {
          "type": "string"
        }
      }
    },
    "ServiceFabricDeploymentTarget": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentTarget"
        }
      ],
      "properties": {
        "applicationName": {
          "type": "string"
        },
        "clusterEndpoint": {
          "type": "string"
        },
        "serverCertificateThumbprint": {
          "type": "string"
        }
      }
    },
    "SlotSwapConfiguration": {
      "type": "object",
      "properties": {
        "slotName": {
          "type": "string"
        }
      }
    },
    "SourceConfiguration": {
      "type": "object",
      "properties": {
        "sourceRepository": {
          "$ref": "#/definitions/SourceRepository"
        },
        "sourceVersion": {
          "type": "string"
        }
      }
    },
    "SourceRepository": {
      "type": "object",
      "properties": {
        "identifier": {
          "type": "string"
        },
        "properties": {
          "description": "The properties cannot be IEnumerable/IList, since XML serializer does not work well with interfaces. This object gets passed as job parameter which uses XML serializer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "repositoryType": {
          "enum": [
            "invalid",
            "vstsGit",
            "gitHub",
            "vstsTfvc",
            "externalGit",
            "localGit"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.SourceRepositoryType"
          }
        }
      }
    },
    "TfsBuildDeploymentSource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentSource"
        }
      ],
      "properties": {
        "buildDefinitionId": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}