{
  "swagger": "2.0",
  "info": {
    "title": "AzureTfs",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "continuousDeploymentConfiguration"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/azuretfs/continuousdeploymentconfiguration": {
      "post": {
        "tags": [
          "continuousDeploymentConfiguration"
        ],
        "summary": "ConfigureContinuousDeployment",
        "description": "",
        "operationId": "configureContinuousDeployment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentOperation"
            }
          }
        }
      }
    },
    "/_apis/azuretfs/continuousdeploymentconfiguration/{continuousDeploymentOperationId}": {
      "get": {
        "tags": [
          "continuousDeploymentConfiguration"
        ],
        "summary": "GetContinuousDeploymentOperation",
        "description": "",
        "operationId": "getContinuousDeploymentOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "continuousDeploymentOperationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentOperation"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ContinuousDeploymentConfiguration": {
      "type": "object",
      "properties": {
        "accountConfiguration": {
          "$ref": "#/definitions/ResourceConfiguration"
        },
        "pipelineConfiguration": {
          "$ref": "#/definitions/PipelineConfiguration"
        },
        "projectConfiguration": {
          "$ref": "#/definitions/ResourceConfiguration"
        },
        "sourceConfiguration": {
          "$ref": "#/definitions/SourceConfiguration"
        },
        "targetConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "testConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        }
      }
    },
    "ContinuousDeploymentOperation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Operation"
        }
      ],
      "properties": {
        "deploymentStepIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "resultMessage": {
          "description": "The result message which is generally not set.",
          "type": "string"
        }
      }
    },
    "OperationReference": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Operations.OperationStatus"
          }
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    },
    "PipelineConfiguration": {
      "type": "object",
      "properties": {
        "clientType": {
          "enum": [
            "undefined",
            "ibiza"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.ClientType"
          }
        },
        "prodEnvironmentName": {
          "type": "string"
        },
        "testEnvironmentName": {
          "type": "string"
        }
      }
    },
    "Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ResourceConfiguration": {
      "type": "object",
      "properties": {
        "createIfNotFound": {
          "type": "boolean"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "resourceName": {
          "type": "string"
        }
      }
    },
    "SourceConfiguration": {
      "type": "object",
      "properties": {
        "sourceRepository": {
          "$ref": "#/definitions/SourceRepository"
        },
        "sourceVersion": {
          "type": "string"
        }
      }
    },
    "SourceRepository": {
      "type": "object",
      "properties": {
        "identifier": {
          "type": "string"
        },
        "properties": {
          "description": "The properties cannot be IEnumerable/IList, since XML serializer does not work well with interfaces. This object gets passed as job parameter which uses XML serializer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Property"
          }
        },
        "repositoryType": {
          "enum": [
            "invalid",
            "vstsGit",
            "gitHub",
            "vstsTfvc",
            "externalGit"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.PortalExtension.WebApi.Contracts.SourceRepositoryType"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}