{
    "swagger": "2.0",
    "info": {
        "title": "Blob",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "blobs"
        },
        {
            "name": "blobsbatch"
        },
        {
            "name": "referencesbatch"
        },
        {
            "name": "stats"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/blob/blobs/{blobId}": {
            "put": {
                "tags": [
                    "blobs"
                ],
                "summary": "AddBlobAsync",
                "description": "",
                "operationId": "addBlobAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "blobId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "referenceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "referenceScope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "blobs"
                ],
                "summary": "AddBlockBlobBlockAsync",
                "description": "",
                "operationId": "addBlockBlobBlockAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "blobId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "blockHash",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "blobs"
                ],
                "summary": "GetBlobByIdentifierAsync",
                "description": "",
                "operationId": "getBlobByIdentifierAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "blobId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/blob/blobsbatch": {
            "post": {
                "tags": [
                    "blobsbatch"
                ],
                "summary": "GetDownloadUrisAsync",
                "description": "",
                "operationId": "getDownloadUrisAsync",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Stream to upload",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/blobBatch"
                        }
                    }
                }
            }
        },
        "/_apis/blob/referencesbatch": {
            "delete": {
                "tags": [
                    "referencesbatch"
                ],
                "summary": "DeleteReferencesAsync",
                "description": "",
                "operationId": "deleteReferencesAsync",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "referencesbatch"
                ],
                "summary": "TryAddReferencesAsync",
                "description": "",
                "operationId": "tryAddReferencesAsync",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/blob/stats": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "GetStats",
                "description": "",
                "operationId": "getStats",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "blob": {
            "type": "object",
            "properties": {
                "blockHashes": {
                    "description": "An array of block hashes for the blob. Block hashes are calculated by a specialized hashing algorithm from the blob content. All the blocks except the last one must be exactly 2 MB; the last one must be no larger than 2 MB.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "id": {
                    "description": "ID of the blob. It is calculated by a specialized hashing algorithm from the blob content.",
                    "type": "string"
                },
                "url": {
                    "description": "A SAS-based URL, containing an implicit TTL (time-to-live) value for downloading the blob. The caller is advised to (1) treat the URL as sensible data (2) download the blob in a timely fashion.",
                    "type": "string"
                }
            }
        },
        "blobBatch": {
            "type": "object",
            "properties": {
                "blobs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/blob"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}