{
  "swagger": "2.0",
  "info": {
    "title": "Blob",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "blobs"
    },
    {
      "name": "blobsbatch"
    },
    {
      "name": "referencesbatch"
    },
    {
      "name": "url"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/blob/blobs/{blobId}": {
      "put": {
        "tags": [
          "blobs"
        ],
        "summary": "AddBlob",
        "description": "",
        "operationId": "addBlob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blobId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "referenceId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "referenceScope",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "blobs"
        ],
        "summary": "AddBlockBlobBlock",
        "description": "",
        "operationId": "addBlockBlobBlock",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blobId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "blockHash",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "blobs"
        ],
        "summary": "GetBlobByIdentifier",
        "description": "",
        "operationId": "getBlobByIdentifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blobId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/blob/blobs/{blobId}/url": {
      "get": {
        "tags": [
          "url"
        ],
        "summary": "GetBlobUrlByIdentifier",
        "description": "",
        "operationId": "getBlobUrlByIdentifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blobId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filename",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "contentType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expiryTime",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "allowEdge",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Blob"
            }
          }
        }
      }
    },
    "/_apis/blob/blobsbatch": {
      "post": {
        "tags": [
          "blobsbatch"
        ],
        "summary": "GetDownloadUris",
        "description": "",
        "operationId": "getDownloadUris",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          },
          {
            "in": "query",
            "name": "expiryTime",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "allowEdge",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlobBatch"
            }
          }
        }
      },
      "get": {
        "tags": [
          "blobsbatch"
        ],
        "summary": "GetSASTokens",
        "description": "",
        "operationId": "getSASTokens",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlobMappings"
            }
          }
        }
      }
    },
    "/_apis/blob/referencesbatch": {
      "delete": {
        "tags": [
          "referencesbatch"
        ],
        "summary": "DeleteReferences",
        "description": "",
        "operationId": "deleteReferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "referencesbatch"
        ],
        "summary": "TryAddReferences",
        "description": "",
        "operationId": "tryAddReferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Blob": {
      "type": "object",
      "properties": {
        "blockHashes": {
          "description": "An array of block hashes for the blob. Block hashes are calculated by a specialized hashing algorithm from the blob content. All the blocks except the last one must be exactly VsoHash.BlockSize; the last one must be no larger than VsoHash.BlockSize.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "ID of the blob. It is calculated by a specialized hashing algorithm from the blob content.",
          "type": "string"
        },
        "url": {
          "description": "A SAS-based URL, containing an implicit TTL (time-to-live) value for downloading the blob. The caller is advised to (1) treat the URL as sensible data (2) download the blob in a timely fashion.",
          "type": "string"
        }
      }
    },
    "BlobBatch": {
      "type": "object",
      "properties": {
        "blobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Blob"
          }
        }
      }
    },
    "BlobMappings": {
      "type": "object",
      "properties": {
        "mappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}