{
  "swagger": "2.0",
  "info": {
    "title": "Build",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "artifacts"
    },
    {
      "name": "badge"
    },
    {
      "name": "buildbadge"
    },
    {
      "name": "builds"
    },
    {
      "name": "changes"
    },
    {
      "name": "controllers"
    },
    {
      "name": "definitions"
    },
    {
      "name": "folders"
    },
    {
      "name": "logs"
    },
    {
      "name": "metrics"
    },
    {
      "name": "options"
    },
    {
      "name": "report"
    },
    {
      "name": "resourceUsage"
    },
    {
      "name": "revisions"
    },
    {
      "name": "settings"
    },
    {
      "name": "tags"
    },
    {
      "name": "templates"
    },
    {
      "name": "timeline"
    },
    {
      "name": "workitems"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "pat": {
      "type": "basic",
      "description": "Personal access token"
    }
  },
  "security": [
    {
      "pat": []
    }
  ], 
  "paths": {
    "/_apis/build/builds": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "GetBuilds",
        "description": "Gets builds",
        "operationId": "getBuilds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "definitions",
            "description": "A comma-delimited list of definition ids",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "queues",
            "description": "A comma-delimited list of queue ids",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "buildNumber",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "requestedFor",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reasonFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildReason"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildStatus"
          },
          {
            "in": "query",
            "name": "resultFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildResult"
          },
          {
            "in": "query",
            "name": "tagFilters",
            "description": "A comma-delimited list of tags",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "properties",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of builds to retrieve",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "maxBuildsPerDefinition",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "deletedFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "queryDeletedOption"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildQueryOrder"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildIds",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "builds"
        ],
        "summary": "QueueBuild",
        "description": "Queues a build",
        "operationId": "queueBuild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/build"
            }
          },
          {
            "in": "query",
            "name": "ignoreWarnings",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "checkInTicket",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "builds"
        ],
        "summary": "UpdateBuilds",
        "description": "Update a batch of builds",
        "operationId": "updateBuilds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          }
        }
      }
    },
    "/_apis/build/builds/{buildId}": {
      "delete": {
        "tags": [
          "builds"
        ],
        "summary": "DeleteBuild",
        "description": "Deletes a build",
        "operationId": "deleteBuild",
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "GetBuild",
        "description": "Gets a build",
        "operationId": "getBuild",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "builds"
        ],
        "summary": "UpdateBuild",
        "description": "Updates a build",
        "operationId": "updateBuild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/build"
            }
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      }
    },
    "/_apis/build/builds/{buildId}/artifacts": {
      "post": {
        "tags": [
          "artifacts"
        ],
        "summary": "CreateArtifact",
        "description": "Associates an artifact with a build",
        "operationId": "createArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          }
        }
      },
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetArtifacts",
        "description": "Gets all artifacts for a build",
        "operationId": "getArtifacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildArtifact"
              }
            }
          }
        }
      }
    },
    "/_apis/build/builds/{buildId}/artifacts/{artifactName}": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetArtifact",
        "description": "Gets a specific artifact for a build",
        "operationId": "getArtifact",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "artifactName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          }
        }
      }
    },
    "/_apis/build/controllers": {
      "get": {
        "tags": [
          "controllers"
        ],
        "summary": "GetBuildControllers",
        "description": "Gets controller, optionally filtered by name",
        "operationId": "getBuildControllers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildController"
              }
            }
          }
        }
      }
    },
    "/_apis/build/controllers/{controllerId}": {
      "get": {
        "tags": [
          "controllers"
        ],
        "summary": "GetBuildController",
        "description": "Gets a controller",
        "operationId": "getBuildController",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "controllerId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildController"
            }
          }
        }
      }
    },
    "/_apis/build/definitions": {
      "post": {
        "tags": [
          "definitions"
        ],
        "summary": "CreateDefinition",
        "description": "Creates a new definition",
        "operationId": "createDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          },
          {
            "in": "query",
            "name": "definitionToCloneId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionToCloneRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinitions",
        "description": "Gets definitions, optionally filtered by name",
        "operationId": "getDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "definitionQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "definitionIds",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "builtAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "notBuiltAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeAllProperties",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildDefinitionReference"
              }
            }
          }
        }
      }
    },
    "/_apis/build/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "definitions"
        ],
        "summary": "DeleteDefinition",
        "description": "Deletes a definition and all associated builds",
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinition",
        "description": "Gets a definition, optionally at a specific revision",
        "operationId": "getDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      },
      "put": {
        "tags": [
          "definitions"
        ],
        "summary": "UpdateDefinition",
        "description": "Updates an existing definition",
        "operationId": "updateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      }
    },
    "/_apis/build/options": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "GetBuildOptionDefinitions",
        "description": "",
        "operationId": "getBuildOptionDefinitions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildOptionDefinition"
              }
            }
          }
        }
      }
    },
    "/_apis/build/resourceusage": {
      "get": {
        "tags": [
          "resourceUsage"
        ],
        "summary": "GetResourceUsage",
        "description": "",
        "operationId": "getResourceUsage",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildResourceUsage"
            }
          }
        }
      }
    },
    "/_apis/build/settings": {
      "get": {
        "tags": [
          "settings"
        ],
        "summary": "GetBuildSettings",
        "description": "",
        "operationId": "getBuildSettings",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildSettings"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "settings"
        ],
        "summary": "UpdateBuildSettings",
        "description": "Updates the build settings",
        "operationId": "updateBuildSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildSettings"
            }
          }
        }
      }
    },
    "/_apis/public/build/definitions/{project}/{definitionId}/badge": {
      "get": {
        "tags": [
          "badge"
        ],
        "summary": "GetBadge",
        "description": "",
        "operationId": "getBadge",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "GetBuilds",
        "description": "Gets builds",
        "operationId": "getBuilds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitions",
            "description": "A comma-delimited list of definition ids",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "queues",
            "description": "A comma-delimited list of queue ids",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "buildNumber",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "requestedFor",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reasonFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildReason"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildStatus"
          },
          {
            "in": "query",
            "name": "resultFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildResult"
          },
          {
            "in": "query",
            "name": "tagFilters",
            "description": "A comma-delimited list of tags",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "properties",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of builds to retrieve",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "maxBuildsPerDefinition",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "deletedFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "queryDeletedOption"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "buildQueryOrder"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildIds",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "builds"
        ],
        "summary": "QueueBuild",
        "description": "Queues a build",
        "operationId": "queueBuild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/build"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ignoreWarnings",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "checkInTicket",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "builds"
        ],
        "summary": "UpdateBuilds",
        "description": "Update a batch of builds",
        "operationId": "updateBuilds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/build"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}": {
      "delete": {
        "tags": [
          "builds"
        ],
        "summary": "DeleteBuild",
        "description": "Deletes a build",
        "operationId": "deleteBuild",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "GetBuild",
        "description": "Gets a build",
        "operationId": "getBuild",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "builds"
        ],
        "summary": "UpdateBuild",
        "description": "Updates a build",
        "operationId": "updateBuild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/build"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/build"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/artifacts": {
      "post": {
        "tags": [
          "artifacts"
        ],
        "summary": "CreateArtifact",
        "description": "Associates an artifact with a build",
        "operationId": "createArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          }
        }
      },
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetArtifacts",
        "description": "Gets all artifacts for a build",
        "operationId": "getArtifacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildArtifact"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/artifacts/{artifactName}": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetArtifact",
        "description": "Gets a specific artifact for a build",
        "operationId": "getArtifact",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "artifactName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildArtifact"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/changes": {
      "get": {
        "tags": [
          "changes"
        ],
        "summary": "GetBuildChanges",
        "description": "Gets the changes associated with a build",
        "operationId": "getBuildChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeSourceChange",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetBuildLogs",
        "description": "Gets logs for a build",
        "operationId": "getBuildLogs",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildLog"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/logs/{logId}": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetBuildLog",
        "description": "Gets a log",
        "operationId": "getBuildLog",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "logId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "startLine",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "endLine",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "stream"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/report": {
      "get": {
        "tags": [
          "report"
        ],
        "summary": "GetBuildReport",
        "description": "Gets report for a build",
        "operationId": "getBuildReport",
        "produces": [
          "text/html",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildReportMetadata"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/tags": {
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "AddBuildTags",
        "description": "Adds tag to a build",
        "operationId": "addBuildTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetBuildTags",
        "description": "Gets the tags for a build",
        "operationId": "getBuildTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/tags/{tag}": {
      "put": {
        "tags": [
          "tags"
        ],
        "summary": "AddBuildTag",
        "description": "Adds a tag to a build",
        "operationId": "addBuildTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tags"
        ],
        "summary": "DeleteBuildTag",
        "description": "Deletes a tag from a build",
        "operationId": "deleteBuildTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/timeline/{timelineId}": {
      "get": {
        "tags": [
          "timeline"
        ],
        "summary": "GetBuildTimeline",
        "description": "Gets details for a build",
        "operationId": "getBuildTimeline",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "timelineId",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "changeId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "planId",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/timeline"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/builds/{buildId}/workitems": {
      "get": {
        "tags": [
          "workitems"
        ],
        "summary": "GetBuildWorkItemsRefs",
        "description": "Gets the work item ids associated with a build",
        "operationId": "getBuildWorkItemsRefs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of workitems to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/resourceRef"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "workitems"
        ],
        "summary": "GetBuildWorkItemsRefsFromCommits",
        "description": "Gets the work item ids associated with build commits",
        "operationId": "getBuildWorkItemsRefsFromCommits",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of workitems to return, also number of commits to consider if commitids are not sent",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/resourceRef"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/changes": {
      "get": {
        "tags": [
          "changes"
        ],
        "summary": "GetChangesBetweenBuilds",
        "description": "Gets the changes associated between given builds",
        "operationId": "getChangesBetweenBuilds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromBuildId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "toBuildId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/change"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions": {
      "post": {
        "tags": [
          "definitions"
        ],
        "summary": "CreateDefinition",
        "description": "Creates a new definition",
        "operationId": "createDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionToCloneId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionToCloneRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinitions",
        "description": "Gets definitions, optionally filtered by name",
        "operationId": "getDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "definitionQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "definitionIds",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "builtAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "notBuiltAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeAllProperties",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildDefinitionReference"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "definitions"
        ],
        "summary": "DeleteDefinition",
        "description": "Deletes a definition and all associated builds",
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinition",
        "description": "Gets a definition, optionally at a specific revision",
        "operationId": "getDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      },
      "put": {
        "tags": [
          "definitions"
        ],
        "summary": "UpdateDefinition",
        "description": "Updates an existing definition",
        "operationId": "updateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinition"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}/metrics": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "GetDefinitionMetrics",
        "description": "Gets metrics of a definition",
        "operationId": "getDefinitionMetrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildMetric"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}/revisions": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetDefinitionRevisions",
        "description": "Gets revisions of a definition",
        "operationId": "getDefinitionRevisions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildDefinitionRevision"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/{DefinitionId}/tags": {
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "AddDefinitionTags",
        "description": "Adds multiple tags to a definition",
        "operationId": "addDefinitionTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetDefinitionTags",
        "description": "Gets the tags for a definition",
        "operationId": "getDefinitionTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}": {
      "put": {
        "tags": [
          "tags"
        ],
        "summary": "AddDefinitionTag",
        "description": "Adds a tag to a definition",
        "operationId": "addDefinitionTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tags"
        ],
        "summary": "DeleteDefinitionTag",
        "description": "Deletes a tag from a definition",
        "operationId": "deleteDefinitionTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/templates": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "GetTemplates",
        "description": "",
        "operationId": "getTemplates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildDefinitionTemplate"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/definitions/templates/{templateId}": {
      "delete": {
        "tags": [
          "templates"
        ],
        "summary": "DeleteTemplate",
        "description": "Deletes a definition template",
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "GetTemplate",
        "description": "Gets definition template filtered by id",
        "operationId": "getTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Id of the requested template.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinitionTemplate"
            }
          }
        }
      },
      "put": {
        "tags": [
          "templates"
        ],
        "summary": "SaveTemplate",
        "description": "Saves a definition template",
        "operationId": "saveTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buildDefinitionTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildDefinitionTemplate"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/folders/{*path}": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "GetFolders",
        "description": "Gets folders",
        "operationId": "getFolders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "folderQueryOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/folder"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/folders/{path}": {
      "put": {
        "tags": [
          "folders"
        ],
        "summary": "CreateFolder",
        "description": "Creates a new folder",
        "operationId": "createFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/folder"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "folders"
        ],
        "summary": "DeleteFolder",
        "description": "Deletes a definition folder for given folder name and path and all it's existing definitions and it's corresponding builds",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "post": {
        "tags": [
          "folders"
        ],
        "summary": "UpdateFolder",
        "description": "Updates an existing folder at given  existing path",
        "operationId": "updateFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/folder"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/metrics/{metricAggregationType}": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "GetProjectMetrics",
        "description": "Gets metrics of a project",
        "operationId": "getProjectMetrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "metricAggregationType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildMetric"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/options": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "GetBuildOptionDefinitions",
        "description": "",
        "operationId": "getBuildOptionDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildOptionDefinition"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/repos/{repoType}/badge": {
      "get": {
        "tags": [
          "buildbadge"
        ],
        "summary": "GetBuildBadge",
        "description": "",
        "operationId": "getBuildBadge",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repoType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repoId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/buildBadge"
            }
          }
        }
      }
    },
    "/{project}/_apis/build/tags": {
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetTags",
        "description": "",
        "operationId": "getTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/build/workitems": {
      "get": {
        "tags": [
          "workitems"
        ],
        "summary": "GetWorkItemsBetweenBuilds",
        "description": "Gets all the work item ids inbetween fromBuildId to toBuildId",
        "operationId": "getWorkItemsBetweenBuilds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromBuildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "toBuildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of workitems to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/resourceRef"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "agentPoolQueue": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/shallowReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "pool": {
          "description": "The pool used by this queue.",
          "$ref": "#/definitions/taskAgentPoolReference"
        }
      }
    },
    "artifactResource": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "data": {
          "description": "The type-specific resource data. For example, \"#/10002/5/drop\", \"$/drops/5\", \"\\\\myshare\\myfolder\\mydrops\\5\"",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Link to the resource. This might include things like query parameters to download as a zip file",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Artifact Resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource: File container, version control folder, UNC path, etc.",
          "type": "string"
        },
        "url": {
          "description": "Link to the resource",
          "type": "string"
        }
      }
    },
    "build": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "buildNumber": {
          "description": "Build number/name of the build",
          "type": "string"
        },
        "buildNumberRevision": {
          "description": "Build number revision",
          "type": "integer",
          "format": "int32"
        },
        "controller": {
          "description": "The build controller. This should only be set if the definition type is Xaml.",
          "$ref": "#/definitions/buildController"
        },
        "definition": {
          "description": "The definition associated with the build",
          "$ref": "#/definitions/definitionReference"
        },
        "deleted": {
          "description": "Indicates whether the build has been deleted.",
          "type": "boolean"
        },
        "deletedBy": {
          "description": "Process or person that deleted the build",
          "$ref": "#/definitions/identityRef"
        },
        "deletedDate": {
          "description": "Date the build was deleted",
          "type": "string",
          "format": "date-time"
        },
        "deletedReason": {
          "description": "Description of how the build was deleted",
          "type": "string"
        },
        "demands": {
          "description": "Demands",
          "type": "array",
          "items": {
            "$ref": "#/definitions/demand"
          }
        },
        "finishTime": {
          "description": "Time that the build was completed",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Id of the build",
          "type": "integer",
          "format": "int32"
        },
        "keepForever": {
          "type": "boolean"
        },
        "lastChangedBy": {
          "description": "Process or person that last changed the build",
          "$ref": "#/definitions/identityRef"
        },
        "lastChangedDate": {
          "description": "Date the build was last changed",
          "type": "string",
          "format": "date-time"
        },
        "logs": {
          "description": "Log location of the build",
          "$ref": "#/definitions/buildLogReference"
        },
        "orchestrationPlan": {
          "description": "Orchestration plan for the build",
          "$ref": "#/definitions/taskOrchestrationPlanReference"
        },
        "parameters": {
          "description": "Parameters for the build",
          "type": "string"
        },
        "plans": {
          "description": "Orchestration plans associated with the build (build, cleanup)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/taskOrchestrationPlanReference"
          }
        },
        "priority": {
          "description": "The build's priority",
          "enum": [
            "low",
            "belowNormal",
            "normal",
            "aboveNormal",
            "high"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueuePriority"
          }
        },
        "project": {
          "description": "The team project",
          "$ref": "#/definitions/teamProjectReference"
        },
        "properties": {
          "$ref": "#/definitions/propertiesCollection"
        },
        "quality": {
          "description": "Quality of the xaml build (good, bad, etc.)",
          "type": "string"
        },
        "queue": {
          "description": "The queue. This should only be set if the definition type is Build.",
          "$ref": "#/definitions/agentPoolQueue"
        },
        "queueOptions": {
          "description": "Queue option of the build.",
          "enum": [
            "none",
            "doNotRun"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueueOptions"
          }
        },
        "queuePosition": {
          "description": "The current position of the build in the queue",
          "type": "integer",
          "format": "int32"
        },
        "queueTime": {
          "description": "Time that the build was queued",
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "description": "Reason that the build was created",
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/buildRepository"
        },
        "requestedBy": {
          "description": "The identity that queued the build",
          "$ref": "#/definitions/identityRef"
        },
        "requestedFor": {
          "description": "The identity on whose behalf the build was queued",
          "$ref": "#/definitions/identityRef"
        },
        "result": {
          "description": "The build result",
          "enum": [
            "none",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildResult"
          }
        },
        "retainedByRelease": {
          "description": "Specifies if Build should be retained by Release",
          "type": "boolean"
        },
        "sourceBranch": {
          "description": "Source branch",
          "type": "string"
        },
        "sourceVersion": {
          "description": "Source version",
          "type": "string"
        },
        "startTime": {
          "description": "Time that the build was started",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Status of the build",
          "enum": [
            "none",
            "inProgress",
            "completed",
            "cancelling",
            "postponed",
            "notStarted",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildStatus"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Uri of the build",
          "type": "string"
        },
        "url": {
          "description": "REST url of the build",
          "type": "string"
        },
        "validationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/buildRequestValidationResult"
          }
        }
      }
    },
    "buildAgent": {
      "type": "object",
      "properties": {
        "buildDirectory": {
          "type": "string"
        },
        "controller": {
          "$ref": "#/definitions/shallowReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "messageQueueUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "reservedForBuild": {
          "type": "string"
        },
        "server": {
          "$ref": "#/definitions/shallowReference"
        },
        "status": {
          "enum": [
            "unavailable",
            "available",
            "offline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AgentStatus"
          }
        },
        "statusMessage": {
          "type": "string"
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time"
        },
        "uri": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "buildArtifact": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The artifact id",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the artifact",
          "type": "string"
        },
        "resource": {
          "description": "The actual resource",
          "$ref": "#/definitions/artifactResource"
        }
      }
    },
    "buildArtifactAddedEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/buildUpdatedEvent"
        }
      ],
      "properties": {
        "artifact": {
          "$ref": "#/definitions/buildArtifact"
        }
      }
    },
    "buildBadge": {
      "type": "object",
      "properties": {
        "buildId": {
          "description": "Build id, if exists that this badge corresponds to",
          "type": "integer",
          "format": "int32"
        },
        "imageUrl": {
          "description": "Self Url that generates SVG",
          "type": "string"
        }
      }
    },
    "buildChangesCalculatedEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/buildUpdatedEvent"
        }
      ],
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/change"
          }
        }
      }
    },
    "buildCompletedEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/buildUpdatedEvent"
        }
      ],
      "properties": {
      }
    },
    "buildController": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/shallowReference"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "createdDate": {
          "description": "The date the controller was created.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The description of the controller.",
[...]
