{
  "swagger": "2.0",
  "info": {
    "title": "Cache",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "properties"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/cache/properties": {
      "put": {
        "tags": [
          "properties"
        ],
        "summary": "Cache",
        "description": "",
        "operationId": "cache",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "properties"
        ],
        "summary": "Delete",
        "description": "",
        "operationId": "delete",
        "parameters": [
          {
            "in": "query",
            "name": "cacheKey",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "properties"
        ],
        "summary": "Get",
        "description": "",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cacheKey",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "accessTokenResult": {
      "type": "object",
      "properties": {
        "accessToken": {
          "$ref": "#/definitions/jsonWebToken"
        },
        "accessTokenError": {
          "enum": [
            "none",
            "grantTypeRequired",
            "authorizationGrantRequired",
            "clientSecretRequired",
            "redirectUriRequired",
            "invalidAuthorizationGrant",
            "invalidAuthorizationScopes",
            "invalidRefreshToken",
            "authorizationNotFound",
            "authorizationGrantExpired",
            "accessAlreadyIssued",
            "invalidRedirectUri",
            "accessTokenNotFound",
            "invalidAccessToken",
            "accessTokenAlreadyRefreshed",
            "invalidClientSecret",
            "clientSecretExpired",
            "serverError",
            "accessDenied",
            "accessTokenKeyRequired",
            "invalidAccessTokenKey",
            "failedToGetAccessToken",
            "invalidClientId",
            "invalidClient",
            "invalidValidTo",
            "invalidUserId",
            "failedToIssueAccessToken",
            "authorizationGrantScopeMissing",
            "invalidPublicAccessTokenKey",
            "invalidPublicAccessToken"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.DelegatedAuthorization.TokenError"
          }
        },
        "authorizationId": {
          "type": "string",
          "format": "uuid"
        },
        "errorDescription": {
          "type": "string"
        },
        "hasError": {
          "type": "boolean"
        },
        "refreshToken": {
          "$ref": "#/definitions/refreshTokenGrant"
        },
        "tokenType": {
          "type": "string"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "authorizationGrant": {
      "type": "object",
      "properties": {
        "grantType": {
          "enum": [
            "none",
            "jwtBearer",
            "refreshToken",
            "implicit",
            "clientCredentials"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.DelegatedAuthorization.GrantType"
          }
        }
      }
    },
    "issuedToken": {
      "type": "object",
      "properties": {
        "isAuthenticated": {
          "type": "boolean"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "jsonWebToken": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/issuedToken"
        }
      ],
      "properties": {
      }
    },
    "policy": {
      "type": "object",
      "properties": {
        "effectiveValue": {
          "type": "object"
        },
        "enforce": {
          "type": "boolean"
        },
        "isValueUndefined": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "parentPolicy": {
          "$ref": "#/definitions/policy"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "policyInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "moreInfoLink": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "refreshTokenGrant": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/authorizationGrant"
        }
      ],
      "properties": {
        "jwt": {
          "$ref": "#/definitions/jsonWebToken"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}