{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Chat",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "messages"
        },
        {
            "name": "rooms"
        },
        {
            "name": "users"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/chat/rooms": {
            "post": {
                "tags": [
                    "rooms"
                ],
                "summary": "CreateChatRoom",
                "description": "Create a single chat room",
                "operationId": "createChatRoom",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Information to create the room",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RoomData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Room"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "rooms"
                ],
                "summary": "GetAllRooms",
                "description": "",
                "operationId": "getAllRooms",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/RoomCollection"
                        }
                    }
                }
            }
        },
        "/_apis/chat/rooms/{roomId}": {
            "delete": {
                "tags": [
                    "rooms"
                ],
                "summary": "DeleteChatRoom",
                "description": "Delete a given chat room",
                "operationId": "deleteChatRoom",
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "rooms"
                ],
                "summary": "GetChatRoomById",
                "description": "Retrieve information on a single chat room",
                "operationId": "getChatRoomById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Room"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "rooms"
                ],
                "summary": "UpdateChatRoom",
                "description": "Update information on a single chat room",
                "operationId": "updateChatRoom",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Room information",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RoomData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room to update",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Room"
                        }
                    }
                }
            }
        },
        "/_apis/chat/Rooms/{roomId}/messages": {
            "get": {
                "tags": [
                    "messages"
                ],
                "summary": "GetAllChatRoomMessages",
                "description": "Retrieve a listing of all chat messages in a given room",
                "operationId": "getAllChatRoomMessages",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Message"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "messages"
                ],
                "summary": "SendMessageToRoom",
                "description": "Post message to a room",
                "operationId": "sendMessageToRoom",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Content of the message to post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MessageData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    }
                }
            }
        },
        "/_apis/chat/Rooms/{roomId}/messages/{messageId}": {
            "delete": {
                "tags": [
                    "messages"
                ],
                "summary": "DeleteMessage",
                "description": "Delete a given chat message",
                "operationId": "deleteMessage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "messageId",
                        "description": "Id of the message to delete",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "messages"
                ],
                "summary": "GetChatRoomMessageById",
                "description": "Retrieve information on a single chat message",
                "operationId": "getChatRoomMessageById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "messageId",
                        "description": "Id of the message to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "messages"
                ],
                "summary": "UpdateChatMessage",
                "description": "Update a given chat message",
                "operationId": "updateChatMessage",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "New message content",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MessageData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "messageId",
                        "description": "Id of the message",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    }
                }
            }
        },
        "/_apis/chat/Rooms/{roomId}/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetAllChatRoomUsers",
                "description": "Retrieve a listing of all chat users",
                "operationId": "getAllChatRoomUsers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UserCollection"
                        }
                    }
                }
            }
        },
        "/_apis/chat/Rooms/{roomId}/users/{userId}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetChatRoomUserById",
                "description": "Retrieve information on a single chat user",
                "operationId": "getChatRoomUserById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "TfId of the user",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "JoinRoom",
                "description": "Joins a user to a given room",
                "operationId": "joinRoom",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "user model information",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "TfId of the user",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "LeaveRoom",
                "description": "Leaves a user from a given room",
                "operationId": "leaveRoom",
                "parameters": [
                    {
                        "in": "path",
                        "name": "roomId",
                        "description": "Id of the room",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "TfId of the user",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "Message": {
            "type": "object",
            "properties": {
                "content": {
                    "description": "Message content",
                    "type": "string"
                },
                "id": {
                    "description": "Message Id",
                    "type": "integer",
                    "format": "int32"
                },
                "messageType": {
                    "description": "Message Type, currently only plain text is supported.",
                    "enum": [
                        "normal",
                        "system",
                        "notification",
                        "error"
                    ]
                },
                "postedBy": {
                    "description": "User who posted the message. May be null if message came from a system account",
                    "type": "IdentityRef"
                },
                "postedRoomId": {
                    "description": "Id of the room in which message is posted",
                    "type": "integer",
                    "format": "int32"
                },
                "postedTime": {
                    "description": "Message posted time",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "MessageData": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                }
            }
        },
        "Room": {
            "type": "object",
            "properties": {
                "createdBy": {
                    "description": "Room creator user",
                    "type": "IdentityRef"
                },
                "createdDate": {
                    "description": "Room creation date",
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "description": "Description of the room",
                    "type": "string"
                },
                "hasAdminPermissions": {
                    "description": "Admin permissions for current user",
                    "type": "boolean"
                },
                "hasReadWritePermissions": {
                    "description": "Read/Write permissions for current user",
                    "type": "boolean"
                },
                "id": {
                    "description": "Id of the room",
                    "type": "integer",
                    "format": "int32"
                },
                "lastActivity": {
                    "description": "Last activity in the room",
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "description": "Name of the room",
                    "type": "string"
                }
            }
        },
        "RoomCollection": {
            "type": "array",
            "properties": {
            }
        },
        "RoomData": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "Description of the room",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the room",
                    "type": "string"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "isOnline": {
                    "description": "A value indicating whether the user is online or not.",
                    "type": "boolean"
                },
                "joinedDate": {
                    "description": "Time when user joined the room",
                    "type": "string",
                    "format": "date-time"
                },
                "lastActivity": {
                    "description": "Last activity time",
                    "type": "string",
                    "format": "date-time"
                },
                "roomId": {
                    "description": "Id of the Room",
                    "type": "integer",
                    "format": "int32"
                },
                "user": {
                    "description": "The shallow reference for the user",
                    "type": "IdentityRef"
                }
            }
        },
        "UserCollection": {
            "type": "array",
            "properties": {
            }
        },
        "UserData": {
            "type": "object",
            "properties": {
                "userId": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}