{
    "swagger": "2.0",
    "info": {
        "title": "CodeReview",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "attachments"
        },
        {
            "name": "changes"
        },
        {
            "name": "comments"
        },
        {
            "name": "contents"
        },
        {
            "name": "contentsBatch"
        },
        {
            "name": "iterations"
        },
        {
            "name": "likes"
        },
        {
            "name": "properties"
        },
        {
            "name": "reviewers"
        },
        {
            "name": "reviews"
        },
        {
            "name": "reviewsBatch"
        },
        {
            "name": "settings"
        },
        {
            "name": "share"
        },
        {
            "name": "statuses"
        },
        {
            "name": "threads"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/{project}/_apis/codereview/reviews": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "summary": "GetReviews",
                "description": "Query reviews based on search criteria. When making subsequent requests that include continuation tokens, be sure to pass the same search criteria. Otherwise the subsequent requests may return unexpected results.",
                "operationId": "getReviews",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "searchCriteria",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/reviewSearchCriteria"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "continuationToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/review"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "reviews"
                ],
                "summary": "CreateReview",
                "description": "",
                "operationId": "createReview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}": {
            "delete": {
                "tags": [
                    "reviews"
                ],
                "summary": "DeleteReview",
                "description": "",
                "operationId": "deleteReview",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "reviews"
                ],
                "summary": "GetReview",
                "description": "",
                "operationId": "getReview",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeAllProperties",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "maxChangesCount",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "header",
                        "name": "ifModifiedSince",
                        "description": "Fetch latest review data if it was modified after IfModifiedSince timestamp.",
                        "required": false,
                        "type": "dateTimeOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "reviews"
                ],
                "summary": "ReplaceReview",
                "description": "",
                "operationId": "replaceReview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "reviews"
                ],
                "summary": "UpdateReview",
                "description": "",
                "operationId": "updateReview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/attachments": {
            "post": {
                "tags": [
                    "attachments"
                ],
                "summary": "AddAttachment",
                "description": "",
                "operationId": "addAttachment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/attachment"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/attachment"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "GetAttachments",
                "description": "",
                "operationId": "getAttachments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "modifiedSince",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/attachment"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/attachments/{attachmentId}": {
            "delete": {
                "tags": [
                    "attachments"
                ],
                "summary": "DeleteAttachment",
                "description": "",
                "operationId": "deleteAttachment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "attachmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "GetAttachment",
                "description": "",
                "operationId": "getAttachment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "attachmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/attachment"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/contents": {
            "get": {
                "tags": [
                    "contents"
                ],
                "summary": "DownloadContent",
                "description": "",
                "operationId": "downloadContent",
                "produces": [
                    "application/zip",
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "contentHash",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "downloadFileName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "stream"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "contents"
                ],
                "summary": "UploadContent",
                "description": "",
                "operationId": "uploadContent",
                "consumes": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Stream to upload",
                        "required": true,
                        "type": "stream"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "contentHash",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "fileType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/contentsbatch": {
            "post": {
                "tags": [
                    "contentsBatch"
                ],
                "summary": "DownloadContentsBatchZip",
                "description": "Fetch file contents based on criteria. Criteria can be a set of iteration ids or content hashes. POST /_apis/codereview/reviews/{id}/contentsBatch",
                "operationId": "downloadContentsBatchZip",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/zip"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/downloadContentsCriteria"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "downloadFileName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewFilesZipContent"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations": {
            "post": {
                "tags": [
                    "iterations"
                ],
                "summary": "CreateIteration",
                "description": "",
                "operationId": "createIteration",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/iteration"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/iteration"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "iterations"
                ],
                "summary": "GetIterations",
                "description": "",
                "operationId": "getIterations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeUnpublished",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/iteration"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}": {
            "get": {
                "tags": [
                    "iterations"
                ],
                "summary": "GetIteration",
                "description": "",
                "operationId": "getIteration",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/iteration"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "iterations"
                ],
                "summary": "UpdateIteration",
                "description": "",
                "operationId": "updateIteration",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/iteration"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/iteration"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/changes": {
            "get": {
                "tags": [
                    "changes"
                ],
                "summary": "GetChanges",
                "description": "",
                "operationId": "getChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "compareTo",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/iterationChanges"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/changes/{changeId}/{fileTarget}": {
            "get": {
                "tags": [
                    "changes"
                ],
                "summary": "GetContent",
                "description": "",
                "operationId": "getContent",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "changeId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "fileTarget",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "stream"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/properties": {
            "patch": {
                "tags": [
                    "properties"
                ],
                "summary": "CreateOrUpdateIterationProperties",
                "description": "Create or update review properties collection. PATCH /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/properties The patch operation can be add, replace or remove. For add operation, the path can be empty. If the path is empty, the value must be a list of key value pairs. For replace operation, the path cannot be empty. If the path does not exist, the property will be added to the collection. For remove operation, the path cannot be empty. If the path does not exist, no action will be performed.",
                "operationId": "createOrUpdateIterationProperties",
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "jsonPatchDocument"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "propertiesCollection"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "properties"
                ],
                "summary": "GetIterationProperties",
                "description": "Get iteration properties collection. GET /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/properties",
                "operationId": "getIterationProperties",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "propertiesCollection"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "summary": "CreateIterationStatus",
                "description": "Create an iteration status. POST /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses/{statusId}",
                "operationId": "createIterationStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "statuses"
                ],
                "summary": "GetIterationStatuses",
                "description": "Get all the statuses associated with an iteration. GET /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses",
                "operationId": "getIterationStatuses",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/status"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses/{statusId}": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "summary": "GetIterationStatus",
                "description": "Get the specific iteration status. GET /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses/{statusId}",
                "operationId": "getIterationStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "statusId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "statuses"
                ],
                "summary": "UpdateIterationStatus",
                "description": "Update an iteration status. PATCH /_apis/codereview/reviews/{reviewId}/iterations/{iterationId}/statuses/{statusId}",
                "operationId": "updateIterationStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "iterationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "statusId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/properties": {
            "patch": {
                "tags": [
                    "properties"
                ],
                "summary": "CreateOrUpdateReviewProperties",
                "description": "Create or update review properties collection. PATCH /_apis/codereview/reviews/{reviewId}/properties The patch operation can be add, replace or remove. For add operation, the path can be empty. If the path is empty, the value must be a list of key value pairs. For replace operation, the path cannot be empty. If the path does not exist, the property will be added to the collection. For remove operation, the path cannot be empty. If the path does not exist, no action will be performed.",
                "operationId": "createOrUpdateReviewProperties",
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "jsonPatchDocument"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "propertiesCollection"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "properties"
                ],
                "summary": "GetReviewProperties",
                "description": "Get review properties collection. GET /_apis/codereview/reviews/{reviewId}/properties",
                "operationId": "getReviewProperties",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "propertiesCollection"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/reviewers": {
            "post": {
                "tags": [
                    "reviewers"
                ],
                "summary": "AddReviewers",
                "description": "",
                "operationId": "addReviewers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/reviewer"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/reviewer"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "reviewers"
                ],
                "summary": "GetReviewers",
                "description": "",
                "operationId": "getReviewers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/reviewer"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/reviewers/{reviewerId}": {
            "delete": {
                "tags": [
                    "reviewers"
                ],
                "summary": "DeleteReviewer",
                "description": "",
                "operationId": "deleteReviewer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "reviewerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "put": {
                "tags": [
                    "reviewers"
                ],
                "summary": "ReplaceReviewer",
                "description": "",
                "operationId": "replaceReviewer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/reviewer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "reviewerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewer"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/share": {
            "post": {
                "tags": [
                    "share"
                ],
                "summary": "ShareReview",
                "description": "",
                "operationId": "shareReview",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/notificationContext"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/statuses": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "summary": "CreateReviewStatus",
                "description": "Create a review status. POST /_apis/codereview/reviews/{reviewId}/statuses",
                "operationId": "createReviewStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "statuses"
                ],
                "summary": "GetReviewStatuses",
                "description": "Get all the statuses associated with a review. GET /_apis/codereview/reviews/{reviewId}/statuses",
                "operationId": "getReviewStatuses",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/status"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/statuses/{statusId}": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "summary": "GetReviewStatus",
                "description": "Get the specific review status. GET /_apis/codereview/reviews/{reviewId}/statuses/{statusId}",
                "operationId": "getReviewStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "statusId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "statuses"
                ],
                "summary": "UpdateReviewStatus",
                "description": "Update a review status. PATCH /_apis/codereview/reviews/{reviewId}/statuses/{statusId}",
                "operationId": "updateReviewStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "statusId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads": {
            "post": {
                "tags": [
                    "threads"
                ],
                "summary": "CreateThread",
                "description": "Create a review comment thread. POST /_apis/CodeReview/reviews/{id}/Threads",
                "operationId": "createThread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commentThread"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/commentThread"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "threads"
                ],
                "summary": "GetThreads",
                "description": "Get all review comment threads of a review. GET /_apis/CodeReview/reviews/{id}/Threads/ When modifiedSince parameter is passed, fetch threads of a review that were modified after modifiedSince timestamp.",
                "operationId": "getThreads",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "modifiedSince",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "trackingCriteria",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/commentTrackingCriteria"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commentThread"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads/{threadId}": {
            "get": {
                "tags": [
                    "threads"
                ],
                "summary": "GetThread",
                "description": "Get a review comment thread by id for a review. Return 304 if comment thread hasn't modified based on ifModifiedSince header. GET /_apis/CodeReview/reviews/{id}/Threads/{threadId}",
                "operationId": "getThread",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "trackingCriteria",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/commentTrackingCriteria"
                        }
                    },
                    {
                        "in": "header",
                        "name": "ifModifiedSince",
                        "description": "Fetch latest comment data if it was modified after IfModifiedSince timestamp.",
                        "required": false,
                        "type": "dateTimeOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/commentThread"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "threads"
                ],
                "summary": "UpdateThread",
                "description": "",
                "operationId": "updateThread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commentThread"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/commentThread"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads/{threadId}/comments": {
            "post": {
                "tags": [
                    "comments"
                ],
                "summary": "CreateComment",
                "description": "Create a discussion comment. POST /_apis/CodeReview/reviews/{id}/Threads/{threadId}/comments",
                "operationId": "createComment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "discussionComment"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "discussionComment"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "comments"
                ],
                "summary": "GetComments",
                "description": "Read all comments for a review comment thread by id for a review. GET /_apis/CodeReview/reviews/{id}/Threads/{threadId}/comments",
                "operationId": "getComments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "discussionComment"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads/{threadId}/comments/{commentId}": {
            "delete": {
                "tags": [
                    "comments"
                ],
                "summary": "DeleteComment",
                "description": "Soft delete a comment. Deleted(Withdrawn) comments are always returned. Use IsDeleted flag in each comment to detect if its a deleted comment, Delete /_apis/CodeReview/reviews/{id}/Threads/{threadId}/comments/{commentId}",
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "comments"
                ],
                "summary": "GetComment",
                "description": "Get a comment for a review comment thread by id of a review based on commentId. GET /_apis/CodeReview/reviews/{id}/Threads/{threadId}/comments/{commentId}",
                "operationId": "getComment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "discussionComment"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "comments"
                ],
                "summary": "UpdateComment",
                "description": "Update a comment. Patch /_apis/CodeReview/reviews/{id}/Threads/{threadId}/comments/{commentId}",
                "operationId": "updateComment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "discussionComment"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "discussionComment"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads/{threadId}/comments/{commentId}/likes": {
            "post": {
                "tags": [
                    "likes"
                ],
                "summary": "CreateLike",
                "description": "Like a comment in a thread for a review. POST /_apis/CodeReview/reviews/{id}/threads/{id}/comments/{commentId}/likes",
                "operationId": "createLike",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "identityRef"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "identityRef"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "likes"
                ],
                "summary": "GetLikes",
                "description": "Get all likes of a comment in a thread for a review. GET /_apis/CodeReview/reviews/{id}/threads/{id}/comments/{commentId}/likes",
                "operationId": "getLikes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "identityRef"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviews/{reviewId}/threads/{threadId}/comments/{commentId}/likes/{userId}": {
            "delete": {
                "tags": [
                    "likes"
                ],
                "summary": "DeleteLike",
                "description": "Withdraw like of a comment in a thread for a review. DELETE /_apis/CodeReview/reviews/{id}/threads/{id}/comments/{commentId}/likes/{userId}",
                "operationId": "deleteLike",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/{project}/_apis/codereview/reviewsbatch": {
            "post": {
                "tags": [
                    "reviewsBatch"
                ],
                "summary": "GetReviewsBatch",
                "description": "Query reviews by sourceArtifactIds. POST /_apis/codereview/reviewsBatch",
                "operationId": "getReviewsBatch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/review"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/codereview/settings": {
            "post": {
                "tags": [
                    "settings"
                ],
                "summary": "CreateReviewSettings",
                "description": "",
                "operationId": "createReviewSettings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/reviewSettings"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewSettings"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "settings"
                ],
                "summary": "GetReviewSettings",
                "description": "",
                "operationId": "getReviewSettings",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewSettings"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "settings"
                ],
                "summary": "UpdateReviewSettings",
                "description": "",
                "operationId": "updateReviewSettings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/reviewSettings"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewSettings"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "attachment": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "author": {
                    "type": "identityRef"
                },
                "contentHash": {
                    "description": "Content hash of on-disk representation of file content. Its calculated by the client by using SHA1 hash function.",
                    "type": "string"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "description": "The description of the attachment, can be null.",
                    "type": "string"
                },
                "displayName": {
                    "description": "The display name of the attachment, can't be null or empty.",
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
[...]
