{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "CollectionImport",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "imports"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "_apis/collectionimport/imports": {
            "post": {
                "tags": [
                    "imports"
                ],
                "summary": "QueueImport",
                "description": "",
                "operationId": "queueImport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "OperationReference"
                        }
                    }
                }
            }
        },
        "_apis/collectionimport/imports/{requestId}": {
            "get": {
                "tags": [
                    "imports"
                ],
                "summary": "GetImport",
                "description": "",
                "operationId": "getImport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "Guid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Operation"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "imports"
                ],
                "summary": "StopImport",
                "description": "",
                "operationId": "stopImport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "Guid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "OperationReference"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ImportCodeRequest": {
            "type": "object",
            "properties": {
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "requestedFor": {
                    "type": "string"
                }
            }
        },
        "ImportCodeResponse": {
            "type": "object",
            "properties": {
                "m_codes": {
                    "type": "PropertyCollection"
                }
            }
        },
        "ImportCollectionRequest": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "accountOwner": {
                    "type": "Guid"
                },
                "accountRegion": {
                    "type": "string"
                },
                "accountScaleUnit": {
                    "type": "string"
                },
                "hostToMovePostImport": {
                    "type": "DataImportHostMove"
                },
                "identityMapping": {
                    "type": "string"
                },
                "neighborHostName": {
                    "type": "string"
                },
                "properties": {
                    "type": "PropertyCollection"
                },
                "skipDataImportValidation": {
                    "type": "boolean"
                },
                "skipFileContentImport": {
                    "type": "boolean"
                },
                "sourceDacpacLocation": {
                    "type": "string"
                },
                "sourceDacpacLocationKey": {
                    "type": "string"
                },
                "sourceDatabase": {
                    "type": "string"
                },
                "targetDatabaseDowngradeSize": {
                    "type": "string"
                }
            }
        },
        "JoinOrganizationRequest": {
            "type": "object",
            "properties": {
                "organizationId": {
                    "description": "New organization for this account (application host id)",
                    "type": "Guid"
                },
                "properties": {
                    "type": "PropertyCollection"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}