{
    "swagger": "2.0",
    "info": {
        "title": "CollectionImport",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "imports"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/collectionimport/imports": {
            "post": {
                "tags": [
                    "imports"
                ],
                "summary": "QueueImport",
                "description": "",
                "operationId": "queueImport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/importCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "operationReference"
                        }
                    }
                }
            }
        },
        "/_apis/collectionimport/imports/{requestId}": {
            "get": {
                "tags": [
                    "imports"
                ],
                "summary": "GetImport",
                "description": "",
                "operationId": "getImport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "operation"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "imports"
                ],
                "summary": "StopImport",
                "description": "",
                "operationId": "stopImport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "operationReference"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "importCodeRequest": {
            "type": "object",
            "properties": {
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "requestedFor": {
                    "type": "string"
                }
            }
        },
        "importCodeResponse": {
            "type": "object",
            "properties": {
                "m_codes": {
                    "type": "string",
                    "format": "propertyCollection"
                }
            }
        },
        "importCollectionRequest": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "accountOwner": {
                    "type": "string",
                    "format": "uuid"
                },
                "accountRegion": {
                    "type": "string"
                },
                "accountScaleUnit": {
                    "type": "string"
                },
                "hostToMovePostImport": {
                    "type": "string",
                    "format": "dataImportHostMove"
                },
                "identityMapping": {
                    "type": "string"
                },
                "neighborHostName": {
                    "type": "string"
                },
                "properties": {
                    "type": "string",
                    "format": "propertyCollection"
                },
                "skipDataImportValidation": {
                    "type": "boolean"
                },
                "skipFileContentImport": {
                    "type": "boolean"
                },
                "sourceDacpacLocation": {
                    "type": "string"
                },
                "sourceDacpacLocationKey": {
                    "type": "string"
                },
                "sourceDatabase": {
                    "type": "string"
                },
                "targetDatabaseDowngradeSize": {
                    "type": "string"
                }
            }
        },
        "joinOrganizationRequest": {
            "type": "object",
            "properties": {
                "organizationId": {
                    "description": "New organization for this account (application host id)",
                    "type": "string",
                    "format": "uuid"
                },
                "properties": {
                    "type": "string",
                    "format": "propertyCollection"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}