{
    "swagger": "2.0",
    "info": {
        "title": "Team",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "members"
        },
        {
            "name": "teams"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/projects/{projectId}/teams": {
            "post": {
                "tags": [
                    "teams"
                ],
                "summary": "CreateTeam",
                "description": "Creates a team",
                "operationId": "createTeam",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The team data used to create the team.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/webApiTeam"
                        }
                    },
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "The name or id (GUID) of the team project in which to create the team.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/webApiTeam"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "teams"
                ],
                "summary": "GetTeams",
                "description": "",
                "operationId": "getTeams",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/webApiTeam"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/projects/{projectId}/teams/{teamId}": {
            "delete": {
                "tags": [
                    "teams"
                ],
                "summary": "DeleteTeam",
                "description": "Deletes a team",
                "operationId": "deleteTeam",
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "The name or id (GUID) of the team project containing the team to delete.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "teamId",
                        "description": "The name of id of the team to delete.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "teams"
                ],
                "summary": "GetTeam",
                "description": "Gets a team",
                "operationId": "getTeam",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "teamId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/webApiTeam"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "teams"
                ],
                "summary": "UpdateTeam",
                "description": "Updates a team's name and/or description",
                "operationId": "updateTeam",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/webApiTeam"
                        }
                    },
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "The name or id (GUID) of the team project containing the team to update.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "teamId",
                        "description": "The name of id of the team to update.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/webApiTeam"
                        }
                    }
                }
            }
        },
        "/_apis/projects/{projectId}/teams/{teamId}/members": {
            "get": {
                "tags": [
                    "members"
                ],
                "summary": "GetTeamMembers",
                "description": "",
                "operationId": "getTeamMembers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "teamId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "identityRef"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "identityData": {
            "type": "object",
            "properties": {
                "identityIds": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            }
        },
        "process": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/processReference"
                }
            ],
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "type": {
                    "enum": [
                        "system",
                        "custom",
                        "inherited"
                    ]
                }
            }
        },
        "processReference": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "projectInfo": {
            "type": "object",
            "properties": {
                "abbreviation": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "lastUpdateTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/projectProperty"
                    }
                },
                "revision": {
                    "description": "Current revision of the project",
                    "type": "integer",
                    "format": "int64"
                },
                "state": {
                    "enum": [
                        "deleting",
                        "new",
                        "wellFormed",
                        "createPending",
                        "all",
                        "unchanged",
                        "deleted"
                    ]
                },
                "uri": {
                    "type": "string"
                },
                "version": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "projectMessage": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/projectInfo"
                },
                "projectChangeType": {
                    "enum": [
                        "modified",
                        "deleted",
                        "added"
                    ]
                }
            }
        },
        "projectProperty": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "proxy": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "This is a description string",
                    "type": "string"
                },
                "friendlyName": {
                    "description": "The friendly name of the server",
                    "type": "string"
                },
                "globalDefault": {
                    "type": "boolean"
                },
                "site": {
                    "description": "This is a string representation of the site that the proxy server is located in (e.g. \"NA-WA-RED\")",
                    "type": "string"
                },
                "siteDefault": {
                    "type": "boolean"
                },
                "url": {
                    "description": "The URL of the proxy server",
                    "type": "string"
                }
            }
        },
        "teamContext": {
            "type": "object",
            "properties": {
                "project": {
                    "description": "The team project Id or name.  Ignored if ProjectId is set.",
                    "type": "string"
                },
                "projectId": {
                    "description": "The Team Project ID.  Required if Project is not set.",
                    "type": "string",
                    "format": "uuid"
                },
                "team": {
                    "description": "The Team Id or name.  Ignored if TeamId is set.",
                    "type": "string"
                },
                "teamId": {
                    "description": "The Team Id",
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "teamProject": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/teamProjectReference"
                }
            ],
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "type": "string",
                    "format": "referenceLinks"
                },
                "capabilities": {
                    "description": "Set of capabilities this project has (such as process template & version control).",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "defaultTeam": {
                    "description": "The shallow ref to the default team.",
                    "$ref": "#/definitions/webApiTeamRef"
                }
            }
        },
        "teamProjectCollection": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/teamProjectCollectionReference"
                }
            ],
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "type": "string",
                    "format": "referenceLinks"
                },
                "description": {
                    "description": "Project collection description.",
                    "type": "string"
                },
                "state": {
                    "description": "Project collection state.",
                    "type": "string"
                }
            }
        },
        "teamProjectCollectionReference": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Collection Id.",
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "description": "Collection Name.",
                    "type": "string"
                },
                "url": {
                    "description": "Collection REST Url.",
                    "type": "string"
                }
            }
        },
        "teamProjectReference": {
            "type": "object",
            "properties": {
                "abbreviation": {
                    "description": "Project abbreviation.",
                    "type": "string"
                },
                "description": {
                    "description": "The project's description (if any).",
                    "type": "string"
                },
                "id": {
                    "description": "Project identifier.",
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "description": "Project name.",
                    "type": "string"
                },
                "revision": {
                    "description": "Project revision.",
                    "type": "integer",
                    "format": "int64"
                },
                "state": {
                    "description": "Project state.",
                    "enum": [
                        "deleting",
                        "new",
                        "wellFormed",
                        "createPending",
                        "all",
                        "unchanged",
                        "deleted"
                    ]
                },
                "url": {
                    "description": "Url to the full version of the object.",
                    "type": "string"
                }
            }
        },
        "temporaryDataCreatedDTO": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/temporaryDataDTO"
                }
            ],
            "properties": {
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "temporaryDataDTO": {
            "type": "object",
            "properties": {
                "expirationSeconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "origin": {
                    "type": "string"
                },
                "value": {
                    "type": "object"
                }
            }
        },
        "webApiConnectedService": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/webApiConnectedServiceRef"
                }
            ],
            "properties": {
                "authenticatedBy": {
                    "description": "The user who did the OAuth authentication to created this service",
                    "type": "string",
                    "format": "identityRef"
                },
                "description": {
                    "description": "Extra description on the service.",
                    "type": "string"
                },
                "friendlyName": {
                    "description": "Friendly Name of service connection",
                    "type": "string"
                },
                "id": {
                    "description": "Id/Name of the connection service. For Ex: Subscription Id for Azure Connection",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of service.",
                    "type": "string"
                },
                "project": {
                    "description": "The project associated with this service",
                    "$ref": "#/definitions/teamProjectReference"
                },
                "serviceUri": {
                    "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
                    "type": "string"
                }
            }
        },
        "webApiConnectedServiceDetails": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/webApiConnectedServiceRef"
                }
            ],
            "properties": {
                "connectedServiceMetaData": {
                    "description": "Meta data for service connection",
                    "$ref": "#/definitions/webApiConnectedService"
                },
                "credentialsXml": {
                    "description": "Credential info",
                    "type": "string"
                },
                "endPoint": {
                    "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
                    "type": "string"
                }
            }
        },
        "webApiConnectedServiceRef": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "webApiCreateTagRequestData": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        },
        "webApiProject": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/teamProjectReference"
                }
            ],
            "properties": {
                "capabilities": {
                    "description": "Set of capabilities this project has",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "collection": {
                    "description": "Reference to collection which contains this project",
                    "$ref": "#/definitions/webApiProjectCollectionRef"
                },
                "defaultTeam": {
                    "description": "Default team for this project",
                    "$ref": "#/definitions/webApiTeamRef"
                }
            }
        },
        "webApiProjectCollection": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/webApiProjectCollectionRef"
                }
            ],
            "properties": {
                "description": {
                    "description": "Project collection description",
                    "type": "string"
                },
                "state": {
                    "description": "Project collection state",
                    "type": "string"
                }
            }
        },
        "webApiProjectCollectionRef": {
            "type": "object",
            "properties": {
                "collectionUrl": {
                    "description": "Collection Tfs Url (Host Url)",
                    "type": "string"
                },
                "id": {
                    "description": "Collection Guid",
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "description": "Collection Name",
                    "type": "string"
                },
                "url": {
                    "description": "Collection REST Url",
                    "type": "string"
                }
            }
        },
        "webApiTagDefinition": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "webApiTeam": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/webApiTeamRef"
                }
            ],
            "properties": {
                "description": {
                    "description": "Team description",
                    "type": "string"
                },
                "identityUrl": {
                    "description": "Identity REST API Url to this team",
                    "type": "string"
                }
            }
        },
        "webApiTeamRef": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Team (Identity) Guid. A Team Foundation ID.",
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "description": "Team name",
                    "type": "string"
                },
                "url": {
                    "description": "Team REST API Url",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}