{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Process",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "processes"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/process/processes": {
            "get": {
                "tags": [
                    "processes"
                ],
                "summary": "GetProcesses",
                "description": "",
                "operationId": "getProcesses",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Process"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/process/processes/{processId}": {
            "get": {
                "tags": [
                    "processes"
                ],
                "summary": "GetProcessById",
                "description": "Retrieve process by id",
                "operationId": "getProcessById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "processId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Process"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "IdentityData": {
            "type": "object",
            "properties": {
                "identityIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Process": {
            "type": "ProcessReference",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "type": {
                    "enum": [
                        "system",
                        "custom",
                        "inherited"
                    ]
                }
            }
        },
        "ProcessReference": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "ProjectInfo": {
            "type": "object",
            "properties": {
                "abbreviation": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lastUpdateTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "ProjectProperty"
                    }
                },
                "revision": {
                    "description": "Current revision of the project",
                    "type": "integer",
                    "format": "int64"
                },
                "state": {
                    "enum": [
                        "deleting",
                        "new",
                        "wellFormed",
                        "createPending",
                        "all",
                        "unchanged",
                        "deleted"
                    ]
                },
                "uri": {
                    "type": "string"
                },
                "version": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "ProjectMessage": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/ProjectInfo"
                },
                "projectChangeType": {
                    "enum": [
                        "modified",
                        "deleted",
                        "added"
                    ]
                }
            }
        },
        "ProjectProperty": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "Proxy": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "This is a description string",
                    "type": "string"
                },
                "friendlyName": {
                    "description": "The friendly name of the server",
                    "type": "string"
                },
                "globalDefault": {
                    "type": "boolean"
                },
                "site": {
                    "description": "This is a string representation of the site that the proxy server is located in (e.g. \"NA-WA-RED\")",
                    "type": "string"
                },
                "siteDefault": {
                    "type": "boolean"
                },
                "url": {
                    "description": "The URL of the proxy server",
                    "type": "string"
                }
            }
        },
        "TeamContext": {
            "type": "object",
            "properties": {
                "project": {
                    "description": "The team project Id or name.  Ignored if ProjectId is set.",
                    "type": "string"
                },
                "projectId": {
                    "description": "The Team Project ID.  Required if Project is not set.",
                    "type": "string"
                },
                "team": {
                    "description": "The Team Id or name.  Ignored if TeamId is set.",
                    "type": "string"
                },
                "teamId": {
                    "description": "The Team Id",
                    "type": "string"
                }
            }
        },
        "TeamProject": {
            "type": "TeamProjectReference",
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "type": "ReferenceLinks"
                },
                "capabilities": {
                    "description": "Set of capabilities this project has (such as process template & version control).",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "defaultTeam": {
                    "description": "The shallow ref to the default team.",
                    "$ref": "#/definitions/WebApiTeamRef"
                }
            }
        },
        "TeamProjectCollection": {
            "type": "TeamProjectCollectionReference",
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "type": "ReferenceLinks"
                },
                "description": {
                    "description": "Project collection description.",
                    "type": "string"
                },
                "state": {
                    "description": "Project collection state.",
                    "type": "string"
                }
            }
        },
        "TeamProjectCollectionReference": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Collection Id.",
                    "type": "string"
                },
                "name": {
                    "description": "Collection Name.",
                    "type": "string"
                },
                "url": {
                    "description": "Collection REST Url.",
                    "type": "string"
                }
            }
        },
        "TeamProjectReference": {
            "type": "object",
            "properties": {
                "abbreviation": {
                    "description": "Project abbreviation.",
                    "type": "string"
                },
                "description": {
                    "description": "The project's description (if any).",
                    "type": "string"
                },
                "id": {
                    "description": "Project identifier.",
                    "type": "string"
                },
                "name": {
                    "description": "Project name.",
                    "type": "string"
                },
                "revision": {
                    "description": "Project revision.",
                    "type": "integer",
                    "format": "int64"
                },
                "state": {
                    "description": "Project state.",
                    "enum": [
                        "deleting",
                        "new",
                        "wellFormed",
                        "createPending",
                        "all",
                        "unchanged",
                        "deleted"
                    ]
                },
                "url": {
                    "description": "Url to the full version of the object.",
                    "type": "string"
                }
            }
        },
        "TemporaryDataCreatedDTO": {
            "type": "TemporaryDataDTO",
            "properties": {
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "TemporaryDataDTO": {
            "type": "object",
            "properties": {
                "expirationSeconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "origin": {
                    "type": "string"
                },
                "value": {
                    "type": "object"
                }
            }
        },
        "WebApiConnectedService": {
            "type": "WebApiConnectedServiceRef",
            "properties": {
                "authenticatedBy": {
                    "description": "The user who did the OAuth authentication to created this service",
                    "type": "IdentityRef"
                },
                "description": {
                    "description": "Extra description on the service.",
                    "type": "string"
                },
                "friendlyName": {
                    "description": "Friendly Name of service connection",
                    "type": "string"
                },
                "id": {
                    "description": "Id/Name of the connection service. For Ex: Subscription Id for Azure Connection",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of service.",
                    "type": "string"
                },
                "project": {
                    "description": "The project associated with this service",
                    "$ref": "#/definitions/TeamProjectReference"
                },
                "serviceUri": {
                    "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
                    "type": "string"
                }
            }
        },
        "WebApiConnectedServiceDetails": {
            "type": "WebApiConnectedServiceRef",
            "properties": {
                "connectedServiceMetaData": {
                    "description": "Meta data for service connection",
                    "$ref": "#/definitions/WebApiConnectedService"
                },
                "credentialsXml": {
                    "description": "Credential info",
                    "type": "string"
                },
                "endPoint": {
                    "description": "Optional uri to connect directly to the service such as https://windows.azure.com",
                    "type": "string"
                }
            }
        },
        "WebApiConnectedServiceRef": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "WebApiCreateTagRequestData": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        },
        "WebApiProject": {
            "type": "TeamProjectReference",
            "properties": {
                "capabilities": {
                    "description": "Set of capabilities this project has",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "collection": {
                    "description": "Reference to collection which contains this project",
                    "$ref": "#/definitions/WebApiProjectCollectionRef"
                },
                "defaultTeam": {
                    "description": "Default team for this project",
                    "$ref": "#/definitions/WebApiTeamRef"
                }
            }
        },
        "WebApiProjectCollection": {
            "type": "WebApiProjectCollectionRef",
            "properties": {
                "description": {
                    "description": "Project collection description",
                    "type": "string"
                },
                "state": {
                    "description": "Project collection state",
                    "type": "string"
                }
            }
        },
        "WebApiProjectCollectionRef": {
            "type": "object",
            "properties": {
                "collectionUrl": {
                    "description": "Collection Tfs Url (Host Url)",
                    "type": "string"
                },
                "id": {
                    "description": "Collection Guid",
                    "type": "string"
                },
                "name": {
                    "description": "Collection Name",
                    "type": "string"
                },
                "url": {
                    "description": "Collection REST Url",
                    "type": "string"
                }
            }
        },
        "WebApiTagDefinition": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "WebApiTeam": {
            "type": "WebApiTeamRef",
            "properties": {
                "description": {
                    "description": "Team description",
                    "type": "string"
                },
                "identityUrl": {
                    "description": "Identity REST API Url to this team",
                    "type": "string"
                }
            }
        },
        "WebApiTeamRef": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Team (Identity) Guid. A Team Foundation ID.",
                    "type": "string"
                },
                "name": {
                    "description": "Team name",
                    "type": "string"
                },
                "url": {
                    "description": "Team REST API Url",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}