{
    "swagger": "2.0",
    "info": {
        "title": "Dashboard",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "dashboards"
        },
        {
            "name": "widgets"
        },
        {
            "name": "widgetTypes"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/dashboard/widgettypes": {
            "get": {
                "tags": [
                    "widgetTypes"
                ],
                "summary": "GetWidgetTypes",
                "description": "Returns available widgets in alphabetical order.",
                "operationId": "getWidgetTypes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "widgetScope"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widgetTypesResponse"
                        }
                    }
                }
            }
        },
        "/_apis/dashboard/widgettypes/{contributionId}": {
            "get": {
                "tags": [
                    "widgetTypes"
                ],
                "summary": "GetWidgetMetadata",
                "description": "",
                "operationId": "getWidgetMetadata",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contributionId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widgetMetadataResponse"
                        }
                    }
                }
            }
        },
        "/{project}/{team}/_apis/dashboard/dashboards": {
            "post": {
                "tags": [
                    "dashboards"
                ],
                "summary": "CreateDashboard",
                "description": "",
                "operationId": "createDashboard",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "dashboards"
                ],
                "summary": "GetDashboards",
                "description": "",
                "operationId": "getDashboards",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboardGroup"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "dashboards"
                ],
                "summary": "ReplaceDashboards",
                "description": "",
                "operationId": "replaceDashboards",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dashboardGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboardGroup"
                        }
                    }
                }
            }
        },
        "/{project}/{team}/_apis/dashboard/dashboards/{dashboardId}": {
            "delete": {
                "tags": [
                    "dashboards"
                ],
                "summary": "DeleteDashboard",
                "description": "",
                "operationId": "deleteDashboard",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "dashboards"
                ],
                "summary": "GetDashboard",
                "description": "",
                "operationId": "getDashboard",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "dashboards"
                ],
                "summary": "ReplaceDashboard",
                "description": "",
                "operationId": "replaceDashboard",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    }
                }
            }
        },
        "/{project}/{team}/_apis/dashboard/dashboards/{dashboardId}/widgets": {
            "post": {
                "tags": [
                    "widgets"
                ],
                "summary": "CreateWidget",
                "description": "",
                "operationId": "createWidget",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "widgets"
                ],
                "summary": "GetWidgets",
                "description": "",
                "operationId": "getWidgets",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "eTag",
                        "description": "Dashboard Widgets Version",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widgetsVersionedList"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "widgets"
                ],
                "summary": "ReplaceWidgets",
                "description": "",
                "operationId": "replaceWidgets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/widget"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "eTag",
                        "description": "Dashboard Widgets Version",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widgetsVersionedList"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "widgets"
                ],
                "summary": "UpdateWidgets",
                "description": "",
                "operationId": "updateWidgets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/widget"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "eTag",
                        "description": "Dashboard Widgets Version",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widgetsVersionedList"
                        }
                    }
                }
            }
        },
        "/{project}/{team}/_apis/dashboard/dashboards/{dashboardId}/widgets/{widgetId}": {
            "delete": {
                "tags": [
                    "widgets"
                ],
                "summary": "DeleteWidget",
                "description": "",
                "operationId": "deleteWidget",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "widgetId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/dashboard"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "widgets"
                ],
                "summary": "GetWidget",
                "description": "",
                "operationId": "getWidget",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "widgetId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "widgets"
                ],
                "summary": "ReplaceWidget",
                "description": "",
                "operationId": "replaceWidget",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "widgetId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "widgets"
                ],
                "summary": "UpdateWidget",
                "description": "",
                "operationId": "updateWidget",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "dashboardId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "widgetId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "team",
                        "description": "Team ID or team name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/widget"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dashboard": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "eTag": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "position": {
                    "type": "integer",
                    "format": "int32"
                },
                "refreshInterval": {
                    "type": "integer",
                    "format": "int32"
                },
                "url": {
                    "type": "string"
                },
                "widgets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/widget"
                    }
                }
            }
        },
        "dashboardGroup": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "dashboardEntries": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dashboardGroupEntry"
                    }
                },
                "permission": {
                    "enum": [
                        "none",
                        "edit",
                        "manage",
                        "managePermissions"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "dashboardGroupEntry": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/dashboard"
                }
            ],
            "properties": {
            }
        },
        "dashboardGroupEntryResponse": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/dashboardGroupEntry"
                }
            ],
            "properties": {
            }
        },
        "dashboardResponse": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/dashboardGroupEntry"
                }
            ],
            "properties": {
            }
        },
        "lightboxOptions": {
            "type": "object",
            "properties": {
                "height": {
                    "description": "Height of desired lightbox, in pixels",
                    "type": "integer",
                    "format": "int32"
                },
                "resizable": {
                    "description": "True to allow lightbox resizing, false to disallow lightbox resizing, defaults to false.",
                    "type": "boolean"
                },
                "width": {
                    "description": "Width of desired lightbox, in pixels",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "semanticVersion": {
            "type": "object",
            "properties": {
                "major": {
                    "description": "Major version when you make incompatible API changes",
                    "type": "integer",
                    "format": "int32"
                },
                "minor": {
                    "description": "Minor version when you add functionality in a backwards-compatible manner",
                    "type": "integer",
                    "format": "int32"
                },
                "patch": {
                    "description": "Patch version when you make backwards-compatible bug fixes",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "widget": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "allowedSizes": {
                    "description": "Refers to the allowed sizes for the widget. This gets populated when user wants to configure the widget",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/widgetSize"
                    }
                },
                "artifactId": {
                    "description": "Refers to unique identifier of a feature artifact. Used for pinning+unpinning a specific artifact.",
                    "type": "string"
                },
                "configurationContributionId": {
                    "type": "string"
                },
                "configurationContributionRelativeId": {
                    "type": "string"
                },
                "contentUri": {
                    "type": "string"
                },
                "contributionId": {
                    "description": "The id of the underlying contribution defining the supplied Widget Configuration.",
                    "type": "string"
                },
                "dashboard": {
                    "description": "Optional partial dashboard content, to support exchanging dashboard-level version ETag for widget-level APIs",
                    "$ref": "#/definitions/dashboard"
                },
                "eTag": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "isEnabled": {
                    "type": "boolean"
                },
                "isNameConfigurable": {
                    "type": "boolean"
                },
                "lightboxOptions": {
                    "$ref": "#/definitions/lightboxOptions"
                },
                "loadingImageUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "position": {
                    "$ref": "#/definitions/widgetPosition"
                },
                "settings": {
                    "type": "string"
                },
                "settingsVersion": {
                    "$ref": "#/definitions/semanticVersion"
                },
                "size": {
                    "$ref": "#/definitions/widgetSize"
                },
                "typeId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "widgetConfigurationMetadata": {
            "type": "object",
            "properties": {
                "contributionId": {
                    "description": "The id of the underlying contribution defining the supplied Widget Configuration.",
                    "type": "string"
                },
                "targets": {
                    "description": "Contribution target IDs",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "widgetMetadata": {
            "type": "object",
            "properties": {
                "allowedSizes": {
                    "description": "Sizes supported by the Widget.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/widgetSize"
                    }
                },
                "analyticsServiceRequired": {
                    "description": "Opt-in boolean that indicates if the widget requires the Analytics Service to function. Widgets requiring the analytics service are hidden from the catalog if the Analytics Service is not available.",
                    "type": "boolean"
                },
                "catalogIconUrl": {
                    "description": "Resource for an icon in the widget catalog.",
                    "type": "string"
                },
                "catalogInfoUrl": {
                    "description": "Opt-in URL string pointing at widget information. Defaults to extension marketplace URL if omitted",
                    "type": "string"
                },
                "configurationContributionId": {
                    "description": "The id of the underlying contribution defining the supplied Widget custom configuration UI. Null if custom configuration UI is not available.",
                    "type": "string"
                },
                "configurationContributionRelativeId": {
                    "description": "The relative id of the underlying contribution defining the supplied Widget custom configuration UI. Null if custom configuration UI is not available.",
                    "type": "string"
                },
                "configurationRequired": {
                    "description": "Indicates if the widget requires configuration before being added to dashboard.",
                    "type": "boolean"
                },
                "contentUri": {
                    "description": "Uri for the WidgetFactory to get the widget",
                    "type": "string"
                },
                "contributionId": {
                    "description": "The id of the underlying contribution defining the supplied Widget.",
                    "type": "string"
                },
                "defaultSettings": {
                    "description": "Optional default settings to be copied into widget settings",
                    "type": "string"
                },
                "description": {
                    "description": "Summary information describing the widget.",
                    "type": "string"
                },
                "isEnabled": {
                    "description": "Widgets can be disabled by the app store.  We'll need to gracefully handle for: - persistence (Allow) - Requests (Tag as disabled, and provide context)",
                    "type": "boolean"
                },
                "isNameConfigurable": {
                    "description": "Opt-out boolean that indicates if the widget supports widget name/title configuration. Widgets ignoring the name should set it to false in the manifest.",
                    "type": "boolean"
                },
                "isVisibleFromCatalog": {
                    "description": "Opt-out boolean indicating if the widget is hidden from the catalog.  For V1, only \"pull\" model widgets can be provided from the catalog.",
                    "type": "boolean"
                },
                "lightboxOptions": {
                    "description": "Opt-in lightbox properties",
                    "$ref": "#/definitions/lightboxOptions"
                },
                "loadingImageUrl": {
                    "description": "Resource for a loading placeholder image on dashboard",
                    "type": "string"
                },
                "name": {
                    "description": "User facing name of the widget type. Each widget must use a unique value here.",
                    "type": "string"
                },
                "publisherName": {
                    "description": "Publisher Name of this kind of widget.",
                    "type": "string"
                },
                "supportedScopes": {
                    "description": "Data contract required for the widget to function and to work in its container.",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "widgetScope"
                    }
                },
                "targets": {
                    "description": "Contribution target IDs",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "typeId": {
                    "description": "Dev-facing id of this kind of widget.",
                    "type": "string"
                }
            }
        },
        "widgetMetadataResponse": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "widgetMetadata": {
                    "$ref": "#/definitions/widgetMetadata"
                }
            }
        },
        "widgetPosition": {
            "type": "object",
            "properties": {
                "column": {
                    "type": "integer",
                    "format": "int32"
                },
                "row": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "widgetResponse": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/widget"
                }
            ],
            "properties": {
            }
        },
        "widgetSize": {
            "type": "object",
            "properties": {
                "columnSpan": {
                    "type": "integer",
                    "format": "int32"
                },
                "rowSpan": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "widgetsVersionedList": {
            "type": "object",
            "properties": {
                "eTag": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "widgets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/widget"
                    }
                }
            }
        },
        "widgetTypesResponse": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "uri": {
                    "type": "string"
                },
                "widgetTypes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/widgetMetadata"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}