{
    "swagger": "2.0",
    "info": {
        "title": "Discussion",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "comments"
        },
        {
            "name": "threads"
        },
        {
            "name": "threadsBatch"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/discussion/comments": {
        },
        "/_apis/discussion/threads": {
            "post": {
                "tags": [
                    "threads"
                ],
                "summary": "CreateThread",
                "description": "Create a discussion thread POST /_apis/discussion/threads",
                "operationId": "createThread",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discussionThread"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionThread"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "threads"
                ],
                "summary": "CreateThreads",
                "description": "Create multiple discussion threads PATCH /_apis/discussion/threads",
                "operationId": "createThreads",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "generic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionThreadCollection"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "threads"
                ],
                "summary": "GetThreadsByWorkItemId",
                "description": "Query discussion threads by work item id GET /_apis/discussion/threads?workItemId={workItemId}",
                "operationId": "getThreadsByWorkItemId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "workItemId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionThreadCollection"
                        }
                    }
                }
            }
        },
        "/_apis/discussion/threads/{discussionId}": {
            "get": {
                "tags": [
                    "threads"
                ],
                "summary": "GetThread",
                "description": "Read a discussion thread by id GET /_apis/discussion/threads/{discussionId}",
                "operationId": "getThread",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionThread"
                        }
                    }
                }
            },
        },
        "/_apis/discussion/threads/{discussionId}/comments": {
            "post": {
                "tags": [
                    "comments"
                ],
                "summary": "AddComment",
                "description": "Create a discussion comment POST /_apis/discussion/threads/{discussionId}/comments",
                "operationId": "addComment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discussionComment"
                        }
                    },
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionComment"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "comments"
                ],
                "summary": "GetComments",
                "description": "Read all comments for a discussion thread GET /_apis/discussion/threads/{discussionId}/comments",
                "operationId": "getComments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionCommentCollection"
                        }
                    }
                }
            }
        },
        "/_apis/discussion/threads/{discussionId}/comments/{commentId}": {
            "delete": {
                "tags": [
                    "comments"
                ],
                "summary": "DeleteComment",
                "description": "Remove a discussion comment DELETE /_apis/discussion/threads/{discussionId}/comments/{commentId}",
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "comments"
                ],
                "summary": "GetComment",
                "description": "Read a comment by id GET /_apis/discussion/threads/{discussionId}/comments/{commentId}",
                "operationId": "getComment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionComment"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "comments"
                ],
                "summary": "UpdateComment",
                "description": "Update a discussion comment PATCH /_apis/discussion/threads/{discussionId}/comments/{commentId}",
                "operationId": "updateComment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discussionComment"
                        }
                    },
                    {
                        "in": "path",
                        "name": "discussionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "commentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int16"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/discussionComment"
                        }
                    }
                }
            }
        },
        "/_apis/discussion/threadsbatch": {
            "post": {
                "tags": [
                    "threadsBatch"
                ],
                "summary": "GetThreads",
                "description": "Query discussion threads by artifact uri POST /_apis/discussion/threadsBatch",
                "operationId": "getThreads",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "array"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "artifactDiscussionThread": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/discussionThread"
                }
            ],
            "properties": {
            }
        },
        "discussionComment": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "author": {
                    "type": "identityRef"
                },
                "canDelete": {
                    "type": "boolean"
                },
                "commentType": {
                    "enum": [
                        "unknown",
                        "text",
                        "codeChange",
                        "system"
                    ]
                },
                "content": {
                    "type": "string"
                },
                "id": {
                    "description": "CommentId in a thread always starting from 1.",
                    "type": "integer",
                    "format": "int16"
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "parentId": {
                    "description": "Used for comment replies. It must be a commentId of a comment in comment list of a thread.",
                    "type": "integer",
                    "format": "int16"
                },
                "publishedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "threadId": {
                    "type": "integer",
                    "format": "int32"
                },
                "usersLiked": {
                    "type": "array",
                    "items": {
                        "type": "identityRef"
                    }
                }
            }
        },
        "discussionCommentCollection": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/array"
                }
            ],
            "properties": {
            }
        },
        "discussionThread": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "artifactUri": {
                    "type": "string"
                },
                "comments": {
                    "type": "array",
                    "items": {
                        "type": "discussionComment"
                    }
                },
                "commentsCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "isDeleted": {
                    "description": "A discussion is considered as deleted when all its comments are deleted. If thread has comments property set to null or Comments.Length is zero then return false. This property returns false by default because for all REST API calls comments property is not set.",
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "properties": {
                    "type": "propertiesCollection"
                },
                "publishedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "active",
                        "fixed",
                        "wontFix",
                        "closed",
                        "byDesign",
                        "pending"
                    ]
                },
                "workItemId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "discussionThreadCollection": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/array"
                }
            ],
            "properties": {
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}