{
  "swagger": "2.0",
  "info": {
    "title": "Drop",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "client"
    },
    {
      "name": "drop"
    },
    {
      "name": "drops"
    },
    {
      "name": "fetch"
    },
    {
      "name": "manifests"
    },
    {
      "name": "stats"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/drop/client": {
      "head": {
        "tags": [
          "client"
        ],
        "summary": "GetVersion",
        "description": "",
        "operationId": "getVersion",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage"
            }
          }
        }
      }
    },
    "/_apis/drop/client/{clientType}": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "GetDropClient",
        "description": "",
        "operationId": "getDropClient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientType",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage"
            }
          }
        }
      }
    },
    "/_apis/drop/drop": {
      "get": {
        "tags": [
          "drop"
        ],
        "summary": "GetDrops",
        "description": "",
        "operationId": "getDrops",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/drop/{dropName}": {
      "patch": {
        "tags": [
          "drop"
        ],
        "summary": "AssociateItems",
        "description": "",
        "operationId": "associateItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "drop"
        ],
        "summary": "CreateDrop",
        "description": "",
        "operationId": "createDrop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "drop"
        ],
        "summary": "DeleteDrop",
        "description": "",
        "operationId": "deleteDrop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "synchronous",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "drop"
        ],
        "summary": "GetDrop",
        "description": "",
        "operationId": "getDrop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "drop"
        ],
        "summary": "UpdateDrop",
        "description": "",
        "operationId": "updateDrop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/drops": {
      "put": {
        "tags": [
          "drops"
        ],
        "summary": "CreateDropV2",
        "description": "",
        "operationId": "createDropV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "CancellationToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/drops/{dropName}": {
      "delete": {
        "tags": [
          "drops"
        ],
        "summary": "DeleteDropV2",
        "description": "",
        "operationId": "deleteDropV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "drops"
        ],
        "summary": "ExtendDropV2Expiration",
        "description": "",
        "operationId": "extendDropV2Expiration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expiration",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "drops"
        ],
        "summary": "GetDropsV2",
        "description": "",
        "operationId": "getDropsV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "directory",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/fetch/{dropName}": {
      "post": {
        "tags": [
          "fetch"
        ],
        "summary": "CreateFetchRequest",
        "description": "",
        "operationId": "createFetchRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "fetch"
        ],
        "summary": "GetDropFileList",
        "description": "",
        "operationId": "getDropFileList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/manifests/{dropName}": {
      "post": {
        "tags": [
          "manifests"
        ],
        "summary": "AddDropV2Manifest",
        "description": "",
        "operationId": "addDropV2Manifest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "manifests"
        ],
        "summary": "GetDropManifest",
        "description": "",
        "operationId": "getDropManifest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dropName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "directory",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage",
              "items": {
                "type": "string",
                "format": "HttpResponseMessage"
              }
            }
          }
        }
      }
    },
    "/_apis/drop/stats": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "GetStats",
        "description": "",
        "operationId": "getStats",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage"
            }
          }
        }
      }
    }
  },
  "definitions": {
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}