{
    "swagger": "2.0",
    "info": {
        "title": "Drop",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "client"
        },
        {
            "name": "drop"
        },
        {
            "name": "drops"
        },
        {
            "name": "fetch"
        },
        {
            "name": "manifests"
        },
        {
            "name": "stats"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/drop/client": {
            "head": {
                "tags": [
                    "client"
                ],
                "summary": "GetVersion",
                "description": "",
                "operationId": "getVersion",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            }
        },
        "/_apis/drop/client/{clientType}": {
            "get": {
                "tags": [
                    "client"
                ],
                "summary": "GetDropClient",
                "description": "",
                "operationId": "getDropClient",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "clientType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            }
        },
        "/_apis/drop/drop/{dropName}": {
            "patch": {
                "tags": [
                    "drop"
                ],
                "summary": "AssociateItems",
                "description": "",
                "operationId": "associateItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "drop"
                ],
                "summary": "CreateDropAsync",
                "description": "",
                "operationId": "createDropAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "drop"
                ],
                "summary": "DeleteDropAsync",
                "description": "",
                "operationId": "deleteDropAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "synchronous",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "drop"
                ],
                "summary": "GetDropAsync",
                "description": "",
                "operationId": "getDropAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "drop"
                ],
                "summary": "UpdateDropAsync",
                "description": "",
                "operationId": "updateDropAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/drop/drops": {
            "put": {
                "tags": [
                    "drops"
                ],
                "summary": "CreateDropV2Async",
                "description": "",
                "operationId": "createDropV2Async",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "cancellationToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/drop/drops/{dropName}": {
            "delete": {
                "tags": [
                    "drops"
                ],
                "summary": "DeleteDropV2Async",
                "description": "",
                "operationId": "deleteDropV2Async",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "drops"
                ],
                "summary": "ExtendDropV2ExpirationAsync",
                "description": "",
                "operationId": "extendDropV2ExpirationAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expiration",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "drops"
                ],
                "summary": "GetDropsV2Async",
                "description": "",
                "operationId": "getDropsV2Async",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "directory",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursive",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/drop/fetch/{dropName}": {
            "post": {
                "tags": [
                    "fetch"
                ],
                "summary": "CreateFetchRequestAsync",
                "description": "",
                "operationId": "createFetchRequestAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/drop/manifests/{dropName}": {
            "post": {
                "tags": [
                    "manifests"
                ],
                "summary": "AddDropV2ManifestAsync",
                "description": "",
                "operationId": "addDropV2ManifestAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "manifests"
                ],
                "summary": "GetDropManifestAsync",
                "description": "",
                "operationId": "getDropManifestAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "dropName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "directory",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursive",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "task",
                            "items": {
                                "type": "string",
                                "format": "httpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/drop/stats": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "GetStats",
                "description": "",
                "operationId": "getStats",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}