{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "ExtensionManagement",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "acquisitionOptions"
        },
        {
            "name": "acquisitionRequests"
        },
        {
            "name": "authorizations"
        },
        {
            "name": "data"
        },
        {
            "name": "extensionDataCollectionQuery"
        },
        {
            "name": "extensionStates"
        },
        {
            "name": "installedExtensionQuery"
        },
        {
            "name": "installedExtensions"
        },
        {
            "name": "installedExtensionsByName"
        },
        {
            "name": "policies"
        },
        {
            "name": "requestedExtensions"
        },
        {
            "name": "token"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/extensionmanagement/acquisitionoptions": {
            "get": {
                "tags": [
                    "acquisitionOptions"
                ],
                "summary": "GetAcquisitionOptions",
                "description": "",
                "operationId": "getAcquisitionOptions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "itemId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "testCommerce",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "isFreeOrTrialInstall",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AcquisitionOptions"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/acquisitionrequests": {
            "post": {
                "tags": [
                    "acquisitionRequests"
                ],
                "summary": "RequestAcquisition",
                "description": "",
                "operationId": "requestAcquisition",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtensionAcquisitionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExtensionAcquisitionRequest"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/extensionstates": {
            "get": {
                "tags": [
                    "extensionStates"
                ],
                "summary": "GetStates",
                "description": "",
                "operationId": "getStates",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includeDisabled",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeErrors",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeInstallationIssues",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExtensionState"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/installedextensionquery": {
            "post": {
                "tags": [
                    "installedExtensionQuery"
                ],
                "summary": "QueryExtensions",
                "description": "",
                "operationId": "queryExtensions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/InstalledExtensionQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/InstalledExtension"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/installedextensions": {
            "get": {
                "tags": [
                    "installedExtensions"
                ],
                "summary": "GetInstalledExtensions",
                "description": "",
                "operationId": "getInstalledExtensions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includeDisabledExtensions",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeErrors",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "assetTypes",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "includeInstallationIssues",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/InstalledExtension"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "installedExtensions"
                ],
                "summary": "UpdateInstalledExtension",
                "description": "",
                "operationId": "updateInstalledExtension",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/InstalledExtension"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/InstalledExtension"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/InstalledExtensions/{publisherName}/{extensionName}/authorizations/{registrationId}": {
            "put": {
                "tags": [
                    "authorizations"
                ],
                "summary": "RegisterAuthorization",
                "description": "",
                "operationId": "registerAuthorization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "registrationId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExtensionAuthorization"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/InstalledExtensions/{publisherName}/{extensionName}/data/Scopes/{scopeType}/{scopeValue}/Collections/{collectionName}/Documents": {
            "post": {
                "tags": [
                    "data"
                ],
                "summary": "CreateDocumentByName",
                "description": "",
                "operationId": "createDocumentByName",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "JObject"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "data"
                ],
                "summary": "GetDocumentsByName",
                "description": "",
                "operationId": "getDocumentsByName",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "JObject"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "data"
                ],
                "summary": "SetDocumentByName",
                "description": "",
                "operationId": "setDocumentByName",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "JObject"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "data"
                ],
                "summary": "UpdateDocumentByName",
                "description": "",
                "operationId": "updateDocumentByName",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "JObject"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/InstalledExtensions/{publisherName}/{extensionName}/data/Scopes/{scopeType}/{scopeValue}/Collections/{collectionName}/Documents/{documentId}": {
            "delete": {
                "tags": [
                    "data"
                ],
                "summary": "DeleteDocumentByName",
                "description": "",
                "operationId": "deleteDocumentByName",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "documentId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "data"
                ],
                "summary": "GetDocumentByName",
                "description": "",
                "operationId": "getDocumentByName",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scopeValue",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "collectionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "documentId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "JObject"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/InstalledExtensions/{publisherName}/{extensionName}/extensiondatacollectionquery": {
            "post": {
                "tags": [
                    "extensionDataCollectionQuery"
                ],
                "summary": "QueryCollectionsByName",
                "description": "",
                "operationId": "queryCollectionsByName",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtensionDataCollectionQuery"
                        }
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExtensionDataCollection"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/installedextensionsbyname/{publisherName}/{extensionName}": {
            "get": {
                "tags": [
                    "installedExtensionsByName"
                ],
                "summary": "GetInstalledExtensionByName",
                "description": "",
                "operationId": "getInstalledExtensionByName",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "assetTypes",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/InstalledExtension"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "installedExtensionsByName"
                ],
                "summary": "UninstallExtensionByName",
                "description": "",
                "operationId": "uninstallExtensionByName",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "reason",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "reasonCode",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/extensionmanagement/installedextensionsbyname/{publisherName}/{extensionName}/{version}": {
            "post": {
                "tags": [
                    "installedExtensionsByName"
                ],
                "summary": "InstallExtensionByName",
                "description": "",
                "operationId": "installExtensionByName",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/InstalledExtension"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/policies/{userId}": {
            "get": {
                "tags": [
                    "policies"
                ],
                "summary": "GetPolicies",
                "description": "",
                "operationId": "getPolicies",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "UserExtensionPolicy"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/requestedextensions": {
            "get": {
                "tags": [
                    "requestedExtensions"
                ],
                "summary": "GetRequests",
                "description": "",
                "operationId": "getRequests",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/RequestedExtension"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/requestedextensions/{publisherName}/{extensionName}": {
            "patch": {
                "tags": [
                    "requestedExtensions"
                ],
                "summary": "ResolveAllRequests",
                "description": "",
                "operationId": "resolveAllRequests",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "state",
                        "description": "",
                        "required": true,
                        "type": "ExtensionRequestState"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "int32"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/requestedextensions/{publisherName}/{extensionName}/requests/{requesterId}": {
            "patch": {
                "tags": [
                    "requestedExtensions"
                ],
                "summary": "ResolveRequest",
                "description": "",
                "operationId": "resolveRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "requesterId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "state",
                        "description": "",
                        "required": true,
                        "type": "ExtensionRequestState"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "int32"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/requestedextensions/{publisherName}/{extensionName}/requests/me": {
            "delete": {
                "tags": [
                    "requestedExtensions"
                ],
                "summary": "DeleteRequest",
                "description": "",
                "operationId": "deleteRequest",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "requestedExtensions"
                ],
                "summary": "RequestExtension",
                "description": "",
                "operationId": "requestExtension",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/RequestedExtension"
                        }
                    }
                }
            }
        },
        "/_apis/extensionmanagement/token": {
            "get": {
                "tags": [
                    "token"
                ],
                "summary": "GetToken",
                "description": "",
                "operationId": "getToken",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AcquisitionOperation": {
            "type": "object",
            "properties": {
                "operationState": {
                    "description": "State of the the AcquisitionOperation for the current user",
                    "enum": [
                        "disallow",
                        "allow",
                        "completed"
                    ]
                },
                "operationType": {
                    "description": "AcquisitionOperationType: install, request, buy, etc...",
                    "enum": [
                        "get",
                        "install",
                        "buy",
                        "try",
                        "request",
                        "none"
                    ]
                },
                "reason": {
                    "description": "Optional reason to justify current state. Typically used with Disallow state.",
                    "type": "string"
                },
                "reasons": {
                    "description": "List of reasons indicating why the operation is not allowed.",
                    "type": "array",
                    "items": {
                        "type": "AcquisitionOperationDisallowReason"
                    }
                }
            }
        },
        "AcquisitionOperationDisallowReason": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "User-friendly message clarifying the reason for disallowance",
                    "type": "string"
                },
                "type": {
                    "description": "Type of reason for disallowance - AlreadyInstalled, UnresolvedDemand, etc.",
                    "type": "string"
                }
            }
        },
        "AcquisitionOptions": {
            "type": "object",
            "properties": {
                "defaultOperation": {
                    "description": "Default Operation for the ItemId in this target",
                    "$ref": "#/definitions/AcquisitionOperation"
                },
                "itemId": {
                    "description": "The item id that this options refer to",
                    "type": "string"
                },
                "operations": {
                    "description": "Operations allowed for the ItemId in this target",
                    "type": "array",
                    "items": {
                        "type": "AcquisitionOperation"
                    }
                },
                "target": {
                    "description": "The target that this options refer to",
                    "type": "string"
                }
            }
        },
        "Contribution": {
            "type": "ContributionBase",
            "properties": {
                "constraints": {
                    "description": "List of constraints (filters) that should be applied to the availability of this contribution",
                    "type": "array",
                    "items": {
                        "type": "ContributionConstraint"
                    }
                },
                "includes": {
                    "description": "Includes is a set of contributions that should have this contribution included in their targets list.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "properties": {
                    "description": "Properties/attributes of this contribution",
                    "type": "JObject"
                },
                "targets": {
                    "description": "The ids of the contribution(s) that this contribution targets. (parent contributions)",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "type": {
                    "description": "Id of the Contribution Type",
                    "type": "string"
                }
            }
        },
        "ContributionBase": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "Description of the contribution/type",
                    "type": "string"
                },
                "id": {
                    "description": "Fully qualified identifier of the contribution/type",
                    "type": "string"
                },
                "visibleTo": {
                    "description": "VisibleTo can be used to restrict whom can reference a given contribution/type. This value should be a list of publishers or extensions access is restricted too.  Examples: \"ms\" - Means only the \"ms\" publisher can reference this. \"ms.vss-web\" - Means only the \"vss-web\" extension from the \"ms\" publisher can reference this.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ContributionConstraint": {
            "type": "object",
            "properties": {
                "group": {
                    "description": "An optional property that can be specified to group constraints together. All constraints within a group are AND'd together (all must be evaluate to True in order for the contribution to be included). Different groups of constraints are OR'd (only one group needs to evaluate to True for the contribution to be included).",
                    "type": "integer",
                    "format": "int32"
                },
                "inverse": {
                    "description": "If true, negate the result of the filter (include the contribution if the applied filter returns false instead of true)",
                    "type": "boolean"
                },
                "name": {
                    "description": "Name of the IContributionFilter class",
                    "type": "string"
                },
                "properties": {
                    "description": "Properties that are fed to the contribution filter class",
                    "type": "JObject"
                },
                "relationships": {
                    "description": "Constraints can be optionally be applied to one or more of the relationships defined in the contribution. If no relationships are defined then all relationships are associated with the constraint. This means the default behaviour will elimiate the contribution from the tree completely if the constraint is applied.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ContributionPropertyDescription": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "Description of the property",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the property",
                    "type": "string"
                },
                "required": {
                    "description": "True if this property is required",
                    "type": "boolean"
                },
                "type": {
                    "description": "The type of value used for this property",
                    "enum": [
                        "unknown",
                        "string",
                        "uri",
                        "guid",
                        "boolean",
                        "integer",
                        "double",
                        "dateTime",
                        "dictionary",
                        "array",
                        "object"
                    ]
                }
            }
        },
        "ContributionType": {
            "type": "ContributionBase",
            "properties": {
                "indexed": {
                    "description": "Controls whether or not contributions of this type have the type indexed for queries. This allows clients to find all extensions that have a contribution of this type.  NOTE: Only TrustedPartners are allowed to specify indexed contribution types.",
                    "type": "boolean"
                },
                "name": {
                    "description": "Friendly name of the contribution/type",
                    "type": "string"
                },
                "properties": {
                    "description": "Describes the allowed properties for this contribution type",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/ContributionPropertyDescription"
                    }
                }
            }
        },
        "DataProviderContext": {
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Generic property bag that contains context-specific properties that data providers can use when populating their data dictionary",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "DataProviderQuery": {
            "type": "object",
            "properties": {
                "context": {
                    "description": "Contextual information to pass to the data providers",
                    "$ref": "#/definitions/DataProviderContext"
                },
                "contributionIds": {
                    "description": "The contribution ids of the data providers to resolve",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "DataProviderResult": {
            "type": "object",
            "properties": {
                "data": {
                    "description": "Property bag of data keyed off of the data provider contribution id",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "resolvedProviders": {
                    "description": "List of data providers resolved in the data-provider query",
                    "type": "array",
                    "items": {
                        "type": "ResolvedDataProvider"
                    }
                }
            }
        },
        "ExtensionAcquisitionRequest": {
            "type": "object",
            "properties": {
                "assignmentType": {
                    "description": "How the item is being assigned",
                    "enum": [
                        "none",
                        "me",
                        "all"
                    ]
                },
                "billingId": {
                    "description": "The id of the subscription used for purchase",
                    "type": "string"
                },
                "itemId": {
                    "description": "The marketplace id (publisherName.extensionName) for the item",
                    "type": "string"
                },
                "operationType": {
                    "description": "The type of operation, such as install, request, purchase",
                    "enum": [
                        "get",
                        "install",
                        "buy",
                        "try",
                        "request",
                        "none"
                    ]
                },
                "properties": {
                    "description": "Additional properties which can be added to the request.",
                    "type": "JObject"
                },
                "quantity": {
                    "description": "How many licenses should be purchased",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "ExtensionAuditAction": {
            "type": "object",
            "properties": {
            }
        },
        "ExtensionAuditLog": {
            "type": "object",
            "properties": {
                "entries": {
                    "description": "Collection of audit log entries",
                    "type": "array",
                    "items": {
                        "type": "ExtensionAuditLogEntry"
                    }
                },
                "extensionName": {
                    "description": "Extension that the change was made for",
                    "type": "string"
                },
                "publisherName": {
                    "description": "Publisher that the extension is part of",
                    "type": "string"
                }
            }
        },
        "ExtensionAuditLogEntry": {
            "type": "object",
            "properties": {
                "auditAction": {
                    "description": "Change that was made to extension",
                    "type": "string"
                },
                "auditDate": {
                    "description": "Date at which the change was made",
                    "type": "string",
                    "format": "date-time"
                },
                "comment": {
                    "description": "Extra information about the change",
                    "type": "string"
                },
                "updatedBy": {
                    "description": "Represents the user who made the change",
                    "type": "IdentityRef"
                }
            }
        },
        "ExtensionAuthorization": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "scopes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ExtensionDataCollection": {
            "type": "object",
            "properties": {
                "collectionName": {
                    "description": "The name of the collection",
                    "type": "string"
                },
                "documents": {
                    "description": "A list of documents belonging to the collection",
                    "type": "array",
                    "items": {
                        "type": "JObject"
                    }
                },
                "scopeType": {
                    "description": "The type of the collection's scope, such as Default or User",
                    "type": "string"
                },
                "scopeValue": {
                    "description": "The value of the collection's scope, such as Current or Me",
                    "type": "string"
                }
            }
        },
        "ExtensionDataCollectionQuery": {
            "type": "object",
            "properties": {
                "collections": {
                    "description": "A list of collections to query",
                    "type": "array",
                    "items": {
                        "type": "ExtensionDataCollection"
                    }
                }
            }
        },
        "ExtensionEventCallback": {
            "type": "object",
            "properties": {
                "uri": {
                    "description": "The uri of the endpoint that is hit when an event occurs",
                    "type": "string"
                }
            }
        },
        "ExtensionEventCallbackCollection": {
            "type": "object",
            "properties": {
                "postDisable": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension disable has occurred.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "postEnable": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension enable has occurred.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "postInstall": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension install has completed.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "postUninstall": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension uninstall has occurred.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "postUpdate": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension update has occurred.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "preInstall": {
                    "description": "Optional.  Defines an endpoint that gets called via a POST reqeust to notify that an extension install is about to occur.  Response indicates whether to proceed or abort.",
                    "$ref": "#/definitions/ExtensionEventCallback"
                },
                "versionCheck": {
                    "description": "For multi-version extensions, defines an endpoint that gets called via an OPTIONS request to determine the particular version of the extension to be used",
                    "$ref": "#/definitions/ExtensionEventCallback"
                }
            }
        },
        "ExtensionLicensing": {
            "type": "object",
            "properties": {
                "overrides": {
                    "description": "A list of contributions which deviate from the default licensing behavior",
                    "type": "array",
                    "items": {
                        "type": "LicensingOverride"
                    }
                }
            }
        },
        "ExtensionManifest": {
            "type": "object",
            "properties": {
                "baseUri": {
                    "description": "Uri used as base for other relative uri's defined in extension",
                    "type": "string"
                },
                "contributions": {
                    "description": "List of contributions made by this extension",
                    "type": "array",
                    "items": {
                        "type": "Contribution"
                    }
                },
                "contributionTypes": {
                    "description": "List of contribution types defined by this extension",
                    "type": "array",
                    "items": {
                        "type": "ContributionType"
                    }
                },
                "demands": {
                    "description": "List of explicit demands required by this extension",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "eventCallbacks": {
                    "description": "Collection of endpoints that get called when particular extension events occur",
                    "$ref": "#/definitions/ExtensionEventCallbackCollection"
                },
                "fallbackBaseUri": {
                    "description": "Secondary location that can be used as base for other relative uri's defined in extension",
                    "type": "string"
                },
                "language": {
                    "description": "Language Culture Name set by the Gallery",
                    "type": "string"
                },
                "licensing": {
                    "description": "How this extension behaves with respect to licensing",
                    "$ref": "#/definitions/ExtensionLicensing"
                },
                "manifestVersion": {
                    "description": "Version of the extension manifest format/content",
                    "type": "number",
                    "format": "double"
                },
                "scopes": {
                    "description": "List of all oauth scopes required by this extension",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "serviceInstanceType": {
                    "description": "The ServiceInstanceType(Guid) of the VSTS service that must be available to an account in order for the extension to be installed",
                    "type": "string"
                }
            }
        },
        "ExtensionRequest": {
            "type": "object",
            "properties": {
                "rejectMessage": {
                    "description": "Required message supplied if the request is rejected",
                    "type": "string"
                },
                "requestDate": {
                    "description": "Date at which the request was made",
                    "type": "string",
                    "format": "date-time"
                },
                "requestedBy": {
                    "description": "Represents the user who made the request",
                    "type": "IdentityRef"
                },
                "requestMessage": {
                    "description": "Optional message supplied by the requester justifying the request",
                    "type": "string"
                },
                "requestState": {
                    "description": "Represents the state of the request",
                    "enum": [
                        "open",
                        "accepted",
                        "rejected"
                    ]
                },
                "resolveDate": {
                    "description": "Date at which the request was resolved",
                    "type": "string",
                    "format": "date-time"
                },
                "resolvedBy": {
                    "description": "Represents the user who resolved the request",
                    "type": "IdentityRef"
                }
            }
        },
        "ExtensionRequestedEvent": {
            "type": "object",
            "properties": {
                "accountName": {
                    "description": "Name of the account for which the extension was requested",
                    "type": "string"
                },
                "extensionRequest": {
                    "description": "The extension request object",
                    "$ref": "#/definitions/ExtensionRequest"
                },
                "galleryHostUrl": {
                    "description": "Gallery host url",
                    "type": "string"
                },
                "itemUrl": {
                    "description": "Link to view the extension details page",
                    "type": "string"
                },
                "publishedExtension": {
                    "description": "The extension which has been requested",
                    "type": "PublishedExtension"
                },
                "requestUrl": {
                    "description": "Linkk to view the extension request",
                    "type": "string"
                }
            }
        },
        "ExtensionState": {
            "type": "InstalledExtensionState",
            "properties": {
                "extensionName": {
                    "type": "string"
                },
                "lastVersionCheck": {
                    "description": "The time at which the version was last checked",
                    "type": "string",
                    "format": "date-time"
                },
                "publisherName": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "InstalledExtension": {
            "type": "ExtensionManifest",
            "properties": {
                "extensionId": {
                    "description": "The friendly extension id for this extension - unique for a given publisher.",
                    "type": "string"
                },
                "extensionName": {
                    "description": "The display name of the extension.",
                    "type": "string"
                },
                "files": {
                    "description": "This is the set of files available from the extension.",
                    "type": "array",
                    "items": {
                        "type": "ExtensionFile"
                    }
                },
                "flags": {
                    "description": "Extension flags relevant to contribution consumers",
                    "enum": [
                        "builtIn",
                        "trusted"
                    ]
                },
                "installState": {
                    "description": "Information about this particular installation of the extension",
                    "$ref": "#/definitions/InstalledExtensionState"
                },
                "lastPublished": {
                    "description": "This represents the date/time the extensions was last updated in the gallery. This doesnt mean this version was updated the value represents changes to any and all versions of the extension.",
                    "type": "string",
                    "format": "date-time"
                },
                "publisherId": {
                    "description": "Unique id of the publisher of this extension",
                    "type": "string"
                },
                "publisherName": {
                    "description": "The display name of the publisher",
                    "type": "string"
                },
                "registrationId": {
                    "description": "Unique id for this extension (the same id is used for all versions of a single extension)",
                    "type": "string"
                },
                "version": {
                    "description": "Version of this extension",
                    "type": "string"
                }
            }
        },
        "InstalledExtensionQuery": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "monikers": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionIdentifier"
                    }
                }
            }
        },
        "InstalledExtensionState": {
            "type": "object",
            "properties": {
                "flags": {
                    "description": "States of an installed extension",
                    "enum": [
                        "none",
                        "disabled",
                        "builtIn",
                        "multiVersion",
                        "unInstalled",
                        "versionCheckError",
                        "trusted",
                        "error",
                        "needsReauthorization",
                        "autoUpgradeError",
                        "warning"
                    ]
                },
                "installationIssues": {
                    "description": "List of installation issues",
                    "type": "array",
                    "items": {
                        "type": "InstalledExtensionStateIssue"
                    }
                },
                "lastUpdated": {
                    "description": "The time at which this installation was last updated",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "InstalledExtensionStateIssue": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "The error message",
                    "type": "string"
                },
                "source": {
                    "description": "Source of the installation issue, for example  \"Demands\"",
                    "type": "string"
                },
                "type": {
                    "description": "Installation issue type (Warning, Error)",
                    "enum": [
                        "warning",
                        "error"
                    ]
                }
            }
        },
        "LicensingOverride": {
            "type": "object",
            "properties": {
                "behavior": {
                    "description": "How the inclusion of this contribution should change based on licensing",
                    "enum": [
                        "onlyIfLicensed",
                        "onlyIfUnlicensed",
                        "alwaysInclude"
                    ]
                },
                "id": {
                    "description": "Fully qualified contribution id which we want to define licensing behavior for",
                    "type": "string"
                }
            }
        },
        "RequestedExtension": {
            "type": "object",
            "properties": {
                "extensionName": {
                    "description": "The unique name of the extension",
                    "type": "string"
                },
                "extensionRequests": {
                    "description": "A list of each request for the extension",
                    "type": "array",
                    "items": {
                        "type": "ExtensionRequest"
                    }
                },
                "publisherDisplayName": {
                    "description": "DisplayName of the publisher that owns the extension being published.",
                    "type": "string"
                },
                "publisherName": {
                    "description": "Represents the Publisher of the requested extension",
                    "type": "string"
                },
                "requestCount": {
                    "description": "The total number of requests for an extension",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "ResolvedDataProvider": {
            "type": "object",
            "properties": {
                "duration": {
                    "description": "The total time the data provider took to resolve its data (in milliseconds)",
                    "type": "Single"
                },
                "error": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "Scope": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "SupportedExtension": {
            "type": "object",
            "properties": {
                "extension": {
                    "description": "Unique Identifier for this extension",
                    "type": "string"
                },
                "publisher": {
                    "description": "Unique Identifier for this publisher",
                    "type": "string"
                },
                "version": {
                    "description": "Supported version for this extension",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}