{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Favorite",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "favorites"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/favorite/favorites": {
            "get": {
                "tags": [
                    "favorites"
                ],
                "summary": "GetFavorites",
                "description": "",
                "operationId": "getFavorites",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeExtendedDetails",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Favorite"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "favorites"
                ],
                "summary": "UpdateFavorite",
                "description": "",
                "operationId": "updateFavorite",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Favorite"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Favorite"
                        }
                    }
                }
            }
        },
        "/_apis/favorite/favorites/{favoriteId}": {
            "delete": {
                "tags": [
                    "favorites"
                ],
                "summary": "DeleteFavorite",
                "description": "",
                "operationId": "deleteFavorite",
                "parameters": [
                    {
                        "in": "path",
                        "name": "favoriteId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "projectGuid",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "Favorite": {
            "type": "object",
            "properties": {
                "_links": {
                    "description": "Uri referring to web access UI for the underlying artifact.",
                    "type": "ReferenceLinks"
                },
                "artifactIsDeleted": {
                    "description": "Indicates if the artifact described by this favorite is gone.",
                    "type": "boolean"
                },
                "data": {
                    "description": "Application specific data for the entry",
                    "type": "string"
                },
                "id": {
                    "description": "Unique Id of the entry",
                    "type": "string"
                },
                "metadata": {
                    "description": "Cached type specific metadata describing the Favorite.",
                    "type": "string"
                },
                "name": {
                    "description": "Display text for favorite entry",
                    "type": "string"
                },
                "parentId": {
                    "description": "Legacy Property: Id of the parent favorite folder",
                    "type": "string"
                },
                "projectId": {
                    "description": "Project Id of the favorite  Note: This property is a read-only extension over the traditional favorite model, which was always queried under a single project. This value cannot be overridden on writes.",
                    "type": "string"
                },
                "projectName": {
                    "description": "Project Name of the favorite  Note: This property is a read-only extension over the traditional favorite model, which was always queried under a single project. This value cannot be overridden on writes.",
                    "type": "string"
                },
                "scope": {
                    "description": "Storage scope of the favorite  Note: This property is a read-only extension over the traditional favorite model. This value cannot be overridden on writes.",
                    "type": "string"
                },
                "type": {
                    "description": "Application specific favorite entry specifier.  Legacy Note: Empty or Null represents that Favorite item is a Folder",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}