{
  "swagger": "2.0",
  "info": {
    "title": "Favorite",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "favoriteArtifacts"
    },
    {
      "name": "favoriteProviders"
    },
    {
      "name": "favorites"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/favorite/favoriteproviders": {
      "get": {
        "tags": [
          "favoriteProviders"
        ],
        "summary": "GetFavoriteProviders",
        "description": "",
        "operationId": "getFavoriteProviders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "faultInMissingHost",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FavoriteProvider"
              }
            }
          }
        }
      }
    },
    "/_apis/favorite/favorites": {
      "post": {
        "tags": [
          "favorites"
        ],
        "summary": "CreateFavorite",
        "description": "",
        "operationId": "createFavorite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FavoriteCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Favorite"
            }
          }
        }
      },
      "get": {
        "tags": [
          "favorites"
        ],
        "summary": "GetFavorites",
        "description": "",
        "operationId": "getFavorites",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactScopeType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactScopeId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeExtendedDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Favorite"
              }
            }
          }
        }
      }
    },
    "/_apis/favorite/Favorites/{artifactType}/{artifactId}": {
      "delete": {
        "tags": [
          "favoriteArtifacts"
        ],
        "summary": "DeleteFavoriteByArtifact",
        "description": "",
        "operationId": "deleteFavoriteByArtifact",
        "parameters": [
          {
            "in": "path",
            "name": "artifactType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "artifactId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "favoriteArtifacts"
        ],
        "summary": "GetFavoriteByArtifact",
        "description": "",
        "operationId": "getFavoriteByArtifact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "artifactType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "artifactId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Favorite"
            }
          }
        }
      }
    },
    "/_apis/favorite/favorites/{favoriteId}": {
      "delete": {
        "tags": [
          "favorites"
        ],
        "summary": "DeleteFavoriteById",
        "description": "",
        "operationId": "deleteFavoriteById",
        "parameters": [
          {
            "in": "path",
            "name": "favoriteId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactScopeType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactScopeId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "favorites"
        ],
        "summary": "GetFavoriteById",
        "description": "",
        "operationId": "getFavoriteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "favoriteId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "artifactScopeType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactScopeId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeExtendedDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Favorite"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ArtifactProperties": {
      "type": "object",
      "allOf": [
        {
          "type": "object"
        }
      ],
      "properties": {
      }
    },
    "ArtifactScope": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the scope the artifact resides in. For a TFS Project, this refers to the Project GUID string. For a Collection, marked this property with an empty string.",
          "type": "string"
        },
        "name": {
          "description": "Name of the artifact scope (e.g. Project Name)  Note: This property is a read-only extension over the stored favorite model. This value cannot be overridden on writes.",
          "type": "string"
        },
        "type": {
          "description": "Type of scope the favorite artifact resides in. Known scopes include \"Project\" or \"Collection\"",
          "type": "string"
        }
      }
    },
    "Favorite": {
      "type": "object",
      "properties": {
        "_links": {
          "description": "Links to the resources associated to the underlying artifact. Known Contents: -\"page\" refers to web access UI page for the Artifact",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifactId": {
          "description": "ID of the favorited artifact, unique in context of this artifact type.",
          "type": "string"
        },
        "artifactIsDeleted": {
          "description": "Indicates if the artifact described by this favorite  could not be located.",
          "type": "boolean"
        },
        "artifactName": {
          "description": "Last known name of the artifact.",
          "type": "string"
        },
        "artifactProperties": {
          "description": "A dictionary of cached properties describing a Favorited artifact. Structure is generated by the service-side feature metadata provider handling this Artifact Type.",
          "$ref": "#/definitions/ArtifactProperties"
        },
        "artifactScope": {
          "description": "Artifact Scope - This object describes where an artifact is contained. e.g. Project Mandatory param for creating all favorites.",
          "$ref": "#/definitions/ArtifactScope"
        },
        "artifactType": {
          "description": "Type of artifact.",
          "type": "string"
        },
        "creationDate": {
          "description": "Date and time this Favorite was created on server.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Unique Id of the favorite item, defined by server at creation time.",
          "type": "string",
          "format": "uuid"
        },
        "owner": {
          "description": "User identity, defined by server, based on active user context.",
          "$ref": "#/definitions/IdentityRef"
        },
        "url": {
          "description": "Fully-Qualified link to this Resource",
          "type": "string"
        }
      }
    },
    "FavoriteCreateParameters": {
      "type": "object",
      "properties": {
        "artifactId": {
          "type": "string"
        },
        "artifactName": {
          "type": "string"
        },
        "artifactProperties": {
          "$ref": "#/definitions/ArtifactProperties"
        },
        "artifactScope": {
          "$ref": "#/definitions/ArtifactScope"
        },
        "artifactType": {
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/IdentityRef"
        }
      }
    },
    "FavoriteProvider": {
      "type": "object",
      "properties": {
        "artifactName": {
          "description": "Artifact type user friendly name",
          "type": "string"
        },
        "artifactType": {
          "description": "Favorite artifact type",
          "type": "string"
        },
        "artifactUri": {
          "description": "URI for retrieving favorite artifacts",
          "type": "string"
        },
        "serviceIdentifier": {
          "description": "Service identifier of the service.",
          "type": "string",
          "format": "uuid"
        },
        "serviceUri": {
          "description": "Base URI of the service",
          "type": "string"
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}