{
    "swagger": "2.0",
    "info": {
        "title": "Favorite",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "favoriteProviders"
        },
        {
            "name": "favorites"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/favorite/favoriteproviders": {
            "get": {
                "tags": [
                    "favoriteProviders"
                ],
                "summary": "GetFavoriteProviders",
                "description": "",
                "operationId": "getFavoriteProviders",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "faultInMissingHost",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/favoriteProvider"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/favorite/favorites": {
            "get": {
                "tags": [
                    "favorites"
                ],
                "summary": "GetFavorites",
                "description": "",
                "operationId": "getFavorites",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "project",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "includeExtendedDetails",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/favorite"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "favorites"
                ],
                "summary": "UpdateFavorite",
                "description": "",
                "operationId": "updateFavorite",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/favorite"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/favorite"
                        }
                    }
                }
            }
        },
        "/_apis/favorite/favorites/{favoriteId}": {
            "delete": {
                "tags": [
                    "favorites"
                ],
                "summary": "DeleteFavorite",
                "description": "",
                "operationId": "deleteFavorite",
                "parameters": [
                    {
                        "in": "path",
                        "name": "favoriteId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "projectGuid",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "favorite": {
            "type": "object",
            "properties": {
                "_links": {
                    "description": "Uri referring to web access UI for the underlying artifact.",
                    "$ref": "#/definitions/referenceLinks"
                },
                "artifactIsDeleted": {
                    "description": "Indicates if the artifact described by this favorite is gone.",
                    "type": "boolean"
                },
                "data": {
                    "description": "Application specific data for the entry",
                    "type": "string"
                },
                "id": {
                    "description": "Unique Id of the entry, supplied by server at creation time",
                    "type": "string",
                    "format": "uuid"
                },
                "metadata": {
                    "description": "Cached type specific metadata describing the Favorite.",
                    "type": "string"
                },
                "name": {
                    "description": "Display text for favorite entry",
                    "type": "string"
                },
                "parentId": {
                    "description": "Legacy Property: Id of the parent favorite folder",
                    "type": "string",
                    "format": "uuid"
                },
                "projectId": {
                    "description": "Project Id of the favorite  Note: This property is a read-only extension over the traditional favorite model, which was always queried under a single project. This value cannot be overridden on writes.",
                    "type": "string",
                    "format": "uuid"
                },
                "projectName": {
                    "description": "Project Name of the favorite  Note: This property is a read-only extension over the traditional favorite model, which was always queried under a single project. This value cannot be overridden on writes.",
                    "type": "string"
                },
                "scope": {
                    "description": "Storage scope of the favorite  Note: This property is a read-only extension over the traditional favorite model. This value cannot be overridden on writes.",
                    "type": "string"
                },
                "type": {
                    "description": "Application specific favorite entry specifier.  Legacy Note: Empty or Null represents that Favorite item is a Folder",
                    "type": "string"
                }
            }
        },
        "favoriteProvider": {
            "type": "object",
            "properties": {
                "artifactName": {
                    "description": "Artifact type user friendly name",
                    "type": "string"
                },
                "artifactType": {
                    "description": "Favorite artifact type",
                    "type": "string"
                },
                "artifactUri": {
                    "description": "URI for retrieving favorite artifacts",
                    "type": "string"
                },
                "serviceIdentifier": {
                    "description": "Service identifier of the service.",
                    "type": "string",
                    "format": "uuid"
                },
                "serviceName": {
                    "description": "Name of the service that provides favorite artifacts",
                    "type": "string"
                },
                "serviceUri": {
                    "description": "Base URI of the service",
                    "type": "string"
                }
            }
        },
        "referenceLinks": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}