{
  "swagger": "2.0",
  "info": {
    "title": "FeedToken",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "sessionTokens"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/feedtoken/sessiontokens/{feedName}": {
      "get": {
        "tags": [
          "sessionTokens"
        ],
        "summary": "GetPersonalAccessToken",
        "description": "",
        "operationId": "getPersonalAccessToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "allowUpstreamNameConflict": {
          "description": "If set, the feed will allow upload of packages that exist on the upstream",
          "type": "boolean"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "fullyQualifiedName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isReadOnly": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedPermission"
          }
        },
        "upstreamEnabled": {
          "description": "If set, the feed can proxy packages from an upstream feed",
          "type": "boolean"
        },
        "upstreamEnabledChangedDate": {
          "description": "If set, time that the UpstreamEnabled property was changed. Will be null if UpstreamEnabled was never changed after Feed creation.",
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "type": "string"
        },
        "view": {
          "$ref": "#/definitions/FeedView"
        }
      }
    },
    "FeedChange": {
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType"
          }
        },
        "feed": {
          "$ref": "#/definitions/Feed"
        },
        "feedContinuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "latestPackageContinuationToken": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedChangesResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "feedChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedChange"
          }
        },
        "nextFeedContinuationToken": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedPermission": {
      "type": "object",
      "properties": {
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "identityId": {
          "type": "string",
          "format": "uuid"
        },
        "role": {
          "enum": [
            "custom",
            "none",
            "reader",
            "contributor",
            "administrator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedRole"
          }
        }
      }
    },
    "FeedView": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "none",
            "release"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedViewType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GlobalPermission": {
      "type": "object",
      "properties": {
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "role": {
          "enum": [
            "custom",
            "none",
            "feedCreator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.GlobalRole"
          }
        }
      }
    },
    "IdentityDescriptor": {
      "type": "object",
      "properties": {
        "identifier": {
          "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
          "type": "string"
        },
        "identityType": {
          "description": "Type of descriptor (for example, Windows, Passport, etc.).",
          "type": "string"
        }
      }
    },
    "MinimalPackageVersion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCachedVersion": {
          "type": "boolean"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isLatest": {
          "type": "boolean"
        },
        "isListed": {
          "type": "boolean"
        },
        "normalizedVersion": {
          "description": "The normalized version representing the identity of a package version",
          "type": "string"
        },
        "packageDescription": {
          "type": "string"
        },
        "storageId": {
          "type": "string"
        },
        "version": {
          "description": "The display version of the package version",
          "type": "string"
        },
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedView"
          }
        }
      }
    },
    "Package": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCached": {
          "type": "boolean"
        },
        "name": {
          "description": "The display name of the package",
          "type": "string"
        },
        "normalizedName": {
          "description": "The normalized name representing the identity of this package for this protocol type",
          "type": "string"
        },
        "protocolType": {
          "type": "string"
        },
        "starCount": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        }
      }
    },
    "PackageChange": {
      "type": "object",
      "properties": {
        "package": {
          "$ref": "#/definitions/Package"
        },
        "packageVersionChange": {
          "$ref": "#/definitions/PackageVersionChange"
        }
      }
    },
    "PackageChangesResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "nextPackageContinuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageChange"
          }
        }
      }
    },
    "PackageDependency": {
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "versionRange": {
          "type": "string"
        }
      }
    },
    "PackageFile": {
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "name": {
          "type": "string"
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        }
      }
    },
    "PackageStar": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "url": {
          "type": "string"
        },
        "userId": {
          "type": "string",
          "format": "uuid"
        },
        "userStar": {
          "type": "boolean"
        }
      }
    },
    "PackageVersion": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MinimalPackageVersion"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "author": {
          "type": "string"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageDependency"
          }
        },
        "description": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "otherVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        },
        "publishDate": {
          "type": "string",
          "format": "date-time"
        },
        "summary": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PackageVersionChange": {
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType"
          }
        },
        "continuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageVersion": {
          "$ref": "#/definitions/PackageVersion"
        }
      }
    },
    "ProtocolMetadata": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "schemaVersion": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}