{
  "swagger": "2.0",
  "info": {
    "title": "Feed",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "feedChanges"
    },
    {
      "name": "feeds"
    },
    {
      "name": "globalPermissions"
    },
    {
      "name": "packageChanges"
    },
    {
      "name": "packages"
    },
    {
      "name": "permissions"
    },
    {
      "name": "versions"
    },
    {
      "name": "views"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feedchanges": {
      "get": {
        "tags": [
          "feedChanges"
        ],
        "summary": "GetFeedChanges",
        "description": "",
        "operationId": "getFeedChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "batchSize",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedChangesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feedchanges/{feedId}": {
      "get": {
        "tags": [
          "feedChanges"
        ],
        "summary": "GetFeedChange",
        "description": "",
        "operationId": "getFeedChange",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedChange"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds": {
      "post": {
        "tags": [
          "feeds"
        ],
        "summary": "CreateFeed",
        "description": "",
        "operationId": "createFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "feeds"
        ],
        "summary": "GetFeeds",
        "description": "",
        "operationId": "getFeeds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "feedRole",
            "description": "",
            "required": false,
            "type": "string",
            "format": "FeedRole"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feed"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}": {
      "delete": {
        "tags": [
          "feeds"
        ],
        "summary": "DeleteFeed",
        "description": "",
        "operationId": "deleteFeed",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "feeds"
        ],
        "summary": "GetFeed",
        "description": "",
        "operationId": "getFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "feeds"
        ],
        "summary": "UpdateFeed",
        "description": "",
        "operationId": "updateFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packagechanges": {
      "get": {
        "tags": [
          "packageChanges"
        ],
        "summary": "GetPackageChanges",
        "description": "",
        "operationId": "getPackageChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "batchSize",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageChangesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packages": {
      "get": {
        "tags": [
          "packages"
        ],
        "summary": "GetPackages",
        "description": "",
        "operationId": "getPackages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "protocolType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "packageNameQuery",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "normalizedPackageName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAllVersions",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "getTopPackageVersions",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isRelease",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDescription",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isCached",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Package"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packages/{packageId}": {
      "get": {
        "tags": [
          "packages"
        ],
        "summary": "GetPackage",
        "description": "",
        "operationId": "getPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeAllVersions",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isRelease",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions": {
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "GetPackageVersions",
        "description": "",
        "operationId": "getPackageVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PackageVersion"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions/{packageVersionId}": {
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "GetPackageVersion",
        "description": "",
        "operationId": "getPackageVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageVersion"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/permissions": {
      "get": {
        "tags": [
          "permissions"
        ],
        "summary": "GetFeedPermissions",
        "description": "",
        "operationId": "getFeedPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeIds",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "permissions"
        ],
        "summary": "SetFeedPermissions",
        "description": "",
        "operationId": "setFeedPermissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/views": {
      "post": {
        "tags": [
          "views"
        ],
        "summary": "CreateFeedView",
        "description": "",
        "operationId": "createFeedView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "views"
        ],
        "summary": "GetFeedViews",
        "description": "",
        "operationId": "getFeedViews",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedView"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/views/{viewId}": {
      "delete": {
        "tags": [
          "views"
        ],
        "summary": "DeleteFeedView",
        "description": "",
        "operationId": "deleteFeedView",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "views"
        ],
        "summary": "GetFeedView",
        "description": "",
        "operationId": "getFeedView",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "views"
        ],
        "summary": "UpdateFeedView",
        "description": "",
        "operationId": "updateFeedView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/globalpermissions": {
      "get": {
        "tags": [
          "globalPermissions"
        ],
        "summary": "GetGlobalPermissions",
        "description": "",
        "operationId": "getGlobalPermissions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "globalPermissions"
        ],
        "summary": "SetGlobalPermissions",
        "description": "",
        "operationId": "setGlobalPermissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "allowUpstreamNameConflict": {
          "description": "If set, the feed will allow upload of packages that exist on the upstream",
          "type": "boolean"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "fullyQualifiedName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isReadOnly": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedPermission"
          }
        },
        "upstreamEnabled": {
          "description": "If set, the feed can proxy packages from an upstream feed",
          "type": "boolean"
        },
        "upstreamEnabledChangedDate": {
          "description": "If set, time that the UpstreamEnabled property was changed. Will be null if UpstreamEnabled was never changed after Feed creation.",
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "type": "string"
        },
        "view": {
          "$ref": "#/definitions/FeedView"
        }
      }
    },
    "FeedChange": {
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType"
          }
        },
        "feed": {
          "$ref": "#/definitions/Feed"
        },
        "feedContinuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "latestPackageContinuationToken": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedChangesResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "feedChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedChange"
          }
        },
        "nextFeedContinuationToken": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedPermission": {
      "type": "object",
      "properties": {
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "identityId": {
          "type": "string",
          "format": "uuid"
        },
        "role": {
          "enum": [
            "custom",
            "none",
            "reader",
            "contributor",
            "administrator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedRole"
          }
        }
      }
    },
    "FeedView": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "none",
            "release"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedViewType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GlobalPermission": {
      "type": "object",
      "properties": {
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "role": {
          "enum": [
            "custom",
            "none",
            "feedCreator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.GlobalRole"
          }
        }
      }
    },
    "IdentityDescriptor": {
      "type": "object",
      "properties": {
        "identifier": {
          "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
          "type": "string"
        },
        "identityType": {
          "description": "Type of descriptor (for example, Windows, Passport, etc.).",
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
          }
        }
      ],
      "properties": {
      }
    },
    "JsonPatchOperation": {
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "MinimalPackageVersion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCachedVersion": {
          "type": "boolean"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isLatest": {
          "type": "boolean"
        },
        "isListed": {
          "type": "boolean"
        },
        "normalizedVersion": {
          "description": "The normalized version representing the identity of a package version",
          "type": "string"
        },
        "packageDescription": {
          "type": "string"
        },
        "storageId": {
          "type": "string"
        },
        "version": {
          "description": "The display version of the package version",
          "type": "string"
        },
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedView"
          }
        }
      }
    },
    "Package": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCached": {
          "type": "boolean"
        },
        "name": {
          "description": "The display name of the package",
          "type": "string"
        },
        "normalizedName": {
          "description": "The normalized name representing the identity of this package for this protocol type",
          "type": "string"
        },
        "protocolType": {
          "type": "string"
        },
        "starCount": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        }
      }
    },
    "PackageChange": {
      "type": "object",
      "properties": {
        "package": {
          "$ref": "#/definitions/Package"
        },
        "packageVersionChange": {
          "$ref": "#/definitions/PackageVersionChange"
        }
      }
    },
    "PackageChangesResponse": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "nextPackageContinuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageChange"
          }
        }
      }
    },
    "PackageDependency": {
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "versionRange": {
          "type": "string"
        }
      }
    },
    "PackageFile": {
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "name": {
          "type": "string"
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        }
      }
    },
    "PackageStar": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "url": {
          "type": "string"
        },
        "userId": {
          "type": "string",
          "format": "uuid"
        },
        "userStar": {
          "type": "boolean"
        }
      }
    },
    "PackageVersion": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MinimalPackageVersion"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "author": {
          "type": "string"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageDependency"
          }
        },
        "description": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "otherVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        },
        "publishDate": {
          "type": "string",
          "format": "date-time"
        },
        "summary": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PackageVersionChange": {
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType"
          }
        },
        "continuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageVersion": {
          "$ref": "#/definitions/PackageVersion"
        }
      }
    },
    "ProtocolMetadata": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "schemaVersion": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging_write": "Grants the ability to create and read feeds and packages.",
        "vso.packaging": "Grants the ability to read feeds and packages.",
        "vso.packaging_manage": "Grants the ability to create, read, update, and delete feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}