{
    "swagger": "2.0",
    "info": {
        "title": "Gallery",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "accounts"
        },
        {
            "name": "accountsbyname"
        },
        {
            "name": "acquisitionoptions"
        },
        {
            "name": "acquisitionrequests"
        },
        {
            "name": "assetbyname"
        },
        {
            "name": "assets"
        },
        {
            "name": "authenticatedasset"
        },
        {
            "name": "azurepublisher"
        },
        {
            "name": "categories"
        },
        {
            "name": "certificates"
        },
        {
            "name": "extensionquery"
        },
        {
            "name": "extensions"
        },
        {
            "name": "extensionValidator"
        },
        {
            "name": "privateasset"
        },
        {
            "name": "publisherquery"
        },
        {
            "name": "publishers"
        },
        {
            "name": "reviews"
        },
        {
            "name": "securedCategories"
        },
        {
            "name": "settings"
        },
        {
            "name": "signingkey"
        },
        {
            "name": "statistics"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/gallery/acquisitionoptions/{itemId}": {
            "get": {
                "tags": [
                    "acquisitionoptions"
                ],
                "summary": "GetAcquisitionOptions",
                "description": "",
                "operationId": "getAcquisitionOptions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "itemId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "installationTarget",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "testCommerce",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "isFreeOrTrialInstall",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/acquisitionOptions"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/acquisitionrequests": {
            "post": {
                "tags": [
                    "acquisitionrequests"
                ],
                "summary": "RequestAcquisition",
                "description": "",
                "operationId": "requestAcquisition",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionAcquisitionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/extensionAcquisitionRequest"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/categories": {
            "post": {
                "tags": [
                    "securedCategories"
                ],
                "summary": "CreateCategory",
                "description": "",
                "operationId": "createCategory",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/extensionCategory"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/extensions": {
            "post": {
                "tags": [
                    "extensions"
                ],
                "summary": "CreateExtension",
                "description": "",
                "operationId": "createExtension",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionPackage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/extensions/{extensionId}": {
            "delete": {
                "tags": [
                    "extensions"
                ],
                "summary": "DeleteExtensionById",
                "description": "",
                "operationId": "deleteExtensionById",
                "parameters": [
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "extensions"
                ],
                "summary": "GetExtensionById",
                "description": "",
                "operationId": "getExtensionById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "flags",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "extensionQueryFlags"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "extensions"
                ],
                "summary": "UpdateExtensionById",
                "description": "",
                "operationId": "updateExtensionById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionPackage"
                        }
                    },
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/extensions/{extensionId}/accounts/{accountName}": {
            "post": {
                "tags": [
                    "accounts"
                ],
                "summary": "ShareExtensionById",
                "description": "",
                "operationId": "shareExtensionById",
                "parameters": [
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "accountName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "accounts"
                ],
                "summary": "UnshareExtensionById",
                "description": "",
                "operationId": "unshareExtensionById",
                "parameters": [
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "accountName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/gallery/extensionvalidator": {
            "post": {
                "tags": [
                    "extensionValidator"
                ],
                "summary": "ExtensionValidator",
                "description": "",
                "operationId": "extensionValidator",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/azureRestApiRequestModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/gallery/publisher/{publisherName}/extension/{extensionName}/{version}/assets/{assetType}": {
            "get": {
                "tags": [
                    "authenticatedasset"
                ],
                "summary": "GetAssetAuthenticated",
                "description": "",
                "operationId": "getAssetAuthenticated",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "assetType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publisher/{publisherName}/extension/{extensionName}/accountsbyname/{accountName}": {
            "post": {
                "tags": [
                    "accountsbyname"
                ],
                "summary": "ShareExtension",
                "description": "",
                "operationId": "shareExtension",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "accountName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "accountsbyname"
                ],
                "summary": "UnshareExtension",
                "description": "",
                "operationId": "unshareExtension",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "accountName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/gallery/publisher/{publisherName}/extension/{extensionName}/statistics": {
            "patch": {
                "tags": [
                    "statistics"
                ],
                "summary": "UpdateExtensionStatistics",
                "description": "",
                "operationId": "updateExtensionStatistics",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionStatisticUpdate"
                        }
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/gallery/publishers": {
            "post": {
                "tags": [
                    "publishers"
                ],
                "summary": "CreatePublisher",
                "description": "",
                "operationId": "createPublisher",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/publisher"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publisher"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{publisherName}": {
            "delete": {
                "tags": [
                    "publishers"
                ],
                "summary": "DeletePublisher",
                "description": "",
                "operationId": "deletePublisher",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "publishers"
                ],
                "summary": "GetPublisher",
                "description": "",
                "operationId": "getPublisher",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "flags",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publisher"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "publishers"
                ],
                "summary": "UpdatePublisher",
                "description": "",
                "operationId": "updatePublisher",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/publisher"
                        }
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publisher"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{publisherName}/azurepublisher": {
            "put": {
                "tags": [
                    "azurepublisher"
                ],
                "summary": "AssociateAzurePublisher",
                "description": "",
                "operationId": "associateAzurePublisher",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "azurePublisherId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/azurePublisher"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "azurepublisher"
                ],
                "summary": "QueryAssociatedAzurePublisher",
                "description": "",
                "operationId": "queryAssociatedAzurePublisher",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/azurePublisher"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{publisherName}/extensions": {
            "post": {
                "tags": [
                    "extensions"
                ],
                "summary": "CreateExtensionWithPublisher",
                "description": "",
                "operationId": "createExtensionWithPublisher",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionPackage"
                        }
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{publisherName}/extensions/{extensionName}": {
            "delete": {
                "tags": [
                    "extensions"
                ],
                "summary": "DeleteExtension",
                "description": "",
                "operationId": "deleteExtension",
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "extensions"
                ],
                "summary": "GetExtension",
                "description": "",
                "operationId": "getExtension",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "flags",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "extensionQueryFlags"
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "extensions"
                ],
                "summary": "UpdateExtension",
                "description": "",
                "operationId": "updateExtension",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionPackage"
                        }
                    },
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "extensions"
                ],
                "summary": "UpdateExtensionProperties",
                "description": "",
                "operationId": "updateExtensionProperties",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "flags",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "publishedExtensionFlags"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publishedExtension"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{publisherName}/extensions/{extensionName}/certificates/{version}": {
            "get": {
                "tags": [
                    "certificates"
                ],
                "summary": "GetCertificate",
                "description": "",
                "operationId": "getCertificate",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{pubName}/extensions/{extName}/reviews": {
            "post": {
                "tags": [
                    "reviews"
                ],
                "summary": "CreateReview",
                "description": "Creates a new review for an extension",
                "operationId": "createReview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Review to be created for the extension",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    },
                    {
                        "in": "path",
                        "name": "pubName",
                        "description": "Name of the publisher who published the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extName",
                        "description": "Name of the extension",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/review"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/publishers/{pubName}/extensions/{extName}/reviews/{reviewId}": {
            "delete": {
                "tags": [
                    "reviews"
                ],
                "summary": "DeleteReview",
                "description": "Deletes a review",
                "operationId": "deleteReview",
                "parameters": [
                    {
                        "in": "path",
                        "name": "pubName",
                        "description": "Name of the pubilsher who published the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extName",
                        "description": "Name of the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "Id of the review which needs to be updated",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "patch": {
                "tags": [
                    "reviews"
                ],
                "summary": "UpdateReview",
                "description": "Updates or Flags a review",
                "operationId": "updateReview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "ReviewPatch object which contains the changes to be applied to the review",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/reviewPatch"
                        }
                    },
                    {
                        "in": "path",
                        "name": "pubName",
                        "description": "Name of the pubilsher who published the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extName",
                        "description": "Name of the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "reviewId",
                        "description": "Id of the review which needs to be updated",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewPatch"
                        }
                    }
                }
            }
        },
        "/_apis/gallery/settings/{userScope}": {
            "get": {
                "tags": [
                    "settings"
                ],
                "summary": "GetGalleryUserSettings",
                "description": "Get all setting entries for the given user/all-users scope",
                "operationId": "getGalleryUserSettings",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userScope",
                        "description": "User-Scope at which to get the value. Should be \"me\" for the current user or \"host\" for all users.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "settings"
                ],
                "summary": "SetGalleryUserSettings",
                "description": "Set all setting entries for the given user/all-users scope",
                "operationId": "setGalleryUserSettings",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "A key-value pair of all settings that need to be set",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "userScope",
                        "description": "User-Scope at which to get the value. Should be \"me\" for the current user or \"host\" for all users.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/gallery/settings/{userScope}/{key}": {
            "get": {
                "tags": [
                    "settings"
                ],
                "summary": "GetGalleryUserSettings",
                "description": "Get all setting entries for the given user/all-users scope",
                "operationId": "getGalleryUserSettings",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userScope",
                        "description": "User-Scope at which to get the value. Should be \"me\" for the current user or \"host\" for all users.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "key",
                        "description": "Optional key under which to filter all the entries",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/gallery/signingkey/{keyType}": {
            "post": {
                "tags": [
                    "signingkey"
                ],
                "summary": "GenerateKey",
                "description": "",
                "operationId": "generateKey",
                "parameters": [
                    {
                        "in": "path",
                        "name": "keyType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expireCurrentSeconds",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "signingkey"
                ],
                "summary": "GetSigningKey",
                "description": "",
                "operationId": "getSigningKey",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "keyType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/categories": {
            "get": {
                "tags": [
                    "categories"
                ],
                "summary": "GetCategories",
                "description": "",
                "operationId": "getCategories",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "languages",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/categories/{categoryName}": {
            "get": {
                "tags": [
                    "categories"
                ],
                "summary": "GetCategoryDetails",
                "description": "",
                "operationId": "getCategoryDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "languages",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "product",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/categoriesResult"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/extensionquery": {
            "post": {
                "tags": [
                    "extensionquery"
                ],
                "summary": "QueryExtensions",
                "description": "",
                "operationId": "queryExtensions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/extensionQuery"
                        }
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/extensionQueryResult"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/extensions/{extensionId}/{version}/assets/{assetType}": {
            "get": {
                "tags": [
                    "assets"
                ],
                "summary": "GetAsset",
                "description": "",
                "operationId": "getAsset",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "extensionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "assetType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "acceptDefault",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/publisher/{publisherName}/extension/{extensionName}/{version}/assetbyname/{assetType}": {
            "get": {
                "tags": [
                    "assetbyname"
                ],
                "summary": "GetAssetByName",
                "description": "",
                "operationId": "getAssetByName",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "assetType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "acceptDefault",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/publisher/{publisherName}/extension/{extensionName}/{version}/privateasset/{assetToken}/{assetType}": {
            "get": {
                "tags": [
                    "privateasset"
                ],
                "summary": "GetAssetWithToken",
                "description": "",
                "operationId": "getAssetWithToken",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "assetType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "assetToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "accountToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "acceptDefault",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/publisherquery": {
            "post": {
                "tags": [
                    "publisherquery"
                ],
                "summary": "QueryPublishers",
                "description": "",
                "operationId": "queryPublishers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/publisherQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/publisherQueryResult"
                        }
                    }
                }
            }
        },
        "/_apis/public/gallery/publishers/{publisherName}/extensions/{extensionName}/reviews": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "summary": "GetReviews",
                "description": "Returns a list of reviews associated with an extension",
                "operationId": "getReviews",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "publisherName",
                        "description": "Name of the publisher who published the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "extensionName",
                        "description": "Name of the extension",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "Number of reviews to retrieve (defaults to 5)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "filterOptions",
                        "description": "FilterOptions to filter out empty reviews etcetera, defaults to none",
                        "required": false,
                        "type": "string",
                        "format": "reviewFilterOptions"
                    },
                    {
                        "in": "query",
                        "name": "beforeDate",
                        "description": "Use if you want to fetch reviews older than the specified date, defaults to null",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "afterDate",
                        "description": "Use if you want to fetch reviews newer than the specified date, defaults to null",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/reviewsResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "acquisitionOperation": {
            "type": "object",
            "properties": {
                "operationState": {
                    "description": "State of the the AcquisitionOperation for the current user",
                    "enum": [
                        "disallow",
                        "allow",
                        "completed"
                    ]
                },
                "operationType": {
                    "description": "AcquisitionOperationType: install, request, buy, etc...",
                    "enum": [
                        "get",
                        "install",
                        "buy",
                        "try",
                        "request",
                        "none"
                    ]
                },
                "reason": {
                    "description": "Optional reason to justify current state. Typically used with Disallow state.",
                    "type": "string"
                }
            }
        },
        "acquisitionOptions": {
            "type": "object",
            "properties": {
                "defaultOperation": {
                    "description": "Default Operation for the ItemId in this target",
                    "$ref": "#/definitions/acquisitionOperation"
                },
                "itemId": {
                    "description": "The item id that this options refer to",
                    "type": "string"
                },
                "operations": {
                    "description": "Operations allowed for the ItemId in this target",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/acquisitionOperation"
                    }
                },
                "target": {
                    "description": "The target that this options refer to",
                    "type": "string"
                }
            }
        },
        "answers": {
            "type": "object",
            "properties": {
                "vSMarketplaceExtensionName": {
                    "description": "Gets or sets the vs marketplace extension name",
                    "type": "string"
                },
                "vSMarketplacePublisherName": {
                    "description": "Gets or sets the vs marketplace publsiher name",
                    "type": "string"
                }
            }
        },
        "assetDetails": {
            "type": "object",
            "properties": {
                "answers": {
                    "description": "Gets or sets the Answers, which contains vs marketplace extension name and publisher name",
                    "$ref": "#/definitions/answers"
                },
                "publisherNaturalIdentifier": {
                    "description": "Gets or sets the VS publisher Id",
                    "type": "string"
                }
            }
        },
        "azurePublisher": {
            "type": "object",
            "properties": {
                "azurePublisherId": {
                    "type": "string"
                },
                "publisherName": {
                    "type": "string"
                }
            }
        },
        "azureRestApiRequestModel": {
            "type": "object",
            "properties": {
                "assetDetails": {
                    "description": "Gets or sets the Asset details",
                    "$ref": "#/definitions/assetDetails"
                },
                "assetId": {
                    "description": "Gets or sets the asset id",
                    "type": "string"
                },
                "assetVersion": {
                    "description": "Gets or sets the asset version",
                    "type": "integer",
                    "format": "int64"
                },
                "customerSupportEmail": {
                    "description": "Gets or sets the customer support email",
                    "type": "string"
                },
                "integrationContactEmail": {
                    "description": "Gets or sets the integration contact email",
                    "type": "string"
                },
                "operation": {
                    "description": "Gets or sets the asset version",
                    "type": "string"
                },
                "planId": {
                    "description": "Gets or sets the plan identifier if any.",
                    "type": "string"
                },
                "publisherId": {
                    "description": "Gets or sets the publisher id",
                    "type": "string"
                },
                "type": {
                    "description": "Gets or sets the resource type",
                    "type": "string"
                }
            }
        },
        "azureRestApiResponseModel": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/azureRestApiRequestModel"
                }
            ],
            "properties": {
                "operationStatus": {
                    "description": "Gets or sets the Asset operation status",
                    "$ref": "#/definitions/restApiResponseStatusModel"
                }
            }
        },
        "categoriesResult": {
            "type": "object",
            "properties": {
                "categories": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionCategory"
                    }
                }
            }
        },
        "categoryLanguageTitle": {
            "type": "object",
            "properties": {
                "lang": {
                    "description": "The language for which the title is applicable",
                    "type": "string"
                },
                "lcid": {
                    "description": "The language culture id of the lang parameter",
                    "type": "integer",
                    "format": "int32"
                },
                "title": {
                    "description": "Actual title to be shown on the UI",
                    "type": "string"
                }
            }
        },
        "extensionAcquisitionRequest": {
            "type": "object",
            "properties": {
                "assignmentType": {
                    "description": "How the item is being assigned",
                    "enum": [
                        "none",
                        "me",
                        "all"
                    ]
                },
                "billingId": {
                    "description": "The id of the subscription used for purchase",
                    "type": "string"
                },
                "itemId": {
                    "description": "The marketplace id (publisherName.extensionName) for the item",
                    "type": "string"
                },
                "operationType": {
                    "description": "The type of operation, such as install, request, purchase",
                    "enum": [
                        "get",
                        "install",
                        "buy",
                        "try",
                        "request",
                        "none"
                    ]
                },
                "properties": {
                    "description": "Additional properties which can be added to the request.",
                    "$ref": "#/definitions/jObject"
                },
                "quantity": {
                    "description": "How many licenses should be purchased",
                    "type": "integer",
                    "format": "int32"
                },
                "targets": {
                    "description": "A list of target guids where the item should be acquired (installed, requested, etc.), such as account id",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "extensionBadge": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "imgUri": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                }
            }
        },
        "extensionCategory": {
            "type": "object",
            "properties": {
                "associatedProducts": {
                    "description": "The name of the products with which this category is associated to.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "categoryId": {
                    "type": "integer",
                    "format": "int32"
                },
                "categoryName": {
                    "description": "This is the internal name for a category",
                    "type": "string"
                },
                "language": {
                    "description": "This parameter is obsolete. Refer to LanguageTitles for langauge specific titles",
                    "type": "string"
                },
                "languageTitles": {
                    "description": "The list of all the titles of this category in various languages",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/categoryLanguageTitle"
                    }
                },
                "parentCategoryName": {
                    "description": "This is the internal name of the parent if this is associated with a parent",
                    "type": "string"
                }
            }
        },
        "extensionFile": {
            "type": "object",
            "properties": {
                "assetType": {
                    "type": "string"
                },
                "contentType": {
                    "type": "string"
                },
                "fileId": {
                    "type": "integer",
                    "format": "int32"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "isPublic": {
                    "type": "boolean"
                },
                "language": {
                    "type": "string"
                },
                "shortDescription": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "extensionFilterResult": {
            "type": "object",
            "properties": {
                "extensions": {
                    "description": "This is the set of appplications that matched the query filter supplied.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/publishedExtension"
                    }
                },
                "pagingToken": {
                    "description": "The PagingToken is returned from a request when more records exist that match the result than were requested or could be returned. A follow-up query with this paging token can be used to retrieve more results.",
                    "type": "string"
                },
                "resultMetadata": {
                    "description": "This is the additional optional metadata for the given result. E.g. Total count of results which is useful in case of paged results",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionFilterResultMetadata"
                    }
                }
            }
        },
        "extensionFilterResultMetadata": {
            "type": "object",
            "properties": {
                "metadataItems": {
                    "description": "The metadata items for the category",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/metadataItem"
                    }
                },
                "metadataType": {
                    "description": "Defines the category of metadata items",
                    "type": "string"
                }
            }
        },
        "extensionIdentifier": {
            "type": "object",
            "properties": {
                "extensionName": {
                    "description": "The ExtensionName component part of the fully qualified ExtensionIdentifier",
                    "type": "string"
                },
                "publisherName": {
                    "description": "The PublisherName component part of the fully qualified ExtensionIdentifier",
                    "type": "string"
                }
            }
        },
        "extensionPackage": {
            "type": "object",
            "properties": {
                "extensionManifest": {
                    "description": "Base 64 encoded extension package",
                    "type": "string"
                }
            }
        },
        "extensionPolicy": {
            "type": "object",
            "properties": {
                "install": {
                    "description": "Permissions on 'Install' operation",
                    "enum": [
                        "none",
                        "private",
                        "public",
                        "preview",
                        "released",
                        "firstParty",
                        "all"
                    ]
                },
                "request": {
                    "description": "Permission on 'Request' operation",
                    "enum": [
                        "none",
                        "private",
                        "public",
                        "preview",
                        "released",
                        "firstParty",
                        "all"
                    ]
                }
            }
        },
        "extensionQuery": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "description": "When retrieving extensions with a query; frequently the caller only needs a small subset of the assets. The caller may specify a list of asset types that should be returned if the extension contains it. All other assets will not be returned.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "filters": {
                    "description": "Each filter is a unique query and will have matching set of extensions returned from the request. Each result will have the same index in the resulting array that the filter had in the incoming query.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/queryFilter"
                    }
                },
                "flags": {
                    "description": "The Flags are used to deterine which set of information the caller would like returned for the matched extensions.",
                    "enum": [
                        "none",
                        "includeVersions",
                        "includeFiles",
                        "includeCategoryAndTags",
                        "includeSharedAccounts",
                        "includeVersionProperties",
                        "excludeNonValidated",
                        "includeInstallationTargets",
                        "includeAssetUri",
                        "includeStatistics",
                        "includeLatestVersionOnly",
                        "useFallbackAssetUri",
                        "includeMetadata",
                        "allAttributes"
                    ]
                }
            }
        },
        "extensionQueryResult": {
            "type": "object",
            "properties": {
                "results": {
                    "description": "For each filter supplied in the query, a filter result will be returned in the query result.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionFilterResult"
                    }
                }
            }
        },
        "extensionShare": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "extensionStatistic": {
            "type": "object",
            "properties": {
                "statisticName": {
                    "type": "string"
                },
                "value": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "extensionStatisticUpdate": {
            "type": "object",
            "properties": {
                "extensionName": {
                    "type": "string"
                },
                "operation": {
                    "enum": [
                        "none",
                        "set",
                        "increment",
                        "decrement",
                        "delete"
                    ]
                },
                "publisherName": {
                    "type": "string"
                },
                "statistic": {
                    "$ref": "#/definitions/extensionStatistic"
                }
            }
        },
        "extensionVersion": {
            "type": "object",
            "properties": {
                "assetUri": {
                    "type": "string"
                },
                "badges": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionBadge"
                    }
                },
                "fallbackAssetUri": {
                    "type": "string"
                },
                "files": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionFile"
                    }
                },
                "flags": {
                    "enum": [
                        "none",
                        "validated"
                    ]
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                },
                "validationResultMessage": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                },
                "versionDescription": {
                    "type": "string"
                }
            }
        },
        "filterCriteria": {
            "type": "object",
            "properties": {
                "filterType": {
                    "type": "integer",
                    "format": "int32"
                },
                "value": {
                    "description": "The value used in the match based on the filter type.",
                    "type": "string"
                }
            }
        },
        "installationTarget": {
            "type": "object",
            "properties": {
                "target": {
                    "type": "string"
                }
            }
        },
        "jObject": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "jContainer"
                }
            ],
            "properties": {
                "item": {
                    "$ref": "#/definitions/jToken"
                },
                "type": {
                    "type": "string",
                    "format": "jTokenType"
                }
            }
        },
        "jToken": {
            "type": "object",
            "properties": {
                "first": {
                    "$ref": "#/definitions/jToken"
                },
                "hasValues": {
                    "type": "boolean"
                },
                "item": {
                    "$ref": "#/definitions/jToken"
                },
                "last": {
                    "$ref": "#/definitions/jToken"
                },
                "next": {
                    "$ref": "#/definitions/jToken"
                },
                "parent": {
                    "type": "string",
                    "format": "jContainer"
                },
                "path": {
                    "type": "string"
                },
                "previous": {
                    "$ref": "#/definitions/jToken"
                },
                "root": {
                    "$ref": "#/definitions/jToken"
                },
                "type": {
                    "type": "string",
                    "format": "jTokenType"
                }
            }
        },
        "metadataItem": {
            "type": "object",
            "properties": {
                "count": {
                    "description": "The count of the metadata item",
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "description": "The name of the metadata item",
                    "type": "string"
                }
            }
        },
        "publishedExtension": {
            "type": "object",
            "properties": {
                "categories": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "deploymentType": {
                    "enum": [
                        "exe",
                        "msi",
                        "vsix",
                        "referralLink"
                    ]
                },
                "displayName": {
                    "type": "string"
                },
                "extensionId": {
                    "type": "string",
                    "format": "uuid"
                },
                "extensionName": {
                    "type": "string"
                },
                "flags": {
                    "enum": [
                        "none",
                        "disabled",
                        "builtIn",
                        "validated",
                        "trusted",
                        "paid",
                        "public",
                        "multiVersion",
                        "system",
                        "preview",
                        "unpublished",
                        "trial"
                    ]
                },
                "installationTargets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/installationTarget"
                    }
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "longDescription": {
                    "type": "string"
                },
                "publishedDate": {
                    "description": "Date on which the extension was first uploaded.",
                    "type": "string",
                    "format": "date-time"
                },
                "publisher": {
                    "$ref": "#/definitions/publisherFacts"
                },
                "releaseDate": {
                    "description": "Date on which the extension first went public.",
                    "type": "string",
                    "format": "date-time"
                },
                "sharedWith": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionShare"
                    }
                },
                "shortDescription": {
                    "type": "string"
                },
                "statistics": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionStatistic"
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "versions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/extensionVersion"
                    }
                }
            }
        },
        "publisher": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "emailAddress": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "extensions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/publishedExtension"
                    }
                },
                "flags": {
                    "enum": [
                        "unChanged",
                        "none",
                        "disabled",
                        "verified",
                        "serviceFlags"
                    ]
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "longDescription": {
                    "type": "string"
                },
                "publisherId": {
                    "type": "string",
                    "format": "uuid"
                },
                "publisherName": {
                    "type": "string"
                },
                "shortDescription": {
                    "type": "string"
                }
            }
        },
        "publisherFacts": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "flags": {
                    "enum": [
                        "unChanged",
                        "none",
                        "disabled",
                        "verified",
                        "serviceFlags"
                    ]
                },
                "publisherId": {
                    "type": "string",
                    "format": "uuid"
                },
                "publisherName": {
                    "type": "string"
                }
            }
        },
        "publisherFilterResult": {
            "type": "object",
            "properties": {
                "publishers": {
                    "description": "This is the set of appplications that matched the query filter supplied.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/publisher"
                    }
                }
            }
        },
        "publisherQuery": {
            "type": "object",
            "properties": {
                "filters": {
                    "description": "Each filter is a unique query and will have matching set of publishers returned from the request. Each result will have the same index in the resulting array that the filter had in the incoming query.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/queryFilter"
                    }
                },
                "flags": {
                    "description": "The Flags are used to deterine which set of information the caller would like returned for the matched publishers.",
                    "enum": [
                        "none",
                        "includeExtensions",
                        "includeEmailAddress"
                    ]
                }
            }
        },
        "publisherQueryResult": {
            "type": "object",
            "properties": {
                "results": {
                    "description": "For each filter supplied in the query, a filter result will be returned in the query result.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/publisherFilterResult"
                    }
                }
            }
        },
        "queryFilter": {
            "type": "object",
            "properties": {
                "criteria": {
                    "description": "The filter values define the set of values in this query. They are applied based on the QueryFilterType.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/filterCriteria"
                    }
                },
                "direction": {
                    "description": "The PagingDirection is applied to a paging token if one exists. If not the direction is ignored, and Forward from the start of the resultset is used. Direction should be left out of the request unless a paging token is used to help prevent future issues.",
                    "enum": [
                        "backward",
                        "forward"
                    ]
                },
                "pageNumber": {
                    "description": "The page number requested by the user. If not provided 1 is assumed by default.",
                    "type": "integer",
                    "format": "int32"
                },
                "pageSize": {
                    "description": "The page size defines the number of results the caller wants for this filter. The count can't exceed the overall query size limits.",
                    "type": "integer",
                    "format": "int32"
                },
                "pagingToken": {
                    "description": "The paging token is a distinct type of filter and the other filter fields are ignored. The paging token represents the continuation of a previously executed query. The information about where in the result and what fields are being filtered are embeded in the token.",
                    "type": "string"
                },
                "sortBy": {
                    "description": "Defines the type of sorting to be applied on the results. The page slice is cut of the sorted results only.",
                    "type": "integer",
                    "format": "int32"
                },
                "sortOrder": {
                    "description": "Defines the order of sorting, 1 for Ascending, 2 for Descending, else default ordering based on the SortBy value",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "restApiResponseStatusModel": {
            "type": "object",
            "properties": {
                "operationDetails": {
                    "description": "Gets or sets the operation details",
                    "$ref": "#/definitions/jToken"
                },
                "operationId": {
                    "description": "Gets or sets the operation id",
                    "type": "string"
                },
                "percentageCompleted": {
                    "description": "Gets or sets the completed status percentage",
                    "type": "integer",
                    "format": "int32"
                },
                "status": {
                    "description": "Gets or sets the status",
                    "enum": [
                        "completed",
                        "failed",
                        "inprogress",
                        "skipped"
                    ]
                },
                "statusMessage": {
                    "description": "Gets or sets the status message",
                    "type": "string"
                }
            }
        },
        "review": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique identifier of a review item",
                    "type": "integer",
                    "format": "int64"
                },
                "isDeleted": {
                    "description": "Flag for soft deletion",
                    "type": "boolean"
                },
                "productVersion": {
                    "description": "Version of the product for which review was submitted",
                    "type": "string"
                },
                "rating": {
                    "description": "Rating procided by the user",
                    "type": "string",
                    "format": "byte"
                },
                "reply": {
                    "description": "Reply, if any, for this review",
                    "$ref": "#/definitions/reviewReply"
                },
                "text": {
                    "description": "Text description of the review",
                    "type": "string"
                },
                "title": {
                    "description": "Title of the review",
                    "type": "string"
                },
                "updatedDate": {
                    "description": "Time when the review was edited/updated",
                    "type": "string",
                    "format": "date-time"
                },
                "userDisplayName": {
                    "description": "Name of the user",
                    "type": "string"
                },
                "userId": {
                    "description": "Id of the user who submitted the review",
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "reviewPatch": {
            "type": "object",
            "properties": {
                "operation": {
                    "description": "Denotes the patch operation type",
                    "enum": [
                        "flagReview",
                        "updateReview",
                        "replyToReview"
                    ]
                },
                "reportedConcern": {
                    "description": "Use when patch operation is FlagReview",
                    "$ref": "#/definitions/userReportedConcern"
                },
                "reviewItem": {
                    "description": "Use when patch operation is EditReview",
                    "$ref": "#/definitions/review"
                }
            }
        },
        "reviewReply": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Id of the reply",
                    "type": "integer",
                    "format": "int64"
                },
                "isDeleted": {
                    "description": "Flag for soft deletion",
                    "type": "boolean"
                },
                "productVersion": {
[...]
