{
  "swagger": "2.0",
  "info": {
    "title": "Git",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "blobs"
    },
    {
      "name": "branchStats"
    },
    {
      "name": "changes"
    },
    {
      "name": "cherryPicks"
    },
    {
      "name": "commitDiffs"
    },
    {
      "name": "commits"
    },
    {
      "name": "commitsBatch"
    },
    {
      "name": "deletedRepositories"
    },
    {
      "name": "importRequests"
    },
    {
      "name": "items"
    },
    {
      "name": "itemsBatch"
    },
    {
      "name": "pullRequestAttachments"
    },
    {
      "name": "pullRequestCommits"
    },
    {
      "name": "pullRequestConflicts"
    },
    {
      "name": "pullRequestIterationChanges"
    },
    {
      "name": "pullRequestIterations"
    },
    {
      "name": "pullRequestQuery"
    },
    {
      "name": "pullRequestReviewers"
    },
    {
      "name": "pullRequests"
    },
    {
      "name": "pullRequestShare"
    },
    {
      "name": "pullRequestStatuses"
    },
    {
      "name": "pullRequestThreadComments"
    },
    {
      "name": "pullRequestThreads"
    },
    {
      "name": "pullRequestWorkItems"
    },
    {
      "name": "pushes"
    },
    {
      "name": "refLockRequest"
    },
    {
      "name": "refs"
    },
    {
      "name": "refsFavorites"
    },
    {
      "name": "repositories"
    },
    {
      "name": "reverts"
    },
    {
      "name": "statuses"
    },
    {
      "name": "suggestions"
    },
    {
      "name": "treeDiffs"
    },
    {
      "name": "trees"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/git/pullrequests/{pullRequestId}": {
      "get": {
        "tags": [
          "pullRequests"
        ],
        "summary": "GetPullRequestById",
        "description": "Get a pull request using its ID",
        "operationId": "getPullRequestById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "the Id of the pull request",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          }
        }
      }
    },
    "/_apis/git/repositories": {
      "post": {
        "tags": [
          "repositories"
        ],
        "summary": "CreateRepository",
        "description": "Create a git repository",
        "operationId": "createRepository",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          }
        }
      },
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "GetRepositories",
        "description": "Retrieve git repositories.",
        "operationId": "getRepositories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeLinks",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAllUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitRepository"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}": {
      "delete": {
        "tags": [
          "repositories"
        ],
        "summary": "DeleteRepository",
        "description": "Delete a git repository",
        "operationId": "deleteRepository",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "GetRepository",
        "description": "",
        "operationId": "getRepository",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "repositories"
        ],
        "summary": "UpdateRepository",
        "description": "Updates the Git repository with the single populated change in the specified repository information.",
        "operationId": "updateRepository",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/blobs": {
      "post": {
        "tags": [
          "blobs"
        ],
        "summary": "GetBlobsZip",
        "description": "Gets one or more blobs in a zip file download.",
        "operationId": "getBlobsZip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filename",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "stream"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/blobs/{sha1}": {
      "get": {
        "tags": [
          "blobs"
        ],
        "summary": "GetBlob",
        "description": "Gets a single blob.",
        "operationId": "getBlob",
        "produces": [
          "application/octet-stream",
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sha1",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitBlobRef"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits": {
      "get": {
        "tags": [
          "commits"
        ],
        "summary": "GetCommits",
        "description": "Retrieve git commits for a project",
        "operationId": "getCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": true,
            "type": "string",
            "format": "gitQueryCommitsCriteria"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitCommitRef"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}": {
      "get": {
        "tags": [
          "commits"
        ],
        "summary": "GetCommit",
        "description": "Retrieve a particular commit.",
        "operationId": "getCommit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "The id of the commit.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "changeCount",
            "description": "The number of changes to include in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitCommit"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}/changes": {
      "get": {
        "tags": [
          "changes"
        ],
        "summary": "GetChanges",
        "description": "Retrieve changes for a particular commit.",
        "operationId": "getChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "The id of the commit.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of changes to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "The number of changes to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitCommitChanges"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/commits/{commitId}/statuses": {
      "post": {
        "tags": [
          "statuses"
        ],
        "summary": "CreateCommitStatus",
        "description": "",
        "operationId": "createCommitStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitStatus"
            }
          },
          {
            "in": "path",
            "name": "commitId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitStatus"
            }
          }
        }
      },
      "get": {
        "tags": [
          "statuses"
        ],
        "summary": "GetStatuses",
        "description": "",
        "operationId": "getStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "commitId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "latestOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitStatus"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/commitsbatch": {
      "post": {
        "tags": [
          "commitsBatch"
        ],
        "summary": "GetCommitsBatch",
        "description": "Retrieve git commits for a project",
        "operationId": "getCommitsBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitQueryCommitsCriteria"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeStatuses",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitCommitRef"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/diffs/commits": {
      "get": {
        "tags": [
          "commitDiffs"
        ],
        "summary": "GetCommitDiffs",
        "description": "Get differences in committed items between two commits.",
        "operationId": "getCommitDiffs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "Friendly name or guid of repository",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "diffCommonCommit",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of changes to skip",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseVersionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitBaseVersionDescriptor"
          },
          {
            "in": "query",
            "name": "targetVersionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitTargetVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitCommitDiffs"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/items": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "GetItems",
        "description": "Get Item Metadata and/or Content for a collection of items. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
        "operationId": "getItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopePath",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursionLevel",
            "description": "",
            "required": false,
            "type": "string",
            "format": "versionControlRecursionType"
          },
          {
            "in": "query",
            "name": "includeContentMetadata",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "latestProcessedChange",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLinks",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "versionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitItem"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/items/{path}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "GetItem",
        "description": "Get Item Metadata and/or Content for a single item. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
        "operationId": "getItem",
        "produces": [
          "application/octet-stream",
          "text/plain",
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopePath",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursionLevel",
            "description": "",
            "required": false,
            "type": "string",
            "format": "versionControlRecursionType"
          },
          {
            "in": "query",
            "name": "includeContentMetadata",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "latestProcessedChange",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "download",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "versionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitItem"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/itemsbatch": {
      "post": {
        "tags": [
          "itemsBatch"
        ],
        "summary": "GetItemsBatch",
        "description": "Post for retrieving a creating a batch out of a set of items in a repo / project given a list of paths or a long path",
        "operationId": "getItemsBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitItemRequestData"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "array"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequestquery": {
      "post": {
        "tags": [
          "pullRequestQuery"
        ],
        "summary": "GetPullRequestQuery",
        "description": "Query for pull requests",
        "operationId": "getPullRequestQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequestQuery"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestQuery"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequests": {
      "post": {
        "tags": [
          "pullRequests"
        ],
        "summary": "CreatePullRequest",
        "description": "Create a git pull request",
        "operationId": "createPullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequests"
        ],
        "summary": "GetPullRequests",
        "description": "Query for pull requests",
        "operationId": "getPullRequests",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": true,
            "type": "string",
            "format": "gitPullRequestSearchCriteria"
          },
          {
            "in": "query",
            "name": "maxCommentLength",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequest"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullrequests/{pullRequestId}": {
      "get": {
        "tags": [
          "pullRequests"
        ],
        "summary": "GetPullRequest",
        "description": "Retrieve a pull request",
        "operationId": "getPullRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "maxCommentLength",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCommits",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeWorkItemRefs",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "pullRequests"
        ],
        "summary": "UpdatePullRequest",
        "description": "Updates a pull request",
        "operationId": "updatePullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequest"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/attachments": {
      "get": {
        "tags": [
          "pullRequestAttachments"
        ],
        "summary": "GetAttachments",
        "description": "",
        "operationId": "getAttachments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/attachment"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/attachments/{fileName}": {
      "post": {
        "tags": [
          "pullRequestAttachments"
        ],
        "summary": "CreateAttachment",
        "description": "Create a new attachment",
        "operationId": "createAttachment",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "stream"
            }
          },
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "pullRequestAttachments"
        ],
        "summary": "DeleteAttachment",
        "description": "",
        "operationId": "deleteAttachment",
        "parameters": [
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestAttachments"
        ],
        "summary": "GetAttachmentContent",
        "description": "",
        "operationId": "getAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "stream"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/commits": {
      "get": {
        "tags": [
          "pullRequestCommits"
        ],
        "summary": "GetPullRequestCommits",
        "description": "Retrieve pull request's commits",
        "operationId": "getPullRequestCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitCommitRef"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/conflicts": {
      "get": {
        "tags": [
          "pullRequestConflicts"
        ],
        "summary": "GetPullRequestConflicts",
        "description": "Retrieve all conflicts for a pull request",
        "operationId": "getPullRequestConflicts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeObsolete",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitConflict"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/conflicts/{conflictId}": {
      "get": {
        "tags": [
          "pullRequestConflicts"
        ],
        "summary": "GetPullRequestConflict",
        "description": "Retrieve one conflict for a pull request by ID",
        "operationId": "getPullRequestConflict",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "conflictId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitConflict"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "pullRequestConflicts"
        ],
        "summary": "UpdatePullRequestConflict",
        "description": "Update merge conflict resolution",
        "operationId": "updatePullRequestConflict",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitConflict"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "conflictId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitConflict"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations": {
      "get": {
        "tags": [
          "pullRequestIterations"
        ],
        "summary": "GetPullRequestIterations",
        "description": "",
        "operationId": "getPullRequestIterations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCommits",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequestIteration"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}": {
      "get": {
        "tags": [
          "pullRequestIterations"
        ],
        "summary": "GetPullRequestIteration",
        "description": "",
        "operationId": "getPullRequestIteration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestIteration"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/changes": {
      "get": {
        "tags": [
          "pullRequestIterationChanges"
        ],
        "summary": "GetPullRequestIterationChanges",
        "description": "",
        "operationId": "getPullRequestIterationChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "compareTo",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestIterationChanges"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/commits": {
      "get": {
        "tags": [
          "pullRequestCommits"
        ],
        "summary": "GetPullRequestIterationCommits",
        "description": "Get the commits for an iteration.",
        "operationId": "getPullRequestIterationCommits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "Iteration to retrieve commits for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitCommitRef"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/statuses": {
      "post": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "CreatePullRequestIterationStatus",
        "description": "Create a pull request iteration status",
        "operationId": "createPullRequestIterationStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "GetPullRequestIterationStatuses",
        "description": "Get all the statuses associated with a pull request iteration.",
        "operationId": "getPullRequestIterationStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequestStatus"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/iterations/{iterationId}/statuses/{statusId}": {
      "get": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "GetPullRequestIterationStatus",
        "description": "Get the specific pull request iteration status.",
        "operationId": "getPullRequestIterationStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "statusId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/reviewers": {
      "post": {
        "tags": [
          "pullRequestReviewers"
        ],
        "summary": "CreatePullRequestReviewers",
        "description": "Adds reviewers to a git pull request",
        "operationId": "createPullRequestReviewers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/identityRef"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/identityRefWithVote"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestReviewers"
        ],
        "summary": "GetPullRequestReviewers",
        "description": "Retrieve a pull request reviewers",
        "operationId": "getPullRequestReviewers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/identityRefWithVote"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/reviewers/{reviewerId}": {
      "put": {
        "tags": [
          "pullRequestReviewers"
        ],
        "summary": "CreatePullRequestReviewer",
        "description": "Adds a reviewer to a git pull request",
        "operationId": "createPullRequestReviewer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/identityRefWithVote"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/identityRefWithVote"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "pullRequestReviewers"
        ],
        "summary": "DeletePullRequestReviewer",
        "description": "Adds reviewers to a git pull request",
        "operationId": "deletePullRequestReviewer",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestReviewers"
        ],
        "summary": "GetPullRequestReviewer",
        "description": "Retrieve a reviewer from a pull request",
        "operationId": "getPullRequestReviewer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "reviewerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/identityRefWithVote"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/share": {
      "post": {
        "tags": [
          "pullRequestShare"
        ],
        "summary": "SharePullRequest",
        "description": "",
        "operationId": "sharePullRequest",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shareNotificationContext"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/statuses": {
      "post": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "CreatePullRequestStatus",
        "description": "Create a pull request status",
        "operationId": "createPullRequestStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "GetPullRequestStatuses",
        "description": "Get all the statuses associated with a pull request.",
        "operationId": "getPullRequestStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequestStatus"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/statuses/{statusId}": {
      "get": {
        "tags": [
          "pullRequestStatuses"
        ],
        "summary": "GetPullRequestStatus",
        "description": "Get the specific pull request status.",
        "operationId": "getPullRequestStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "statusId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestStatus"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads": {
      "post": {
        "tags": [
          "pullRequestThreads"
        ],
        "summary": "CreateThread",
        "description": "Create a pull request review comment thread",
        "operationId": "createThread",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequestCommentThread"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestCommentThread"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestThreads"
        ],
        "summary": "GetThreads",
        "description": "Get all pull request comment threads.",
        "operationId": "getThreads",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseIteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequestCommentThread"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}": {
      "get": {
        "tags": [
          "pullRequestThreads"
        ],
        "summary": "GetPullRequestThread",
        "description": "Get a pull request comment thread by id for a pull request",
        "operationId": "getPullRequestThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseIteration",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestCommentThread"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "pullRequestThreads"
        ],
        "summary": "UpdateThread",
        "description": "Update a pull request review comment thread",
        "operationId": "updateThread",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPullRequestCommentThread"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPullRequestCommentThread"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}/comments": {
      "post": {
        "tags": [
          "pullRequestThreadComments"
        ],
        "summary": "CreateComment",
        "description": "Create a pull request review comment",
        "operationId": "createComment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestThreadComments"
        ],
        "summary": "GetComments",
        "description": "Get all pull request comments in a thread.",
        "operationId": "getComments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/threads/{threadId}/comments/{commentId}": {
      "delete": {
        "tags": [
          "pullRequestThreadComments"
        ],
        "summary": "DeleteComment",
        "description": "Delete a pull request comment by id for a pull request",
        "operationId": "deleteComment",
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "pullRequestThreadComments"
        ],
        "summary": "GetComment",
        "description": "Get a pull request comment by id for a pull request",
        "operationId": "getComment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "pullRequestThreadComments"
        ],
        "summary": "UpdateComment",
        "description": "Update a pull request review comment thread",
        "operationId": "updateComment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/workitems": {
      "get": {
        "tags": [
          "pullRequestWorkItems"
        ],
        "summary": "GetPullRequestWorkItems",
        "description": "Retrieve a pull request work items",
        "operationId": "getPullRequestWorkItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pullRequestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/associatedWorkItem"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pushes": {
      "post": {
        "tags": [
          "pushes"
        ],
        "summary": "CreatePush",
        "description": "Push changes to the repository.",
        "operationId": "createPush",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitPush"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, a project-scoped route must be used.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPush"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pushes"
        ],
        "summary": "GetPushes",
        "description": "Retrieves pushes associated with the specified repository.",
        "operationId": "getPushes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitPushSearchCriteria"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPush"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/pushes/{pushId}": {
      "get": {
        "tags": [
          "pushes"
        ],
        "summary": "GetPush",
        "description": "Retrieve a particular push.",
        "operationId": "getPush",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pushId",
            "description": "The id of the push.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeCommits",
            "description": "The number of commits to include in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeRefUpdates",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitPush"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/refs": {
      "post": {
        "tags": [
          "refs"
        ],
        "summary": "UpdateRefs",
        "description": "Creates or updates refs with the given information",
        "operationId": "updateRefs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of ref updates to attempt to perform",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitRefUpdate"
              }
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "The id of the project.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitRefUpdateResult"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/refs/{*filter}": {
      "get": {
        "tags": [
          "refs"
        ],
        "summary": "GetRefs",
        "description": "Queries the provided repository for its refs and returns them.",
        "operationId": "getRefs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "The id or friendly name of the repository. To use the friendly name, projectId must also be specified.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "[optional] A filter to apply to the refs.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeLinks",
            "description": "[optional] Specifies if referenceLinks should be included in the result. default is false.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "latestStatusesOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitRef"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/refs/{filter}": {
      "patch": {
        "tags": [
          "refs"
        ],
        "summary": "UpdateRef",
        "description": "",
        "operationId": "updateRef",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitRefUpdate"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRef"
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/stats/branches": {
      "get": {
        "tags": [
          "branchStats"
        ],
        "summary": "GetBranch",
        "description": "Retrieve statistics about a single branch.",
        "operationId": "getBranch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "Friendly name or guid of repository",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Name of the branch",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "baseVersionDescriptor",
            "description": "",
            "required": false,
            "type": "string",
            "format": "gitVersionDescriptor"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitBranchStats"
            }
          }
        }
      },
      "post": {
        "tags": [
          "branchStats"
        ],
        "summary": "GetBranchStatsBatch",
        "description": "Retrieve statistics for multiple commits",
        "operationId": "getBranchStatsBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitQueryBranchStatsCriteria"
            }
          },
          {
            "in": "path",
            "name": "repositoryId",
            "description": "Friendly name or guid of repository",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitBranchStats"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/suggestions": {
      "get": {
        "tags": [
          "suggestions"
        ],
        "summary": "GetSuggestions",
        "description": "Retrieve a set of suggestions (including a pull request suggestion).",
        "operationId": "getSuggestions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitSuggestion"
              }
            }
          }
        }
      }
    },
    "/_apis/git/repositories/{repositoryId}/trees/{sha1}": {
      "get": {
        "tags": [
          "trees"
        ],
        "summary": "GetTree",
        "description": "",
        "operationId": "getTree",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "repositoryId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sha1",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitTreeRef"
            }
          }
        }
      }
    },
    "/{project}/_apis/git/deletedrepositories": {
      "get": {
        "tags": [
          "deletedRepositories"
        ],
        "summary": "GetDeletedRepositories",
        "description": "Retrieve deleted git repositories.",
        "operationId": "getDeletedRepositories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitDeletedRepository"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/git/favorites/refs": {
      "post": {
        "tags": [
          "refsFavorites"
        ],
        "summary": "CreateFavorite",
        "description": "Creates a ref favorite",
        "operationId": "createFavorite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitRefFavorite"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRefFavorite"
            }
          }
        }
      },
      "get": {
        "tags": [
          "refsFavorites"
        ],
        "summary": "GetRefFavorites",
        "description": "Gets the refs favorites for a repo and an identity.",
        "operationId": "getRefFavorites",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "The id of the repository.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "identityId",
            "description": "The id of the identity whose favorites are to be retrieved. If null, the requesting identity is used.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitRefFavorite"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/git/favorites/refs/{favoriteId}": {
      "delete": {
        "tags": [
          "refsFavorites"
        ],
        "summary": "DeleteRefFavorite",
        "description": "",
        "operationId": "deleteRefFavorite",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "favoriteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "refsFavorites"
        ],
        "summary": "GetRefFavorite",
        "description": "",
        "operationId": "getRefFavorite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "favoriteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRefFavorite"
            }
          }
        }
      }
    },
    "/{project}/_apis/git/pullrequests": {
      "get": {
        "tags": [
          "pullRequests"
        ],
        "summary": "GetPullRequestsByProject",
        "description": "Query pull requests by project",
        "operationId": "getPullRequestsByProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchCriteria",
            "description": "",
            "required": true,
            "type": "string",
            "format": "gitPullRequestSearchCriteria"
          },
          {
            "in": "query",
            "name": "maxCommentLength",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gitPullRequest"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/git/repositories": {
      "post": {
        "tags": [
          "repositories"
        ],
        "summary": "CreateRepository",
        "description": "Create a git repository",
        "operationId": "createRepository",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/gitRepository"
            }
          }
        }
      },
      "get": {
        "tags": [
          "repositories"
        ],
        "summary": "GetRepositories",
        "description": "Retrieve git repositories.",
        "operationId": "getRepositories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeLinks",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAllUrls",
            "description": "",
            "required": false,
[...]
