{
  "swagger": "2.0",
  "info": {
    "title": "Governance",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "policies"
    },
    {
      "name": "policyReferences"
    },
    {
      "name": "products"
    },
    {
      "name": "registrationRequests"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/governance/policies": {
      "post": {
        "tags": [
          "policies"
        ],
        "summary": "CreatePolicy",
        "description": "",
        "operationId": "createPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "policies"
        ],
        "summary": "GetPolicies",
        "description": "",
        "operationId": "getPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/policies/{policyId}": {
      "delete": {
        "tags": [
          "policies"
        ],
        "summary": "DeletePolicy",
        "description": "",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "policies"
        ],
        "summary": "GetPolicy",
        "description": "",
        "operationId": "getPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "policies"
        ],
        "summary": "UpdatePolicy",
        "description": "",
        "operationId": "updatePolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        }
      }
    },
    "/_apis/governance/products": {
      "post": {
        "tags": [
          "products"
        ],
        "summary": "CreateProduct",
        "description": "",
        "operationId": "createProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProducts",
        "description": "",
        "operationId": "getProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/products/{productId}": {
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "DeleteProduct",
        "description": "",
        "operationId": "deleteProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProduct",
        "description": "",
        "operationId": "getProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "products"
        ],
        "summary": "UpdateProduct",
        "description": "",
        "operationId": "updateProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/policyreferences/{policyId}": {
      "post": {
        "tags": [
          "policyReferences"
        ],
        "summary": "AddPolicyToProduct",
        "description": "",
        "operationId": "addPolicyToProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "policyReferences"
        ],
        "summary": "RemovePolicyFromProduct",
        "description": "",
        "operationId": "removePolicyFromProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrationrequests": {
      "post": {
        "tags": [
          "registrationRequests"
        ],
        "summary": "CreateRegistrationRequests",
        "description": "",
        "operationId": "createRegistrationRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegistrationRequest"
              }
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registration"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ComponentVersionReference": {
      "type": "object",
      "properties": {
        "comparisonName": {
          "type": "string"
        },
        "comparisonVersion": {
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "format": "uuid"
        },
        "displayName": {
          "type": "string"
        },
        "displayVersion": {
          "type": "string"
        },
        "type": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "versionId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "configuration": {
          "$ref": "#/definitions/PolicyConfiguration"
        },
        "evaluatorId": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PolicyConfiguration": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "schemaVersion": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PolicyEvaluationStatus": {
      "type": "object",
      "properties": {
        "errorRetryable": {
          "type": "boolean"
        },
        "evaluationState": {
          "enum": [
            "error",
            "initialized",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "intervention"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.EvaluationState"
          }
        },
        "evaluationStateReason": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "policyId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Registration": {
      "type": "object",
      "properties": {
        "componentVersionReference": {
          "$ref": "#/definitions/ComponentVersionReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "evaluationStatuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyEvaluationStatus"
          }
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productId": {
          "type": "string",
          "format": "uuid"
        },
        "registrationState": {
          "enum": [
            "error",
            "initialized",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "intervention"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.EvaluationState"
          }
        },
        "requestedBy": {
          "$ref": "#/definitions/IdentityRef"
        }
      }
    },
    "RegistrationRequest": {
      "type": "object",
      "properties": {
        "componentName": {
          "type": "string"
        },
        "componentType": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "componentVersion": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}