{
  "swagger": "2.0",
  "info": {
    "title": "Governance",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "builtInPolicyDelegators"
    },
    {
      "name": "policies"
    },
    {
      "name": "policyReferences"
    },
    {
      "name": "policyStatuses"
    },
    {
      "name": "products"
    },
    {
      "name": "registrationRequests"
    },
    {
      "name": "registrations"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/governance/builtinpolicydelegators": {
      "post": {
        "tags": [
          "builtInPolicyDelegators"
        ],
        "summary": "CreateBuiltInPolicyDelegator",
        "description": "",
        "operationId": "createBuiltInPolicyDelegator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuiltInPolicyDelegatorEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuiltInPolicyDelegatorEntry"
            }
          }
        }
      }
    },
    "/_apis/governance/builtinpolicydelegators/{policyId}": {
      "delete": {
        "tags": [
          "builtInPolicyDelegators"
        ],
        "summary": "DeleteBuiltInPolicyDelegator",
        "description": "",
        "operationId": "deleteBuiltInPolicyDelegator",
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/governance/policies": {
      "get": {
        "tags": [
          "policies"
        ],
        "summary": "GetPolicies",
        "description": "",
        "operationId": "getPolicies",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/products": {
      "post": {
        "tags": [
          "products"
        ],
        "summary": "CreateProduct",
        "description": "",
        "operationId": "createProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProducts",
        "description": "",
        "operationId": "getProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/products/{productId}": {
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "DeleteProduct",
        "description": "",
        "operationId": "deleteProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProduct",
        "description": "",
        "operationId": "getProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "products"
        ],
        "summary": "UpdateProduct",
        "description": "",
        "operationId": "updateProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/policyreferences": {
      "post": {
        "tags": [
          "policyReferences"
        ],
        "summary": "AddPolicyToProduct",
        "description": "",
        "operationId": "addPolicyToProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductPolicy"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProductPolicy"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "policyReferences"
        ],
        "summary": "UpdateProductPolicy",
        "description": "",
        "operationId": "updateProductPolicy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductPolicy"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProductPolicy"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/policyreferences/{policyId}": {
      "delete": {
        "tags": [
          "policyReferences"
        ],
        "summary": "RemovePolicyFromProduct",
        "description": "",
        "operationId": "removePolicyFromProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "policyId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrationrequests": {
      "post": {
        "tags": [
          "registrationRequests"
        ],
        "summary": "CreateRegistrationRequests",
        "description": "",
        "operationId": "createRegistrationRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegistrationRequest"
              }
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registration"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrations": {
      "get": {
        "tags": [
          "registrations"
        ],
        "summary": "GetRegistrations",
        "description": "",
        "operationId": "getRegistrations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registration"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrations/{registrationId}": {
      "get": {
        "tags": [
          "registrations"
        ],
        "summary": "GetRegistration",
        "description": "",
        "operationId": "getRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "registrationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/Registrations/{registrationId}/policystatuses": {
      "put": {
        "tags": [
          "policyStatuses"
        ],
        "summary": "UpdateRegistrationPolicyStatus",
        "description": "",
        "operationId": "updateRegistrationPolicyStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyStatus"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "registrationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyStatus"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "policyStatuses"
        ],
        "summary": "UpdateRegistrationPolicyStatusProperties",
        "description": "",
        "operationId": "updateRegistrationPolicyStatusProperties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyStatus"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "registrationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "submit",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BuiltInPolicyDelegatorEntry": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/Policy"
        },
        "processingUrl": {
          "type": "string"
        },
        "propertiesProcessingUrl": {
          "type": "string"
        }
      }
    },
    "ComponentVersionReference": {
      "type": "object",
      "properties": {
        "comparisonName": {
          "type": "string"
        },
        "comparisonVersion": {
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "format": "uuid"
        },
        "displayName": {
          "type": "string"
        },
        "displayVersion": {
          "type": "string"
        },
        "type": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "versionId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Policy": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyRef"
        }
      ],
      "properties": {
        "propertyDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PropertyDescriptor"
          }
        },
        "reviewerRoleDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewerRoleDescriptor"
          }
        }
      }
    },
    "PolicyRef": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PolicyStatus": {
      "type": "object",
      "properties": {
        "errorRetryable": {
          "type": "boolean"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "policyId": {
          "type": "string"
        },
        "policyState": {
          "enum": [
            "error",
            "processingPending",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "requiresReview",
            "abstain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.PolicyState"
          }
        },
        "policyStateReason": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "propertyDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PropertyDescriptor"
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductPolicy"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ProductPolicy": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/PolicyRef"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reviewerRoleAssignments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewerRoleAssignment"
          }
        }
      }
    },
    "PropertyDescriptor": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the property",
          "type": "string"
        },
        "id": {
          "description": "Name of the property",
          "type": "string"
        },
        "maxLength": {
          "description": "The maximum length for a text box type.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "description": "The possible values for RadioButtonOptions or DropdownOptions types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "required": {
          "description": "True if this property is required",
          "type": "boolean"
        },
        "type": {
          "description": "The type of value used for this property",
          "enum": [
            "checkbox",
            "textbox",
            "radioButtonOptions",
            "dropdownOptions"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.PropertyType"
          }
        }
      }
    },
    "Registration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RegistrationBase"
        }
      ],
      "properties": {
        "policyStatuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyStatus"
          }
        },
        "productId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "RegistrationBase": {
      "type": "object",
      "properties": {
        "componentVersionReference": {
          "$ref": "#/definitions/ComponentVersionReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "registrationState": {
          "enum": [
            "error",
            "processingPending",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "requiresReview",
            "abstain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.PolicyState"
          }
        },
        "requestedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RegistrationRequest": {
      "type": "object",
      "properties": {
        "componentName": {
          "type": "string"
        },
        "componentType": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "componentVersion": {
          "type": "string"
        },
        "policyProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "ReviewerRoleAssignment": {
      "type": "object",
      "properties": {
        "reviewerRoleName": {
          "type": "string"
        },
        "reviewers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IdentityRef"
          }
        }
      }
    },
    "ReviewerRoleDescriptor": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}