{
  "swagger": "2.0",
  "info": {
    "title": "Governance",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "builtInPolicyEvaluators"
    },
    {
      "name": "evaluationStatuses"
    },
    {
      "name": "policyEvaluatorReferences"
    },
    {
      "name": "policyEvaluators"
    },
    {
      "name": "products"
    },
    {
      "name": "registrationRequests"
    },
    {
      "name": "registrations"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/governance/builtinpolicyevaluators": {
      "post": {
        "tags": [
          "builtInPolicyEvaluators"
        ],
        "summary": "CreateBuiltInPolicyEvaluator",
        "description": "",
        "operationId": "createBuiltInPolicyEvaluator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuiltInPolicyEvaluatorEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuiltInPolicyEvaluatorEntry"
            }
          }
        }
      }
    },
    "/_apis/governance/policyevaluators": {
      "get": {
        "tags": [
          "policyEvaluators"
        ],
        "summary": "GetPolicyEvaluatorsInfo",
        "description": "",
        "operationId": "getPolicyEvaluatorsInfo",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyEvaluatorInfo"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/products": {
      "post": {
        "tags": [
          "products"
        ],
        "summary": "CreateProduct",
        "description": "",
        "operationId": "createProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProducts",
        "description": "",
        "operationId": "getProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/products/{productId}": {
      "delete": {
        "tags": [
          "products"
        ],
        "summary": "DeleteProduct",
        "description": "",
        "operationId": "deleteProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "products"
        ],
        "summary": "GetProduct",
        "description": "",
        "operationId": "getProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "products"
        ],
        "summary": "UpdateProduct",
        "description": "",
        "operationId": "updateProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/policyevaluatorreferences/{policyEvaluatorId}": {
      "post": {
        "tags": [
          "policyEvaluatorReferences"
        ],
        "summary": "AddPolicyEvaluatorToProduct",
        "description": "",
        "operationId": "addPolicyEvaluatorToProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "policyEvaluatorReferences"
        ],
        "summary": "RemovePolicyEvaluatorFromProduct",
        "description": "",
        "operationId": "removePolicyEvaluatorFromProduct",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "policyEvaluatorId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrationrequests": {
      "post": {
        "tags": [
          "registrationRequests"
        ],
        "summary": "CreateRegistrationRequests",
        "description": "",
        "operationId": "createRegistrationRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegistrationRequest"
              }
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registration"
              }
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/registrations": {
      "get": {
        "tags": [
          "registrations"
        ],
        "summary": "GetRegistration",
        "description": "",
        "operationId": "getRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "registrationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        }
      }
    },
    "/_apis/governance/Products/{productId}/Registrations/{registrationId}/evaluationstatuses": {
      "put": {
        "tags": [
          "evaluationStatuses"
        ],
        "summary": "UpdateRegistrationEvaluationStatus",
        "description": "",
        "operationId": "updateRegistrationEvaluationStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyEvaluationStatus"
            }
          },
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "registrationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyEvaluationStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BuiltInPolicyEvaluatorEntry": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyEvaluatorInfo"
        }
      ],
      "properties": {
        "evaluationRequestUrl": {
          "type": "string"
        }
      }
    },
    "ComponentVersionReference": {
      "type": "object",
      "properties": {
        "comparisonName": {
          "type": "string"
        },
        "comparisonVersion": {
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "format": "uuid"
        },
        "displayName": {
          "type": "string"
        },
        "displayVersion": {
          "type": "string"
        },
        "type": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "versionId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "EvaluatorMetadataPropertyDescriptor": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the property",
          "type": "string"
        },
        "maxLength": {
          "description": "The maximum length for a text box type.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the property",
          "type": "string"
        },
        "options": {
          "description": "The possible values for RadioButtonOptions or DropdownOptions types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "required": {
          "description": "True if this property is required",
          "type": "boolean"
        },
        "type": {
          "description": "The type of value used for this property",
          "enum": [
            "checkbox",
            "textBox",
            "radioButtonOptions",
            "dropdownOptions"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.EvaluatorMetadataPropertyType"
          }
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PolicyEvaluationStatus": {
      "type": "object",
      "properties": {
        "errorRetryable": {
          "type": "boolean"
        },
        "evaluationState": {
          "enum": [
            "error",
            "initialized",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "intervention"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.EvaluationState"
          }
        },
        "evaluationStateReason": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "policyEvaluatorId": {
          "type": "string"
        }
      }
    },
    "PolicyEvaluatorInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "metadataPropertyDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EvaluatorMetadataPropertyDescriptor"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "policyEvaluators": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyEvaluatorInfo"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Registration": {
      "type": "object",
      "properties": {
        "componentVersionReference": {
          "$ref": "#/definitions/ComponentVersionReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "evaluationStatuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyEvaluationStatus"
          }
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productId": {
          "type": "string",
          "format": "uuid"
        },
        "registrationState": {
          "enum": [
            "error",
            "initialized",
            "processing",
            "approved",
            "rejected",
            "requiresInformation",
            "intervention"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.EvaluationState"
          }
        },
        "requestedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RegistrationRequest": {
      "type": "object",
      "properties": {
        "componentName": {
          "type": "string"
        },
        "componentType": {
          "enum": [
            "unknown",
            "other",
            "nuGet",
            "npm"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Governance.WebApi.ComponentType"
          }
        },
        "componentVersion": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}