{
    "swagger": "2.0",
    "info": {
        "title": "Identity",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "claims"
        },
        {
            "name": "groups"
        },
        {
            "name": "identities"
        },
        {
            "name": "identity"
        },
        {
            "name": "identityBatch"
        },
        {
            "name": "identitySnapshot"
        },
        {
            "name": "maxSequenceId"
        },
        {
            "name": "me"
        },
        {
            "name": "members"
        },
        {
            "name": "membersOf"
        },
        {
            "name": "scopes"
        },
        {
            "name": "signoutToken"
        },
        {
            "name": "tenant"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/groups": {
            "post": {
                "tags": [
                    "groups"
                ],
                "summary": "CreateGroups",
                "description": "",
                "operationId": "createGroups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "jObject"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identity"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "groups"
                ],
                "summary": "ListGroups",
                "description": "",
                "operationId": "listGroups",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "scopeIds",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recurse",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "deleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identity"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/groups/{groupId}": {
            "delete": {
                "tags": [
                    "groups"
                ],
                "summary": "DeleteGroup",
                "description": "",
                "operationId": "deleteGroup",
                "parameters": [
                    {
                        "in": "path",
                        "name": "groupId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/identities": {
            "get": {
                "tags": [
                    "identities"
                ],
                "summary": "GetIdentityChanges",
                "description": "",
                "operationId": "getIdentityChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "identitySequenceId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "groupSequenceId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "scopeId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/changedIdentities"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "identities"
                ],
                "summary": "UpdateIdentities",
                "description": "",
                "operationId": "updateIdentities",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "generic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identityUpdateData"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/identities/{containerId}/members": {
            "get": {
                "tags": [
                    "members"
                ],
                "summary": "ReadMembers",
                "description": "",
                "operationId": "readMembers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryMembership",
                        "description": "",
                        "required": false,
                        "type": "queryMembership"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identityDescriptor"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/identities/{containerId}/members/{memberId}": {
            "put": {
                "tags": [
                    "members"
                ],
                "summary": "AddMember",
                "description": "",
                "operationId": "addMember",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "memberId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "members"
                ],
                "summary": "ReadMember",
                "description": "",
                "operationId": "readMember",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "memberId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryMembership",
                        "description": "",
                        "required": false,
                        "type": "queryMembership"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identityDescriptor"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "members"
                ],
                "summary": "RemoveMember",
                "description": "",
                "operationId": "removeMember",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "memberId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/_apis/identities/{identityId}": {
            "get": {
                "tags": [
                    "identities"
                ],
                "summary": "ReadIdentity",
                "description": "",
                "operationId": "readIdentity",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "identityId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryMembership",
                        "description": "",
                        "required": false,
                        "type": "queryMembership"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identity"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "identities"
                ],
                "summary": "UpdateIdentity",
                "description": "",
                "operationId": "updateIdentity",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/identity"
                        }
                    },
                    {
                        "in": "path",
                        "name": "identityId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/identities/{memberId}/membersof": {
            "get": {
                "tags": [
                    "membersOf"
                ],
                "summary": "ReadMembersOf",
                "description": "",
                "operationId": "readMembersOf",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "memberId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryMembership",
                        "description": "",
                        "required": false,
                        "type": "queryMembership"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identityDescriptor"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/identities/{memberId}/membersof/{containerId}": {
            "get": {
                "tags": [
                    "membersOf"
                ],
                "summary": "ReadMemberOf",
                "description": "",
                "operationId": "readMemberOf",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "memberId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryMembership",
                        "description": "",
                        "required": false,
                        "type": "queryMembership"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identityDescriptor"
                        }
                    }
                }
            }
        },
        "/_apis/identities/claims": {
            "put": {
                "tags": [
                    "claims"
                ],
                "summary": "CreateOrBindWithClaims",
                "description": "",
                "operationId": "createOrBindWithClaims",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/identity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identity"
                        }
                    }
                }
            }
        },
        "/_apis/identities/identity": {
            "put": {
                "tags": [
                    "identity"
                ],
                "summary": "CreateIdentity",
                "description": "",
                "operationId": "createIdentity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/frameworkIdentityInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identity"
                        }
                    }
                }
            }
        },
        "/_apis/identities/maxsequenceid": {
            "get": {
                "tags": [
                    "maxSequenceId"
                ],
                "summary": "GetMaxSequenceId",
                "description": "",
                "operationId": "getMaxSequenceId",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                }
            }
        },
        "/_apis/identities/me": {
            "get": {
                "tags": [
                    "me"
                ],
                "summary": "GetSelf",
                "description": "",
                "operationId": "getSelf",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identitySelf"
                        }
                    }
                }
            }
        },
        "/_apis/identities/tenant/{tenantId}": {
            "get": {
                "tags": [
                    "tenant"
                ],
                "summary": "GetTenant",
                "description": "",
                "operationId": "getTenant",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "tenantId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tenantInfo"
                        }
                    }
                }
            }
        },
        "/_apis/identitybatch": {
            "post": {
                "tags": [
                    "identityBatch"
                ],
                "summary": "ReadIdentityBatch",
                "description": "",
                "operationId": "readIdentityBatch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/identityBatchInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/identity"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/identitysnapshot/{scopeId}": {
            "get": {
                "tags": [
                    "identitySnapshot"
                ],
                "summary": "GetIdentitySnapshot",
                "description": "",
                "operationId": "getIdentitySnapshot",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identitySnapshot"
                        }
                    }
                }
            }
        },
        "/_apis/scopes": {
            "get": {
                "tags": [
                    "scopes"
                ],
                "summary": "GetScopeByName",
                "description": "",
                "operationId": "getScopeByName",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "scopeName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identityScope"
                        }
                    }
                }
            }
        },
        "/_apis/scopes/{scopeId}": {
            "put": {
                "tags": [
                    "scopes"
                ],
                "summary": "CreateScope",
                "description": "",
                "operationId": "createScope",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/createScopeInfo"
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identityScope"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "scopes"
                ],
                "summary": "DeleteScope",
                "description": "",
                "operationId": "deleteScope",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "scopes"
                ],
                "summary": "GetScopeById",
                "description": "",
                "operationId": "getScopeById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/identityScope"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "scopes"
                ],
                "summary": "RenameScope",
                "description": "",
                "operationId": "renameScope",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/identityScope"
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/signouttoken": {
            "get": {
                "tags": [
                    "signoutToken"
                ],
                "summary": "GetSignoutToken",
                "description": "",
                "operationId": "getSignoutToken",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "accessTokenResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "changedIdentities": {
            "type": "object",
            "properties": {
                "identities": {
                    "description": "Changed Identities",
                    "type": "array",
                    "items": {
                        "type": "identity"
                    }
                },
                "sequenceContext": {
                    "description": "Last Identity SequenceId",
                    "$ref": "#/definitions/changedIdentitiesContext"
                }
            }
        },
        "changedIdentitiesContext": {
            "type": "object",
            "properties": {
                "groupSequenceId": {
                    "description": "Last Group SequenceId",
                    "type": "integer",
                    "format": "int32"
                },
                "identitySequenceId": {
                    "description": "Last Identity SequenceId",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "createGroupsInfo": {
            "type": "object",
            "properties": {
                "groups": {
                    "type": "array",
                    "items": {
                        "type": "identity"
                    }
                },
                "scopeId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "createScopeInfo": {
            "type": "object",
            "properties": {
                "adminGroupDescription": {
                    "type": "string"
                },
                "adminGroupName": {
                    "type": "string"
                },
                "creatorId": {
                    "type": "string",
                    "format": "uuid"
                },
                "parentScopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "scopeName": {
                    "type": "string"
                },
                "scopeType": {
                    "enum": [
                        "generic",
                        "serviceHost",
                        "teamProject"
                    ]
                }
            }
        },
        "frameworkIdentityInfo": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "identifier": {
                    "type": "string"
                },
                "identityType": {
                    "enum": [
                        "none",
                        "serviceIdentity",
                        "aggregateIdentity",
                        "importedIdentity"
                    ]
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "groupMembership": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "descriptor": {
                    "$ref": "#/definitions/identityDescriptor"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "queriedId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "identity": {
            "type": "object",
            "properties": {
                "customDisplayName": {
                    "description": "The custom display name for the identity (if any). Setting this property to an empty string will clear the existing custom display name. Setting this property to null will not affect the existing persisted value (since null values do not get sent over the wire or to the database)",
                    "type": "string"
                },
                "descriptor": {
                    "$ref": "#/definitions/identityDescriptor"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "isActive": {
                    "type": "boolean"
                },
                "isContainer": {
                    "type": "boolean"
                },
                "masterId": {
                    "type": "string",
                    "format": "uuid"
                },
                "memberIds": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "memberOf": {
                    "type": "array",
                    "items": {
                        "type": "identityDescriptor"
                    }
                },
                "members": {
                    "type": "array",
                    "items": {
                        "type": "identityDescriptor"
                    }
                },
                "metaTypeId": {
                    "type": "integer",
                    "format": "int32"
                },
                "properties": {
                    "type": "propertiesCollection"
                },
                "providerDisplayName": {
                    "description": "The display name for the identity as specified by the source identity provider.",
                    "type": "string"
                },
                "resourceVersion": {
                    "type": "integer",
                    "format": "int32"
                },
                "uniqueUserId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "identityBatchInfo": {
            "type": "object",
            "properties": {
                "descriptors": {
                    "type": "array",
                    "items": {
                        "type": "identityDescriptor"
                    }
                },
                "identityIds": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "includeRestrictedVisibility": {
                    "type": "boolean"
                },
                "propertyNames": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "queryMembership": {
                    "enum": [
                        "none",
                        "direct",
                        "expanded",
                        "expandedUp",
                        "expandedDown"
                    ]
                }
            }
        },
        "identityDescriptor": {
            "type": "object",
            "properties": {
                "identifier": {
                    "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
                    "type": "string"
                },
                "identityType": {
                    "description": "Type of descriptor (for example, Windows, Passport, etc.).",
                    "type": "string"
                }
            }
        },
        "identityScope": {
            "type": "object",
            "properties": {
                "administrators": {
                    "$ref": "#/definitions/identityDescriptor"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "isActive": {
                    "type": "boolean"
                },
                "isGlobal": {
                    "type": "boolean"
                },
                "localScopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "parentId": {
                    "type": "string",
                    "format": "uuid"
                },
                "scopeType": {
                    "enum": [
                        "generic",
                        "serviceHost",
                        "teamProject"
                    ]
                },
                "securingHostId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "identitySelf": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "tenants": {
                    "type": "array",
                    "items": {
                        "type": "tenantInfo"
                    }
                }
            }
        },
        "identitySnapshot": {
            "type": "object",
            "properties": {
                "groups": {
                    "type": "array",
                    "items": {
                        "type": "identity"
                    }
                },
                "identityIds": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                "memberships": {
                    "type": "array",
                    "items": {
                        "type": "groupMembership"
                    }
                },
                "scopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "scopes": {
                    "type": "array",
                    "items": {
                        "type": "identityScope"
                    }
                }
            }
        },
        "identityUpdateData": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "index": {
                    "type": "integer",
                    "format": "int32"
                },
                "updated": {
                    "type": "boolean"
                }
            }
        },
        "jsonPatchOperationData": {
            "type": "object",
            "properties": {
                "op": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "value": {
                    "type": "t"
                }
            }
        },
        "mruIdentitiesUpdateData": {
            "type": "Generic",
            "properties": {
            }
        },
        "readOnlyIdentityDescriptor": {
            "type": "IdentityDescriptor",
            "properties": {
                "identifier": {
                    "type": "string"
                },
                "identityType": {
                    "type": "string"
                }
            }
        },
        "tenantInfo": {
            "type": "object",
            "properties": {
                "homeTenant": {
                    "type": "boolean"
                },
                "tenantId": {
                    "type": "string",
                    "format": "uuid"
                },
                "tenantName": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}