{
  "swagger": "2.0",
  "info": {
    "title": "Import",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "imports"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/import/imports": {
      "post": {
        "tags": [
          "imports"
        ],
        "summary": "QueueImport",
        "description": "",
        "operationId": "QueueImport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataImportPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ImportResponse"
            }
         }
        }
      }
    },
    "/_apis/import/imports/{requestId}": {
      "get": {
        "tags": [
          "imports"
        ],
        "summary": "GetImport",
        "description": "",
        "operationId": "GetImport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "imports"
        ],
        "summary": "StopImport",
        "description": "",
        "operationId": "StopImport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "DataImportPackage": {
      "description": "",
      "type": "object",
      "properties": {
        "properties": {
          "type": "string",
          "format": "PropertiesCollection"
        },
        "source": {
          "$ref": "#/definitions/DataImportSource"
        },
        "target": {
          "$ref": "#/definitions/DataImportTarget"
        },
        "validationData": {
          "type": "string",
          "format": "PropertiesCollection"
        }
      }
    },
    "DataImportSource": {
      "description": "",
      "type": "object",
      "properties": {
        "files": {
          "type": "string",
          "format": "PropertiesCollection"
        },
        "location": {
          "type": "string"
        },
        "properties": {
          "type": "string",
          "format": "PropertiesCollection"
        }
      }
    },
    "DataImportTarget": {
      "description": "",
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "properties": {
          "type": "string",
          "format": "PropertiesCollection"
        }
      }
    },
    "ImportResponse": {
      "description": "",
      "type": "object",
      "properties": {
        "accountName": {
          "readOnly": true,
          "type": "string"
        },
        "importId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Operation": {
      "description": "Represents an async operation and its progress or result information.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "resultMessage": {
          "description": "The result message which is generally not set.",
          "type": "string"
        }
      }
    },
    "OperationReference": {
      "description": "Reference for an async operation.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Operations.OperationStatus"
          }
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: { self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}