{
    "swagger": "2.0",
    "info": {
        "title": "Import",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "imports"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/import/imports": {
            "post": {
                "tags": [
                    "imports"
                ],
                "summary": "QueueImport",
                "description": "",
                "operationId": "queueImport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dataImportPackage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/operationReference"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dataImportPackage": {
            "type": "object",
            "properties": {
                "properties": {
                    "type": "string",
                    "format": "propertiesCollection"
                },
                "source": {
                    "type": "string",
                    "format": "dataImportSource"
                },
                "target": {
                    "type": "string",
                    "format": "dataImportTarget"
                },
                "validationData": {
                    "type": "string",
                    "format": "propertiesCollection"
                }
            }
        },
        "operationReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "status": {
                    "type": "string",
                    "format": "operationStatus"
                },
                "url": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}