{
  "swagger": "2.0",
  "info": {
    "title": "Import",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "imports"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/import/imports": {
      "post": {
        "tags": [
          "imports"
        ],
        "summary": "QueueImport",
        "description": "",
        "operationId": "queueImport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataImportPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ImportResponse"
            }
          }
        }
      }
    },
    "/_apis/import/imports/{requestId}": {
      "get": {
        "tags": [
          "imports"
        ],
        "summary": "GetImport",
        "description": "",
        "operationId": "getImport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "imports"
        ],
        "summary": "StopImport",
        "description": "",
        "operationId": "stopImport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DataImportPackage": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "string",
          "format": "PropertiesCollection"
        },
        "source": {
          "type": "string",
          "format": "DataImportSource"
        },
        "target": {
          "type": "string",
          "format": "DataImportTarget"
        },
        "validationData": {
          "type": "string",
          "format": "PropertiesCollection"
        }
      }
    },
    "ImportResponse": {
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "importId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Operation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationReference"
        }
      ],
      "properties": {
        "_links": {
          "description": "The links to other objects related to this object.",
          "type": "string",
          "format": "ReferenceLinks"
        },
        "resultMessage": {
          "description": "The result message which is generally not set.",
          "type": "string"
        }
      }
    },
    "OperationReference": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "type": "string",
          "format": "OperationStatus"
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}