{
  "swagger": "2.0",
  "info": {
    "title": "ImportCode",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "importcodes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/importcode/importcodes": {
      "patch": {
        "tags": [
          "importcodes"
        ],
        "summary": "RequestAdditionalImportCode",
        "description": "",
        "operationId": "requestAdditionalImportCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdditionalImportCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ImportCodeInfo"
            }
          }
        }
      },
      "post": {
        "tags": [
          "importcodes"
        ],
        "summary": "RequestImportCode",
        "description": "",
        "operationId": "requestImportCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ImportCodeResponse"
            }
          }
        }
      }
    },
    "/_apis/importcode/importcodes/{importCode}": {
      "get": {
        "tags": [
          "importcodes"
        ],
        "summary": "GetImportCode",
        "description": "",
        "operationId": "getImportCode",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "importCode",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ImportCodeInfoResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AdditionalImportCodeRequest": {
      "type": "object",
      "properties": {
        "currentImportCode": {
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "runType": {
          "enum": [
            "none",
            "dryRun",
            "productionRun"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Cloud.WebApi.DataImportRunType"
          }
        }
      }
    },
    "ImportCodeInfo": {
      "type": "object",
      "properties": {
        "additionalMilestone": {
          "description": "Allows Importing using Milestones that are outside the list in #\\Configuration\\DataImport\\SupportedMilestones\\ In the DIS Service.  The binaries for this milestone need to be in place still and All other services must still support it for the import to succeed",
          "type": "string"
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "code": {
          "type": "string"
        },
        "collectionHostId": {
          "type": "string",
          "format": "uuid"
        },
        "imports": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "parentCode": {
          "type": "string"
        },
        "requestedFor": {
          "type": "string"
        },
        "revokedDate": {
          "type": "string",
          "format": "date-time"
        },
        "runType": {
          "enum": [
            "none",
            "dryRun",
            "productionRun"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Cloud.WebApi.DataImportRunType"
          }
        }
      }
    },
    "ImportCodeInfoResponse": {
      "type": "object",
      "properties": {
        "codes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImportCodeInfo"
          }
        }
      }
    },
    "ImportCodeRequest": {
      "type": "object",
      "properties": {
        "additionalMilestone": {
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "requestedFor": {
          "type": "string"
        }
      }
    },
    "ImportCodeResponse": {
      "type": "object",
      "properties": {
        "m_codes": {
          "$ref": "#/definitions/PropertyCollection"
        }
      }
    },
    "PropertyCollection": {
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
          }
        }
      ],
      "properties": {
      }
    },
    "PropertyPair": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}