{
  "swagger": "2.0",
  "info": {
    "title": "InstanceManagement",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "hostInstanceMappings"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/instancemanagement/hostinstancemappings/{hostId}": {
      "get": {
        "tags": [
          "hostInstanceMappings"
        ],
        "summary": "GetHostInstanceMappings",
        "description": "",
        "operationId": "getHostInstanceMappings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "hostId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "instanceType",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HostInstanceMapping"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HostInstanceMapping": {
      "type": "object",
      "properties": {
        "hostId": {
          "type": "string",
          "format": "uuid"
        },
        "serviceInstance": {
          "$ref": "#/definitions/ServiceInstance"
        },
        "status": {
          "enum": [
            "assigned",
            "active",
            "moving"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Location.ServiceStatus"
          }
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "PropertiesCollection": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Implements ICollection<KeyValuePair<String,Object>>.Count/>",
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PropertyContainerObject": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "Property collection",
          "$ref": "#/definitions/PropertiesCollection"
        }
      }
    },
    "RegionCollection": {
      "type": "object",
      "properties": {
        "m_regionWeights": {
          "$ref": "#/definitions/PropertiesCollection"
        }
      }
    },
    "ServiceInstance": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PropertyContainerObject"
        }
      ],
      "properties": {
        "azureUri": {
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "format": "uuid"
        },
        "instanceType": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "publicUri": {
          "type": "string"
        },
        "regions": {
          "description": "Stores the region-related data Public consumers should not interact with the RegionCollection directly",
          "$ref": "#/definitions/RegionCollection"
        },
        "rootUri": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}