{
  "swagger": "2.0",
  "info": {
    "title": "Interaction",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "interaction"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/interaction/interaction": {
      "post": {
        "tags": [
          "interaction"
        ],
        "summary": "Add",
        "description": "Adds an interaction to the history for the current user",
        "operationId": "add",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Interaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "interaction"
        ],
        "summary": "Get",
        "description": "Gets the  for the interaction ID.",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "interactionId",
            "description": "The ID of the interaction",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IInteractionHistory"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EngagementData": {
      "type": "object",
      "properties": {
        "allEngagementLevels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allEngagementPriorities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allScenarios": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableForEveryone": {
          "type": "string"
        },
        "enableForMe": {
          "type": "string"
        },
        "engagementId": {
          "type": "string"
        },
        "engagementLevel": {
          "type": "string"
        },
        "engagementPriority": {
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "pageIds": {
          "type": "object",
          "additionalProperties": {
            "type": "boolean"
          }
        },
        "realEngagementId": {
          "type": "string"
        },
        "scenario": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "IInteractionHistory": {
      "type": "object",
      "properties": {
        "interactions": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "IInteraction"
          }
        }
      }
    },
    "Interaction": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "projectId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Recommendation": {
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Gets or sets the recommendation confidence",
          "enum": [
            "none",
            "low",
            "medium",
            "high"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Recommendation.WebApi.RecommendationConfidence"
          }
        },
        "recommendationData": {
          "description": "Gets or sets the Recommendation Data",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "recommendationType": {
          "description": "Gets or sets the type of recommendation",
          "enum": [
            "engagement",
            "engagementLegacy",
            "interaction",
            "offline",
            "pageInteraction"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Recommendation.WebApi.RecommendationType"
          }
        }
      }
    },
    "RecommendationInput": {
      "type": "object",
      "properties": {
        "recommendationInputData": {
          "description": "Gets or sets the recommendation Input Data",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "recommendationType": {
          "description": "Gets or sets the recommendation Type",
          "enum": [
            "engagement",
            "engagementLegacy",
            "interaction",
            "offline",
            "pageInteraction"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Recommendation.WebApi.RecommendationType"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}