{
  "swagger": "2.0",
  "info": {
    "title": "Ivy",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "json"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feed}/ivy/json/{module}/{revision}": {
      "get": {
        "tags": [
          "json"
        ],
        "summary": "PackageInfo",
        "description": "",
        "operationId": "packageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "module",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "revision",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IvyPackage"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "IvyPackage": {
      "type": "object",
      "properties": {
        "_info": {
          "type": "string"
        },
        "_links": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "module": {
          "type": "string"
        },
        "revision": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging": "Grants the ability to read feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}