{
  "swagger": "2.0",
  "info": {
    "title": "Ivy",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "metadata"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feed}/ivy/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "PackageInfo",
        "description": "",
        "operationId": "packageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeMetadata",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IvyPackage"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "IvyPackage": {
      "type": "object",
      "properties": {
        "files": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "metadata": {
          "$ref": "#/definitions/IvyXmlMetadata"
        },
        "module": {
          "type": "string"
        },
        "moduleIndex": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "name": {
          "type": "string"
        },
        "organisation": {
          "type": "string"
        },
        "requestedFile": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "IvyXmlBody": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        }
      }
    },
    "IvyXmlConfiguration": {
      "type": "object",
      "properties": {
        "deprecated": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "extends": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "transitive": {
          "type": "boolean"
        },
        "visibility": {
          "type": "string"
        }
      }
    },
    "IvyXmlConfigurations": {
      "type": "object",
      "properties": {
        "conf": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlConfiguration"
          }
        },
        "confmappingoverride": {
          "type": "boolean"
        },
        "defaultconf": {
          "type": "string"
        },
        "defaultconfmapping": {
          "type": "string"
        }
      }
    },
    "IvyXmlDependencies": {
      "type": "object",
      "properties": {
        "defaultconf": {
          "type": "string"
        },
        "defaultconfmapping": {
          "type": "string"
        },
        "dependency": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlDependency"
          }
        }
      }
    },
    "IvyXmlDependency": {
      "type": "object",
      "properties": {
        "branch": {
          "type": "string"
        },
        "changing": {
          "type": "boolean"
        },
        "conf": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "org": {
          "type": "string"
        },
        "rev": {
          "type": "string"
        },
        "revConstraint": {
          "type": "string"
        },
        "transitive": {
          "type": "boolean"
        }
      }
    },
    "IvyXmlDescription": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IvyXmlBody"
        }
      ],
      "properties": {
        "homepage": {
          "type": "string"
        }
      }
    },
    "IvyXmlInfo": {
      "type": "object",
      "properties": {
        "branch": {
          "type": "string"
        },
        "description": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlDescription"
          }
        },
        "ivyauthor": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlRef"
          }
        },
        "license": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlRef"
          }
        },
        "module": {
          "type": "string"
        },
        "organisation": {
          "type": "string"
        },
        "publication": {
          "type": "string"
        },
        "revision": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "IvyXmlMetadata": {
      "type": "object",
      "properties": {
        "configurations": {
          "$ref": "#/definitions/IvyXmlConfigurations"
        },
        "correlationId": {
          "type": "string"
        },
        "dependencies": {
          "$ref": "#/definitions/IvyXmlDependencies"
        },
        "info": {
          "$ref": "#/definitions/IvyXmlInfo"
        },
        "publications": {
          "$ref": "#/definitions/IvyXmlPublications"
        }
      }
    },
    "IvyXmlPublication": {
      "type": "object",
      "properties": {
        "conf": {
          "type": "string"
        },
        "ext": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "packaging": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "IvyXmlPublications": {
      "type": "object",
      "properties": {
        "artifact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlPublication"
          }
        },
        "defaultconf": {
          "type": "string"
        }
      }
    },
    "IvyXmlRef": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IvyXmlBody"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLink": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging": "Grants the ability to read feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}