{
  "swagger": "2.0",
  "info": {
    "title": "Ivy",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "metadata"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feed}/ivy/metadata": {
      "post": {
        "tags": [
          "metadata"
        ],
        "summary": "PackageInfo",
        "description": "",
        "operationId": "packageInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IvyPackageRequest"
            }
          },
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/IvyPackage"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "IvyPackage": {
      "type": "object",
      "properties": {
        "files": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "info": {
          "$ref": "#/definitions/IvyXmlInfo"
        },
        "requestedFile": {
          "$ref": "#/definitions/ReferenceLink"
        }
      }
    },
    "IvyPackageRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "IvyXmlBody": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        }
      }
    },
    "IvyXmlDescription": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IvyXmlBody"
        }
      ],
      "properties": {
        "homepage": {
          "type": "string"
        }
      }
    },
    "IvyXmlInfo": {
      "type": "object",
      "properties": {
        "branch": {
          "type": "string"
        },
        "description": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlDescription"
          }
        },
        "ivyauthor": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlRef"
          }
        },
        "license": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IvyXmlRef"
          }
        },
        "module": {
          "type": "string"
        },
        "organisation": {
          "type": "string"
        },
        "publication": {
          "type": "string"
        },
        "revision": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "IvyXmlRef": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/IvyXmlBody"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLink": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging_write": "Grants the ability to create and read feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}