{
  "swagger": "2.0",
  "info": {
    "title": "Kalypso",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "alertEndpoints"
    },
    {
      "name": "builtInMonitors"
    },
    {
      "name": "containers"
    },
    {
      "name": "healthAlertMonitors"
    },
    {
      "name": "monitors"
    },
    {
      "name": "queries"
    },
    {
      "name": "queryContainers"
    },
    {
      "name": "queryResultMonitors"
    },
    {
      "name": "queryResults"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/health/alertendpoints": {
      "post": {
        "tags": [
          "alertEndpoints"
        ],
        "summary": "CreateAlertEndpoint",
        "description": "",
        "operationId": "createAlertEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alertEndpointProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/alertEndpointProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "alertEndpoints"
        ],
        "summary": "GetAlertEndpoints",
        "description": "",
        "operationId": "getAlertEndpoints",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/alertEndpointProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/alertendpoints/{alertEndpointId}": {
      "delete": {
        "tags": [
          "alertEndpoints"
        ],
        "summary": "DeleteAlertEndpoint",
        "description": "",
        "operationId": "deleteAlertEndpoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "alertEndpointId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/alertEndpointProperties"
            }
          }
        }
      }
    },
    "/_apis/health/containers": {
      "post": {
        "tags": [
          "containers"
        ],
        "summary": "CreateContainer",
        "description": "",
        "operationId": "createContainer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "GetContainers",
        "description": "",
        "operationId": "getContainers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/queryContainerProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/containers/{containerId}": {
      "delete": {
        "tags": [
          "containers"
        ],
        "summary": "DeleteContainer",
        "description": "",
        "operationId": "deleteContainer",
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "GetContainer",
        "description": "",
        "operationId": "getContainer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        }
      },
      "put": {
        "tags": [
          "containers"
        ],
        "summary": "UpdateContainer",
        "description": "",
        "operationId": "updateContainer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/health/Containers/{containerId}/monitors": {
      "get": {
        "tags": [
          "monitors"
        ],
        "summary": "GetMonitors",
        "description": "",
        "operationId": "getMonitors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/monitorProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/Containers/{containerId}/queries": {
      "post": {
        "tags": [
          "queries"
        ],
        "summary": "AddQueryDefinition",
        "description": "",
        "operationId": "addQueryDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryDefinitionProperties"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "get": {
        "tags": [
          "queries"
        ],
        "summary": "GetQueryDefinitions",
        "description": "",
        "operationId": "getQueryDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/queryDefinitionProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/Containers/{containerId}/queries/{queryId}": {
      "delete": {
        "tags": [
          "queries"
        ],
        "summary": "DeleteQueryDefinition",
        "description": "",
        "operationId": "deleteQueryDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "queryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "get": {
        "tags": [
          "queries"
        ],
        "summary": "GetQueryDefinition",
        "description": "",
        "operationId": "getQueryDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "queryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryDefinitionProperties"
            }
          }
        }
      },
      "put": {
        "tags": [
          "queries"
        ],
        "summary": "UpdateQueryDefinition",
        "description": "",
        "operationId": "updateQueryDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryDefinitionProperties"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "queryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/_apis/health/Containers/{containerId}/queryresultmonitors": {
      "post": {
        "tags": [
          "queryResultMonitors"
        ],
        "summary": "CreateQueryResultMonitor",
        "description": "",
        "operationId": "createQueryResultMonitor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryResultMonitorProperties"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryResultMonitorProperties"
            }
          }
        }
      }
    },
    "/_apis/health/Containers/{containerId}/queryresultmonitors/{monitorId}": {
      "delete": {
        "tags": [
          "queryResultMonitors"
        ],
        "summary": "DeleteQueryResultMonitor",
        "description": "",
        "operationId": "deleteQueryResultMonitor",
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "queryResultMonitors"
        ],
        "summary": "GetQueryResultMonitor",
        "description": "",
        "operationId": "getQueryResultMonitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryResultMonitorProperties"
            }
          }
        }
      },
      "put": {
        "tags": [
          "queryResultMonitors"
        ],
        "summary": "UpdateQueryResultMonitor",
        "description": "",
        "operationId": "updateQueryResultMonitor",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryResultMonitorProperties"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/health/Monitors/builtinmonitors": {
      "post": {
        "tags": [
          "builtInMonitors"
        ],
        "summary": "CreateBuiltInMonitor",
        "description": "",
        "operationId": "createBuiltInMonitor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/builtInMonitorProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/builtInMonitorProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "builtInMonitors"
        ],
        "summary": "GetBuiltInMonitors",
        "description": "",
        "operationId": "getBuiltInMonitors",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/builtInMonitorProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/Monitors/builtinmonitors/{monitorId}": {
      "delete": {
        "tags": [
          "builtInMonitors"
        ],
        "summary": "DeleteBuiltInMonitor",
        "description": "",
        "operationId": "deleteBuiltInMonitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "builtInMonitors"
        ],
        "summary": "GetBuiltInMonitor",
        "description": "",
        "operationId": "getBuiltInMonitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/builtInMonitorProperties"
            }
          }
        }
      }
    },
    "/_apis/health/Monitors/healthalertmonitors": {
      "post": {
        "tags": [
          "healthAlertMonitors"
        ],
        "summary": "CreateHealthAlertMonitor",
        "description": "",
        "operationId": "createHealthAlertMonitor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/healthAlertMonitorProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/healthAlertMonitorProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "healthAlertMonitors"
        ],
        "summary": "GetHealthAlertMonitors",
        "description": "",
        "operationId": "getHealthAlertMonitors",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/healthAlertMonitorProperties"
              }
            }
          }
        }
      }
    },
    "/_apis/health/Monitors/healthalertmonitors/{monitorId}": {
      "delete": {
        "tags": [
          "healthAlertMonitors"
        ],
        "summary": "DeleteHealthAlertMonitor",
        "description": "",
        "operationId": "deleteHealthAlertMonitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "healthAlertMonitors"
        ],
        "summary": "GetHealthAlertMonitor",
        "description": "",
        "operationId": "getHealthAlertMonitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "monitorId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/healthAlertMonitorProperties"
            }
          }
        }
      }
    },
    "/_apis/health/querycontainers": {
      "post": {
        "tags": [
          "queryContainers"
        ],
        "summary": "CreateQueryContainer",
        "description": "",
        "operationId": "createQueryContainer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "queryContainers"
        ],
        "summary": "GetQueryContainers",
        "description": "",
        "operationId": "getQueryContainers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/queryContainerProperties"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "queryContainers"
        ],
        "summary": "UpdateQueryContainer",
        "description": "",
        "operationId": "updateQueryContainer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          },
          {
            "in": "query",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/health/querycontainers/{containerId}": {
      "delete": {
        "tags": [
          "queryContainers"
        ],
        "summary": "DeleteQueryContainer",
        "description": "",
        "operationId": "deleteQueryContainer",
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "queryContainers"
        ],
        "summary": "GetQueryContainer",
        "description": "",
        "operationId": "getQueryContainer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/queryContainerProperties"
            }
          }
        }
      }
    },
    "/_apis/health/QueryContainers/{containerId}/Queries/{queryId}/queryresults": {
      "post": {
        "tags": [
          "queryResults"
        ],
        "summary": "Execute",
        "description": "Return result data if the user supplies a getData parameter in the URL. Surfaced as a REST endpoint for debugging purposes only. The underlying run query call in the service is valid for internal scenarios where we are running a query pipeline.",
        "operationId": "execute",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/queryResult"
            }
          },
          {
            "in": "path",
            "name": "containerId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "queryId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "getData",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "alertEndpointProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/itemMetadata"
        }
      ],
      "properties": {
        "serviceBusConnectionString": {
          "description": "Service Bus connection string.",
          "type": "string"
        },
        "serviceBusEndpointUri": {
          "description": "Uri of the Service Bus namespace (without secrets).",
          "type": "string"
        },
        "tenantName": {
          "description": "Tenant Name",
          "type": "string"
        }
      }
    },
    "builtInMonitorProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/monitorProperties"
        }
      ],
      "properties": {
        "notification": {
          "$ref": "#/definitions/emailNotification"
        },
        "trigger": {
          "$ref": "#/definitions/scheduledTrigger"
        },
        "type": {
          "enum": [
            "appInsightsPipeline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.BuiltInMonitorType"
          }
        }
      }
    },
    "emailAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "addressType": {
          "enum": [
            "to",
            "cc"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.EmailAddressType"
          }
        }
      }
    },
    "emailNotification": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/notification"
        }
      ],
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/emailAddress"
          }
        }
      }
    },
    "endpointAuthorization": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scheme": {
          "enum": [
            "personalAccessToken"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.AuthorizationScheme"
          }
        }
      }
    },
    "healthAlertMonitorProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/monitorProperties"
        }
      ],
      "properties": {
        "pipeline": {
          "$ref": "#/definitions/pipeline"
        },
        "trigger": {
          "$ref": "#/definitions/healthAlertTrigger"
        }
      }
    },
    "healthAlertTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/trigger"
        }
      ],
      "properties": {
        "alertEndpointId": {
          "description": "AlertEndpoint reference.",
          "type": "string",
          "format": "uuid"
        },
        "incidentType": {
          "enum": [
            "preCreateIncident",
            "postCreateIncident"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.HealthAlertMonitorType"
          }
        },
        "monitorName": {
          "description": "This is the name of the MDM monitor to match in order to trigger the pipeline.  The monitor name can be found in the first position of an IcM incident title (sample: \"ASPNETRequestQueued_AT\").",
          "type": "string"
        },
        "topologyName": {
          "description": "A single Service Bus namespace can be wired to the extensibility point for many MDM namespaces.  The topology name is a string like VSO-TFS or VSO-SPS that identifes the MDM tenant sourcing alerts for this monitor endpoint reference. This acts like a filter on the stream of messages coming off the health alert extensibility Service Bus topic.",
          "type": "string"
        }
      }
    },
    "identityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "itemMetadata": {
      "type": "object",
      "properties": {
        "createdBy": {
          "description": "Created By",
          "$ref": "#/definitions/identityRef"
        },
        "createdOn": {
          "description": "Created On",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name.",
          "type": "string"
        },
        "id": {
          "description": "An immutable id to support stable references.",
          "type": "string",
          "format": "uuid"
        },
        "modifiedBy": {
          "description": "Created By",
          "$ref": "#/definitions/identityRef"
        },
        "modifiedOn": {
          "description": "Created On",
          "type": "string",
          "format": "date-time"
        },
        "refName": {
          "description": "Reference name that can be used in place of the id.",
          "type": "string"
        }
      }
    },
    "monitorProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/itemMetadata"
        }
      ],
      "properties": {
        "category": {
          "enum": [
            "queryResultMonitor",
            "healthAlertMonitor",
            "builtInMonitor"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.MonitorCategory"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "monitorResult"
          }
        },
        "tsgLink": {
          "description": "TSG Link.",
          "type": "string"
        }
      }
    },
    "notification": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "email"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.AlertNotificationType"
          }
        }
      }
    },
    "pipeline": {
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/queryReference"
          }
        },
        "tokenBindings": {
          "description": "Default token values globally scoped to the pipeline",
          "type": "array",
          "items": {
            "$ref": "#/definitions/tokenBinding"
          }
        }
      }
    },
    "queryContainerProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/itemMetadata"
        }
      ],
      "properties": {
        "accountUri": {
          "description": "Uri of the VSTS account hosting the repo supplying queries.",
          "type": "string"
        },
        "authorization": {
          "description": "Authorization details for accessing the repo.",
          "$ref": "#/definitions/endpointAuthorization"
        },
        "contentPath": {
          "description": "Path within the repo to use when reading content.",
          "type": "string"
        },
        "refreshPolicy": {
          "description": "Path within the repo to use when reading content. Optional param that defaults to ReplaceOnUpdate.",
          "enum": [
            "replaceOnUpdate",
            "addNewVersionOnUpdate"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.QueryContainerRefreshPolicy"
          }
        },
        "repoName": {
          "description": "Name of the repo.  Used to look up the repository id during a content fetch.",
          "type": "string"
        },
        "visibility": {
          "description": "Path within the repo to use when reading content. Optional param that defaults to Private.",
          "enum": [
            "hidden",
            "private",
            "public"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.QueryContainerVisibility"
          }
        }
      }
    },
    "queryDefinitionProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/queryItemMetadata"
        }
      ],
      "properties": {
        "contentType": {
          "description": "A definition with one query returns one set of results and can be used to drive fan-out.  A definition with multiple embedded queries is a collection that can be used in monitors.",
          "enum": [
            "singleQuery",
            "multiQuery"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.ContentType"
          }
        },
        "path": {
          "description": "Path in the repository",
          "type": "string"
        },
        "queryInstances": {
          "description": "A set of executable query instances derived from the raw query string.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/queryInstance"
          }
        },
        "rawQuery": {
          "description": "Raw query string.",
          "type": "string"
        }
      }
    },
    "queryInstance": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "results": {
          "type": "string"
        }
      }
    },
    "queryItemMetadata": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/itemMetadata"
        }
      ],
      "properties": {
        "containerId": {
          "description": "Reference to the container associated with this query",
          "type": "string",
          "format": "uuid"
        },
        "tokenList": {
          "description": "List of tokens that must be bound to run the query.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "queryReference": {
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string",
          "format": "uuid"
        },
        "queryId": {
          "type": "string",
          "format": "uuid"
        },
        "tokenBindings": {
          "description": "Default token values locally scoped",
          "type": "array",
          "items": {
            "$ref": "#/definitions/tokenBinding"
          }
        }
      }
    },
    "queryResult": {
      "type": "object",
      "properties": {
        "deepLink": {
          "description": "Base-64 encoded deep link of bound query string.",
          "type": "string"
        },
        "results": {
          "description": "Collection of queries from a query definition file with descriptions, query text and Uri references to results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/queryInstance"
          }
        },
        "tokenBindings": {
          "description": "Token bindings needed to run a query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/tokenBinding"
          }
        }
      }
    },
    "queryResultMonitorProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/monitorProperties"
        }
      ],
      "properties": {
        "notification": {
          "$ref": "#/definitions/emailNotification"
        },
        "pipeline": {
          "$ref": "#/definitions/pipeline"
        },
        "trigger": {
          "$ref": "#/definitions/scheduledTrigger"
        },
        "type": {
          "enum": [
            "zeroRowMonitor"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.QueryResultMonitorType"
          }
        }
      }
    },
    "scheduledTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/trigger"
        }
      ],
      "properties": {
        "interval": {
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "tokenBinding": {
      "type": "object",
      "properties": {
        "token": {
          "description": "Token name used as replacement string when binding queries.",
          "type": "string"
        },
        "type": {
          "description": "Cast type determines transform applied to value string.",
          "enum": [
            "none",
            "string",
            "timeSpan",
            "dateTime"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.CastType"
          }
        },
        "value": {
          "description": "Token value as a string which is cast to a type at bind time.",
          "type": "string"
        }
      }
    },
    "trigger": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "scheduled",
            "healthAlert"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Kalypso.WebApi.TriggerType"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}