{
  "swagger": "2.0",
  "info": {
    "title": "LicensingRule",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "groupLicensingRules"
    },
    {
      "name": "groupLicensingRulesLookup"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/licensingrule/grouplicensingrules": {
      "put": {
        "tags": [
          "groupLicensingRules"
        ],
        "summary": "AddGroupLicensingRule",
        "description": "Add a new group Licensing rule asynchronously",
        "operationId": "addGroupLicensingRule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The Licensing Rule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupLicensingRule"
            }
          },
          {
            "in": "query",
            "name": "ruleOption",
            "description": "Rule Option",
            "required": false,
            "type": "string",
            "format": "RuleOption"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
          }
        }
      },
      "get": {
        "tags": [
          "groupLicensingRules"
        ],
        "summary": "GetGroupLicensingRules",
        "description": "",
        "operationId": "getGroupLicensingRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupLicensingRule"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "groupLicensingRules"
        ],
        "summary": "UpdateGroupLicensingRule",
        "description": "Update a group Licensing rule",
        "operationId": "updateGroupLicensingRule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The update model for the Licensing Rule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupLicensingRuleUpdate"
            }
          },
          {
            "in": "query",
            "name": "ruleOption",
            "description": "Rule Option",
            "required": false,
            "type": "string",
            "format": "RuleOption"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OperationReference"
            }
          }
        }
      }
    },
    "/_apis/licensingrule/grouplicensingrules/{subjectDescriptor}": {
      "delete": {
        "tags": [
          "groupLicensingRules"
        ],
        "summary": "DeleteGroupLicenseRule",
        "description": "Delete a group Licensing rule",
        "operationId": "deleteGroupLicenseRule",
        "parameters": [
          {
            "in": "path",
            "name": "subjectDescriptor",
            "description": "subjectDescriptor",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ruleOption",
            "description": "Rule Option",
            "required": false,
            "type": "string",
            "format": "RuleOption"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "groupLicensingRules"
        ],
        "summary": "GetGroupLicensingRule",
        "description": "Gets the group Licensing rule for the group with given SubjectDescriptor",
        "operationId": "getGroupLicensingRule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subjectDescriptor",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GroupLicensingRule"
            }
          }
        }
      }
    },
    "/_apis/licensingrule/grouplicensingruleslookup/": {
      "post": {
        "tags": [
          "groupLicensingRulesLookup"
        ],
        "summary": "LookupGroupLicensingRules",
        "description": "Get Group License Rules for the given batch batch of group Ids",
        "operationId": "lookupGroupLicensingRules",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GraphSubjectLookup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupLicensingRule"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ExtensionRule": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Extension Id",
          "type": "string"
        }
      }
    },
    "GraphSubjectLookup": {
      "type": "object",
      "properties": {
        "lookupKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GraphSubjectLookupKey"
          }
        }
      }
    },
    "GraphSubjectLookupKey": {
      "type": "object",
      "properties": {
        "descriptor": {
          "$ref": "#/definitions/SubjectDescriptor"
        }
      }
    },
    "GroupLicensingRule": {
      "type": "object",
      "properties": {
        "extensionRules": {
          "description": "Extension Rules",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionRule"
          }
        },
        "licenseRule": {
          "description": "License Rule",
          "$ref": "#/definitions/LicenseRule"
        },
        "subjectDescriptor": {
          "description": "SubjectDescriptor for the rule",
          "$ref": "#/definitions/SubjectDescriptor"
        }
      }
    },
    "GroupLicensingRuleUpdate": {
      "type": "object",
      "properties": {
        "extensionsToAdd": {
          "description": "Extensions to Add",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extensionsToRemove": {
          "description": "Extensions to Remove",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "license": {
          "description": "New License",
          "$ref": "#/definitions/License"
        },
        "subjectDescriptor": {
          "description": "SubjectDescriptor for the rule",
          "$ref": "#/definitions/SubjectDescriptor"
        }
      }
    },
    "License": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Gets the source of the license",
          "enum": [
            "none",
            "account",
            "msdn",
            "profile",
            "auto",
            "trial"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Licensing.LicensingSource"
          }
        }
      }
    },
    "LicenseRule": {
      "type": "object",
      "properties": {
        "license": {
          "description": "License",
          "$ref": "#/definitions/License"
        }
      }
    },
    "OperationReference": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for this operation.",
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "description": "The current status of the operation.",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Operations.OperationStatus"
          }
        },
        "url": {
          "description": "Url to get the full object.",
          "type": "string"
        }
      }
    },
    "SubjectDescriptor": {
      "type": "object",
      "properties": {
        "identifier": {
          "type": "string"
        },
        "subjectType": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}