{
  "swagger": "2.0",
  "info": {
    "title": "MachineManagement",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "configuration"
    },
    {
      "name": "events"
    },
    {
      "name": "images"
    },
    {
      "name": "machineregistration"
    },
    {
      "name": "machines"
    },
    {
      "name": "messages"
    },
    {
      "name": "pools"
    },
    {
      "name": "requestaction"
    },
    {
      "name": "requests"
    },
    {
      "name": "resources"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/mms/{poolName}/{instanceName}/messages": {
      "delete": {
        "tags": [
          "messages"
        ],
        "summary": "DeleteMessage",
        "description": "",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queueName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accessToken",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "messageId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "GetMessage",
        "description": "",
        "operationId": "getMessage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queueName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accessToken",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "lastMessageId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineInstanceMessage"
            }
          }
        }
      }
    },
    "/_apis/mms/{requestType}/resources": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "GetResources",
        "description": "",
        "operationId": "getResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestType",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MachineRequestResource"
              }
            }
          }
        }
      }
    },
    "/_apis/mms/{requestType}/resources/{version}": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "GetResource",
        "description": "",
        "operationId": "getResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineRequestResource"
            }
          }
        }
      }
    },
    "/_apis/mms/images": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "GetMachineImageLabels",
        "description": "",
        "operationId": "getMachineImageLabels",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MachineImageLabel"
              }
            }
          }
        }
      }
    },
    "/_apis/mms/images/{imageLabel}": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "GetMachineImageLabel",
        "description": "",
        "operationId": "getMachineImageLabel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "imageLabel",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineImageLabel"
            }
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}": {
      "get": {
        "tags": [
          "pools"
        ],
        "summary": "GetMachinePool",
        "description": "",
        "operationId": "getMachinePool",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachinePool"
            }
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}/configuration/{instanceName}": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "GetMachineConfiguration",
        "description": "",
        "operationId": "getMachineConfiguration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineConfigurationResponse"
            }
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}/events": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "PublishNotification",
        "description": "",
        "operationId": "publishNotification",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachinePoolEvent"
            }
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}/machines/{instanceName}": {
      "patch": {
        "tags": [
          "machines"
        ],
        "summary": "UpdateMachineInstance",
        "description": "",
        "operationId": "updateMachineInstance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PropertiesCollection"
            }
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "state",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "enabled",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "imageName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "imageVersion",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "provisioned",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineInstance"
            }
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}/machines/{instanceName}/machineregistration": {
      "post": {
        "tags": [
          "machineregistration"
        ],
        "summary": "RegisterMachineInstance",
        "description": "",
        "operationId": "registerMachineInstance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "imageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "imageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "provisioning",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "startProvisioning",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MachineRegistrationResponseData"
            }
          }
        }
      }
    },
    "/_apis/mms/pools/{poolName}/requestaction/{requestId}": {
      "post": {
        "tags": [
          "requestaction"
        ],
        "summary": "RequestAction",
        "description": "",
        "operationId": "requestAction",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestStateData"
            }
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/mms/requests": {
      "post": {
        "tags": [
          "requests"
        ],
        "summary": "QueueRequest",
        "description": "",
        "operationId": "queueRequest",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "definitions": {
    "MachineConfiguration": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "settingsJSON": {
          "type": "string"
        },
        "thumbprint": {
          "type": "string"
        },
        "thumbprintAlgorithm": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MachineConfigurationResponse": {
      "type": "object",
      "properties": {
        "authConfiguration": {
          "$ref": "#/definitions/MachineConfiguration"
        },
        "settingsConfiguration": {
          "$ref": "#/definitions/MachineConfiguration"
        }
      }
    },
    "MachineImageLabel": {
      "type": "object",
      "properties": {
        "capabilties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageLabel": {
          "type": "string"
        },
        "imageLabelId": {
          "type": "integer",
          "format": "int32"
        },
        "imageName": {
          "type": "string"
        }
      }
    },
    "MachineInstance": {
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "Gets the current token used for authentication to the server.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "connected": {
          "description": "Gets a value indicating whether or not the instance is current connected.",
          "type": "boolean"
        },
        "connectedOn": {
          "description": "Gets the date on which this instance last initiated a connection with the server.",
          "type": "string",
          "format": "date-time"
        },
        "createdOn": {
          "description": "Gets the date on which this instance was originally created.",
          "type": "string",
          "format": "date-time"
        },
        "disconnectedOn": {
          "description": "Gets the date on which this instance lost connectivity with the server.",
          "type": "string",
          "format": "date-time"
        },
        "enabled": {
          "description": "Gets a value indicating whether or not this instance is currently enabled.",
          "type": "boolean"
        },
        "factoryDiskId": {
          "type": "integer",
          "format": "int64"
        },
        "imageName": {
          "description": "Gets the name of the image which is currently in use.",
          "type": "string"
        },
        "imageVersion": {
          "description": "Gets the version of the image which is currently in use.",
          "type": "string"
        },
        "instanceName": {
          "description": "Gets the name of the machine instance.",
          "type": "string"
        },
        "oSDiskId": {
          "type": "integer",
          "format": "int64"
        },
        "properties": {
          "description": "Gets or sets a collection of properties which may be used to extend the storage fields available for a given machine instance.",
          "$ref": "#/definitions/PropertiesCollection"
        },
        "queueName": {
          "description": "Gets the name of the message queue used for communication to the machine.",
          "type": "string"
        },
        "registeredOn": {
          "description": "Gets the date on which this instance was registered by a given computer.",
          "type": "string",
          "format": "date-time"
        },
        "requestId": {
          "type": "integer",
          "format": "int64"
        },
        "state": {
          "description": "Gets a value indicating the current status of the instance.",
          "type": "string"
        },
        "storageAccountId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MachineInstanceMessage": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "messageId": {
          "type": "integer",
          "format": "int64"
        },
        "messageType": {
          "type": "string"
        }
      }
    },
    "MachinePool": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Setting to false takes this Machine Pool out of the rotation and will cause no more Machine Requests to get routed to it.",
          "type": "boolean"
        },
        "imageName": {
          "description": "Gets or sets the image name to use when provisioning new machine instances in the pool.",
          "type": "string"
        },
        "imageVersion": {
          "type": "string"
        },
        "machineCount": {
          "description": "Gets or sets the configured number of machines available in the machine pool.",
          "type": "integer",
          "format": "int32"
        },
        "maxMachineCount": {
          "description": "Gets or sets the deallocated number of machines available in the machine pool.",
          "type": "integer",
          "format": "int32"
        },
        "operationId": {
          "description": "Gets the identifier of the operation which is currently active on the machine pool.",
          "type": "string"
        },
        "operationName": {
          "description": "Gets the name of the operation which is currently queued or active on the machine pool.",
          "type": "string"
        },
        "performanceTier": {
          "type": "string"
        },
        "poolName": {
          "description": "Gets the name of the machine pool.",
          "type": "string"
        },
        "poolType": {
          "description": "Gets the type of the machine pool.",
          "type": "string"
        },
        "properties": {
          "description": "Gets or sets a collection of properties which may be used to extend the storage fields available for a given machine pool.",
          "$ref": "#/definitions/PropertiesCollection"
        },
        "region": {
          "type": "string"
        },
        "requestTimeout": {
          "description": "Gets or sets the default maximum request duration. Requests which run beyond this value will be forcefully canceled and the machine or machines running the request will be reclaimed by the pool.",
          "type": "string",
          "format": "TimeSpan"
        },
        "resourceGroupData": {
          "type": "string"
        },
        "resourceGroupIdentifier": {
          "type": "string"
        },
        "resourceProviderType": {
          "type": "string"
        },
        "runPoolOrchestrationId": {
          "type": "string"
        },
        "state": {
          "description": "Gets the current status of the machine pool.",
          "type": "string"
        }
      }
    },
    "MachinePoolEvent": {
      "type": "object",
      "properties": {
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "eventId": {
          "type": "string",
          "format": "uuid"
        },
        "eventName": {
          "type": "string"
        },
        "instanceName": {
          "type": "string"
        }
      }
    },
    "MachineRegistrationResponseData": {
      "type": "object",
      "properties": {
        "machineInstance": {
          "$ref": "#/definitions/MachineInstance"
        },
        "machinePool": {
          "$ref": "#/definitions/MachinePool"
        },
        "machineRequestTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MachineRequestType"
          }
        }
      }
    },
    "MachineRequest": {
      "type": "object",
      "properties": {
        "assignedResourceVersion": {
          "type": "string"
        },
        "assignedTime": {
          "description": "Gets the time which this request was assigned to a machine.",
          "type": "string",
          "format": "date-time"
        },
        "assignmentAttempts": {
          "type": "integer",
          "format": "int32"
        },
        "finishTime": {
          "description": "Gets the time at which the request completed execution on a machine.",
          "type": "string",
          "format": "date-time"
        },
        "hostId": {
          "description": "Gets the identifier of the host which this request targets.",
          "type": "string",
          "format": "uuid"
        },
        "hostUri": {
          "description": "Gets the fully-qualified URL of the host which this request targets.",
          "type": "string"
        },
        "inputs": {
          "description": "Gets the custom inputs provided to the request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isScheduled": {
          "type": "boolean"
        },
        "machineImageLabel": {
          "type": "string"
        },
        "maxParallelism": {
          "type": "integer",
          "format": "int32"
        },
        "outcome": {
          "description": "Gets the final outcome of the request.",
          "enum": [
            "cleanupFailure",
            "failure",
            "success",
            "timeout",
            "warning",
            "disconnect",
            "nonInfrastructureFailure",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.MachineManagement.WebApi.MachineRequestOutcome"
          }
        },
        "outputs": {
          "description": "Gets the set of custom outputs, if any, provided by the machine runtime.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "poolName": {
          "description": "Gets the name of the machine pool which this request targets.",
          "type": "string"
        },
        "poolType": {
          "description": "Gets the type of machine pool which this request targets.",
          "type": "string"
        },
        "queuedTime": {
          "description": "Gets the time which this request was queued.",
          "type": "string",
          "format": "date-time"
        },
        "requestId": {
          "description": "Gets the identifier for this request.",
          "type": "integer",
          "format": "int64"
        },
        "requestType": {
          "type": "string"
        },
        "requiredResourceVersion": {
          "type": "string"
        },
        "serviceOwner": {
          "type": "string",
          "format": "uuid"
        },
        "startTime": {
          "description": "Gets the time at which the request began execution on a machine.",
          "type": "string",
          "format": "date-time"
        },
        "timeout": {
          "description": "Gets or sets the maximum amount of time the request is allowed to execute. If no value is specified the default value is inherited from the machine pool.",
          "type": "string",
          "format": "TimeSpan"
        },
        "traceActivityId": {
          "description": "Gets the unique trace activity identifier for correlating activity across subsystems.",
          "type": "string",
          "format": "uuid"
        },
        "unassignedTime": {
          "description": "Gets the time at which the request was from a machine.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "MachineRequestResource": {
      "type": "object",
      "properties": {
        "containerId": {
          "type": "integer",
          "format": "int64"
        },
        "poolType": {
          "type": "string"
        },
        "requestType": {
          "type": "string"
        },
        "resourceId": {
          "type": "integer",
          "format": "int64"
        },
        "resourceVersion": {
          "type": "string"
        },
        "state": {
          "enum": [
            "created",
            "downloading",
            "available"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.MachineManagement.WebApi.MachineRequestResourceState"
          }
        }
      }
    },
    "MachineRequestResult": {
      "type": "object",
      "properties": {
        "cleanupDuration": {
          "type": "string",
          "format": "TimeSpan"
        },
        "outcome": {
          "enum": [
            "cleanupFailure",
            "failure",
            "success",
            "timeout",
            "warning",
            "disconnect",
            "nonInfrastructureFailure",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.MachineManagement.WebApi.MachineRequestOutcome"
          }
        },
        "outputs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queuedDuration": {
          "type": "string",
          "format": "TimeSpan"
        },
        "runDuration": {
          "type": "string",
          "format": "TimeSpan"
        },
        "setupDuration": {
          "type": "string",
          "format": "TimeSpan"
        }
      }
    },
    "MachineRequestType": {
      "type": "object",
      "properties": {
        "allowMultipleRequestsOfTypePerHost": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        }
      }
    },
    "PropertiesCollection": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Implements ICollection<KeyValuePair<String,Object>>.Count/>",
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RequestStateData": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "instanceName": {
          "type": "string"
        },
        "result": {
          "$ref": "#/definitions/MachineRequestResult"
        },
        "state": {
          "enum": [
            "start",
            "finish"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.MachineManagement.WebApi.RequestState"
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}