{
  "swagger": "2.0",
  "info": {
    "title": "MarketingPreferences",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "marketingPreferences"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/marketingpreferences/marketingpreferences": {
      "get": {
        "tags": [
          "marketingPreferences"
        ],
        "summary": "GetMarketingPreferences",
        "description": "",
        "operationId": "getMarketingPreferences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contactPoints",
            "description": "",
            "required": true,
            "type": "string",
            "format": "array (string)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "items": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "marketingPreferences"
        ],
        "summary": "SetMarketingPreferences",
        "description": "Sets marketing preference of a given user",
        "operationId": "setMarketingPreferences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contactPoint",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "canContact",
            "description": "",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "country",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean",
              "items": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}