{
  "swagger": "2.0",
  "info": {
    "title": "Maven",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "metadata"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feed}/maven/metadata/{groupId}/{artifactId}/{version}/{fileName}": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "GetPackageMetadata",
        "description": "",
        "operationId": "getPackageMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "artifactId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includePom",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MavenPackage"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "MavenPackage": {
      "type": "object",
      "properties": {
        "artifactId": {
          "type": "string"
        },
        "artifactIndex": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "artifactMetadata": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "files": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "groupId": {
          "type": "string"
        },
        "pom": {
          "$ref": "#/definitions/MavenPomMetadata"
        },
        "requestedFile": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "snapshotMetadata": {
          "$ref": "#/definitions/ReferenceLink"
        },
        "version": {
          "type": "string"
        },
        "versions": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "versionsIndex": {
          "$ref": "#/definitions/ReferenceLink"
        }
      }
    },
    "MavenPomCi": {
      "type": "object",
      "properties": {
        "notifiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomCiNotifier"
          }
        },
        "system": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MavenPomCiNotifier": {
      "type": "object",
      "properties": {
        "configuration": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sendOnError": {
          "type": "string"
        },
        "sendOnFailure": {
          "type": "string"
        },
        "sendOnSuccess": {
          "type": "string"
        },
        "sendOnWarning": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "MavenPomDependency": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MavenPomGav"
        }
      ],
      "properties": {
        "optional": {
          "type": "boolean"
        },
        "scope": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "MavenPomDependencyManagement": {
      "type": "object",
      "properties": {
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomDependency"
          }
        }
      }
    },
    "MavenPomGav": {
      "type": "object",
      "properties": {
        "artifactId": {
          "type": "string"
        },
        "groupId": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "MavenPomIssueManagement": {
      "type": "object",
      "properties": {
        "system": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MavenPomLicense": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MavenPomOrganization"
        }
      ],
      "properties": {
        "distribution": {
          "type": "string"
        }
      }
    },
    "MavenPomMailingList": {
      "type": "object",
      "properties": {
        "archive": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "otherArchives": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "post": {
          "type": "string"
        },
        "subscribe": {
          "type": "string"
        },
        "unsubscribe": {
          "type": "string"
        }
      }
    },
    "MavenPomMetadata": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MavenPomGav"
        }
      ],
      "properties": {
        "ciManagement": {
          "$ref": "#/definitions/MavenPomCi"
        },
        "contributors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomPerson"
          }
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomDependency"
          }
        },
        "dependencyManagement": {
          "$ref": "#/definitions/MavenPomDependencyManagement"
        },
        "description": {
          "type": "string"
        },
        "developers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomPerson"
          }
        },
        "inceptionYear": {
          "type": "string"
        },
        "issueManagement": {
          "$ref": "#/definitions/MavenPomIssueManagement"
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomLicense"
          }
        },
        "mailingLists": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MavenPomMailingList"
          }
        },
        "modelVersion": {
          "type": "string"
        },
        "modules": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "organization": {
          "$ref": "#/definitions/MavenPomOrganization"
        },
        "packaging": {
          "type": "string"
        },
        "parent": {
          "$ref": "#/definitions/MavenPomParent"
        },
        "prerequisites": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scm": {
          "$ref": "#/definitions/MavenPomScm"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MavenPomOrganization": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MavenPomParent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MavenPomGav"
        }
      ],
      "properties": {
        "relativePath": {
          "type": "string"
        }
      }
    },
    "MavenPomPerson": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "organizationUrl": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timezone": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MavenPomScm": {
      "type": "object",
      "properties": {
        "connection": {
          "type": "string"
        },
        "developerConnection": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLink": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging": "Grants the ability to read feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}