{
  "swagger": "2.0",
  "info": {
    "title": "Maven",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "api"
    },
    {
      "name": "v1"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "pat": {
      "type": "basic",
      "description": "Personal access token"
    }
  },
  "security": [
    {
      "pat": []
    }
  ], 
  "paths": {
    "/_packaging/{feed}/maven/api/v1/{groupId}/{artifactId}/{version}/{fileName}": {
      "get": {
        "tags": [
          "api"
        ],
        "summary": "PackageInfo",
        "description": "",
        "operationId": "packageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "artifactId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "version",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/mavenPackage"
            }
          }
        }
      }
    },
    "/_packaging/{feed}/maven/v1/{path}": {
      "put": {
        "tags": [
          "v1"
        ],
        "summary": "PackageUpload",
        "description": "",
        "operationId": "packageUpload",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feed",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/mavenPackage"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "mavenPackage": {
      "type": "object",
      "properties": {
        "_info": {
          "type": "string"
        },
        "_links": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "artifactId": {
          "type": "string"
        },
        "groupId": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}