{
  "swagger": "2.0",
  "info": {
    "title": "Migration",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "deploymentInformation"
    },
    {
      "name": "sasTokenRequest"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
  },
  "definitions": {
    "DeploymentInformation": {
      "type": "object",
      "properties": {
        "outboundVIPs": {
          "description": "List of all IP Addresses the current deployment could use when establishing outbound connections. When executing in PaaS, this will be a single VIP When executing inside ServiceFabric, this will contain every VIP currently active in the cluster",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasTokenInfo": {
      "type": "object",
      "properties": {
        "expiration": {
          "type": "string",
          "format": "TimeSpan"
        },
        "permissions": {
          "enum": [
            "none",
            "read",
            "write",
            "delete",
            "list",
            "add",
            "create",
            "verify",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Cloud.SasRequestPermissions"
          }
        },
        "resourceUri": {
          "type": "string"
        },
        "sasToken": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}