{
  "swagger": "2.0",
  "info": {
    "title": "MySubscriptions",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "mySubscriptions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/mysubscriptions/activatesubscription": {
      "post": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "ActivateSubscription",
        "description": "",
        "operationId": "activateSubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BeansActivationModel"
            }
          },
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "mkt",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ActivationMessageModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/addalternateidforpuid": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "AddAlternateIdForPuid",
        "description": "",
        "operationId": "addAlternateIdForPuid",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "alternateId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "LocalizedStaticPageElement"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/completetransfer": {
      "post": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "CompleteTransfer",
        "description": "",
        "operationId": "completeTransfer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionModel"
            }
          },
          {
            "in": "query",
            "name": "oldIdentity",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "newIdentity",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "transferTokenId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CompleteTransferModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/getmysubscriptionsmodel": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "GetMySubscriptionsModel",
        "description": "",
        "operationId": "getMySubscriptionsModel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "mkt",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MySubscriptionsModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/getsubscription": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "GetSubscription",
        "description": "",
        "operationId": "getSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "transferTokenId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SubscriptionModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/initiatetransfer": {
      "post": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "InitiateTransfer",
        "description": "",
        "operationId": "initiateTransfer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionModel"
            }
          },
          {
            "in": "query",
            "name": "oldIdentity",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "newIdentity",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransferTokenModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/optindevessentials": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "OptInDevEssentials",
        "description": "",
        "operationId": "optInDevEssentials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "mkt",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MySubscriptionsModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/optoutdevessentials": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "OptOutDevEssentials",
        "description": "",
        "operationId": "optOutDevEssentials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "mkt",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MySubscriptionsModel"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/ping": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "Ping",
        "description": "",
        "operationId": "ping",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/redirect": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "Redirect",
        "description": "",
        "operationId": "redirect",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "auth_redirect",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        }
      }
    },
    "/_apis/mysubscriptions/removealternateidfrompuid": {
      "get": {
        "tags": [
          "mySubscriptions"
        ],
        "summary": "RemoveAlternateIdFromPuid",
        "description": "",
        "operationId": "removeAlternateIdFromPuid",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "upn",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "LocalizedStaticPageElement"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActionMessageModel": {
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string"
        },
        "messageType": {
          "enum": [
            "default",
            "valid",
            "invalid"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.ActionMessageType"
          }
        }
      }
    },
    "ActionProperty": {
      "type": "object",
      "properties": {
        "actionKey": {
          "type": "string"
        },
        "actionValue": {
          "type": "string"
        }
      }
    },
    "ActivationKeyModel": {
      "type": "object",
      "properties": {
        "claimedDate": {
          "type": "string",
          "format": "date-time"
        },
        "claimedDateInTicks": {
          "type": "integer",
          "format": "int64"
        },
        "keyStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string"
        },
        "productKeyIds": {
          "type": "string"
        }
      }
    },
    "ActivationMessageModel": {
      "type": "object",
      "properties": {
        "defaultMessageValue": {
          "type": "string"
        },
        "staticPageElement": {
          "enum": [
            "none",
            "error_Default",
            "error_NoSubscriptionFound",
            "error_UnableToLoadBenefits",
            "error_UnableToLoadSearch",
            "error_InitiateTransferSubscription",
            "error_CompleteTransferSubscription",
            "error_NotAuthorized",
            "error_PrivateBrowsingMode",
            "mySubscriptions_NoChangesMade",
            "mySubscriptions_ChangeLogin",
            "mySubscriptions_ChooseTemporaryPassphrase",
            "mySubscriptions_PassphraseNote",
            "mySubscriptions_DisclaimerNote",
            "mySubscriptions_PassphraseNoMatch",
            "mySubscriptions_StartOver",
            "mySubscriptions_InvalidEmailAddress",
            "shared_ActivationKey_Warning",
            "downloads_DetailTab_ActivationKey",
            "downloads_DetailTab_Detail",
            "downloads_DetailTab_DirectDownload",
            "downloads_DetailTab_FileName",
            "downloads_DetailTab_GetKey",
            "downloads_DetailTab_NoKey",
            "downloads_DetailTab_Share",
            "downloads_DownloadResult",
            "downloads_NoFileDetails",
            "downloads_Release_Date",
            "downloads_Released",
            "downloads_ProductType",
            "downloads_All",
            "shared_SorryFor",
            "downloads_Sorry",
            "shared_SearchTips",
            "shared_SpellCorrect",
            "shared_TryDifferent",
            "downloads_CheckProduct",
            "downloads_FreeProducts",
            "downloads_NoResults",
            "downloads_DownloadPreferences",
            "downloads_Architecture",
            "downloads_FileType",
            "shared_ActivationKey_Key",
            "shared_ActivationKey_Claimed",
            "shared_ActivationKey_Note",
            "shared_ActivationKey_ZeroKeyRemaining",
            "shared_ActivationKey_ClaimKey",
            "shared_ActivationKey_ProductKey",
            "downloads_ResultCount",
            "downloads_OneResult",
            "downloads_GetItNow",
            "downloads_Discontinued",
            "productKeys_Product",
            "productKeys_ProductKeys",
            "productKeys_Type",
            "productKeys_ExportAllKeys",
            "shared_SupportInfo",
            "shared_EmailAddress",
            "shared_SubscriberID",
            "shared_HighlightedFieldsRequired",
            "mySubscriptions_Label_FirstName",
            "mySubscriptions_Label_LastName",
            "mySubscriptions_Label_EmailAddress",
            "mySubscriptions_Label_SubscriptionId",
            "mySubscriptions_Label_Cancel",
            "mySubscriptions_Label_Activate",
            "mySubscriptions_Label_OK",
            "mySubscriptions_HeaderText",
            "mySubscriptions_PromptText",
            "mySubscriptions_GeneralError",
            "mySubscriptions_FailedToActivateError",
            "mySubscriptions_AleadyActivatedError",
            "mySubscriptions_AssignToOtherError",
            "productKeys_NoKeysFound",
            "productKeys_NoPaidSubscription",
            "locale",
            "mySubscriptions_ActivationSucceeded",
            "shared_ActivationKey_ExceedDailyLimitError",
            "benefits_DevEssentialsOptInHdr",
            "shared_DevEssentialsOptInBodyWithoutPaidSubs",
            "mySubscriptions_DevEssentialsOptInHdr",
            "mySubscriptions_DevEssentialsOptInBody",
            "mySubscriptions_DevEssentialsOptOutHdr",
            "mySubscriptions_DevEssentialsOptOutBody",
            "mySubscriptions_JoinDevEssentialsProgram",
            "mySubscriptions_ActivateNewSubscription",
            "shared_NoSubscriptionsFoundMsg",
            "mySubscriptions_NoSubscriptionsFoundHdr",
            "benefits_NoSubscriptionsFoundHdr",
            "downloads_NoSubscriptionsFoundHdr",
            "productKeys_NoSubscriptionsFoundHdr",
            "benefits_SubscriptionsPickerLabel",
            "benefits_OptInConfirmButton",
            "mySubscriptions_OptInConfirmButton",
            "benefits_OptInCancelButton",
            "mySubscriptions_OptInCancelButton",
            "benefits_OptOutConfirmButton",
            "mySubscriptions_OptOutConfirmButton",
            "benefits_OptOutCancelButton",
            "mySubscriptions_OptOutCancelButton",
            "benefits_EmbeddedCouponCodeHdr",
            "benefits_EmbeddedCouponCodeMessage",
            "benefits_VisibleCouponCodeStep1",
            "benefits_VisibleCouponCodeStep2",
            "benefits_ErrorCouponCodeHdr",
            "benefits_ErrorCouponCodeMessage",
            "shared_CopyToClipboardTitle",
            "benefits_New",
            "benefits_GettingReady",
            "mySubscriptions_Activation_ErrorHeader",
            "mySubscriptions_Activation_SuccessHeader",
            "mySubscriptions_ValidThrough_AutoRenew",
            "mySubscriptions_ValidThrough_Perpetual",
            "mySubscriptions_ValidThrough_FTE",
            "mySubscriptions_Label_Type",
            "mySubscriptions_Label_ValidThrough",
            "shared_DevEssentialsOptInBodyWithPaidSubs",
            "mySubscriptions_SupportInformation",
            "mySubscriptions_SupportInformation_Subscription",
            "mySubscriptions_SupportInformation_Type",
            "mySubscriptions_SupportInformation_PurchasedDate",
            "mySubscriptions_SupportInformation_AssignedDate",
            "mySubscriptions_SupportInformation_ActivatedDate",
            "mySubscriptions_SupportInformation_ValidThrough",
            "mySubscriptions_SupportInformation_AdminContactInfo",
            "mySubscriptions_SupportInformation_ActivationInfo",
            "mySubscriptions_SupportInformation_SignInAddress",
            "mySubscriptions_SupportInformation_PreviousSignIn",
            "mySubscriptions_SupportInformation_SubscriptionId",
            "shared_Button_Close",
            "shared_CTA_OptInDevEssentials",
            "shared_Button_OK",
            "shared_Button_Accept",
            "shared_Button_Cancel",
            "mySubscriptions_LeaveProgram",
            "mySubscriptions_ViewAlternateAccount",
            "mySubscriptions_AlternateIdHdr",
            "mySubscriptions_AlternateIdMsg",
            "mySubscriptions_AlternateIdLabel",
            "getStarted_DuringMigration",
            "getStarted_WelcomeTitle",
            "getStarted_WelcomeBody",
            "getStarted_GoToBenefitsButton",
            "shared_GoToWelcomePage",
            "benefits_GetCode",
            "benefits_ViewCode",
            "productKeys_StaticKey",
            "productKeys_CustomKey",
            "productKeys_MultipleActivationKey",
            "productKeys_NoKeysAvailable",
            "shared_ActivationKey_KeyRemaining",
            "mySubscriptions_ChangeSigninLink",
            "shared_Step",
            "mySubscriptions_TransferStep1",
            "mySubscriptions_TransferStep2",
            "mySubscriptions_TransferStep3",
            "mySubscriptions_TransferStep4",
            "mySubscriptions_TransferStep5",
            "mySubscriptions_TransferStep6",
            "mySubscriptions_TransferCancel",
            "getStarted_WelcomeVideo",
            "downloads_DownloadDisabled",
            "shared_LoadingPleaseWait",
            "shared_UpdateSearchResult",
            "shared_ActivatingPleaseWait",
            "mySubscriptions_SubscriptionProgram",
            "mySubscriptions_SubscriptionId",
            "mySubscriptions_Links",
            "mySubscriptions_Button_Next",
            "mySubscriptions_Button_Finish",
            "mySubscriptions_Note",
            "mySubscriptions_Button_Signout",
            "shared_ClaimingKeyPleaseWait",
            "mySubscriptions_SupportInformation_UserId",
            "mySubscriptions_Subscriptions",
            "downloads_LoadingDetails",
            "mySubscriptions_RetailRenewalPeriodOver",
            "mySubscriptions_RetailRenewalNotEligible",
            "mySubscriptions_RetailActivationIdAlreadyActivated",
            "mySubscriptions_RetailInvalidActivationId",
            "mySubscriptions_RetailActivationHdr",
            "mySubscriptions_RetailActivationMsg",
            "mySubscriptions_RetailActivationExample",
            "mySubscriptions_RetailActivationWarning",
            "mySubscriptions_RetailActivationCodeEntryError",
            "mySubscriptions_Renew",
            "shared_Tenants_Picker_Label",
            "mySubscriptions_RelatedLinks",
            "mySubscriptions_ActivateRetailSubscription",
            "mySubscriptions_AddAlternateLinkId",
            "mySubscriptions_SupportInformation_Channel",
            "mySubscriptions_SupportInformation_Program",
            "mySubscriptions_MissingOrInvalidAlternateId",
            "mySubscriptions_AlternateId_SuccessfulMessage",
            "mySubscriptions_AlternateId_GeneralError",
            "mySubscriptions_ViewOrUpdateAlternateLinkId",
            "mySubscriptions_RemoveAlternateLinkId",
            "mySubscriptions_AlternateIdDialog_Title",
            "mySubscriptions_AlternateIdDialog_Description",
            "shared_AddButton",
            "mySubscriptions_AlternateId_RemoveDescription",
            "shared_ConfirmButton",
            "shared_CTA_ScheduledMaintenance",
            "shared_UpdateButton",
            "mySubscriptions_UpdateOrViewDescription",
            "mySubscriptions_UpdatingAlternateAccount",
            "shared_BatchExportKeys",
            "shared_ExportingBatchKeys",
            "shared_ViewBatchKeys",
            "shared_ViewBatchDialog_Title",
            "shared_ViewBatchDialog_ExportButton",
            "mySubscriptions_CompleteTransfer_Failed",
            "mySubscriptions_CompleteTransfer_InvalidIPAddress",
            "mySubscriptions_CompleteTransfer_InvalidToUserIdentity",
            "mySubscriptions_CompleteTransfer_InvalidFromUserIdentity",
            "mySubscriptions_CompleteTransfer_InvalidToEmailAddress",
            "mySubscriptions_CompleteTransfer_InvalidFromEmailAddress",
            "mySubscriptions_CompleteTransfer_IdentitiesAreTheSame",
            "mySubscriptions_CompleteTransfer_ExpiredToken",
            "mySubscriptions_SupportInformation_AccountID",
            "mySubscriptions_SupportInformation_CompanyName",
            "mySubscriptions_SupportInformation_Department",
            "mySubscriptions_SupportInformation_BenefitAccessNumber",
            "mySubscriptions_SupportInformation_SubscriberID",
            "productKeys_AddKeys_Link",
            "productKeys_KeyOverrideDialog_Description",
            "productKeys_KeyOverrideDialog_Keys",
            "productKeys_KeyOverrideDialog_AddComment",
            "productKeys_KeyOverrideDialog_AddToSubscriptionLevel",
            "productKeys_KeyOverrideDialog_Error_CannotOverrideToLessThanClaimed",
            "shared_BackButton",
            "shared_GeneralError",
            "productKeys_KeyOverrideDialog_Error_UnableToFindProductKey",
            "productKeys_KeyOverrideDialog_Error_NotRetailKey",
            "shared_ProductKeyLink",
            "mySubscriptions_If_Your_VSS_Has_Recently_Been_Migrated",
            "mySubscriptions_Still_Have_Trouble",
            "shared_Viewing_Person_Label",
            "shared_SameSignInCredentials",
            "mySubscriptions_WhereIsMySubscription",
            "mySubscriptions_CannotFindYourOtherSubsc",
            "mySubscriptions_AlternateIdErrorDialog_Description",
            "downloads_Language",
            "shared_Button_Download",
            "benefits_Banner_Available_Now",
            "mySubscriptions_ActivateRetailSubscriptionInfo",
            "mySubscriptions_AlternateLinkInfo",
            "mySubscriptions_RetailNoMatchingProductFound",
            "mySubscriptions_RetailDefaultError",
            "error_PageTitle",
            "error_UnableToLoadProductKey",
            "error_UnableToLoadMySubscriptions",
            "error_RetailInternal",
            "error_UnableToLoadContent",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedStaticPageElement"
          }
        }
      }
    },
    "AddCouponCodeTypeModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        }
      }
    },
    "AdminContactInfoModel": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "AlternateIdToPuidMappingModel": {
      "type": "object",
      "properties": {
        "alternateId": {
          "type": "string"
        },
        "puid": {
          "type": "string"
        },
        "showAlternateLink": {
          "type": "boolean"
        }
      }
    },
    "BeansActivationModel": {
      "type": "object",
      "properties": {
        "benefitAccessNumber": {
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        }
      }
    },
    "BenefitModel": {
      "type": "object",
      "properties": {
        "activationCouponCodeLink": {
          "type": "string"
        },
        "activationLinkText": {
          "type": "string"
        },
        "benefitId": {
          "type": "string"
        },
        "categoryId": {
          "type": "string",
          "format": "uuid"
        },
        "couponCode": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32"
        },
        "group": {
          "type": "string"
        },
        "hasCouponCode": {
          "type": "boolean"
        },
        "identifier": {
          "type": "string"
        },
        "isHighlighted": {
          "type": "boolean"
        },
        "isNew": {
          "type": "boolean"
        },
        "newEndDate": {
          "type": "string",
          "format": "date-time"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitResourceModel"
          }
        },
        "subscriptionLevelBenefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionLevelBenefitModel"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "templateName": {
          "type": "string"
        },
        "templateType": {
          "enum": [
            "default",
            "benefitWithEmbeddedRedemptionCode",
            "benefitWithVisibleRedemptionCode"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.BenefitTemplateType"
          }
        },
        "tileContent": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "BenefitResourceModel": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "none",
            "link",
            "image",
            "text"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.BenefitResourceType"
          }
        },
        "tokenName": {
          "type": "string"
        }
      }
    },
    "BenefitsViewModel": {
      "type": "object",
      "properties": {
        "articles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedArticleModel"
          }
        },
        "banner": {
          "$ref": "#/definitions/LocalizedBannerModel"
        },
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitModel"
          }
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedCategoryModel"
          }
        },
        "defaultSubscriptionGuid": {
          "type": "string",
          "format": "uuid"
        },
        "showTopBarMessage": {
          "type": "boolean"
        },
        "showWelcomeExperience": {
          "type": "boolean"
        },
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        }
      }
    },
    "BenefitUsageChangeModel": {
      "type": "object",
      "properties": {
        "benefitUsagesToUpdate": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitUsageModel"
          }
        }
      }
    },
    "BenefitUsageModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "pinnedColumn": {
          "type": "integer",
          "format": "int32"
        },
        "pinnedRow": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "enum": [
            "default",
            "claimed",
            "activated",
            "expired"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.BenefitUsageStatus"
          }
        }
      }
    },
    "CategoryBenefitModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "categoryId": {
          "type": "string",
          "format": "uuid"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClaimCouponCodeResultModel": {
      "type": "object",
      "properties": {
        "benefit": {
          "$ref": "#/definitions/BenefitModel"
        },
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        }
      }
    },
    "CompleteTransferModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        }
      }
    },
    "ContentArticleModel": {
      "type": "object",
      "properties": {
        "articleModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedArticleModel"
          }
        },
        "logoImageModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogoImageModel"
          }
        },
        "subscriptionLevelModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionLevelModel"
          }
        }
      }
    },
    "ContentBannerModel": {
      "type": "object",
      "properties": {
        "bannerModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedBannerModel"
          }
        },
        "subscriptionLevelModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionLevelModel"
          }
        }
      }
    },
    "ContentCategoryBenefitModel": {
      "type": "object",
      "properties": {
        "categoryBenefitModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryBenefitModel"
          }
        },
        "categoryModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedCategoryModel"
          }
        }
      }
    },
    "ContentCategoryModel": {
      "type": "object",
      "properties": {
        "categoryModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedCategoryModel"
          }
        },
        "subscriptionLevelModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionLevelModel"
          }
        }
      }
    },
    "ContentErrorsModel": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContentImagesModel": {
      "type": "object",
      "properties": {
        "imageModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogoImageModel"
          }
        }
      }
    },
    "ContentStageModel": {
      "type": "object",
      "properties": {
        "lastModifiedBy": {
          "type": "string"
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "stage": {
          "enum": [
            "legacy",
            "past",
            "present",
            "future"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.ContentStage"
          }
        }
      }
    },
    "CouponCodeBatchModel": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "string",
          "format": "uuid"
        },
        "batchName": {
          "type": "string"
        },
        "couponCodeTypeName": {
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "numberOfCouponCodesInitiallyUploaded": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfCouponCodesRemaining": {
          "type": "integer",
          "format": "int32"
        },
        "uploadDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CouponCodeMappingModel": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "string",
          "format": "uuid"
        },
        "couponCodeTypeName": {
          "type": "string"
        },
        "tableName": {
          "type": "string"
        }
      }
    },
    "CouponCodeTypeModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "claimed": {
          "type": "integer",
          "format": "int32"
        },
        "couponCodeBatchModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CouponCodeBatchModel"
          }
        },
        "couponCodeTypeName": {
          "type": "string"
        },
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "remaining": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "enum": [
            "default",
            "valid",
            "warning",
            "error"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.CouponCodeTypeStatus"
          }
        },
        "threshold": {
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string"
        },
        "uploadDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CouponCodeViewModel": {
      "type": "object",
      "properties": {
        "couponCodeTypeModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CouponCodeTypeModel"
          }
        }
      }
    },
    "CSSAuditingModel": {
      "type": "object",
      "properties": {
        "actionBy": {
          "type": "string"
        },
        "actionTimeStamp": {
          "type": "string",
          "format": "date-time"
        },
        "auditActionType": {
          "enum": [
            "default",
            "initiateTransfer",
            "completeTransfer",
            "cancelSubscription",
            "renewSubscription",
            "extendSubscription",
            "activateSubscription",
            "startImpersonation",
            "stopImpersonation",
            "claimNewKey",
            "claimNewCouponCode",
            "downloadProduct",
            "optInDevEssential",
            "optOutDevEssential",
            "addAlternateId",
            "removeAlternateId",
            "overrideProductKey",
            "createSubscription"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AuditActionType"
          }
        },
        "propertyBag": {
          "$ref": "#/definitions/CSSAuditingPropertyBag"
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        },
        "userType": {
          "enum": [
            "default",
            "customer",
            "support",
            "impersonation"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AuditUserType"
          }
        }
      }
    },
    "CSSAuditingPropertyBag": {
      "type": "object",
      "properties": {
        "actionProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionProperty"
          }
        }
      }
    },
    "DownloadModel": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ErrorsModel": {
      "type": "object",
      "properties": {
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        }
      }
    },
    "ExportLocalizationModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "contentType": {
          "enum": [
            "default",
            "tiles",
            "pageElements",
            "categories",
            "articles",
            "banners"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizationContentType"
          }
        },
        "locVersion": {
          "type": "boolean"
        },
        "selectedLocale": {
          "type": "string"
        }
      }
    },
    "FileDetailModel": {
      "type": "object",
      "properties": {
        "architecture": {
          "type": "string"
        },
        "fileDescription": {
          "type": "string"
        },
        "fileId": {
          "type": "integer",
          "format": "int32"
        },
        "fileName": {
          "type": "string"
        },
        "fileType": {
          "type": "string"
        },
        "fileTypeCode": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isReleasePreview": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "languageName": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "productFamily": {
          "type": "string"
        },
        "productId": {
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "type": "string"
        },
        "releaseDate": {
          "type": "string",
          "format": "date-time"
        },
        "sha1": {
          "type": "string"
        },
        "size": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "GetStartedModel": {
      "type": "object",
      "properties": {
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        }
      }
    },
    "GroupedProductActivationModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "productActivationGroupedByKeyGuid": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/KeyGuidModel"
          }
        },
        "productFileDetail": {
          "$ref": "#/definitions/ProductFileModel"
        },
        "staticKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticKeyModel"
          }
        },
        "trialDownloadMessage": {
          "type": "string"
        }
      }
    },
    "KeyGuidModel": {
      "type": "object",
      "properties": {
        "productActivationModelBySubscriptionGuid": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ProductActivationModel"
          }
        },
        "productKeyMetaData": {
          "$ref": "#/definitions/ProductKeyMetaDataModel"
        }
      }
    },
    "KeyOverrideResultModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "increasedNumberOfKeys": {
          "type": "integer",
          "format": "int32"
        },
        "isSuccessful": {
          "type": "boolean"
        }
      }
    },
    "KeyRetrievalModel": {
      "type": "object",
      "properties": {
        "keyGuid": {
          "type": "string",
          "format": "uuid"
        },
        "keyRetrievalId": {
          "type": "integer",
          "format": "int32"
        },
        "maxProductKeys": {
          "type": "integer",
          "format": "int32"
        },
        "productId": {
          "type": "integer",
          "format": "int32"
        },
        "productKeyBatchSize": {
          "type": "integer",
          "format": "int32"
        },
        "productKeyDescription": {
          "type": "string"
        },
        "productKeyNote": {
          "type": "string"
        },
        "productKeyType": {
          "type": "string"
        },
        "productKeyTypeValue": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "staticKeyNote": {
          "type": "string"
        }
      }
    },
    "LocaleModel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "LocalizedArticleModel": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "hyperlinkText": {
          "type": "string"
        },
        "imageData": {
          "type": "string"
        },
        "imageName": {
          "type": "string"
        },
        "subscriptionLevel": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "LocalizedBannerModel": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "layoutName": {
          "type": "string"
        },
        "link1": {
          "type": "string"
        },
        "link2": {
          "type": "string"
        },
        "subscriptionLevelId": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "LocalizedCategoryModel": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "string",
          "format": "uuid"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32"
        },
        "isHidden": {
          "type": "boolean"
        },
        "subscriptionLevelId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "LocalizedMastheadFooterModel": {
      "type": "object",
      "properties": {
        "footerHtmlString": {
          "type": "string"
        },
        "mastheadHtmlString": {
          "type": "string"
        },
        "signoutUrl": {
          "type": "string"
        }
      }
    },
    "LocalizedStaticPageElementsModel": {
      "type": "object",
      "properties": {
        "locale": {
          "type": "string"
        },
        "localizedContents": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LocalizedTileResourceModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        },
        "tileResourceType": {
          "enum": [
            "invalid",
            "link",
            "text",
            "couponCodeEmbeddedLink",
            "image",
            "linkText",
            "logoImage",
            "couponCodeEmbeddedLinkText",
            "couponCodeVisibleLink",
            "couponCodeVisibleLinkText"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.TileResourceType"
          }
        },
        "token": {
          "type": "string"
        }
      }
    },
    "LogoImageModel": {
      "type": "object",
      "properties": {
        "imageData": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ManageProductFileModel": {
      "type": "object",
      "properties": {
        "architectureCode": {
          "type": "string"
        },
        "availabilityStatusCode": {
          "enum": [
            "default",
            "act",
            "del",
            "ina",
            "pnd"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AvailabilityStatus"
          }
        },
        "blockedIds": {
          "type": "string"
        },
        "crc": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fileSize": {
          "type": "integer",
          "format": "int64"
        },
        "languageCode": {
          "type": "string"
        },
        "mediaCode": {
          "type": "string"
        },
        "message": {
          "$ref": "#/definitions/ActionMessageModel"
        },
        "noteId": {
          "type": "string"
        },
        "partNumber": {
          "type": "string"
        },
        "postedDate": {
          "type": "string",
          "format": "date-time"
        },
        "productId": {
          "type": "string"
        },
        "publisherKey": {
          "type": "string"
        },
        "roqId": {
          "type": "integer",
          "format": "int64"
        },
        "sha1Hash": {
          "type": "string"
        },
        "sourceFileName": {
          "type": "string"
        },
        "targetName": {
          "type": "string"
        },
        "typeCode": {
          "type": "string"
        }
      }
    },
    "ManageProductFileResultModel": {
      "type": "object",
      "properties": {
        "errors": {
          "$ref": "#/definitions/ContentErrorsModel"
        },
        "productFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManageProductFileModel"
          }
        }
      }
    },
    "MySubscriptionsModel": {
      "type": "object",
      "properties": {
        "alternateIdForPuid": {
          "$ref": "#/definitions/AlternateIdToPuidMappingModel"
        },
        "enableRetailSubscriptions": {
          "type": "boolean"
        },
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        }
      }
    },
    "Note": {
      "type": "object",
      "properties": {
        "noteId": {
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "PksResponsePayload": {
      "type": "object",
      "properties": {
        "responsePayload": {
          "type": "string"
        }
      }
    },
    "ProductActivationModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "ipAddress": {
          "type": "string"
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivationKeyModel"
          }
        },
        "productKeyPartNumber": {
          "type": "string"
        },
        "remainingKeys": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductArchitectureDefinition": {
      "type": "object",
      "properties": {
        "architecture": {
          "type": "string"
        },
        "architectureName": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        }
      }
    },
    "ProductFamilyModel": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductModel"
          }
        }
      }
    },
    "ProductFamilyTemplateModel": {
      "type": "object",
      "properties": {
        "benefitLevels": {
          "type": "string"
        },
        "familyStatus": {
          "enum": [
            "default",
            "act",
            "del",
            "ina",
            "pnd"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AvailabilityStatus"
          }
        },
        "familyTitle": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "productStatus": {
          "enum": [
            "default",
            "act",
            "del",
            "ina",
            "pnd"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AvailabilityStatus"
          }
        }
      }
    },
    "ProductFileModel": {
      "type": "object",
      "properties": {
        "dropDownMap": {
          "$ref": "#/definitions/SearchResultDropdowns"
        },
        "fileDetailModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileDetailModel"
          }
        },
        "productId": {
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "type": "string"
        }
      }
    },
    "ProductFileTypeDefinition": {
      "type": "object",
      "properties": {
        "fileTypeCode": {
          "type": "string"
        },
        "fileTypeName": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        }
      }
    },
    "ProductKeyMetaDataModel": {
      "type": "object",
      "properties": {
        "keyId": {
          "type": "integer",
          "format": "int32"
        },
        "productKeyDescription": {
          "type": "string"
        },
        "productKeyNote": {
          "type": "string"
        },
        "productKeyType": {
          "type": "string"
        },
        "productKeyTypeValue": {
          "type": "string"
        }
      }
    },
    "ProductKeyOverrideModel": {
      "type": "object",
      "properties": {
        "benefitDetailGuid": {
          "type": "string",
          "format": "uuid"
        },
        "keyRetrievalGuid": {
          "type": "string",
          "format": "uuid"
        },
        "maxProductKeyCount": {
          "type": "integer",
          "format": "int32"
        },
        "note": {
          "type": "string"
        },
        "productId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductKeyViewModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "groupedProductActivationByProduct": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/GroupedProductActivationModel"
          }
        },
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        }
      }
    },
    "ProductLanguageDefinition": {
      "type": "object",
      "properties": {
        "isDefault": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "languageName": {
          "type": "string"
        }
      }
    },
    "ProductModel": {
      "type": "object",
      "properties": {
        "benefitLevels": {
          "type": "string"
        },
        "familyStatus": {
          "enum": [
            "default",
            "act",
            "del",
            "ina",
            "pnd"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AvailabilityStatus"
          }
        },
        "familyTitle": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "isTrialProduct": {
          "type": "boolean"
        },
        "latestReleaseDate": {
          "type": "string",
          "format": "date-time"
        },
        "message": {
          "$ref": "#/definitions/ActionMessageModel"
        },
        "productId": {
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "type": "string"
        },
        "productStatus": {
          "enum": [
            "default",
            "act",
            "del",
            "ina",
            "pnd"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.AvailabilityStatus"
          }
        }
      }
    },
    "ProgramInformationModel": {
      "type": "object",
      "properties": {
        "gracePeriod": {
          "type": "integer",
          "format": "int32"
        },
        "harPeriod": {
          "type": "integer",
          "format": "int32"
        },
        "program": {
          "type": "string"
        }
      }
    },
    "RetailCancelSubscriptionModel": {
      "type": "object",
      "properties": {
        "cssCancelReasonCode": {
          "enum": [
            "unknown",
            "canceled",
            "notRenewed",
            "other"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.RetailCancelationReason"
          }
        },
        "emailAddress": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "RetailCreateSubscriptionModel": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "subscriptionLevelIdentifier": {
          "type": "string"
        }
      }
    },
    "RetailExtendSubscriptionModel": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time"
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "RetailProductModel": {
      "type": "object",
      "properties": {
        "channelIdEnd": {
          "type": "integer",
          "format": "int32"
        },
        "channelIdStart": {
          "type": "integer",
          "format": "int32"
        },
        "rangeEnd": {
          "type": "integer",
          "format": "int32"
        },
        "rangeStart": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string"
        },
        "subscriptionLevelId": {
          "type": "string"
        }
      }
    },
    "RetailSubscriptionModel": {
      "type": "object",
      "properties": {
        "authorizationCode": {
          "type": "string"
        },
        "error": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "isRenewal": {
          "type": "boolean"
        },
        "subscriptionLevelIdentifier": {
          "type": "string"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        }
      }
    },
    "SearchModel": {
      "type": "object",
      "properties": {
        "searchPreferencesSource": {
          "$ref": "#/definitions/SearchPreferencesSource"
        },
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "staticPageElements": {
          "$ref": "#/definitions/LocalizedStaticPageElementsModel"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          }
        },
        "userSearchPreferences": {
          "$ref": "#/definitions/SearchPreference"
        }
      }
    },
    "SearchPreference": {
      "type": "object",
      "properties": {
        "preferredArchitecture": {
          "type": "string"
        },
        "preferredFileType": {
          "type": "string"
        },
        "preferredLanguage": {
          "type": "string"
        }
      }
    },
    "SearchPreferencesSource": {
      "type": "object",
      "properties": {
        "architectures": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductArchitectureDefinition"
          }
        },
        "fileTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductFileTypeDefinition"
          }
        },
        "languages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductLanguageDefinition"
          }
        }
      }
    },
    "SearchResultArchitecture": {
      "type": "object",
      "properties": {
        "architectureCode": {
          "type": "string"
        },
        "languages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/SearchResultLanguage"
          }
        }
      }
    },
    "SearchResultDropdowns": {
      "type": "object",
      "properties": {
        "architectures": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/SearchResultArchitecture"
          }
        }
      }
    },
    "SearchResultFileType": {
      "type": "object",
      "properties": {
        "fileIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "fileType": {
          "type": "string"
        }
      }
    },
    "SearchResultLanguage": {
      "type": "object",
      "properties": {
        "fileTypes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/SearchResultFileType"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "languageName": {
          "type": "string"
        }
      }
    },
    "SearchResultsGroupedModel": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "productGroupFacetResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchResultsGroupByProduct": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductModel"
          }
        }
      }
    },
    "SignoutModel": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "SiteSettingsModel": {
      "type": "object",
      "properties": {
        "duringImpersonation": {
          "type": "boolean"
        },
        "enableFeaturedBenefitBanner": {
          "type": "boolean"
        },
        "enableIntercom": {
          "type": "boolean"
        },
        "enableRetailSubscriptions": {
          "type": "boolean"
        },
        "intercomApiKey": {
          "type": "string"
        },
        "migrationCompleted": {
          "type": "boolean"
        },
        "siteInMaintenanceMode": {
          "type": "boolean"
        }
      }
    },
    "StaticKeyModel": {
      "type": "object",
      "properties": {
        "keyString": {
          "type": "string"
        },
        "staticKeyMetaData": {
          "$ref": "#/definitions/ProductKeyMetaDataModel"
        }
      }
    },
    "SubscriptionCreationResultModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "SubscriptionLevelBenefitModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "subscriptionLevelId": {
          "type": "string"
        }
      }
    },
    "SubscriptionLevelModel": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "subscriptionLevelId": {
          "type": "string"
        }
      }
    },
    "SubscriptionModel": {
      "type": "object",
      "properties": {
        "accountNumber": {
          "type": "string"
        },
        "activatedDate": {
          "type": "string",
          "format": "date-time"
        },
        "adminInfo": {
          "$ref": "#/definitions/AdminContactInfoModel"
        },
        "alternateId": {
          "type": "string"
        },
        "assignedDate": {
          "type": "string",
          "format": "date-time"
        },
        "beansActivationModel": {
          "$ref": "#/definitions/BeansActivationModel"
        },
        "beansEmail": {
          "type": "string"
        },
        "benefitDetailGuid": {
          "type": "string",
          "format": "uuid"
        },
        "channel": {
          "type": "string"
        },
        "companyName": {
          "type": "string"
        },
        "dailyKeyClaimsLeft": {
          "type": "integer",
          "format": "int32"
        },
        "department": {
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date-time"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time"
        },
        "isRenewable": {
          "type": "boolean"
        },
        "isTransferable": {
          "type": "boolean"
        },
        "levelDescription": {
          "type": "string"
        },
        "levelIdentifier": {
          "type": "string"
        },
        "pendingAcceptance": {
          "type": "boolean"
        },
        "programType": {
          "type": "string"
        },
        "puid": {
          "type": "string"
        },
        "purchasedDate": {
          "type": "string",
          "format": "date-time"
        },
        "renewalLink": {
          "type": "string"
        },
        "shipToCountryId": {
          "type": "integer",
          "format": "int32"
        },
        "signInAddress": {
          "type": "string"
        },
        "signInHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransferHistoryModel"
          }
        },
        "startDate": {
          "type": "string",
          "format": "date-time"
        },
        "subscriptionBeansId": {
          "type": "string"
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        },
        "subscriptionId": {
          "type": "integer",
          "format": "int64"
        },
        "validThroughType": {
          "enum": [
            "notDefined",
            "date",
            "autoRenew",
            "perpetual",
            "fte"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.ValidThroughType"
          }
        }
      }
    },
    "SupportResponseModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "permissionLevel": {
          "enum": [
            "none",
            "csvt",
            "retail",
            "impersonation"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.CSSAccessPermission"
          }
        },
        "siteSettings": {
          "$ref": "#/definitions/SiteSettingsModel"
        },
        "subModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SupportSubscriptionModel"
          }
        }
      }
    },
    "SupportSearchModel": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "SupportSubscriptionModel": {
      "type": "object",
      "properties": {
        "assignmentDate": {
          "type": "string"
        },
        "benefitAccessNumber": {
          "type": "string"
        },
        "channel": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "endDate": {
          "type": "string"
        },
        "expiryDate": {
          "type": "string"
        },
        "programType": {
          "type": "string"
        },
        "propertyBag": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startDate": {
          "type": "string"
        },
        "subscriptionGuid": {
          "type": "string",
          "format": "uuid"
        },
        "subscriptionLevelId": {
          "type": "string"
        },
        "subscriptionName": {
          "type": "string"
        },
        "subscriptionStatus": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        }
      }
    },
    "TenantListModel": {
      "type": "object",
      "properties": {
        "currentTenantId": {
          "type": "string"
        },
        "tenantModels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TenantModel"
          }
        }
      }
    },
    "TenantModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "TileDetailModel": {
      "type": "object",
      "properties": {
        "benefitId": {
          "type": "string"
        },
        "tileResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedTileResourceModel"
          }
        }
      }
    },
    "TilesModel": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitModel"
          }
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizedCategoryModel"
          }
        },
        "locales": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocaleModel"
          }
        },
        "logoImages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogoImageModel"
          }
        },
        "subscriptionLevels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionLevelModel"
          }
        },
        "templates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TileTemplateModel"
          }
        },
        "templateTokens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TileTemplateTokenModel"
          }
        }
      }
    },
    "TileTemplateModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "pinnedHeight": {
          "type": "integer",
          "format": "int32"
        },
        "pinnedWidth": {
          "type": "integer",
          "format": "int32"
        },
        "templateContent": {
          "type": "string"
        }
      }
    },
    "TileTemplateTokenModel": {
      "type": "object",
      "properties": {
        "templateName": {
          "type": "string"
        },
        "tileResourceType": {
          "enum": [
            "invalid",
            "link",
            "text",
            "couponCodeEmbeddedLink",
            "image",
            "linkText",
            "logoImage",
            "couponCodeEmbeddedLinkText",
            "couponCodeVisibleLink",
            "couponCodeVisibleLinkText"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.TileResourceType"
          }
        },
        "token": {
          "type": "string"
        }
      }
    },
    "TrackedOperationResultModel": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string"
        },
        "correlationId": {
          "type": "string",
          "format": "uuid"
        },
        "modelId": {
          "type": "string"
        },
        "operationName": {
          "type": "string"
        },
        "operationTimestamp": {
          "type": "string",
          "format": "date-time"
        },
        "operationType": {
          "type": "string"
        },
        "partnerId": {
          "type": "string"
        },
        "responseCode": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TransferHistoryModel": {
      "type": "object",
      "properties": {
        "changeDate": {
          "type": "string"
        },
        "previousSignInAddress": {
          "type": "string"
        }
      }
    },
    "TransferTokenModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "enum": [
            "none",
            "error_Default",
            "error_UnableToLoadBenefits",
            "error_NoSubscriptionFound",
            "error_UnableToLoadSearch",
            "error_NotAuthorizedForTool",
            "error_UnableToLoadContent",
            "error_UnableToLoadMySubscriptions",
            "error_PrivateBrowsingMode",
            "error_InitiateTransfer",
            "error_CompleteTransfer",
            "error_UnableToActivateSubscriptionWithBeans",
            "error_UnableToLoadBeansActivation",
            "error_CompleteTransfer_InvalidIPAddress",
            "error_CompleteTransfer_InvalidToUserIdentity",
            "error_CompleteTransfer_InvalidFromUserIdentity",
            "error_CompleteTransfer_InvalidFromEmailAddress",
            "error_CompleteTransfer_InvalidToEmailAddress",
            "error_CompleteTransfer_IdentitiesAreTheSame",
            "error_CompleteTransfer_ExpiredToken",
            "error_RetailInvalidActivationId",
            "error_RetailActivationIdAlreadyActivated",
            "error_RetailRenewalNotEligible",
            "error_RetailRenewalPeriodOver",
            "error_RetailInternal",
            "error_ProductKeys_UnableToFindProductKey",
            "error_ProductKeys_CannotOverrideToLessThanClaimed",
            "error_ProductKeys_NotRetailKey",
            "error_RetailActivationIdValidationFailed",
            "error_CreateSubscription_InvalidEmailAddress",
            "error_CreateSubscription_InvalidSubscripitonLevelId",
            "error_RetailNoMatchingProductFound",
            "error_UnableToLoadProductKey",
            "error_ClaimCouponCode_InvalidBenefitId",
            "error_ClaimCouponCode_InvalidReason",
            "error_ClaimCouponCode_BenefitNotApplicableForSubscription",
            "error_ClaimCouponCode_UnableToClaimCouponCode",
            "error_ClaimCouponCode_SubscriptionIsPendingAcceptance",
            "error_UnableToLoadCouponCode",
            "error_UnableToAddCouponCodeType_InvalidBenefitId",
            "error_UnableToAddCouponCodeType_FailedToAdd",
            "error_TheSpecificKeyIsNotAssociatedWithThisLevel",
            "error_GetKeyFailed",
            "error_GetKeys_CWSServiceException",
            "error_GetKeys_AzureSearchProductKeyException"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.LocalizedError"
          }
        },
        "transferTokenId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "UserClaimKeyModel": {
      "type": "object",
      "properties": {
        "benefitDetailGuid": {
          "type": "string",
          "format": "uuid"
        },
        "keyGuid": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "VersioningModel": {
      "type": "object",
      "properties": {
        "contentStages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContentStageModel"
          }
        },
        "enableContentUpload": {
          "type": "boolean"
        },
        "signInUserPermission": {
          "enum": [
            "none",
            "normal",
            "advanced"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Subscriptions.WebApi.TileEditorAccessPermission"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}