{
  "swagger": "2.0",
  "info": {
    "title": "NameResolution",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "entries"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/nameresolution/entries/{namespace}/{name}": {
      "delete": {
        "tags": [
          "entries"
        ],
        "summary": "DeleteNameResolutionEntry",
        "description": "",
        "operationId": "deleteNameResolutionEntry",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "entries"
        ],
        "summary": "GetNameResolutionEntry",
        "description": "",
        "operationId": "getNameResolutionEntry",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NameResolutionEntry"
            }
          }
        }
      },
      "put": {
        "tags": [
          "entries"
        ],
        "summary": "SetNameResolutionEntry",
        "description": "",
        "operationId": "setNameResolutionEntry",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameResolutionEntry"
            }
          },
          {
            "in": "path",
            "name": "namespace",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "definitions": {
    "NameResolutionEntry": {
      "type": "object",
      "properties": {
        "isEnabled": {
          "type": "boolean"
        },
        "isPrimary": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "tTL": {
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "type": "string",
          "format": "uuid"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}