{
  "swagger": "2.0",
  "info": {
    "title": "Notification",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "batchNotificationOperations"
    },
    {
      "name": "events"
    },
    {
      "name": "eventTypes"
    },
    {
      "name": "subscriptionQuery"
    },
    {
      "name": "subscriptions"
    },
    {
      "name": "subscriptionTemplates"
    },
    {
      "name": "userSettings"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/notification/eventtypes": {
      "get": {
        "tags": [
          "eventTypes"
        ],
        "summary": "ListEventTypes",
        "description": "List available event types for this service. Optionally filter by only event types for the specified publisher.",
        "operationId": "listEventTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "publisherId",
            "description": "Limit to event types for this publisher",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NotificationEventType"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification"
            ]
          }
        ]
      }
    },
    "/_apis/notification/eventtypes/{eventType}": {
      "get": {
        "tags": [
          "eventTypes"
        ],
        "summary": "GetEventType",
        "description": "Get a specific event type.",
        "operationId": "getEventType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "eventType",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationEventType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification"
            ]
          }
        ]
      }
    },
    "/_apis/notification/subscriptionquery": {
      "post": {
        "tags": [
          "subscriptionQuery"
        ],
        "summary": "QuerySubscriptions",
        "description": "Query for subscriptions. A subscription is returned if it matches one or more of the specified conditions.",
        "operationId": "querySubscriptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NotificationSubscription"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification"
            ]
          }
        ]
      }
    },
    "/_apis/notification/subscriptions": {
      "post": {
        "tags": [
          "subscriptions"
        ],
        "summary": "CreateSubscription",
        "description": "Create a new subscription.",
        "operationId": "createSubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationSubscriptionCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationSubscription"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "subscriptions"
        ],
        "summary": "ListSubscriptions",
        "description": "Get a list of subscriptions. If no subscriber is specified, subscriptions for the calling user are returned.",
        "operationId": "listSubscriptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "subscriber",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "queryFlags",
            "description": "",
            "required": false,
            "type": "string",
            "format": "SubscriptionQueryFlags"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NotificationSubscription"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification"
            ]
          }
        ]
      }
    },
    "/_apis/notification/subscriptions/{subscriptionId}": {
      "delete": {
        "tags": [
          "subscriptions"
        ],
        "summary": "DeleteSubscription",
        "description": "Delete a subscription.",
        "operationId": "deleteSubscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "subscriptions"
        ],
        "summary": "GetSubscription",
        "description": "Get a notification subscription by its ID.",
        "operationId": "getSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryFlags",
            "description": "",
            "required": false,
            "type": "string",
            "format": "SubscriptionQueryFlags"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationSubscription"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "subscriptions"
        ],
        "summary": "UpdateSubscription",
        "description": "Update an existing subscription. Depending on the type of subscription and permissions, the caller can update the description, filter settings, channel (delivery) settings and more.",
        "operationId": "updateSubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationSubscriptionUpdateParameters"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NotificationSubscription"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification_write"
            ]
          }
        ]
      }
    },
    "/_apis/notification/Subscriptions/{subscriptionId}/usersettings/{userId}": {
      "put": {
        "tags": [
          "userSettings"
        ],
        "summary": "UpdateSubscriptionUserSettings",
        "description": "Update the specified users' settings for the specified subscription. User settings can only be applied to shared subscriptions, like team subscriptions or default subscriptions. This API is typically used to opt in or out of a shared subscription.",
        "operationId": "updateSubscriptionUserSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionUserSettings"
            }
          },
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user or \"me\" to indicate the calling user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SubscriptionUserSettings"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.notification_write"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "ArtifactFilter": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BaseSubscriptionFilter"
        }
      ],
      "properties": {
        "artifactId": {
          "type": "string"
        },
        "artifactType": {
          "type": "string"
        },
        "artifactUri": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "BaseSubscriptionFilter": {
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "BatchNotificationOperation": {
      "type": "object",
      "properties": {
        "notificationOperation": {
          "enum": [
            "none",
            "suspendUnprocessed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.NotificationOperation"
          }
        },
        "notificationQueryConditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationQueryCondition"
          }
        }
      }
    },
    "EventActor": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required: This is the identity of the user for the specified role.",
          "type": "string",
          "format": "uuid"
        },
        "role": {
          "description": "Required: The event specific name of a role.",
          "type": "string"
        }
      }
    },
    "EventScope": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required: This is the identity of the scope for the type.",
          "type": "string",
          "format": "uuid"
        },
        "type": {
          "description": "Required: The event specific type of a scope.",
          "type": "string"
        }
      }
    },
    "EventsEvaluationResult": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of events evaluated.",
          "type": "integer",
          "format": "int32"
        },
        "matchedCount": {
          "description": "Count of matched events.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExpressionFilterClause": {
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string"
        },
        "index": {
          "description": "The order in which this clause appeared in the filter query",
          "type": "integer",
          "format": "int32"
        },
        "logicalOperator": {
          "description": "Logical Operator 'AND', 'OR' or NULL (only for the first clause in the filter)",
          "type": "string"
        },
        "operator": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ExpressionFilterGroup": {
      "type": "object",
      "properties": {
        "end": {
          "description": "The index of the last FilterClause in this group",
          "type": "integer",
          "format": "int32"
        },
        "level": {
          "description": "Level of the group, since groups can be nested for each nested group the level will increase by 1",
          "type": "integer",
          "format": "int32"
        },
        "start": {
          "description": "The index of the first FilterClause in this group",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExpressionFilterModel": {
      "type": "object",
      "properties": {
        "clauses": {
          "description": "Flat list of clauses in this subscription",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressionFilterClause"
          }
        },
        "groups": {
          "description": "Grouping of clauses in the subscription",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressionFilterGroup"
          }
        },
        "maxGroupLevel": {
          "description": "Max depth of the Subscription tree",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FieldInputValues": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InputValues"
        }
      ],
      "properties": {
        "operators": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      }
    },
    "FieldValuesQuery": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/InputValuesQuery"
        }
      ],
      "properties": {
        "inputValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldInputValues"
          }
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "InputValue": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Any other data about this input",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "displayValue": {
          "description": "The text to show for the display of this value",
          "type": "string"
        },
        "value": {
          "description": "The value to store for this input",
          "type": "string"
        }
      }
    },
    "InputValues": {
      "type": "object",
      "properties": {
        "defaultValue": {
          "description": "The default value to use for this input",
          "type": "string"
        },
        "error": {
          "description": "Errors encountered while computing dynamic values.",
          "$ref": "#/definitions/InputValuesError"
        },
        "inputId": {
          "description": "The id of the input",
          "type": "string"
        },
        "isDisabled": {
          "description": "Should this input be disabled",
          "type": "boolean"
        },
        "isLimitedToPossibleValues": {
          "description": "Should the value be restricted to one of the values in the PossibleValues (True) or are the values in PossibleValues just a suggestion (False)",
          "type": "boolean"
        },
        "isReadOnly": {
          "description": "Should this input be made read-only",
          "type": "boolean"
        },
        "possibleValues": {
          "description": "Possible values that this input can take",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputValue"
          }
        }
      }
    },
    "InputValuesError": {
      "type": "object",
      "properties": {
        "message": {
          "description": "The error message.",
          "type": "string"
        }
      }
    },
    "InputValuesQuery": {
      "type": "object",
      "properties": {
        "currentValues": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputValues": {
          "description": "The input values to return on input, and the result from the consumer on output.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputValues"
          }
        },
        "resource": {
          "description": "Subscription containing information about the publisher/consumer and the current input values",
          "type": "object"
        }
      }
    },
    "ISubscriptionChannel": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      }
    },
    "ISubscriptionFilter": {
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "NotificationEventField": {
      "type": "object",
      "properties": {
        "fieldType": {
          "description": "Gets or sets the type of this field.",
          "$ref": "#/definitions/NotificationEventFieldType"
        },
        "id": {
          "description": "Gets or sets the unique identifier of this field.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of this field.",
          "type": "string"
        },
        "path": {
          "description": "Gets or sets the path to the field in the event object. This path can be either Json Path or XPath, depending on if the event will be serialized into Json or XML",
          "type": "string"
        },
        "supportedScopes": {
          "description": "Gets or sets the scopes that this field supports. If not specified then the event type scopes apply.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NotificationEventFieldType": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the unique identifier of this field type.",
          "type": "string"
        },
        "operatorConstraints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperatorConstraint"
          }
        },
        "operators": {
          "description": "Gets or sets the list of operators that this type supports.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Gets or sets the value definition of this field like the getValuesMethod and template to display in the UI",
          "$ref": "#/definitions/ValueDefinition"
        }
      }
    },
    "NotificationEventPublisher": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "subscriptionManagementInfo": {
          "$ref": "#/definitions/SubscriptionManagement"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "NotificationEventRole": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets an Id for that role, this id is used by the event.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the Name for that role, this name is used for UI display.",
          "type": "string"
        }
      }
    },
    "NotificationEventType": {
      "type": "object",
      "properties": {
        "category": {
          "$ref": "#/definitions/NotificationEventTypeCategory"
        },
        "color": {
          "description": "Gets or sets the color representing this event type. Example: rgb(128,245,211) or #fafafa",
          "type": "string"
        },
        "customSubscriptionsAllowed": {
          "type": "boolean"
        },
        "eventPublisher": {
          "$ref": "#/definitions/NotificationEventPublisher"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NotificationEventField"
          }
        },
        "hasInitiator": {
          "type": "boolean"
        },
        "icon": {
          "description": "Gets or sets the icon representing this event type. Can be a URL or a CSS class. Example: css://some-css-class",
          "type": "string"
        },
        "id": {
          "description": "Gets or sets the unique identifier of this event definition.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of this event definition.",
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationEventRole"
          }
        },
        "supportedScopes": {
          "description": "Gets or sets the scopes that this event type supports",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "description": "Gets or sets the rest end point to get this event type details (fields, fields types)",
          "type": "string"
        }
      }
    },
    "NotificationEventTypeCategory": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the unique identifier of this category.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the friendly name of this category.",
          "type": "string"
        }
      }
    },
    "NotificationQueryCondition": {
      "type": "object",
      "properties": {
        "eventInitiator": {
          "type": "string",
          "format": "uuid"
        },
        "eventType": {
          "type": "string"
        },
        "subscriber": {
          "type": "string",
          "format": "uuid"
        },
        "subscriptionId": {
          "type": "string"
        }
      }
    },
    "NotificationsEvaluationResult": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of generated notifications",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NotificationStatistic": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "hitCount": {
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string"
        },
        "type": {
          "enum": [
            "notificationBySubscription",
            "eventsByEventType",
            "notificationByEventType",
            "eventsByEventTypePerUser",
            "notificationByEventTypePerUser",
            "events",
            "notifications",
            "hourlyRangeStart",
            "hourlyNotificationBySubscription",
            "hourlyEventsByEventTypePerUser",
            "hourlyEvents",
            "hourlyNotifications"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.NotificationStatisticType"
          }
        },
        "user": {
          "$ref": "#/definitions/IdentityRef"
        }
      }
    },
    "NotificationStatisticsQuery": {
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationStatisticsQueryConditions"
          }
        }
      }
    },
    "NotificationStatisticsQueryConditions": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "hitCountMinimum": {
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string"
        },
        "type": {
          "enum": [
            "notificationBySubscription",
            "eventsByEventType",
            "notificationByEventType",
            "eventsByEventTypePerUser",
            "notificationByEventTypePerUser",
            "events",
            "notifications",
            "hourlyRangeStart",
            "hourlyNotificationBySubscription",
            "hourlyEventsByEventTypePerUser",
            "hourlyEvents",
            "hourlyNotifications"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.NotificationStatisticType"
          }
        },
        "user": {
          "$ref": "#/definitions/IdentityRef"
        }
      }
    },
    "NotificationSubscription": {
      "type": "object",
      "properties": {
        "_links": {
          "description": "Links to related resources, APIs, and views for the subscription.",
          "$ref": "#/definitions/ReferenceLinks"
        },
        "adminSettings": {
          "description": "Admin-managed settings for the subscription. Only applies when the subscriber is a group.",
          "$ref": "#/definitions/SubscriptionAdminSettings"
        },
        "channel": {
          "description": "Channel for delivering notifications triggered by the subscription.",
          "$ref": "#/definitions/ISubscriptionChannel"
        },
        "description": {
          "description": "Description of the subscription. Typically describes filter criteria which helps identity the subscription.",
          "type": "string"
        },
        "filter": {
          "description": "Matching criteria for the subscription.",
          "$ref": "#/definitions/ISubscriptionFilter"
        },
        "flags": {
          "description": "Read-only indicators that further describe the subscription.",
          "enum": [
            "none",
            "groupSubscription",
            "contributedSubscription",
            "canOptOut"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionFlags"
          }
        },
        "id": {
          "description": "Subscription identifier.",
          "type": "string"
        },
        "lastModifiedBy": {
          "description": "User that last modified (or created) the subscription.",
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedDate": {
          "description": "Date when the subscription was last modified. If the subscription has not been updated since it was created, this value will indicate when the subscription was created.",
          "type": "string",
          "format": "date-time"
        },
        "permissions": {
          "description": "The permissions the user have for this subscriptions.",
          "enum": [
            "none",
            "view",
            "edit",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionPermissions"
          }
        },
        "scope": {
          "description": "The container in which events must be published from in order to be matched by the subscription. If empty, the scope is the current host (typically an account or project collection). For example, a subscription scoped to project A will not produce notifications for events published from project B.",
          "$ref": "#/definitions/SubscriptionScope"
        },
        "status": {
          "description": "Status of the subscription. Typically indicates whether the subscription is enabled or not.",
          "enum": [
            "jailedByNotificationsVolume",
            "pendingDeletion",
            "disabledMessageQueueNotSupported",
            "disabledMissingIdentity",
            "disabledInvalidRoleExpression",
            "disabledInvalidPathClause",
            "disabledAsDuplicateOfDefault",
            "disabledByAdmin",
            "disabled",
            "enabled",
            "enabledOnProbation"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionStatus"
          }
        },
        "statusMessage": {
          "description": "Message that provides more details about the status of the subscription.",
          "type": "string"
        },
        "subscriber": {
          "description": "User or group that will receive notifications for events matching the subscription's filter criteria.",
          "$ref": "#/definitions/IdentityRef"
        },
        "subscriptionUserSettings": {
          "description": "User-managed settings for the subscription. Only applies when the subscriber is a group. Typically used to indicate whether the calling user is opted in or out of a group subscription.",
          "$ref": "#/definitions/SubscriptionUserSettings"
        },
        "url": {
          "description": "REST API URL of the subscriotion.",
          "type": "string"
        }
      }
    },
    "NotificationSubscriptionCreateParameters": {
      "type": "object",
      "properties": {
        "channel": {
          "description": "Channel for delivering notifications triggered by the new subscription.",
          "$ref": "#/definitions/ISubscriptionChannel"
        },
        "description": {
          "description": "Brief description for the new subscription. Typically describes filter criteria which helps identity the subscription.",
          "type": "string"
        },
        "filter": {
          "description": "Matching criteria for the new subscription.",
          "$ref": "#/definitions/ISubscriptionFilter"
        },
        "scope": {
          "description": "The container in which events must be published from in order to be matched by the new subscription. If not specified, defaults to the current host (typically an account or project collection). For example, a subscription scoped to project A will not produce notifications for events published from project B.",
          "$ref": "#/definitions/SubscriptionScope"
        },
        "subscriber": {
          "description": "User or group that will receive notifications for events matching the subscription's filter criteria. If not specified, defaults to the calling user.",
          "$ref": "#/definitions/IdentityRef"
        }
      }
    },
    "NotificationSubscriptionsViewData": {
      "type": "object",
      "properties": {
        "adminPageUrl": {
          "description": "The Url to the admin page",
          "type": "string"
        },
        "defaultServiceInstanceType": {
          "description": "Default service instance type, currently it is Tfs, it used if there is no publisher passed",
          "type": "string"
        },
        "eventsPublishers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationEventPublisher"
          }
        },
        "eventTypes": {
          "description": "Supported  event types info, with their fields and field types",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NotificationEventType"
          }
        },
        "hasManagePermission": {
          "description": "Indicates whether the current user generally has permissions to manage (create, delete, etc) subscriptions in the view",
          "type": "boolean"
        },
        "hasViewPermission": {
          "description": "Indicates whether the current user generally has permissions to see subscriptions in the view",
          "type": "boolean"
        },
        "isAdminMode": {
          "description": "Is the subscription view being presented for the purpose of administration (not for managing personal subscriptions)",
          "type": "boolean"
        },
        "isSubscriberEmailPending": {
          "description": "Indicates whether the user's preferred email address is pending confirmation.",
          "type": "boolean"
        },
        "mapCategoryIdToCategoryName": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mapCategoryIdToSubscriptionTemplates": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        },
        "mapEventTypeToPublisherId": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publishers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NotificationEventPublisher"
          }
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/SubscriptionScope"
          }
        },
        "subscriber": {
          "description": "Subscriber to use when creating new subscriptions in the view",
          "$ref": "#/definitions/IdentityRef"
        },
        "subscriberEmail": {
          "description": "Email address that notifications for this user will be sent to by default.",
          "type": "string"
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationSubscription"
          }
        },
        "subsEvaluationSettings": {
          "description": "The subscription evaluation operation settings needed for the UI",
          "$ref": "#/definitions/SubscriptionEvaluationSettings"
        }
      }
    },
    "NotificationSubscriptionTemplate": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "filter": {
          "$ref": "#/definitions/ISubscriptionFilter"
        },
        "id": {
          "type": "string"
        },
        "notificationEventInformation": {
          "$ref": "#/definitions/NotificationEventType"
        },
        "type": {
          "enum": [
            "user",
            "team",
            "both",
            "none"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionTemplateType"
          }
        }
      }
    },
    "NotificationSubscriptionUpdateParameters": {
      "type": "object",
      "properties": {
        "adminSettings": {
          "description": "Admin-managed settings for the subscription. Only applies to subscriptions where the subscriber is a group.",
          "$ref": "#/definitions/SubscriptionAdminSettings"
        },
        "channel": {
          "description": "Channel for delivering notifications triggered by the subscription.",
          "$ref": "#/definitions/ISubscriptionChannel"
        },
        "description": {
          "description": "Updated description for the subscription. Typically describes filter criteria which helps identity the subscription.",
          "type": "string"
        },
        "filter": {
          "description": "Matching criteria for the subscription.",
          "$ref": "#/definitions/ISubscriptionFilter"
        },
        "scope": {
          "description": "The container in which events must be published from in order to be matched by the new subscription. If not specified, defaults to the current host (typically the current account or project collection). For example, a subscription scoped to project A will not produce notifications for events published from project B.",
          "$ref": "#/definitions/SubscriptionScope"
        },
        "status": {
          "description": "Updated status for the subscription. Typically used to enable or disable a subscription.",
          "enum": [
            "jailedByNotificationsVolume",
            "pendingDeletion",
            "disabledMessageQueueNotSupported",
            "disabledMissingIdentity",
            "disabledInvalidRoleExpression",
            "disabledInvalidPathClause",
            "disabledAsDuplicateOfDefault",
            "disabledByAdmin",
            "disabled",
            "enabled",
            "enabledOnProbation"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionStatus"
          }
        },
        "statusMessage": {
          "description": "Optional message that provides more details about the updated status.",
          "type": "string"
        },
        "subscriber": {
          "description": "User or group that will receive notifications for events matching the subscription's filter criteria.",
          "$ref": "#/definitions/IdentityRef"
        },
        "subscriptionUserSettings": {
          "description": "User-managed settings for the subscription. Only applies to subscriptions where the subscriber is a group. Typically used to opt-in or opt-out a user from a group subscription.",
          "$ref": "#/definitions/SubscriptionUserSettings"
        }
      }
    },
    "OperatorConstraint": {
      "type": "object",
      "properties": {
        "operator": {
          "type": "string"
        },
        "supportedScopes": {
          "description": "Gets or sets the list of scopes that this type supports.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "SubscriptionAdminSettings": {
      "type": "object",
      "properties": {
        "blockUserOptOut": {
          "description": "If true, members of the group subscribed to the associated subscription cannot opt (choose not to get notified)",
          "type": "boolean"
        }
      }
    },
    "SubscriptionChannelWithAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "useCustomAddress": {
          "type": "boolean"
        }
      }
    },
    "SubscriptionEvaluationRequest": {
      "type": "object",
      "properties": {
        "minEventsCreatedDate": {
          "description": "The min created date for the events used for matching in UTC. Use all events created since this date",
          "type": "string",
          "format": "date-time"
        },
        "subscriptionCreateParameters": {
          "description": "User or group that will receive notifications for events matching the subscription's filter criteria. If not specified, defaults to the calling user.",
          "$ref": "#/definitions/NotificationSubscriptionCreateParameters"
        }
      }
    },
    "SubscriptionEvaluationResult": {
      "type": "object",
      "properties": {
        "evaluationJobStatus": {
          "description": "Subscription evaluation job status",
          "enum": [
            "notSet",
            "queued",
            "inProgress",
            "cancelled",
            "succeeded",
            "failed",
            "timedOut",
            "notFound"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.EvaluationOperationStatus"
          }
        },
        "events": {
          "description": "Subscription evaluation events results.",
          "$ref": "#/definitions/EventsEvaluationResult"
        },
        "id": {
          "description": "The requestId which is the subscription evaluation jobId",
          "type": "string",
          "format": "uuid"
        },
        "notifications": {
          "description": "Subscription evaluation  notification results.",
          "$ref": "#/definitions/NotificationsEvaluationResult"
        }
      }
    },
    "SubscriptionEvaluationSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Indicates whether subscription evaluation before saving is enabled or not",
          "type": "boolean"
        },
        "interval": {
          "description": "Time interval to check on subscription evaluation job in seconds",
          "type": "integer",
          "format": "int32"
        },
        "threshold": {
          "description": "Threshold on the number of notifications for considering a subscription too noisy",
          "type": "integer",
          "format": "int32"
        },
        "timeOut": {
          "description": "Time out for the subscription evaluation check in seconds",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SubscriptionManagement": {
      "type": "object",
      "properties": {
        "serviceInstanceType": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "SubscriptionQuery": {
      "type": "object",
      "properties": {
        "conditions": {
          "description": "One or more conditions to query on. If more than 2 conditions are specified, the combined results of each condition is returned (i.e. conditions are logically OR'ed).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionQueryCondition"
          }
        },
        "queryFlags": {
          "description": "Flags the refine the types of subscriptions that will be returned from the query.",
          "enum": [
            "none",
            "includeAllGroupSubscriptions",
            "includeInvalidSubscriptions",
            "includeDeletedSubscriptions",
            "includeFilterDetails",
            "alwaysReturnBasicInformation",
            "includeRemoteContributedSubscriptions",
            "includeAllSubscriptions"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionQueryFlags"
          }
        }
      }
    },
    "SubscriptionQueryCondition": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter conditions that matching subscriptions must have. Typically only the filter's type and event type are used for matching.",
          "$ref": "#/definitions/ISubscriptionFilter"
        },
        "scope": {
          "description": "Scope that matching subscriptions must have.",
          "type": "string"
        },
        "subscriber": {
          "description": "ID of the subscriber (user or group) that matching subscriptions must be subscribed to.",
          "type": "string",
          "format": "uuid"
        },
        "subscriptionId": {
          "description": "ID of the subscription to query for.",
          "type": "string"
        },
        "subscriptionType": {
          "enum": [
            "default",
            "shared"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Notifications.WebApi.SubscriptionType"
          }
        }
      }
    },
    "SubscriptionScope": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/EventScope"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SubscriptionStatisticViewData": {
      "type": "object",
      "properties": {
        "events": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NotificationEventType"
          }
        },
        "isAdmin": {
          "type": "boolean"
        },
        "queryDate": {
          "description": "Date used for querying for those statistics",
          "type": "string",
          "format": "date-time"
        },
        "statistics": {
          "type": "object",
          "additionalProperties": {
            "type": "array"
          }
        },
        "subscriptions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/NotificationSubscription"
          }
        }
      }
    },
    "SubscriptionUserSettings": {
      "type": "object",
      "properties": {
        "optedOut": {
          "description": "Indicates whether the user will receive notifications for the associated group subscription.",
          "type": "boolean"
        }
      }
    },
    "ValueDefinition": {
      "type": "object",
      "properties": {
        "dataSource": {
          "description": "Gets or sets the data source.",
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "endPoint": {
          "description": "Gets or sets the rest end point.",
          "type": "string"
        },
        "resultTemplate": {
          "description": "Gets or sets the result template.",
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VssNotificationEvent": {
      "type": "object",
      "properties": {
        "actors": {
          "description": "Optional: A list of actors which are additional identities with corresponding roles that are relevant to the event.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventActor"
          }
        },
        "artifactUris": {
          "description": "Optional: A list of artifacts referenced or impacted by this event.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "data": {
          "description": "Required: The event payload.  If Data is a string, it must be in Json or XML format.  Otherwise it must have a serialization format attribute.",
          "type": "object"
        },
        "eventType": {
          "description": "Required: The name of the event.  This event must be registered in the context it is being fired.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional: A list of scopes which are are relevant to the event.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventScope"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.notification": "Provides read access to subscriptions and event metadata, including filterable field values.",
        "vso.notification_write": "Provides read/write access to subscriptions and read access to event metadata, including filterable field values.",
        "vso.notification_manage": "Provides read, write, and management access to subscriptions and read access to event metadata, including filterable field values."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}