{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Npm",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "registry"
        },
        {
            "name": "versions"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}": {
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetScopedPackageInfoAsync",
                "description": "",
                "operationId": "getScopedPackageInfoAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageScope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "unscopedPackageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "versions"
                ],
                "summary": "UnpublishScopedPackageAsync",
                "description": "",
                "operationId": "unpublishScopedPackageAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageScope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "unscopedPackageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "versions"
                ],
                "summary": "UpdateScopedPackageAsync",
                "description": "",
                "operationId": "updateScopedPackageAsync",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PackageVersionDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageScope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "unscopedPackageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}": {
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetPackageInfoAsync",
                "description": "",
                "operationId": "getPackageInfoAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "versions"
                ],
                "summary": "UnpublishPackageAsync",
                "description": "",
                "operationId": "unpublishPackageAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "versions"
                ],
                "summary": "UpdatePackageAsync",
                "description": "",
                "operationId": "updatePackageAsync",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PackageVersionDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            }
        },
        "_packaging/{feedId}/npm/registry/{packageName}": {
            "get": {
                "tags": [
                    "registry"
                ],
                "summary": "GetPackageAsync",
                "description": "",
                "operationId": "getPackageAsync",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Task",
                            "items": {
                                "type": "HttpResponseMessage"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Attachment": {
            "type": "object",
            "properties": {
                "content_type": {
                    "description": "The content type of the attachment.  Believed to always be \"application/octet-stream\" per NPM client code.",
                    "type": "string"
                },
                "data": {
                    "description": "The data for the attachment.  Believed to always be the package content, base64-encoded.",
                    "type": "string"
                },
                "length": {
                    "description": "The length of the original package content.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "BugTracker": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "Directories": {
            "type": "object",
            "properties": {
                "bin": {
                    "description": "Folder containing binaries",
                    "type": "string"
                },
                "doc": {
                    "description": "Folder containing markdown files",
                    "type": "string"
                },
                "examples": {
                    "description": "Folder containing example scripts",
                    "type": "string"
                },
                "lib": {
                    "description": "Folder containing the library",
                    "type": "string"
                },
                "man": {
                    "description": "Folder containing man(ual) pages",
                    "type": "string"
                }
            }
        },
        "Distribution": {
            "type": "object",
            "properties": {
                "shasum": {
                    "description": "The SHA1 hash of the package content",
                    "type": "string"
                },
                "tarball": {
                    "description": "A URI to the package content",
                    "type": "string"
                }
            }
        },
        "NpmResponseMessage": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                },
                "success": {
                    "type": "string"
                }
            }
        },
        "Package": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "deprecateMessage": {
                    "description": "Deprecated message, if any, for the package",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "description": "The display name of the package",
                    "type": "string"
                },
                "unpublishedDate": {
                    "description": "If and when the package was deleted",
                    "type": "string",
                    "format": "date-time"
                },
                "version": {
                    "description": "The version of the package",
                    "type": "string"
                }
            }
        },
        "PackageJson": {
            "type": "object",
            "properties": {
                "author": {
                    "description": "Original author of the package",
                    "$ref": "#/definitions/Person"
                },
                "bin": {
                    "description": "Executable files that should be put on the PATH.  An empty string key indicates the current package name.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "bugs": {
                    "description": "Information about a bug tracker the package uses",
                    "$ref": "#/definitions/BugTracker"
                },
                "bundledDependencies": {
                    "description": "Packages that should be bundled when publishing.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "bundleDependencies": {
                    "description": "Packages that should be bundled when publishing.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "config": {
                    "description": "Configuration parameters for the scripts property",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "contributors": {
                    "description": "Contributors to the package",
                    "type": "array",
                    "items": {
                        "type": "Person"
                    }
                },
                "cpu": {
                    "description": "CPU architectures that this package can run on",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "dependencies": {
                    "description": "Regular dependencies",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "deprecated": {
                    "type": "string"
                },
                "description": {
                    "description": "Description of the package",
                    "type": "string"
                },
                "devDependencies": {
                    "description": "Dependencies that are only required during development",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "directories": {
                    "description": "Directory paths for various package content, such as \"lib\", \"bin\", and \"man\"",
                    "$ref": "#/definitions/Directories"
                },
                "engines": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "engineStrict": {
                    "description": "Treat this package as if the engine-strict config param was set Deprecated in npm 3.0.0",
                    "type": "JRaw"
                },
                "files": {
                    "description": "File patterns to include in the project",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "homepage": {
                    "description": "Homepage for the package",
                    "type": "string"
                },
                "keywords": {
                    "description": "Keywords that describe the package",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "license": {
                    "description": "Information about the license the package useses",
                    "type": "string"
                },
                "main": {
                    "description": "ModuleID of the Main entry point for the package, relative to the root of the package.",
                    "type": "string"
                },
                "man": {
                    "description": "Man(page) files",
                    "type": "JRaw"
                },
                "name": {
                    "description": "Name of the package",
                    "type": "string"
                },
                "optionalDependencies": {
                    "description": "Optional dependencies - NPM should proceed if these fail to install or are not found.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "os": {
                    "description": "Operating systems that this package can run on",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "peerDependencies": {
                    "description": "Describes what packages this package is meant to work with. E.g. this package may be a plugin, and a peer dependency would be its host (which the plugin doesn't *directly* depend on) See https://nodejs.org/en/blog/npm/peer-dependencies/",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "preferGlobal": {
                    "description": "Provide a warning if package is install locally",
                    "type": "boolean"
                },
                "private": {
                    "type": "boolean"
                },
                "publishConfig": {
                    "description": "Config parameters used during publishing.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "repository": {
                    "description": "Source code repository associated with the package",
                    "$ref": "#/definitions/Repository"
                },
                "scripts": {
                    "description": "A map of npm lifecycle events to scripts to run. See https://docs.npmjs.com/misc/scripts",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "version": {
                    "description": "Version of the package",
                    "type": "string"
                }
            }
        },
        "PackageMetadata": {
            "type": "object",
            "properties": {
                "_attachments": {
                    "description": "When publishing a package, contains the data for the package. The key will be in the form \"{packageName}-{version}.tgz\", and the value is an object describing the attachment.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/Attachment"
                    }
                },
                "_id": {
                    "description": "ID of the package, which must match the name",
                    "type": "string"
                },
                "_rev": {
                    "description": "Current revision of the package",
                    "type": "string"
                },
                "author": {
                    "description": "Author of the package",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "bugs": {
                    "description": "Information about a bug tracker the package uses",
                    "type": "JRaw"
                },
                "contributors": {
                    "description": "A list of people who contributed to the package (even if they don't currently maintain it)",
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                },
                "description": {
                    "description": "Description of the package",
                    "type": "string"
                },
                "dist-tags": {
                    "description": "Maps tags (version aliases) to versions",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "homepage": {
                    "description": "The url to the project homepage",
                    "type": "string"
                },
                "keywords": {
                    "description": "Keywords describing the package",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "license": {
                    "description": "License of the package",
                    "type": "string"
                },
                "maintainers": {
                    "description": "A list of people who maintain the package",
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                },
                "name": {
                    "description": "Name of the package, which must match the ID",
                    "type": "string"
                },
                "readme": {
                    "description": "Readme text",
                    "type": "string"
                },
                "readmeFilename": {
                    "description": "Filename containing the readme text",
                    "type": "string"
                },
                "repository": {
                    "description": "Information about the repository where the package sources live",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "time": {
                    "description": "A mapping of versions (as well as \"created and \"modified\") to timestamps indicating when that version was added",
                    "type": "object",
                    "additionalProperties": {
                        "type": "date-time"
                    }
                },
                "versions": {
                    "description": "A mapping of versions to metadata about that version",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/VersionMetadata"
                    }
                }
            }
        },
        "PackageVersionDetails": {
            "type": "object",
            "properties": {
                "deprecateMessage": {
                    "description": "Indicates the deprecate message of a package version",
                    "type": "string"
                }
            }
        },
        "Person": {
            "type": "object",
            "properties": {
                "email": {
                    "description": "Person's email (optional)",
                    "type": "string"
                },
                "name": {
                    "description": "Person's Name",
                    "type": "string"
                },
                "url": {
                    "description": "Persons' Url",
                    "type": "string"
                }
            }
        },
        "Repository": {
            "type": "object",
            "properties": {
                "shortcutSyntax": {
                    "description": "A URL string that can be passed to npm install.  If this is set, URL should be null. See https://docs.npmjs.com/cli/install for different formats if we eventually decide to parse this.",
                    "type": "string"
                },
                "type": {
                    "description": "Type of the repo (git/hg/svn/etc)",
                    "type": "string"
                },
                "url": {
                    "description": "VCS URL, not necessarily a public web URL.",
                    "type": "string"
                }
            }
        },
        "VersionMetadata": {
            "type": "PackageJson",
            "properties": {
                "_from": {
                    "description": "Unknown.  Appears to be related to where the package was published from.  Is almost always '.' or './'",
                    "type": "string"
                },
                "_id": {
                    "description": "Id of the package: name@version",
                    "type": "string"
                },
                "_nodeVersion": {
                    "description": "NodeJS version of the NPM client that published the package",
                    "type": "string"
                },
                "_npmUser": {
                    "description": "NPM user that published the package.  May only be applicable to registry.npmjs.org",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "_npmVersion": {
                    "description": "Version of the NPM client that published the package",
                    "type": "string"
                },
                "_resolved": {
                    "description": "Unknown.",
                    "type": "string"
                },
                "_shasum": {
                    "description": "The sha1 hash of the package. Same as Dist.Shasum.",
                    "type": "string"
                },
                "dist": {
                    "description": "Information about the distribution of the package",
                    "$ref": "#/definitions/Distribution"
                },
                "maintainers": {
                    "description": "List of people who maintain the package",
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                },
                "readme": {
                    "description": "Readme text, generated from the README file in the package",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}