{
  "swagger": "2.0",
  "info": {
    "title": "Npm",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "content"
    },
    {
      "name": "readme"
    },
    {
      "name": "versions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}": {
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "GetScopedPackageInfo",
        "description": "",
        "operationId": "getScopedPackageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "versions"
        ],
        "summary": "UnpublishScopedPackage",
        "description": "",
        "operationId": "unpublishScopedPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "versions"
        ],
        "summary": "UpdateScopedPackage",
        "description": "",
        "operationId": "updateScopedPackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageVersionDetails"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}": {
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "GetPackageInfo",
        "description": "",
        "operationId": "getPackageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "versions"
        ],
        "summary": "UnpublishPackage",
        "description": "",
        "operationId": "unpublishPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "versions"
        ],
        "summary": "UpdatePackage",
        "description": "",
        "operationId": "updatePackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageVersionDetails"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/content": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "GetContentScopedPackage",
        "description": "",
        "operationId": "getContentScopedPackage",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/readme": {
      "get": {
        "tags": [
          "readme"
        ],
        "summary": "GetReadmeScopedPackage",
        "description": "",
        "operationId": "getReadmeScopedPackage",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/content": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "GetContentUnscopedPackage",
        "description": "",
        "operationId": "getContentUnscopedPackage",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/readme": {
      "get": {
        "tags": [
          "readme"
        ],
        "summary": "GetReadmeUnscopedPackage",
        "description": "",
        "operationId": "getReadmeUnscopedPackage",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "JsonPatchOperation": {
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "Package": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "deprecateMessage": {
          "description": "Deprecated message, if any, for the package",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "description": "The display name of the package",
          "type": "string"
        },
        "unpublishedDate": {
          "description": "If and when the package was deleted",
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "description": "The version of the package",
          "type": "string"
        }
      }
    },
    "PackageVersionDetails": {
      "type": "object",
      "properties": {
        "deprecateMessage": {
          "description": "Indicates the deprecate message of a package version",
          "type": "string"
        },
        "views": {
          "description": "The view to which the package version will be added",
          "$ref": "#/definitions/JsonPatchOperation"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging": "Grants the ability to read feeds and packages.",
        "vso.packaging_manage": "Grants the ability to create, read, update, and delete feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}