{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "NuGet",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "content"
        },
        {
            "name": "versions"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}": {
            "delete": {
                "tags": [
                    "versions"
                ],
                "summary": "DeletePackageVersion",
                "description": "",
                "operationId": "deletePackageVersion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Package"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetPackageVersion",
                "description": "",
                "operationId": "getPackageVersion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "showDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Package"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "versions"
                ],
                "summary": "UpdatePackageVersion",
                "description": "",
                "operationId": "updatePackageVersion",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PackageVersionDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}/content": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "DownloadPackage",
                "description": "",
                "operationId": "downloadPackage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "sourceProtocolVersion",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Stream"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CatalogDataPage": {
            "type": "CatalogModelBase",
            "properties": {
                "id": {
                    "type": "string"
                },
                "urn:uuid:2C6454C9-C61F-4708-95C5-7DD32698D825#VsoCommitId": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "CatalogModel": {
            "type": "CatalogModelBase",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "type": "CatalogModelBase"
                    }
                }
            }
        },
        "CatalogModelBase": {
            "type": "object",
            "properties": {
                "@id": {
                    "type": "string"
                },
                "commitId": {
                    "type": "Guid"
                },
                "commitTimeStamp": {
                    "type": "string"
                }
            }
        },
        "CatalogPageModel": {
            "type": "CatalogModelBase",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "type": "PackageDetailsLinkModel"
                    }
                }
            }
        },
        "Context": {
            "type": "object",
            "properties": {
                "@vocab": {
                    "type": "string"
                }
            }
        },
        "Package": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "deletedDate": {
                    "description": "If and when the package was deleted",
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "description": "The display name of the package",
                    "type": "string"
                },
                "version": {
                    "description": "The version of the package",
                    "type": "string"
                }
            }
        },
        "PackageDetailsLinkModel": {
            "type": "CatalogModelBase",
            "properties": {
                "nuget:id": {
                    "type": "string"
                },
                "nuget:version": {
                    "type": "string"
                }
            }
        },
        "PackageVersionDetails": {
            "type": "object",
            "properties": {
                "listed": {
                    "description": "Indicates the listing state of a package",
                    "type": "boolean"
                },
                "views": {
                    "description": "The view to which the package version will be added",
                    "type": "JsonPatchOperation"
                }
            }
        },
        "PackageVersionsResponse": {
            "type": "object",
            "properties": {
                "versions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "QueryResult": {
            "type": "object",
            "properties": {
                "@context": {
                    "$ref": "#/definitions/Context"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "QueryResultPackage"
                    }
                },
                "index": {
                    "type": "string"
                },
                "lastReopen": {
                    "type": "string"
                },
                "totalHits": {
                    "type": "string"
                }
            }
        },
        "QueryResultPackage": {
            "type": "object",
            "properties": {
                "@id": {
                    "type": "string"
                },
                "@type": {
                    "type": "string"
                },
                "authors": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "description": {
                    "type": "string"
                },
                "iconUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "registration": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "version": {
                    "type": "string"
                },
                "versions": {
                    "type": "array",
                    "items": {
                        "type": "QueryResultPackageVersion"
                    }
                }
            }
        },
        "QueryResultPackageVersion": {
            "type": "object",
            "properties": {
                "@id": {
                    "type": "string"
                },
                "contentId": {
                    "type": "string"
                },
                "downloads": {
                    "type": "integer",
                    "format": "int32"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "ServiceEntry": {
            "type": "object",
            "properties": {
                "@id": {
                    "type": "string"
                },
                "@type": {
                    "type": "string"
                }
            }
        },
        "ServiceIndex": {
            "type": "object",
            "properties": {
                "@context": {
                    "$ref": "#/definitions/Context"
                },
                "resources": {
                    "type": "array",
                    "items": {
                        "type": "ServiceEntry"
                    }
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "V2FeedPackage": {
            "type": "object",
            "properties": {
                "authors": {
                    "type": "string"
                },
                "copyright": {
                    "type": "string"
                },
                "created": {
                    "type": "string",
                    "format": "date-time"
                },
                "dependencies": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "downloadCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "iconUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isAbsoluteLatestVersion": {
                    "type": "boolean"
                },
                "isLatestVersion": {
                    "type": "boolean"
                },
                "isPrerelease": {
                    "type": "boolean"
                },
                "language": {
                    "type": "string"
                },
                "lastEdited": {
                    "type": "string",
                    "format": "date-time"
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "licenseUrl": {
                    "type": "string"
                },
                "listed": {
                    "type": "boolean"
                },
                "minClientVersion": {
                    "type": "string"
                },
                "normalizedVersion": {
                    "type": "string"
                },
                "packageSize": {
                    "type": "integer",
                    "format": "int64"
                },
                "projectUrl": {
                    "type": "string"
                },
                "published": {
                    "type": "string",
                    "format": "date-time"
                },
                "releaseNotes": {
                    "type": "string"
                },
                "requireLicenseAcceptance": {
                    "type": "boolean"
                },
                "summary": {
                    "type": "string"
                },
                "tags": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}