{
    "swagger": "2.0",
    "info": {
        "title": "NuGet",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "content"
        },
        {
            "name": "versions"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}": {
            "delete": {
                "tags": [
                    "versions"
                ],
                "summary": "DeletePackageVersion",
                "description": "",
                "operationId": "deletePackageVersion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/package"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetPackageVersion",
                "description": "",
                "operationId": "getPackageVersion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "showDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/package"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "versions"
                ],
                "summary": "UpdatePackageVersion",
                "description": "",
                "operationId": "updatePackageVersion",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/packageVersionDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}/content": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "DownloadPackage",
                "description": "",
                "operationId": "downloadPackage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "feedId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "packageVersion",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "sourceProtocolVersion",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "jsonPatchOperation": {
            "type": "object",
            "properties": {
                "from": {
                    "type": "string"
                },
                "op": {
                    "type": "string",
                    "format": "operation"
                },
                "path": {
                    "type": "string"
                },
                "value": {
                    "type": "object"
                }
            }
        },
        "package": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "deletedDate": {
                    "description": "If and when the package was deleted",
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "description": "The display name of the package",
                    "type": "string"
                },
                "version": {
                    "description": "The version of the package",
                    "type": "string"
                }
            }
        },
        "packageVersionDetails": {
            "type": "object",
            "properties": {
                "listed": {
                    "description": "Indicates the listing state of a package",
                    "type": "boolean"
                },
                "views": {
                    "description": "The view to which the package version will be added",
                    "$ref": "#/definitions/jsonPatchOperation"
                }
            }
        },
        "referenceLinks": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}