{
    "swagger": "2.0",
    "info": {
        "title": "Operations",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "operations"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/operations/{operationId}": {
            "get": {
                "tags": [
                    "operations"
                ],
                "summary": "GetOperation",
                "description": "Gets an operation from the the Id.",
                "operationId": "getOperation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "operationId",
                        "description": "The id for the operation.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/operation"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "operation": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/operationReference"
                }
            ],
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "$ref": "#/definitions/referenceLinks"
                },
                "resultMessage": {
                    "description": "The result message which is generally not set.",
                    "type": "string"
                }
            }
        },
        "operationReference": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "The identifier for this operation.",
                    "type": "string",
                    "format": "uuid"
                },
                "status": {
                    "description": "The current status of the operation.",
                    "enum": [
                        "notSet",
                        "queued",
                        "inProgress",
                        "cancelled",
                        "succeeded",
                        "failed"
                    ]
                },
                "url": {
                    "description": "Url to get the full object.",
                    "type": "string"
                }
            }
        },
        "referenceLinks": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}