{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Operations",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "operations"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/operations/{operationId}": {
            "get": {
                "tags": [
                    "operations"
                ],
                "summary": "GetOperation",
                "description": "Gets an operation from the the Id.",
                "operationId": "getOperation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "operationId",
                        "description": "The id for the operation.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Operation": {
            "type": "OperationReference",
            "properties": {
                "_links": {
                    "description": "The links to other objects related to this object.",
                    "type": "ReferenceLinks"
                },
                "resultMessage": {
                    "description": "The result message which is generally not set.",
                    "type": "string"
                }
            }
        },
        "OperationReference": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "The identifier for this operation.",
                    "type": "string"
                },
                "status": {
                    "description": "The current status of the operation.",
                    "enum": [
                        "notSet",
                        "queued",
                        "inProgress",
                        "cancelled",
                        "succeeded",
                        "failed"
                    ]
                },
                "url": {
                    "description": "Url to get the full object.",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}