{
  "swagger": "2.0",
  "info": {
    "title": "OrganizationPolicy",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "policies"
    },
    {
      "name": "policiesBatch"
    },
    {
      "name": "policyInformation"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "pat": {
      "type": "basic",
      "description": "Personal access token"
    }
  },
  "security": [
    {
      "pat": []
    }
  ], 
  "paths": {
    "/_apis/organizationpolicy/policies/{policyName}": {
      "get": {
        "tags": [
          "policies"
        ],
        "summary": "GetPolicy",
        "description": "",
        "operationId": "getPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "defaultValue",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/policy"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "policies"
        ],
        "summary": "UpdatePolicy",
        "description": "",
        "operationId": "updatePolicy",
        "consumes": [
          "application/json-patch+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "policyName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/organizationpolicy/policiesbatch": {
      "get": {
        "tags": [
          "policiesBatch"
        ],
        "summary": "GetPolicies",
        "description": "",
        "operationId": "getPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "policyNames",
            "description": "",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "defaultValues",
            "description": "",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/policy"
              }
            }
          }
        }
      }
    },
    "/_apis/organizationpolicy/policyinformation": {
      "get": {
        "tags": [
          "policyInformation"
        ],
        "summary": "GetPolicyInformations",
        "description": "",
        "operationId": "getPolicyInformations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "policyNames",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/policyInfo"
              }
            }
          }
        }
      }
    },
    "/_apis/organizationpolicy/policyinformation/{policyName}": {
      "get": {
        "tags": [
          "policyInformation"
        ],
        "summary": "GetPolicyInformation",
        "description": "",
        "operationId": "getPolicyInformation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/policyInfo"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "jsonPatchDocument": {
      "type": "object",
      "allOf": [
        {
          "type": "array"
        }
      ],
      "properties": {
      }
    },
    "policy": {
      "type": "object",
      "properties": {
        "effectiveValue": {
          "type": "object"
        },
        "enforce": {
          "type": "boolean"
        },
        "isValueUndefined": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "parentPolicy": {
          "$ref": "#/definitions/policy"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "policyInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "moreInfoLink": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}