{
    "swagger": "2.0",
    "info": {
        "title": "OrganizationJoin",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "requests"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/organizationjoin/requests": {
            "post": {
                "tags": [
                    "requests"
                ],
                "summary": "QueueJoinOrganization",
                "description": "",
                "operationId": "queueJoinOrganization",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JoinOrganizationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "OperationReference"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ImportCodeRequest": {
            "type": "object",
            "properties": {
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "requestedFor": {
                    "type": "string"
                }
            }
        },
        "ImportCodeResponse": {
            "type": "object",
            "properties": {
                "m_codes": {
                    "type": "PropertyCollection"
                }
            }
        },
        "ImportCollectionRequest": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "accountOwner": {
                    "type": "string",
                    "format": "uuid"
                },
                "accountRegion": {
                    "type": "string"
                },
                "accountScaleUnit": {
                    "type": "string"
                },
                "hostToMovePostImport": {
                    "type": "DataImportHostMove"
                },
                "identityMapping": {
                    "type": "string"
                },
                "neighborHostName": {
                    "type": "string"
                },
                "properties": {
                    "type": "PropertyCollection"
                },
                "skipDataImportValidation": {
                    "type": "boolean"
                },
                "skipFileContentImport": {
                    "type": "boolean"
                },
                "sourceDacpacLocation": {
                    "type": "string"
                },
                "sourceDacpacLocationKey": {
                    "type": "string"
                },
                "sourceDatabase": {
                    "type": "string"
                },
                "targetDatabaseDowngradeSize": {
                    "type": "string"
                }
            }
        },
        "JoinOrganizationRequest": {
            "type": "object",
            "properties": {
                "organizationId": {
                    "description": "New organization for this account (application host id)",
                    "type": "string",
                    "format": "uuid"
                },
                "properties": {
                    "type": "PropertyCollection"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}