{
  "swagger": "2.0",
  "info": {
    "title": "Organization",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "accountProperties"
    },
    {
      "name": "accounts"
    },
    {
      "name": "collectionProperties"
    },
    {
      "name": "collections"
    },
    {
      "name": "organizationMigrationBlobs"
    },
    {
      "name": "organizationProperties"
    },
    {
      "name": "organizations"
    },
    {
      "name": "regions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/organization/accounts": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "CreateAccount",
        "description": "",
        "operationId": "createAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      },
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "GetAccounts",
        "description": "",
        "operationId": "getAccounts",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/account"
              }
            }
          }
        }
      }
    },
    "/_apis/organization/accounts/{accountId}": {
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "DeleteAccount",
        "description": "",
        "operationId": "deleteAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      },
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "GetAccount",
        "description": "",
        "operationId": "getAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "propertyNames",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "summary": "RestoreAccount",
        "description": "",
        "operationId": "restoreAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "accountName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/_apis/organization/Accounts/{accountId}/Properties": {
      "patch": {
        "tags": [
          "accountProperties"
        ],
        "summary": "UpdateAccountProperties",
        "description": "",
        "operationId": "updateAccountProperties",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jsonPatchDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/_apis/organization/collections": {
      "post": {
        "tags": [
          "collections"
        ],
        "summary": "CreateCollection",
        "description": "",
        "operationId": "createCollection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/collection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/collection"
            }
          }
        }
      },
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "GetCollections",
        "description": "",
        "operationId": "getCollections",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/collection"
              }
            }
          }
        }
      }
    },
    "/_apis/organization/collections/{collectionId}": {
      "delete": {
        "tags": [
          "collections"
        ],
        "summary": "DeleteCollection",
        "description": "",
        "operationId": "deleteCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      },
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "GetCollection",
        "description": "",
        "operationId": "getCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "propertyNames",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/collection"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "collections"
        ],
        "summary": "RestoreCollection",
        "description": "",
        "operationId": "restoreCollection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "collectionName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/_apis/organization/Collections/{collectionId}/Properties": {
      "patch": {
        "tags": [
          "collectionProperties"
        ],
        "summary": "UpdateCollectionProperties",
        "description": "",
        "operationId": "updateCollectionProperties",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jsonPatchDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/_apis/organization/organizationmigrationblobs": {
      "post": {
        "tags": [
          "organizationMigrationBlobs"
        ],
        "summary": "ImportOrganizationMigrationBlob",
        "description": "",
        "operationId": "importOrganizationMigrationBlob",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/organizationMigrationBlob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/organization/organizationmigrationblobs/{organizationId}": {
      "get": {
        "tags": [
          "organizationMigrationBlobs"
        ],
        "summary": "ExportOrganizationMigrationBlob",
        "description": "",
        "operationId": "exportOrganizationMigrationBlob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/organizationMigrationBlob"
            }
          }
        }
      }
    },
    "/_apis/organization/organizations": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "CreateOrganization",
        "description": "",
        "operationId": "createOrganization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          }
        }
      },
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "GetOrganizations",
        "description": "",
        "operationId": "getOrganizations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "searchKind",
            "description": "",
            "required": true,
            "type": "string",
            "format": "organizationSearchKind"
          },
          {
            "in": "query",
            "name": "searchValue",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isActivated",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        }
      }
    },
    "/_apis/organization/organizations/{organizationId}": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "GetOrganization",
        "description": "",
        "operationId": "getOrganization",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "propertyNames",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "summary": "UpdateOrganization",
        "description": "",
        "operationId": "updateOrganization",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "organizationId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          }
        }
      }
    },
    "/_apis/organization/Organizations/{organizationId}/Properties": {
      "patch": {
        "tags": [
          "organizationProperties"
        ],
        "summary": "UpdateOrganizationProperties",
        "description": "",
        "operationId": "updateOrganizationProperties",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/jsonPatchDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/_apis/organization/regions": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "GetRegions",
        "description": "",
        "operationId": "getRegions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/region"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "account": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Identifier for a account under an organization",
          "type": "string",
          "format": "uuid"
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "The unqiue name of account under an organziation",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "format": "uuid"
        },
        "preferredRegion": {
          "type": "string"
        },
        "properties": {
          "description": "Extended properties",
          "$ref": "#/definitions/propertiesCollection"
        },
        "status": {
          "enum": [
            "unknown",
            "initial",
            "enabled",
            "logicallyDeleted",
            "markedForPhysicalDelete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Organization.AccountStatus"
          }
        }
      }
    },
    "collection": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Identifier for a account under an organization",
          "type": "string",
          "format": "uuid"
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "The unqiue name of account under an organziation",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "format": "uuid"
        },
        "preferredRegion": {
          "type": "string"
        },
        "properties": {
          "description": "Extended properties",
          "$ref": "#/definitions/propertiesCollection"
        },
        "status": {
          "enum": [
            "unknown",
            "initial",
            "enabled",
            "logicallyDeleted",
            "markedForPhysicalDelete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Organization.CollectionStatus"
          }
        }
      }
    },
    "jsonPatchDocument": {
      "type": "object",
      "allOf": [
        {
          "type": "array"
        }
      ],
      "properties": {
      }
    },
    "organization": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/account"
          }
        },
        "collections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/collection"
          }
        },
        "creatorId": {
          "type": "string",
          "format": "uuid"
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Identifier for an Organization",
          "type": "string",
          "format": "uuid"
        },
        "isActivated": {
          "type": "boolean"
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "description": "The globally unqiue name of the organziation",
          "type": "string"
        },
        "primaryAccount": {
          "$ref": "#/definitions/account"
        },
        "primaryCollection": {
          "$ref": "#/definitions/collection"
        },
        "properties": {
          "description": "Extended properties",
          "$ref": "#/definitions/propertiesCollection"
        },
        "status": {
          "enum": [
            "unknown",
            "initial",
            "enabled",
            "markedForDelete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Organization.OrganizationStatus"
          }
        },
        "tenantId": {
          "type": "string",
          "format": "uuid"
        },
        "type": {
          "enum": [
            "unknown",
            "personal",
            "work"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Organization.OrganizationType"
          }
        }
      }
    },
    "organizationMigrationBlob": {
      "type": "object",
      "properties": {
        "blobAsJson": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "policy": {
      "type": "object",
      "properties": {
        "effectiveValue": {
          "type": "object"
        },
        "enforce": {
          "type": "boolean"
        },
        "isValueUndefined": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "parentPolicy": {
          "$ref": "#/definitions/policy"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "policyInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "moreInfoLink": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "propertiesCollection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "item": {
          "type": "object"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "region": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the region.",
          "type": "string"
        },
        "name": {
          "description": "Name identifier for the region.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}