{
    "swagger": "2.0",
    "info": {
        "title": "OrganizationPolicy",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "policies"
        },
        {
            "name": "policyInformation"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/organizationpolicy/policies": {
            "get": {
                "tags": [
                    "policies"
                ],
                "summary": "GetPolicies",
                "description": "",
                "operationId": "getPolicies",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "policyNames",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "defaultValues",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/policy"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/organizationpolicy/policies/{policyName}": {
            "get": {
                "tags": [
                    "policies"
                ],
                "summary": "GetPolicy",
                "description": "",
                "operationId": "getPolicy",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    },
                    {
                        "in": "path",
                        "name": "policyName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policy"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "policies"
                ],
                "summary": "UpdatePolicy",
                "description": "",
                "operationId": "updatePolicy",
                "consumes": [
                    "application/json-patch+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "jsonPatchDocument"
                        }
                    },
                    {
                        "in": "path",
                        "name": "policyName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/organizationpolicy/policyinformation": {
            "get": {
                "tags": [
                    "policyInformation"
                ],
                "summary": "GetPolicyInformations",
                "description": "",
                "operationId": "getPolicyInformations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "policyNames",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/policyInfo"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/organizationpolicy/policyinformation/{policyName}": {
            "get": {
                "tags": [
                    "policyInformation"
                ],
                "summary": "GetPolicyInformation",
                "description": "",
                "operationId": "getPolicyInformation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "policyName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyInfo"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "account": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "dateCreated": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "description": "Identifier for a account under an organization",
                    "type": "string",
                    "format": "uuid"
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "description": "The unqiue name of account under an organziation",
                    "type": "string"
                },
                "owner": {
                    "type": "string",
                    "format": "uuid"
                },
                "preferredRegion": {
                    "type": "string"
                },
                "properties": {
                    "description": "Extended properties",
                    "type": "string",
                    "format": "propertiesCollection"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "initial",
                        "enabled",
                        "logicallyDeleted",
                        "markedForPhysicalDelete"
                    ]
                }
            }
        },
        "organization": {
            "type": "object",
            "properties": {
                "accounts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/account"
                    }
                },
                "creatorId": {
                    "type": "string",
                    "format": "uuid"
                },
                "dateCreated": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "description": "Identifier for an Organization",
                    "type": "string",
                    "format": "uuid"
                },
                "isActivated": {
                    "type": "boolean"
                },
                "lastUpdated": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "description": "The globally unqiue name of the organziation",
                    "type": "string"
                },
                "primaryAccount": {
                    "$ref": "#/definitions/account"
                },
                "properties": {
                    "description": "Extended properties",
                    "type": "string",
                    "format": "propertiesCollection"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "initial",
                        "enabled",
                        "markedForDelete"
                    ]
                },
                "tenantId": {
                    "type": "string",
                    "format": "uuid"
                },
                "type": {
                    "enum": [
                        "unknown",
                        "personal",
                        "work"
                    ]
                }
            }
        },
        "organizationMigrationBlob": {
            "type": "object",
            "properties": {
                "blobAsJson": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "policy": {
            "type": "object",
            "properties": {
                "allowOverride": {
                    "type": "boolean"
                },
                "effectiveValue": {
                    "type": "object"
                },
                "isValueUndefined": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "parentPolicy": {
                    "$ref": "#/definitions/policy"
                },
                "value": {
                    "type": "object"
                }
            }
        },
        "policyInfo": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "moreInfoLink": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "region": {
            "type": "object",
            "properties": {
                "displayName": {
                    "description": "Display name for the region.",
                    "type": "string"
                },
                "name": {
                    "description": "Name identifier for the region.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}