{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Oss",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "archivedRequests"
        },
        {
            "name": "components"
        },
        {
            "name": "configuration"
        },
        {
            "name": "extensionData"
        },
        {
            "name": "filterItems"
        },
        {
            "name": "gridItems"
        },
        {
            "name": "hello"
        },
        {
            "name": "packages"
        },
        {
            "name": "propertyDefinitions"
        },
        {
            "name": "repositories"
        },
        {
            "name": "requests"
        },
        {
            "name": "sourceVersions"
        },
        {
            "name": "userSettings"
        },
        {
            "name": "validation"
        },
        {
            "name": "versions"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/oss/archivedrequests": {
            "get": {
                "tags": [
                    "archivedRequests"
                ],
                "summary": "GetArchivedRequestsWithFilters",
                "description": "",
                "operationId": "getArchivedRequestsWithFilters",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "componentVersionId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "requestedBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentVersion",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "createdBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "createdAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "includePartialMatch",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "extendedProperties",
                        "description": "",
                        "required": false,
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArchivedRequest"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/archivedrequests/{requestId}": {
            "get": {
                "tags": [
                    "archivedRequests"
                ],
                "summary": "GetArchivedRequest",
                "description": "",
                "operationId": "getArchivedRequest",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ArchivedRequest"
                        }
                    }
                }
            }
        },
        "/_apis/oss/components": {
            "get": {
                "tags": [
                    "components"
                ],
                "summary": "GetComponents",
                "description": "",
                "operationId": "getComponents",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "projectName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "projectId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "nameContains",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "externalUrl",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "repositoryId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeIncompleteVersions",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Component"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/components/{componentId}": {
            "get": {
                "tags": [
                    "components"
                ],
                "summary": "GetComponent",
                "description": "",
                "operationId": "getComponent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "componentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeIncompleteVersions",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Component"
                        }
                    }
                }
            }
        },
        "/_apis/oss/configuration": {
            "post": {
                "tags": [
                    "configuration"
                ],
                "summary": "SetConfiguration",
                "description": "",
                "operationId": "setConfiguration",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Configuration"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/oss/configuration/{configToken}": {
            "get": {
                "tags": [
                    "configuration"
                ],
                "summary": "GetConfiguration",
                "description": "",
                "operationId": "getConfiguration",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "configToken",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Configuration"
                        }
                    }
                }
            }
        },
        "/_apis/oss/extensiondata/{identifier}/{associatedResourceType}": {
            "get": {
                "tags": [
                    "extensionData"
                ],
                "summary": "GetExtensionDataWithFilters",
                "description": "",
                "operationId": "getExtensionDataWithFilters",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "identifier",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceType",
                        "description": "",
                        "required": false,
                        "type": "OssResourceType"
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExtensionData"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/extensiondata/{identifier}/{associatedResourceType}/{associatedResourceId}": {
            "delete": {
                "tags": [
                    "extensionData"
                ],
                "summary": "DeleteExtensionData",
                "description": "",
                "operationId": "deleteExtensionData",
                "parameters": [
                    {
                        "in": "path",
                        "name": "identifier",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceType",
                        "description": "",
                        "required": true,
                        "type": "OssResourceType"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "extensionData"
                ],
                "summary": "GetExtensionData",
                "description": "",
                "operationId": "getExtensionData",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "identifier",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceType",
                        "description": "",
                        "required": true,
                        "type": "OssResourceType"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExtensionData"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "extensionData"
                ],
                "summary": "SetExtensionData",
                "description": "",
                "operationId": "setExtensionData",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtensionData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "identifier",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceType",
                        "description": "",
                        "required": true,
                        "type": "OssResourceType"
                    },
                    {
                        "in": "path",
                        "name": "associatedResourceId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExtensionData"
                        }
                    }
                }
            }
        },
        "/_apis/oss/filteritems": {
            "post": {
                "tags": [
                    "filterItems"
                ],
                "summary": "AddFilterItem",
                "description": "",
                "operationId": "addFilterItem",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FilterItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FilterItem"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "filterItems"
                ],
                "summary": "GetFilterItems",
                "description": "",
                "operationId": "getFilterItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "targetView",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "propertyName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FilterItem"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/filteritems/{filterItemId}": {
            "delete": {
                "tags": [
                    "filterItems"
                ],
                "summary": "DeleteFilterItem",
                "description": "",
                "operationId": "deleteFilterItem",
                "parameters": [
                    {
                        "in": "path",
                        "name": "filterItemId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "filterItems"
                ],
                "summary": "GetFilterItem",
                "description": "",
                "operationId": "getFilterItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "filterItemId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FilterItem"
                        }
                    }
                }
            }
        },
        "/_apis/oss/griditems": {
            "post": {
                "tags": [
                    "gridItems"
                ],
                "summary": "AddGridItem",
                "description": "",
                "operationId": "addGridItem",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GridItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GridItem"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "gridItems"
                ],
                "summary": "GetGridItems",
                "description": "",
                "operationId": "getGridItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "targetView",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "propertyName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GridItem"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/griditems/{gridItemId}": {
            "delete": {
                "tags": [
                    "gridItems"
                ],
                "summary": "DeleteGridItem",
                "description": "",
                "operationId": "deleteGridItem",
                "parameters": [
                    {
                        "in": "path",
                        "name": "gridItemId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "gridItems"
                ],
                "summary": "GetGridItem",
                "description": "",
                "operationId": "getGridItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "gridItemId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GridItem"
                        }
                    }
                }
            }
        },
        "/_apis/oss/hello": {
            "get": {
                "tags": [
                    "hello"
                ],
                "summary": "GetHelloMessage",
                "description": "",
                "operationId": "getHelloMessage",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/_apis/oss/propertydefinitions": {
            "post": {
                "tags": [
                    "propertyDefinitions"
                ],
                "summary": "AddPropertyDefinition",
                "description": "",
                "operationId": "addPropertyDefinition",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "propertyDefinitions"
                ],
                "summary": "GetPropertyDefinitions",
                "description": "",
                "operationId": "getPropertyDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "associatedResourceType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PropertyDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/propertydefinitions/{propertyDefinitionId}": {
            "delete": {
                "tags": [
                    "propertyDefinitions"
                ],
                "summary": "DeletePropertyDefinition",
                "description": "",
                "operationId": "deletePropertyDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "propertyDefinitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "propertyDefinitions"
                ],
                "summary": "GetPropertyDefinition",
                "description": "",
                "operationId": "getPropertyDefinition",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "propertyDefinitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "propertyDefinitions"
                ],
                "summary": "UpdatePropertyDefinition",
                "description": "",
                "operationId": "updatePropertyDefinition",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    },
                    {
                        "in": "path",
                        "name": "propertyDefinitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/oss/repositories": {
            "post": {
                "tags": [
                    "repositories"
                ],
                "summary": "AddRepository",
                "description": "",
                "operationId": "addRepository",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Repository"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Repository"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "GetAllRepositories",
                "description": "",
                "operationId": "getAllRepositories",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Repository"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/repositories/{repositoryId}": {
            "delete": {
                "tags": [
                    "repositories"
                ],
                "summary": "DeleteRepository",
                "description": "",
                "operationId": "deleteRepository",
                "parameters": [
                    {
                        "in": "path",
                        "name": "repositoryId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "GetRepository",
                "description": "",
                "operationId": "getRepository",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "repositoryId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Repository"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "repositories"
                ],
                "summary": "UpdateRepository",
                "description": "",
                "operationId": "updateRepository",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Repository"
                        }
                    },
                    {
                        "in": "path",
                        "name": "repositoryId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/oss/Repositories/{repositoryId}/packages": {
            "get": {
                "tags": [
                    "packages"
                ],
                "summary": "GetPackageVersionMetadata",
                "description": "",
                "operationId": "getPackageVersionMetadata",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "repositoryId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "packageIdentifier",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "versionId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PackageMetadata"
                        }
                    }
                }
            }
        },
        "/_apis/oss/Repositories/{repositoryId}/sourceversions": {
            "get": {
                "tags": [
                    "sourceVersions"
                ],
                "summary": "GetGitVersionsForExternalRepo",
                "description": "",
                "operationId": "getGitVersionsForExternalRepo",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "repositoryId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "sourceRepoUrl",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SourceVersion"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/requests": {
            "post": {
                "tags": [
                    "requests"
                ],
                "summary": "AddRequest",
                "description": "",
                "operationId": "addRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Request"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "requests"
                ],
                "summary": "GetRequestsWithFilters",
                "description": "",
                "operationId": "getRequestsWithFilters",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "parentRequestId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "componentVersionId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "requestedBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestStatus",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentVersion",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "createdBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "createdAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "includePartialMatch",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "extendedProperties",
                        "description": "",
                        "required": false,
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Request"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/requests/{requestId}": {
            "delete": {
                "tags": [
                    "requests"
                ],
                "summary": "DeleteRequest",
                "description": "",
                "operationId": "deleteRequest",
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "requests"
                ],
                "summary": "GetRequest",
                "description": "",
                "operationId": "getRequest",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "expandAll",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Request"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "requests"
                ],
                "summary": "UpdateRequest",
                "description": "",
                "operationId": "updateRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Request"
                        }
                    }
                }
            }
        },
        "/_apis/oss/usersettings": {
            "get": {
                "tags": [
                    "userSettings"
                ],
                "summary": "GetUserSettings",
                "description": "",
                "operationId": "getUserSettings",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UserSettings"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "userSettings"
                ],
                "summary": "SetUserSettings",
                "description": "",
                "operationId": "setUserSettings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserSettings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UserSettings"
                        }
                    }
                }
            }
        },
        "/_apis/oss/validation": {
            "post": {
                "tags": [
                    "validation"
                ],
                "summary": "ValidateRequest",
                "description": "",
                "operationId": "validateRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductValidationCollection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProductValidationCollection"
                        }
                    }
                }
            }
        },
        "/_apis/oss/versions": {
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetComponentVersions",
                "description": "",
                "operationId": "getComponentVersions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "componentId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "componentName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "componentVersion",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestedBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "createdBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "createdAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedBefore",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "modifiedAfter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "includeIncompleteVersions",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includePartialMatch",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "extendedProperties",
                        "description": "",
                        "required": false,
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "orderDir",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ComponentVersion"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/oss/versions/{componentVersionId}": {
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetComponentVersion",
                "description": "",
                "operationId": "getComponentVersion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "componentVersionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ComponentVersion"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "versions"
                ],
                "summary": "UpdateComponentVersion",
                "description": "",
                "operationId": "updateComponentVersion",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    {
                        "in": "path",
                        "name": "componentVersionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ComponentVersion"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ArchivedRequest": {
            "type": "Request",
            "properties": {
            }
        },
        "ArtifactMetadata": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "licenseName": {
                    "type": "string"
                },
                "licenseUrl": {
                    "type": "string"
                },
                "packageFormat": {
                    "type": "string"
                },
                "targetVersionName": {
                    "type": "string"
                }
            }
        },
        "AssociatedRequest": {
            "type": "OssResourceBase",
            "properties": {
                "requestId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Component": {
            "type": "OssResourceBase",
            "properties": {
                "componentName": {
                    "type": "string"
                },
                "extendedProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "extensionData": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionData"
                    }
                },
                "externalProjectUrl": {
                    "type": "string"
                },
                "externalUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                },
                "repository": {
                    "$ref": "#/definitions/Repository"
                },
                "targetUrl": {
                    "type": "string"
                },
                "versions": {
                    "type": "array",
                    "items": {
                        "type": "ComponentVersion"
                    }
                }
            }
        },
        "ComponentValidation": {
            "type": "object",
            "properties": {
                "componentName": {
                    "type": "string"
                },
                "componentType": {
                    "enum": [
                        "nuget",
                        "source",
                        "maven",
                        "archive",
                        "npm",
                        "others"
                    ]
                },
                "componentVersion": {
                    "type": "string"
                },
                "validationResults": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "ExtensionValidationStatus"
                    }
                }
            }
        },
        "ComponentVersion": {
            "type": "OssResourceBase",
            "properties": {
                "associatedRequests": {
                    "type": "array",
                    "items": {
                        "type": "AssociatedRequest"
                    }
                },
                "component": {
                    "$ref": "#/definitions/Component"
                },
                "componentVersionHistory": {
                    "type": "array",
                    "items": {
                        "type": "ComponentVersionHistoryItem"
                    }
                },
                "dependentComponentVersions": {
                    "type": "array",
                    "items": {
                        "type": "ComponentVersion"
                    }
                },
                "extendedProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "extensionData": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionData"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "impoundStatus": {
                    "enum": [
                        "inProgress",
                        "impoundedSelf",
                        "completed",
                        "failed",
                        "deferred",
                        "inactive"
                    ]
                },
                "linkedComponentVersions": {
                    "type": "array",
                    "items": {
                        "type": "ComponentVersion"
                    }
                },
                "metadata": {
                    "$ref": "#/definitions/ArtifactMetadata"
                },
                "version": {
                    "type": "string"
                },
                "versionName": {
                    "type": "string"
                }
            }
        },
        "ComponentVersionHistoryItem": {
            "type": "OssResourceBase",
            "properties": {
                "actionType": {
                    "enum": [
                        "create",
                        "update",
                        "retry",
                        "duplicate",
                        "delete"
                    ]
                },
                "componentVersionId": {
                    "type": "integer",
                    "format": "int32"
                },
                "correlationId": {
                    "type": "string",
                    "format": "uuid"
                },
                "fieldName": {
                    "type": "string"
                },
                "newValue": {
                    "type": "string"
                },
                "oldValue": {
                    "type": "string"
                },
                "requestedBy": {
                    "type": "string"
                },
                "requestorId": {
                    "type": "string"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Configuration": {
            "type": "object",
            "properties": {
                "configToken": {
                    "type": "string"
                },
                "configValue": {
                    "type": "string"
                }
            }
        },
        "ExtensionData": {
            "type": "object",
            "properties": {
                "associatedResourceIdentifier": {
                    "description": "OSS Resource identifier - e.g., if the AssociatedResourceType is Request this would be the RequestId.",
                    "type": "integer",
                    "format": "int32"
                },
                "associatedResourceType": {
                    "description": "OSS resource type (e.g., Request, ComponentVersion etc.) to which the extension data is associated with.",
                    "enum": [
                        "invalid",
                        "request",
                        "componentVersion",
                        "extensionData",
                        "component"
                    ]
                },
                "data": {
                    "description": "Extension-specific data.",
                    "type": "string"
                },
                "history": {
                    "description": "History items associated with the extension data.",
                    "type": "array",
                    "items": {
                        "type": "ResourceHistoryItem"
                    }
                },
                "identifier": {
                    "description": "Identifier/Key used by the extension to store/retrieve data.",
                    "type": "string"
                }
            }
        },
        "FilterItem": {
            "type": "object",
            "properties": {
                "alias": {
                    "description": "Alias of the property. Example \"ct\" for component type",
                    "type": "string"
                },
                "id": {
                    "description": "Unique Id of the definition.",
                    "type": "integer",
                    "format": "int32"
                },
                "propertyDefinition": {
                    "description": "PropertyDefinition for the property.",
                    "$ref": "#/definitions/PropertyDefinition"
                },
                "targetView": {
                    "description": "Name of the view where this filter is shown.",
                    "enum": [
                        "request",
                        "componentVersion"
                    ]
                }
            }
        },
        "GridItem": {
            "type": "object",
            "properties": {
                "columnOrder": {
                    "type": "integer",
                    "format": "int32"
                },
                "columnWidth": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "description": "Unique Id of the definition.",
                    "type": "integer",
                    "format": "int32"
                },
                "isDefaultColumn": {
                    "description": "Indicates whether or not to show this property by default.",
                    "type": "boolean"
                },
                "propertyDefinition": {
                    "description": "PropertyDefinition for the property.",
                    "$ref": "#/definitions/PropertyDefinition"
                },
                "targetView": {
                    "description": "Name of the view where this property is shown.",
                    "enum": [
                        "request",
                        "componentVersion"
                    ]
                }
            }
        },
        "OssResourceBase": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "PackageDescriptor": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "PackageMetadata": {
            "type": "object",
            "properties": {
                "dependencies": {
                    "type": "array",
                    "items": {
                        "type": "PackageDescriptor"
                    }
                },
                "description": {
                    "type": "string"
                },
                "descriptor": {
                    "$ref": "#/definitions/PackageDescriptor"
                },
                "licenseName": {
                    "type": "string"
                },
                "licenseUrl": {
                    "type": "string"
                },
                "projectUrl": {
                    "type": "string"
                },
                "tags": {
                    "type": "string"
                }
            }
        },
        "Product": {
            "type": "OssResourceBase",
            "properties": {
                "productGroup": {
                    "type": "string"
                },
                "productName": {
                    "type": "string"
                }
            }
        },
        "ProductValidation": {
            "type": "object",
            "properties": {
                "componentValidations": {
                    "type": "array",
                    "items": {
                        "type": "ComponentValidation"
                    }
                },
                "context": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "status": {
                    "enum": [
                        "succeeded",
                        "failed",
                        "inProgress",
                        "invalid"
                    ]
                }
            }
        },
        "ProductValidationCollection": {
            "type": "object",
            "properties": {
                "productValidations": {
                    "type": "array",
                    "items": {
                        "type": "ProductValidation"
                    }
                },
                "submitMissingRegistrations": {
                    "type": "boolean"
                },
                "tags": {
                    "description": "Tag are user specified tags associated with validation request e.g. RELEASE, Build No",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "PropertyDefinition": {
            "type": "object",
            "properties": {
                "associatedResourceType": {
                    "description": "ResourceType with which this property is associated.",
                    "enum": [
                        "invalid",
                        "request",
                        "componentVersion",
                        "extensionData",
                        "component"
                    ]
                },
                "dataType": {
                    "description": "Valid type of the property",
                    "enum": [
                        "string",
                        "url"
                    ]
                },
                "description": {
                    "description": "Description of the property",
                    "type": "string"
                },
                "extensionDetails": {
                    "description": "List of details to extract the property from different extension data",
                    "type": "array",
                    "items": {
                        "type": "PropertyExtensionDetail"
                    }
                },
                "flags": {
                    "description": "Defines the flags set for this property.",
                    "$ref": "#/definitions/PropertyFlags"
                },
                "id": {
                    "description": "Unique id of the property",
                    "type": "integer",
                    "format": "int32"
                },
                "propertyName": {
                    "description": "Unique name of the property",
                    "type": "string"
                }
            }
        },
        "PropertyExtensionDetail": {
            "type": "object",
            "properties": {
                "extensionDataType": {
                    "description": "Defines the type defined in extensionData. Example: Registration, ComponentVersion etc.",
                    "type": "string"
                },
                "extensionIdentifier": {
                    "description": "Identifier of the extension from which value needs to be extracted.",
                    "type": "string"
                },
                "propertyPath": {
                    "description": "Path of the property which contains the value for property.",
                    "type": "string"
                }
            }
        },
        "PropertyFlags": {
            "type": "object",
            "properties": {
                "isMandatory": {
                    "description": "Indicates whether property is mandatory or not while POST operation on associated resource.",
                    "type": "boolean"
                },
                "isResourceUniqueKey": {
                    "description": "Indicates whether property contributes to unique key for the resource.",
                    "type": "boolean"
                },
                "isValidationRequired": {
                    "description": "Indicates whether property needs to be validated in validation service or not.",
                    "type": "boolean"
                }
            }
        },
        "Repository": {
            "type": "OssResourceBase",
            "properties": {
                "componentType": {
                    "enum": [
                        "nuget",
                        "source",
                        "maven",
                        "archive",
                        "npm",
                        "others"
                    ]
                },
                "friendlyName": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "repositoryFeedUrl": {
                    "type": "string"
                },
                "repositoryName": {
                    "type": "string"
                },
                "repositoryUrl": {
                    "type": "string"
                },
                "targetRepoSettings": {
                    "$ref": "#/definitions/RepositorySettings"
                },
                "targetRepositoryAccessCredential": {
                    "type": "string"
                },
                "targetRepositoryUrl": {
                    "type": "string"
                }
            }
        },
        "RepositorySettings": {
            "type": "object",
            "properties": {
                "customRefNamespace": {
                    "type": "string"
                },
                "inheritGlobalPolicies": {
                    "type": "boolean"
                },
                "targetProjectNameFormat": {
                    "type": "string"
                },
                "targetRepositoryNameFormat": {
                    "type": "string"
                },
                "upstreamRefNamespace": {
                    "type": "string"
                }
            }
        },
        "Request": {
            "type": "OssResourceBase",
            "properties": {
                "componentVersion": {
                    "$ref": "#/definitions/ComponentVersion"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "evaluateDependencies": {
                    "enum": [
                        "all",
                        "none"
                    ]
                },
                "extendedProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "extensionData": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionData"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "isModifyAccessRequested": {
                    "type": "boolean"
                },
                "linkedRequests": {
                    "type": "array",
                    "items": {
                        "type": "Request"
                    }
                },
                "parentRequest": {
                    "$ref": "#/definitions/Request"
                },
                "requestedBy": {
                    "type": "IdentityRef"
                },
                "requestHistory": {
                    "type": "array",
                    "items": {
                        "type": "RequestHistoryItem"
                    }
                },
                "requestStatus": {
                    "$ref": "#/definitions/Status"
                }
            }
        },
        "RequestHistoryItem": {
            "type": "OssResourceBase",
            "properties": {
                "actionType": {
                    "enum": [
                        "create",
                        "update",
                        "retry",
                        "duplicate",
                        "delete"
                    ]
                },
                "correlationId": {
                    "type": "string",
                    "format": "uuid"
                },
                "fieldName": {
                    "type": "string"
                },
                "newValue": {
                    "type": "string"
                },
                "oldValue": {
                    "type": "string"
                },
                "requestedBy": {
                    "type": "string"
                },
                "requestId": {
                    "type": "integer",
                    "format": "int32"
                },
                "requestorId": {
                    "type": "string"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "ResourceHistoryItem": {
            "type": "OssResourceBase",
            "properties": {
                "actionType": {
                    "enum": [
                        "create",
                        "update",
                        "retry",
                        "duplicate",
                        "delete"
                    ]
                },
                "correlationId": {
                    "type": "string",
                    "format": "uuid"
                },
                "fieldName": {
                    "type": "string"
                },
                "newValue": {
                    "type": "string"
                },
                "oldValue": {
                    "type": "string"
                },
                "requestorId": {
                    "type": "string"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "SourceVersion": {
            "type": "object",
            "properties": {
                "commitId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "Status": {
            "type": "object",
            "properties": {
                "currentState": {
                    "enum": [
                        "inProgress",
                        "completed",
                        "failed"
                    ]
                },
                "errorMessage": {
                    "type": "string"
                },
                "percentCompleted": {
                    "type": "integer",
                    "format": "int32"
                },
                "subState": {
                    "type": "string"
                }
            }
        },
        "UserSettings": {
            "type": "OssResourceBase",
            "properties": {
                "settings": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}