{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "PackagingDiagnostics",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "itemStoreItem"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/packagingdiagnostics/itemstoreitem/{experience}/{item}": {
            "get": {
                "tags": [
                    "itemStoreItem"
                ],
                "summary": "GetItem",
                "description": "Exposes ItemStore items to the AccountAdmin service. This is an undocumented internal API intended only to support engineering diagnostics via the AccountAdmin service. Do not rely on its existence or structure. This API can only be called by the AccountAdmin service.",
                "operationId": "getItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "experience",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "item",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ItemStoreItem"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ItemStoreItem": {
            "type": "object",
            "properties": {
                "containerPath": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "itemPath": {
                    "type": "string"
                },
                "warning": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}