{
    "swagger": "2.0",
    "info": {
        "title": "Partitioning",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "containers"
        },
        {
            "name": "partitions"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/partitioning/containers": {
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "QueryPartitionContainers",
                "description": "",
                "operationId": "queryPartitionContainers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "containerType",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "requiredTags",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "isAcquirable",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/partitionContainer"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/containers/{containerId}": {
            "put": {
                "tags": [
                    "containers"
                ],
                "summary": "CreatePartitionContainer",
                "description": "",
                "operationId": "createPartitionContainer",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/partitionContainer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "containers"
                ],
                "summary": "DeletePartitionContainer",
                "description": "",
                "operationId": "deletePartitionContainer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "GetPartitionContainer",
                "description": "",
                "operationId": "getPartitionContainer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/partitionContainer"
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/partitions/{partitionKey}/{containerType}": {
            "put": {
                "tags": [
                    "partitions"
                ],
                "summary": "CreatePartition",
                "description": "",
                "operationId": "createPartition",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/partition"
                        }
                    },
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "partitions"
                ],
                "summary": "DeletePartition",
                "description": "",
                "operationId": "deletePartition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "partitions"
                ],
                "summary": "QueryPartition",
                "description": "",
                "operationId": "queryPartition",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/partition"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "aadAccessToken": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string"
                }
            }
        },
        "abstractPatchRequestModel": {
            "type": "object",
            "properties": {
                "op": {
                    "description": "Op can be one of add, remove, replace, move, copy, or test - currently only add and remove are supported",
                    "type": "string"
                },
                "path": {
                    "description": "Path is not used",
                    "type": "string"
                },
                "value": {
                    "description": "The identity objectIds that the user intends to add",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/valueType"
                    }
                }
            }
        },
        "accountCreationContext": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "name": {
                    "type": "string"
                },
                "ownerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "preferredRegion": {
                    "type": "string"
                }
            }
        },
        "accountQueryContext": {
            "type": "object",
            "properties": {
                "searchKind": {
                    "enum": [
                        "unknown",
                        "byId",
                        "byName"
                    ]
                },
                "searchValue": {
                    "type": "string"
                }
            }
        },
        "acknowledgementRange": {
            "type": "object",
            "properties": {
                "lower": {
                    "type": "integer",
                    "format": "int64"
                },
                "upper": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "coreProfileAttribute": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "generic"
                }
            ],
            "properties": {
            }
        },
        "dataspaceHashRange": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/valueType"
                }
            ],
            "properties": {
                "dataspaceIdentifier": {
                    "type": "string",
                    "format": "uuid"
                },
                "hashEnd": {
                    "type": "integer",
                    "format": "int32"
                },
                "hashStart": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "dataspacePartitionMap": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "overrides": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataspacePartitionMapOverride"
                    }
                },
                "ranges": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataspaceHashRange"
                    }
                }
            }
        },
        "dataspacePartitionMapOverride": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/valueType"
                }
            ],
            "properties": {
                "dataspaceIdentifier": {
                    "type": "string",
                    "format": "uuid"
                },
                "partitionKey": {
                    "type": "string"
                }
            }
        },
        "directoryEntityResult": {
            "type": "object",
            "properties": {
                "entity": {
                    "type": "string",
                    "format": "iDirectoryEntity"
                },
                "entityState": {
                    "type": "string"
                },
                "exception": {
                    "type": "string",
                    "format": "exception"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "endpointDescription": {
            "type": "object",
            "properties": {
                "controllerType": {
                    "type": "string"
                },
                "hostTypes": {
                    "type": "string"
                },
                "routePath": {
                    "type": "string"
                },
                "routeType": {
                    "type": "string"
                }
            }
        },
        "hostInstanceMapping": {
            "type": "object",
            "properties": {
                "hostId": {
                    "type": "string",
                    "format": "uuid"
                },
                "serviceInstance": {
                    "$ref": "#/definitions/serviceInstance"
                },
                "status": {
                    "enum": [
                        "assigned",
                        "active",
                        "moving"
                    ]
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "identitiesGetConnectionsRequestModel": {
            "type": "object",
            "properties": {
                "connectionTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "depth": {
                    "type": "integer",
                    "format": "int32"
                },
                "identityTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "objectId": {
                    "type": "string"
                },
                "operationScopes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "options": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "pagingToken": {
                    "type": "string"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "identitiesGetMruRequestModel": {
            "type": "object",
            "properties": {
                "filterByAncestorEntityIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "filterByEntityIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "operationScopes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "identitiesGetMruResponseModel": {
            "type": "object",
            "properties": {
                "mruIdentities": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/identity"
                    }
                }
            }
        },
        "identitiesPatchMruRequestModel": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "generic"
                }
            ],
            "properties": {
                "operationScopes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "identitiesPatchMruResponseModel": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "boolean"
                }
            }
        },
        "identitiesSearchRequestModel": {
            "type": "object",
            "properties": {
                "filterByAncestorEntityIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "filterByEntityIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identityTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "operationScopes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "options": {
                    "$ref": "#/definitions/searchOptions"
                },
                "pagingToken": {
                    "type": "string"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "query": {
                    "type": "string"
                },
                "queryTypeHint": {
                    "type": "string"
                }
            }
        },
        "identitiesSearchResponseModel": {
            "type": "object",
            "properties": {
                "results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/queryTokenResult"
                    }
                }
            }
        },
        "identity": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "department": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "entityId": {
                    "type": "string"
                },
                "entityType": {
                    "type": "string"
                },
                "guest": {
                    "type": "boolean"
                },
                "isMru": {
                    "type": "boolean"
                },
                "item": {
                    "type": "object"
                },
                "jobTitle": {
                    "type": "string"
                },
                "localDirectory": {
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "mail": {
                    "type": "string"
                },
                "mailNickname": {
                    "type": "string"
                },
                "originDirectory": {
                    "type": "string"
                },
                "originId": {
                    "type": "string"
                },
                "physicalDeliveryOfficeName": {
                    "type": "string"
                },
                "samAccountName": {
                    "type": "string"
                },
                "scopeName": {
                    "type": "string"
                },
                "signInAddress": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                }
            }
        },
        "identityDescriptor": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string"
                },
                "identityType": {
                    "type": "string"
                }
            }
        },
        "identityDirectoryEntityResult": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/directoryEntityResult"
                }
            ],
            "properties": {
                "identity": {
                    "$ref": "#/definitions/tIdentity"
                }
            }
        },
        "identityId": {
            "type": "object",
            "properties": {
                "descriptor": {
                    "$ref": "#/definitions/identityDescriptor"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "type": {
                    "type": "string",
                    "format": "microsoft.VisualStudio.Services.Identity.Cache.IdentityType"
                }
            }
        },
        "identityPickerServiceExtensionData": {
            "type": "object",
            "properties": {
                "options": {
                    "description": "The options that can be parsed for each operation that can be extended.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "imsCacheKey": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "object"
                }
            }
        },
        "imsCacheObject": {
            "type": "object",
            "properties": {
                "key": {
                    "$ref": "#/definitions/imsCacheKey"
                },
                "time": {
                    "type": "string",
                    "format": "date-time"
                },
                "value": {
                    "type": "object"
                }
            }
        },
        "installedExtensionMessage": {
            "type": "object",
            "properties": {
                "changeType": {
                    "enum": [
                        "installed",
                        "uninstalled"
                    ]
                },
                "extensionName": {
                    "type": "string"
                },
                "hostId": {
                    "type": "string",
                    "format": "uuid"
                },
                "publisherName": {
                    "type": "string"
                },
                "stateFlags": {
                    "enum": [
                        "none",
                        "disabled",
                        "builtIn",
                        "multiVersion",
                        "unInstalled",
                        "versionCheckError",
                        "trusted",
                        "error",
                        "needsReauthorization",
                        "autoUpgradeError",
                        "warning"
                    ]
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "messageContainer": {
            "type": "object",
            "properties": {
                "body": {
                    "type": "string"
                },
                "messageId": {
                    "type": "integer",
                    "format": "int64"
                },
                "messageType": {
                    "type": "string"
                }
            }
        },
        "migratingAvatar": {
            "type": "object",
            "properties": {
                "avatarImageFormat": {
                    "enum": [
                        "unknown",
                        "png",
                        "jpeg"
                    ]
                },
                "hasAvatar": {
                    "type": "boolean"
                },
                "largeAvatar": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "mediumAvatar": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "smallAvatar": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "migratingProfile": {
            "type": "object",
            "properties": {
                "attributes": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "tuple"
                    }
                },
                "coreProfile": {
                    "$ref": "#/definitions/profile"
                },
                "migratingAvatar": {
                    "$ref": "#/definitions/migratingAvatar"
                }
            }
        },
        "organizationCreationContext": {
            "type": "object",
            "properties": {
                "creatorId": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "primaryAccount": {
                    "$ref": "#/definitions/accountCreationContext"
                }
            }
        },
        "organizationQueryContext": {
            "type": "object",
            "properties": {
                "isActivated": {
                    "type": "boolean"
                },
                "searchKind": {
                    "enum": [
                        "unknown",
                        "byId",
                        "byName",
                        "byTenantId"
                    ]
                },
                "searchValue": {
                    "type": "string"
                }
            }
        },
        "partition": {
            "type": "object",
            "properties": {
                "container": {
                    "$ref": "#/definitions/partitionContainer"
                },
                "partitionKey": {
                    "type": "string"
                }
            }
        },
        "partitionContainer": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "containerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "containerType": {
                    "type": "string",
                    "format": "uuid"
                },
                "maxPartitions": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string",
                    "format": "partitionContainerStatus"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "profile": {
            "type": "object",
            "properties": {
                "applicationContainer": {
                    "type": "string",
                    "format": "attributesContainer"
                },
                "coreAttributes": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/coreProfileAttribute"
                    }
                },
                "coreRevision": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "profileAttribute": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "generic"
                }
            ],
            "properties": {
            }
        },
        "propertiesCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                },
                "item": {
                    "type": "object"
                },
                "keys": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "values": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "propertyContainerObject": {
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Property collection",
                    "$ref": "#/definitions/propertiesCollection"
                }
            }
        },
        "queryTokenResult": {
            "type": "object",
            "properties": {
                "identities": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/identity"
                    }
                },
                "optionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "pagingToken": {
                    "type": "string"
                },
                "queryToken": {
                    "type": "string"
                }
            }
        },
        "recordEntry": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/valueType"
                }
            ],
            "properties": {
                "activityId": {
                    "type": "string",
                    "format": "uuid"
                },
                "groupIdentifier": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "region": {
            "type": "object",
            "properties": {
                "azureRegion": {
                    "type": "string"
                },
                "commerceId": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "status": {
                    "enum": [
                        "disabled",
                        "internal",
                        "public"
                    ]
                }
            }
        },
        "regionCollection": {
            "type": "object",
            "properties": {
                "m_regionWeights": {
                    "$ref": "#/definitions/propertiesCollection"
                }
            }
        },
        "scopedId": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "scopeId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "scopedKey": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "scopeId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "searchOptions": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/identityPickerServiceExtensionData"
                }
            ],
            "properties": {
                "options": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "serviceInstance": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/propertyContainerObject"
                }
            ],
            "properties": {
                "azureUri": {
                    "type": "string"
                },
                "instanceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "instanceType": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "publicUri": {
                    "type": "string"
                },
                "regions": {
                    "description": "Stores the region-related data Public consumers should not interact with the RegionCollection directly",
                    "$ref": "#/definitions/regionCollection"
                },
                "rootUri": {
                    "type": "string"
                }
            }
        },
        "serviceInstanceType": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/propertyContainerObject"
                }
            ],
            "properties": {
                "instanceType": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "rootUri": {
                    "type": "string"
                }
            }
        },
        "servicingJobInfo": {
            "type": "object",
            "properties": {
                "accountId": {
                    "type": "string",
                    "format": "uuid"
                },
                "completedStepCount": {
                    "type": "integer",
                    "format": "int16"
                },
                "databaseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "databaseName": {
                    "type": "string"
                },
                "endTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "hostId": {
                    "type": "string",
                    "format": "uuid"
                },
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "jobResult": {
                    "enum": [
                        "none",
                        "failed",
                        "partiallySucceeded",
                        "succeeded",
                        "skipped"
                    ]
                },
                "jobStatus": {
                    "enum": [
                        "unknown",
                        "queued",
                        "running",
                        "complete",
                        "failed"
                    ]
                },
                "logUri": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "operationClass": {
                    "type": "string"
                },
                "parentName": {
                    "type": "string"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "poolName": {
                    "type": "string"
                },
                "queueTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "startTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "totalStepCount": {
                    "type": "integer",
                    "format": "int16"
                }
            }
        },
        "servicingJobStats": {
            "type": "object",
            "properties": {
                "averageFailedMilliseconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "averageQueueWaitMilliseconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "averageRunningMilliseconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "averageSuccessfulMilliseconds": {
                    "type": "integer",
                    "format": "int32"
                },
                "failedCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "inProgressCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "queuedCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "successCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "servicingLogEntry": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "none",
                        "info",
                        "warning",
                        "error",
                        "stepDuration",
                        "groupDuration",
                        "operationDuration",
                        "sleepDuration"
                    ]
                }
            }
        },
        "sqlConnectionInfoWrapper": {
            "type": "object",
            "properties": {
                "connectionString": {
                    "type": "string"
                },
                "passwordEncrypted": {
                    "type": "string"
                },
                "signingKeyId": {
                    "type": "string",
                    "format": "uuid"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "tIdentity": {
            "type": "object",
            "properties": {
            }
        },
        "traceDefinition": {
            "type": "object",
            "properties": {
                "area": {
                    "type": "string"
                },
                "exceptionType": {
                    "type": "string"
                },
                "layer": {
                    "type": "string"
                },
                "level": {
                    "enum": [
                        "off",
                        "error",
                        "warning",
                        "info",
                        "verbose"
                    ]
                },
                "method": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "processName": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                },
                "serviceHost": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeCreated": {
                    "type": "string",
                    "format": "date-time"
                },
                "traceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "tracepoint": {
                    "type": "integer",
                    "format": "int32"
                },
                "uri": {
                    "type": "string"
                },
                "userAgent": {
                    "type": "string"
                },
                "userLogin": {
                    "type": "string"
                }
            }
        },
        "valueType": {
            "type": "object",
            "properties": {
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}