{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Partitioning",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "containers"
        },
        {
            "name": "partitions"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/partitioning/containers": {
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "QueryPartitionContainers",
                "description": "",
                "operationId": "queryPartitionContainers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "containerType",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "requiredTags",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "isAcquirable",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "PartitionContainer"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/containers/{containerId}": {
            "put": {
                "tags": [
                    "containers"
                ],
                "summary": "CreatePartitionContainer",
                "description": "",
                "operationId": "createPartitionContainer",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "PartitionContainer"
                    },
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "containers"
                ],
                "summary": "DeletePartitionContainer",
                "description": "",
                "operationId": "deletePartitionContainer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "GetPartitionContainer",
                "description": "",
                "operationId": "getPartitionContainer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "PartitionContainer"
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/partitions/{partitionKey}/{containerType}": {
            "put": {
                "tags": [
                    "partitions"
                ],
                "summary": "CreatePartition",
                "description": "",
                "operationId": "createPartition",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "Partition"
                    },
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "partitions"
                ],
                "summary": "DeletePartition",
                "description": "",
                "operationId": "deletePartition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "partitions"
                ],
                "summary": "QueryPartition",
                "description": "",
                "operationId": "queryPartition",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Partition"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}