{
    "swagger": "2.0",
    "info": {
        "title": "Partitioning",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "containers"
        },
        {
            "name": "partitions"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/partitioning/containers": {
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "QueryPartitionContainers",
                "description": "",
                "operationId": "queryPartitionContainers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "containerType",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "requiredTags",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "isAcquirable",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/partitionContainer"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/containers/{containerId}": {
            "put": {
                "tags": [
                    "containers"
                ],
                "summary": "CreatePartitionContainer",
                "description": "",
                "operationId": "createPartitionContainer",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/partitionContainer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "containers"
                ],
                "summary": "DeletePartitionContainer",
                "description": "",
                "operationId": "deletePartitionContainer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "containers"
                ],
                "summary": "GetPartitionContainer",
                "description": "",
                "operationId": "getPartitionContainer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "containerId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/partitionContainer"
                        }
                    }
                }
            }
        },
        "/_apis/partitioning/partitions/{partitionKey}/{containerType}": {
            "put": {
                "tags": [
                    "partitions"
                ],
                "summary": "CreatePartition",
                "description": "",
                "operationId": "createPartition",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/partition"
                        }
                    },
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "partitions"
                ],
                "summary": "DeletePartition",
                "description": "",
                "operationId": "deletePartition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "partitions"
                ],
                "summary": "QueryPartition",
                "description": "",
                "operationId": "queryPartition",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "partitionKey",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "containerType",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/partition"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "partition": {
            "type": "object",
            "properties": {
                "container": {
                    "$ref": "#/definitions/partitionContainer"
                },
                "partitionKey": {
                    "type": "string"
                }
            }
        },
        "partitionContainer": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "containerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "containerType": {
                    "type": "string",
                    "format": "uuid"
                },
                "maxPartitions": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string",
                    "format": "partitionContainerStatus"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}