{
  "swagger": "2.0",
  "info": {
    "title": "Pipeline",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "definitions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/pipeline/definitions": {
      "post": {
        "tags": [
          "definitions"
        ],
        "summary": "CreateDefinition",
        "description": "",
        "operationId": "createDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pipelineDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "definitionType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/pipelineDefinition"
            }
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinitions",
        "description": "",
        "operationId": "getDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "definitionType"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactSourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "pipelineDefinitionExpands"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "pipelineDefinitionQueryOrder"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isExactNameMatch",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/pipelineDefinition"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "definitions"
        ],
        "summary": "UpdateDefinition",
        "description": "",
        "operationId": "updateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pipelineDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "definitionType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/pipelineDefinition"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "definitions"
        ],
        "summary": "DeleteDefinition",
        "description": "",
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinition",
        "description": "",
        "operationId": "getDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/pipelineDefinition"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "agentBasedDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/deployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/agentDeploymentInput"
        }
      }
    },
    "agentDeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/deploymentInput"
        }
      ],
      "properties": {
        "imageId": {
          "type": "integer",
          "format": "int32"
        },
        "parallelExecution": {
          "$ref": "#/definitions/executionInput"
        }
      }
    },
    "approvalOptions": {
      "type": "object",
      "properties": {
        "pipelineCreatorCanBeApprover": {
          "type": "boolean"
        },
        "requiredApproverCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "artifactFilter": {
      "type": "object",
      "properties": {
        "sourceBranch": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "artifactSource": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "definitionReference": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/artifactSourceReference"
          }
        },
        "isPrimary": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "artifactSourceReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "artifactSourceTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/pipelineTriggerBase"
        }
      ],
      "properties": {
        "artifactAlias": {
          "description": "Artifact source alias for Artifact Source trigger type",
          "type": "string"
        },
        "triggerConditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/artifactFilter"
          }
        }
      }
    },
    "baseDeploymentInput": {
      "type": "object",
      "properties": {
        "shareOutputVariables": {
          "type": "boolean"
        }
      }
    },
    "condition": {
      "type": "object",
      "properties": {
        "conditionType": {
          "enum": [
            "undefined",
            "event",
            "environmentState",
            "artifact"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ConditionType"
          }
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "configurationVariableValue": {
      "type": "object",
      "properties": {
        "isSecret": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "demand": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "deploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/baseDeploymentInput"
        }
      ],
      "properties": {
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/demand"
          }
        },
        "enableAccessToken": {
          "type": "boolean"
        },
        "queueId": {
          "type": "integer",
          "format": "int32"
        },
        "skipArtifactsDownload": {
          "type": "boolean"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "deployPhase": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "phaseType": {
          "enum": [
            "undefined",
            "agentBasedDeployment",
            "runOnServer",
            "machineGroupBasedDeployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeployPhaseTypes"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "workflowTasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workflowTask"
          }
        }
      }
    },
    "environmentExecutionPolicy": {
      "type": "object",
      "properties": {
        "concurrencyCount": {
          "description": "This policy decides, how many environments would be with Environment Runner.",
          "type": "integer",
          "format": "int32"
        },
        "queueDepthCount": {
          "description": "Queue depth in the EnvironmentQueue table, this table keeps the environment entries till Environment Runner is free [as per it's policy] to take another environment for running.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "environmentOptions": {
      "type": "object",
      "properties": {
        "emailNotificationType": {
          "type": "string"
        },
        "emailRecipients": {
          "type": "string"
        },
        "enableAccessToken": {
          "type": "boolean"
        },
        "skipArtifactsDownload": {
          "type": "boolean"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "environmentRetentionPolicy": {
      "type": "object",
      "properties": {
        "daysToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "pipelinesToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "retainBuild": {
          "type": "boolean"
        }
      }
    },
    "executionInput": {
      "type": "object",
      "properties": {
        "parallelExecutionType": {
          "enum": [
            "none",
            "multiConfiguration",
            "multiMachine"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ParallelExecutionTypes"
          }
        }
      }
    },
    "identityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "machineGroupBasedDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/deployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/machineGroupDeploymentInput"
        }
      }
    },
    "machineGroupDeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/deploymentInput"
        }
      ],
      "properties": {
        "deploymentHealthOption": {
          "type": "string"
        },
        "healthPercent": {
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "multiConfigInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/parallelExecutionInputBase"
        }
      ],
      "properties": {
        "multipliers": {
          "type": "string"
        }
      }
    },
    "multiMachineInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/parallelExecutionInputBase"
        }
      ],
      "properties": {
      }
    },
    "noneExecutionInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/executionInput"
        }
      ],
      "properties": {
      }
    },
    "parallelExecutionInputBase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/executionInput"
        }
      ],
      "properties": {
        "continueOnError": {
          "type": "boolean"
        },
        "maxNumberOfAgents": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "pipelineDefinition": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "artifactSources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/artifactSource"
          }
        },
        "comment": {
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/identityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pipelineDefinitionEnvironment"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastPipeline": {
          "$ref": "#/definitions/pipelineReference"
        },
        "modifiedBy": {
          "$ref": "#/definitions/identityRef"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "pipelineNameFormat": {
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "triggers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pipelineTriggerBase"
          }
        },
        "url": {
          "type": "string"
        },
        "variableGroups": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/configurationVariableValue"
          }
        }
      }
    },
    "pipelineDefinitionApprovals": {
      "type": "object",
      "properties": {
        "approvalOptions": {
          "$ref": "#/definitions/approvalOptions"
        },
        "approvals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pipelineDefinitionApprovalStep"
          }
        }
      }
    },
    "pipelineDefinitionApprovalStep": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/pipelineDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "approver": {
          "$ref": "#/definitions/identityRef"
        },
        "isAutomated": {
          "type": "boolean"
        },
        "isNotificationOn": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "pipelineDefinitionDeployStep": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/pipelineDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workflowTask"
          }
        }
      }
    },
    "pipelineDefinitionEnvironment": {
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/condition"
          }
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/demand"
          }
        },
        "deployPhases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deployPhase"
          }
        },
        "deployStep": {
          "$ref": "#/definitions/pipelineDefinitionDeployStep"
        },
        "environmentOptions": {
          "$ref": "#/definitions/environmentOptions"
        },
        "executionPolicy": {
          "$ref": "#/definitions/environmentExecutionPolicy"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/identityRef"
        },
        "postDeployApprovals": {
          "$ref": "#/definitions/pipelineDefinitionApprovals"
        },
        "preDeployApprovals": {
          "$ref": "#/definitions/pipelineDefinitionApprovals"
        },
        "queueId": {
          "type": "integer",
          "format": "int32"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/environmentRetentionPolicy"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pipelineSchedule"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/configurationVariableValue"
          }
        }
      }
    },
    "pipelineDefinitionEnvironmentStep": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "pipelineReference": {
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/artifactSource"
          }
        },
        "createdBy": {
          "$ref": "#/definitions/identityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/shallowReference"
        },
        "url": {
          "type": "string"
        },
        "webAccessUri": {
          "type": "string"
        }
      }
    },
    "pipelineSchedule": {
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Team Foundation Job Definition Job Id",
          "type": "string",
          "format": "uuid"
        },
        "scheduleDays": {
          "description": "Days of the week to pipeline",
          "enum": [
            "none",
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday",
            "saturday",
            "sunday",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ScheduleDays"
          }
        },
        "startHours": {
          "description": "Local time zone hour to start",
          "type": "integer",
          "format": "int32"
        },
        "startMinutes": {
          "description": "Local time zone minute to start",
          "type": "integer",
          "format": "int32"
        },
        "timeZoneId": {
          "description": "Time zone Id of release schedule, such as 'UTC'",
          "type": "string"
        }
      }
    },
    "pipelineTriggerBase": {
      "type": "object",
      "properties": {
        "triggerType": {
          "enum": [
            "undefined",
            "artifactSource",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineTriggerType"
          }
        }
      }
    },
    "referenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "runOnServerDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/deployPhase"
        }
      ],
      "properties": {
      }
    },
    "scheduledPipelineTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/pipelineTriggerBase"
        }
      ],
      "properties": {
        "schedule": {
          "description": "Release schedule for Scheduled Release trigger type",
          "$ref": "#/definitions/pipelineSchedule"
        }
      }
    },
    "shallowReference": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/referenceLinks"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "workflowTask": {
      "type": "object",
      "properties": {
        "alwaysRun": {
          "type": "boolean"
        },
        "continueOnError": {
          "type": "boolean"
        },
        "definitionType": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "inputs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "format": "uuid"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}