{
  "swagger": "2.0",
  "info": {
    "title": "Pipeline",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "artifacts"
    },
    {
      "name": "definitions"
    },
    {
      "name": "environments"
    },
    {
      "name": "logs"
    },
    {
      "name": "pipelines"
    },
    {
      "name": "tasks"
    },
    {
      "name": "templates"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/pipeline/definitions": {
      "post": {
        "tags": [
          "definitions"
        ],
        "summary": "CreateDefinition",
        "description": "",
        "operationId": "createDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineDefinition"
            }
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinitions",
        "description": "",
        "operationId": "getDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionType"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactSourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "PipelineDefinitionExpands"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "PipelineDefinitionQueryOrder"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isExactNameMatch",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PipelineDefinition"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "definitions"
        ],
        "summary": "UpdateDefinition",
        "description": "",
        "operationId": "updateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineDefinition"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "definitions"
        ],
        "summary": "DeleteDefinition",
        "description": "",
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetDefinition",
        "description": "",
        "operationId": "getDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineDefinition"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines": {
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "CreatePipeline",
        "description": "",
        "operationId": "createPipeline",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineStartMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          }
        }
      },
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "GetPipelines",
        "description": "",
        "operationId": "getPipelines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionType"
          },
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionEnvironmentId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "createdBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "PipelineStatus"
          },
          {
            "in": "query",
            "name": "environmentStatusFilter",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "PipelineQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "PipelineExpands"
          },
          {
            "in": "query",
            "name": "artifactTypeId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactVersionId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceBranchFilter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pipeline"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}": {
      "delete": {
        "tags": [
          "pipelines"
        ],
        "summary": "DeletePipeline",
        "description": "",
        "operationId": "deletePipeline",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "comment",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "GetPipeline",
        "description": "",
        "operationId": "getPipeline",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeAllApprovals",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          }
        }
      },
      "put": {
        "tags": [
          "pipelines"
        ],
        "summary": "UndeletePipeline",
        "description": "",
        "operationId": "undeletePipeline",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "comment",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/artifacts": {
      "post": {
        "tags": [
          "artifacts"
        ],
        "summary": "AddArtifact",
        "description": "",
        "operationId": "addArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineArtifact"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "pipelineEnvironmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "attempt",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineArtifact"
            }
          }
        }
      },
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetPipelineArtifacts",
        "description": "",
        "operationId": "getPipelineArtifacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PipelineArtifact"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/artifacts/{artifactName}": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "summary": "GetArtifact",
        "description": "Gets a specific artifact for a pipeline",
        "operationId": "getArtifact",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "artifactName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineArtifact"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/environments/{environmentId}": {
      "get": {
        "tags": [
          "environments"
        ],
        "summary": "GetPipelineEnvironment",
        "description": "",
        "operationId": "getPipelineEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineEnvironment"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "environments"
        ],
        "summary": "UpdatePipelineEnvironment",
        "description": "",
        "operationId": "updatePipelineEnvironment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineEnvironmentUpdateMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineEnvironment"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/environments/{environmentId}/deployPhases/{pipelineDeployPhaseId}/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTasksForTaskGroup",
        "description": "",
        "operationId": "getTasksForTaskGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pipelineDeployPhaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PipelineTask"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/environments/{environmentId}/deployPhases/{pipelineDeployPhaseId}/tasks/{taskId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetTaskLog",
        "description": "",
        "operationId": "getTaskLog",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pipelineDeployPhaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "attemptId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/environments/{environmentId}/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTasks",
        "description": "",
        "operationId": "getTasks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "attemptId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PipelineTask"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/pipelines/{pipelineId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetLogs",
        "description": "",
        "operationId": "getLogs",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/templates": {
      "post": {
        "tags": [
          "templates"
        ],
        "summary": "CreateDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "createDefinitionEnvironmentTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineDefinitionEnvironmentTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineDefinitionEnvironmentTemplate"
            }
          }
        }
      },
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "ListDefinitionEnvironmentTemplates",
        "description": "",
        "operationId": "listDefinitionEnvironmentTemplates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionType",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PipelineDefinitionEnvironmentTemplate"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/pipeline/templates/{templateId}": {
      "delete": {
        "tags": [
          "templates"
        ],
        "summary": "DeleteDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "deleteDefinitionEnvironmentTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "GetDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "getDefinitionEnvironmentTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PipelineDefinitionEnvironmentTemplate"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentBasedDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/AgentDeploymentInput"
        }
      }
    },
    "AgentDeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentInput"
        }
      ],
      "properties": {
        "imageId": {
          "type": "integer",
          "format": "int32"
        },
        "parallelExecution": {
          "$ref": "#/definitions/ExecutionInput"
        },
        "queueReference": {
          "$ref": "#/definitions/AgentQueueReference"
        }
      }
    },
    "AgentQueueReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isHosted": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ApprovalOptions": {
      "type": "object",
      "properties": {
        "pipelineCreatorCanBeApprover": {
          "type": "boolean"
        },
        "requiredApproverCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "definitionReference": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactSourceReference"
          }
        },
        "isPrimary": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ArtifactFilter": {
      "type": "object",
      "properties": {
        "sourceBranch": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactMetadata": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "instanceReference": {
          "$ref": "#/definitions/BuildVersion"
        }
      }
    },
    "ArtifactResource": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "data": {
          "description": "The type-specific resource data. For example, \"#/10002/5/drop\", \"$/drops/5\", \"\\\\myshare\\myfolder\\mydrops\\5\"",
          "type": "string"
        },
        "downloadUri": {
          "description": "Link to the resource. This might include things like query parameters to download as a zip file",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Artifact Resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource: File container, version control folder, UNC path, etc.",
          "type": "string"
        },
        "uri": {
          "description": "Link to the resource",
          "type": "string"
        }
      }
    },
    "ArtifactSource": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "definitionReference": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactSourceReference"
          }
        },
        "isPrimary": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ArtifactSourceReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ArtifactSourceTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PipelineTriggerBase"
        }
      ],
      "properties": {
        "artifactAlias": {
          "description": "Artifact source alias for Artifact Source trigger type",
          "type": "string"
        },
        "triggerConditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactFilter"
          }
        }
      }
    },
    "BaseDeploymentInput": {
      "type": "object",
      "properties": {
        "shareOutputVariables": {
          "type": "boolean"
        }
      }
    },
    "BuildVersion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceBranch": {
          "type": "string"
        }
      }
    },
    "Condition": {
      "type": "object",
      "properties": {
        "conditionType": {
          "enum": [
            "undefined",
            "event",
            "environmentState",
            "artifact"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ConditionType"
          }
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ConfigurationVariableValue": {
      "type": "object",
      "properties": {
        "isSecret": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ConsoleLogEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimePipelineEvent"
        }
      ],
      "properties": {
        "lines": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timelineRecordId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Demand": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "DeploymentAttempt": {
      "type": "object",
      "properties": {
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "deploymentId": {
          "type": "integer",
          "format": "int32"
        },
        "hasStarted": {
          "description": "The time at which the deployment started, and null if it has not been deployed yet",
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "lastModifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "operationStatus": {
          "enum": [
            "undefined",
            "queued",
            "scheduled",
            "pending",
            "approved",
            "rejected",
            "deferred",
            "queuedForAgent",
            "phaseInProgress",
            "phaseSucceeded",
            "phasePartiallySucceeded",
            "phaseFailed",
            "canceled",
            "phaseCanceled",
            "manualInterventionPending"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeploymentOperationStatus"
          }
        },
        "pipelineDeployPhases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineDeployPhase"
          }
        },
        "queuedOn": {
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "automated",
            "scheduled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeploymentReason"
          }
        },
        "requestedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "status": {
          "enum": [
            "undefined",
            "notDeployed",
            "inProgress",
            "succeeded",
            "partiallySucceeded",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeploymentStatus"
          }
        }
      }
    },
    "DeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BaseDeploymentInput"
        }
      ],
      "properties": {
        "clean": {
          "type": "boolean"
        },
        "cleanOptions": {
          "enum": [
            "source",
            "sourceAndOutputDir",
            "sourceDir",
            "allBuildDir"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.RepositoryCleanOptions"
          }
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "enableAccessToken": {
          "type": "boolean"
        },
        "skipArtifactsDownload": {
          "type": "boolean"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeploymentJob": {
      "type": "object",
      "properties": {
        "job": {
          "$ref": "#/definitions/PipelineTask"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineTask"
          }
        }
      }
    },
    "DeployPhase": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "phaseType": {
          "enum": [
            "undefined",
            "agentBasedDeployment",
            "runOnServer",
            "machineGroupBasedDeployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeployPhaseTypes"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "workflowTasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTask"
          }
        }
      }
    },
    "EnvironmentExecutionPolicy": {
      "type": "object",
      "properties": {
        "concurrencyCount": {
          "description": "This policy decides, how many environments would be with Environment Runner.",
          "type": "integer",
          "format": "int32"
        },
        "queueDepthCount": {
          "description": "Queue depth in the EnvironmentQueue table, this table keeps the environment entries till Environment Runner is free [as per it's policy] to take another environment for running.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EnvironmentOptions": {
      "type": "object",
      "properties": {
        "emailNotificationType": {
          "type": "string"
        },
        "emailRecipients": {
          "type": "string"
        }
      }
    },
    "EnvironmentRetentionPolicy": {
      "type": "object",
      "properties": {
        "daysToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "pipelinesToKeep": {
          "type": "integer",
          "format": "int32"
        },
        "retainBuild": {
          "type": "boolean"
        }
      }
    },
    "ExecutionInput": {
      "type": "object",
      "properties": {
        "parallelExecutionType": {
          "enum": [
            "none",
            "multiConfiguration",
            "multiMachine"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ParallelExecutionTypes"
          }
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Issue": {
      "type": "object",
      "properties": {
        "issueType": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "MachineGroupBasedDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/MachineGroupDeploymentInput"
        }
      }
    },
    "MachineGroupDeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentInput"
        }
      ],
      "properties": {
        "deploymentHealthOption": {
          "type": "string"
        },
        "healthPercent": {
          "type": "integer",
          "format": "int32"
        },
        "machineGroupId": {
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManualIntervention": {
      "type": "object",
      "properties": {
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "comments": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "instructions": {
          "type": "string"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "pipeline": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineEnvironment": {
          "$ref": "#/definitions/ShallowReference"
        },
        "status": {
          "enum": [
            "unknown",
            "pending",
            "rejected",
            "approved",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ManualInterventionStatus"
          }
        },
        "taskInstanceId": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "MultiConfigInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ParallelExecutionInputBase"
        }
      ],
      "properties": {
        "multipliers": {
          "type": "string"
        }
      }
    },
    "MultiMachineInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ParallelExecutionInputBase"
        }
      ],
      "properties": {
      }
    },
    "NoneExecutionInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ExecutionInput"
        }
      ],
      "properties": {
      }
    },
    "ParallelExecutionInputBase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ExecutionInput"
        }
      ],
      "properties": {
        "continueOnError": {
          "type": "boolean"
        },
        "maxNumberOfAgents": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Pipeline": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "comment": {
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "definitionSnapshotRevision": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineEnvironment"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "keepForever": {
          "type": "boolean"
        },
        "logsContainerUrl": {
          "type": "string"
        },
        "modifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineNameFormat": {
          "type": "string"
        },
        "poolName": {
          "type": "string"
        },
        "projectReference": {
          "$ref": "#/definitions/ProjectReference"
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "continuousIntegration",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineReason"
          }
        },
        "status": {
          "enum": [
            "undefined",
            "draft",
            "active",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineStatus"
          }
        },
        "url": {
          "type": "string"
        },
        "variableGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VariableGroup"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "PipelineApproval": {
      "type": "object",
      "properties": {
        "approvalType": {
          "enum": [
            "undefined",
            "preDeploy",
            "postDeploy",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ApprovalType"
          }
        },
        "approvedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "comments": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "history": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineApprovalHistory"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "isAutomated": {
          "type": "boolean"
        },
        "isNotificationOn": {
          "type": "boolean"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "pipeline": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineEnvironment": {
          "$ref": "#/definitions/ShallowReference"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "enum": [
            "undefined",
            "pending",
            "approved",
            "rejected",
            "reassigned",
            "canceled",
            "skipped"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ApprovalStatus"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PipelineApprovalHistory": {
      "type": "object",
      "properties": {
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "changedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "comments": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PipelineArtifact": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The artifact id",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the artifact",
          "type": "string"
        },
        "resource": {
          "description": "The actual resource",
          "$ref": "#/definitions/ArtifactResource"
        }
      }
    },
    "PipelineDefinition": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifactSources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactSource"
          }
        },
        "comment": {
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineDefinitionEnvironment"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastPipeline": {
          "$ref": "#/definitions/PipelineReference"
        },
        "modifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "pipelineNameFormat": {
          "type": "string"
        },
        "project": {
          "$ref": "#/definitions/ProjectReference"
        },
        "revision": {
          "type": "integer",
          "format": "int32"
        },
        "triggers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineTriggerBase"
          }
        },
        "url": {
          "type": "string"
        },
        "variableGroups": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "PipelineDefinitionApprovals": {
      "type": "object",
      "properties": {
        "approvalOptions": {
          "$ref": "#/definitions/ApprovalOptions"
        },
        "approvals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineDefinitionApprovalStep"
          }
        }
      }
    },
    "PipelineDefinitionApprovalStep": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PipelineDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "approver": {
          "$ref": "#/definitions/IdentityRef"
        },
        "isAutomated": {
          "type": "boolean"
        },
        "isNotificationOn": {
          "type": "boolean"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PipelineDefinitionDeployStep": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PipelineDefinitionEnvironmentStep"
        }
      ],
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTask"
          }
        }
      }
    },
    "PipelineDefinitionEnvironment": {
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        },
        "demands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "deployPhases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeployPhase"
          }
        },
        "deployStep": {
          "$ref": "#/definitions/PipelineDefinitionDeployStep"
        },
        "environmentOptions": {
          "$ref": "#/definitions/EnvironmentOptions"
        },
        "executionPolicy": {
          "$ref": "#/definitions/EnvironmentExecutionPolicy"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/IdentityRef"
        },
        "postDeployApprovals": {
          "$ref": "#/definitions/PipelineDefinitionApprovals"
        },
        "preDeployApprovals": {
          "$ref": "#/definitions/PipelineDefinitionApprovals"
        },
        "queueId": {
          "type": "integer",
          "format": "int32"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "retentionPolicy": {
          "$ref": "#/definitions/EnvironmentRetentionPolicy"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineSchedule"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "PipelineDefinitionEnvironmentStep": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PipelineDefinitionEnvironmentTemplate": {
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean"
        },
        "category": {
          "type": "string"
        },
        "definitionType": {
          "enum": [
            "release",
            "build"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DefinitionType"
          }
        },
        "description": {
          "type": "string"
        },
        "environment": {
          "$ref": "#/definitions/PipelineDefinitionEnvironment"
        },
        "iconTaskId": {
          "type": "string",
          "format": "uuid"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "PipelineDeployPhase": {
      "type": "object",
      "properties": {
        "deploymentJobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentJob"
          }
        },
        "errorLog": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "manualInterventions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManualIntervention"
          }
        },
        "phaseType": {
          "enum": [
            "undefined",
            "agentBasedDeployment",
            "runOnServer",
            "machineGroupBasedDeployment"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeployPhaseTypes"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "runPlanId": {
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "partiallySucceeded",
            "succeeded",
            "failed",
            "canceled",
            "skipped"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.DeployPhaseStatus"
          }
        }
      }
    },
    "PipelineEnvironment": {
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "definitionEnvironmentId": {
          "type": "integer",
          "format": "int32"
        },
        "deployPhasesSnapshot": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeployPhase"
          }
        },
        "deploySteps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentAttempt"
          }
        },
        "environmentOptions": {
          "$ref": "#/definitions/EnvironmentOptions"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "nextScheduledUtcTime": {
          "type": "string",
          "format": "date-time"
        },
        "owner": {
          "$ref": "#/definitions/IdentityRef"
        },
        "pipeline": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineCreatedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/ShallowReference"
        },
        "pipelineDescription": {
          "type": "string"
        },
        "pipelineId": {
          "type": "integer",
          "format": "int32"
        },
        "postApprovalsSnapshot": {
          "$ref": "#/definitions/PipelineDefinitionApprovals"
        },
        "postDeployApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineApproval"
          }
        },
        "preApprovalsSnapshot": {
          "$ref": "#/definitions/PipelineDefinitionApprovals"
        },
        "preDeployApprovals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineApproval"
          }
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "scheduledDeploymentTime": {
          "type": "string",
          "format": "date-time"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineSchedule"
          }
        },
        "status": {
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "succeeded",
            "canceled",
            "rejected",
            "queued",
            "scheduled",
            "partiallySucceeded"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.EnvironmentStatus"
          }
        },
        "timeToDeploy": {
          "type": "number",
          "format": "double"
        },
        "triggerReason": {
          "type": "string"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationVariableValue"
          }
        }
      }
    },
    "PipelineEnvironmentUpdateMetadata": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "scheduledDeploymentTime": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "enum": [
            "undefined",
            "notStarted",
            "inProgress",
            "succeeded",
            "canceled",
            "rejected",
            "queued",
            "scheduled",
            "partiallySucceeded"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.EnvironmentStatus"
          }
        }
      }
    },
    "PipelineReference": {
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactSource"
          }
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "pipelineDefinition": {
          "$ref": "#/definitions/ShallowReference"
        },
        "url": {
          "type": "string"
        },
        "webAccessUri": {
          "type": "string"
        }
      }
    },
    "PipelineSchedule": {
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Team Foundation Job Definition Job Id",
          "type": "string",
          "format": "uuid"
        },
        "scheduleDays": {
          "description": "Days of the week to pipeline",
          "enum": [
            "none",
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday",
            "saturday",
            "sunday",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.ScheduleDays"
          }
        },
        "startHours": {
          "description": "Local time zone hour to start",
          "type": "integer",
          "format": "int32"
        },
        "startMinutes": {
          "description": "Local time zone minute to start",
          "type": "integer",
          "format": "int32"
        },
        "timeZoneId": {
          "description": "Time zone Id of release schedule, such as 'UTC'",
          "type": "string"
        }
      }
    },
    "PipelineStartMetadata": {
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactMetadata"
          }
        },
        "definitionId": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "isDraft": {
          "type": "boolean"
        },
        "manualEnvironments": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reason": {
          "enum": [
            "none",
            "manual",
            "continuousIntegration",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineReason"
          }
        }
      }
    },
    "PipelineTask": {
      "type": "object",
      "properties": {
        "agentName": {
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Issue"
          }
        },
        "lineCount": {
          "type": "integer",
          "format": "int64"
        },
        "logUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "rank": {
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "enum": [
            "unknown",
            "pending",
            "inProgress",
            "canceled",
            "skipped",
            "succeeded",
            "failed",
            "partiallySucceeded"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.TaskStatus"
          }
        },
        "timelineRecordId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "PipelineTriggerBase": {
      "type": "object",
      "properties": {
        "triggerType": {
          "enum": [
            "undefined",
            "artifactSource",
            "schedule"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineTriggerType"
          }
        }
      }
    },
    "PipelineUpdatedEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimePipelineEvent"
        }
      ],
      "properties": {
        "pipeline": {
          "$ref": "#/definitions/Pipeline"
        }
      }
    },
    "PipelineUpdateMetadata": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "keepForever": {
          "type": "boolean"
        },
        "manualEnvironments": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "enum": [
            "undefined",
            "draft",
            "active",
            "abandoned"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Pipeline.WebApi.Contracts.PipelineStatus"
          }
        }
      }
    },
    "ProjectReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "RealtimePipelineEvent": {
      "type": "object",
      "properties": {
        "pipelineId": {
          "type": "integer",
          "format": "int32"
        },
        "projectId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "RunOnServerDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
      }
    },
    "ScheduledPipelineTrigger": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PipelineTriggerBase"
        }
      ],
      "properties": {
        "schedule": {
          "description": "Release schedule for Scheduled Release trigger type",
          "$ref": "#/definitions/PipelineSchedule"
        }
      }
    },
    "ShallowReference": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TimelineRecordsUpdatedEvent": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RealtimePipelineEvent"
        }
      ],
      "properties": {
        "job": {
          "$ref": "#/definitions/PipelineTask"
        },
        "pipelineTasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PipelineTask"
          }
        }
      }
    },
    "VariableGroup": {
      "type": "object",
      "properties": {
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "modifiedBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VariableValue"
          }
        }
      }
    },
    "VariableValue": {
      "type": "object",
      "properties": {
        "isSecret": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "WorkflowTask": {
      "type": "object",
      "properties": {
        "alwaysRun": {
          "type": "boolean"
        },
        "continueOnError": {
          "type": "boolean"
        },
        "definitionType": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "inputs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "format": "uuid"
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}