{
  "swagger": "2.0",
  "info": {
    "title": "Policy",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "configurations"
    },
    {
      "name": "evaluations"
    },
    {
      "name": "revisions"
    },
    {
      "name": "types"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/policy/configurations": {
      "get": {
        "tags": [
          "configurations"
        ],
        "summary": "GetPolicyConfigurations",
        "description": "",
        "operationId": "getPolicyConfigurations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyConfiguration"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/policy/configurations/{configurationId}": {
      "post": {
        "tags": [
          "configurations"
        ],
        "summary": "CreatePolicyConfiguration",
        "description": "",
        "operationId": "createPolicyConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "configurations"
        ],
        "summary": "DeletePolicyConfiguration",
        "description": "",
        "operationId": "deletePolicyConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "configurations"
        ],
        "summary": "GetPolicyConfiguration",
        "description": "",
        "operationId": "getPolicyConfiguration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          }
        }
      },
      "put": {
        "tags": [
          "configurations"
        ],
        "summary": "UpdatePolicyConfiguration",
        "description": "",
        "operationId": "updatePolicyConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          }
        }
      }
    },
    "/{project}/_apis/policy/configurations/{configurationId}/revisions": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetPolicyConfigurationRevisions",
        "description": "",
        "operationId": "getPolicyConfigurationRevisions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyConfiguration"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/policy/configurations/{configurationId}/revisions/{revisionId}": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetPolicyConfigurationRevision",
        "description": "",
        "operationId": "getPolicyConfigurationRevision",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "configurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revisionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyConfiguration"
            }
          }
        }
      }
    },
    "/{project}/_apis/policy/evaluations": {
      "get": {
        "tags": [
          "evaluations"
        ],
        "summary": "GetPolicyEvaluations",
        "description": "",
        "operationId": "getPolicyEvaluations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeNotApplicable",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyEvaluationRecord"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/policy/evaluations/{evaluationId}": {
      "get": {
        "tags": [
          "evaluations"
        ],
        "summary": "GetPolicyEvaluation",
        "description": "",
        "operationId": "getPolicyEvaluation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "evaluationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyEvaluationRecord"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.code"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "evaluations"
        ],
        "summary": "RequeuePolicyEvaluation",
        "description": "",
        "operationId": "requeuePolicyEvaluation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "evaluationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyEvaluationRecord"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.code_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/policy/types": {
      "get": {
        "tags": [
          "types"
        ],
        "summary": "GetPolicyTypes",
        "description": "",
        "operationId": "getPolicyTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyType"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/policy/types/{typeId}": {
      "get": {
        "tags": [
          "types"
        ],
        "summary": "GetPolicyType",
        "description": "",
        "operationId": "getPolicyType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "typeId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyType"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "JObject": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "JContainer"
        }
      ],
      "properties": {
        "item": {
          "type": "string",
          "format": "JToken"
        },
        "type": {
          "type": "string",
          "format": "JTokenType"
        }
      }
    },
    "PolicyConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VersionedPolicyConfigurationRef"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityRef"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "isBlocking": {
          "type": "boolean"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "settings": {
          "$ref": "#/definitions/JObject"
        }
      }
    },
    "PolicyConfigurationRef": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "$ref": "#/definitions/PolicyTypeRef"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PolicyEvaluationRecord": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "artifactId": {
          "type": "string"
        },
        "completedDate": {
          "type": "string",
          "format": "date-time"
        },
        "configuration": {
          "$ref": "#/definitions/PolicyConfiguration"
        },
        "context": {
          "$ref": "#/definitions/JObject"
        },
        "evaluationId": {
          "type": "string",
          "format": "uuid"
        },
        "startedDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "enum": [
            "queued",
            "running",
            "approved",
            "rejected",
            "notApplicable",
            "broken"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Policy.WebApi.PolicyEvaluationStatus"
          }
        }
      }
    },
    "PolicyType": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyTypeRef"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "PolicyTypeRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ReferenceLinks": {
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "VersionedPolicyConfigurationRef": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyConfigurationRef"
        }
      ],
      "properties": {
        "revision": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.code": "Grants the ability to read source code and metadata about commits, changesets, branches, and other version control artifacts. Also grants the ability to get notified about version control events via service hooks.",
        "vso.code_write": "Grants the ability to read, update, and delete source code, access metadata about commits, changesets, branches, and other version control artifacts. Also grants the ability to create and manage pull requests and code reviews and to receive notifications about version control events via service hooks."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}