{
    "swagger": "2.0",
    "info": {
        "title": "Policy",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "configurations"
        },
        {
            "name": "evaluations"
        },
        {
            "name": "revisions"
        },
        {
            "name": "types"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/{project}/_apis/policy/configurations": {
            "get": {
                "tags": [
                    "configurations"
                ],
                "summary": "GetPolicyConfigurations",
                "description": "",
                "operationId": "getPolicyConfigurations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/policyConfiguration"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/configurations/{configurationId}": {
            "post": {
                "tags": [
                    "configurations"
                ],
                "summary": "CreatePolicyConfiguration",
                "description": "",
                "operationId": "createPolicyConfiguration",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "configurations"
                ],
                "summary": "DeletePolicyConfiguration",
                "description": "",
                "operationId": "deletePolicyConfiguration",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "configurations"
                ],
                "summary": "GetPolicyConfiguration",
                "description": "",
                "operationId": "getPolicyConfiguration",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "configurations"
                ],
                "summary": "UpdatePolicyConfiguration",
                "description": "",
                "operationId": "updatePolicyConfiguration",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/configurations/{configurationId}/revisions": {
            "get": {
                "tags": [
                    "revisions"
                ],
                "summary": "GetPolicyConfigurationRevisions",
                "description": "",
                "operationId": "getPolicyConfigurationRevisions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/policyConfiguration"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/configurations/{configurationId}/revisions/{revisionId}": {
            "get": {
                "tags": [
                    "revisions"
                ],
                "summary": "GetPolicyConfigurationRevision",
                "description": "",
                "operationId": "getPolicyConfigurationRevision",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "configurationId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "revisionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyConfiguration"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/evaluations": {
            "get": {
                "tags": [
                    "evaluations"
                ],
                "summary": "GetPolicyEvaluations",
                "description": "",
                "operationId": "getPolicyEvaluations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "artifactId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeNotApplicable",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/policyEvaluationRecord"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/evaluations/{evaluationId}": {
            "get": {
                "tags": [
                    "evaluations"
                ],
                "summary": "GetPolicyEvaluation",
                "description": "",
                "operationId": "getPolicyEvaluation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "evaluationId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyEvaluationRecord"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "evaluations"
                ],
                "summary": "RequeuePolicyEvaluation",
                "description": "",
                "operationId": "requeuePolicyEvaluation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "evaluationId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyEvaluationRecord"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/types": {
            "get": {
                "tags": [
                    "types"
                ],
                "summary": "GetPolicyTypes",
                "description": "",
                "operationId": "getPolicyTypes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/policyType"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/policy/types/{typeId}": {
            "get": {
                "tags": [
                    "types"
                ],
                "summary": "GetPolicyType",
                "description": "",
                "operationId": "getPolicyType",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "typeId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/policyType"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "policyConfiguration": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/versionedPolicyConfigurationRef"
                }
            ],
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "createdBy": {
                    "type": "identityRef"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "isBlocking": {
                    "type": "boolean"
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "isEnabled": {
                    "type": "boolean"
                },
                "settings": {
                    "type": "jObject"
                }
            }
        },
        "policyConfigurationRef": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "type": {
                    "$ref": "#/definitions/policyTypeRef"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "policyEvaluationRecord": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "artifactId": {
                    "type": "string"
                },
                "completedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "configuration": {
                    "$ref": "#/definitions/policyConfiguration"
                },
                "context": {
                    "type": "jObject"
                },
                "evaluationId": {
                    "type": "string",
                    "format": "uuid"
                },
                "startedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "enum": [
                        "queued",
                        "running",
                        "approved",
                        "rejected",
                        "notApplicable",
                        "broken"
                    ]
                }
            }
        },
        "policyType": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/policyTypeRef"
                }
            ],
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "policyTypeRef": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "versionedPolicyConfigurationRef": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/policyConfigurationRef"
                }
            ],
            "properties": {
                "revision": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}