{
    "swagger": "2.0",
    "info": {
        "title": "Profile",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "attributes"
        },
        {
            "name": "avatar"
        },
        {
            "name": "geoRegion"
        },
        {
            "name": "profiles"
        },
        {
            "name": "regions"
        },
        {
            "name": "supportedLcids"
        },
        {
            "name": "userDefaults"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/profile/attributes/{id}": {
            "delete": {
                "tags": [
                    "attributes"
                ],
                "summary": "DeleteProfileAttribute",
                "description": "",
                "operationId": "deleteProfileAttribute",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "descriptor",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "attributes"
                ],
                "summary": "GetProfileAttribute",
                "description": "",
                "operationId": "getProfileAttribute",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "descriptor",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProfileAttribute"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "attributes"
                ],
                "summary": "SetProfileAttribute",
                "description": "",
                "operationId": "setProfileAttribute",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "descriptor",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "patch": {
                "tags": [
                    "attributes"
                ],
                "summary": "SetProfileAttributes",
                "description": "",
                "operationId": "setProfileAttributes",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "Generic"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/profile/avatar/{id}": {
            "get": {
                "tags": [
                    "avatar"
                ],
                "summary": "GetAvatar",
                "description": "",
                "operationId": "getAvatar",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "format",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Avatar"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "avatar"
                ],
                "summary": "GetAvatarPreview",
                "description": "",
                "operationId": "getAvatarPreview",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "format",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "displayName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Avatar"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "avatar"
                ],
                "summary": "ResetAvatar",
                "description": "",
                "operationId": "resetAvatar",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "put": {
                "tags": [
                    "avatar"
                ],
                "summary": "SetAvatar",
                "description": "",
                "operationId": "setAvatar",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "JObject"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/profile/georegion": {
            "get": {
                "tags": [
                    "geoRegion"
                ],
                "summary": "GetGeoRegion",
                "description": "Lookup up country/region based on provided IPv4, null if using the remote IPv4 address.",
                "operationId": "getGeoRegion",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "ipaddress",
                        "description": "IPv4 address to be used for reverse lookup, null if using RemoteIPAddress in request context",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GeoRegion"
                        }
                    }
                }
            }
        },
        "/_apis/profile/profiles": {
            "post": {
                "tags": [
                    "profiles"
                ],
                "summary": "CreateProfile",
                "description": "Create profile",
                "operationId": "createProfile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Context for profile creation",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateProfileContext"
                        }
                    },
                    {
                        "in": "query",
                        "name": "autoCreate",
                        "description": "Create profile automatically",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                }
            }
        },
        "/_apis/profile/profiles/{id}": {
            "get": {
                "tags": [
                    "profiles"
                ],
                "summary": "GetProfile",
                "description": "",
                "operationId": "getProfile",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "details",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "withAttributes",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "partition",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "coreAttributes",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "forceRefresh",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "profiles"
                ],
                "summary": "UpdateProfile",
                "description": "Update profile",
                "operationId": "updateProfile",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Update profile",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Profile ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/profile/regions": {
            "get": {
                "tags": [
                    "regions"
                ],
                "summary": "GetRegions",
                "description": "",
                "operationId": "getRegions",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProfileRegions"
                        }
                    }
                }
            }
        },
        "/_apis/profile/supportedlcids": {
            "get": {
                "tags": [
                    "supportedLcids"
                ],
                "summary": "GetSupportedLcids",
                "description": "",
                "operationId": "getSupportedLcids",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/profile/userdefaults": {
            "get": {
                "tags": [
                    "userDefaults"
                ],
                "summary": "GetRemoteProfile",
                "description": "",
                "operationId": "getRemoteProfile",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includeAvatar",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/RemoteProfile"
                        }
                    }
                }
            }
        },
        "/_apis/profile/userdefaults/{id}": {
            "put": {
                "tags": [
                    "userDefaults"
                ],
                "summary": "RefreshUserDefaults",
                "description": "",
                "operationId": "refreshUserDefaults",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AttributeDescriptor": {
            "type": "object",
            "properties": {
                "attributeName": {
                    "type": "string"
                },
                "containerName": {
                    "type": "string"
                }
            }
        },
        "AttributesContainer": {
            "type": "object",
            "properties": {
                "attributes": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/ProfileAttribute"
                    }
                },
                "containerName": {
                    "type": "string"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Avatar": {
            "type": "object",
            "properties": {
                "isAutoGenerated": {
                    "type": "boolean"
                },
                "size": {
                    "enum": [
                        "small",
                        "medium",
                        "large"
                    ]
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                }
            }
        },
        "CoreProfileAttribute": {
            "type": "Generic",
            "properties": {
            }
        },
        "Country": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "englishName": {
                    "type": "string"
                }
            }
        },
        "CreateProfileContext": {
            "type": "object",
            "properties": {
                "cIData": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "contactWithOffers": {
                    "type": "boolean"
                },
                "countryName": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "emailAddress": {
                    "type": "string"
                },
                "hasAccount": {
                    "type": "boolean"
                },
                "language": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "GeoRegion": {
            "type": "object",
            "properties": {
                "regionCode": {
                    "type": "string"
                }
            }
        },
        "Profile": {
            "type": "object",
            "properties": {
                "applicationContainer": {
                    "$ref": "#/definitions/AttributesContainer"
                },
                "coreAttributes": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/CoreProfileAttribute"
                    }
                },
                "coreRevision": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "ProfileAttribute": {
            "type": "Generic",
            "properties": {
            }
        },
        "ProfileAttributeBase<T>": {
            "type": "object",
            "properties": {
                "descriptor": {
                    "$ref": "#/definitions/AttributeDescriptor"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                },
                "value": {
                    "type": "T"
                }
            }
        },
        "ProfileRegion": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "The two-letter code defined in ISO 3166 for the country/region.",
                    "type": "string"
                },
                "name": {
                    "description": "Localized country/region name",
                    "type": "string"
                }
            }
        },
        "ProfileRegions": {
            "type": "object",
            "properties": {
                "noticeContactConsentRequirementRegions": {
                    "description": "List of country/region code with contact consent requirement type of notice",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "optOutContactConsentRequirementRegions": {
                    "description": "List of country/region code with contact consent requirement type of opt-out",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "regions": {
                    "description": "List of country/regions",
                    "type": "array",
                    "items": {
                        "type": "ProfileRegion"
                    }
                }
            }
        },
        "ProfileTermsOfService": {
            "type": "object",
            "properties": {
                "activatedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "lastModified": {
                    "type": "string",
                    "format": "date-time"
                },
                "termsOfServiceUrl": {
                    "type": "string"
                },
                "version": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "RemoteProfile": {
            "type": "object",
            "properties": {
                "avatar": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "emailAddress": {
                    "type": "string"
                }
            }
        },
        "UserTermsOfService": {
            "type": "object",
            "properties": {
                "currentAcceptedTermsOfService": {
                    "type": "integer",
                    "format": "int32"
                },
                "currentAcceptedTermsOfServiceDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "latestTermsOfService": {
                    "$ref": "#/definitions/ProfileTermsOfService"
                }
            }
        },
        "VerifyPreferredEmailContext": {
            "type": "object",
            "properties": {
                "emailAddress": {
                    "type": "string"
                },
                "hashCode": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}