{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Recommendation",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "engagementData"
        },
        {
            "name": "recommendationHistory"
        },
        {
            "name": "recommendations"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/recommendation/engagementdata": {
            "get": {
                "tags": [
                    "engagementData"
                ],
                "summary": "Read",
                "description": "",
                "operationId": "read",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "engagementId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/EngagementData"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "engagementData"
                ],
                "summary": "Write",
                "description": "",
                "operationId": "write",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EngagementData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/recommendation/recommendationhistory": {
            "post": {
                "tags": [
                    "recommendationHistory"
                ],
                "summary": "LogRecommendation",
                "description": "",
                "operationId": "logRecommendation",
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "RecommendationType"
                    },
                    {
                        "in": "query",
                        "name": "engagementId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/recommendation/recommendations": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "summary": "GetRecommendations",
                "description": "",
                "operationId": "getRecommendations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "RecommendationType"
                    },
                    {
                        "in": "query",
                        "name": "input",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RecommendationInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/IRecommendation"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "EngagementData": {
            "type": "object",
            "properties": {
                "allEngagementLevels": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "allEngagementPriorities": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "allScenarios": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "content": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "enableForEveryone": {
                    "type": "string"
                },
                "enableForMe": {
                    "type": "string"
                },
                "engagementId": {
                    "type": "string"
                },
                "engagementLevel": {
                    "type": "string"
                },
                "engagementPriority": {
                    "type": "string"
                },
                "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "pageIds": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "boolean"
                    }
                },
                "realEngagementId": {
                    "type": "string"
                },
                "scenario": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "IRecommendation": {
            "type": "object",
            "properties": {
                "confidence": {
                    "description": "Gets the confidence level on the recommendation",
                    "enum": [
                        "none",
                        "low",
                        "medium",
                        "high"
                    ]
                },
                "recommendationData": {
                    "description": "Gets the Recommendation Data",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "recommendationType": {
                    "description": "Gets the type of recommendation",
                    "enum": [
                        "engagement",
                        "engagementLegacy",
                        "interaction",
                        "offline",
                        "pageInteraction"
                    ]
                }
            }
        },
        "Recommendation": {
            "type": "object",
            "properties": {
                "confidence": {
                    "description": "Gets or sets the recommendation confidence",
                    "enum": [
                        "none",
                        "low",
                        "medium",
                        "high"
                    ]
                },
                "recommendationData": {
                    "description": "Gets or sets the Recommendation Data",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "recommendationType": {
                    "description": "Gets or sets the type of recommendation",
                    "enum": [
                        "engagement",
                        "engagementLegacy",
                        "interaction",
                        "offline",
                        "pageInteraction"
                    ]
                }
            }
        },
        "RecommendationInput": {
            "type": "object",
            "properties": {
                "recommendationInputData": {
                    "description": "Gets or sets the recommendation Input Data",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "recommendationType": {
                    "description": "Gets or sets the recommendation Type",
                    "enum": [
                        "engagement",
                        "engagementLegacy",
                        "interaction",
                        "offline",
                        "pageInteraction"
                    ]
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}