{
    "swagger": "2.0",
    "info": {
        "title": "Release",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "agentartifacts"
        },
        {
            "name": "approvals"
        },
        {
            "name": "changes"
        },
        {
            "name": "continuousDeployment"
        },
        {
            "name": "definitions"
        },
        {
            "name": "deployments"
        },
        {
            "name": "environments"
        },
        {
            "name": "environmenttemplates"
        },
        {
            "name": "favorites"
        },
        {
            "name": "history"
        },
        {
            "name": "inputvaluesquery"
        },
        {
            "name": "logs"
        },
        {
            "name": "manualInterventions"
        },
        {
            "name": "metrics"
        },
        {
            "name": "projects"
        },
        {
            "name": "releases"
        },
        {
            "name": "releasesettings"
        },
        {
            "name": "revisions"
        },
        {
            "name": "sendmail"
        },
        {
            "name": "sourcebranches"
        },
        {
            "name": "tasks"
        },
        {
            "name": "throttlingQueue"
        },
        {
            "name": "types"
        },
        {
            "name": "versions"
        },
        {
            "name": "workitems"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/release/projects": {
            "get": {
                "tags": [
                    "projects"
                ],
                "summary": "GetReleaseProjects",
                "description": "",
                "operationId": "getReleaseProjects",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "artifactType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "artifactSourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/projectReference"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/release/throttlingqueue": {
            "get": {
                "tags": [
                    "throttlingQueue"
                ],
                "summary": "GetQueuedReleases",
                "description": "Returns throttled queue as per the task hub license of parallel releases",
                "operationId": "getQueuedReleases",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "projectId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "releaseId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/queuedReleaseData"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/approvals": {
            "get": {
                "tags": [
                    "approvals"
                ],
                "summary": "GetApprovals",
                "description": "",
                "operationId": "getApprovals",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "assignedToFilter",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "statusFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "approvalStatus"
                    },
                    {
                        "in": "query",
                        "name": "releaseIdsFilter",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "typeFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "approvalType"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "continuationToken",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "queryOrder",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseQueryOrder"
                    },
                    {
                        "in": "query",
                        "name": "includeMyGroupApprovals",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseApproval"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/approvals/{approvalId}": {
            "get": {
                "tags": [
                    "approvals"
                ],
                "summary": "GetApproval",
                "description": "",
                "operationId": "getApproval",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "approvalId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeHistory",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseApproval"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "approvals"
                ],
                "summary": "UpdateReleaseApproval",
                "description": "",
                "operationId": "updateReleaseApproval",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseApproval"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "approvalId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseApproval"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/approvals/{approvalStepId}/history": {
            "get": {
                "tags": [
                    "approvals"
                ],
                "summary": "GetApprovalHistory",
                "description": "",
                "operationId": "getApprovalHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "approvalStepId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseApproval"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/artifacts/inputvaluesquery": {
            "post": {
                "tags": [
                    "inputvaluesquery"
                ],
                "summary": "GetInputValues",
                "description": "",
                "operationId": "getInputValues",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/inputValuesQuery"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/inputValuesQuery"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/artifacts/types": {
            "get": {
                "tags": [
                    "types"
                ],
                "summary": "GetArtifactTypeDefinitions",
                "description": "",
                "operationId": "getArtifactTypeDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/artifactTypeDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/artifacts/versions": {
            "get": {
                "tags": [
                    "versions"
                ],
                "summary": "GetArtifactVersions",
                "description": "",
                "operationId": "getArtifactVersions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "releaseDefinitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/artifactVersionQueryResult"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "versions"
                ],
                "summary": "GetArtifactVersionsForSources",
                "description": "",
                "operationId": "getArtifactVersionsForSources",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/artifact"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/artifactVersionQueryResult"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/continuousdeployment": {
            "post": {
                "tags": [
                    "continuousDeployment"
                ],
                "summary": "SetupContinuousDeployment",
                "description": "",
                "operationId": "setupContinuousDeployment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/continuousDeploymentSetupData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/definitions": {
            "post": {
                "tags": [
                    "definitions"
                ],
                "summary": "CreateReleaseDefinition",
                "description": "",
                "operationId": "createReleaseDefinition",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseDefinition"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseDefinition"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "definitions"
                ],
                "summary": "GetReleaseDefinitions",
                "description": "",
                "operationId": "getReleaseDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "searchText",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseDefinitionExpands"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "continuationToken",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queryOrder",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseDefinitionQueryOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseDefinition"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "definitions"
                ],
                "summary": "UpdateReleaseDefinition",
                "description": "",
                "operationId": "updateReleaseDefinition",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseDefinition"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseDefinition"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/definitions/{definitionId}": {
            "delete": {
                "tags": [
                    "definitions"
                ],
                "summary": "DeleteReleaseDefinition",
                "description": "",
                "operationId": "deleteReleaseDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "definitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "definitions"
                ],
                "summary": "GetReleaseDefinition",
                "description": "",
                "operationId": "getReleaseDefinition",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "definitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseDefinition"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/definitions/{definitionId}/revisions": {
            "get": {
                "tags": [
                    "revisions"
                ],
                "summary": "GetReleaseDefinitionHistory",
                "description": "",
                "operationId": "getReleaseDefinitionHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "definitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseDefinitionRevision"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/definitions/{definitionId}/revisions/{revision}": {
            "get": {
                "tags": [
                    "revisions"
                ],
                "summary": "GetDefinitionRevision",
                "description": "",
                "operationId": "getDefinitionRevision",
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "definitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "revision",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/definitions/{definitionId}/sourcebranches": {
            "get": {
                "tags": [
                    "sourcebranches"
                ],
                "summary": "GetSourceBranches",
                "description": "",
                "operationId": "getSourceBranches",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "definitionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/definitions/environmenttemplates": {
            "post": {
                "tags": [
                    "environmenttemplates"
                ],
                "summary": "CreateDefinitionEnvironmentTemplate",
                "description": "",
                "operationId": "createDefinitionEnvironmentTemplate",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseDefinitionEnvironmentTemplate"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseDefinitionEnvironmentTemplate"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "environmenttemplates"
                ],
                "summary": "DeleteDefinitionEnvironmentTemplate",
                "description": "",
                "operationId": "deleteDefinitionEnvironmentTemplate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "templateId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "environmenttemplates"
                ],
                "summary": "GetDefinitionEnvironmentTemplate",
                "description": "",
                "operationId": "getDefinitionEnvironmentTemplate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "templateId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseDefinitionEnvironmentTemplate"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/deployments": {
            "get": {
                "tags": [
                    "deployments"
                ],
                "summary": "GetDeployments",
                "description": "",
                "operationId": "getDeployments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "definitionEnvironmentId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "createdBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "minModifiedTime",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "maxModifiedTime",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "deploymentStatus",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "deploymentStatus"
                    },
                    {
                        "in": "query",
                        "name": "operationStatus",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "deploymentOperationStatus"
                    },
                    {
                        "in": "query",
                        "name": "latestAttemptsOnly",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "queryOrder",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseQueryOrder"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "continuationToken",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deployment"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "deployments"
                ],
                "summary": "GetDeploymentsForMultipleEnvironments",
                "description": "",
                "operationId": "getDeploymentsForMultipleEnvironments",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/deploymentQueryParameters"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deployment"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/favorites/{scope}": {
            "post": {
                "tags": [
                    "favorites"
                ],
                "summary": "CreateFavorites",
                "description": "",
                "operationId": "createFavorites",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/favoriteItem"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "identityId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/favoriteItem"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "favorites"
                ],
                "summary": "DeleteFavorites",
                "description": "",
                "operationId": "deleteFavorites",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "identityId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "favoriteItemIds",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "favorites"
                ],
                "summary": "GetFavorites",
                "description": "",
                "operationId": "getFavorites",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "scope",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "identityId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/favoriteItem"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/metrics": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "GetMetrics",
                "description": "",
                "operationId": "getMetrics",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "minMetricsTime",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/metric"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases": {
            "get": {
                "tags": [
                    "releases"
                ],
                "summary": "GetReleases",
                "description": "",
                "operationId": "getReleases",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "definitionEnvironmentId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "searchText",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "createdBy",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "statusFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseStatus"
                    },
                    {
                        "in": "query",
                        "name": "environmentStatusFilter",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "minCreatedTime",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "maxCreatedTime",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "in": "query",
                        "name": "queryOrder",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseQueryOrder"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "continuationToken",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "releaseExpands"
                    },
                    {
                        "in": "query",
                        "name": "artifactTypeId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "sourceId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "artifactVersionId",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "sourceBranchFilter",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "isDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/release"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "releases"
                ],
                "summary": "CreateRelease",
                "description": "",
                "operationId": "createRelease",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseStartMetadata"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/release"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}": {
            "delete": {
                "tags": [
                    "releases"
                ],
                "summary": "DeleteRelease",
                "description": "",
                "operationId": "deleteRelease",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "comment",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "releases"
                ],
                "summary": "GetRelease",
                "description": "",
                "operationId": "getRelease",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeAllApprovals",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/release"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "releases"
                ],
                "summary": "UndeleteRelease",
                "description": "",
                "operationId": "undeleteRelease",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "comment",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "patch": {
                "tags": [
                    "releases"
                ],
                "summary": "UpdateReleaseResource",
                "description": "",
                "operationId": "updateReleaseResource",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseUpdateMetadata"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/release"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/agentartifacts": {
            "get": {
                "tags": [
                    "agentartifacts"
                ],
                "summary": "GetAgentArtifactDefinitions",
                "description": "Returns the artifact details that automation agent requires",
                "operationId": "getAgentArtifactDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/agentArtifactDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/changes": {
            "get": {
                "tags": [
                    "changes"
                ],
                "summary": "GetReleaseChanges",
                "description": "",
                "operationId": "getReleaseChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "baseReleaseId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/change"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/releases/{releaseId}/environments/{environmentId}": {
            "get": {
                "tags": [
                    "environments"
                ],
                "summary": "GetReleaseEnvironment",
                "description": "",
                "operationId": "getReleaseEnvironment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseEnvironment"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "environments"
                ],
                "summary": "UpdateReleaseEnvironment",
                "description": "",
                "operationId": "updateReleaseEnvironment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseEnvironmentUpdateMetadata"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseEnvironment"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/deployPhases/{releaseDeployPhaseId}/tasks": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTasksForTaskGroup",
                "description": "",
                "operationId": "getTasksForTaskGroup",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "releaseDeployPhaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseTask"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/deployPhases/{releaseDeployPhaseId}/tasks/{taskId}/logs": {
            "get": {
                "tags": [
                    "logs"
                ],
                "summary": "GetTaskLog",
                "description": "",
                "operationId": "getTaskLog",
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "releaseDeployPhaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/tasks": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTasks",
                "description": "",
                "operationId": "getTasks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "attemptId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseTask"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/tasks/{taskId}/logs": {
            "get": {
                "tags": [
                    "logs"
                ],
                "summary": "GetLog",
                "description": "",
                "operationId": "getLog",
                "produces": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "environmentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "attemptId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/releases/{releaseId}/history": {
            "get": {
                "tags": [
                    "history"
                ],
                "summary": "GetReleaseHistory",
                "description": "",
                "operationId": "getReleaseHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseRevision"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/logs": {
            "get": {
                "tags": [
                    "logs"
                ],
                "summary": "GetLogs",
                "description": "",
                "operationId": "getLogs",
                "produces": [
                    "application/zip"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/releases/{releaseId}/manualinterventions": {
            "get": {
                "tags": [
                    "manualInterventions"
                ],
                "summary": "GetManualInterventions",
                "description": "",
                "operationId": "getManualInterventions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/manualIntervention"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/Release/releases/{releaseId}/manualinterventions/{manualInterventionId}": {
            "get": {
                "tags": [
                    "manualInterventions"
                ],
                "summary": "GetManualIntervention",
                "description": "",
                "operationId": "getManualIntervention",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "manualInterventionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/manualIntervention"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "manualInterventions"
                ],
                "summary": "UpdateManualIntervention",
                "description": "",
                "operationId": "updateManualIntervention",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/manualInterventionUpdateMetadata"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "manualInterventionId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/manualIntervention"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releases/{releaseId}/workitems": {
            "get": {
                "tags": [
                    "workitems"
                ],
                "summary": "GetReleaseWorkItemsRefs",
                "description": "",
                "operationId": "getReleaseWorkItemsRefs",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "baseReleaseId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/releaseWorkItemRef"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/releasesettings": {
            "get": {
                "tags": [
                    "releasesettings"
                ],
                "summary": "GetReleaseSettings",
                "description": "",
                "operationId": "getReleaseSettings",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseSettings"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "releasesettings"
                ],
                "summary": "UpdateReleaseSettings",
                "description": "Updates the release settings",
                "operationId": "updateReleaseSettings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/releaseSettings"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/releaseSettings"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/release/sendmail/{releaseId}": {
            "get": {
                "tags": [
                    "sendmail"
                ],
                "summary": "GetSummaryMailSections",
                "description": "",
                "operationId": "getSummaryMailSections",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/summaryMailSection"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sendmail"
                ],
                "summary": "SendSummaryMail",
                "description": "",
                "operationId": "sendSummaryMail",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mailMessage"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "releaseId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "agentArtifactDefinition": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "artifactType": {
                    "enum": [
                        "xamlBuild",
                        "build",
                        "jenkins",
                        "fileShare",
                        "nuget",
                        "tfsOnPrem",
                        "gitHub",
                        "tFGit",
                        "externalTfsBuild",
                        "custom",
                        "tfvc"
                    ]
                },
                "details": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "agentBasedDeployPhase": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deployPhase"
                }
            ],
            "properties": {
                "deploymentInput": {
                    "$ref": "#/definitions/agentDeploymentInput"
                }
            }
        },
        "agentDeploymentInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deploymentInput"
                }
            ],
            "properties": {
                "imageIdHint": {
                    "type": "string"
                },
                "parallelExecution": {
                    "$ref": "#/definitions/executionInput"
                }
            }
        },
        "approvalOptions": {
            "type": "object",
            "properties": {
                "releaseCreatorCanBeApprover": {
                    "type": "boolean"
                },
                "requiredApproverCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "artifact": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "definitionReference": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/artifactSourceReference"
                    }
                },
                "isPrimary": {
                    "type": "boolean"
                },
                "sourceId": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "artifactContributionDefinition": {
            "type": "object",
            "properties": {
                "artifactType": {
                    "type": "string"
                },
                "artifactTypeStreamMapping": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "browsableArtifactTypeMapping": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "dataSourceBindings": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataSourceBinding"
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "downloadTaskId": {
                    "type": "string"
                },
                "endpointTypeId": {
                    "type": "string"
                },
                "inputDescriptors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/inputDescriptor"
                    }
                },
                "name": {
                    "type": "string"
                },
                "uniqueSourceIdentifier": {
                    "type": "string"
                }
            }
        },
        "artifactFilter": {
            "type": "object",
            "properties": {
                "sourceBranch": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "artifactInstanceData": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "authenticationToken": {
                    "type": "string"
                },
                "tfsUrl": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "artifactMetadata": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "instanceReference": {
                    "$ref": "#/definitions/buildVersion"
                }
            }
        },
        "artifactProvider": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "sourceUri": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
[...]
