{
  "swagger": "2.0",
  "info": {
    "title": "Release",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "agentartifacts"
    },
    {
      "name": "approvals"
    },
    {
      "name": "changes"
    },
    {
      "name": "continuousDeployment"
    },
    {
      "name": "definitionEnvironments"
    },
    {
      "name": "definitions"
    },
    {
      "name": "deployments"
    },
    {
      "name": "environments"
    },
    {
      "name": "environmenttemplates"
    },
    {
      "name": "favorites"
    },
    {
      "name": "folders"
    },
    {
      "name": "history"
    },
    {
      "name": "inputvaluesquery"
    },
    {
      "name": "ipAddress"
    },
    {
      "name": "logs"
    },
    {
      "name": "manualInterventions"
    },
    {
      "name": "metrics"
    },
    {
      "name": "projects"
    },
    {
      "name": "releases"
    },
    {
      "name": "releasesettings"
    },
    {
      "name": "revisions"
    },
    {
      "name": "sendmail"
    },
    {
      "name": "sourcebranches"
    },
    {
      "name": "tags"
    },
    {
      "name": "tasks"
    },
    {
      "name": "types"
    },
    {
      "name": "versions"
    },
    {
      "name": "workitems"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/release/ipaddress": {
      "get": {
        "tags": [
          "ipAddress"
        ],
        "summary": "GetIPAddress",
        "description": "",
        "operationId": "getIPAddress",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/_apis/release/ipaddress/{ipDetectionMethods}": {
      "get": {
        "tags": [
          "ipAddress"
        ],
        "summary": "GetSupportedIPDetectionMethods",
        "description": "Gets supported IP detection methods for request source",
        "operationId": "getSupportedIPDetectionMethods",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ipDetectionMethods",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/_apis/release/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "GetReleaseProjects",
        "description": "",
        "operationId": "getReleaseProjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactSourceId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectReference"
              }
            }
          }
        }
      }
    },
    "/_apis/release/releases": {
      "get": {
        "tags": [
          "releases"
        ],
        "summary": "GetReleases",
        "description": "",
        "operationId": "getReleases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionEnvironmentId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "createdBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseStatus"
          },
          {
            "in": "query",
            "name": "environmentStatusFilter",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseExpands"
          },
          {
            "in": "query",
            "name": "artifactTypeId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactVersionId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceBranchFilter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "tagFilter",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Release"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/approvals": {
      "get": {
        "tags": [
          "approvals"
        ],
        "summary": "GetApprovals",
        "description": "",
        "operationId": "getApprovals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "assignedToFilter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ApprovalStatus"
          },
          {
            "in": "query",
            "name": "releaseIdsFilter",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "typeFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ApprovalType"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseQueryOrder"
          },
          {
            "in": "query",
            "name": "includeMyGroupApprovals",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseApproval"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/approvals/{approvalId}": {
      "get": {
        "tags": [
          "approvals"
        ],
        "summary": "GetApproval",
        "description": "",
        "operationId": "getApproval",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "approvalId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeHistory",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseApproval"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "approvals"
        ],
        "summary": "UpdateReleaseApproval",
        "description": "",
        "operationId": "updateReleaseApproval",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseApproval"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "approvalId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseApproval"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/approvals/{approvalStepId}/history": {
      "get": {
        "tags": [
          "approvals"
        ],
        "summary": "GetApprovalHistory",
        "description": "",
        "operationId": "getApprovalHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "approvalStepId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseApproval"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/artifacts/inputvaluesquery": {
      "post": {
        "tags": [
          "inputvaluesquery"
        ],
        "summary": "GetInputValues",
        "description": "",
        "operationId": "getInputValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputValuesQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InputValuesQuery"
            }
          }
        }
      }
    },
    "/{project}/_apis/release/artifacts/types": {
      "get": {
        "tags": [
          "types"
        ],
        "summary": "GetArtifactTypeDefinitions",
        "description": "",
        "operationId": "getArtifactTypeDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArtifactTypeDefinition"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/release/artifacts/versions": {
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "GetArtifactVersions",
        "description": "",
        "operationId": "getArtifactVersions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "releaseDefinitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArtifactVersionQueryResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "versions"
        ],
        "summary": "GetArtifactVersionsForSources",
        "description": "",
        "operationId": "getArtifactVersionsForSources",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Artifact"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ArtifactVersionQueryResult"
            }
          }
        }
      }
    },
    "/{project}/_apis/release/continuousdeployment": {
      "post": {
        "tags": [
          "continuousDeployment"
        ],
        "summary": "SetupContinuousDeployment",
        "description": "",
        "operationId": "setupContinuousDeployment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDeploymentSetupData"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    },
    "/{project}/_apis/release/definitionenvironments": {
      "get": {
        "tags": [
          "definitionEnvironments"
        ],
        "summary": "GetDefinitionEnvironments",
        "description": "",
        "operationId": "getDefinitionEnvironments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "taskGroupId",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DefinitionEnvironmentReference"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/release/definitions": {
      "post": {
        "tags": [
          "definitions"
        ],
        "summary": "CreateReleaseDefinition",
        "description": "",
        "operationId": "createReleaseDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseDefinition"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetReleaseDefinitions",
        "description": "",
        "operationId": "getReleaseDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseDefinitionExpands"
          },
          {
            "in": "query",
            "name": "artifactType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactSourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseDefinitionQueryOrder"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isExactNameMatch",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "tagFilter",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseDefinition"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "definitions"
        ],
        "summary": "UpdateReleaseDefinition",
        "description": "",
        "operationId": "updateReleaseDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseDefinition"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "definitions"
        ],
        "summary": "DeleteReleaseDefinition",
        "description": "",
        "operationId": "deleteReleaseDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "definitions"
        ],
        "summary": "GetReleaseDefinition",
        "description": "",
        "operationId": "getReleaseDefinition",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseDefinition"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/definitions/{definitionId}/revisions": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetReleaseDefinitionHistory",
        "description": "",
        "operationId": "getReleaseDefinitionHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseDefinitionRevision"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/definitions/{definitionId}/revisions/{revision}": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetDefinitionRevision",
        "description": "",
        "operationId": "getDefinitionRevision",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revision",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/definitions/{definitionId}/sourcebranches": {
      "get": {
        "tags": [
          "sourcebranches"
        ],
        "summary": "GetSourceBranches",
        "description": "",
        "operationId": "getSourceBranches",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/definitions/{releaseDefinitionId}/tags": {
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "AddDefinitionTags",
        "description": "Adds multiple tags to a definition",
        "operationId": "addDefinitionTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseDefinitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetDefinitionTags",
        "description": "Gets the tags for a definition",
        "operationId": "getDefinitionTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseDefinitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/definitions/{releaseDefinitionId}/tags/{tag}": {
      "patch": {
        "tags": [
          "tags"
        ],
        "summary": "AddDefinitionTag",
        "description": "Adds a tag to a definition",
        "operationId": "addDefinitionTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseDefinitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tags"
        ],
        "summary": "DeleteDefinitionTag",
        "description": "Deletes a tag from a definition",
        "operationId": "deleteDefinitionTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseDefinitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/definitions/environmenttemplates": {
      "post": {
        "tags": [
          "environmenttemplates"
        ],
        "summary": "CreateDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "createDefinitionEnvironmentTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseDefinitionEnvironmentTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseDefinitionEnvironmentTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "environmenttemplates"
        ],
        "summary": "DeleteDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "deleteDefinitionEnvironmentTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "environmenttemplates"
        ],
        "summary": "GetDefinitionEnvironmentTemplate",
        "description": "",
        "operationId": "getDefinitionEnvironmentTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseDefinitionEnvironmentTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/deployments": {
      "get": {
        "tags": [
          "deployments"
        ],
        "summary": "GetDeployments",
        "description": "",
        "operationId": "getDeployments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionEnvironmentId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "createdBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minModifiedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxModifiedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "deploymentStatus",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentStatus"
          },
          {
            "in": "query",
            "name": "operationStatus",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DeploymentOperationStatus"
          },
          {
            "in": "query",
            "name": "latestAttemptsOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deployment"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "deployments"
        ],
        "summary": "GetDeploymentsForMultipleEnvironments",
        "description": "",
        "operationId": "getDeploymentsForMultipleEnvironments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentQueryParameters"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deployment"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/favorites/{scope}": {
      "post": {
        "tags": [
          "favorites"
        ],
        "summary": "CreateFavorites",
        "description": "",
        "operationId": "createFavorites",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FavoriteItem"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "identityId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FavoriteItem"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "favorites"
        ],
        "summary": "DeleteFavorites",
        "description": "",
        "operationId": "deleteFavorites",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "identityId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "favoriteItemIds",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "favorites"
        ],
        "summary": "GetFavorites",
        "description": "",
        "operationId": "getFavorites",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "scope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "identityId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FavoriteItem"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/release/folders/{*path}": {
      "get": {
        "tags": [
          "folders"
        ],
        "summary": "GetFolders",
        "description": "Gets folders",
        "operationId": "getFolders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "FolderPathQueryOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Folder"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/release/folders/{path}": {
      "post": {
        "tags": [
          "folders"
        ],
        "summary": "CreateFolder",
        "description": "Creates a new folder",
        "operationId": "createFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "folders"
        ],
        "summary": "DeleteFolder",
        "description": "Deletes a definition folder for given folder name and path and all it's existing definitions",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "patch": {
        "tags": [
          "folders"
        ],
        "summary": "UpdateFolder",
        "description": "Updates an existing folder at given  existing path",
        "operationId": "updateFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          }
        }
      }
    },
    "/{project}/_apis/release/metrics": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "GetMetrics",
        "description": "",
        "operationId": "getMetrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Metric"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/release/releases": {
      "get": {
        "tags": [
          "releases"
        ],
        "summary": "GetReleases",
        "description": "",
        "operationId": "getReleases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionEnvironmentId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "createdBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseStatus"
          },
          {
            "in": "query",
            "name": "environmentStatusFilter",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxCreatedTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseQueryOrder"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseExpands"
          },
          {
            "in": "query",
            "name": "artifactTypeId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "artifactVersionId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceBranchFilter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "tagFilter",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Release"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "releases"
        ],
        "summary": "CreateRelease",
        "description": "",
        "operationId": "createRelease",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseStartMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Release"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}": {
      "delete": {
        "tags": [
          "releases"
        ],
        "summary": "DeleteRelease",
        "description": "",
        "operationId": "deleteRelease",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "comment",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "releases"
        ],
        "summary": "GetRelease",
        "description": "",
        "operationId": "getRelease",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeAllApprovals",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Release"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "releases"
        ],
        "summary": "UndeleteRelease",
        "description": "",
        "operationId": "undeleteRelease",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "comment",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "releases"
        ],
        "summary": "UpdateReleaseResource",
        "description": "",
        "operationId": "updateReleaseResource",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseUpdateMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Release"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/agentartifacts": {
      "get": {
        "tags": [
          "agentartifacts"
        ],
        "summary": "GetAgentArtifactDefinitions",
        "description": "Returns the artifact details that automation agent requires",
        "operationId": "getAgentArtifactDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgentArtifactDefinition"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/changes": {
      "get": {
        "tags": [
          "changes"
        ],
        "summary": "GetReleaseChanges",
        "description": "",
        "operationId": "getReleaseChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseReleaseId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Change"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/releases/{releaseId}/environments/{environmentId}": {
      "get": {
        "tags": [
          "environments"
        ],
        "summary": "GetReleaseEnvironment",
        "description": "",
        "operationId": "getReleaseEnvironment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseEnvironment"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "environments"
        ],
        "summary": "UpdateReleaseEnvironment",
        "description": "",
        "operationId": "updateReleaseEnvironment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseEnvironmentUpdateMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseEnvironment"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/deployPhases/{releaseDeployPhaseId}/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTasksForTaskGroup",
        "description": "",
        "operationId": "getTasksForTaskGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "releaseDeployPhaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseTask"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/deployPhases/{releaseDeployPhaseId}/tasks/{taskId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetTaskLog",
        "description": "",
        "operationId": "getTaskLog",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "releaseDeployPhaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GetTasks",
        "description": "",
        "operationId": "getTasks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "attemptId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseTask"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/environments/{environmentId}/tasks/{taskId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetLog",
        "description": "",
        "operationId": "getLog",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "environmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "taskId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "attemptId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/releases/{releaseId}/history": {
      "get": {
        "tags": [
          "history"
        ],
        "summary": "GetReleaseHistory",
        "description": "",
        "operationId": "getReleaseHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseRevision"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "summary": "GetLogs",
        "description": "",
        "operationId": "getLogs",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/releases/{releaseId}/manualinterventions": {
      "get": {
        "tags": [
          "manualInterventions"
        ],
        "summary": "GetManualInterventions",
        "description": "",
        "operationId": "getManualInterventions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ManualIntervention"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/Release/releases/{releaseId}/manualinterventions/{manualInterventionId}": {
      "get": {
        "tags": [
          "manualInterventions"
        ],
        "summary": "GetManualIntervention",
        "description": "",
        "operationId": "getManualIntervention",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "manualInterventionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ManualIntervention"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "manualInterventions"
        ],
        "summary": "UpdateManualIntervention",
        "description": "",
        "operationId": "updateManualIntervention",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManualInterventionUpdateMetadata"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "manualInterventionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ManualIntervention"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/tags": {
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "AddReleaseTags",
        "description": "Adds tag to a release",
        "operationId": "addReleaseTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetReleaseTags",
        "description": "Gets the tags for a release",
        "operationId": "getReleaseTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/tags/{tag}": {
      "patch": {
        "tags": [
          "tags"
        ],
        "summary": "AddReleaseTag",
        "description": "Adds a tag to a releaseId",
        "operationId": "addReleaseTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_execute"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "tags"
        ],
        "summary": "DeleteReleaseTag",
        "description": "Deletes a tag from a release",
        "operationId": "deleteReleaseTag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release_manage"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releases/{releaseId}/workitems": {
      "get": {
        "tags": [
          "workitems"
        ],
        "summary": "GetReleaseWorkItemsRefs",
        "description": "",
        "operationId": "getReleaseWorkItemsRefs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "baseReleaseId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseWorkItemRef"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.release"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/release/releasesettings": {
      "get": {
        "tags": [
          "releasesettings"
        ],
        "summary": "GetReleaseSettings",
        "description": "",
        "operationId": "getReleaseSettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseSettings"
            }
          }
        }
      },
      "put": {
        "tags": [
          "releasesettings"
        ],
        "summary": "UpdateReleaseSettings",
        "description": "Updates the release settings",
        "operationId": "updateReleaseSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseSettings"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseSettings"
            }
          }
        }
      }
    },
    "/{project}/_apis/release/sendmail/{releaseId}": {
      "get": {
        "tags": [
          "sendmail"
        ],
        "summary": "GetSummaryMailSections",
        "description": "",
        "operationId": "getSummaryMailSections",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SummaryMailSection"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "sendmail"
        ],
        "summary": "SendSummaryMail",
        "description": "",
        "operationId": "sendSummaryMail",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MailMessage"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/{project}/_apis/release/tags": {
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "GetTags",
        "description": "",
        "operationId": "getTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentArtifactDefinition": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "artifactType": {
          "enum": [
            "xamlBuild",
            "build",
            "jenkins",
            "fileShare",
            "nuget",
            "tfsOnPrem",
            "gitHub",
            "tFGit",
            "externalTfsBuild",
            "custom",
            "tfvc",
            "svn",
            "externalGit",
            "pipeline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.ReleaseManagement.WebApi.Contracts.AgentArtifactType"
          }
        },
        "details": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "AgentBasedDeployPhase": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeployPhase"
        }
      ],
      "properties": {
        "deploymentInput": {
          "$ref": "#/definitions/AgentDeploymentInput"
        }
      }
    },
    "AgentDeploymentInput": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentInput"
        }
      ],
      "properties": {
        "imageId": {
          "type": "integer",
          "format": "int32"
        },
        "parallelExecution": {
          "$ref": "#/definitions/ExecutionInput"
        }
      }
    },
    "ApprovalOptions": {
      "type": "object",
      "properties": {
        "autoTriggeredAndPreviousEnvironmentApprovedCanBeSkipped": {
          "type": "boolean"
        },
        "enforceIdentityRevalidation": {
          "type": "boolean"
        },
        "releaseCreatorCanBeApprover": {
          "type": "boolean"
        },
        "requiredApproverCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "definitionReference": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactSourceReference"
          }
        },
        "isPrimary": {
          "type": "boolean"
        },
        "sourceId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ArtifactContributionDefinition": {
      "type": "object",
      "properties": {
        "artifactType": {
          "type": "string"
        },
        "artifactTypeStreamMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "browsableArtifactTypeMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataSourceBindings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSourceBinding"
          }
        },
        "displayName": {
          "type": "string"
        },
        "downloadTaskId": {
          "type": "string"
        },
        "endpointTypeId": {
          "type": "string"
        },
        "inputDescriptors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputDescriptor"
          }
        },
        "name": {
          "type": "string"
        },
        "uniqueSourceIdentifier": {
          "type": "string"
        }
      }
    },
    "ArtifactFilter": {
      "type": "object",
      "properties": {
        "sourceBranch": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactInstanceData": {
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "authenticationToken": {
          "type": "string"
        },
        "tfsUrl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ArtifactMetadata": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "instanceReference": {
          "$ref": "#/definitions/BuildVersion"
        }
      }
    },
    "ArtifactProvider": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "sourceUri": {
[...]
