{
  "swagger": "2.0",
  "info": {
    "title": "ReparentCollection",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "requests"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/ServicingOrchestration/reparentcollection/requests": {
      "put": {
        "tags": [
          "requests"
        ],
        "summary": "QueueRequest",
        "description": "",
        "operationId": "queueRequest",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/frameworkReparentCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "post": {
        "tags": [
          "requests"
        ],
        "summary": "ValidateRequest",
        "description": "",
        "operationId": "validateRequest",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/frameworkReparentCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/ServicingOrchestration/reparentcollection/requests/{requestId}": {
      "delete": {
        "tags": [
          "requests"
        ],
        "summary": "CancelRequest",
        "description": "",
        "operationId": "cancelRequest",
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "requests"
        ],
        "summary": "GetRequestStatus",
        "description": "",
        "operationId": "getRequestStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/servicingOrchestrationRequestStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "frameworkReparentCollectionRequest": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/frameworkServicingOrchestrationRequest"
        }
      ],
      "properties": {
        "originalOrganizationId": {
          "type": "string",
          "format": "uuid"
        },
        "targetOrganizationId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "frameworkServicingOrchestrationRequest": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/servicingOrchestrationRequest"
        }
      ],
      "properties": {
        "hostId": {
          "description": "Host Id this request is targeting",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "propertyCollection": {
      "type": "object",
      "allOf": [
        {
          "type": "array"
        }
      ],
      "properties": {
      }
    },
    "propertyPair": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "servicingOrchestrationRequest": {
      "type": "object",
      "properties": {
        "jobId": {
          "description": "The Servicing Job Id used to process this particular request",
          "type": "string",
          "format": "uuid"
        },
        "properties": {
          "description": "Property bag for the custom data",
          "$ref": "#/definitions/propertyCollection"
        },
        "requestId": {
          "description": "Id of the import request (MUST be the same for all activities of the particular import)",
          "type": "string",
          "format": "uuid"
        },
        "typeName": {
          "description": "Full type name of the payload used to construct proper object during the deserialization",
          "type": "string"
        }
      }
    },
    "servicingOrchestrationRequestStatus": {
      "type": "object",
      "properties": {
        "completedDate": {
          "type": "string",
          "format": "date-time"
        },
        "completedStepCount": {
          "type": "integer",
          "format": "int16"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "properties": {
          "$ref": "#/definitions/propertyCollection"
        },
        "requestId": {
          "type": "string",
          "format": "uuid"
        },
        "servicingJobId": {
          "type": "string",
          "format": "uuid"
        },
        "startDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "enum": [
            "created",
            "queued",
            "running",
            "completed",
            "failed"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Cloud.WebApi.ServicingOrchestrationStatus"
          }
        },
        "statusMessage": {
          "type": "string"
        },
        "totalStepCount": {
          "type": "integer",
          "format": "int16"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}