{
    "swagger": "2.0",
    "info": {
        "title": "RM",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "consumers"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/rm/consumers": {
            "get": {
                "tags": [
                    "consumers"
                ],
                "summary": "GetConsumers",
                "description": "",
                "operationId": "getConsumers",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/rm/consumers/{consumerId}": {
            "get": {
                "tags": [
                    "consumers"
                ],
                "summary": "GetConsumer",
                "description": "",
                "operationId": "getConsumer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "consumerId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "agentArtifactDefinition": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "artifactType": {
                    "enum": [
                        "xamlBuild",
                        "build",
                        "jenkins",
                        "fileShare",
                        "nuget",
                        "tfsOnPrem",
                        "gitHub",
                        "tFGit",
                        "externalTfsBuild",
                        "custom",
                        "tfvc"
                    ]
                },
                "details": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "agentBasedDeployPhase": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deployPhase"
                }
            ],
            "properties": {
                "deploymentInput": {
                    "$ref": "#/definitions/agentDeploymentInput"
                }
            }
        },
        "agentDeploymentInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deploymentInput"
                }
            ],
            "properties": {
                "parallelExecution": {
                    "$ref": "#/definitions/executionInput"
                }
            }
        },
        "approvalOptions": {
            "type": "object",
            "properties": {
                "releaseCreatorCanBeApprover": {
                    "type": "boolean"
                },
                "requiredApproverCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "artifact": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "definitionReference": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/artifactSourceReference"
                    }
                },
                "isPrimary": {
                    "type": "boolean"
                },
                "sourceId": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "artifactContributionDefinition": {
            "type": "object",
            "properties": {
                "artifactType": {
                    "type": "string"
                },
                "artifactTypeStreamMapping": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "browsableArtifactTypeMapping": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "dataSourceBindings": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataSourceBinding"
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "downloadTaskId": {
                    "type": "string"
                },
                "endpointTypeId": {
                    "type": "string"
                },
                "inputDescriptors": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "inputDescriptor"
                    }
                },
                "name": {
                    "type": "string"
                },
                "uniqueSourceIdentifier": {
                    "type": "string"
                }
            }
        },
        "artifactFilter": {
            "type": "object",
            "properties": {
                "sourceBranch": {
                    "type": "string"
                }
            }
        },
        "artifactInstanceData": {
            "type": "object",
            "properties": {
                "accountName": {
                    "type": "string"
                },
                "authenticationToken": {
                    "type": "string"
                },
                "tfsUrl": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "artifactMetadata": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "instanceReference": {
                    "$ref": "#/definitions/buildVersion"
                }
            }
        },
        "artifactProvider": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "sourceUri": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "artifactSourceId": {
            "type": "object",
            "properties": {
                "artifactTypeId": {
                    "type": "string"
                },
                "sourceIdInputs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/sourceIdInput"
                    }
                }
            }
        },
        "artifactSourceIdsQueryResult": {
            "type": "object",
            "properties": {
                "artifactSourceIds": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifactSourceId"
                    }
                }
            }
        },
        "artifactSourceReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "artifactSourceTrigger": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/releaseTriggerBase"
                }
            ],
            "properties": {
                "artifactAlias": {
                    "description": "Artifact source alias for Artifact Source trigger type",
                    "type": "string"
                },
                "triggerConditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifactFilter"
                    }
                }
            }
        },
        "artifactTypeDefinition": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "inputDescriptors": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "inputDescriptor"
                    }
                },
                "name": {
                    "type": "string"
                },
                "uniqueSourceIdentifier": {
                    "type": "string"
                }
            }
        },
        "artifactVersion": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "defaultVersion": {
                    "$ref": "#/definitions/buildVersion"
                },
                "errorMessage": {
                    "type": "string"
                },
                "sourceId": {
                    "type": "string"
                },
                "versions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/buildVersion"
                    }
                }
            }
        },
        "artifactVersionQueryResult": {
            "type": "object",
            "properties": {
                "artifactVersions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifactVersion"
                    }
                }
            }
        },
        "baseDeploymentInput": {
            "type": "object",
            "properties": {
            }
        },
        "buildVersion": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sourceBranch": {
                    "type": "string"
                }
            }
        },
        "change": {
            "type": "object",
            "properties": {
                "author": {
                    "description": "The author of the change.",
                    "type": "string",
                    "format": "identityRef"
                },
                "changeType": {
                    "description": "The type of change. \"commit\", \"changeset\", etc.",
                    "type": "string"
                },
                "displayUri": {
                    "description": "The location of a user-friendly representation of the resource.",
                    "type": "string"
                },
                "id": {
                    "description": "Something that identifies the change. For a commit, this would be the SHA1. For a TFVC changeset, this would be the changeset id.",
                    "type": "string"
                },
                "location": {
                    "description": "The location of the full representation of the resource.",
                    "type": "string"
                },
                "message": {
                    "description": "A description of the change. This might be a commit message or changeset description.",
                    "type": "string"
                },
                "timestamp": {
                    "description": "A timestamp for the change.",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "condition": {
            "type": "object",
            "properties": {
                "conditionType": {
                    "enum": [
                        "undefined",
                        "event",
                        "environmentState",
                        "artifact"
                    ]
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "configurationVariableValue": {
            "type": "object",
            "properties": {
                "isSecret": {
                    "type": "boolean"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "consumer": {
            "type": "object",
            "properties": {
                "consumerId": {
                    "type": "integer",
                    "format": "int32"
                },
                "consumerName": {
                    "type": "string"
                }
            }
        },
        "continuousDeploymentAppServicePlanConfiguration": {
            "type": "object",
            "properties": {
                "appServicePlan": {
                    "type": "string"
                },
                "appServicePlanName": {
                    "type": "string"
                },
                "appServicePricingTier": {
                    "type": "string"
                }
            }
        },
        "continuousDeploymentSetupData": {
            "type": "object",
            "properties": {
                "branch": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "repoId": {
                    "type": "string"
                },
                "resourceGroup": {
                    "type": "string"
                },
                "slotConfiguration": {
                    "$ref": "#/definitions/continuousDeploymentSlotConfiguration"
                },
                "sourceConfiguration": {
                    "$ref": "#/definitions/continuousDeploymentSourceConfiguration"
                },
                "subscriptionId": {
                    "type": "string"
                },
                "subscriptionName": {
                    "type": "string"
                },
                "tenantId": {
                    "type": "string"
                },
                "testWebAppConfiguration": {
                    "$ref": "#/definitions/continuousDeploymentTestWebAppConfiguration"
                },
                "webAppName": {
                    "type": "string"
                },
                "webAppProjectType": {
                    "enum": [
                        "aspNetWap",
                        "aspNetCore",
                        "nodeJS"
                    ]
                }
            }
        },
        "continuousDeploymentSlotConfiguration": {
            "type": "object",
            "properties": {
                "slotName": {
                    "type": "string"
                },
                "webAppLocation": {
                    "type": "string"
                }
            }
        },
        "continuousDeploymentSourceConfiguration": {
            "type": "object",
            "properties": {
                "branch": {
                    "type": "string"
                },
                "sourceRepository": {
                    "$ref": "#/definitions/sourceRepository"
                }
            }
        },
        "continuousDeploymentTestWebAppConfiguration": {
            "type": "object",
            "properties": {
                "appServicePlanConfiguration": {
                    "$ref": "#/definitions/continuousDeploymentAppServicePlanConfiguration"
                },
                "testWebAppLocation": {
                    "type": "string"
                },
                "testWebAppName": {
                    "type": "string"
                }
            }
        },
        "controlOptions": {
            "type": "object",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "enabled": {
                    "type": "boolean"
                }
            }
        },
        "dataSourceBinding": {
            "type": "object",
            "properties": {
                "dataSourceName": {
                    "type": "string"
                },
                "endpointId": {
                    "type": "string"
                },
                "endpointUrl": {
                    "type": "string"
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "resultSelector": {
                    "type": "string"
                },
                "resultTemplate": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "definitionEnvironmentReference": {
            "type": "object",
            "properties": {
                "definitionEnvironmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "releaseDefinitionId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "demand": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "deployment": {
            "type": "object",
            "properties": {
                "attempt": {
                    "type": "integer",
                    "format": "int32"
                },
                "conditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/condition"
                    }
                },
                "definitionEnvironmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "deploymentStatus": {
                    "enum": [
                        "undefined",
                        "notDeployed",
                        "inProgress",
                        "succeeded",
                        "partiallySucceeded",
                        "failed"
                    ]
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "lastModifiedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "lastModifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "operationStatus": {
                    "enum": [
                        "undefined",
                        "queued",
                        "scheduled",
                        "pending",
                        "approved",
                        "rejected",
                        "deferred",
                        "queuedForAgent",
                        "phaseInProgress",
                        "phaseSucceeded",
                        "phasePartiallySucceeded",
                        "phaseFailed",
                        "canceled",
                        "phaseCanceled",
                        "manualInterventionPending"
                    ]
                },
                "postDeployApprovals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseApproval"
                    }
                },
                "preDeployApprovals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseApproval"
                    }
                },
                "reason": {
                    "enum": [
                        "none",
                        "manual",
                        "automated",
                        "scheduled"
                    ]
                },
                "release": {
                    "$ref": "#/definitions/releaseReference"
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseEnvironment": {
                    "$ref": "#/definitions/shallowReference"
                },
                "requestedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "scheduledDeploymentTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "startedOn": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "deploymentApprovalCompletedEvent": {
            "type": "object",
            "properties": {
                "approval": {
                    "$ref": "#/definitions/releaseApproval"
                },
                "project": {
                    "$ref": "#/definitions/projectReference"
                },
                "release": {
                    "$ref": "#/definitions/release"
                }
            }
        },
        "deploymentApprovalPendingEvent": {
            "type": "object",
            "properties": {
                "approval": {
                    "$ref": "#/definitions/releaseApproval"
                },
                "project": {
                    "$ref": "#/definitions/projectReference"
                },
                "release": {
                    "$ref": "#/definitions/release"
                }
            }
        },
        "deploymentAttempt": {
            "type": "object",
            "properties": {
                "attempt": {
                    "type": "integer",
                    "format": "int32"
                },
                "deploymentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "errorLog": {
                    "description": "Error log to show any unexpected error that occurred during executing deploy step",
                    "type": "string"
                },
                "hasStarted": {
                    "description": "The time at which the deployment started, and null if it has not been deployed yet",
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "job": {
                    "$ref": "#/definitions/releaseTask"
                },
                "lastModifiedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "lastModifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "operationStatus": {
                    "enum": [
                        "undefined",
                        "queued",
                        "scheduled",
                        "pending",
                        "approved",
                        "rejected",
                        "deferred",
                        "queuedForAgent",
                        "phaseInProgress",
                        "phaseSucceeded",
                        "phasePartiallySucceeded",
                        "phaseFailed",
                        "canceled",
                        "phaseCanceled",
                        "manualInterventionPending"
                    ]
                },
                "queuedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "reason": {
                    "enum": [
                        "none",
                        "manual",
                        "automated",
                        "scheduled"
                    ]
                },
                "releaseDeployPhases": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseDeployPhase"
                    }
                },
                "requestedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "runPlanId": {
                    "type": "string",
                    "format": "uuid"
                },
                "status": {
                    "enum": [
                        "undefined",
                        "notDeployed",
                        "inProgress",
                        "succeeded",
                        "partiallySucceeded",
                        "failed"
                    ]
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseTask"
                    }
                }
            }
        },
        "deploymentCompletedEvent": {
            "type": "object",
            "properties": {
                "environment": {
                    "$ref": "#/definitions/releaseEnvironment"
                },
                "project": {
                    "$ref": "#/definitions/projectReference"
                }
            }
        },
        "deploymentInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/baseDeploymentInput"
                }
            ],
            "properties": {
                "demands": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/demand"
                    }
                },
                "enableAccessToken": {
                    "type": "boolean"
                },
                "queueId": {
                    "type": "integer",
                    "format": "int32"
                },
                "skipArtifactsDownload": {
                    "type": "boolean"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "deploymentJob": {
            "type": "object",
            "properties": {
                "job": {
                    "$ref": "#/definitions/releaseTask"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseTask"
                    }
                }
            }
        },
        "deploymentQueryParameters": {
            "type": "object",
            "properties": {
                "artifactSourceId": {
                    "type": "string"
                },
                "artifactTypeId": {
                    "type": "string"
                },
                "artifactVersions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "deploymentStatus": {
                    "enum": [
                        "undefined",
                        "notDeployed",
                        "inProgress",
                        "succeeded",
                        "partiallySucceeded",
                        "failed"
                    ]
                },
                "environments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/definitionEnvironmentReference"
                    }
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "latestDeploymentsOnly": {
                    "type": "boolean"
                },
                "maxDeploymentsPerEnvironment": {
                    "type": "integer",
                    "format": "int32"
                },
                "maxModifiedTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "minModifiedTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "operationStatus": {
                    "enum": [
                        "undefined",
                        "queued",
                        "scheduled",
                        "pending",
                        "approved",
                        "rejected",
                        "deferred",
                        "queuedForAgent",
                        "phaseInProgress",
                        "phaseSucceeded",
                        "phasePartiallySucceeded",
                        "phaseFailed",
                        "canceled",
                        "phaseCanceled",
                        "manualInterventionPending"
                    ]
                },
                "queryOrder": {
                    "enum": [
                        "descending",
                        "ascending"
                    ]
                }
            }
        },
        "deploymentStartedEvent": {
            "type": "object",
            "properties": {
                "environment": {
                    "$ref": "#/definitions/releaseEnvironment"
                },
                "project": {
                    "$ref": "#/definitions/projectReference"
                }
            }
        },
        "deployPhase": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "phaseType": {
                    "enum": [
                        "undefined",
                        "agentBasedDeployment",
                        "runOnServer",
                        "machineGroupBasedDeployment"
                    ]
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "workflowTasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/workflowTask"
                    }
                }
            }
        },
        "emailRecipients": {
            "type": "object",
            "properties": {
                "emailAddresses": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tfsIds": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            }
        },
        "environmentExecutionPolicy": {
            "type": "object",
            "properties": {
                "concurrencyCount": {
                    "description": "This policy decides, how many environments would be with Environment Runner.",
                    "type": "integer",
                    "format": "int32"
                },
                "queueDepthCount": {
                    "description": "Queue depth in the EnvironmentQueue table, this table keeps the environment entries till Environment Runner is free [as per it's policy] to take another environment for running.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "environmentOptions": {
            "type": "object",
            "properties": {
                "emailNotificationType": {
                    "type": "string"
                },
                "emailRecipients": {
                    "type": "string"
                },
                "enableAccessToken": {
                    "type": "boolean"
                },
                "skipArtifactsDownload": {
                    "type": "boolean"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "environmentRetentionPolicy": {
            "type": "object",
            "properties": {
                "daysToKeep": {
                    "type": "integer",
                    "format": "int32"
                },
                "releasesToKeep": {
                    "type": "integer",
                    "format": "int32"
                },
                "retainBuild": {
                    "type": "boolean"
                }
            }
        },
        "executionInput": {
            "type": "object",
            "properties": {
                "parallelExecutionType": {
                    "enum": [
                        "none",
                        "multiConfiguration",
                        "multiMachine"
                    ]
                }
            }
        },
        "favoriteItem": {
            "type": "object",
            "properties": {
                "data": {
                    "description": "Application specific data for the entry",
                    "type": "string"
                },
                "id": {
                    "description": "Unique Id of the the entry",
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "description": "Display text for favorite entry",
                    "type": "string"
                },
                "type": {
                    "description": "Application specific favorite entry type. Empty or Null represents that Favorite item is a Folder",
                    "type": "string"
                }
            }
        },
        "issue": {
            "type": "object",
            "properties": {
                "issueType": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "machineGroupBasedDeployPhase": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deployPhase"
                }
            ],
            "properties": {
                "deploymentInput": {
                    "$ref": "#/definitions/machineGroupDeploymentInput"
                }
            }
        },
        "machineGroupDeploymentInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deploymentInput"
                }
            ],
            "properties": {
                "healthPercent": {
                    "type": "integer",
                    "format": "int32"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "mailMessage": {
            "type": "object",
            "properties": {
                "body": {
                    "type": "string"
                },
                "cC": {
                    "$ref": "#/definitions/emailRecipients"
                },
                "inReplyTo": {
                    "type": "string"
                },
                "messageId": {
                    "type": "string"
                },
                "replyBy": {
                    "type": "string",
                    "format": "date-time"
                },
                "replyTo": {
                    "$ref": "#/definitions/emailRecipients"
                },
                "sections": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "mailSectionType"
                    }
                },
                "senderType": {
                    "enum": [
                        "serviceAccount",
                        "requestingUser"
                    ]
                },
                "subject": {
                    "type": "string"
                },
                "to": {
                    "$ref": "#/definitions/emailRecipients"
                }
            }
        },
        "manualIntervention": {
            "type": "object",
            "properties": {
                "approver": {
                    "type": "string",
                    "format": "identityRef"
                },
                "comments": {
                    "type": "string"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "instructions": {
                    "type": "string"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "release": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseEnvironment": {
                    "$ref": "#/definitions/shallowReference"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "pending",
                        "rejected",
                        "approved",
                        "canceled"
                    ]
                },
                "taskInstanceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "manualInterventionUpdateMetadata": {
            "type": "object",
            "properties": {
                "comment": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "pending",
                        "rejected",
                        "approved",
                        "canceled"
                    ]
                }
            }
        },
        "mappingDetails": {
            "type": "object",
            "properties": {
                "mappings": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string",
                        "format": "inputValue"
                    }
                }
            }
        },
        "multiConfigInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/parallelExecutionInputBase"
                }
            ],
            "properties": {
                "multipliers": {
                    "type": "string"
                }
            }
        },
        "multiMachineInput": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/parallelExecutionInputBase"
                }
            ],
            "properties": {
            }
        },
        "parallelExecutionInputBase": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/executionInput"
                }
            ],
            "properties": {
                "continueOnError": {
                    "type": "boolean"
                },
                "maxNumberOfAgents": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "projectReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "propertySelector": {
            "type": "object",
            "properties": {
                "properties": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "selectorType": {
                    "enum": [
                        "inclusion",
                        "exclusion"
                    ]
                }
            }
        },
        "queuedReleaseData": {
            "type": "object",
            "properties": {
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                },
                "queuePosition": {
                    "type": "integer",
                    "format": "int32"
                },
                "releaseId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "realtimeReleaseEvent": {
            "type": "object",
            "properties": {
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                },
                "releaseId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "release": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "artifacts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifact"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "createdBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "definitionSnapshotRevision": {
                    "type": "integer",
                    "format": "int32"
                },
                "description": {
                    "type": "string"
                },
                "environments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseEnvironment"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "keepForever": {
                    "type": "boolean"
                },
                "logsContainerUrl": {
                    "type": "string"
                },
                "modifiedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "poolName": {
                    "type": "string"
                },
                "projectReference": {
                    "$ref": "#/definitions/projectReference"
                },
                "reason": {
                    "enum": [
                        "none",
                        "manual",
                        "continuousIntegration",
                        "schedule"
                    ]
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseNameFormat": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "undefined",
                        "draft",
                        "active",
                        "abandoned"
                    ]
                },
                "url": {
                    "type": "string"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/configurationVariableValue"
                    }
                }
            }
        },
        "releaseAbandonedEvent": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/projectReference"
                },
                "release": {
                    "$ref": "#/definitions/release"
                }
            }
        },
        "releaseApproval": {
            "type": "object",
            "properties": {
                "approvalType": {
                    "enum": [
                        "undefined",
                        "preDeploy",
                        "postDeploy",
                        "all"
                    ]
                },
                "approvedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "approver": {
                    "type": "string",
                    "format": "identityRef"
                },
                "attempt": {
                    "type": "integer",
                    "format": "int32"
                },
                "comments": {
                    "type": "string"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseApprovalHistory"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "isAutomated": {
                    "type": "boolean"
                },
                "isNotificationOn": {
                    "type": "boolean"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "release": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseEnvironment": {
                    "$ref": "#/definitions/shallowReference"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                },
                "status": {
                    "enum": [
                        "undefined",
                        "pending",
                        "approved",
                        "rejected",
                        "reassigned",
                        "canceled",
                        "skipped"
                    ]
                },
                "trialNumber": {
                    "type": "integer",
                    "format": "int32"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "releaseApprovalHistory": {
            "type": "object",
            "properties": {
                "approver": {
                    "type": "string",
                    "format": "identityRef"
                },
                "changedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "comments": {
                    "type": "string"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseApprovalPendingEvent": {
            "type": "object",
            "properties": {
                "approval": {
                    "$ref": "#/definitions/releaseApproval"
                },
                "definitionName": {
                    "type": "string"
                },
                "environmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "environmentName": {
                    "type": "string"
                },
                "environments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseEnvironment"
                    }
                },
                "releaseCreator": {
                    "type": "string"
                },
                "releaseName": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "webAccessUri": {
                    "type": "string"
                }
            }
        },
        "releaseArtifact": {
            "type": "object",
            "properties": {
                "artifactProvider": {
                    "$ref": "#/definitions/artifactProvider"
                },
                "artifactType": {
                    "type": "string"
                },
                "definitionData": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "integer",
                    "format": "int32"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "releaseId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseCreatedEvent": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/projectReference"
                },
                "release": {
                    "$ref": "#/definitions/release"
                }
            }
        },
        "releaseDefinition": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "artifacts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifact"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "createdBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "environments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseDefinitionEnvironment"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "modifiedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "releaseNameFormat": {
                    "type": "string"
                },
                "retentionPolicy": {
                    "$ref": "#/definitions/retentionPolicy"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                },
                "triggers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseTriggerBase"
                    }
                },
                "url": {
                    "type": "string"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/configurationVariableValue"
                    }
                }
            }
        },
        "releaseDefinitionApprovals": {
            "type": "object",
            "properties": {
                "approvalOptions": {
                    "$ref": "#/definitions/approvalOptions"
                },
                "approvals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseDefinitionApprovalStep"
                    }
                }
            }
        },
        "releaseDefinitionApprovalStep": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/releaseDefinitionEnvironmentStep"
                }
            ],
            "properties": {
                "approver": {
                    "type": "string",
                    "format": "identityRef"
                },
                "isAutomated": {
                    "type": "boolean"
                },
                "isNotificationOn": {
                    "type": "boolean"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseDefinitionDeployStep": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/releaseDefinitionEnvironmentStep"
                }
            ],
            "properties": {
                "tasks": {
                    "description": "The list of steps for this definition.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/workflowTask"
                    }
                }
            }
        },
        "releaseDefinitionEnvironment": {
            "type": "object",
            "properties": {
                "conditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/condition"
                    }
                },
                "demands": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/demand"
                    }
                },
                "deployPhases": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deployPhase"
                    }
                },
                "deployStep": {
                    "$ref": "#/definitions/releaseDefinitionDeployStep"
                },
                "environmentOptions": {
                    "$ref": "#/definitions/environmentOptions"
                },
                "executionPolicy": {
                    "$ref": "#/definitions/environmentExecutionPolicy"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "owner": {
                    "type": "string",
                    "format": "identityRef"
                },
                "postDeployApprovals": {
                    "$ref": "#/definitions/releaseDefinitionApprovals"
                },
                "preDeployApprovals": {
                    "$ref": "#/definitions/releaseDefinitionApprovals"
                },
                "queueId": {
                    "type": "integer",
                    "format": "int32"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "retentionPolicy": {
                    "$ref": "#/definitions/environmentRetentionPolicy"
                },
                "runOptions": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "schedules": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseSchedule"
                    }
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/configurationVariableValue"
                    }
                }
            }
        },
        "releaseDefinitionEnvironmentStep": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseDefinitionEnvironmentSummary": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "lastReleases": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/shallowReference"
                    }
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "releaseDefinitionEnvironmentTemplate": {
            "type": "object",
            "properties": {
                "canDelete": {
                    "type": "boolean"
                },
                "category": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "environment": {
                    "$ref": "#/definitions/releaseDefinitionEnvironment"
                },
                "iconTaskId": {
                    "type": "string",
                    "format": "uuid"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "releaseDefinitionRevision": {
            "type": "object",
            "properties": {
                "changedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "changedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "changeType": {
                    "enum": [
                        "add",
                        "update",
                        "delete"
                    ]
                },
                "comment": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "integer",
                    "format": "int32"
                },
                "definitionUrl": {
                    "type": "string"
                },
                "revision": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseDefinitionSummary": {
            "type": "object",
            "properties": {
                "environments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseDefinitionEnvironmentSummary"
                    }
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releases": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/release"
                    }
                }
            }
        },
        "releaseDeployPhase": {
            "type": "object",
            "properties": {
                "deploymentJobs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deploymentJob"
                    }
                },
                "errorLog": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "manualInterventions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/manualIntervention"
                    }
                },
                "phaseType": {
                    "enum": [
                        "undefined",
                        "agentBasedDeployment",
                        "runOnServer",
                        "machineGroupBasedDeployment"
                    ]
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "runPlanId": {
                    "type": "string",
                    "format": "uuid"
                },
                "status": {
                    "enum": [
                        "undefined",
                        "notStarted",
                        "inProgress",
                        "partiallySucceeded",
                        "succeeded",
                        "failed",
                        "canceled",
                        "skipped"
                    ]
                }
            }
        },
        "releaseEnvironment": {
            "type": "object",
            "properties": {
                "conditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/condition"
                    }
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "definitionEnvironmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "demands": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/demand"
                    }
                },
                "deployPhasesSnapshot": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deployPhase"
                    }
                },
                "deploySteps": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deploymentAttempt"
                    }
                },
                "environmentOptions": {
                    "$ref": "#/definitions/environmentOptions"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "nextScheduledUtcTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "owner": {
                    "type": "string",
                    "format": "identityRef"
                },
                "postApprovalsSnapshot": {
                    "$ref": "#/definitions/releaseDefinitionApprovals"
                },
                "postDeployApprovals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseApproval"
                    }
                },
                "preApprovalsSnapshot": {
                    "$ref": "#/definitions/releaseDefinitionApprovals"
                },
                "preDeployApprovals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseApproval"
                    }
                },
                "queueId": {
                    "type": "integer",
                    "format": "int32"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "release": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseCreatedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "releaseDefinition": {
                    "$ref": "#/definitions/shallowReference"
                },
                "releaseDescription": {
                    "type": "string"
                },
                "releaseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "scheduledDeploymentTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "schedules": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseSchedule"
                    }
                },
                "status": {
                    "enum": [
                        "undefined",
                        "notStarted",
                        "inProgress",
                        "succeeded",
                        "canceled",
                        "rejected",
                        "queued",
                        "scheduled",
                        "partiallySucceeded"
                    ]
                },
                "timeToDeploy": {
                    "type": "number",
                    "format": "double"
                },
                "triggerReason": {
                    "type": "string"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/configurationVariableValue"
                    }
                },
                "workflowTasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/workflowTask"
                    }
                }
            }
        },
        "releaseEnvironmentCompletedEvent": {
            "type": "object",
            "properties": {
                "conditions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/condition"
                    }
                },
                "createdByName": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "integer",
                    "format": "int32"
                },
                "definitionName": {
                    "type": "string"
                },
                "environment": {
                    "$ref": "#/definitions/releaseEnvironment"
                },
                "environmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "projectName": {
                    "type": "string"
                },
                "reason": {
                    "enum": [
                        "none",
                        "manual",
                        "automated",
                        "scheduled"
                    ]
                },
                "releaseCreatedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "releaseLogsUri": {
                    "type": "string"
                },
                "releaseName": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "webAccessUri": {
                    "type": "string"
                }
            }
        },
        "releaseReference": {
            "type": "object",
            "properties": {
                "artifacts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifact"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "releaseRevision": {
            "type": "object",
            "properties": {
                "changedBy": {
                    "type": "string",
                    "format": "identityRef"
                },
                "changedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "changeDetails": {
                    "type": "string"
                },
                "changeType": {
                    "type": "string"
                },
                "comment": {
                    "type": "string"
                },
                "definitionSnapshotRevision": {
                    "type": "integer",
                    "format": "int32"
                },
                "releaseId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "releaseSchedule": {
            "type": "object",
            "properties": {
                "daysToRelease": {
                    "description": "Days of the week to release",
                    "enum": [
                        "none",
                        "monday",
                        "tuesday",
                        "wednesday",
                        "thursday",
                        "friday",
                        "saturday",
                        "sunday",
                        "all"
                    ]
                },
                "jobId": {
                    "description": "Team Foundation Job Definition Job Id",
                    "type": "string",
                    "format": "uuid"
                },
                "startHours": {
                    "description": "Local time zone hour to start",
                    "type": "integer",
                    "format": "int32"
                },
                "startMinutes": {
                    "description": "Local time zone minute to start",
                    "type": "integer",
                    "format": "int32"
                },
                "timeZoneId": {
                    "description": "Time zone Id of release schedule, such as 'UTC'",
                    "type": "string"
                }
            }
        },
        "releaseSettings": {
            "type": "object",
            "properties": {
                "retentionSettings": {
                    "$ref": "#/definitions/retentionSettings"
                }
            }
        },
        "releaseStartMetadata": {
            "type": "object",
            "properties": {
                "artifacts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artifactMetadata"
                    }
                },
                "definitionId": {
                    "type": "integer",
                    "format": "int32"
                },
                "description": {
                    "type": "string"
                },
                "isDraft": {
                    "type": "boolean"
                },
                "manualEnvironments": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "reason": {
                    "enum": [
                        "none",
                        "manual",
                        "continuousIntegration",
                        "schedule"
                    ]
                }
            }
        },
        "releaseTask": {
            "type": "object",
            "properties": {
                "agentName": {
                    "type": "string"
                },
                "dateEnded": {
                    "type": "string",
                    "format": "date-time"
                },
                "dateStarted": {
                    "type": "string",
                    "format": "date-time"
                },
                "finishTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "issues": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/issue"
                    }
                },
                "lineCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "logUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "startTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "enum": [
                        "unknown",
                        "pending",
                        "inProgress",
                        "success",
                        "failure",
                        "canceled",
                        "skipped",
                        "succeeded",
                        "failed",
                        "partiallySucceeded"
                    ]
                },
                "timelineRecordId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "releaseTaskLogUpdatedEvent": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/realtimeReleaseEvent"
                }
            ],
            "properties": {
                "environmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "lines": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "timelineRecordId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "releaseTasksUpdatedEvent": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/realtimeReleaseEvent"
                }
            ],
            "properties": {
                "environmentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "job": {
                    "$ref": "#/definitions/releaseTask"
                },
                "releaseDeployPhaseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "releaseStepId": {
                    "type": "integer",
                    "format": "int32"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/releaseTask"
                    }
                }
            }
        },
        "releaseTriggerBase": {
            "type": "object",
            "properties": {
                "triggerType": {
                    "enum": [
                        "undefined",
                        "artifactSource",
                        "schedule"
                    ]
                }
            }
        },
        "releaseUpdatedEvent": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/realtimeReleaseEvent"
                }
            ],
            "properties": {
                "release": {
                    "$ref": "#/definitions/release"
                }
            }
        },
        "releaseUpdateMetadata": {
            "type": "object",
            "properties": {
                "comment": {
                    "type": "string"
                },
                "keepForever": {
                    "type": "boolean"
                },
                "manualEnvironments": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "status": {
                    "enum": [
                        "undefined",
                        "draft",
                        "active",
                        "abandoned"
                    ]
                }
            }
        },
        "releaseWorkItemRef": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "retentionPolicy": {
            "type": "object",
            "properties": {
                "daysToKeep": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "retentionSettings": {
            "type": "object",
            "properties": {
                "daysToKeepDeletedReleases": {
                    "type": "integer",
                    "format": "int32"
                },
                "defaultEnvironmentRetentionPolicy": {
                    "$ref": "#/definitions/environmentRetentionPolicy"
                },
                "maximumEnvironmentRetentionPolicy": {
                    "$ref": "#/definitions/environmentRetentionPolicy"
                }
            }
        },
        "runOnServerDeployPhase": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deployPhase"
                }
            ],
            "properties": {
            }
        },
        "scheduledReleaseTrigger": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/releaseTriggerBase"
                }
            ],
            "properties": {
                "schedule": {
                    "description": "Release schedule for Scheduled Release trigger type",
                    "$ref": "#/definitions/releaseSchedule"
                }
            }
        },
        "shallowReference": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "string",
                    "format": "referenceLinks"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "sourceIdInput": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "sourceRepository": {
            "type": "object",
            "properties": {
                "endpointIdentifier": {
                    "type": "string",
                    "format": "uuid"
                },
                "identifier": {
                    "type": "string"
                },
                "repositoryType": {
                    "enum": [
                        "invalid",
                        "vstsGit",
                        "gitHub"
                    ]
                }
            }
        },
        "summaryMailSection": {
            "type": "object",
            "properties": {
                "htmlContent": {
                    "type": "string"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "sectionType": {
                    "enum": [
                        "details",
                        "environments",
                        "issues",
                        "testResults",
                        "workItems",
                        "releaseInfo"
                    ]
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "timeZone": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "timeZoneList": {
            "type": "object",
            "properties": {
                "utcTimeZone": {
                    "$ref": "#/definitions/timeZone"
                },
                "validTimeZones": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/timeZone"
                    }
                }
            }
        },
        "workflowTask": {
            "type": "object",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "definitionType": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "inputs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "name": {
                    "type": "string"
                },
                "taskId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                },
                "version": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}