{
  "swagger": "2.0",
  "info": {
    "title": "Security",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "accessControlEntries"
    },
    {
      "name": "accessControlLists"
    },
    {
      "name": "permissionEvaluationBatch"
    },
    {
      "name": "permissions"
    },
    {
      "name": "securityNamespaces"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/accesscontrolentries/{securityNamespaceId}": {
      "delete": {
        "tags": [
          "accessControlEntries"
        ],
        "summary": "RemoveAccessControlEntries",
        "description": "",
        "operationId": "removeAccessControlEntries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "token",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "descriptors",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      },
      "post": {
        "tags": [
          "accessControlEntries"
        ],
        "summary": "SetAccessControlEntries",
        "description": "",
        "operationId": "setAccessControlEntries",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JObject"
            }
          },
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessControlEntry"
              }
            }
          }
        }
      }
    },
    "/_apis/accesscontrollists/{securityNamespaceId}": {
      "get": {
        "tags": [
          "accessControlLists"
        ],
        "summary": "QueryAccessControlLists",
        "description": "",
        "operationId": "queryAccessControlLists",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "token",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "descriptors",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeExtendedInfo",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "recurse",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccessControlList"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "accessControlLists"
        ],
        "summary": "RemoveAccessControlLists",
        "description": "",
        "operationId": "removeAccessControlLists",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "tokens",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "recurse",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      },
      "post": {
        "tags": [
          "accessControlLists"
        ],
        "summary": "SetAccessControlLists",
        "description": "",
        "operationId": "setAccessControlLists",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "VssJsonCollectionWrapperV"
            }
          },
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/_apis/permissions/{securityNamespaceId}/{permissions}": {
      "get": {
        "tags": [
          "permissions"
        ],
        "summary": "HasPermissions",
        "description": "",
        "operationId": "hasPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "permissions",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "tokens",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "alwaysAllowAdministrators",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "delimiter",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "permissions"
        ],
        "summary": "RemovePermission",
        "description": "",
        "operationId": "removePermission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "permissions",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "token",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "descriptor",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccessControlEntry"
            }
          }
        }
      }
    },
    "/_apis/security/permissionevaluationbatch": {
      "post": {
        "tags": [
          "permissionEvaluationBatch"
        ],
        "summary": "HasPermissionsBatch",
        "description": "Perform a batch of \"has permission\" checks. This methods does not aggregate the results nor does it shortcircut if one of the permissions evaluates to false.",
        "operationId": "hasPermissionsBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissionEvaluationBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PermissionEvaluationBatch"
            }
          }
        }
      }
    },
    "/_apis/securitynamespaces/{securityNamespaceId}": {
      "get": {
        "tags": [
          "securityNamespaces"
        ],
        "summary": "QuerySecurityNamespaces",
        "description": "",
        "operationId": "querySecurityNamespaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "localOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecurityNamespaceDescription"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "securityNamespaces"
        ],
        "summary": "SetInheritFlag",
        "description": "",
        "operationId": "setInheritFlag",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JObject"
            }
          },
          {
            "in": "path",
            "name": "securityNamespaceId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessControlEntry": {
      "type": "object",
      "properties": {
        "allow": {
          "description": "The set of permission bits that represent the actions that the associated descriptor is allowed to perform.",
          "type": "integer",
          "format": "int32"
        },
        "deny": {
          "description": "The set of permission bits that represent the actions that the associated descriptor is not allowed to perform.",
          "type": "integer",
          "format": "int32"
        },
        "descriptor": {
          "description": "The descriptor for the user this AccessControlEntry applies to.",
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "extendedInfo": {
          "description": "This value, when set, reports the inherited and effective information for the associated descriptor. This value is only set on AccessControlEntries returned by the QueryAccessControlList(s) call when its includeExtendedInfo parameter is set to true.",
          "$ref": "#/definitions/AceExtendedInformation"
        }
      }
    },
    "AccessControlList": {
      "type": "object",
      "properties": {
        "acesDictionary": {
          "description": "Storage of permissions keyed on the identity the permission is for.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/AccessControlEntry"
          }
        },
        "includeExtendedInfo": {
          "description": "True if this ACL holds ACEs that have extended information.",
          "type": "boolean"
        },
        "inheritPermissions": {
          "description": "True if the given token inherits permissions from parents.",
          "type": "boolean"
        },
        "token": {
          "description": "The token that this AccessControlList is for.",
          "type": "string"
        }
      }
    },
    "AccessControlListsCollection": {
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
            "type": "string",
            "format": "AccessControlList"
          }
        }
      ],
      "properties": {
      }
    },
    "AceExtendedInformation": {
      "type": "object",
      "properties": {
        "effectiveAllow": {
          "description": "This is the combination of all of the explicit and inherited permissions for this identity on this token.  These are the permissions used when determining if a given user has permission to perform an action.",
          "type": "integer",
          "format": "int32"
        },
        "effectiveDeny": {
          "description": "This is the combination of all of the explicit and inherited permissions for this identity on this token.  These are the permissions used when determining if a given user has permission to perform an action.",
          "type": "integer",
          "format": "int32"
        },
        "inheritedAllow": {
          "description": "These are the permissions that are inherited for this identity on this token.  If the token does not inherit permissions this will be 0.  Note that any permissions that have been explicitly set on this token for this identity, or any groups that this identity is a part of, are not included here.",
          "type": "integer",
          "format": "int32"
        },
        "inheritedDeny": {
          "description": "These are the permissions that are inherited for this identity on this token.  If the token does not inherit permissions this will be 0.  Note that any permissions that have been explicitly set on this token for this identity, or any groups that this identity is a part of, are not included here.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ActionDefinition": {
      "type": "object",
      "properties": {
        "bit": {
          "description": "The bit mask integer for this action. Must be a power of 2.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "The localized display name for this action.",
          "type": "string"
        },
        "name": {
          "description": "The non-localized name for this action.",
          "type": "string"
        },
        "namespaceId": {
          "description": "The namespace that this action belongs to.  This will only be used for reading from the database.",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "IdentityDescriptor": {
      "type": "object",
      "properties": {
        "identifier": {
          "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
          "type": "string"
        },
        "identityType": {
          "description": "Type of descriptor (for example, Windows, Passport, etc.).",
          "type": "string"
        }
      }
    },
    "JObject": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "JContainer"
        }
      ],
      "properties": {
        "item": {
          "type": "string",
          "format": "JToken"
        },
        "type": {
          "type": "string",
          "format": "JTokenType"
        }
      }
    },
    "PermissionEvaluation": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Permission bit for this evaluated permission.",
          "type": "integer",
          "format": "int32"
        },
        "securityNamespaceId": {
          "description": "Security namespace identifier for this evaluated permission.",
          "type": "string",
          "format": "uuid"
        },
        "token": {
          "description": "Security namespace-specific token for this evaluated permission.",
          "type": "string"
        },
        "value": {
          "description": "Permission evaluation value.",
          "type": "boolean"
        }
      }
    },
    "PermissionEvaluationBatch": {
      "type": "object",
      "properties": {
        "alwaysAllowAdministrators": {
          "type": "boolean"
        },
        "evaluations": {
          "description": "Array of permission evaluations to evaluate.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PermissionEvaluation"
          }
        }
      }
    },
    "SecurityNamespaceDescription": {
      "type": "object",
      "properties": {
        "actions": {
          "description": "The list of actions that this Security Namespace is responsible for securing.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionDefinition"
          }
        },
        "dataspaceCategory": {
          "description": "This is the dataspace category that describes where the security information for this SecurityNamespace should be stored.",
          "type": "string"
        },
        "displayName": {
          "description": "This localized name for this namespace.",
          "type": "string"
        },
        "elementLength": {
          "description": "If the security tokens this namespace will be operating on need to be split on certain character lengths to determine its elements, that length should be specified here. If not, this value will be -1.",
          "type": "integer",
          "format": "int32"
        },
        "extensionType": {
          "description": "This is the type of the extension that should be loaded from the plugins directory for extending this security namespace.",
          "type": "string"
        },
        "isRemotable": {
          "description": "If true, the security namespace is remotable, allowing another service to proxy the namespace.",
          "type": "boolean"
        },
        "name": {
          "description": "This non-localized for this namespace.",
          "type": "string"
        },
        "namespaceId": {
          "description": "The unique identifier for this namespace.",
          "type": "string",
          "format": "uuid"
        },
        "readPermission": {
          "description": "The permission bits needed by a user in order to read security data on the Security Namespace.",
          "type": "integer",
          "format": "int32"
        },
        "separatorValue": {
          "description": "If the security tokens this namespace will be operating on need to be split on certain characters to determine its elements that character should be specified here. If not, this value will be the null character.",
          "type": "string",
          "format": "Char"
        },
        "structureValue": {
          "description": "Used to send information about the structure of the security namespace over the web service.",
          "type": "integer",
          "format": "int32"
        },
        "useTokenTranslator": {
          "description": "If true, the security service will expect an ISecurityDataspaceTokenTranslator plugin to exist for this namespace",
          "type": "boolean"
        },
        "writePermission": {
          "description": "The permission bits needed by a user in order to modify security data on the Security Namespace.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "VssJsonCollectionWrapperV": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}