{
    "swagger": "2.0",
    "info": {
        "title": "SecurityRoles",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "roleassignments"
        },
        {
            "name": "roledefinitions"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/securityroles/scopes/{scopeId}/roleassignments/resources/{resourceId}": {
            "get": {
                "tags": [
                    "roleassignments"
                ],
                "summary": "GetRoleAssignments",
                "description": "",
                "operationId": "getRoleAssignments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "resourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/roleAssignment"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "roleassignments"
                ],
                "summary": "RemoveRoleAssignments",
                "description": "",
                "operationId": "removeRoleAssignments",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "resourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "put": {
                "tags": [
                    "roleassignments"
                ],
                "summary": "SetRoleAssignments",
                "description": "",
                "operationId": "setRoleAssignments",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/userRoleAssignmentRef"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "resourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/roleAssignment"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/securityroles/scopes/{scopeId}/roleassignments/resources/{resourceId}/{identityId}": {
            "delete": {
                "tags": [
                    "roleassignments"
                ],
                "summary": "RemoveRoleAssignment",
                "description": "",
                "operationId": "removeRoleAssignment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "resourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "identityId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "put": {
                "tags": [
                    "roleassignments"
                ],
                "summary": "SetRoleAssignment",
                "description": "",
                "operationId": "setRoleAssignment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/userRoleAssignmentRef"
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "resourceId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "identityId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/roleAssignment"
                        }
                    }
                }
            }
        },
        "/_apis/securityroles/scopes/{scopeId}/roledefinitions": {
            "get": {
                "tags": [
                    "roledefinitions"
                ],
                "summary": "GetRoleDefinitions",
                "description": "",
                "operationId": "getRoleDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/securityRole"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "identityRef": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                },
                "isAadIdentity": {
                    "type": "boolean"
                },
                "isContainer": {
                    "type": "boolean"
                },
                "profileUrl": {
                    "type": "string"
                },
                "uniqueName": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "roleAssignment": {
            "type": "object",
            "properties": {
                "access": {
                    "description": "Designates the role as explicitly assigned or inherited.",
                    "enum": [
                        "assigned",
                        "inherited"
                    ]
                },
                "accessDisplayName": {
                    "description": "User friendly description of access assignment.",
                    "type": "string"
                },
                "identity": {
                    "description": "The user to whom the role is assigned.",
                    "$ref": "#/definitions/identityRef"
                },
                "role": {
                    "description": "The role assigned to the user.",
                    "$ref": "#/definitions/securityRole"
                }
            }
        },
        "securityRole": {
            "type": "object",
            "properties": {
                "allowPermissions": {
                    "description": "Permissions the role is allowed.",
                    "type": "integer",
                    "format": "int32"
                },
                "denyPermissions": {
                    "description": "Permissions the role is denied.",
                    "type": "integer",
                    "format": "int32"
                },
                "description": {
                    "description": "Description of user access defined by the role",
                    "type": "string"
                },
                "displayName": {
                    "description": "User friendly name of the role.",
                    "type": "string"
                },
                "identifier": {
                    "description": "Globally unique identifier for the role.",
                    "type": "string"
                },
                "name": {
                    "description": "Unique name of the role in the scope.",
                    "type": "string"
                },
                "scope": {
                    "description": "Returns the id of the ParentScope.",
                    "type": "string"
                }
            }
        },
        "userRoleAssignmentRef": {
            "type": "object",
            "properties": {
                "roleName": {
                    "description": "The name of the role assigned.",
                    "type": "string"
                },
                "uniqueName": {
                    "description": "Identifier of the user given the role assignment.",
                    "type": "string"
                },
                "userId": {
                    "description": "Unique id of the user given the role assignment.",
                    "type": "string",
                    "format": "uuid"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}