{
  "swagger": "2.0",
  "info": {
    "title": "SecurityRoles",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "roleassignments"
    },
    {
      "name": "roledefinitions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/securityroles/scopes/{scopeId}/roleassignments/resources/{resourceId}": {
      "get": {
        "tags": [
          "roleassignments"
        ],
        "summary": "GetRoleAssignments",
        "description": "",
        "operationId": "GetRoleAssignments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoleAssignment"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "roleassignments"
        ],
        "summary": "RemoveRoleAssignments",
        "description": "",
        "operationId": "RemoveRoleAssignments",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "roleassignments"
        ],
        "summary": "SetRoleAssignments",
        "description": "",
        "operationId": "SetRoleAssignments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserRoleAssignmentRef"
              }
            }
          },
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoleAssignment"
              }
            }
         }
        }
      }
    },
    "/_apis/securityroles/scopes/{scopeId}/roleassignments/resources/{resourceId}/{identityId}": {
      "delete": {
        "tags": [
          "roleassignments"
        ],
        "summary": "RemoveRoleAssignment",
        "description": "",
        "operationId": "RemoveRoleAssignment",
        "parameters": [
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "identityId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "roleassignments"
        ],
        "summary": "SetRoleAssignment",
        "description": "",
        "operationId": "SetRoleAssignment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserRoleAssignmentRef"
            }
          },
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "identityId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RoleAssignment"
            }
         }
        }
      }
    },
    "/_apis/securityroles/scopes/{scopeId}/roledefinitions": {
      "get": {
        "tags": [
          "roledefinitions"
        ],
        "summary": "GetRoleDefinitions",
        "description": "",
        "operationId": "GetRoleDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scopeId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SecurityRole"
              }
            }
         }
        }
      }
    }
  },
  "definitions": {
    "IdentityRef": {
      "description": "",
      "type": "object",
      "properties": {
        "directoryAlias": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "inactive": {
          "type": "boolean"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "RoleAssignment": {
      "description": "",
      "type": "object",
      "properties": {
        "access": {
          "description": "Designates the role as explicitly assigned or inherited.",
          "enum": [
            "assigned",
            "inherited"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.SecurityRoles.WebApi.RoleAccess"
          }
        },
        "accessDisplayName": {
          "description": "User friendly description of access assignment.",
          "readOnly": true,
          "type": "string"
        },
        "identity": {
          "description": "The user to whom the role is assigned.",
          "$ref": "#/definitions/IdentityRef"
        },
        "role": {
          "description": "The role assigned to the user.",
          "$ref": "#/definitions/SecurityRole"
        }
      }
    },
    "SecurityRole": {
      "description": "",
      "type": "object",
      "properties": {
        "allowPermissions": {
          "description": "Permissions the role is allowed.",
          "type": "integer",
          "format": "int32"
        },
        "denyPermissions": {
          "description": "Permissions the role is denied.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Description of user access defined by the role",
          "type": "string"
        },
        "displayName": {
          "description": "User friendly name of the role.",
          "type": "string"
        },
        "identifier": {
          "description": "Globally unique identifier for the role.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Unique name of the role in the scope.",
          "type": "string"
        },
        "scope": {
          "description": "Returns the id of the ParentScope.",
          "type": "string"
        }
      }
    },
    "UserRoleAssignmentRef": {
      "description": "",
      "type": "object",
      "properties": {
        "roleName": {
          "description": "The name of the role assigned.",
          "type": "string"
        },
        "uniqueName": {
          "description": "Identifier of the user given the role assignment.",
          "type": "string"
        },
        "userId": {
          "description": "Unique id of the user given the role assignment.",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}