{
    "swagger": "2.0",
    "info": {
        "title": "TaskAgent",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "agents"
        },
        {
            "name": "azurermsubscriptions"
        },
        {
            "name": "endpoint"
        },
        {
            "name": "hublicense"
        },
        {
            "name": "icon"
        },
        {
            "name": "jobrequests"
        },
        {
            "name": "machinegroups"
        },
        {
            "name": "machines"
        },
        {
            "name": "messages"
        },
        {
            "name": "packages"
        },
        {
            "name": "poolroles"
        },
        {
            "name": "pools"
        },
        {
            "name": "queueroles"
        },
        {
            "name": "queues"
        },
        {
            "name": "serviceendpointproxy"
        },
        {
            "name": "serviceendpoints"
        },
        {
            "name": "serviceendpointtypes"
        },
        {
            "name": "sessions"
        },
        {
            "name": "taskgroups"
        },
        {
            "name": "tasks"
        },
        {
            "name": "usercapabilities"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/distributedtask/endpoint": {
            "post": {
                "tags": [
                    "endpoint"
                ],
                "summary": "QueryEndpoint",
                "description": "Proxy for a GET request defined by an 'endpoint'. The request is authorized using a service connection. The response is filtered using an XPath/Json based selector.",
                "operationId": "queryEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Describes the URL to fetch.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskDefinitionEndpoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/hublicense/{hubName}": {
            "get": {
                "tags": [
                    "hublicense"
                ],
                "summary": "GetTaskHubLicenseDetails",
                "description": "",
                "operationId": "getTaskHubLicenseDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeEnterpriseUsersCount",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskHubLicenseDetails"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "hublicense"
                ],
                "summary": "UpdateTaskHubLicenseDetails",
                "description": "",
                "operationId": "updateTaskHubLicenseDetails",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskHubLicenseDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskHubLicenseDetails"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/packages/{packageType}/{platform}": {
            "get": {
                "tags": [
                    "packages"
                ],
                "summary": "GetPackages",
                "description": "",
                "operationId": "getPackages",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "packageType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "platform",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/packageMetadata"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/packages/{packageType}/{platform}/{version}": {
            "get": {
                "tags": [
                    "packages"
                ],
                "summary": "GetPackage",
                "description": "",
                "operationId": "getPackage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "packageType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "platform",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/packageMetadata"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/poolroles/{poolId}": {
            "get": {
                "tags": [
                    "poolroles"
                ],
                "summary": "GetAgentPoolRoles",
                "description": "",
                "operationId": "getAgentPoolRoles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "identityRef"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools": {
            "post": {
                "tags": [
                    "pools"
                ],
                "summary": "AddAgentPool",
                "description": "",
                "operationId": "addAgentPool",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentPool"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentPool"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "pools"
                ],
                "summary": "GetAgentPools",
                "description": "",
                "operationId": "getAgentPools",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "poolName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "poolType",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "taskAgentPoolType"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "taskAgentPoolActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAgentPool"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}": {
            "delete": {
                "tags": [
                    "pools"
                ],
                "summary": "DeleteAgentPool",
                "description": "",
                "operationId": "deleteAgentPool",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "pools"
                ],
                "summary": "GetAgentPool",
                "description": "",
                "operationId": "getAgentPool",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "taskAgentPoolActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentPool"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "pools"
                ],
                "summary": "UpdateAgentPool",
                "description": "",
                "operationId": "updateAgentPool",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentPool"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentPool"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents": {
            "post": {
                "tags": [
                    "agents"
                ],
                "summary": "AddAgent",
                "description": "",
                "operationId": "addAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "agents"
                ],
                "summary": "GetAgents",
                "description": "",
                "operationId": "getAgents",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeCapabilities",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeAssignedRequest",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "propertyFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "demands",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAgent"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents/{agentId}": {
            "delete": {
                "tags": [
                    "agents"
                ],
                "summary": "DeleteAgent",
                "description": "",
                "operationId": "deleteAgent",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "agents"
                ],
                "summary": "GetAgent",
                "description": "",
                "operationId": "getAgent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeCapabilities",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeAssignedRequest",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "propertyFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "agents"
                ],
                "summary": "ReplaceAgent",
                "description": "",
                "operationId": "replaceAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "agents"
                ],
                "summary": "UpdateAgent",
                "description": "",
                "operationId": "updateAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/usercapabilities": {
            "put": {
                "tags": [
                    "usercapabilities"
                ],
                "summary": "UpdateAgentUserCapabilities",
                "description": "",
                "operationId": "updateAgentUserCapabilities",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/string"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgent"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/jobrequests": {
            "get": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "GetAgentRequestsForAgent",
                "description": "",
                "operationId": "getAgentRequestsForAgent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "completedRequestCount",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAgentJobRequest"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "QueueAgentRequest",
                "description": "",
                "operationId": "queueAgentRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentJobRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentJobRequest"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/jobrequests/{requestId}": {
            "delete": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "DeleteAgentRequest",
                "description": "",
                "operationId": "deleteAgentRequest",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "lockToken",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "GetAgentRequest",
                "description": "",
                "operationId": "getAgentRequest",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentJobRequest"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "UpdateAgentRequest",
                "description": "",
                "operationId": "updateAgentRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentJobRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "lockToken",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentJobRequest"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/messages": {
            "get": {
                "tags": [
                    "messages"
                ],
                "summary": "GetMessage",
                "description": "",
                "operationId": "getMessage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "lastMessageId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentMessage"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "messages"
                ],
                "summary": "RefreshAgent",
                "description": "",
                "operationId": "refreshAgent",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/messages/{messageId}": {
            "delete": {
                "tags": [
                    "messages"
                ],
                "summary": "DeleteMessage",
                "description": "",
                "operationId": "deleteMessage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "messageId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/sessions": {
            "post": {
                "tags": [
                    "sessions"
                ],
                "summary": "CreateAgentSession",
                "description": "",
                "operationId": "createAgentSession",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentSession"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentSession"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/sessions/{sessionId}": {
            "delete": {
                "tags": [
                    "sessions"
                ],
                "summary": "DeleteAgentSession",
                "description": "",
                "operationId": "deleteAgentSession",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/queueroles/{queueId}": {
            "get": {
                "tags": [
                    "queueroles"
                ],
                "summary": "GetAgentQueueRoles",
                "description": "",
                "operationId": "getAgentQueueRoles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "identityRef"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/serviceendpointproxy/azurermsubscriptions": {
            "get": {
                "tags": [
                    "azurermsubscriptions"
                ],
                "summary": "GetAzureSubscriptions",
                "description": "",
                "operationId": "getAzureSubscriptions",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/azureSubscriptionQueryResult"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/serviceendpointtypes": {
            "get": {
                "tags": [
                    "serviceendpointtypes"
                ],
                "summary": "GetServiceEndpointTypes",
                "description": "",
                "operationId": "getServiceEndpointTypes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "scheme",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/serviceEndpointType"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}": {
            "delete": {
                "tags": [
                    "tasks"
                ],
                "summary": "DeleteTaskDefinition",
                "description": "",
                "operationId": "deleteTaskDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTaskDefinitions",
                "description": "",
                "operationId": "getTaskDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "visibility",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scopeLocal",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}/{versionString}": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTaskContentZip",
                "description": "",
                "operationId": "getTaskContentZip",
                "produces": [
                    "application/json",
                    "application/zip"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "versionString",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "visibility",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scopeLocal",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "stream"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}/{versionString}/icon": {
            "get": {
                "tags": [
                    "icon"
                ],
                "summary": "GetTaskIcon",
                "description": "",
                "operationId": "getTaskIcon",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "versionString",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "streamContent"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups": {
            "post": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "AddDeploymentMachineGroup",
                "description": "",
                "operationId": "addDeploymentMachineGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/deploymentMachineGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/deploymentMachineGroup"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "GetDeploymentMachineGroups",
                "description": "",
                "operationId": "getDeploymentMachineGroups",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "machineGroupName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "machineGroupActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deploymentMachineGroup"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}": {
            "delete": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "DeleteDeploymentMachineGroup",
                "description": "",
                "operationId": "deleteDeploymentMachineGroup",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "GetDeploymentMachineGroup",
                "description": "",
                "operationId": "getDeploymentMachineGroup",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "machineGroupActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/deploymentMachineGroup"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "UpdateDeploymentMachineGroup",
                "description": "",
                "operationId": "updateDeploymentMachineGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/deploymentMachineGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/deploymentMachineGroup"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}/machines": {
            "get": {
                "tags": [
                    "machines"
                ],
                "summary": "GetDeploymentMachines",
                "description": "",
                "operationId": "getDeploymentMachines",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "tagFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deploymentMachine"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "machines"
                ],
                "summary": "UpdateDeploymentMachines",
                "description": "",
                "operationId": "updateDeploymentMachines",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deploymentMachine"
                            }
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/deploymentMachine"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/queues": {
            "post": {
                "tags": [
                    "queues"
                ],
                "summary": "AddAgentQueue",
                "description": "",
                "operationId": "addAgentQueue",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskAgentQueue"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentQueue"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "queues"
                ],
                "summary": "CreateTeamProject",
                "description": "",
                "operationId": "createTeamProject",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "queues"
                ],
                "summary": "GetAgentQueues",
                "description": "",
                "operationId": "getAgentQueues",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queueName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "taskAgentQueueActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAgentQueue"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/queues/{queueId}": {
            "delete": {
                "tags": [
                    "queues"
                ],
                "summary": "DeleteAgentQueue",
                "description": "",
                "operationId": "deleteAgentQueue",
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "queues"
                ],
                "summary": "GetAgentQueue",
                "description": "",
                "operationId": "getAgentQueue",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "taskAgentQueueActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAgentQueue"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpointproxy": {
            "post": {
                "tags": [
                    "serviceendpointproxy"
                ],
                "summary": "ExecuteServiceEndpointRequest",
                "description": "",
                "operationId": "executeServiceEndpointRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/serviceEndpointRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/serviceEndpointRequestResult"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpoints": {
            "post": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "CreateServiceEndpoint",
                "description": "",
                "operationId": "createServiceEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/serviceEndpoint"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/serviceEndpoint"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "GetServiceEndpoints",
                "description": "",
                "operationId": "getServiceEndpoints",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "authSchemes",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "endpointIds",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "in": "query",
                        "name": "includeFailed",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/serviceEndpoint"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpoints/{endpointId}": {
            "delete": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "DeleteServiceEndpoint",
                "description": "",
                "operationId": "deleteServiceEndpoint",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "GetServiceEndpointDetails",
                "description": "",
                "operationId": "getServiceEndpointDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/serviceEndpoint"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "UpdateServiceEndpoint",
                "description": "",
                "operationId": "updateServiceEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/serviceEndpoint"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/serviceEndpoint"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/taskgroups": {
            "post": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "AddTaskGroup",
                "description": "",
                "operationId": "addTaskGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskGroup"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "UpdateTaskGroup",
                "description": "",
                "operationId": "updateTaskGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskGroup"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/taskgroups/{taskGroupId}": {
            "delete": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "DeleteTaskGroup",
                "description": "",
                "operationId": "deleteTaskGroup",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "taskGroupId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "GetTaskGroups",
                "description": "",
                "operationId": "getTaskGroups",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "taskGroupId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "expanded",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskGroup"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "agentChangeEvent": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/taskAgent"
                },
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPoolReference"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "agentJobRequestMessage": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/jobRequestMessage"
                }
            ],
            "properties": {
                "lockedUntil": {
                    "type": "string",
                    "format": "date-time"
                },
                "lockToken": {
                    "type": "string",
                    "format": "uuid"
                },
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/taskInstance"
                    }
                }
            }
        },
        "agentMigrationMessage": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string"
                }
            }
        },
        "agentPoolEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPool"
                }
            }
        },
        "agentQueueEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "queue": {
                    "$ref": "#/definitions/taskAgentQueue"
                }
            }
        },
        "agentRefreshMessage": {
            "type": "object",
            "properties": {
                "agentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeout": {
                    "type": "string",
                    "format": "timeSpan"
                }
            }
        },
        "agentRequestEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "planId": {
                    "type": "string",
                    "format": "uuid"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "reservedAgentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "authorizationHeader": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "azureSpnOperationStatus": {
            "type": "object",
            "properties": {
                "state": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "azureSubscription": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "subscriptionId": {
                    "type": "string"
                },
                "subscriptionTenantId": {
                    "type": "string"
                },
                "subscriptionTenantName": {
                    "type": "string"
                }
            }
        },
        "azureSubscriptionQueryResult": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/azureSubscription"
                    }
                }
            }
        },
        "dataSource": {
            "type": "object",
            "properties": {
                "endpointUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "dataSourceBinding": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "dataSourceBindingBase"
                }
            ],
            "properties": {
            }
        },
        "dataSourceDetails": {
            "type": "object",
            "properties": {
                "dataSourceName": {
                    "type": "string"
                },
                "dataSourceUrl": {
                    "type": "string"
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "demand": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "dependencyBinding": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "dependsOn": {
            "type": "object",
            "properties": {
                "input": {
                    "type": "string"
                },
                "map": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dependencyBinding"
                    }
                }
            }
        },
        "deploymentMachine": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/taskAgentReference"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "deploymentMachineGroup": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deploymentMachineGroupReference"
                }
            ],
            "properties": {
                "machines": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deploymentMachine"
                    }
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "deploymentMachineGroupReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPoolReference"
                },
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "deploymentMachinesChangeEvent": {
            "type": "object",
            "properties": {
                "machineGroupReference": {
                    "$ref": "#/definitions/deploymentMachineGroupReference"
                },
                "machines": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deploymentMachine"
                    }
                }
            }
        },
        "endpointAuthorization": {
            "type": "object",
            "properties": {
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "scheme": {
                    "type": "string"
                }
            }
        },
        "endpointUrl": {
            "type": "object",
            "properties": {
                "dependsOn": {
                    "$ref": "#/definitions/dependsOn"
                },
                "displayName": {
                    "type": "string"
                },
                "helpText": {
                    "type": "string"
                },
                "isVisible": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "helpLink": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "issue": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "message": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "error",
                        "warning"
                    ]
                }
            }
        },
        "jobAssignedEvent": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/jobEvent"
                }
            ],
            "properties": {
                "request": {
                    "$ref": "#/definitions/taskAgentJobRequest"
                }
            }
        },
        "jobCancelMessage": {
            "type": "object",
            "properties": {
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeout": {
                    "type": "string",
                    "format": "timeSpan"
                }
            }
        },
        "jobCompletedEvent": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/jobEvent"
                }
            ],
            "properties": {
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                }
            }
        },
        "jobEnvironment": {
            "type": "object",
            "properties": {
                "endpoints": {
                    "type": "array",
                    "items": {
[...]
