{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "TaskAgent",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "agents"
        },
        {
            "name": "azurermsubscriptions"
        },
        {
            "name": "endpoint"
        },
        {
            "name": "hublicense"
        },
        {
            "name": "icon"
        },
        {
            "name": "jobrequests"
        },
        {
            "name": "machinegroups"
        },
        {
            "name": "machines"
        },
        {
            "name": "messages"
        },
        {
            "name": "packages"
        },
        {
            "name": "poolroles"
        },
        {
            "name": "pools"
        },
        {
            "name": "queueroles"
        },
        {
            "name": "queues"
        },
        {
            "name": "serviceendpointproxy"
        },
        {
            "name": "serviceendpoints"
        },
        {
            "name": "serviceendpointtypes"
        },
        {
            "name": "sessions"
        },
        {
            "name": "taskgroups"
        },
        {
            "name": "tasks"
        },
        {
            "name": "usercapabilities"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/distributedtask/endpoint": {
            "post": {
                "tags": [
                    "endpoint"
                ],
                "summary": "QueryEndpoint",
                "description": "Proxy for a GET request defined by an 'endpoint'. The request is authorized using a service connection. The response is filtered using an XPath/Json based selector.",
                "operationId": "queryEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Describes the URL to fetch.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskDefinitionEndpoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/hublicense/{hubName}": {
            "get": {
                "tags": [
                    "hublicense"
                ],
                "summary": "GetTaskHubLicenseDetails",
                "description": "",
                "operationId": "getTaskHubLicenseDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeEnterpriseUsersCount",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskHubLicenseDetails"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "hublicense"
                ],
                "summary": "UpdateTaskHubLicenseDetails",
                "description": "",
                "operationId": "updateTaskHubLicenseDetails",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskHubLicenseDetails"
                        }
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskHubLicenseDetails"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/packages/{packageType}/{platform}": {
            "get": {
                "tags": [
                    "packages"
                ],
                "summary": "GetPackages",
                "description": "",
                "operationId": "getPackages",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "packageType",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "platform",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PackageMetadata"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/packages/{packageType}/{platform}/{version}": {
            "get": {
                "tags": [
                    "packages"
                ],
                "summary": "GetPackage",
                "description": "",
                "operationId": "getPackage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "packageType",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "platform",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PackageMetadata"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/poolroles/{poolId}": {
            "get": {
                "tags": [
                    "poolroles"
                ],
                "summary": "GetAgentPoolRoles",
                "description": "",
                "operationId": "getAgentPoolRoles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "IdentityRef"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools": {
            "post": {
                "tags": [
                    "pools"
                ],
                "summary": "AddAgentPool",
                "description": "",
                "operationId": "addAgentPool",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentPool"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentPool"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "pools"
                ],
                "summary": "GetAgentPools",
                "description": "",
                "operationId": "getAgentPools",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "poolName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "poolType",
                        "description": "",
                        "required": false,
                        "type": "TaskAgentPoolType"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "TaskAgentPoolActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskAgentPool"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}": {
            "delete": {
                "tags": [
                    "pools"
                ],
                "summary": "DeleteAgentPool",
                "description": "",
                "operationId": "deleteAgentPool",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "pools"
                ],
                "summary": "GetAgentPool",
                "description": "",
                "operationId": "getAgentPool",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "properties",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "TaskAgentPoolActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentPool"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "pools"
                ],
                "summary": "UpdateAgentPool",
                "description": "",
                "operationId": "updateAgentPool",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentPool"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentPool"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents": {
            "post": {
                "tags": [
                    "agents"
                ],
                "summary": "AddAgent",
                "description": "",
                "operationId": "addAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "agents"
                ],
                "summary": "GetAgents",
                "description": "",
                "operationId": "getAgents",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeCapabilities",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeAssignedRequest",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "propertyFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "demands",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskAgent"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents/{agentId}": {
            "delete": {
                "tags": [
                    "agents"
                ],
                "summary": "DeleteAgent",
                "description": "",
                "operationId": "deleteAgent",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "agents"
                ],
                "summary": "GetAgent",
                "description": "",
                "operationId": "getAgent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeCapabilities",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeAssignedRequest",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "propertyFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "agents"
                ],
                "summary": "ReplaceAgent",
                "description": "",
                "operationId": "replaceAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "agents"
                ],
                "summary": "UpdateAgent",
                "description": "",
                "operationId": "updateAgent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/agents/{agentId}/usercapabilities": {
            "put": {
                "tags": [
                    "usercapabilities"
                ],
                "summary": "UpdateAgentUserCapabilities",
                "description": "",
                "operationId": "updateAgentUserCapabilities",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgent"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/jobrequests": {
            "get": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "GetAgentRequestsForAgent",
                "description": "",
                "operationId": "getAgentRequestsForAgent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "completedRequestCount",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskAgentJobRequest"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "QueueAgentRequest",
                "description": "",
                "operationId": "queueAgentRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentJobRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentJobRequest"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/jobrequests/{requestId}": {
            "delete": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "DeleteAgentRequest",
                "description": "",
                "operationId": "deleteAgentRequest",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "lockToken",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "GetAgentRequest",
                "description": "",
                "operationId": "getAgentRequest",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentJobRequest"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "jobrequests"
                ],
                "summary": "UpdateAgentRequest",
                "description": "",
                "operationId": "updateAgentRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentJobRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "requestId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "lockToken",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentJobRequest"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/messages": {
            "get": {
                "tags": [
                    "messages"
                ],
                "summary": "GetMessage",
                "description": "",
                "operationId": "getMessage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "lastMessageId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentMessage"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "messages"
                ],
                "summary": "RefreshAgent",
                "description": "",
                "operationId": "refreshAgent",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/messages/{messageId}": {
            "delete": {
                "tags": [
                    "messages"
                ],
                "summary": "DeleteMessage",
                "description": "",
                "operationId": "deleteMessage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "messageId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/sessions": {
            "post": {
                "tags": [
                    "sessions"
                ],
                "summary": "CreateAgentSession",
                "description": "",
                "operationId": "createAgentSession",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentSession"
                        }
                    },
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentSession"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/pools/{poolId}/sessions/{sessionId}": {
            "delete": {
                "tags": [
                    "sessions"
                ],
                "summary": "DeleteAgentSession",
                "description": "",
                "operationId": "deleteAgentSession",
                "parameters": [
                    {
                        "in": "path",
                        "name": "poolId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "sessionId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/_apis/distributedtask/queueroles/{queueId}": {
            "get": {
                "tags": [
                    "queueroles"
                ],
                "summary": "GetAgentQueueRoles",
                "description": "",
                "operationId": "getAgentQueueRoles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "IdentityRef"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/serviceendpointproxy/azurermsubscriptions": {
            "get": {
                "tags": [
                    "azurermsubscriptions"
                ],
                "summary": "GetAzureSubscriptions",
                "description": "",
                "operationId": "getAzureSubscriptions",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AzureSubscriptionQueryResult"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/serviceendpointtypes": {
            "get": {
                "tags": [
                    "serviceendpointtypes"
                ],
                "summary": "GetServiceEndpointTypes",
                "description": "",
                "operationId": "getServiceEndpointTypes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "scheme",
                        "description": "",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ServiceEndpointType"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}": {
            "delete": {
                "tags": [
                    "tasks"
                ],
                "summary": "DeleteTaskDefinition",
                "description": "",
                "operationId": "deleteTaskDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTaskDefinitions",
                "description": "",
                "operationId": "getTaskDefinitions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "visibility",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scopeLocal",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}/{versionString}": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "GetTaskContentZip",
                "description": "",
                "operationId": "getTaskContentZip",
                "produces": [
                    "application/json",
                    "application/zip"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "versionString",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "visibility",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scopeLocal",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Stream"
                        }
                    }
                }
            }
        },
        "/_apis/distributedtask/tasks/{taskId}/{versionString}/icon": {
            "get": {
                "tags": [
                    "icon"
                ],
                "summary": "GetTaskIcon",
                "description": "",
                "operationId": "getTaskIcon",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "versionString",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "StreamContent"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups": {
            "post": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "AddDeploymentMachineGroup",
                "description": "",
                "operationId": "addDeploymentMachineGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeploymentMachineGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeploymentMachineGroup"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "GetDeploymentMachineGroups",
                "description": "",
                "operationId": "getDeploymentMachineGroups",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "machineGroupName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "MachineGroupActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeploymentMachineGroup"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}": {
            "delete": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "DeleteDeploymentMachineGroup",
                "description": "",
                "operationId": "deleteDeploymentMachineGroup",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "GetDeploymentMachineGroup",
                "description": "",
                "operationId": "getDeploymentMachineGroup",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "MachineGroupActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeploymentMachineGroup"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "machinegroups"
                ],
                "summary": "UpdateDeploymentMachineGroup",
                "description": "",
                "operationId": "updateDeploymentMachineGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeploymentMachineGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeploymentMachineGroup"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/machinegroups/{machineGroupId}/machines": {
            "get": {
                "tags": [
                    "machines"
                ],
                "summary": "GetDeploymentMachines",
                "description": "",
                "operationId": "getDeploymentMachines",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "tagFilters",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeploymentMachine"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "machines"
                ],
                "summary": "UpdateDeploymentMachines",
                "description": "",
                "operationId": "updateDeploymentMachines",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/DeploymentMachine"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "machineGroupId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeploymentMachine"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/queues": {
            "post": {
                "tags": [
                    "queues"
                ],
                "summary": "AddAgentQueue",
                "description": "",
                "operationId": "addAgentQueue",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskAgentQueue"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentQueue"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "queues"
                ],
                "summary": "CreateTeamProject",
                "description": "",
                "operationId": "createTeamProject",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "queues"
                ],
                "summary": "GetAgentQueues",
                "description": "",
                "operationId": "getAgentQueues",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "queueName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "TaskAgentQueueActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskAgentQueue"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/queues/{queueId}": {
            "delete": {
                "tags": [
                    "queues"
                ],
                "summary": "DeleteAgentQueue",
                "description": "",
                "operationId": "deleteAgentQueue",
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "queues"
                ],
                "summary": "GetAgentQueue",
                "description": "",
                "operationId": "getAgentQueue",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "queueId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "actionFilter",
                        "description": "",
                        "required": false,
                        "type": "TaskAgentQueueActionFilter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskAgentQueue"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpointproxy": {
            "post": {
                "tags": [
                    "serviceendpointproxy"
                ],
                "summary": "ExecuteServiceEndpointRequest",
                "description": "",
                "operationId": "executeServiceEndpointRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpointRequest"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpointRequestResult"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpoints": {
            "post": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "CreateServiceEndpoint",
                "description": "",
                "operationId": "createServiceEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpoint"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpoint"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "GetServiceEndpoints",
                "description": "",
                "operationId": "getServiceEndpoints",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "authSchemes",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "endpointIds",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "Guid"
                        }
                    },
                    {
                        "in": "query",
                        "name": "includeFailed",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ServiceEndpoint"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/serviceendpoints/{endpointId}": {
            "delete": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "DeleteServiceEndpoint",
                "description": "",
                "operationId": "deleteServiceEndpoint",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "GetServiceEndpointDetails",
                "description": "",
                "operationId": "getServiceEndpointDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpoint"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "serviceendpoints"
                ],
                "summary": "UpdateServiceEndpoint",
                "description": "",
                "operationId": "updateServiceEndpoint",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpoint"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "endpointId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ServiceEndpoint"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/taskgroups": {
            "post": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "AddTaskGroup",
                "description": "",
                "operationId": "addTaskGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskGroup"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "UpdateTaskGroup",
                "description": "",
                "operationId": "updateTaskGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskGroup"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TaskGroup"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/distributedtask/taskgroups/{taskGroupId}": {
            "delete": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "DeleteTaskGroup",
                "description": "",
                "operationId": "deleteTaskGroup",
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "taskGroupId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "taskgroups"
                ],
                "summary": "GetTaskGroups",
                "description": "",
                "operationId": "getTaskGroups",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "taskGroupId",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "expanded",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskGroup"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AgentChangeEvent": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/TaskAgent"
                },
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/TaskAgentPoolReference"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "AgentJobRequestMessage": {
            "type": "JobRequestMessage",
            "properties": {
                "lockedUntil": {
                    "type": "string",
                    "format": "date-time"
                },
                "lockToken": {
                    "type": "string",
                    "format": "uuid"
                },
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "type": "TaskInstance"
                    }
                }
            }
        },
        "AgentMigrationMessage": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string"
                }
            }
        },
        "AgentPoolEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/TaskAgentPool"
                }
            }
        },
        "AgentQueueEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "queue": {
                    "$ref": "#/definitions/TaskAgentQueue"
                }
            }
        },
        "AgentRefreshMessage": {
            "type": "object",
            "properties": {
                "agentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeout": {
                    "type": "TimeSpan"
                }
            }
        },
        "AgentRequestEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "planId": {
                    "type": "string",
                    "format": "uuid"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "reservedAgentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "AuthorizationHeader": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "AzureSpnOperationStatus": {
            "type": "object",
            "properties": {
                "state": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "AzureSubscription": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "subscriptionId": {
                    "type": "string"
                },
                "subscriptionTenantId": {
                    "type": "string"
                },
                "subscriptionTenantName": {
                    "type": "string"
                }
            }
        },
        "AzureSubscriptionQueryResult": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "type": "AzureSubscription"
                    }
                }
            }
        },
        "DataSource": {
            "type": "object",
            "properties": {
                "endpointUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "DataSourceBinding": {
            "type": "DataSourceBindingBase",
            "properties": {
            }
        },
        "DataSourceDetails": {
            "type": "object",
            "properties": {
                "dataSourceName": {
                    "type": "string"
                },
                "dataSourceUrl": {
                    "type": "string"
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "Demand": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "DependencyBinding": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "DependsOn": {
            "type": "object",
            "properties": {
                "input": {
                    "type": "string"
                },
                "map": {
                    "type": "array",
                    "items": {
                        "type": "DependencyBinding"
                    }
                }
            }
        },
        "DeploymentMachine": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/TaskAgentReference"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "DeploymentMachineGroup": {
            "type": "DeploymentMachineGroupReference",
            "properties": {
                "machines": {
                    "type": "array",
                    "items": {
                        "type": "DeploymentMachine"
                    }
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "DeploymentMachineGroupReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/TaskAgentPoolReference"
                },
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "DeploymentMachinesChangeEvent": {
            "type": "object",
            "properties": {
                "machineGroupReference": {
                    "$ref": "#/definitions/DeploymentMachineGroupReference"
                },
                "machines": {
                    "type": "array",
                    "items": {
                        "type": "DeploymentMachine"
                    }
                }
            }
        },
        "EndpointAuthorization": {
            "type": "object",
            "properties": {
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "scheme": {
                    "type": "string"
                }
            }
        },
        "EndpointUrl": {
            "type": "object",
            "properties": {
                "dependsOn": {
                    "$ref": "#/definitions/DependsOn"
                },
                "displayName": {
                    "type": "string"
                },
                "helpText": {
                    "type": "string"
                },
                "isVisible": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "HelpLink": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "Issue": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "message": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "error",
                        "warning"
                    ]
                }
            }
        },
        "JobAssignedEvent": {
            "type": "JobEvent",
            "properties": {
                "request": {
                    "$ref": "#/definitions/TaskAgentJobRequest"
                }
            }
        },
        "JobCancelMessage": {
            "type": "object",
            "properties": {
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeout": {
                    "type": "TimeSpan"
                }
            }
        },
        "JobCompletedEvent": {
            "type": "JobEvent",
            "properties": {
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                }
            }
        },
        "JobEnvironment": {
            "type": "object",
            "properties": {
                "endpoints": {
                    "type": "array",
                    "items": {
                        "type": "ServiceEndpoint"
                    }
                },
                "mask": {
                    "type": "array",
                    "items": {
                        "type": "MaskHint"
                    }
                },
                "options": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/JobOption"
                    }
                },
                "systemConnection": {
                    "description": "Gets or sets the endpoint used for communicating back to the calling service.",
                    "$ref": "#/definitions/ServiceEndpoint"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "JobEvent": {
            "type": "object",
            "properties": {
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "JobEventConfig": {
            "type": "object",
            "properties": {
                "timeout": {
                    "type": "string"
                }
            }
        },
        "JobEventsConfig": {
            "type": "object",
            "properties": {
                "jobAssigned": {
                    "$ref": "#/definitions/JobEventConfig"
                },
                "jobCompleted": {
                    "$ref": "#/definitions/JobEventConfig"
[...]
