{
    "swagger": "2.0",
    "info": {
        "title": "Task",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "attachments"
        },
        {
            "name": "feed"
        },
        {
            "name": "logs"
        },
        {
            "name": "plans"
        },
        {
            "name": "records"
        },
        {
            "name": "timelines"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}": {
            "get": {
                "tags": [
                    "plans"
                ],
                "summary": "GetPlan",
                "description": "",
                "operationId": "getPlan",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskOrchestrationPlan"
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/attachments/{type}": {
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "GetPlanAttachments",
                "description": "",
                "operationId": "getPlanAttachments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAttachment"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/logs": {
            "post": {
                "tags": [
                    "logs"
                ],
                "summary": "CreateLog",
                "description": "",
                "operationId": "createLog",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/taskLog"
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskLog"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "logs"
                ],
                "summary": "GetLogs",
                "description": "",
                "operationId": "getLogs",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskLog"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/logs/{logId}": {
            "post": {
                "tags": [
                    "logs"
                ],
                "summary": "AppendLogContent",
                "description": "",
                "operationId": "appendLogContent",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Stream to upload",
                        "required": true,
                        "type": "stream"
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "logId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskLog"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "logs"
                ],
                "summary": "GetLog",
                "description": "",
                "operationId": "getLog",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "logId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "startLine",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "endLine",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines": {
            "post": {
                "tags": [
                    "timelines"
                ],
                "summary": "CreateTimeline",
                "description": "",
                "operationId": "createTimeline",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/timeline"
                        }
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/timeline"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "timelines"
                ],
                "summary": "GetTimelines",
                "description": "",
                "operationId": "getTimelines",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/timeline"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines/{timelineId}": {
            "delete": {
                "tags": [
                    "timelines"
                ],
                "summary": "DeleteTimeline",
                "description": "",
                "operationId": "deleteTimeline",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "get": {
                "tags": [
                    "timelines"
                ],
                "summary": "GetTimeline",
                "description": "",
                "operationId": "getTimeline",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "changeId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeRecords",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/timeline"
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines/{timelineId}/records": {
            "get": {
                "tags": [
                    "records"
                ],
                "summary": "GetRecords",
                "description": "",
                "operationId": "getRecords",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "changeId",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/timelineRecord"
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "records"
                ],
                "summary": "UpdateRecords",
                "description": "",
                "operationId": "updateRecords",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "generic"
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/timelineRecord"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines/{timelineId}/records/{recordId}/attachments/{type}": {
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "GetAttachments",
                "description": "",
                "operationId": "getAttachments",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "recordId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/taskAttachment"
                            }
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines/{timelineId}/records/{recordId}/attachments/{type}/{name}": {
            "put": {
                "tags": [
                    "attachments"
                ],
                "summary": "CreateAttachment",
                "description": "",
                "operationId": "createAttachment",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Stream to upload",
                        "required": true,
                        "type": "stream"
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "recordId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAttachment"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "attachments"
                ],
                "summary": "GetAttachment",
                "description": "",
                "operationId": "getAttachment",
                "produces": [
                    "application/octet-stream",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "recordId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "type",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/taskAttachment"
                        }
                    }
                }
            }
        },
        "/{scopeIdentifier}/_apis/distributedtask/hubs/{hubName}/plans/{planId}/timelines/{timelineId}/records/{recordId}/feed": {
            "post": {
                "tags": [
                    "feed"
                ],
                "summary": "AppendTimelineRecordFeed",
                "description": "",
                "operationId": "appendTimelineRecordFeed",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "type": "generic"
                    },
                    {
                        "in": "path",
                        "name": "scopeIdentifier",
                        "description": "The project GUID to scope the request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "hubName",
                        "description": "The name of the server hub: \"build\" for the Build server or \"rm\" for the Release Management server",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "planId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "timelineId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "recordId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "agentChangeEvent": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/taskAgent"
                },
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPoolReference"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "agentJobRequestMessage": {
            "type": "JobRequestMessage",
            "properties": {
                "lockedUntil": {
                    "type": "string",
                    "format": "date-time"
                },
                "lockToken": {
                    "type": "string",
                    "format": "uuid"
                },
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "type": "taskInstance"
                    }
                }
            }
        },
        "agentMigrationMessage": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string"
                }
            }
        },
        "agentPoolEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPool"
                }
            }
        },
        "agentQueueEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "queue": {
                    "$ref": "#/definitions/taskAgentQueue"
                }
            }
        },
        "agentRefreshMessage": {
            "type": "object",
            "properties": {
                "agentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "timeout": {
                    "type": "timeSpan"
                }
            }
        },
        "agentRequestEvent": {
            "type": "object",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "planId": {
                    "type": "string",
                    "format": "uuid"
                },
                "poolId": {
                    "type": "integer",
                    "format": "int32"
                },
                "reservedAgentId": {
                    "type": "integer",
                    "format": "int32"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                },
                "timeStamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "authorizationHeader": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "azureSpnOperationStatus": {
            "type": "object",
            "properties": {
                "state": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                }
            }
        },
        "azureSubscription": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "subscriptionId": {
                    "type": "string"
                },
                "subscriptionTenantId": {
                    "type": "string"
                },
                "subscriptionTenantName": {
                    "type": "string"
                }
            }
        },
        "azureSubscriptionQueryResult": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "type": "azureSubscription"
                    }
                }
            }
        },
        "dataSource": {
            "type": "object",
            "properties": {
                "endpointUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "dataSourceBinding": {
            "type": "DataSourceBindingBase",
            "properties": {
            }
        },
        "dataSourceDetails": {
            "type": "object",
            "properties": {
                "dataSourceName": {
                    "type": "string"
                },
                "dataSourceUrl": {
                    "type": "string"
                },
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "resultSelector": {
                    "type": "string"
                }
            }
        },
        "demand": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "dependencyBinding": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "dependsOn": {
            "type": "object",
            "properties": {
                "input": {
                    "type": "string"
                },
                "map": {
                    "type": "array",
                    "items": {
                        "type": "dependencyBinding"
                    }
                }
            }
        },
        "deploymentMachine": {
            "type": "object",
            "properties": {
                "agent": {
                    "$ref": "#/definitions/taskAgentReference"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "deploymentMachineGroup": {
            "type": "DeploymentMachineGroupReference",
            "properties": {
                "machines": {
                    "type": "array",
                    "items": {
                        "type": "deploymentMachine"
                    }
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "deploymentMachineGroupReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPoolReference"
                },
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "deploymentMachinesChangeEvent": {
            "type": "object",
            "properties": {
                "machineGroupReference": {
                    "$ref": "#/definitions/deploymentMachineGroupReference"
                },
                "machines": {
                    "type": "array",
                    "items": {
                        "type": "deploymentMachine"
                    }
                }
            }
        },
        "endpointAuthorization": {
            "type": "object",
            "properties": {
                "parameters": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "scheme": {
                    "type": "string"
                }
            }
        },
        "endpointUrl": {
            "type": "object",
            "properties": {
                "dependsOn": {
                    "$ref": "#/definitions/dependsOn"
                },
                "displayName": {
                    "type": "string"
                },
                "helpText": {
                    "type": "string"
                },
                "isVisible": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "helpLink": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "issue": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "message": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "error",
                        "warning"
                    ]
                }
            }
        },
        "jobAssignedEvent": {
            "type": "JobEvent",
            "properties": {
                "request": {
                    "$ref": "#/definitions/taskAgentJobRequest"
                }
            }
        },
        "jobCancelMessage": {
            "type": "object",
            "properties": {
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeout": {
                    "type": "timeSpan"
                }
            }
        },
        "jobCompletedEvent": {
            "type": "JobEvent",
            "properties": {
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                }
            }
        },
        "jobEnvironment": {
            "type": "object",
            "properties": {
                "endpoints": {
                    "type": "array",
                    "items": {
                        "type": "serviceEndpoint"
                    }
                },
                "mask": {
                    "type": "array",
                    "items": {
                        "type": "maskHint"
                    }
                },
                "options": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/jobOption"
                    }
                },
                "systemConnection": {
                    "description": "Gets or sets the endpoint used for communicating back to the calling service.",
                    "$ref": "#/definitions/serviceEndpoint"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "jobEvent": {
            "type": "object",
            "properties": {
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "jobEventConfig": {
            "type": "object",
            "properties": {
                "timeout": {
                    "type": "string"
                }
            }
        },
        "jobEventsConfig": {
            "type": "object",
            "properties": {
                "jobAssigned": {
                    "$ref": "#/definitions/jobEventConfig"
                },
                "jobCompleted": {
                    "$ref": "#/definitions/jobEventConfig"
                },
                "jobStarted": {
                    "$ref": "#/definitions/jobEventConfig"
                }
            }
        },
        "jobOption": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "id": {
                    "description": "Gets the id of the option.",
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "jobRequestMessage": {
            "type": "object",
            "properties": {
                "environment": {
                    "$ref": "#/definitions/jobEnvironment"
                },
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "jobName": {
                    "type": "string"
                },
                "messageType": {
                    "type": "string"
                },
                "plan": {
                    "$ref": "#/definitions/taskOrchestrationPlanReference"
                },
                "timeline": {
                    "$ref": "#/definitions/timelineReference"
                }
            }
        },
        "jobStartedEvent": {
            "type": "JobEvent",
            "properties": {
            }
        },
        "maskHint": {
            "type": "object",
            "properties": {
                "type": {
                    "enum": [
                        "variable",
                        "regex"
                    ]
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "metaTaskDefinition": {
            "type": "TaskDefinition",
            "properties": {
                "owner": {
                    "type": "string"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "type": "metaTaskStep"
                    }
                }
            }
        },
        "metaTaskStep": {
            "type": "object",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "inputs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "task": {
                    "$ref": "#/definitions/taskDefinitionReference"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "packageMetadata": {
            "type": "object",
            "properties": {
                "createdOn": {
                    "description": "The date the package was created",
                    "type": "string",
                    "format": "date-time"
                },
                "downloadUrl": {
                    "description": "A direct link to download the package.",
                    "type": "string"
                },
                "filename": {
                    "description": "The UI uses this to display instructions, i.e. \"unzip MyAgent.zip\"",
                    "type": "string"
                },
                "hashValue": {
                    "description": "MD5 hash as a base64 string",
                    "type": "string"
                },
                "infoUrl": {
                    "description": "A link to documentation",
                    "type": "string"
                },
                "platform": {
                    "description": "The platform (win7, linux, etc.)",
                    "type": "string"
                },
                "type": {
                    "description": "The type of package (e.g. \"agent\")",
                    "type": "string"
                },
                "version": {
                    "description": "The package version.",
                    "$ref": "#/definitions/packageVersion"
                }
            }
        },
        "packageVersion": {
            "type": "object",
            "properties": {
                "major": {
                    "type": "integer",
                    "format": "int32"
                },
                "minor": {
                    "type": "integer",
                    "format": "int32"
                },
                "patch": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "planEnvironment": {
            "type": "object",
            "properties": {
                "mask": {
                    "type": "array",
                    "items": {
                        "type": "maskHint"
                    }
                },
                "options": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/jobOption"
                    }
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "resultTransformationDetails": {
            "type": "object",
            "properties": {
                "resultTemplate": {
                    "type": "string"
                }
            }
        },
        "sendJobResponse": {
            "type": "object",
            "properties": {
                "events": {
                    "$ref": "#/definitions/jobEventsConfig"
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "serverExecutionDefinition": {
            "type": "object",
            "properties": {
                "events": {
                    "$ref": "#/definitions/jobEventsConfig"
                }
            }
        },
        "serverJobRequestMessage": {
            "type": "JobRequestMessage",
            "properties": {
                "taskDefinition": {
                    "$ref": "#/definitions/taskDefinition"
                },
                "taskInstance": {
                    "$ref": "#/definitions/taskInstance"
                }
            }
        },
        "serviceEndpoint": {
            "type": "object",
            "properties": {
                "administratorsGroup": {
                    "type": "identityRef"
                },
                "authorization": {
                    "description": "Gets or sets the authorization data for talking to the endpoint.",
                    "$ref": "#/definitions/endpointAuthorization"
                },
                "createdBy": {
                    "description": "The Gets or sets Identity reference for the user who created the Service endpoint",
                    "type": "identityRef"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "description": {
                    "description": "Gets or Sets description of endpoint",
                    "type": "string"
                },
                "groupScopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "id": {
                    "description": "Gets or sets the identifier of this endpoint.",
                    "type": "string",
                    "format": "uuid"
                },
                "isReady": {
                    "description": "EndPoint state indictor",
                    "type": "boolean"
                },
                "name": {
                    "description": "Gets or sets the friendly name of the endpoint.",
                    "type": "string"
                },
                "operationStatus": {
                    "description": "Error message during creation/deletion of endpoint",
                    "type": "jObject"
                },
                "readersGroup": {
                    "type": "identityRef"
                },
                "type": {
                    "description": "Gets or sets the type of the endpoint.",
                    "type": "string"
                },
                "url": {
                    "description": "Gets or sets the url of the endpoint.",
                    "type": "string"
                }
            }
        },
        "serviceEndpointAuthenticationScheme": {
            "type": "object",
            "properties": {
                "authorizationHeaders": {
                    "type": "array",
                    "items": {
                        "type": "authorizationHeader"
                    }
                },
                "displayName": {
                    "type": "string"
                },
                "inputDescriptors": {
                    "type": "array",
                    "items": {
                        "type": "inputDescriptor"
                    }
                },
                "scheme": {
                    "type": "string"
                }
            }
        },
        "serviceEndpointDetails": {
            "type": "object",
            "properties": {
                "authorization": {
                    "$ref": "#/definitions/endpointAuthorization"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "serviceEndpointRequest": {
            "type": "object",
            "properties": {
                "dataSourceDetails": {
                    "$ref": "#/definitions/dataSourceDetails"
                },
                "resultTransformationDetails": {
                    "$ref": "#/definitions/resultTransformationDetails"
                },
                "serviceEndpointDetails": {
                    "$ref": "#/definitions/serviceEndpointDetails"
                }
            }
        },
        "serviceEndpointRequestResult": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "result": {
                    "type": "jToken"
                },
                "statusCode": {
                    "type": "httpStatusCode"
                }
            }
        },
        "serviceEndpointType": {
            "type": "object",
            "properties": {
                "authenticationSchemes": {
                    "type": "array",
                    "items": {
                        "type": "serviceEndpointAuthenticationScheme"
                    }
                },
                "dataSources": {
                    "type": "array",
                    "items": {
                        "type": "dataSource"
                    }
                },
                "description": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "endpointUrl": {
                    "$ref": "#/definitions/endpointUrl"
                },
                "helpLink": {
                    "$ref": "#/definitions/helpLink"
                },
                "helpMarkDown": {
                    "type": "string"
                },
                "iconUrl": {
                    "type": "string"
                },
                "inputDescriptors": {
                    "type": "array",
                    "items": {
                        "type": "inputDescriptor"
                    }
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "taskAgent": {
            "type": "TaskAgentReference",
            "properties": {
                "assignedRequest": {
                    "description": "Gets the request which is currently assigned to this agent.",
                    "$ref": "#/definitions/taskAgentJobRequest"
                },
                "authorization": {
                    "description": "Gets or sets the authorization information for this agent.",
                    "$ref": "#/definitions/taskAgentAuthorization"
                },
                "createdOn": {
                    "description": "Gets the date on which this agent was created.",
                    "type": "string",
                    "format": "date-time"
                },
                "maxParallelism": {
                    "description": "Gets or sets the maximum job parallelism allowed on this host.",
                    "type": "integer",
                    "format": "int32"
                },
                "properties": {
                    "type": "propertiesCollection"
                },
                "statusChangedOn": {
                    "description": "Gets the date on which the last connectivity status change occurred.",
                    "type": "string",
                    "format": "date-time"
                },
                "systemCapabilities": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "userCapabilities": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "taskAgentAuthorization": {
            "type": "object",
            "properties": {
                "authorizationUrl": {
                    "description": "Gets or sets the endpoint used to obtain access tokens from the configured token service.",
                    "type": "string"
                },
                "clientId": {
                    "description": "Gets or sets the client identifier for this agent.",
                    "type": "string",
                    "format": "uuid"
                },
                "publicKey": {
                    "description": "Gets or sets the public key used to verify the identity of this agent.",
                    "$ref": "#/definitions/taskAgentPublicKey"
                }
            }
        },
        "taskAgentJobRequest": {
            "type": "object",
            "properties": {
                "assignTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "definition": {
                    "$ref": "#/definitions/taskOrchestrationOwner"
                },
                "demands": {
                    "type": "array",
                    "items": {
                        "type": "demand"
                    }
                },
                "finishTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "hostId": {
                    "type": "string",
                    "format": "uuid"
                },
                "jobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "jobName": {
                    "type": "string"
                },
                "lockedUntil": {
                    "type": "string",
                    "format": "date-time"
                },
                "matchedAgents": {
                    "type": "array",
                    "items": {
                        "type": "taskAgentReference"
                    }
                },
                "owner": {
                    "$ref": "#/definitions/taskOrchestrationOwner"
                },
                "planId": {
                    "type": "string",
                    "format": "uuid"
                },
                "planType": {
                    "type": "string"
                },
                "queueTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "receiveTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "requestId": {
                    "type": "integer",
                    "format": "int64"
                },
                "reservedAgent": {
                    "$ref": "#/definitions/taskAgentReference"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                },
                "scopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "serviceOwner": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "taskAgentMessage": {
            "type": "object",
            "properties": {
                "body": {
                    "description": "Gets or sets the body of the message. If the IV property is provided the body will need to be decrypted using the TaskAgentSession.EncryptionKey value in addition to the IV.",
                    "type": "string"
                },
                "iV": {
                    "description": "Gets or sets the intialization vector used to encrypt this message.",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "messageId": {
                    "description": "Gets or sets the message identifier.",
                    "type": "integer",
                    "format": "int64"
                },
                "messageType": {
                    "description": "Gets or sets the message type, describing the data contract found in TaskAgentMessage.Body.",
                    "type": "string"
                }
            }
        },
        "taskAgentPool": {
            "type": "TaskAgentPoolReference",
            "properties": {
                "administratorsGroup": {
                    "description": "Gets the administrators group for this agent pool.",
                    "type": "identityRef"
                },
                "autoProvision": {
                    "description": "Gets or sets a value indicating whether or not a queue should be automatically provisioned for each project collection or not.",
                    "type": "boolean"
                },
                "createdBy": {
                    "description": "Gets the identity who created this pool. The creator of the pool is automatically added into the administrators group for the pool on creation.",
                    "type": "identityRef"
                },
                "createdOn": {
                    "description": "Gets the date/time of the pool creation.",
                    "type": "string",
                    "format": "date-time"
                },
                "groupScopeId": {
                    "description": "Gets the scope identifier for groups/roles which are owned by this pool.",
                    "type": "string",
                    "format": "uuid"
                },
                "isHosted": {
                    "description": "Gets or sets a value indicating whether or not this pool is managed by the service.",
                    "type": "boolean"
                },
                "properties": {
                    "type": "propertiesCollection"
                },
                "provisioned": {
                    "description": "Gets a value indicating whether or not roles have been provisioned for this pool.",
                    "type": "boolean"
                },
                "serviceAccountsGroup": {
                    "description": "Gets the service accounts group for this agent pool.",
                    "type": "identityRef"
                },
                "size": {
                    "description": "Gets the current size of the pool.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "taskAgentPoolReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "poolType": {
                    "description": "Gets or sets the type of the pool",
                    "enum": [
                        "automation",
                        "deployment"
                    ]
                },
                "scope": {
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "taskAgentPublicKey": {
            "type": "object",
            "properties": {
                "exponent": {
                    "description": "Gets or sets the exponent for the public key.",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                },
                "modulus": {
                    "description": "Gets or sets the modulus for the public key.",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                }
            }
        },
        "taskAgentQueue": {
            "type": "object",
            "properties": {
                "groupScopeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/taskAgentPoolReference"
                },
                "projectId": {
                    "type": "string",
                    "format": "uuid"
                },
                "provisioned": {
                    "type": "boolean"
                }
            }
        },
        "taskAgentReference": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "enabled": {
                    "description": "Gets or sets a value indicating whether or not this agent should be enabled for job execution.",
                    "type": "boolean"
                },
                "id": {
                    "description": "Gets the identifier of the agent.",
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "description": "Gets the name of the agent.",
                    "type": "string"
                },
                "status": {
                    "description": "Gets the current connectivity status of the agent.",
                    "enum": [
                        "offline",
                        "online"
                    ]
                },
                "version": {
                    "description": "Gets the version of the agent.",
                    "type": "string"
                }
            }
        },
        "taskAgentSession": {
            "type": "object",
            "properties": {
                "agent": {
                    "description": "Gets or sets the agent which is the target of the session.",
                    "$ref": "#/definitions/taskAgentReference"
                },
                "encryptionKey": {
                    "description": "Gets the key used to encrypt message traffic for this session.",
                    "$ref": "#/definitions/taskAgentSessionKey"
                },
                "ownerName": {
                    "description": "Gets or sets the owner name of this session. Generally this will be the machine of origination.",
                    "type": "string"
                },
                "sessionId": {
                    "description": "Gets the unique identifier for this session.",
                    "type": "string",
                    "format": "uuid"
                },
                "systemCapabilities": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "taskAgentSessionKey": {
            "type": "object",
            "properties": {
                "encrypted": {
                    "description": "Gets or sets a value indicating whether or not the key value is encrypted. If this value is true, the property should be decrypted using the RSA key exchanged with the server during registration.",
                    "type": "boolean"
                },
                "value": {
                    "description": "Gets or sets the symmetric key value.",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "byte"
                    }
                }
            }
        },
        "taskAttachment": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "lastChangedBy": {
                    "type": "string",
                    "format": "uuid"
                },
                "lastChangedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "name": {
                    "type": "string"
                },
                "recordId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timelineId": {
                    "type": "string",
                    "format": "uuid"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "taskChangeEvent": {
            "type": "object",
            "properties": {
            }
        },
        "taskDefinition": {
            "type": "object",
            "properties": {
                "agentExecution": {
                    "$ref": "#/definitions/taskExecution"
                },
                "author": {
                    "type": "string"
                },
                "category": {
                    "type": "string"
                },
                "contentsUploaded": {
                    "type": "boolean"
                },
                "contributionIdentifier": {
                    "type": "string"
                },
                "contributionVersion": {
                    "type": "string"
                },
                "dataSourceBindings": {
                    "type": "array",
                    "items": {
                        "type": "dataSourceBinding"
                    }
                },
                "definitionType": {
                    "type": "string"
                },
                "demands": {
                    "type": "array",
                    "items": {
                        "type": "demand"
                    }
                },
                "description": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "execution": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "jObject"
                    }
                },
                "friendlyName": {
                    "type": "string"
                },
                "groups": {
                    "type": "array",
                    "items": {
                        "type": "taskGroupDefinition"
                    }
                },
                "helpMarkDown": {
                    "type": "string"
                },
                "hostType": {
                    "type": "string"
                },
                "iconUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "inputs": {
                    "type": "array",
                    "items": {
                        "type": "taskInputDefinition"
                    }
                },
                "instanceNameFormat": {
                    "type": "string"
                },
                "minimumAgentVersion": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "packageLocation": {
                    "type": "string"
                },
                "packageType": {
                    "type": "string"
                },
                "runsOn": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "serverOwned": {
                    "type": "boolean"
                },
                "sourceDefinitions": {
                    "type": "array",
                    "items": {
                        "type": "taskSourceDefinition"
                    }
                },
                "sourceLocation": {
                    "type": "string"
                },
                "version": {
                    "$ref": "#/definitions/taskVersion"
                },
                "visibility": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "taskDefinitionEndpoint": {
            "type": "object",
            "properties": {
                "connectionId": {
                    "description": "An ID that identifies a service connection to be used for authenticating endpoint requests.",
                    "type": "string"
                },
                "keySelector": {
                    "description": "An Json based keyselector to filter response returned by fetching the endpoint Url.A Json based keyselector must be prefixed with \"jsonpath:\". KeySelector can be used to specify the filter to get the keys for the values specified with Selector.  The following keyselector defines an Json for extracting nodes named 'ServiceName'.  endpoint.KeySelector = \"jsonpath://ServiceName\";",
                    "type": "string"
                },
                "scope": {
                    "description": "The scope as understood by Connected Services. Essentialy, a project-id for now.",
                    "type": "string"
                },
                "selector": {
                    "description": "An XPath/Json based selector to filter response returned by fetching the endpoint Url. An XPath based selector must be prefixed with the string \"xpath:\". A Json based selector must be prefixed with \"jsonpath:\".  The following selector defines an XPath for extracting nodes named 'ServiceName'.  endpoint.Selector = \"xpath://ServiceName\";",
                    "type": "string"
                },
                "taskId": {
                    "description": "TaskId that this endpoint belongs to.",
                    "type": "string"
                },
                "url": {
                    "description": "URL to GET.",
                    "type": "string"
                }
            }
        },
        "taskDefinitionReference": {
            "type": "object",
            "properties": {
                "definitionType": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "versionSpec": {
                    "type": "string"
                }
            }
        },
        "taskExecution": {
            "type": "object",
            "properties": {
                "execTask": {
                    "description": "The utility task to run.  Specifying this means that this task definition is simply a meta task to call another task. This is useful for tasks that call utility tasks like powershell and commandline",
                    "$ref": "#/definitions/taskReference"
                },
                "platformInstructions": {
                    "description": "If a task is going to run code, then this provides the type/script etc... information by platform. For example, it might look like. net45: { typeName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShellTask\", assemblyName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShell.dll\" } net20: { typeName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShellTask\", assemblyName: \"Microsoft.TeamFoundation.Automation.Tasks.PowerShell.dll\" } java: { jar: \"powershelltask.tasks.automation.teamfoundation.microsoft.com\", } node: { script: \"powershellhost.js\", }",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "taskGroup": {
            "type": "TaskDefinition",
            "properties": {
                "owner": {
                    "type": "string"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "type": "taskGroupStep"
                    }
                }
            }
        },
        "taskGroupDefinition": {
            "type": "object",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "isExpanded": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "taskGroupStep": {
            "type": "object",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "inputs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "task": {
                    "$ref": "#/definitions/taskDefinitionReference"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "taskHubLicenseDetails": {
            "type": "object",
            "properties": {
                "enterpriseUsersCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "freeLicenseCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "hasLicenseCountEverUpdated": {
                    "type": "boolean"
                },
                "msdnUsersCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "purchasedLicenseCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "totalLicenseCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "taskInputDefinition": {
            "type": "TaskInputDefinitionBase",
            "properties": {
            }
        },
        "taskInstance": {
            "type": "TaskReference",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "instanceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "timeoutInMinutes": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "taskLog": {
            "type": "TaskLogReference",
            "properties": {
                "createdOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "indexLocation": {
                    "type": "string"
                },
                "lastChangedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "lineCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "path": {
                    "type": "string"
                }
            }
        },
        "taskLogReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "location": {
                    "type": "string"
                }
            }
        },
        "taskOrchestrationContainer": {
            "type": "TaskOrchestrationItem",
            "properties": {
                "children": {
                    "type": "array",
                    "items": {
                        "type": "taskOrchestrationItem"
                    }
                },
                "continueOnError": {
                    "type": "boolean"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "maxConcurrency": {
                    "type": "integer",
                    "format": "int32"
                },
                "parallel": {
                    "type": "boolean"
                },
                "rollback": {
                    "$ref": "#/definitions/taskOrchestrationContainer"
                }
            }
        },
        "taskOrchestrationItem": {
            "type": "object",
            "properties": {
                "itemType": {
                    "enum": [
                        "container",
                        "job"
                    ]
                }
            }
        },
        "taskOrchestrationJob": {
            "type": "TaskOrchestrationItem",
            "properties": {
                "demands": {
                    "type": "array",
                    "items": {
                        "type": "demand"
                    }
                },
                "executeAs": {
                    "type": "identityRef"
                },
                "executionMode": {
                    "type": "string"
                },
                "executionTimeout": {
                    "type": "timeSpan"
                },
                "instanceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "type": "taskInstance"
                    }
                },
                "variables": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "taskOrchestrationOwner": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "referenceLinks"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "taskOrchestrationPlan": {
            "type": "TaskOrchestrationPlanReference",
            "properties": {
                "environment": {
                    "$ref": "#/definitions/planEnvironment"
                },
                "finishTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "implementation": {
                    "$ref": "#/definitions/taskOrchestrationContainer"
                },
                "planGroup": {
                    "type": "string"
                },
                "requestedById": {
                    "type": "string",
                    "format": "uuid"
                },
                "requestedForId": {
                    "type": "string",
                    "format": "uuid"
                },
                "result": {
                    "enum": [
                        "succeeded",
                        "succeededWithIssues",
                        "failed",
                        "canceled",
                        "skipped",
                        "abandoned"
                    ]
                },
                "resultCode": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "state": {
                    "enum": [
                        "inProgress",
                        "queued",
                        "completed"
                    ]
                },
                "timeline": {
                    "$ref": "#/definitions/timelineReference"
                }
            }
        },
        "taskOrchestrationPlanReference": {
            "type": "object",
            "properties": {
                "artifactLocation": {
                    "type": "string"
                },
                "artifactUri": {
                    "type": "string"
                },
                "planId": {
                    "type": "string",
                    "format": "uuid"
                },
                "planType": {
                    "type": "string"
                },
                "scopeIdentifier": {
                    "type": "string",
                    "format": "uuid"
                },
                "version": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "taskPackageMetadata": {
            "type": "object",
            "properties": {
                "type": {
                    "description": "Gets the name of the package.",
                    "type": "string"
                },
                "url": {
                    "description": "Gets the url of the package.",
                    "type": "string"
                },
                "version": {
                    "description": "Gets the version of the package.",
                    "type": "string"
                }
            }
        },
        "taskReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "inputs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "name": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "taskSourceDefinition": {
            "type": "TaskSourceDefinitionBase",
            "properties": {
            }
        },
        "taskVersion": {
            "type": "object",
            "properties": {
                "isTest": {
                    "type": "boolean"
                },
                "major": {
                    "type": "integer",
                    "format": "int32"
                },
                "minor": {
                    "type": "integer",
                    "format": "int32"
                },
                "patch": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "timeline": {
            "type": "TimelineReference",
            "properties": {
                "lastChangedBy": {
                    "type": "string",
                    "format": "uuid"
                },
                "lastChangedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "records": {
                    "type": "array",
                    "items": {
                        "type": "timelineRecord"
                    }
                }
            }
        },
        "timelineRecord": {
            "type": "object",
            "properties": {
                "changeId": {
                    "type": "integer",
                    "format": "int32"
                },
                "currentOperation": {
                    "type": "string"
                },
                "details": {
[...]
