{
  "swagger": "2.0",
  "info": {
    "title": "TemporaryData",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "properties"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
  },
  "definitions": {
    "TemporaryDataCreatedDTO": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TemporaryDataDTO"
        }
      ],
      "properties": {
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "TemporaryDataDTO": {
      "type": "object",
      "properties": {
        "expirationSeconds": {
          "type": "integer",
          "format": "int32"
        },
        "origin": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}