{
  "swagger": "2.0",
  "info": {
    "title": "Test",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "actionResults"
    },
    {
      "name": "attachments"
    },
    {
      "name": "bugs"
    },
    {
      "name": "cloneOperation"
    },
    {
      "name": "codeCoverage"
    },
    {
      "name": "configurations"
    },
    {
      "name": "extensionFields"
    },
    {
      "name": "history"
    },
    {
      "name": "iterations"
    },
    {
      "name": "linkedWorkItemsQuery"
    },
    {
      "name": "messageLogs"
    },
    {
      "name": "parameterResults"
    },
    {
      "name": "plans"
    },
    {
      "name": "points"
    },
    {
      "name": "resultDetailsByBuild"
    },
    {
      "name": "resultDetailsByRelease"
    },
    {
      "name": "resultDocument"
    },
    {
      "name": "resultRetentionSettings"
    },
    {
      "name": "results"
    },
    {
      "name": "resultSummaryByBuild"
    },
    {
      "name": "resultSummaryByRelease"
    },
    {
      "name": "resultSummaryByRequirement"
    },
    {
      "name": "resultTrendByBuild"
    },
    {
      "name": "resultTrendByRelease"
    },
    {
      "name": "runs"
    },
    {
      "name": "session"
    },
    {
      "name": "sharedParameter"
    },
    {
      "name": "sharedStep"
    },
    {
      "name": "suiteEntry"
    },
    {
      "name": "suites"
    },
    {
      "name": "testCases"
    },
    {
      "name": "testSettings"
    },
    {
      "name": "variables"
    },
    {
      "name": "workItems"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/test/suites": {
      "get": {
        "tags": [
          "suites"
        ],
        "summary": "GetSuitesByTestCaseId",
        "description": "",
        "operationId": "getSuitesByTestCaseId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/cloneoperation/{cloneOperationId}": {
      "get": {
        "tags": [
          "cloneOperation"
        ],
        "summary": "GetCloneInformation",
        "description": "",
        "operationId": "getCloneInformation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "cloneOperationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/codecoverage": {
      "get": {
        "tags": [
          "codeCoverage"
        ],
        "summary": "GetBuildCodeCoverage",
        "description": "",
        "operationId": "getBuildCodeCoverage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "flags",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildCoverage"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "codeCoverage"
        ],
        "summary": "UpdateCodeCoverageSummary",
        "description": "http://(tfsserver):8080/tfs/DefaultCollection/_apis/test/CodeCoverage?buildId=10 Request: Json of code coverage summary",
        "operationId": "updateCodeCoverageSummary",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeCoverageData"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/configurations": {
      "post": {
        "tags": [
          "configurations"
        ],
        "summary": "CreateTestConfiguration",
        "description": "",
        "operationId": "createTestConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "configurations"
        ],
        "summary": "GetTestConfigurations",
        "description": "",
        "operationId": "getTestConfigurations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeAllProperties",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestConfiguration"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/configurations/{testConfigurationId}": {
      "delete": {
        "tags": [
          "configurations"
        ],
        "summary": "DeleteTestConfiguration",
        "description": "",
        "operationId": "deleteTestConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "configurations"
        ],
        "summary": "GetTestConfigurationById",
        "description": "",
        "operationId": "getTestConfigurationById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "configurations"
        ],
        "summary": "UpdateTestConfiguration",
        "description": "",
        "operationId": "updateTestConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "testConfigurationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestConfiguration"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/extensionfields": {
      "post": {
        "tags": [
          "extensionFields"
        ],
        "summary": "AddCustomFields",
        "description": "",
        "operationId": "addCustomFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "extensionFields"
        ],
        "summary": "QueryCustomFields",
        "description": "",
        "operationId": "queryCustomFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scopeFilter",
            "description": "",
            "required": true,
            "type": "string",
            "format": "CustomTestFieldScope"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomTestFieldDefinition"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/linkedworkitemsquery": {
      "post": {
        "tags": [
          "linkedWorkItemsQuery"
        ],
        "summary": "GetLinkedWorkItemsByQuery",
        "description": "",
        "operationId": "getLinkedWorkItemsByQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkedWorkItemsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkedWorkItemsQueryResult"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/test/plans": {
      "post": {
        "tags": [
          "plans"
        ],
        "summary": "CreateTestPlan",
        "description": "",
        "operationId": "createTestPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlanUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "plans"
        ],
        "summary": "GetPlans",
        "description": "",
        "operationId": "getPlans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includePlanDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "filterActivePlans",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPlan"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/plans/{planId}": {
      "delete": {
        "tags": [
          "plans"
        ],
        "summary": "DeleteTestPlan",
        "description": "",
        "operationId": "deleteTestPlan",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "plans"
        ],
        "summary": "GetPlanById",
        "description": "",
        "operationId": "getPlanById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "plans"
        ],
        "summary": "UpdateTestPlan",
        "description": "",
        "operationId": "updateTestPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlanUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPlan"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/cloneoperation": {
      "post": {
        "tags": [
          "cloneOperation"
        ],
        "summary": "CloneTestPlan",
        "description": "",
        "operationId": "cloneTestPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestPlanCloneRequest"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites": {
      "get": {
        "tags": [
          "suites"
        ],
        "summary": "GetTestSuitesForPlan",
        "description": "",
        "operationId": "getTestSuitesForPlan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeSuites",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "asTreeView",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{sourceSuiteId}/cloneoperation": {
      "post": {
        "tags": [
          "cloneOperation"
        ],
        "summary": "CloneTestSuite",
        "description": "",
        "operationId": "cloneTestSuite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestSuiteCloneRequest"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "sourceSuiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CloneOperationInformation"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}": {
      "post": {
        "tags": [
          "suites"
        ],
        "summary": "CreateTestSuite",
        "description": "",
        "operationId": "createTestSuite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuiteCreateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSuite"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "suites"
        ],
        "summary": "DeleteTestSuite",
        "description": "",
        "operationId": "deleteTestSuite",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "suites"
        ],
        "summary": "GetTestSuiteById",
        "description": "",
        "operationId": "getTestSuiteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeChildSuites",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestSuite"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "suites"
        ],
        "summary": "UpdateTestSuite",
        "description": "",
        "operationId": "updateTestSuite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuiteUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestSuite"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{suiteId}/points": {
      "get": {
        "tags": [
          "points"
        ],
        "summary": "GetPoints",
        "description": "",
        "operationId": "getPoints",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "witFields",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "configurationId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testPointIds",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includePointDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPoint"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/Suites/{suiteId}/points/{pointIds}": {
      "get": {
        "tags": [
          "points"
        ],
        "summary": "GetPoint",
        "description": "",
        "operationId": "getPoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pointIds",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "witFields",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPoint"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "points"
        ],
        "summary": "UpdateTestPoints",
        "description": "",
        "operationId": "updateTestPoints",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "pointIds",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestPoint"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}/testcases": {
      "get": {
        "tags": [
          "suites"
        ],
        "summary": "GetTestCases",
        "description": "",
        "operationId": "getTestCases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuiteTestCase"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Plans/{planId}/suites/{suiteId}/testcases/{testCaseIds}": {
      "post": {
        "tags": [
          "suites"
        ],
        "summary": "AddTestCasesToSuite",
        "description": "",
        "operationId": "addTestCasesToSuite",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuiteTestCase"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "suites"
        ],
        "summary": "GetTestCaseById",
        "description": "",
        "operationId": "getTestCaseById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SuiteTestCase"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "suites"
        ],
        "summary": "RemoveTestCasesFromSuiteUrl",
        "description": "",
        "operationId": "removeTestCasesFromSuiteUrl",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "suiteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseIds",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/points": {
      "post": {
        "tags": [
          "points"
        ],
        "summary": "GetPointsByQuery",
        "description": "",
        "operationId": "getPointsByQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestPointsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestPointsQuery"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultdetailsbybuild": {
      "get": {
        "tags": [
          "resultDetailsByBuild"
        ],
        "summary": "GetTestResultDetailsForBuild",
        "description": "",
        "operationId": "getTestResultDetailsForBuild",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "groupBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderby",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultdetailsbyrelease": {
      "get": {
        "tags": [
          "resultDetailsByRelease"
        ],
        "summary": "GetTestResultDetailsForRelease",
        "description": "",
        "operationId": "getTestResultDetailsForRelease",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "releaseEnvId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "groupBy",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "orderby",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultretentionsettings": {
      "get": {
        "tags": [
          "resultRetentionSettings"
        ],
        "summary": "GetResultRetentionSettings",
        "description": "",
        "operationId": "getResultRetentionSettings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "resultRetentionSettings"
        ],
        "summary": "UpdateResultRetentionSettings",
        "description": "",
        "operationId": "updateResultRetentionSettings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResultRetentionSettings"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/results": {
      "post": {
        "tags": [
          "results"
        ],
        "summary": "GetTestResultsByQuery",
        "description": "",
        "operationId": "getTestResultsByQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultsQuery"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultsQuery"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Results/history": {
      "post": {
        "tags": [
          "history"
        ],
        "summary": "QueryTestResultHistory",
        "description": "",
        "operationId": "queryTestResultHistory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResultsFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultHistory"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Results/workitems": {
      "get": {
        "tags": [
          "workItems"
        ],
        "summary": "QueryTestResultWorkItems",
        "description": "",
        "operationId": "queryTestResultWorkItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workItemCategory",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "automatedTestName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "testCaseId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "maxCompleteDate",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "days",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "workItemCount",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemReference"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybybuild": {
      "get": {
        "tags": [
          "resultSummaryByBuild"
        ],
        "summary": "QueryTestResultsReportForBuild",
        "description": "",
        "operationId": "queryTestResultsReportForBuild",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeFailureDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "buildToCompare",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildReference"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultSummary"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybyrelease": {
      "get": {
        "tags": [
          "resultSummaryByRelease"
        ],
        "summary": "QueryTestResultsReportForRelease",
        "description": "",
        "operationId": "queryTestResultsReportForRelease",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "releaseId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "releaseEnvId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "publishContext",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeFailureDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "releaseToCompare",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReleaseReference"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultSummary"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "resultSummaryByRelease"
        ],
        "summary": "QueryTestResultsSummaryForReleases",
        "description": "",
        "operationId": "queryTestResultsSummaryForReleases",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseReference"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestResultSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resultsummarybyrequirement": {
      "post": {
        "tags": [
          "resultSummaryByRequirement"
        ],
        "summary": "QueryTestSummaryByRequirement",
        "description": "",
        "operationId": "queryTestSummaryByRequirement",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultsContext"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workItemIds",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSummaryForWorkItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/resulttrendbybuild": {
      "post": {
        "tags": [
          "resultTrendByBuild"
        ],
        "summary": "QueryResultTrendForBuild",
        "description": "",
        "operationId": "queryResultTrendForBuild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultTrendFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregatedDataForResultTrend"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/test/resulttrendbyrelease": {
      "post": {
        "tags": [
          "resultTrendByRelease"
        ],
        "summary": "QueryResultTrendForRelease",
        "description": "",
        "operationId": "queryResultTrendForRelease",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultTrendFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregatedDataForResultTrend"
              }
            }
          }
        }
      }
    },
    "/{project}/_apis/test/runs": {
      "post": {
        "tags": [
          "runs"
        ],
        "summary": "CreateTestRun",
        "description": "",
        "operationId": "createTestRun",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunCreateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "GetTestRuns",
        "description": "",
        "operationId": "getTestRuns",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildUri",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tmiRunId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "planId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeRunDetails",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "automated",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestRun"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/runs/{runId}": {
      "delete": {
        "tags": [
          "runs"
        ],
        "summary": "DeleteTestRun",
        "description": "",
        "operationId": "deleteTestRun",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "GetTestRunById",
        "description": "",
        "operationId": "getTestRunById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "runs"
        ],
        "summary": "UpdateTestRun",
        "description": "",
        "operationId": "updateTestRun",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestRun"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/attachments": {
      "post": {
        "tags": [
          "attachments"
        ],
        "summary": "CreateTestRunAttachment",
        "description": "",
        "operationId": "createTestRunAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAttachmentRequestModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAttachmentReference"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "GetTestRunAttachments",
        "description": "Returns attachment references for test run.",
        "operationId": "getTestRunAttachments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestAttachment"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "GetTestRunAttachmentContent",
        "description": "Returns a test run attachment",
        "operationId": "getTestRunAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "attachmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/codecoverage": {
      "get": {
        "tags": [
          "codeCoverage"
        ],
        "summary": "GetTestRunCodeCoverage",
        "description": "",
        "operationId": "getTestRunCodeCoverage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "flags",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestRunCoverage"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/messagelogs": {
      "get": {
        "tags": [
          "messageLogs"
        ],
        "summary": "GetTestRunLogs",
        "description": "",
        "operationId": "getTestRunLogs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestMessageLogDetails"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/resultdocument": {
      "post": {
        "tags": [
          "resultDocument"
        ],
        "summary": "PublishTestResultDocument",
        "description": "",
        "operationId": "publishTestResultDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestResultDocument"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/results": {
      "post": {
        "tags": [
          "results"
        ],
        "summary": "AddTestResultsToTestRun",
        "description": "",
        "operationId": "addTestResultsToTestRun",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "results"
        ],
        "summary": "GetTestResults",
        "description": "",
        "operationId": "getTestResults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "detailsToInclude",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ResultDetails"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "results"
        ],
        "summary": "UpdateTestResults",
        "description": "",
        "operationId": "updateTestResults",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseResult"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/results/{testCaseResultId}": {
      "get": {
        "tags": [
          "results"
        ],
        "summary": "GetTestResultById",
        "description": "",
        "operationId": "getTestResultById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "detailsToInclude",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ResultDetails"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestCaseResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/attachments": {
      "post": {
        "tags": [
          "attachments"
        ],
        "summary": "CreateTestIterationResultAttachment",
        "description": "",
        "operationId": "createTestIterationResultAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAttachmentRequestModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "actionPath",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestAttachmentReference"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "GetTestResultAttachments",
        "description": "Returns attachment references for test result.",
        "operationId": "getTestResultAttachments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestAttachment"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "GetTestResultAttachmentContent",
        "description": "Returns a test result attachment",
        "operationId": "getTestResultAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "attachmentId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/bugs": {
      "get": {
        "tags": [
          "bugs"
        ],
        "summary": "GetBugsLinkedToTestResult",
        "description": "",
        "operationId": "getBugsLinkedToTestResult",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemReference"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/iterations": {
      "get": {
        "tags": [
          "iterations"
        ],
        "summary": "GetTestIterations",
        "description": "",
        "operationId": "getTestIterations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeActionResults",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestIterationDetailsModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/iterations/{iterationId}": {
      "get": {
        "tags": [
          "iterations"
        ],
        "summary": "GetTestIteration",
        "description": "",
        "operationId": "getTestIteration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeActionResults",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestIterationDetailsModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/Iterations/{iterationId}/actionresults/{actionPath}": {
      "get": {
        "tags": [
          "actionResults"
        ],
        "summary": "GetActionResults",
        "description": "",
        "operationId": "getActionResults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "actionPath",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestActionResultModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/Runs/{runId}/Results/{testCaseResultId}/Iterations/{iterationId}/parameterresults": {
      "get": {
        "tags": [
          "parameterResults"
        ],
        "summary": "GetResultParameters",
        "description": "",
        "operationId": "getResultParameters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "runId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "testCaseResultId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "iterationId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "paramName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestResultParameterModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.test"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/test/runs/{runId}/Statistics": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "GetTestRunStatistics",
        "description": "",
        "operationId": "getTestRunStatistics",
[...]
