{
    "swagger": "2.0",
    "info": {
        "title": "Test",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "change"
        },
        {
            "name": "impact"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/{project}/_apis/test/change": {
            "post": {
                "tags": [
                    "change"
                ],
                "summary": "PublishTestImpactBuildData",
                "description": "",
                "operationId": "publishTestImpactBuildData",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/testImpactBuildData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionRunInfo",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "definitionRunInfo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "change"
                ],
                "summary": "QueryCodeChanges",
                "description": "",
                "operationId": "queryCodeChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionRunInfo",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "definitionRunInfo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/testImpactBuildData"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/test/impact": {
            "patch": {
                "tags": [
                    "impact"
                ],
                "summary": "PublishCodeSignatures",
                "description": "",
                "operationId": "publishCodeSignatures",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/testResultSignaturesInfo"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "httpResponseMessage"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "impact"
                ],
                "summary": "QueryBuildType",
                "description": "",
                "operationId": "queryBuildType",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "buildId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "string",
                            "format": "buildType"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "codeChange": {
            "type": "object",
            "properties": {
                "assemblyName": {
                    "description": "Gets or sets the name of the assembly containing the change.",
                    "type": "string"
                },
                "codeSignature": {
                    "description": "Gets or sets the signature of the code that changed.",
                    "type": "string"
                },
                "fileName": {
                    "description": "Gets or sets the file name containing the code change.",
                    "type": "string"
                },
                "name": {
                    "description": "Gets or sets the name of the code that changed.",
                    "type": "string"
                },
                "signatureType": {
                    "description": "Gets or sets the signature type of the code that changed.",
                    "enum": [
                        "method",
                        "file",
                        "assembly"
                    ]
                }
            }
        },
        "definitionRunInfo": {
            "type": "object",
            "properties": {
                "baseLineDefinitionRunId": {
                    "description": "Gets or sets the signature of the code that changed.",
                    "type": "integer",
                    "format": "int32"
                },
                "definitionRunId": {
                    "description": "Gets or sets the name of the assembly containing the change.",
                    "type": "integer",
                    "format": "int32"
                },
                "definitionType": {
                    "description": "Gets or sets the name of the code that changed.",
                    "enum": [
                        "build",
                        "release"
                    ]
                }
            }
        },
        "impactedTests": {
            "type": "object",
            "properties": {
                "areAllTestsImpacted": {
                    "type": "boolean"
                },
                "tests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/test"
                    }
                }
            }
        },
        "test": {
            "type": "object",
            "properties": {
                "automatedTestId": {
                    "description": "Gets the automated test identifier.",
                    "type": "string",
                    "format": "uuid"
                },
                "testCaseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "testName": {
                    "description": "Gets or sets the name of the test.",
                    "type": "string"
                }
            }
        },
        "testImpactBuildData": {
            "type": "object",
            "properties": {
                "codeChanges": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/codeChange"
                    }
                },
                "rebaseLimit": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "testResultSignatures": {
            "type": "object",
            "properties": {
                "configurationId": {
                    "description": "Gets or sets the configuration identifier.",
                    "type": "integer",
                    "format": "int32"
                },
                "signatures": {
                    "description": "List of signatues associated with the test case",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "signatureType": {
                    "description": "Type of the signature",
                    "enum": [
                        "method",
                        "file",
                        "assembly"
                    ]
                },
                "testResultId": {
                    "description": "Gets or sets the test result identifier.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "testResultSignaturesInfo": {
            "type": "object",
            "properties": {
                "definitionType": {
                    "description": "Gets or sets the type of the definition.",
                    "enum": [
                        "build",
                        "release"
                    ]
                },
                "runId": {
                    "description": "Gets or sets the run id.",
                    "type": "integer",
                    "format": "int32"
                },
                "testResultSignatures": {
                    "description": "Gets or sets the signature of the code that changed.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/testResultSignatures"
                    }
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}