{
  "swagger": "2.0",
  "info": {
    "title": "Test",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "change"
    },
    {
      "name": "impact"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/_apis/test/change": {
      "post": {
        "tags": [
          "change"
        ],
        "summary": "PublishTestImpactBuildData",
        "description": "",
        "operationId": "publishTestImpactBuildData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestImpactBuildData"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionRunInfo",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionRunInfo"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage"
            }
          }
        }
      },
      "get": {
        "tags": [
          "change"
        ],
        "summary": "QueryCodeChanges",
        "description": "",
        "operationId": "queryCodeChanges",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionRunInfo",
            "description": "",
            "required": true,
            "type": "string",
            "format": "DefinitionRunInfo"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TestImpactBuildData"
            }
          }
        }
      }
    },
    "/{project}/_apis/test/impact": {
      "patch": {
        "tags": [
          "impact"
        ],
        "summary": "PublishCodeSignatures",
        "description": "",
        "operationId": "publishCodeSignatures",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultSignaturesInfo"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "HttpResponseMessage"
            }
          }
        }
      },
      "get": {
        "tags": [
          "impact"
        ],
        "summary": "QueryBuildType",
        "description": "",
        "operationId": "queryBuildType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "BuildType"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CodeChange": {
      "type": "object",
      "properties": {
        "assemblyName": {
          "description": "Gets or sets the name of the assembly containing the change.",
          "type": "string"
        },
        "codeSignature": {
          "description": "Gets or sets the signature of the code that changed.",
          "type": "string"
        },
        "fileName": {
          "description": "Gets or sets the file name containing the code change.",
          "type": "string"
        },
        "name": {
          "description": "Gets or sets the name of the code that changed.",
          "type": "string"
        },
        "signatureType": {
          "description": "Gets or sets the signature type of the code that changed.",
          "enum": [
            "method",
            "file",
            "assembly"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.TestImpact.WebApi.Contracts.SignatureType"
          }
        }
      }
    },
    "DefinitionRunInfo": {
      "type": "object",
      "properties": {
        "baseLineDefinitionRunId": {
          "description": "Gets or sets the base line buildId",
          "type": "integer",
          "format": "int32"
        },
        "definitionRunId": {
          "description": "Gets or sets the current buildId/ReleaseId.",
          "type": "integer",
          "format": "int32"
        },
        "definitionType": {
          "description": "Gets or sets the name of the code that changed.",
          "enum": [
            "build",
            "release"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.TestImpact.WebApi.Contracts.DefinitionType"
          }
        }
      }
    },
    "ImpactedTests": {
      "type": "object",
      "properties": {
        "areAllTestsImpacted": {
          "type": "boolean"
        },
        "tests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Test"
          }
        }
      }
    },
    "Test": {
      "type": "object",
      "properties": {
        "automatedTestId": {
          "description": "Gets the automated test identifier.",
          "type": "string",
          "format": "uuid"
        },
        "testCaseId": {
          "type": "integer",
          "format": "int32"
        },
        "testName": {
          "description": "Gets or sets the name of the test.",
          "type": "string"
        }
      }
    },
    "TestImpactBuildData": {
      "type": "object",
      "properties": {
        "codeChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeChange"
          }
        },
        "rebaseLimit": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TestResultSignatures": {
      "type": "object",
      "properties": {
        "configurationId": {
          "description": "Gets or sets the configuration identifier.",
          "type": "integer",
          "format": "int32"
        },
        "signatures": {
          "description": "List of signatues associated with the test case",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatureType": {
          "description": "Type of the signature",
          "enum": [
            "method",
            "file",
            "assembly"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.TestImpact.WebApi.Contracts.SignatureType"
          }
        },
        "testResultId": {
          "description": "Gets or sets the test result identifier.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TestResultSignaturesInfo": {
      "type": "object",
      "properties": {
        "definitionRunId": {
          "description": "Gets or sets the current buildId/ReleaseId.",
          "type": "integer",
          "format": "int32"
        },
        "definitionType": {
          "description": "Gets or sets the type of the definition.",
          "enum": [
            "build",
            "release"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.TestImpact.WebApi.Contracts.DefinitionType"
          }
        },
        "testResultSignatures": {
          "description": "Gets or sets the impact metadata for the tests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestResultSignatures"
          }
        },
        "testRunId": {
          "description": "Gets or sets the run id.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}