{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Test",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "change"
        },
        {
            "name": "impact"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/{project}/_apis/test/change": {
            "post": {
                "tags": [
                    "change"
                ],
                "summary": "PublishTestImpactBuildData",
                "description": "",
                "operationId": "publishTestImpactBuildData",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestImpactBuildData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionRunInfo",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DefinitionRunInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "HttpResponseMessage"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "change"
                ],
                "summary": "QueryCodeChanges",
                "description": "",
                "operationId": "queryCodeChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "definitionRunInfo",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DefinitionRunInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TestImpactBuildData"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/test/impact": {
            "get": {
                "tags": [
                    "impact"
                ],
                "summary": "QueryBuildType",
                "description": "",
                "operationId": "queryBuildType",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "buildId",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "BuildType"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CodeChange": {
            "type": "object",
            "properties": {
                "assemblyName": {
                    "description": "Gets or sets the name of the assembly containing the change.",
                    "type": "string"
                },
                "codeSignature": {
                    "description": "Gets or sets the signature of the code that changed.",
                    "type": "string"
                },
                "fileName": {
                    "description": "Gets or sets the file name containing the code change.",
                    "type": "string"
                },
                "name": {
                    "description": "Gets or sets the name of the code that changed.",
                    "type": "string"
                },
                "signatureType": {
                    "description": "Gets or sets the signature type of the code that changed.",
                    "enum": [
                        "method",
                        "file",
                        "assembly"
                    ]
                }
            }
        },
        "DefinitionRunInfo": {
            "type": "object",
            "properties": {
                "baseLineDefinitionRunId": {
                    "description": "Gets or sets the signature of the code that changed.",
                    "type": "integer",
                    "format": "int32"
                },
                "definitionRunId": {
                    "description": "Gets or sets the name of the assembly containing the change.",
                    "type": "integer",
                    "format": "int32"
                },
                "definitionType": {
                    "description": "Gets or sets the name of the code that changed.",
                    "enum": [
                        "build",
                        "release"
                    ]
                }
            }
        },
        "ImpactedTests": {
            "type": "object",
            "properties": {
                "areAllTestsImpacted": {
                    "type": "boolean"
                },
                "tests": {
                    "type": "array",
                    "items": {
                        "type": "Test"
                    }
                }
            }
        },
        "Signature": {
            "type": "object",
            "properties": {
                "codeSignature": {
                    "description": "Code Signature",
                    "type": "string"
                },
                "signatureType": {
                    "description": "Type of signature method/file/assembly",
                    "enum": [
                        "method",
                        "file",
                        "assembly"
                    ]
                }
            }
        },
        "Test": {
            "type": "object",
            "properties": {
                "automatedTestId": {
                    "description": "Gets the automated test identifier.",
                    "type": "string"
                },
                "testCaseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "testName": {
                    "description": "Gets or sets the name of the test.",
                    "type": "string"
                }
            }
        },
        "TestImpactBuildData": {
            "type": "object",
            "properties": {
                "codeChanges": {
                    "type": "array",
                    "items": {
                        "type": "CodeChange"
                    }
                },
                "rebaseLimit": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}