{
    "swagger": "2.0",
    "info": {
        "title": "Tfvc",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "branches"
        },
        {
            "name": "changesetChanges"
        },
        {
            "name": "changesets"
        },
        {
            "name": "changesetsBatch"
        },
        {
            "name": "changesetWorkItems"
        },
        {
            "name": "itemBatch"
        },
        {
            "name": "items"
        },
        {
            "name": "labelItems"
        },
        {
            "name": "labels"
        },
        {
            "name": "shelvesetChanges"
        },
        {
            "name": "shelvesets"
        },
        {
            "name": "shelvesetWorkItems"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/tfvc/changesets/{id}/changes": {
            "get": {
                "tags": [
                    "changesetChanges"
                ],
                "summary": "GetChangesetChanges",
                "description": "Retrieve Tfvc changes for a given changeset",
                "operationId": "getChangesetChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcChange"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/changesets/{id}/workItems": {
            "get": {
                "tags": [
                    "changesetWorkItems"
                ],
                "summary": "GetChangesetWorkItems",
                "description": "",
                "operationId": "getChangesetWorkItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/associatedWorkItem"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/changesetsbatch": {
            "post": {
                "tags": [
                    "changesetsBatch"
                ],
                "summary": "GetBatchedChangesets",
                "description": "",
                "operationId": "getBatchedChangesets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tfvcChangesetsRequestData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcChangesetRef"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/labels/{labelId}/items": {
            "get": {
                "tags": [
                    "labelItems"
                ],
                "summary": "GetLabelItems",
                "description": "Get items under a label.",
                "operationId": "getLabelItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "labelId",
                        "description": "Unique identifier of label",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of items to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of items to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcItem"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/shelvesets": {
            "get": {
                "tags": [
                    "shelvesets"
                ],
                "summary": "GetShelveset",
                "description": "Get a single deep shelveset.",
                "operationId": "getShelveset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "includeDetails, includeWorkItems, maxChangeCount, and maxCommentLength",
                        "required": false,
                        "type": "string",
                        "format": "tfvcShelvesetRequestData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcShelveset"
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/shelvesets/changes": {
            "get": {
                "tags": [
                    "shelvesetChanges"
                ],
                "summary": "GetShelvesetChanges",
                "description": "Get changes included in a shelveset.",
                "operationId": "getShelvesetChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of changes to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of changes to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcChange"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tfvc/shelvesets/workitems": {
            "get": {
                "tags": [
                    "shelvesetWorkItems"
                ],
                "summary": "GetShelvesetWorkItems",
                "description": "Get work items associated with a shelveset.",
                "operationId": "getShelvesetWorkItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/associatedWorkItem"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/branches": {
            "get": {
                "tags": [
                    "branches"
                ],
                "summary": "GetBranches",
                "description": "Get a collection of branch roots -- first-level children, branches with no parents",
                "operationId": "getBranches",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeParent",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeChildren",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeLinks",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcBranch"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/branches/{path}": {
            "get": {
                "tags": [
                    "branches"
                ],
                "summary": "GetBranch",
                "description": "Get a single branch hierarchy at the given path with parents or children (if specified)",
                "operationId": "getBranch",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeParent",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeChildren",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcBranch"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/changesets": {
            "post": {
                "tags": [
                    "changesets"
                ],
                "summary": "CreateChangeset",
                "description": "",
                "operationId": "createChangeset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tfvcChangeset"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcChangesetRef"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "changesets"
                ],
                "summary": "GetChangesets",
                "description": "Retrieve Tfvc changesets",
                "operationId": "getChangesets",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "maxCommentLength",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderby",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "searchCriteria",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "tfvcChangesetSearchCriteria"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcChangesetRef"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/changesets/{id}": {
            "get": {
                "tags": [
                    "changesets"
                ],
                "summary": "GetChangeset",
                "description": "Retrieve a Tfvc Changeset",
                "operationId": "getChangeset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "maxChangeCount",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeDetails",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeWorkItems",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "maxCommentLength",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeSourceRename",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderby",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "searchCriteria",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "tfvcChangesetSearchCriteria"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcChangeset"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/itembatch": {
            "post": {
                "tags": [
                    "itemBatch"
                ],
                "summary": "GetItemsBatch",
                "description": "Post for retrieving a set of items given a list of paths or a long path. Allows for specifying the recursionLevel and version descriptors for each path.",
                "operationId": "getItemsBatch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/zip",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tfvcItemRequestData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/items": {
            "get": {
                "tags": [
                    "items"
                ],
                "summary": "GetItems",
                "description": "Get a list of Tfvc items",
                "operationId": "getItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "scopePath",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursionLevel",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "versionControlRecursionType"
                    },
                    {
                        "in": "query",
                        "name": "includeLinks",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "versionDescriptor",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "tfvcVersionDescriptor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcItem"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/items/{path}": {
            "get": {
                "tags": [
                    "items"
                ],
                "summary": "GetItem",
                "description": "Get Item Metadata and/or Content. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
                "operationId": "getItem",
                "produces": [
                    "application/octet-stream",
                    "text/plain",
                    "application/zip",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "fileName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "download",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "scopePath",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursionLevel",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "versionControlRecursionType"
                    },
                    {
                        "in": "query",
                        "name": "versionDescriptor",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "tfvcVersionDescriptor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcItem"
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/labels": {
            "get": {
                "tags": [
                    "labels"
                ],
                "summary": "GetLabels",
                "description": "Get a collection of shallow label references.",
                "operationId": "getLabels",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "labelScope, name, owner, and itemLabelFilter",
                        "required": true,
                        "type": "string",
                        "format": "tfvcLabelRequestData"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of labels to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of labels to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tfvcLabelRef"
                            }
                        }
                    }
                }
            }
        },
        "/{project}/_apis/tfvc/labels/{labelId}": {
            "get": {
                "tags": [
                    "labels"
                ],
                "summary": "GetLabel",
                "description": "Get a single deep label.",
                "operationId": "getLabel",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "labelId",
                        "description": "Unique identifier of label",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "maxItemCount",
                        "required": true,
                        "type": "string",
                        "format": "tfvcLabelRequestData"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/tfvcLabel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "associatedWorkItem": {
            "type": "object",
            "properties": {
                "assignedTo": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "state": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "description": "REST url",
                    "type": "string"
                },
                "webUrl": {
                    "type": "string"
                },
                "workItemType": {
                    "type": "string"
                }
            }
        },
        "asyncGitOperationNotification": {
            "type": "object",
            "properties": {
                "operationId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "asyncRefOperationCommitLevelEventNotification": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/asyncGitOperationNotification"
                }
            ],
            "properties": {
                "commitId": {
                    "type": "string"
                }
            }
        },
        "asyncRefOperationCompletedNotification": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/asyncGitOperationNotification"
                }
            ],
            "properties": {
                "newRefName": {
                    "type": "string"
                }
            }
        },
        "asyncRefOperationConflictNotification": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/asyncRefOperationCommitLevelEventNotification"
                }
            ],
            "properties": {
            }
        },
        "asyncRefOperationGeneralFailureNotification": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/asyncGitOperationNotification"
                }
            ],
            "properties": {
            }
        },
        "asyncRefOperationProgressNotification": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/asyncRefOperationCommitLevelEventNotification"
                }
            ],
            "properties": {
                "progress": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "attachment": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "author": {
                    "description": "The person that uploaded this attachment",
                    "$ref": "#/definitions/identityRef"
                },
                "contentHash": {
                    "description": "Content hash of on-disk representation of file content. Its calculated by the server by using SHA1 hash function.",
                    "type": "string"
                },
                "createdDate": {
                    "description": "The time the attachment was uploaded",
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "description": "The description of the attachment, can be null.",
                    "type": "string"
                },
                "displayName": {
                    "description": "The display name of the attachment, can't be null or empty.",
                    "type": "string"
                },
                "id": {
                    "description": "Id of the code review attachment",
                    "type": "integer",
                    "format": "int32"
                },
                "properties": {
                    "$ref": "#/definitions/propertiesCollection"
                },
                "url": {
                    "description": "The url to download the content of the attachment",
                    "type": "string"
                }
            }
        },
        "change": {
            "type": "object",
            "properties": {
                "changeType": {
                    "enum": [
                        "none",
                        "add",
                        "edit",
                        "encoding",
                        "rename",
                        "delete",
                        "undelete",
                        "branch",
                        "merge",
                        "lock",
                        "rollback",
                        "sourceRename",
                        "targetRename",
                        "property",
                        "all"
                    ]
                },
                "item": {
                    "type": "string",
                    "format": "t"
                },
                "newContent": {
                    "$ref": "#/definitions/itemContent"
                },
                "sourceServerItem": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "changeCountDictionary": {
            "type": "object",
            "allOf": [
                {
                    "type": "object"
                }
            ],
            "properties": {
            }
        },
        "changeList": {
            "type": "object",
            "properties": {
                "allChangesIncluded": {
                    "type": "boolean"
                },
                "changeCounts": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "format": "generic"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "commentTruncated": {
                    "type": "boolean"
                },
                "creationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "notes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/checkinNote"
                    }
                },
                "owner": {
                    "type": "string"
                },
                "ownerDisplayName": {
                    "type": "string"
                },
                "ownerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "sortDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "changeListSearchCriteria": {
            "type": "object",
            "properties": {
                "compareVersion": {
                    "description": "If provided, a version descriptor to compare against base",
                    "type": "string"
                },
                "excludeDeletes": {
                    "description": "If true, don't include delete history entries",
                    "type": "boolean"
                },
                "followRenames": {
                    "description": "Whether or not to follow renames for the given item being queried",
                    "type": "boolean"
                },
                "fromDate": {
                    "description": "If provided, only include history entries created after this date (string)",
                    "type": "string"
                },
                "fromVersion": {
                    "description": "If provided, a version descriptor for the earliest change list to include",
                    "type": "string"
                },
                "itemPath": {
                    "description": "Path of item to search under. If the itemPaths memebr is used then it will take precedence over this.",
                    "type": "string"
                },
                "itemPaths": {
                    "description": "List of item paths to search under. If this member is used then itemPath will be ignored.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "itemVersion": {
                    "description": "Version of the items to search",
                    "type": "string"
                },
                "skip": {
                    "description": "Number of results to skip (used when clicking more...)",
                    "type": "integer",
                    "format": "int32"
                },
                "toDate": {
                    "description": "If provided, only include history entries created before this date (string)",
                    "type": "string"
                },
                "top": {
                    "description": "If provided, the maximum number of history entries to return",
                    "type": "integer",
                    "format": "int32"
                },
                "toVersion": {
                    "description": "If provided, a version descriptor for the latest change list to include",
                    "type": "string"
                },
                "user": {
                    "description": "Alias or display name of user who made the changes",
                    "type": "string"
                }
            }
        },
        "checkinNote": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "comment": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "author": {
                    "description": "The author of the pull request comment.",
                    "$ref": "#/definitions/identityRef"
                },
                "commentType": {
                    "description": "Determines what kind of comment when it was created.",
                    "enum": [
                        "unknown",
                        "text",
                        "codeChange",
                        "system"
                    ]
                },
                "content": {
                    "description": "The comment's content.",
                    "type": "string"
                },
                "id": {
                    "description": "The pull request comment id. It always starts from 1.",
                    "type": "integer",
                    "format": "int16"
                },
                "isDeleted": {
                    "description": "Marks if this comment was soft-deleted.",
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "description": "The date a comment was last updated.",
                    "type": "string",
                    "format": "date-time"
                },
                "parentCommentId": {
                    "description": "The pull request comment id of the parent comment. This is used for replies",
                    "type": "integer",
                    "format": "int16"
                },
                "publishedDate": {
                    "description": "The date a comment was first published.",
                    "type": "string",
                    "format": "date-time"
                },
                "usersLiked": {
                    "description": "A list of the users who've liked this comment.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/identityRef"
                    }
                }
            }
        },
        "commentIterationContext": {
            "type": "object",
            "properties": {
                "firstComparingIteration": {
                    "description": "First comparing iteration Id. Minimum value is 1.",
                    "type": "integer",
                    "format": "int16"
                },
                "secondComparingIteration": {
                    "description": "Second comparing iteration Id. Minimum value is 1.",
                    "type": "integer",
                    "format": "int16"
                }
            }
        },
        "commentPosition": {
            "type": "object",
            "properties": {
                "line": {
                    "description": "Position line starting with one.",
                    "type": "integer",
                    "format": "int32"
                },
                "offset": {
                    "description": "Position offset starting with zero.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "commentThread": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "comments": {
                    "description": "A list of the comments.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/comment"
                    }
                },
                "id": {
                    "description": "The comment thread id.",
                    "type": "integer",
                    "format": "int32"
                },
                "isDeleted": {
                    "description": "Specify if the thread is deleted which happens when all comments are deleted",
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "description": "The time this thread was last updated.",
                    "type": "string",
                    "format": "date-time"
                },
                "properties": {
                    "description": "A list of (optional) thread properties.",
                    "$ref": "#/definitions/propertiesCollection"
                },
                "publishedDate": {
                    "description": "The time this thread was published.",
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "description": "The status of the comment thread.",
                    "enum": [
                        "unknown",
                        "active",
                        "fixed",
                        "wontFix",
                        "closed",
                        "byDesign",
                        "pending"
                    ]
                },
                "threadContext": {
                    "description": "Specify thread context such as position in left/right file.",
                    "$ref": "#/definitions/commentThreadContext"
                }
            }
        },
        "commentThreadContext": {
            "type": "object",
            "properties": {
                "filePath": {
                    "description": "File path relative to the root of the repository. It's up to the client to use any path format.",
                    "type": "string"
                },
                "leftFileEnd": {
                    "description": "Position of last character of the comment in left file.",
                    "$ref": "#/definitions/commentPosition"
                },
                "leftFileStart": {
                    "description": "Position of first character of the comment in left file.",
                    "$ref": "#/definitions/commentPosition"
                },
                "rightFileEnd": {
                    "description": "Position of last character of the comment in right file.",
                    "$ref": "#/definitions/commentPosition"
                },
                "rightFileStart": {
                    "description": "Position of first character of the comment in right file.",
                    "$ref": "#/definitions/commentPosition"
                }
            }
        },
        "commentTrackingCriteria": {
            "type": "object",
            "properties": {
                "firstComparingIteration": {
                    "description": "The first comparing iteration being viewed. Threads will be tracked if this is greater than 0.",
                    "type": "integer",
                    "format": "int32"
                },
                "secondComparingIteration": {
                    "description": "The second comparing iteration being viewed. Threads will be tracked if this is greater than 0.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "fileContentMetadata": {
            "type": "object",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "encoding": {
                    "type": "integer",
                    "format": "int32"
                },
                "extension": {
                    "type": "string"
                },
                "fileName": {
                    "type": "string"
                },
                "isBinary": {
                    "type": "boolean"
                },
                "isImage": {
                    "type": "boolean"
                },
                "vsLink": {
                    "type": "string"
                }
            }
        },
        "gitAsyncRefOperation": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "detailedStatus": {
                    "$ref": "#/definitions/gitAsyncRefOperationDetail"
                },
                "parameters": {
                    "$ref": "#/definitions/gitAsyncRefOperationParameters"
                },
                "status": {
                    "enum": [
                        "queued",
                        "inProgress",
                        "completed",
                        "failed",
                        "abandoned"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitAsyncRefOperationDetail": {
            "type": "object",
            "properties": {
                "conflict": {
                    "type": "boolean"
                },
                "currentCommitId": {
                    "type": "string"
                },
                "progress": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "gitAsyncRefOperationParameters": {
            "type": "object",
            "properties": {
                "generatedRefName": {
                    "type": "string"
                },
                "ontoRefName": {
                    "type": "string"
                },
                "repository": {
                    "$ref": "#/definitions/gitRepository"
                },
                "source": {
                    "$ref": "#/definitions/gitAsyncRefOperationSource"
                }
            }
        },
        "gitAsyncRefOperationSource": {
            "type": "object",
            "properties": {
                "commitList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitCommitRef"
                    }
                },
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitBaseVersionDescriptor": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitVersionDescriptor"
                }
            ],
            "properties": {
                "baseVersion": {
                    "description": "Version string identifier (name of tag/branch, SHA1 of commit)",
                    "type": "string"
                },
                "baseVersionOptions": {
                    "description": "Version options - Specify additional modifiers to version (e.g Previous)",
                    "enum": [
                        "none",
                        "previousChange",
                        "firstParent"
                    ]
                },
                "baseVersionType": {
                    "description": "Version type (branch, tag, or commit). Determines how Id is interpreted",
                    "enum": [
                        "branch",
                        "tag",
                        "commit",
                        "index"
                    ]
                }
            }
        },
        "gitBlobRef": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "objectId": {
                    "description": "SHA1 hash of git object",
                    "type": "string"
                },
                "size": {
                    "description": "Size of blob content (in bytes)",
                    "type": "integer",
                    "format": "int64"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitBranchStats": {
            "type": "object",
            "properties": {
                "aheadCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "behindCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "commit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "isBaseVersion": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "gitChange": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "generic"
                }
            ],
            "properties": {
                "changeId": {
                    "description": "Id of the change within the group.  For example, within the iteration",
                    "type": "integer",
                    "format": "int32"
                },
                "newContentTemplate": {
                    "description": "New Content template to be used",
                    "$ref": "#/definitions/gitTemplate"
                },
                "originalPath": {
                    "description": "Original path of item if different from current path",
                    "type": "string"
                }
            }
        },
        "gitCherryPick": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitAsyncRefOperation"
                }
            ],
            "properties": {
                "cherryPickId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitCommit": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitCommitRef"
                }
            ],
            "properties": {
                "push": {
                    "$ref": "#/definitions/gitPushRef"
                },
                "treeId": {
                    "type": "string"
                }
            }
        },
        "gitCommitChanges": {
            "type": "object",
            "properties": {
                "changeCounts": {
                    "$ref": "#/definitions/changeCountDictionary"
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitChange"
                    }
                }
            }
        },
        "gitCommitDiffs": {
            "type": "object",
            "properties": {
                "aheadCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "allChangesIncluded": {
                    "type": "boolean"
                },
                "baseCommit": {
                    "type": "string"
                },
                "behindCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "changeCounts": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitChange"
                    }
                },
                "commonCommit": {
                    "type": "string"
                },
                "targetCommit": {
                    "type": "string"
                }
            }
        },
        "gitCommitRef": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "author": {
                    "$ref": "#/definitions/gitUserDate"
                },
                "changeCounts": {
                    "$ref": "#/definitions/changeCountDictionary"
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitChange"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "commentTruncated": {
                    "type": "boolean"
                },
                "commitId": {
                    "type": "string"
                },
                "committer": {
                    "$ref": "#/definitions/gitUserDate"
                },
                "parents": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "remoteUrl": {
                    "type": "string"
                },
                "statuses": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitStatus"
                    }
                },
                "url": {
                    "type": "string"
                },
                "workItems": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/resourceRef"
                    }
                }
            }
        },
        "gitCommitToCreate": {
            "type": "object",
            "properties": {
                "baseRef": {
                    "$ref": "#/definitions/gitRef"
                },
                "comment": {
                    "type": "string"
                },
                "pathActions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitPathAction"
                    }
                }
            }
        },
        "gitConflict": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "conflictId": {
                    "type": "integer",
                    "format": "int32"
                },
                "conflictPath": {
                    "type": "string"
                },
                "conflictType": {
                    "enum": [
                        "none",
                        "addAdd",
                        "addRename",
                        "deleteEdit",
                        "deleteRename",
                        "directoryFile",
                        "directoryChild",
                        "editDelete",
                        "editEdit",
                        "fileDirectory",
                        "rename1to2",
                        "rename2to1",
                        "renameAdd",
                        "renameDelete",
                        "renameRename"
                    ]
                },
                "mergeBaseCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "mergeOrigin": {
                    "$ref": "#/definitions/gitMergeOriginRef"
                },
                "mergeSourceCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "mergeTargetCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "resolutionError": {
                    "enum": [
                        "none",
                        "mergeContentNotFound",
                        "pathInUse",
                        "invalidPath",
                        "unknownAction",
                        "unknownMergeType",
                        "otherError"
                    ]
                },
                "resolutionStatus": {
                    "enum": [
                        "unresolved",
                        "partiallyResolved",
                        "resolved"
                    ]
                },
                "resolvedBy": {
                    "$ref": "#/definitions/identityRef"
                },
                "resolvedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitConflictAddAdd": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/gitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictAddRename": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetOriginalPath": {
                    "type": "string"
                }
            }
        },
        "gitConflictDeleteEdit": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPickOneAction"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictDeleteRename": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPickOneAction"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetNewPath": {
                    "type": "string"
                }
            }
        },
        "gitConflictDirectoryFile": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPathConflict"
                },
                "sourceTree": {
                    "$ref": "#/definitions/gitTreeRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictEditDelete": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPickOneAction"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictEditEdit": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictFileDirectory": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetTree": {
                    "$ref": "#/definitions/gitTreeRef"
                }
            }
        },
        "gitConflictRename1to2": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionRename1to2"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "sourceNewPath": {
                    "type": "string"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetNewPath": {
                    "type": "string"
                }
            }
        },
        "gitConflictRename2to1": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPathConflict"
                },
                "sourceNewBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "sourceOriginalBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "sourceOriginalPath": {
                    "type": "string"
                },
                "targetNewBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetOriginalBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetOriginalPath": {
                    "type": "string"
                }
            }
        },
        "gitConflictRenameAdd": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "sourceOriginalPath": {
                    "type": "string"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitConflictRenameDelete": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionPickOneAction"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "sourceNewPath": {
                    "type": "string"
                }
            }
        },
        "gitConflictRenameRename": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitConflict"
                }
            ],
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "originalPath": {
                    "type": "string"
                },
                "resolution": {
                    "$ref": "#/definitions/gitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/gitBlobRef"
                }
            }
        },
        "gitDeletedRepository": {
            "type": "object",
            "properties": {
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "deletedBy": {
                    "$ref": "#/definitions/identityRef"
                },
                "deletedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "project": {
                    "$ref": "#/definitions/teamProjectReference"
                }
            }
        },
        "gitFilePathsCollection": {
            "type": "object",
            "properties": {
                "commitId": {
                    "type": "string"
                },
                "paths": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitHistoryQueryResults": {
            "type": "object",
            "allOf": [
                {
                    "type": "string",
                    "format": "generic"
                }
            ],
            "properties": {
                "startingCommitId": {
                    "description": "Seed commit used for querying history.  Used for skip feature.",
                    "type": "string"
                },
                "unpopulatedCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "unprocessedCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitImportFailedEvent": {
            "type": "object",
            "properties": {
                "sourceRepositoryName": {
                    "type": "string"
                },
                "targetRepository": {
                    "$ref": "#/definitions/gitRepository"
                }
            }
        },
        "gitImportGitSource": {
            "type": "object",
            "properties": {
                "url": {
                    "description": "Url for the source repo",
                    "type": "string"
                }
            }
        },
        "gitImportRequest": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "detailedStatus": {
                    "$ref": "#/definitions/gitImportStatusDetail"
                },
                "importRequestId": {
                    "type": "integer",
                    "format": "int32"
                },
                "parameters": {
                    "description": "Parameters for creating an import request",
                    "$ref": "#/definitions/gitImportRequestParameters"
                },
                "repository": {
                    "$ref": "#/definitions/gitRepository"
                },
                "status": {
                    "enum": [
                        "queued",
                        "inProgress",
                        "completed",
                        "failed",
                        "abandoned"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitImportRequestParameters": {
            "type": "object",
            "properties": {
                "deleteServiceEndpointAfterImportIsDone": {
                    "description": "Option to delete service endpoint when import is done",
                    "type": "boolean"
                },
                "gitSource": {
                    "description": "Source for importing git repository",
                    "$ref": "#/definitions/gitImportGitSource"
                },
                "serviceEndpointId": {
                    "description": "Service Endpoint for connection to external endpoint",
                    "type": "string",
                    "format": "uuid"
                }
            }
        },
        "gitImportStatusDetail": {
            "type": "object",
            "properties": {
                "allSteps": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "currentStep": {
                    "type": "integer",
                    "format": "int32"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "gitImportSucceededEvent": {
            "type": "object",
            "properties": {
                "sourceRepositoryName": {
                    "type": "string"
                },
                "targetRepository": {
                    "$ref": "#/definitions/gitRepository"
                }
            }
        },
        "gitItem": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/itemModel"
                }
            ],
            "properties": {
                "commitId": {
                    "description": "SHA1 of commit item was fetched at",
                    "type": "string"
                },
                "gitObjectType": {
                    "description": "Type of object (Commit, Tree, Blob, Tag, ...)",
                    "enum": [
                        "bad",
                        "commit",
                        "tree",
                        "blob",
                        "tag",
                        "ext2",
                        "ofsDelta",
                        "refDelta"
                    ]
                },
                "latestProcessedChange": {
                    "description": "Shallow ref to commit that last changed this item Only populated if latestProcessedChange is requested May not be accurate if latest change is not yet cached",
                    "$ref": "#/definitions/gitCommitRef"
                },
                "objectId": {
                    "description": "Git object id",
                    "type": "string"
                },
                "originalObjectId": {
                    "description": "Git object id",
                    "type": "string"
                }
            }
        },
        "gitItemDescriptor": {
            "type": "object",
            "properties": {
                "path": {
                    "description": "Path to item",
                    "type": "string"
                },
                "recursionLevel": {
                    "description": "Specifies whether to include children (OneLevel), all descendants (Full), or None",
                    "enum": [
                        "none",
                        "oneLevel",
                        "oneLevelPlusNestedEmptyFolders",
                        "full"
                    ]
                },
                "version": {
                    "description": "Version string (interpretation based on VersionType defined in subclass",
                    "type": "string"
                },
                "versionOptions": {
                    "description": "Version modifiers (e.g. previous)",
                    "enum": [
                        "none",
                        "previousChange",
                        "firstParent"
                    ]
                },
                "versionType": {
                    "description": "How to interpret version (branch,tag,commit)",
                    "enum": [
                        "branch",
                        "tag",
                        "commit",
                        "index"
                    ]
                }
            }
        },
        "gitItemRequestData": {
            "type": "object",
            "properties": {
                "includeContentMetadata": {
                    "description": "Whether to include metadata for all items",
                    "type": "boolean"
                },
                "includeLinks": {
                    "description": "Whether to include the _links field on the shallow references",
                    "type": "boolean"
                },
                "itemDescriptors": {
                    "description": "Collection of items to fetch, including path, version, and recursion level",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitItemDescriptor"
                    }
                },
                "latestProcessedChange": {
                    "description": "Whether to include shallow ref to commit that last changed each item",
                    "type": "boolean"
                }
            }
        },
        "gitLastChangeItem": {
            "type": "object",
            "properties": {
                "commitId": {
                    "description": "Gets or sets the commit Id this item was modified most recently for the provided version.",
                    "type": "string"
                },
                "path": {
                    "description": "Gets or sets the path of the item.",
                    "type": "string"
                }
            }
        },
        "gitLastChangeTreeItems": {
            "type": "object",
            "properties": {
                "items": {
                    "description": "The last change of items.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitLastChangeItem"
                    }
                },
                "lastExploredTime": {
                    "description": "The last explored time, in case the result is not comprehensive. Null otherwise.",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "gitLimitedRefCriteria": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "refExactMatches": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "refNamespaces": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "gitMergeOriginRef": {
            "type": "object",
            "properties": {
            }
        },
        "gitPathAction": {
            "type": "object",
            "properties": {
                "action": {
                    "enum": [
                        "none",
                        "edit",
                        "delete",
                        "add",
                        "rename"
                    ]
                },
                "base64Content": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "rawTextContent": {
                    "type": "string"
                },
                "targetPath": {
                    "type": "string"
                }
            }
        },
        "gitPathToItemsCollection": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array"
                    }
                }
            }
        },
        "gitPullRequest": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "artifactId": {
                    "type": "string"
                },
                "autoCompleteSetBy": {
                    "$ref": "#/definitions/identityRef"
                },
                "closedBy": {
                    "$ref": "#/definitions/identityRef"
                },
                "closedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "codeReviewId": {
                    "type": "integer",
                    "format": "int32"
                },
                "commits": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitCommitRef"
                    }
                },
                "completionOptions": {
                    "$ref": "#/definitions/gitPullRequestCompletionOptions"
                },
                "completionQueueTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "createdBy": {
                    "$ref": "#/definitions/identityRef"
                },
                "creationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "type": "string"
                },
                "lastMergeCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "lastMergeSourceCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "lastMergeTargetCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "mergeId": {
                    "type": "string",
                    "format": "uuid"
                },
                "mergeStatus": {
                    "enum": [
                        "notSet",
                        "queued",
                        "conflicts",
                        "succeeded",
                        "rejectedByPolicy",
                        "failure"
                    ]
                },
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                },
                "remoteUrl": {
                    "type": "string"
                },
                "repository": {
                    "$ref": "#/definitions/gitRepository"
                },
                "reviewers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/identityRefWithVote"
                    }
                },
                "sourceRefName": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "notSet",
                        "active",
                        "abandoned",
                        "completed",
                        "all"
                    ]
                },
                "supportsIterations": {
                    "type": "boolean"
                },
                "targetRefName": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "workItemRefs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/resourceRef"
                    }
                }
            }
        },
        "gitPullRequestChange": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitChange"
                }
            ],
            "properties": {
                "changeTrackingId": {
                    "description": "Id used to track files through multiple changes",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitPullRequestCommentThread": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/commentThread"
                }
            ],
            "properties": {
                "pullRequestThreadContext": {
                    "description": "Extended context information unique to pull requests",
                    "$ref": "#/definitions/gitPullRequestCommentThreadContext"
                }
            }
        },
        "gitPullRequestCommentThreadContext": {
            "type": "object",
            "properties": {
                "changeTrackingId": {
                    "description": "Used to track a comment across iterations. This value can be found by looking at the iteration's changes list. Must be set for pull requests with iteration support. Otherwise, it's not required for 'legacy' pull requests.",
                    "type": "integer",
                    "format": "int32"
                },
                "iterationContext": {
                    "description": "Specify comparing iteration Ids when a comment thread is added while comparing 2 iterations.",
                    "$ref": "#/definitions/commentIterationContext"
                },
                "trackingCriteria": {
                    "description": "The criteria used to track this thread. If this property is filled out when the thread is returned, then the thread has been tracked from its original location using the given criteria.",
                    "$ref": "#/definitions/commentTrackingCriteria"
                }
            }
        },
        "gitPullRequestCompletionOptions": {
            "type": "object",
            "properties": {
                "deleteSourceBranch": {
                    "type": "boolean"
                },
                "mergeCommitMessage": {
                    "type": "string"
                },
                "squashMerge": {
                    "type": "boolean"
                }
            }
        },
        "gitPullRequestIteration": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "author": {
                    "$ref": "#/definitions/identityRef"
                },
                "changeList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitPullRequestChange"
                    }
                },
                "commits": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitCommitRef"
                    }
                },
                "commonRefCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "type": "string"
                },
                "hasMoreCommits": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "push": {
                    "$ref": "#/definitions/gitPushRef"
                },
                "sourceRefCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "targetRefCommit": {
                    "$ref": "#/definitions/gitCommitRef"
                },
                "updatedDate": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "gitPullRequestIterationChanges": {
            "type": "object",
            "properties": {
                "changeEntries": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitPullRequestChange"
                    }
                },
                "nextSkip": {
                    "type": "integer",
                    "format": "int32"
                },
                "nextTop": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitPullRequestMergeOriginRef": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitMergeOriginRef"
                }
            ],
            "properties": {
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitPullRequestQuery": {
            "type": "object",
            "properties": {
                "queries": {
                    "description": "The query to perform",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gitPullRequestQueryInput"
                    }
                },
                "results": {
                    "description": "The results of the query",
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                }
            }
        },
        "gitPullRequestQueryInput": {
            "type": "object",
            "properties": {
                "items": {
                    "description": "The list commit ids to search for.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "type": {
                    "description": "The type of query to perform",
                    "enum": [
                        "notSet",
                        "lastMergeCommit",
                        "commit"
                    ]
                }
            }
        },
        "gitPullRequestReviewFileContentInfo": {
            "type": "object",
            "properties": {
                "_links": {
                    "$ref": "#/definitions/referenceLinks"
                },
                "path": {
                    "description": "The file change path.",
                    "type": "string"
                },
                "sHA1Hash": {
                    "description": "Content hash of on-disk representation of file content. Its calculated by the client by using SHA1 hash function. Ensure that uploaded file has same encoding as in source control.",
                    "type": "string"
                }
            }
        },
        "gitPullRequestSearchCriteria": {
            "type": "object",
            "properties": {
                "creatorId": {
                    "type": "string",
                    "format": "uuid"
                },
                "includeLinks": {
                    "description": "Whether to include the _links field on the shallow references",
                    "type": "boolean"
                },
                "repositoryId": {
                    "type": "string",
                    "format": "uuid"
                },
                "reviewerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "sourceRefName": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "notSet",
                        "active",
                        "abandoned",
                        "completed",
                        "all"
                    ]
                },
                "targetRefName": {
                    "type": "string"
                }
            }
        },
        "gitPullRequestStatus": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitStatus"
                }
            ],
            "properties": {
                "iterationId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "gitPush": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/gitPushRef"
                }
            ],
[...]
