{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Tfvc",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "branches"
        },
        {
            "name": "changesetChanges"
        },
        {
            "name": "changesets"
        },
        {
            "name": "changesetsBatch"
        },
        {
            "name": "changesetWorkItems"
        },
        {
            "name": "itemBatch"
        },
        {
            "name": "items"
        },
        {
            "name": "labelItems"
        },
        {
            "name": "labels"
        },
        {
            "name": "shelvesetChanges"
        },
        {
            "name": "shelvesets"
        },
        {
            "name": "shelvesetWorkItems"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "_apis/tfvc/changesets/{id}/changes": {
            "get": {
                "tags": [
                    "changesetChanges"
                ],
                "summary": "GetChangesetChanges",
                "description": "Retrieve Tfvc changes for a given changeset",
                "operationId": "getChangesetChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcChange"
                            }
                        }
                    }
                }
            }
        },
        "_apis/tfvc/changesets/{id}/workItems": {
            "get": {
                "tags": [
                    "changesetWorkItems"
                ],
                "summary": "GetChangesetWorkItems",
                "description": "",
                "operationId": "getChangesetWorkItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AssociatedWorkItem"
                            }
                        }
                    }
                }
            }
        },
        "_apis/tfvc/changesetsbatch": {
            "post": {
                "tags": [
                    "changesetsBatch"
                ],
                "summary": "GetBatchedChangesets",
                "description": "",
                "operationId": "getBatchedChangesets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TfvcChangesetsRequestData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcChangesetRef"
                            }
                        }
                    }
                }
            }
        },
        "_apis/tfvc/labels/{labelId}/items": {
            "get": {
                "tags": [
                    "labelItems"
                ],
                "summary": "GetLabelItems",
                "description": "Get items under a label.",
                "operationId": "getLabelItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "labelId",
                        "description": "Unique identifier of label",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of items to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of items to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcItem"
                            }
                        }
                    }
                }
            }
        },
        "_apis/tfvc/shelvesets": {
            "get": {
                "tags": [
                    "shelvesets"
                ],
                "summary": "GetShelveset",
                "description": "Get a single deep shelveset.",
                "operationId": "getShelveset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "includeDetails, includeWorkItems, maxChangeCount, and maxCommentLength",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TfvcShelvesetRequestData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcShelveset"
                        }
                    }
                }
            }
        },
        "_apis/tfvc/shelvesets/changes": {
            "get": {
                "tags": [
                    "shelvesetChanges"
                ],
                "summary": "GetShelvesetChanges",
                "description": "Get changes included in a shelveset.",
                "operationId": "getShelvesetChanges",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of changes to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of changes to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcChange"
                            }
                        }
                    }
                }
            }
        },
        "_apis/tfvc/shelvesets/workitems": {
            "get": {
                "tags": [
                    "shelvesetWorkItems"
                ],
                "summary": "GetShelvesetWorkItems",
                "description": "Get work items associated with a shelveset.",
                "operationId": "getShelvesetWorkItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "shelvesetId",
                        "description": "Shelveset's unique ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AssociatedWorkItem"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/branches": {
            "get": {
                "tags": [
                    "branches"
                ],
                "summary": "GetBranches",
                "description": "Get a collection of branch roots -- first-level children, branches with no parents",
                "operationId": "getBranches",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeParent",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeChildren",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeDeleted",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeLinks",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcBranch"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/branches/{path}": {
            "get": {
                "tags": [
                    "branches"
                ],
                "summary": "GetBranch",
                "description": "Get a single branch hierarchy at the given path with parents or children (if specified)",
                "operationId": "getBranch",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includeParent",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeChildren",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcBranch"
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/changesets": {
            "post": {
                "tags": [
                    "changesets"
                ],
                "summary": "CreateChangeset",
                "description": "",
                "operationId": "createChangeset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TfvcChangeset"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcChangesetRef"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "changesets"
                ],
                "summary": "GetChangesets",
                "description": "Retrieve Tfvc changesets",
                "operationId": "getChangesets",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "maxCommentLength",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderby",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "searchCriteria",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TfvcChangesetSearchCriteria"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcChangesetRef"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/changesets/{id}": {
            "get": {
                "tags": [
                    "changesets"
                ],
                "summary": "GetChangeset",
                "description": "Retrieve a Tfvc Changeset",
                "operationId": "getChangeset",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "maxChangeCount",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeDetails",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "includeWorkItems",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "maxCommentLength",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "includeSourceRename",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "orderby",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "searchCriteria",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TfvcChangesetSearchCriteria"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcChangeset"
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/itembatch": {
            "post": {
                "tags": [
                    "itemBatch"
                ],
                "summary": "GetItemsBatch",
                "description": "Post for retrieving a set of items given a list of paths or a long path. Allows for specifying the recursionLevel and version descriptors for each path.",
                "operationId": "getItemsBatch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/zip",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TfvcItemRequestData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/items": {
            "get": {
                "tags": [
                    "items"
                ],
                "summary": "GetItems",
                "description": "Get a list of Tfvc items",
                "operationId": "getItems",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "scopePath",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursionLevel",
                        "description": "",
                        "required": false,
                        "type": "VersionControlRecursionType"
                    },
                    {
                        "in": "query",
                        "name": "includeLinks",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "versionDescriptor",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TfvcVersionDescriptor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcItem"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/items/{path}": {
            "get": {
                "tags": [
                    "items"
                ],
                "summary": "GetItem",
                "description": "Get Item Metadata and/or Content. The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content which is always returned as a download.",
                "operationId": "getItem",
                "produces": [
                    "application/octet-stream",
                    "text/plain",
                    "application/zip",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "fileName",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "download",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "scopePath",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "recursionLevel",
                        "description": "",
                        "required": false,
                        "type": "VersionControlRecursionType"
                    },
                    {
                        "in": "query",
                        "name": "versionDescriptor",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TfvcVersionDescriptor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcItem"
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/labels": {
            "get": {
                "tags": [
                    "labels"
                ],
                "summary": "GetLabels",
                "description": "Get a collection of shallow label references.",
                "operationId": "getLabels",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "labelScope, name, owner, and itemLabelFilter",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TfvcLabelRequestData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "top",
                        "description": "Max number of labels to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of labels to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TfvcLabelRef"
                            }
                        }
                    }
                }
            }
        },
        "{project}/_apis/tfvc/labels/{labelId}": {
            "get": {
                "tags": [
                    "labels"
                ],
                "summary": "GetLabel",
                "description": "Get a single deep label.",
                "operationId": "getLabel",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "labelId",
                        "description": "Unique identifier of label",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestData",
                        "description": "maxItemCount",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TfvcLabelRequestData"
                        }
                    },
                    {
                        "in": "path",
                        "name": "project",
                        "description": "Project ID or project name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/TfvcLabel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AssociatedWorkItem": {
            "type": "object",
            "properties": {
                "assignedTo": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "state": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "description": "REST url",
                    "type": "string"
                },
                "webUrl": {
                    "type": "string"
                },
                "workItemType": {
                    "type": "string"
                }
            }
        },
        "AsyncGitOperationNotification": {
            "type": "object",
            "properties": {
                "operationId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "AsyncRefOperationCommitLevelEventNotification": {
            "type": "AsyncGitOperationNotification",
            "properties": {
                "commitId": {
                    "type": "string"
                }
            }
        },
        "AsyncRefOperationCompletedNotification": {
            "type": "AsyncGitOperationNotification",
            "properties": {
                "newRefName": {
                    "type": "string"
                }
            }
        },
        "AsyncRefOperationConflictNotification": {
            "type": "AsyncRefOperationCommitLevelEventNotification",
            "properties": {
            }
        },
        "AsyncRefOperationGeneralFailureNotification": {
            "type": "AsyncGitOperationNotification",
            "properties": {
            }
        },
        "AsyncRefOperationProgressNotification": {
            "type": "AsyncRefOperationCommitLevelEventNotification",
            "properties": {
                "progress": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "Attachment": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "author": {
                    "description": "The person that uploaded this attachment",
                    "type": "IdentityRef"
                },
                "contentHash": {
                    "description": "Content hash of on-disk representation of file content. Its calculated by the server by using SHA1 hash function.",
                    "type": "string"
                },
                "createdDate": {
                    "description": "The time the attachment was uploaded",
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "description": "The description of the attachment, can be null.",
                    "type": "string"
                },
                "displayName": {
                    "description": "The display name of the attachment, can't be null or empty.",
                    "type": "string"
                },
                "id": {
                    "description": "Id of the code review attachment",
                    "type": "integer",
                    "format": "int32"
                },
                "properties": {
                    "type": "PropertiesCollection"
                },
                "url": {
                    "description": "The url to download the content of the attachment",
                    "type": "string"
                }
            }
        },
        "Change<T>": {
            "type": "object",
            "properties": {
                "changeType": {
                    "type": "VersionControlChangeType",
                    "enum": [
                        "none",
                        "add",
                        "edit",
                        "encoding",
                        "rename",
                        "delete",
                        "undelete",
                        "branch",
                        "merge",
                        "lock",
                        "rollback",
                        "sourceRename",
                        "targetRename",
                        "property",
                        "all"
                    ]
                },
                "item": {
                    "type": "T"
                },
                "newContent": {
                    "$ref": "#/definitions/ItemContent"
                },
                "sourceServerItem": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "ChangeCountDictionary": {
            "type": "object",
            "properties": {
            }
        },
        "ChangeList<T>": {
            "type": "object",
            "properties": {
                "allChangesIncluded": {
                    "type": "boolean"
                },
                "changeCounts": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "int32"
                    }
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "type": "Generic"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "commentTruncated": {
                    "type": "boolean"
                },
                "creationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "notes": {
                    "type": "array",
                    "items": {
                        "type": "CheckinNote"
                    }
                },
                "owner": {
                    "type": "string"
                },
                "ownerDisplayName": {
                    "type": "string"
                },
                "ownerId": {
                    "type": "Guid"
                },
                "sortDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "ChangeListSearchCriteria": {
            "type": "object",
            "properties": {
                "compareVersion": {
                    "description": "If provided, a version descriptor to compare against base",
                    "type": "string"
                },
                "excludeDeletes": {
                    "description": "If true, don't include delete history entries",
                    "type": "boolean"
                },
                "followRenames": {
                    "description": "Whether or not to follow renames for the given item being queried",
                    "type": "boolean"
                },
                "fromDate": {
                    "description": "If provided, only include history entries created after this date (string)",
                    "type": "string"
                },
                "fromVersion": {
                    "description": "If provided, a version descriptor for the earliest change list to include",
                    "type": "string"
                },
                "itemPath": {
                    "description": "Path of item to search under. If the itemPaths memebr is used then it will take precedence over this.",
                    "type": "string"
                },
                "itemPaths": {
                    "description": "List of item paths to search under. If this member is used then itemPath will be ignored.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "itemVersion": {
                    "description": "Version of the items to search",
                    "type": "string"
                },
                "skip": {
                    "description": "Number of results to skip (used when clicking more...)",
                    "type": "integer",
                    "format": "int32"
                },
                "toDate": {
                    "description": "If provided, only include history entries created before this date (string)",
                    "type": "string"
                },
                "top": {
                    "description": "If provided, the maximum number of history entries to return",
                    "type": "integer",
                    "format": "int32"
                },
                "toVersion": {
                    "description": "If provided, a version descriptor for the latest change list to include",
                    "type": "string"
                },
                "user": {
                    "description": "Alias or display name of user who made the changes",
                    "type": "string"
                }
            }
        },
        "CheckinNote": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "Comment": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "author": {
                    "description": "The author of the pull request comment.",
                    "type": "IdentityRef"
                },
                "commentType": {
                    "description": "Determines what kind of comment when it was created.",
                    "type": "CommentType",
                    "enum": [
                        "unknown",
                        "text",
                        "codeChange",
                        "system"
                    ]
                },
                "content": {
                    "description": "The comment's content.",
                    "type": "string"
                },
                "id": {
                    "description": "The pull request comment id. It always starts from 1.",
                    "type": "integer",
                    "format": "int16"
                },
                "isDeleted": {
                    "description": "Marks if this comment was soft-deleted.",
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "description": "The date a comment was last updated.",
                    "type": "string",
                    "format": "date-time"
                },
                "parentCommentId": {
                    "description": "The pull request comment id of the parent comment. This is used for replies",
                    "type": "integer",
                    "format": "int16"
                },
                "publishedDate": {
                    "description": "The date a comment was first published.",
                    "type": "string",
                    "format": "date-time"
                },
                "usersLiked": {
                    "description": "A list of the users who've liked this comment.",
                    "type": "array",
                    "items": {
                        "type": "IdentityRef"
                    }
                }
            }
        },
        "CommentIterationContext": {
            "type": "object",
            "properties": {
                "firstComparingIteration": {
                    "description": "First comparing iteration Id. Minimum value is 1.",
                    "type": "integer",
                    "format": "int16"
                },
                "secondComparingIteration": {
                    "description": "Second comparing iteration Id. Minimum value is 1.",
                    "type": "integer",
                    "format": "int16"
                }
            }
        },
        "CommentPosition": {
            "type": "object",
            "properties": {
                "line": {
                    "description": "Position line starting with one.",
                    "type": "integer",
                    "format": "int32"
                },
                "offset": {
                    "description": "Position offset starting with zero.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "CommentThread": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "comments": {
                    "description": "A list of the comments.",
                    "type": "array",
                    "items": {
                        "type": "Comment"
                    }
                },
                "id": {
                    "description": "The comment thread id.",
                    "type": "integer",
                    "format": "int32"
                },
                "isDeleted": {
                    "description": "Specify if the thread is deleted which happens when all comments are deleted",
                    "type": "boolean"
                },
                "lastUpdatedDate": {
                    "description": "The time this thread was last updated.",
                    "type": "string",
                    "format": "date-time"
                },
                "properties": {
                    "description": "A list of (optional) thread properties.",
                    "type": "PropertiesCollection"
                },
                "publishedDate": {
                    "description": "The time this thread was published.",
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "description": "The status of the comment thread.",
                    "type": "CommentThreadStatus",
                    "enum": [
                        "unknown",
                        "active",
                        "fixed",
                        "wontFix",
                        "closed",
                        "byDesign",
                        "pending"
                    ]
                },
                "threadContext": {
                    "description": "Specify thread context such as position in left/right file.",
                    "$ref": "#/definitions/CommentThreadContext"
                }
            }
        },
        "CommentThreadContext": {
            "type": "object",
            "properties": {
                "filePath": {
                    "description": "File path relative to the root of the repository. It's up to the client to use any path format.",
                    "type": "string"
                },
                "leftFileEnd": {
                    "description": "Position of last character of the comment in left file.",
                    "$ref": "#/definitions/CommentPosition"
                },
                "leftFileStart": {
                    "description": "Position of first character of the comment in left file.",
                    "$ref": "#/definitions/CommentPosition"
                },
                "rightFileEnd": {
                    "description": "Position of last character of the comment in right file.",
                    "$ref": "#/definitions/CommentPosition"
                },
                "rightFileStart": {
                    "description": "Position of first character of the comment in right file.",
                    "$ref": "#/definitions/CommentPosition"
                }
            }
        },
        "CommentTrackingCriteria": {
            "type": "object",
            "properties": {
                "firstComparingIteration": {
                    "description": "The first comparing iteration being viewed. Threads will be tracked if this is greater than 0.",
                    "type": "integer",
                    "format": "int32"
                },
                "secondComparingIteration": {
                    "description": "The second comparing iteration being viewed. Threads will be tracked if this is greater than 0.",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "FileContentMetadata": {
            "type": "object",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "encoding": {
                    "type": "integer",
                    "format": "int32"
                },
                "extension": {
                    "type": "string"
                },
                "fileName": {
                    "type": "string"
                },
                "isBinary": {
                    "type": "boolean"
                },
                "isImage": {
                    "type": "boolean"
                },
                "vsLink": {
                    "type": "string"
                }
            }
        },
        "GitAsyncRefOperation": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "detailedStatus": {
                    "$ref": "#/definitions/GitAsyncRefOperationDetail"
                },
                "parameters": {
                    "$ref": "#/definitions/GitAsyncRefOperationParameters"
                },
                "status": {
                    "type": "GitAsyncOperationStatus",
                    "enum": [
                        "queued",
                        "inProgress",
                        "completed",
                        "failed",
                        "abandoned"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitAsyncRefOperationDetail": {
            "type": "object",
            "properties": {
                "conflict": {
                    "type": "boolean"
                },
                "currentCommitId": {
                    "type": "string"
                },
                "progress": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "GitAsyncRefOperationParameters": {
            "type": "object",
            "properties": {
                "generatedRefName": {
                    "type": "string"
                },
                "ontoRefName": {
                    "type": "string"
                },
                "repository": {
                    "$ref": "#/definitions/GitRepository"
                },
                "source": {
                    "$ref": "#/definitions/GitAsyncRefOperationSource"
                }
            }
        },
        "GitAsyncRefOperationSource": {
            "type": "object",
            "properties": {
                "commitList": {
                    "type": "array",
                    "items": {
                        "type": "GitCommitRef"
                    }
                },
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitBaseVersionDescriptor": {
            "type": "GitVersionDescriptor",
            "properties": {
                "baseVersion": {
                    "description": "Version string identifier (name of tag/branch, SHA1 of commit)",
                    "type": "string"
                },
                "baseVersionOptions": {
                    "description": "Version options - Specify additional modifiers to version (e.g Previous)",
                    "type": "GitVersionOptions",
                    "enum": [
                        "none",
                        "previousChange",
                        "firstParent"
                    ]
                },
                "baseVersionType": {
                    "description": "Version type (branch, tag, or commit). Determines how Id is interpreted",
                    "type": "GitVersionType",
                    "enum": [
                        "branch",
                        "tag",
                        "commit",
                        "index"
                    ]
                }
            }
        },
        "GitBlobRef": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "objectId": {
                    "description": "SHA1 hash of git object",
                    "type": "string"
                },
                "size": {
                    "description": "Size of blob content (in bytes)",
                    "type": "integer",
                    "format": "int64"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitBranchStats": {
            "type": "object",
            "properties": {
                "aheadCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "behindCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "commit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "isBaseVersion": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "GitChange": {
            "type": "Generic",
            "properties": {
                "changeId": {
                    "description": "Id of the change within the group.  For example, within the iteration",
                    "type": "integer",
                    "format": "int32"
                },
                "newContentTemplate": {
                    "description": "New Content template to be used",
                    "$ref": "#/definitions/GitTemplate"
                },
                "originalPath": {
                    "description": "Original path of item if different from current path",
                    "type": "string"
                }
            }
        },
        "GitCherryPick": {
            "type": "GitAsyncRefOperation",
            "properties": {
                "cherryPickId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitCommit": {
            "type": "GitCommitRef",
            "properties": {
                "push": {
                    "$ref": "#/definitions/GitPushRef"
                },
                "treeId": {
                    "type": "string"
                }
            }
        },
        "GitCommitChanges": {
            "type": "object",
            "properties": {
                "changeCounts": {
                    "$ref": "#/definitions/ChangeCountDictionary"
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "type": "GitChange"
                    }
                }
            }
        },
        "GitCommitDiffs": {
            "type": "object",
            "properties": {
                "aheadCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "allChangesIncluded": {
                    "type": "boolean"
                },
                "baseCommit": {
                    "type": "string"
                },
                "behindCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "changeCounts": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "int32"
                    }
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "type": "GitChange"
                    }
                },
                "commonCommit": {
                    "type": "string"
                },
                "targetCommit": {
                    "type": "string"
                }
            }
        },
        "GitCommitRef": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "author": {
                    "$ref": "#/definitions/GitUserDate"
                },
                "changeCounts": {
                    "$ref": "#/definitions/ChangeCountDictionary"
                },
                "changes": {
                    "type": "array",
                    "items": {
                        "type": "GitChange"
                    }
                },
                "comment": {
                    "type": "string"
                },
                "commentTruncated": {
                    "type": "boolean"
                },
                "commitId": {
                    "type": "string"
                },
                "committer": {
                    "$ref": "#/definitions/GitUserDate"
                },
                "parents": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "remoteUrl": {
                    "type": "string"
                },
                "statuses": {
                    "type": "array",
                    "items": {
                        "type": "GitStatus"
                    }
                },
                "url": {
                    "type": "string"
                },
                "workItems": {
                    "type": "array",
                    "items": {
                        "type": "ResourceRef"
                    }
                }
            }
        },
        "GitCommitToCreate": {
            "type": "object",
            "properties": {
                "baseRef": {
                    "$ref": "#/definitions/GitRef"
                },
                "comment": {
                    "type": "string"
                },
                "pathActions": {
                    "type": "array",
                    "items": {
                        "type": "GitPathAction"
                    }
                }
            }
        },
        "GitConflict": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "conflictId": {
                    "type": "integer",
                    "format": "int32"
                },
                "conflictPath": {
                    "type": "string"
                },
                "conflictType": {
                    "type": "GitConflictType",
                    "enum": [
                        "none",
                        "addAdd",
                        "addRename",
                        "deleteEdit",
                        "deleteRename",
                        "directoryFile",
                        "directoryChild",
                        "editDelete",
                        "editEdit",
                        "fileDirectory",
                        "rename1to2",
                        "rename2to1",
                        "renameAdd",
                        "renameDelete",
                        "renameRename"
                    ]
                },
                "mergeBaseCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "mergeOrigin": {
                    "$ref": "#/definitions/GitMergeOriginRef"
                },
                "mergeSourceCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "mergeTargetCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "resolutionError": {
                    "type": "GitResolutionError",
                    "enum": [
                        "none",
                        "mergeContentNotFound",
                        "pathInUse",
                        "invalidPath",
                        "unknownAction",
                        "unknownMergeType",
                        "otherError"
                    ]
                },
                "resolutionStatus": {
                    "type": "GitResolutionStatus",
                    "enum": [
                        "unresolved",
                        "partiallyResolved",
                        "resolved"
                    ]
                },
                "resolvedBy": {
                    "type": "IdentityRef"
                },
                "resolvedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitConflictAddAdd": {
            "type": "GitConflict",
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/GitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictAddRename": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetOriginalPath": {
                    "type": "string"
                }
            }
        },
        "GitConflictDeleteEdit": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPickOneAction"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictDeleteRename": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPickOneAction"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetNewPath": {
                    "type": "string"
                }
            }
        },
        "GitConflictDirectoryFile": {
            "type": "GitConflict",
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPathConflict"
                },
                "sourceTree": {
                    "$ref": "#/definitions/GitTreeRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictEditDelete": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPickOneAction"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictEditEdit": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictFileDirectory": {
            "type": "GitConflict",
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetTree": {
                    "$ref": "#/definitions/GitTreeRef"
                }
            }
        },
        "GitConflictRename1to2": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionRename1to2"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "sourceNewPath": {
                    "type": "string"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetNewPath": {
                    "type": "string"
                }
            }
        },
        "GitConflictRename2to1": {
            "type": "GitConflict",
            "properties": {
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPathConflict"
                },
                "sourceNewBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "sourceOriginalBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "sourceOriginalPath": {
                    "type": "string"
                },
                "targetNewBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetOriginalBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetOriginalPath": {
                    "type": "string"
                }
            }
        },
        "GitConflictRenameAdd": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPathConflict"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "sourceOriginalPath": {
                    "type": "string"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitConflictRenameDelete": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionPickOneAction"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "sourceNewPath": {
                    "type": "string"
                }
            }
        },
        "GitConflictRenameRename": {
            "type": "GitConflict",
            "properties": {
                "baseBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "originalPath": {
                    "type": "string"
                },
                "resolution": {
                    "$ref": "#/definitions/GitResolutionMergeContent"
                },
                "sourceBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                },
                "targetBlob": {
                    "$ref": "#/definitions/GitBlobRef"
                }
            }
        },
        "GitDeletedRepository": {
            "type": "object",
            "properties": {
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "deletedBy": {
                    "type": "IdentityRef"
                },
                "deletedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "Guid"
                },
                "name": {
                    "type": "string"
                },
                "project": {
                    "type": "TeamProjectReference"
                }
            }
        },
        "GitFilePathsCollection": {
            "type": "object",
            "properties": {
                "commitId": {
                    "type": "string"
                },
                "paths": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitHistoryQueryResults": {
            "type": "Generic",
            "properties": {
                "startingCommitId": {
                    "description": "Seed commit used for querying history.  Used for skip feature.",
                    "type": "string"
                },
                "unpopulatedCount": {
                    "type": "integer",
                    "format": "int32"
                },
                "unprocessedCount": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitImportFailedEvent": {
            "type": "object",
            "properties": {
                "sourceRepositoryName": {
                    "type": "string"
                },
                "targetRepository": {
                    "$ref": "#/definitions/GitRepository"
                }
            }
        },
        "GitImportGitSource": {
            "type": "object",
            "properties": {
                "url": {
                    "description": "Url for the source repo",
                    "type": "string"
                }
            }
        },
        "GitImportRequest": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "detailedStatus": {
                    "$ref": "#/definitions/GitImportStatusDetail"
                },
                "importRequestId": {
                    "type": "integer",
                    "format": "int32"
                },
                "parameters": {
                    "description": "Parameters for creating an import request",
                    "$ref": "#/definitions/GitImportRequestParameters"
                },
                "repository": {
                    "$ref": "#/definitions/GitRepository"
                },
                "status": {
                    "type": "GitAsyncOperationStatus",
                    "enum": [
                        "queued",
                        "inProgress",
                        "completed",
                        "failed",
                        "abandoned"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitImportRequestParameters": {
            "type": "object",
            "properties": {
                "deleteServiceEndpointAfterImportIsDone": {
                    "description": "Option to delete service endpoint when import is done",
                    "type": "boolean"
                },
                "gitSource": {
                    "description": "Source for importing git repository",
                    "$ref": "#/definitions/GitImportGitSource"
                },
                "serviceEndpointId": {
                    "description": "Service Endpoint for connection to external endpoint",
                    "type": "Guid"
                }
            }
        },
        "GitImportStatusDetail": {
            "type": "object",
            "properties": {
                "allSteps": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "currentStep": {
                    "type": "integer",
                    "format": "int32"
                },
                "errorMessage": {
                    "type": "string"
                }
            }
        },
        "GitImportSucceededEvent": {
            "type": "object",
            "properties": {
                "sourceRepositoryName": {
                    "type": "string"
                },
                "targetRepository": {
                    "$ref": "#/definitions/GitRepository"
                }
            }
        },
        "GitItem": {
            "type": "ItemModel",
            "properties": {
                "commitId": {
                    "description": "SHA1 of commit item was fetched at",
                    "type": "string"
                },
                "gitObjectType": {
                    "description": "Type of object (Commit, Tree, Blob, Tag, ...)",
                    "type": "GitObjectType",
                    "enum": [
                        "bad",
                        "commit",
                        "tree",
                        "blob",
                        "tag",
                        "ext2",
                        "ofsDelta",
                        "refDelta"
                    ]
                },
                "latestProcessedChange": {
                    "description": "Shallow ref to commit that last changed this item Only populated if latestProcessedChange is requested May not be accurate if latest change is not yet cached",
                    "$ref": "#/definitions/GitCommitRef"
                },
                "objectId": {
                    "description": "Git object id",
                    "type": "string"
                },
                "originalObjectId": {
                    "description": "Git object id",
                    "type": "string"
                }
            }
        },
        "GitItemDescriptor": {
            "type": "object",
            "properties": {
                "path": {
                    "description": "Path to item",
                    "type": "string"
                },
                "recursionLevel": {
                    "description": "Specifies whether to include children (OneLevel), all descendants (Full), or None",
                    "type": "VersionControlRecursionType",
                    "enum": [
                        "none",
                        "oneLevel",
                        "oneLevelPlusNestedEmptyFolders",
                        "full"
                    ]
                },
                "version": {
                    "description": "Version string (interpretation based on VersionType defined in subclass",
                    "type": "string"
                },
                "versionOptions": {
                    "description": "Version modifiers (e.g. previous)",
                    "type": "GitVersionOptions",
                    "enum": [
                        "none",
                        "previousChange",
                        "firstParent"
                    ]
                },
                "versionType": {
                    "description": "How to interpret version (branch,tag,commit)",
                    "type": "GitVersionType",
                    "enum": [
                        "branch",
                        "tag",
                        "commit",
                        "index"
                    ]
                }
            }
        },
        "GitItemRequestData": {
            "type": "object",
            "properties": {
                "includeContentMetadata": {
                    "description": "Whether to include metadata for all items",
                    "type": "boolean"
                },
                "includeLinks": {
                    "description": "Whether to include the _links field on the shallow references",
                    "type": "boolean"
                },
                "itemDescriptors": {
                    "description": "Collection of items to fetch, including path, version, and recursion level",
                    "type": "array",
                    "items": {
                        "type": "GitItemDescriptor"
                    }
                },
                "latestProcessedChange": {
                    "description": "Whether to include shallow ref to commit that last changed each item",
                    "type": "boolean"
                }
            }
        },
        "GitLastChangeItem": {
            "type": "object",
            "properties": {
                "commitId": {
                    "description": "Gets or sets the commit Id this item was modified most recently for the provided version.",
                    "type": "string"
                },
                "path": {
                    "description": "Gets or sets the path of the item.",
                    "type": "string"
                }
            }
        },
        "GitLastChangeTreeItems": {
            "type": "object",
            "properties": {
                "items": {
                    "description": "The last change of items.",
                    "type": "array",
                    "items": {
                        "type": "GitLastChangeItem"
                    }
                },
                "lastExploredTime": {
                    "description": "The last explored time, in case the result is not comprehensive. Null otherwise.",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "GitLimitedRefCriteria": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "refExactMatches": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "refNamespaces": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitMergeOriginRef": {
            "type": "object",
            "properties": {
            }
        },
        "GitPathAction": {
            "type": "object",
            "properties": {
                "action": {
                    "type": "GitPathActions",
                    "enum": [
                        "none",
                        "edit",
                        "delete",
                        "add",
                        "rename"
                    ]
                },
                "base64Content": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "rawTextContent": {
                    "type": "string"
                },
                "targetPath": {
                    "type": "string"
                }
            }
        },
        "GitPathToItemsCollection": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array"
                    }
                }
            }
        },
        "GitPullRequest": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "artifactId": {
                    "type": "string"
                },
                "autoCompleteSetBy": {
                    "type": "IdentityRef"
                },
                "closedBy": {
                    "type": "IdentityRef"
                },
                "closedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "codeReviewId": {
                    "type": "integer",
                    "format": "int32"
                },
                "commits": {
                    "type": "array",
                    "items": {
                        "type": "GitCommitRef"
                    }
                },
                "completionOptions": {
                    "$ref": "#/definitions/GitPullRequestCompletionOptions"
                },
                "completionQueueTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "createdBy": {
                    "type": "IdentityRef"
                },
                "creationDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "type": "string"
                },
                "lastMergeCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "lastMergeSourceCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "lastMergeTargetCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "mergeId": {
                    "type": "Guid"
                },
                "mergeStatus": {
                    "type": "PullRequestAsyncStatus",
                    "enum": [
                        "notSet",
                        "queued",
                        "conflicts",
                        "succeeded",
                        "rejectedByPolicy",
                        "failure"
                    ]
                },
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                },
                "remoteUrl": {
                    "type": "string"
                },
                "repository": {
                    "$ref": "#/definitions/GitRepository"
                },
                "reviewers": {
                    "type": "array",
                    "items": {
                        "type": "IdentityRefWithVote"
                    }
                },
                "sourceRefName": {
                    "type": "string"
                },
                "status": {
                    "type": "PullRequestStatus",
                    "enum": [
                        "notSet",
                        "active",
                        "abandoned",
                        "completed",
                        "all"
                    ]
                },
                "supportsIterations": {
                    "type": "boolean"
                },
                "targetRefName": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "workItemRefs": {
                    "type": "array",
                    "items": {
                        "type": "ResourceRef"
                    }
                }
            }
        },
        "GitPullRequestChange": {
            "type": "GitChange",
            "properties": {
                "changeTrackingId": {
                    "description": "Id used to track files through multiple changes",
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitPullRequestCommentThread": {
            "type": "CommentThread",
            "properties": {
                "pullRequestThreadContext": {
                    "description": "Extended context information unique to pull requests",
                    "$ref": "#/definitions/GitPullRequestCommentThreadContext"
                }
            }
        },
        "GitPullRequestCommentThreadContext": {
            "type": "object",
            "properties": {
                "changeTrackingId": {
                    "description": "Used to track a comment across iterations. This value can be found by looking at the iteration's changes list. Must be set for pull requests with iteration support. Otherwise, it's not required for 'legacy' pull requests.",
                    "type": "integer",
                    "format": "int32"
                },
                "iterationContext": {
                    "description": "Specify comparing iteration Ids when a comment thread is added while comparing 2 iterations.",
                    "$ref": "#/definitions/CommentIterationContext"
                },
                "trackingCriteria": {
                    "description": "The criteria used to track this thread. If this property is filled out when the thread is returned, then the thread has been tracked from its original location using the given criteria.",
                    "$ref": "#/definitions/CommentTrackingCriteria"
                }
            }
        },
        "GitPullRequestCompletionOptions": {
            "type": "object",
            "properties": {
                "deleteSourceBranch": {
                    "type": "boolean"
                },
                "mergeCommitMessage": {
                    "type": "string"
                },
                "squashMerge": {
                    "type": "boolean"
                }
            }
        },
        "GitPullRequestIteration": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "author": {
                    "type": "IdentityRef"
                },
                "changeList": {
                    "type": "array",
                    "items": {
                        "type": "GitPullRequestChange"
                    }
                },
                "commits": {
                    "type": "array",
                    "items": {
                        "type": "GitCommitRef"
                    }
                },
                "commonRefCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "description": {
                    "type": "string"
                },
                "hasMoreCommits": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "push": {
                    "$ref": "#/definitions/GitPushRef"
                },
                "sourceRefCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "targetRefCommit": {
                    "$ref": "#/definitions/GitCommitRef"
                },
                "updatedDate": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "GitPullRequestIterationChanges": {
            "type": "object",
            "properties": {
                "changeEntries": {
                    "type": "array",
                    "items": {
                        "type": "GitPullRequestChange"
                    }
                },
                "nextSkip": {
                    "type": "integer",
                    "format": "int32"
                },
                "nextTop": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitPullRequestMergeOriginRef": {
            "type": "GitMergeOriginRef",
            "properties": {
                "pullRequestId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitPullRequestQuery": {
            "type": "object",
            "properties": {
                "queries": {
                    "description": "The query to perform",
                    "type": "array",
                    "items": {
                        "type": "GitPullRequestQueryInput"
                    }
                },
                "results": {
                    "description": "The results of the query",
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                }
            }
        },
        "GitPullRequestQueryInput": {
            "type": "object",
            "properties": {
                "items": {
                    "description": "The list commit ids to search for.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "type": {
                    "description": "The type of query to perform",
                    "type": "GitPullRequestQueryType",
                    "enum": [
                        "notSet",
                        "lastMergeCommit",
                        "commit"
                    ]
                }
            }
        },
        "GitPullRequestReviewFileContentInfo": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "path": {
                    "description": "The file change path.",
                    "type": "string"
                },
                "sHA1Hash": {
                    "description": "Content hash of on-disk representation of file content. Its calculated by the client by using SHA1 hash function. Ensure that uploaded file has same encoding as in source control.",
                    "type": "string"
                }
            }
        },
        "GitPullRequestSearchCriteria": {
            "type": "object",
            "properties": {
                "creatorId": {
                    "type": "Guid"
                },
                "includeLinks": {
                    "description": "Whether to include the _links field on the shallow references",
                    "type": "boolean"
                },
                "repositoryId": {
                    "type": "Guid"
                },
                "reviewerId": {
                    "type": "Guid"
                },
                "sourceRefName": {
                    "type": "string"
                },
                "status": {
                    "type": "PullRequestStatus",
                    "enum": [
                        "notSet",
                        "active",
                        "abandoned",
                        "completed",
                        "all"
                    ]
                },
                "targetRefName": {
                    "type": "string"
                }
            }
        },
        "GitPullRequestStatus": {
            "type": "GitStatus",
            "properties": {
                "iterationId": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "GitPush": {
            "type": "GitPushRef",
            "properties": {
                "commits": {
                    "type": "array",
                    "items": {
                        "type": "GitCommitRef"
                    }
                },
                "refUpdates": {
                    "type": "array",
                    "items": {
                        "type": "GitRefUpdate"
                    }
                },
                "repository": {
                    "$ref": "#/definitions/GitRepository"
                }
            }
        },
        "GitPushEventData": {
            "type": "object",
            "properties": {
                "afterId": {
                    "type": "string"
                },
                "beforeId": {
                    "type": "string"
                },
                "branch": {
                    "type": "string"
                },
                "commits": {
                    "type": "array",
                    "items": {
                        "type": "GitCommit"
                    }
                },
                "repository": {
                    "$ref": "#/definitions/GitRepository"
                }
            }
        },
        "GitPushRef": {
            "type": "object",
            "properties": {
                "_links": {
                    "type": "ReferenceLinks"
                },
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "pushCorrelationId": {
                    "type": "Guid"
                },
                "pushedBy": {
                    "type": "IdentityRef"
                },
                "pushId": {
                    "type": "integer",
                    "format": "int32"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "GitPushSearchCriteria": {
            "type": "object",
            "properties": {
                "fromDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "includeLinks": {
                    "description": "Whether to include the _links field on the shallow references",
                    "type": "boolean"
                },
                "includeRefUpdates": {
                    "type": "boolean"
                },
                "pusherId": {
                    "type": "Guid"
                },
                "refName": {
                    "type": "string"
                },
                "toDate": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "GitQueryBranchStatsCriteria": {
            "type": "object",
            "properties": {
                "baseCommit": {
                    "$ref": "#/definitions/GitVersionDescriptor"
                },
                "targetCommits": {
                    "type": "array",
                    "items": {
                        "type": "GitVersionDescriptor"
                    }
                }
            }
        },
        "GitQueryCommitsCriteria": {
            "type": "object",
            "properties": {
                "$skip": {
                    "description": "Number of entries to skip",
                    "type": "integer",
                    "format": "int32"
                },
                "$top": {
                    "description": "Maximum number of entries to retrieve",
                    "type": "integer",
                    "format": "int32"
                },
                "author": {
                    "description": "Alias or display name of the author",
                    "type": "string"
                },
                "compareVersion": {
[...]
