{
  "swagger": "2.0",
  "info": {
    "title": "Token",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "accessTokens"
    },
    {
      "name": "appSessionTokens"
    },
    {
      "name": "appTokenPairs"
    },
    {
      "name": "sessionTokens"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/token/accesstokens/{key}": {
      "get": {
        "tags": [
          "accessTokens"
        ],
        "summary": "GetAccessToken",
        "description": "",
        "operationId": "getAccessToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isPublic",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccessToken"
            }
          }
        }
      }
    },
    "/_apis/token/appsessiontokens": {
      "post": {
        "tags": [
          "appSessionTokens"
        ],
        "summary": "IssueAppSessionToken",
        "description": "",
        "operationId": "issueAppSessionToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "userId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AppSessionTokenResult"
            }
          }
        }
      }
    },
    "/_apis/token/apptokenpairs": {
      "post": {
        "tags": [
          "appTokenPairs"
        ],
        "summary": "ExchangeAppToken",
        "description": "",
        "operationId": "exchangeAppToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppTokenSecretPair"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AccessTokenResult"
            }
          }
        }
      }
    },
    "/_apis/token/sessiontokens": {
      "post": {
        "tags": [
          "sessionTokens"
        ],
        "summary": "CreateSessionToken",
        "description": "",
        "operationId": "createSessionToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          {
            "in": "query",
            "name": "tokenType",
            "description": "",
            "required": false,
            "type": "string",
            "format": "SessionTokenType"
          },
          {
            "in": "query",
            "name": "isPublic",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          }
        }
      },
      "get": {
        "tags": [
          "sessionTokens"
        ],
        "summary": "GetSessionTokens",
        "description": "",
        "operationId": "getSessionTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "isPublic",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includePublicData",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SessionToken"
              }
            }
          }
        }
      }
    },
    "/_apis/token/sessiontokens/{authorizationId}": {
      "get": {
        "tags": [
          "sessionTokens"
        ],
        "summary": "GetSessionToken",
        "description": "",
        "operationId": "getSessionToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "authorizationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "isPublic",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sessionTokens"
        ],
        "summary": "RevokeSessionToken",
        "description": "",
        "operationId": "revokeSessionToken",
        "parameters": [
          {
            "in": "path",
            "name": "authorizationId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "isPublic",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessToken": {
      "type": "object",
      "properties": {
        "accessId": {
          "type": "string",
          "format": "uuid"
        },
        "authorizationId": {
          "type": "string",
          "format": "uuid"
        },
        "isRefresh": {
          "type": "boolean"
        },
        "isValid": {
          "type": "boolean"
        },
        "refreshed": {
          "type": "string",
          "format": "date-time"
        },
        "refreshToken": {
          "$ref": "#/definitions/JsonWebToken"
        },
        "token": {
          "$ref": "#/definitions/JsonWebToken"
        },
        "tokenType": {
          "type": "string"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "AccessTokenResult": {
      "type": "object",
      "properties": {
        "accessToken": {
          "$ref": "#/definitions/JsonWebToken"
        },
        "accessTokenError": {
          "enum": [
            "none",
            "grantTypeRequired",
            "authorizationGrantRequired",
            "clientSecretRequired",
            "redirectUriRequired",
            "invalidAuthorizationGrant",
            "invalidAuthorizationScopes",
            "invalidRefreshToken",
            "authorizationNotFound",
            "authorizationGrantExpired",
            "accessAlreadyIssued",
            "invalidRedirectUri",
            "accessTokenNotFound",
            "invalidAccessToken",
            "accessTokenAlreadyRefreshed",
            "invalidClientSecret",
            "clientSecretExpired",
            "serverError",
            "accessDenied",
            "accessTokenKeyRequired",
            "invalidAccessTokenKey",
            "failedToGetAccessToken",
            "invalidClientId",
            "invalidClient",
            "invalidValidTo",
            "invalidUserId",
            "failedToIssueAccessToken",
            "authorizationGrantScopeMissing",
            "invalidPublicAccessTokenKey",
            "invalidPublicAccessToken"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.DelegatedAuthorization.TokenError"
          }
        },
        "authorizationId": {
          "type": "string",
          "format": "uuid"
        },
        "errorDescription": {
          "type": "string"
        },
        "hasError": {
          "type": "boolean"
        },
        "refreshToken": {
          "$ref": "#/definitions/RefreshTokenGrant"
        },
        "tokenType": {
          "type": "string"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "AppSessionTokenResult": {
      "type": "object",
      "properties": {
        "appSessionToken": {
          "type": "string"
        },
        "appSessionTokenError": {
          "enum": [
            "none",
            "userIdRequired",
            "clientIdRequired",
            "invalidUserId",
            "invalidUserType",
            "accessDenied",
            "failedToIssueAppSessionToken",
            "invalidClientId",
            "authorizationIsNotSuccessfull"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.DelegatedAuthorization.AppSessionTokenError"
          }
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "hasError": {
          "type": "boolean"
        }
      }
    },
    "AppTokenSecretPair": {
      "type": "object",
      "properties": {
        "appToken": {
          "description": "This class is used while exchanging an app session token with oauth2 user token with API call.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        }
      }
    },
    "AuthorizationGrant": {
      "type": "object",
      "properties": {
        "grantType": {
          "enum": [
            "none",
            "jwtBearer",
            "refreshToken",
            "implicit",
            "clientCredentials"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.DelegatedAuthorization.GrantType"
          }
        }
      }
    },
    "JsonWebToken": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "IssuedToken"
        }
      ],
      "properties": {
      }
    },
    "RefreshTokenGrant": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AuthorizationGrant"
        }
      ],
      "properties": {
        "jwt": {
          "$ref": "#/definitions/JsonWebToken"
        }
      }
    },
    "SessionToken": {
      "type": "object",
      "properties": {
        "accessId": {
          "type": "string",
          "format": "uuid"
        },
        "alternateToken": {
          "description": "This is populated when user requests a compact token. The alternate token value is self describing token.",
          "type": "string"
        },
        "authorizationId": {
          "type": "string",
          "format": "uuid"
        },
        "clientId": {
          "type": "string",
          "format": "uuid"
        },
        "displayName": {
          "type": "string"
        },
        "hostAuthorizationId": {
          "type": "string",
          "format": "uuid"
        },
        "isPublic": {
          "type": "boolean"
        },
        "isValid": {
          "type": "boolean"
        },
        "publicData": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "targetAccounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uuid"
          }
        },
        "token": {
          "description": "This is computed and not returned in Get queries",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "format": "uuid"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SshPublicKey": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}