{
    "swagger": "2.0",
    "info": {
        "title": "TokenRevocation",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "rules"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/tokenrevocation/rules": {
            "put": {
                "tags": [
                    "rules"
                ],
                "summary": "CreateRules",
                "description": "",
                "operationId": "createRules",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tokenRevocationRule"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "rules"
                ],
                "summary": "ListRules",
                "description": "",
                "operationId": "listRules",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tokenRevocationRule"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/tokenrevocation/rules/{ruleId}": {
            "delete": {
                "tags": [
                    "rules"
                ],
                "summary": "DeleteRule",
                "description": "",
                "operationId": "deleteRule",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ruleId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "tokenRevocationRule": {
            "type": "object",
            "properties": {
                "createdBefore": {
                    "description": "Tokens created before date you want the rule to match",
                    "type": "string",
                    "format": "date-time"
                },
                "creationDate": {
                    "description": "Rule creation date",
                    "type": "string",
                    "format": "date-time"
                },
                "expirationDate": {
                    "description": "Rule expiration date",
                    "type": "string",
                    "format": "date-time"
                },
                "identityId": {
                    "description": "IdentityId for Identity you want the rule to match",
                    "type": "string",
                    "format": "uuid"
                },
                "ownerId": {
                    "description": "Rule owner/creator",
                    "type": "string",
                    "format": "uuid"
                },
                "ruleId": {
                    "description": "Auto Generate Id",
                    "type": "string",
                    "format": "uuid"
                },
                "scopes": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "api-Version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
            "required": true,
            "type": "string"
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}