{
  "swagger": "2.0",
  "info": {
    "title": "UserManagement",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "editUserExtensionsBootstrap"
    },
    {
      "name": "export"
    },
    {
      "name": "inviteUsersBootstrap"
    },
    {
      "name": "licenseCheck"
    },
    {
      "name": "userManagementSummary"
    },
    {
      "name": "users"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/usermanagement/edituserextensionsbootstrap": {
      "get": {
        "tags": [
          "editUserExtensionsBootstrap"
        ],
        "summary": "GetEditUserExtensionsBootstrapData",
        "description": "",
        "operationId": "getEditUserExtensionsBootstrapData",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/extension"
              }
            }
          }
        }
      }
    },
    "/_apis/usermanagement/export": {
      "get": {
        "tags": [
          "export"
        ],
        "summary": "ExportUsersToCSV",
        "description": "",
        "operationId": "exportUsersToCSV",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "stream"
            }
          }
        }
      }
    },
    "/_apis/usermanagement/inviteusersbootstrap": {
      "get": {
        "tags": [
          "inviteUsersBootstrap"
        ],
        "summary": "GetInviteFlowBootstrapData",
        "description": "",
        "operationId": "getInviteFlowBootstrapData",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/inviteFlowBootstrapData"
            }
          }
        }
      }
    },
    "/_apis/usermanagement/licensecheck": {
      "post": {
        "tags": [
          "licenseCheck"
        ],
        "summary": "GetUsersNeedingLicenseUpgrade",
        "description": "Gets the users who will get their license upgraded if added to a project with a role other than Project Manager. Also gets the users who are already in one of the selected projects.",
        "operationId": "getUsersNeedingLicenseUpgrade",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/addUsersPreCheckResponse"
            }
          }
        }
      }
    },
    "/_apis/usermanagement/usermanagementsummary": {
      "get": {
        "tags": [
          "userManagementSummary"
        ],
        "summary": "GetUsersSummary",
        "description": "",
        "operationId": "getUsersSummary",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/usersSummary"
            }
          }
        }
      }
    },
    "/_apis/usermanagement/users": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "AddUsers",
        "description": "Used to add users to a project in an account. It adds them to groups, assigns licenses, and assigns extensions.",
        "operationId": "addUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/addUsersResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "users"
        ],
        "summary": "GetUsers",
        "description": "Used to get user information in an account or team",
        "operationId": "getUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          }
        }
      }
    },
    "/_apis/usermanagement/users/{userId}": {
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "DeleteUser",
        "description": "Deletes users from an account/collection",
        "operationId": "deleteUser",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "EditUser",
        "description": "Used to assign license, extensions are projects.",
        "operationId": "editUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        }
      },
      "get": {
        "tags": [
          "users"
        ],
        "summary": "GetUser",
        "description": "Used to get a single user information in an account or team",
        "operationId": "getUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "accessLevel": {
      "type": "object",
      "properties": {
        "accountLicenseType": {
          "type": "string",
          "format": "accountLicenseType"
        },
        "licenseDisplayName": {
          "type": "string"
        },
        "licensingSource": {
          "type": "string",
          "format": "licensingSource"
        }
      }
    },
    "addUsersPreCheckResponse": {
      "type": "object",
      "properties": {
        "usersAlreadyInProject": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/user"
          }
        },
        "usersNeedingLicenseUpgrade": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/user"
          }
        }
      }
    },
    "addUsersResponse": {
      "type": "object",
      "properties": {
        "addedUsers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/user"
          }
        },
        "errorMessage": {
          "type": "string"
        },
        "failedAddedUsers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/userErrorModel"
          }
        },
        "hasErrors": {
          "type": "boolean"
        },
        "warningMessage": {
          "type": "string"
        }
      }
    },
    "extension": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "minimumLicenseRequired": {
          "type": "string",
          "format": "minimumRequiredServiceLevel"
        },
        "name": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "extensionSummaryData": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/summaryData"
        }
      ],
      "properties": {
        "extensionId": {
          "type": "string"
        },
        "extensionName": {
          "type": "string"
        },
        "isTrialVersion": {
          "type": "boolean"
        }
      }
    },
    "failedExtensionAssignment": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "ID of the extension",
          "type": "string"
        },
        "reason": {
          "description": "Reason of the assigning failure",
          "type": "string"
        }
      }
    },
    "inviteFlowBootstrapData": {
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/extensionSummaryData"
          }
        },
        "projects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/project"
          }
        }
      }
    },
    "licenseSummaryData": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/summaryData"
        }
      ],
      "properties": {
        "licenseName": {
          "type": "string"
        },
        "licenseType": {
          "enum": [
            "unknown",
            "free",
            "paid",
            "earlyAdopter",
            "stakeholder",
            "vSEnterprise",
            "vSProfessional",
            "vSTestProfessional",
            "vSPlatforms",
            "invitedSubscriber"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.UserManagement.WebApi.Internal.LicenseType"
          }
        }
      }
    },
    "project": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isProjectPermissionInherited": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "role"
          }
        }
      }
    },
    "summaryData": {
      "type": "object",
      "properties": {
        "assigned": {
          "type": "integer",
          "format": "int32"
        },
        "available": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "user": {
      "type": "object",
      "properties": {
        "accessLevel": {
          "description": "User access level Collection-level context Not required in PUT/POST/PATCH requests",
          "$ref": "#/definitions/accessLevel"
        },
        "displayName": {
          "description": "User display name All-level contexts",
          "type": "string"
        },
        "extensions": {
          "description": "User extensions Collection-level context Not required in PUT/POST/PATCH requests",
          "type": "array",
          "items": {
            "$ref": "#/definitions/userExtension"
          }
        },
        "isExternalUser": {
          "description": "User provider type true if AAD, false if MSA backed account",
          "type": "boolean"
        },
        "lastAccessedDate": {
          "description": "User last accessed date Collection-level context Not required in PUT/POST/PATCH requests",
          "type": "string",
          "format": "date-time"
        },
        "localId": {
          "description": "VSTS local Id All-level contexts",
          "type": "string",
          "format": "uuid"
        },
        "originId": {
          "description": "Email Provider Id All-level contexts",
          "type": "string",
          "format": "uuid"
        },
        "providerEmail": {
          "type": "string"
        },
        "userProjects": {
          "description": "User projects Collection-level context Not required in PUT/PATCH requests",
          "type": "array",
          "items": {
            "$ref": "#/definitions/userProject"
          }
        }
      }
    },
    "userErrorModel": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/user"
        }
      }
    },
    "userExtension": {
      "type": "object",
      "properties": {
        "extensionId": {
          "type": "string"
        },
        "isAssigned": {
          "type": "boolean"
        }
      }
    },
    "userProject": {
      "type": "object",
      "properties": {
        "isMember": {
          "type": "boolean"
        },
        "project": {
          "$ref": "#/definitions/project"
        }
      }
    },
    "usersSummary": {
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/extensionSummaryData"
          }
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/licenseSummaryData"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}