{
    "swagger": "2.0",
    "info": {
        "title": "UserManagement",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "editUserExtensionsBootstrap"
        },
        {
            "name": "inviteUsersBootstrap"
        },
        {
            "name": "licenseCheck"
        },
        {
            "name": "userManagementSummary"
        },
        {
            "name": "users"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/usermanagement/edituserextensionsbootstrap": {
            "get": {
                "tags": [
                    "editUserExtensionsBootstrap"
                ],
                "summary": "GetEditUserExtensionsBootstrapData",
                "description": "",
                "operationId": "getEditUserExtensionsBootstrapData",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/extension"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/inviteusersbootstrap": {
            "get": {
                "tags": [
                    "inviteUsersBootstrap"
                ],
                "summary": "GetInviteFlowBootstrapData",
                "description": "",
                "operationId": "getInviteFlowBootstrapData",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/inviteFlowBootstrapData"
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/licensecheck": {
            "post": {
                "tags": [
                    "licenseCheck"
                ],
                "summary": "GetUsersNeedingLicenseUpgrade",
                "description": "Gets the users who will get their license upgraded if added to a project with a role other than Stakeholder",
                "operationId": "getUsersNeedingLicenseUpgrade",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/user"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/user"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/usermanagementsummary": {
            "get": {
                "tags": [
                    "userManagementSummary"
                ],
                "summary": "GetUsersSummary",
                "description": "",
                "operationId": "getUsersSummary",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/usersSummary"
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/users": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "AddUsers",
                "description": "Used to add users to a project in an account. It adds them to groups, assigns licenses, and assigns extensions.",
                "operationId": "addUsers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/user"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/addUsersResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetUsers",
                "description": "",
                "operationId": "getUsers",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/user"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/users/{userId}": {
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "DeleteUser",
                "description": "Deletes users from an account/collection",
                "operationId": "deleteUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "users"
                ],
                "summary": "EditUser",
                "description": "Used to assign license, extensions are projects.",
                "operationId": "editUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/editUserResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetUser",
                "description": "Used to get a single user information in an account or team",
                "operationId": "getUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "accessLevel": {
            "type": "object",
            "properties": {
                "accountLicenseType": {
                    "type": "accountLicenseType"
                },
                "licenseDisplayName": {
                    "type": "string"
                },
                "licensingSource": {
                    "type": "licensingSource"
                }
            }
        },
        "addUsersResponse": {
            "type": "object",
            "properties": {
                "addedUsers": {
                    "type": "array",
                    "items": {
                        "type": "user"
                    }
                },
                "errorMessage": {
                    "type": "string"
                },
                "failedAddedUsers": {
                    "type": "array",
                    "items": {
                        "type": "userErrorModel"
                    }
                },
                "hasErrors": {
                    "type": "boolean"
                },
                "warningMessage": {
                    "type": "string"
                }
            }
        },
        "editUserResponse": {
            "type": "object",
            "properties": {
                "editUser": {
                    "$ref": "#/definitions/user"
                },
                "errorMessage": {
                    "type": "string"
                },
                "failedEditUser": {
                    "$ref": "#/definitions/userErrorModel"
                },
                "hasErrors": {
                    "type": "boolean"
                }
            }
        },
        "extension": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "minimumLicenseRequired": {
                    "type": "minimumRequiredServiceLevel"
                },
                "name": {
                    "type": "string"
                },
                "quantity": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "extensionSummaryData": {
            "type": "SummaryData",
            "properties": {
                "extensionId": {
                    "type": "string"
                },
                "extensionName": {
                    "type": "string"
                }
            }
        },
        "inviteFlowBootstrapData": {
            "type": "object",
            "properties": {
                "extensions": {
                    "type": "array",
                    "items": {
                        "type": "extensionSummaryData"
                    }
                },
                "projects": {
                    "type": "array",
                    "items": {
                        "type": "project"
                    }
                }
            }
        },
        "licenseSummaryData": {
            "type": "SummaryData",
            "properties": {
                "licenseName": {
                    "type": "string"
                },
                "licenseType": {
                    "enum": [
                        "unknown",
                        "free",
                        "paid",
                        "stakeholder",
                        "vSEnterprise",
                        "vSProfessional"
                    ]
                }
            }
        },
        "project": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "role"
                    }
                }
            }
        },
        "role": {
            "type": "object",
            "properties": {
                "groupName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "roleType": {
                    "enum": [
                        "stakeholder",
                        "reader",
                        "contributor",
                        "projectAdministrator"
                    ]
                }
            }
        },
        "summaryData": {
            "type": "object",
            "properties": {
                "assigned": {
                    "type": "integer",
                    "format": "int32"
                },
                "available": {
                    "type": "integer",
                    "format": "int32"
                },
                "total": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "user": {
            "type": "object",
            "properties": {
                "accessLevel": {
                    "description": "User access level Collection-level context Not required in PUT/POST/PATCH requests",
                    "$ref": "#/definitions/accessLevel"
                },
                "displayName": {
                    "description": "User display name All-level contexts",
                    "type": "string"
                },
                "extensions": {
                    "description": "User extensions Collection-level context Not required in PUT/POST/PATCH requests",
                    "type": "array",
                    "items": {
                        "type": "userExtension"
                    }
                },
                "id": {
                    "description": "User ID All-level contexts",
                    "type": "string",
                    "format": "uuid"
                },
                "lastAccessedDate": {
                    "description": "User last accessed date Collection-level context Not required in PUT/POST/PATCH requests",
                    "type": "string",
                    "format": "date-time"
                },
                "providerEmail": {
                    "type": "string"
                },
                "userProjects": {
                    "description": "User projects Collection-level context Not required in PUT/PATCH requests",
                    "type": "array",
                    "items": {
                        "type": "userProject"
                    }
                }
            }
        },
        "userErrorModel": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/user"
                }
            }
        },
        "userExtension": {
            "type": "object",
            "properties": {
                "extensionId": {
                    "type": "string"
                },
                "isAssigned": {
                    "type": "boolean"
                }
            }
        },
        "userProject": {
            "type": "object",
            "properties": {
                "isMember": {
                    "type": "boolean"
                },
                "project": {
                    "$ref": "#/definitions/project"
                }
            }
        },
        "usersSummary": {
            "type": "object",
            "properties": {
                "extensions": {
                    "type": "array",
                    "items": {
                        "type": "extensionSummaryData"
                    }
                },
                "licenses": {
                    "type": "array",
                    "items": {
                        "type": "licenseSummaryData"
                    }
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}