{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "UserManagement",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "editUserExtensionsBootstrap"
        },
        {
            "name": "inviteUsersBootstrap"
        },
        {
            "name": "licenseCheck"
        },
        {
            "name": "userManagementSummary"
        },
        {
            "name": "users"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/_apis/usermanagement/edituserextensionsbootstrap": {
            "get": {
                "tags": [
                    "editUserExtensionsBootstrap"
                ],
                "summary": "GetEditUserExtensionsBootstrapData",
                "description": "",
                "operationId": "getEditUserExtensionsBootstrapData",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Extension"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/inviteusersbootstrap": {
            "get": {
                "tags": [
                    "inviteUsersBootstrap"
                ],
                "summary": "GetInviteFlowBootstrapData",
                "description": "",
                "operationId": "getInviteFlowBootstrapData",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/InviteFlowBootstrapData"
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/licensecheck": {
            "post": {
                "tags": [
                    "licenseCheck"
                ],
                "summary": "GetUsersNeedingLicenseUpgrade",
                "description": "Gets the users who will get their license upgraded if added to a project with a role other than Stakeholder",
                "operationId": "getUsersNeedingLicenseUpgrade",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/usermanagementsummary": {
            "get": {
                "tags": [
                    "userManagementSummary"
                ],
                "summary": "GetUsersSummary",
                "description": "",
                "operationId": "getUsersSummary",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UsersSummary"
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/users": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "AddUsers",
                "description": "Used to add users to a project in an account. It adds them to groups, assigns licenses, and assigns extensions.",
                "operationId": "addUsers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AddUsersResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetUsers",
                "description": "",
                "operationId": "getUsers",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/usermanagement/users/{userId}": {
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "DeleteUser",
                "description": "Deletes users from an account/collection",
                "operationId": "deleteUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "users"
                ],
                "summary": "EditUser",
                "description": "Used to assign license, extensions are projects.",
                "operationId": "editUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/EditUserResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "GetUser",
                "description": "Used to get a single user information in an account or team",
                "operationId": "getUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AccessLevel": {
            "type": "object",
            "properties": {
                "accountLicenseType": {
                    "type": "AccountLicenseType"
                },
                "licenseDisplayName": {
                    "type": "string"
                },
                "licensingSource": {
                    "type": "LicensingSource"
                }
            }
        },
        "AddUsersResponse": {
            "type": "object",
            "properties": {
                "addedUsers": {
                    "type": "array",
                    "items": {
                        "type": "User"
                    }
                },
                "errorMessage": {
                    "type": "string"
                },
                "failedAddedUsers": {
                    "type": "array",
                    "items": {
                        "type": "UserErrorModel"
                    }
                },
                "hasErrors": {
                    "type": "boolean"
                },
                "warningMessage": {
                    "type": "string"
                }
            }
        },
        "EditUserResponse": {
            "type": "object",
            "properties": {
                "editUser": {
                    "$ref": "#/definitions/User"
                },
                "errorMessage": {
                    "type": "string"
                },
                "failedEditUser": {
                    "$ref": "#/definitions/UserErrorModel"
                },
                "hasErrors": {
                    "type": "boolean"
                }
            }
        },
        "Extension": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "minimumLicenseRequired": {
                    "type": "MinimumRequiredServiceLevel"
                },
                "name": {
                    "type": "string"
                },
                "quantity": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "ExtensionSummaryData": {
            "type": "SummaryData",
            "properties": {
                "extensionId": {
                    "type": "string"
                },
                "extensionName": {
                    "type": "string"
                }
            }
        },
        "InviteFlowBootstrapData": {
            "type": "object",
            "properties": {
                "extensions": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionSummaryData"
                    }
                },
                "projects": {
                    "type": "array",
                    "items": {
                        "type": "Project"
                    }
                }
            }
        },
        "LicenseSummaryData": {
            "type": "SummaryData",
            "properties": {
                "licenseName": {
                    "type": "string"
                },
                "licenseType": {
                    "enum": [
                        "unknown",
                        "free",
                        "paid",
                        "stakeholder",
                        "vSEnterprise",
                        "vSProfessional"
                    ]
                }
            }
        },
        "Project": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "Role"
                    }
                }
            }
        },
        "Role": {
            "type": "object",
            "properties": {
                "groupName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "roleType": {
                    "enum": [
                        "stakeholder",
                        "reader",
                        "contributor",
                        "projectAdministrator"
                    ]
                }
            }
        },
        "SummaryData": {
            "type": "object",
            "properties": {
                "assigned": {
                    "type": "integer",
                    "format": "int32"
                },
                "available": {
                    "type": "integer",
                    "format": "int32"
                },
                "total": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "accessLevel": {
                    "description": "User access level Collection-level context Not required in PUT/POST/PATCH requests",
                    "$ref": "#/definitions/AccessLevel"
                },
                "displayName": {
                    "description": "User display name All-level contexts",
                    "type": "string"
                },
                "extensions": {
                    "description": "User extensions Collection-level context Not required in PUT/POST/PATCH requests",
                    "type": "array",
                    "items": {
                        "type": "UserExtension"
                    }
                },
                "id": {
                    "description": "User ID All-level contexts",
                    "type": "string",
                    "format": "uuid"
                },
                "lastAccessedDate": {
                    "description": "User last accessed date Collection-level context Not required in PUT/POST/PATCH requests",
                    "type": "string",
                    "format": "date-time"
                },
                "providerEmail": {
                    "type": "string"
                },
                "userProjects": {
                    "description": "User projects Collection-level context Not required in PUT/PATCH requests",
                    "type": "array",
                    "items": {
                        "type": "UserProject"
                    }
                }
            }
        },
        "UserErrorModel": {
            "type": "object",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/User"
                }
            }
        },
        "UserExtension": {
            "type": "object",
            "properties": {
                "extensionId": {
                    "type": "string"
                },
                "isAssigned": {
                    "type": "boolean"
                }
            }
        },
        "UserProject": {
            "type": "object",
            "properties": {
                "isMember": {
                    "type": "boolean"
                },
                "project": {
                    "$ref": "#/definitions/Project"
                }
            }
        },
        "UsersSummary": {
            "type": "object",
            "properties": {
                "extensions": {
                    "type": "array",
                    "items": {
                        "type": "ExtensionSummaryData"
                    }
                },
                "licenses": {
                    "type": "array",
                    "items": {
                        "type": "LicenseSummaryData"
                    }
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}