{
  "swagger": "2.0",
  "info": {
    "title": "Utilization",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "usageSummary"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/utilization/usagesummary": {
      "get": {
        "tags": [
          "usageSummary"
        ],
        "summary": "GetUsageSummary",
        "description": "Returns the usage summary for the specified identity.",
        "operationId": "getUsageSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "queryCriteria",
            "description": "The query criteria for this request",
            "required": true,
            "type": "string",
            "format": "UsageSummaryQueryCriteria"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CommandUsage"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CommandUsage": {
      "type": "object",
      "properties": {
        "application": {
          "type": "string"
        },
        "command": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        },
        "delay": {
          "type": "integer",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "ipAddress": {
          "description": "Note: the \"p\" in IpAddress should be lowercase so that genclient creates the TypeScript REST client correctly",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "usage": {
          "type": "number",
          "format": "double"
        },
        "userAgent": {
          "type": "string"
        }
      }
    },
    "UsageSummaryQueryCriteria": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The upper bound of the query time window. Defaults to now (UTC).",
          "type": "string",
          "format": "date-time"
        },
        "startTime": {
          "description": "The lower bound of the query time window. Defaults to one hour ago (UTC).",
          "type": "string",
          "format": "date-time"
        },
        "timeBucket": {
          "description": "The size of the time buckets that data will be grouped into. Defaults to 5 minutes.",
          "type": "string",
          "format": "TimeSpan"
        },
        "userId": {
          "description": "The ID of the user to query usage summary for.",
          "type": "string",
          "format": "uuid"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}