{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "Utilization",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "usageSummary"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "_apis/utilization/usagesummary": {
            "get": {
                "tags": [
                    "usageSummary"
                ],
                "summary": "GetUsageSummary",
                "description": "Returns the usage summary for the specified identity.",
                "operationId": "getUsageSummary",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "queryCriteria",
                        "description": "The query criteria for this request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UsageSummaryQueryCriteria"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CommandUsage"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CommandUsage": {
            "type": "object",
            "properties": {
                "application": {
                    "type": "string"
                },
                "command": {
                    "type": "string"
                },
                "count": {
                    "type": "integer",
                    "format": "int64"
                },
                "delay": {
                    "type": "integer",
                    "format": "int64"
                },
                "endTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "ipAddress": {
                    "description": "Note: the \"p\" in IpAddress should be lowercase so that genclient creates the TypeScript REST client correctly",
                    "type": "string"
                },
                "startTime": {
                    "type": "string",
                    "format": "date-time"
                },
                "usage": {
                    "type": "integer",
                    "format": "int64"
                },
                "userAgent": {
                    "type": "string"
                }
            }
        },
        "UsageSummaryQueryCriteria": {
            "type": "object",
            "properties": {
                "endTime": {
                    "description": "The upper bound of the query time window. Defaults to now (UTC).",
                    "type": "string",
                    "format": "date-time"
                },
                "startTime": {
                    "description": "The lower bound of the query time window. Defaults to one hour ago (UTC).",
                    "type": "string",
                    "format": "date-time"
                },
                "timeBucket": {
                    "description": "The size of the time buckets that data will be grouped into. Defaults to 5 minutes.",
                    "type": "TimeSpan"
                },
                "userId": {
                    "description": "The ID of the user to query usage summary for.",
                    "type": "Guid"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}