{
  "swagger": "2.0",
  "info": {
    "title": "Commerce",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "offerMeter"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/commerce/offermeter": {
      "post": {
        "tags": [
          "offerMeter"
        ],
        "summary": "CreateOfferMeterDefinition",
        "description": "",
        "operationId": "createOfferMeterDefinition",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OfferMeter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "offerMeter"
        ],
        "summary": "GetOfferMeters",
        "description": "",
        "operationId": "getOfferMeters",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OfferMeter"
              }
            }
          }
        }
      }
    },
    "/_apis/commerce/offermeter/{resourceName}": {
      "get": {
        "tags": [
          "offerMeter"
        ],
        "summary": "GetOfferMeter",
        "description": "Returns resource information like status, committed quantity, included quantity, reset date, etc.",
        "operationId": "getOfferMeter",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resourceNameResolveMethod",
            "description": "Method of how to retreive the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OfferMeter"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OfferMeter": {
      "type": "object",
      "properties": {
        "absoluteMaximumQuantity": {
          "description": "Gets or sets the value of absolute maximum quantity for the resource",
          "type": "integer",
          "format": "int32"
        },
        "assignmentModel": {
          "description": "Gets or sets the user assignment model.",
          "type": "string",
          "format": "OfferMeterAssignmentModel"
        },
        "billingEntity": {
          "description": "Gets or sets the responsible entity/method for billing. Determines how this meter is handled in the backend.",
          "type": "string",
          "format": "BillingProvider"
        },
        "billingMode": {
          "description": "Gets or sets the billing mode of the resource",
          "type": "string",
          "format": "ResourceBillingMode"
        },
        "billingStartDate": {
          "description": "Gets or sets the billing start date. If TrialDays + PreviewGraceDays > then, on 'BillingStartDate' it starts the preview Grace and/or trial period.",
          "type": "string",
          "format": "date-time"
        },
        "billingState": {
          "description": "Gets or sets the state of the billing.",
          "type": "string",
          "format": "MeterBillingState"
        },
        "category": {
          "description": "Category.",
          "type": "string",
          "format": "MeterCategory"
        },
        "committedQuantity": {
          "description": "Quantity commited by the user, when resources is commitment based.",
          "type": "integer",
          "format": "int32"
        },
        "currentQuantity": {
          "description": "Quantity used by the user, when resources is pay as you go or commitment based.",
          "type": "integer",
          "format": "int32"
        },
        "fixedQuantityPlans": {
          "description": "Gets or sets the map of named quantity varied plans, plans can be purchased that vary only in the number of users included. Null if this offer meter does not support named fixed quantity plans.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "AzureOfferPlanDefinition"
          }
        },
        "galleryId": {
          "description": "Gets or sets Gallery Id.",
          "type": "string"
        },
        "includedInLicenseLevel": {
          "description": "Gets or sets the Min license level the offer is free for.",
          "type": "string",
          "format": "MinimumRequiredServiceLevel"
        },
        "includedQuantity": {
          "description": "Quantity included for free.",
          "type": "integer",
          "format": "int32"
        },
        "isFirstParty": {
          "description": "Flag to identify whether the meter is First Party or Third Party based on BillingEntity If the BillingEntity is SelfManaged, the Meter is First Party otherwise its a Third Party Meter",
          "type": "boolean"
        },
        "maximumQuantity": {
          "description": "Gets or sets the value of maximum quantity for the resource",
          "type": "integer",
          "format": "int32"
        },
        "meterId": {
          "description": "Meter Id.",
          "type": "integer",
          "format": "int32"
        },
        "minimumRequiredAccessLevel": {
          "description": "Gets or sets the minimum required access level for the meter.",
          "type": "string",
          "format": "MinimumRequiredServiceLevel"
        },
        "name": {
          "description": "Name of the resource",
          "type": "string"
        },
        "offerScope": {
          "description": "Gets or sets the offer scope.",
          "type": "string",
          "format": "OfferScope"
        },
        "platformMeterId": {
          "description": "Gets or sets the identifier representing this meter in commerce platform",
          "type": "string",
          "format": "uuid"
        },
        "previewGraceDays": {
          "description": "Gets or sets the preview grace days.",
          "type": "string",
          "format": "byte"
        },
        "renewalFrequency": {
          "description": "Gets or sets the Renewak Frequency.",
          "type": "string",
          "format": "MeterRenewalFrequecy"
        },
        "status": {
          "description": "Gets or sets the status.",
          "type": "string",
          "format": "MeterState"
        },
        "trialCycles": {
          "description": "Gets or sets the trial cycles.",
          "type": "integer",
          "format": "int32"
        },
        "trialDays": {
          "description": "Gets or sets the trial days.",
          "type": "string",
          "format": "byte"
        },
        "unit": {
          "description": "Measuring unit for this meter.",
          "type": "string"
        }
      }
    },
    "PurchasableOfferMeter": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Currecny code for meter pricing",
          "type": "string"
        },
        "estimatedRenewalDate": {
          "description": "Gets or sets the estimated renewal date.",
          "type": "string",
          "format": "date-time"
        },
        "localeCode": {
          "description": "Locale for azure subscription",
          "type": "string"
        },
        "meterPricing": {
          "description": "Gets or sets the meter pricing (GraduatedPrice)",
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "offerMeterDefinition": {
          "description": "Gets or sets the offer meter definition.",
          "$ref": "#/definitions/OfferMeter"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "type": "object",
      "allOf": [
        {
          "type": "string",
          "format": "VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.2-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}