{
  "swagger": "2.0",
  "info": {
    "title": "Commerce",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "offerMeter"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "pat": {
      "type": "basic",
      "description": "Personal access token"
    }
  },
  "security": [
    {
      "pat": []
    }
  ], 
  "paths": {
    "/_apis/commerce/offermeter": {
      "post": {
        "tags": [
          "offerMeter"
        ],
        "summary": "CreateOfferMeterDefinition",
        "description": "",
        "operationId": "createOfferMeterDefinition",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/offerMeter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "offerMeter"
        ],
        "summary": "GetOfferMeters",
        "description": "",
        "operationId": "getOfferMeters",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/offerMeter"
              }
            }
          }
        }
      }
    },
    "/_apis/commerce/offermeter/{resourceName}": {
      "get": {
        "tags": [
          "offerMeter"
        ],
        "summary": "GetOfferMeter",
        "description": "Returns resource information like status, committed quantity, included quantity, reset date, etc.",
        "operationId": "getOfferMeter",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resourceNameResolveMethod",
            "description": "Method of how to retreive the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/offerMeter"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "offerMeter": {
      "type": "object",
      "properties": {
        "absoluteMaximumQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "assignmentModel": {
          "type": "string",
          "format": "offerMeterAssignmentModel"
        },
        "billingEntity": {
          "type": "string",
          "format": "billingProvider"
        },
        "billingMode": {
          "type": "string",
          "format": "resourceBillingMode"
        },
        "billingStartDate": {
          "type": "string",
          "format": "date-time"
        },
        "billingState": {
          "type": "string",
          "format": "meterBillingState"
        },
        "category": {
          "type": "string",
          "format": "meterCategory"
        },
        "committedQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "currentQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "fixedQuantityPlans": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "azureOfferPlanDefinition"
          }
        },
        "galleryId": {
          "type": "string"
        },
        "includedInLicenseLevel": {
          "type": "string",
          "format": "minimumRequiredServiceLevel"
        },
        "includedQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "isFirstParty": {
          "type": "boolean"
        },
        "maximumQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "meterId": {
          "type": "integer",
          "format": "int32"
        },
        "minimumRequiredAccessLevel": {
          "type": "string",
          "format": "minimumRequiredServiceLevel"
        },
        "name": {
          "type": "string"
        },
        "offerScope": {
          "type": "string",
          "format": "offerScope"
        },
        "platformMeterId": {
          "type": "string",
          "format": "uuid"
        },
        "previewGraceDays": {
          "type": "string",
          "format": "byte"
        },
        "renewalFrequency": {
          "type": "string",
          "format": "meterRenewalFrequecy"
        },
        "status": {
          "type": "string",
          "format": "meterState"
        },
        "trialCycles": {
          "type": "integer",
          "format": "int32"
        },
        "trialDays": {
          "type": "string",
          "format": "byte"
        },
        "unit": {
          "type": "string"
        }
      }
    },
    "purchasableOfferMeter": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string"
        },
        "estimatedRenewalDate": {
          "type": "string",
          "format": "date-time"
        },
        "localeCode": {
          "type": "string"
        },
        "meterPricing": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "offerMeterDefinition": {
          "$ref": "#/definitions/offerMeter"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}