{
  "swagger": "2.0",
  "info": {
    "title": "VssfSdkSample",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "notes"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "pat": {
      "type": "basic",
      "description": "Personal access token"
    }
  },
  "security": [
    {
      "pat": []
    }
  ], 
  "paths": {
    "/_apis/notes": {
      "post": {
        "tags": [
          "notes"
        ],
        "summary": "CreateNote",
        "description": "",
        "operationId": "createNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/note"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/note"
            }
          }
        }
      },
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "GetNotes",
        "description": "",
        "operationId": "getNotes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        }
      }
    },
    "/_apis/notes/{noteId}": {
      "delete": {
        "tags": [
          "notes"
        ],
        "summary": "DeleteNote",
        "description": "",
        "operationId": "deleteNote",
        "parameters": [
          {
            "in": "path",
            "name": "noteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "GetNote",
        "description": "",
        "operationId": "getNote",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "noteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/note"
            }
          }
        }
      },
      "put": {
        "tags": [
          "notes"
        ],
        "summary": "UpdateNote",
        "description": "",
        "operationId": "updateNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/note"
            }
          },
          {
            "in": "path",
            "name": "noteId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/note"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "note": {
      "type": "object",
      "properties": {
        "noteId": {
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}