{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.2"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "accountMyWork"
    },
    {
      "name": "accountMyWorkRecentActivity"
    },
    {
      "name": "attachments"
    },
    {
      "name": "classificationNodes"
    },
    {
      "name": "comments"
    },
    {
      "name": "fields"
    },
    {
      "name": "queries"
    },
    {
      "name": "recyclebin"
    },
    {
      "name": "revisions"
    },
    {
      "name": "ruleEngine"
    },
    {
      "name": "templates"
    },
    {
      "name": "updates"
    },
    {
      "name": "wiql"
    },
    {
      "name": "workItemLinks"
    },
    {
      "name": "workItemRelationTypes"
    },
    {
      "name": "workItemRevisions"
    },
    {
      "name": "workItems"
    },
    {
      "name": "workitemStateColor"
    },
    {
      "name": "workItemTypeCategories"
    },
    {
      "name": "workitemTypeColor"
    },
    {
      "name": "workItemTypes"
    },
    {
      "name": "workItemTypesField"
    },
    {
      "name": "workItemTypeStates"
    },
    {
      "name": "workItemTypeTemplate"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/wit/$ruleengine": {
      "post": {
        "tags": [
          "ruleEngine"
        ],
        "summary": "EvaluateRulesOnField",
        "description": "Validates the fields values.",
        "operationId": "evaluateRulesOnField",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldsToEvaluate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/attachments": {
      "post": {
        "tags": [
          "attachments"
        ],
        "summary": "CreateAttachment",
        "description": "Creates an attachment.",
        "operationId": "createAttachment",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "uploadType",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AttachmentReference"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/attachments/{id}": {
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "GetAttachmentContent",
        "description": "Returns an attachment",
        "operationId": "getAttachmentContent",
        "produces": [
          "application/zip",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/fields": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "GetFields",
        "description": "Returns information for all fields.",
        "operationId": "getFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "expand",
            "description": "Use ExtensionFields to include extension fields, otherwise exclude them. Unless the feature flag for this parameter is enabled, extension fields are always included.",
            "required": false,
            "type": "string",
            "format": "GetFieldsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemField"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/fields/{fieldNameOrRefName}": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "GetField",
        "description": "Gets information on a specific field.",
        "operationId": "getField",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fieldNameOrRefName",
            "description": "Field simple name or reference name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemField"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/recyclebin": {
      "get": {
        "tags": [
          "recyclebin"
        ],
        "summary": "GetDeletedWorkItems",
        "description": "",
        "operationId": "getDeletedWorkItems",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemDeleteShallowReference"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/recyclebin/{id}": {
      "delete": {
        "tags": [
          "recyclebin"
        ],
        "summary": "DestroyWorkItem",
        "description": "",
        "operationId": "destroyWorkItem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "recyclebin"
        ],
        "summary": "GetDeletedWorkItem",
        "description": "",
        "operationId": "getDeletedWorkItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "recyclebin"
        ],
        "summary": "RestoreWorkItem",
        "description": "",
        "operationId": "restoreWorkItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemDeleteUpdate"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/reporting/workitemlinks": {
      "get": {
        "tags": [
          "workItemLinks"
        ],
        "summary": "GetReportingLinks",
        "description": "Get a batch of work item links",
        "operationId": "getReportingLinks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemLinksBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/reporting/workitemrevisions": {
      "get": {
        "tags": [
          "workItemRevisions"
        ],
        "summary": "ReadReportingRevisionsGet",
        "description": "Get a batch of work item revisions with the option of including deleted items",
        "operationId": "readReportingRevisionsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "A list of fields to return in work item revisions. Omit this parameter to get all reportable fields.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item revisions of all work item types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeIdentityRef",
            "description": "Return an identity reference instead of a string value for identity fields.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Specify if the deleted item should be returned.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeTagRef",
            "description": "Specify if the tag objects should be returned for System.Tags field.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestOnly",
            "description": "Return only the latest revisions of work items, skipping all historical revisions",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Return all the fields in work item revisions, including long text fields which are not returned by default",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          },
          {
            "in": "query",
            "name": "includeDiscussionChangesOnly",
            "description": "Return only the those revisions of work items, where only history field was changed",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "workItemRevisions"
        ],
        "summary": "ReadReportingRevisionsPost",
        "description": "Get a batch of work item revisions",
        "operationId": "readReportingRevisionsPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "An object that contains request settings: field filter, type filter, identity format",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsFilter"
            }
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/wiql": {
      "post": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryByWiql",
        "description": "Gets the results of the query.",
        "operationId": "queryByWiql",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query containing the wiql.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wiql"
            }
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/wiql/{id}": {
      "get": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryById",
        "description": "Gets the results of the query by id.",
        "operationId": "queryById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The query id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemrelationtypes": {
      "get": {
        "tags": [
          "workItemRelationTypes"
        ],
        "summary": "GetRelationTypes",
        "description": "",
        "operationId": "getRelationTypes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemRelationType"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemrelationtypes/{relation}": {
      "get": {
        "tags": [
          "workItemRelationTypes"
        ],
        "summary": "GetRelationType",
        "description": "Gets the work item relation types.",
        "operationId": "getRelationType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "relation",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemRelationType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitems": {
      "get": {
        "tags": [
          "workItems"
        ],
        "summary": "GetWorkItems",
        "description": "Returns a list of work items",
        "operationId": "getWorkItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          },
          {
            "in": "query",
            "name": "errorPolicy",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemErrorPolicy"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitems/{id}": {
      "delete": {
        "tags": [
          "workItems"
        ],
        "summary": "DeleteWorkItem",
        "description": "",
        "operationId": "deleteWorkItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "destroy",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "workItems"
        ],
        "summary": "GetWorkItem",
        "description": "Returns a single work item",
        "operationId": "getWorkItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "workItems"
        ],
        "summary": "UpdateWorkItem",
        "description": "",
        "operationId": "updateWorkItem",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "validateOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "bypassRules",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/comments": {
      "get": {
        "tags": [
          "comments"
        ],
        "summary": "GetComments",
        "description": "Returns specified number of comments for a work item from the specified revision",
        "operationId": "getComments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Work item id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "fromRevision",
            "description": "Revision from which comments are to be fetched",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The number of comments to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Ascending or descending by revision id",
            "required": false,
            "type": "string",
            "format": "CommentSortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemComments"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/comments/{revision}": {
      "get": {
        "tags": [
          "comments"
        ],
        "summary": "GetComment",
        "description": "Returns comment for a work item at the specified revision",
        "operationId": "getComment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revision",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemComment"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/revisions": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetRevisions",
        "description": "Returns the list of fully hydrated work item revisions, paged.",
        "operationId": "getRevisions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/revisions/{revisionNumber}": {
      "get": {
        "tags": [
          "revisions"
        ],
        "summary": "GetRevision",
        "description": "Returns a fully hydrated work item for the requested revision",
        "operationId": "getRevision",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "revisionNumber",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/updates": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "GetUpdates",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "getUpdates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemUpdate"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workItems/{id}/updates/{updateNumber}": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "GetUpdate",
        "description": "Returns a single update for a work item",
        "operationId": "getUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "updateNumber",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemUpdate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemtypetemplate": {
      "post": {
        "tags": [
          "workItemTypeTemplate"
        ],
        "summary": "UpdateWorkItemTypeDefinition",
        "description": "Add/updates a work item type",
        "operationId": "updateWorkItemTypeDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplateUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProvisioningResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/_apis/wit/workitemtypetemplate/{type}": {
      "get": {
        "tags": [
          "workItemTypeTemplate"
        ],
        "summary": "ExportWorkItemTypeDefinition",
        "description": "Export work item type",
        "operationId": "exportWorkItemTypeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "exportGlobalLists",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/classificationnodes": {
      "get": {
        "tags": [
          "classificationNodes"
        ],
        "summary": "GetRootNodes",
        "description": "",
        "operationId": "getRootNodes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemClassificationNode"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/classificationnodes/{structureGroup}/{*path}": {
      "post": {
        "tags": [
          "classificationNodes"
        ],
        "summary": "CreateOrUpdateClassificationNode",
        "description": "",
        "operationId": "createOrUpdateClassificationNode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "classificationNodes"
        ],
        "summary": "DeleteClassificationNode",
        "description": "",
        "operationId": "deleteClassificationNode",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reclassifyId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "classificationNodes"
        ],
        "summary": "GetClassificationNode",
        "description": "",
        "operationId": "getClassificationNode",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "classificationNodes"
        ],
        "summary": "UpdateClassificationNode",
        "description": "",
        "operationId": "updateClassificationNode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "structureGroup",
            "description": "",
            "required": true,
            "type": "string",
            "format": "TreeStructureGroup"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemClassificationNode"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/fields": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "GetFields",
        "description": "Returns information for all fields.",
        "operationId": "getFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Use ExtensionFields to include extension fields, otherwise exclude them. Unless the feature flag for this parameter is enabled, extension fields are always included.",
            "required": false,
            "type": "string",
            "format": "GetFieldsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemField"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/fields/{fieldNameOrRefName}": {
      "get": {
        "tags": [
          "fields"
        ],
        "summary": "GetField",
        "description": "Gets information on a specific field.",
        "operationId": "getField",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fieldNameOrRefName",
            "description": "Field simple name or reference name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemField"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/queries": {
      "get": {
        "tags": [
          "queries"
        ],
        "summary": "GetQueries",
        "description": "Retrieves all queries the user has access to in the current project",
        "operationId": "getQueries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "QueryExpand"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QueryHierarchyItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/queries/{query}": {
      "post": {
        "tags": [
          "queries"
        ],
        "summary": "CreateQuery",
        "description": "Creates a query, or moves a query.",
        "operationId": "createQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "The parent path for the query to create.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "queries"
        ],
        "summary": "DeleteQuery",
        "description": "",
        "operationId": "deleteQuery",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "queries"
        ],
        "summary": "GetQuery",
        "description": "Retrieves a single query by project and either id or path",
        "operationId": "getQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "QueryExpand"
          },
          {
            "in": "query",
            "name": "depth",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "queries"
        ],
        "summary": "UpdateQuery",
        "description": "",
        "operationId": "updateQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "undeleteDescendants",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/QueryHierarchyItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/recyclebin": {
      "get": {
        "tags": [
          "recyclebin"
        ],
        "summary": "GetDeletedWorkItems",
        "description": "",
        "operationId": "getDeletedWorkItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemDeleteShallowReference"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/recyclebin/{id}": {
      "delete": {
        "tags": [
          "recyclebin"
        ],
        "summary": "DestroyWorkItem",
        "description": "",
        "operationId": "destroyWorkItem",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "recyclebin"
        ],
        "summary": "GetDeletedWorkItem",
        "description": "",
        "operationId": "getDeletedWorkItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "recyclebin"
        ],
        "summary": "RestoreWorkItem",
        "description": "",
        "operationId": "restoreWorkItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemDeleteUpdate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemDelete"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/reporting/workitemlinks": {
      "get": {
        "tags": [
          "workItemLinks"
        ],
        "summary": "GetReportingLinks",
        "description": "Get a batch of work item links",
        "operationId": "getReportingLinks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemLinksBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/reporting/workitemrevisions": {
      "get": {
        "tags": [
          "workItemRevisions"
        ],
        "summary": "ReadReportingRevisionsGet",
        "description": "Get a batch of work item revisions with the option of including deleted items",
        "operationId": "readReportingRevisionsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "A list of fields to return in work item revisions. Omit this parameter to get all reportable fields.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "types",
            "description": "A list of types to filter the results to specific work item types. Omit this parameter to get work item revisions of all work item types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeIdentityRef",
            "description": "Return an identity reference instead of a string value for identity fields.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Specify if the deleted item should be returned.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeTagRef",
            "description": "Specify if the tag objects should be returned for System.Tags field.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestOnly",
            "description": "Return only the latest revisions of work items, skipping all historical revisions",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Return all the fields in work item revisions, including long text fields which are not returned by default",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          },
          {
            "in": "query",
            "name": "includeDiscussionChangesOnly",
            "description": "Return only the those revisions of work items, where only history field was changed",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "workItemRevisions"
        ],
        "summary": "ReadReportingRevisionsPost",
        "description": "Get a batch of work item revisions",
        "operationId": "readReportingRevisionsPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "An object that contains request settings: field filter, type filter, identity format",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsFilter"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Specifies the watermark to start the batch from. Omit this parameter to get the first batch of revisions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDateTime",
            "description": "Date/time to use as a starting point for revisions, all revisions will occur after this date/time. Cannot be used in conjunction with 'watermark' parameter.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "ReportingRevisionsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReportingWorkItemRevisionsBatch"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/wiql": {
      "post": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryByWiql",
        "description": "Gets the results of the query.",
        "operationId": "queryByWiql",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query containing the wiql.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wiql"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/wiql/{id}": {
      "get": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryById",
        "description": "Gets the results of the query by id.",
        "operationId": "queryById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The query id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitems/${type}": {
      "post": {
        "tags": [
          "workItems"
        ],
        "summary": "CreateWorkItem",
        "description": "",
        "operationId": "createWorkItem",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "validateOnly",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "bypassRules",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "workItems"
        ],
        "summary": "GetWorkItemTemplate",
        "description": "Returns a single work item from a template",
        "operationId": "getWorkItemTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "asOf",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "WorkItemExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItem"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypecategories": {
      "get": {
        "tags": [
          "workItemTypeCategories"
        ],
        "summary": "GetWorkItemTypeCategories",
        "description": "",
        "operationId": "getWorkItemTypeCategories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeCategory"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypecategories/{category}": {
      "get": {
        "tags": [
          "workItemTypeCategories"
        ],
        "summary": "GetWorkItemTypeCategory",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "getWorkItemTypeCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "category",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeCategory"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes": {
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetWorkItemTypes",
        "description": "",
        "operationId": "getWorkItemTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemType"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}": {
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetWorkItemType",
        "description": "Returns a the deltas between work item revisions",
        "operationId": "getWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemType"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}/fields/{field}": {
      "get": {
        "tags": [
          "workItemTypesField"
        ],
        "summary": "GetDependentFields",
        "description": "Returns the dependent fields for the corresponding workitem type and fieldname",
        "operationId": "getDependentFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldDependentRule"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypes/{type}/states": {
      "get": {
        "tags": [
          "workItemTypeStates"
        ],
        "summary": "GetWorkItemTypeStates",
        "description": "Returns the state names and colors for a work item type",
        "operationId": "getWorkItemTypeStates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateColor"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypetemplate": {
      "post": {
        "tags": [
          "workItemTypeTemplate"
        ],
        "summary": "UpdateWorkItemTypeDefinition",
        "description": "Add/updates a work item type",
        "operationId": "updateWorkItemTypeDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplateUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProvisioningResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/wit/workitemtypetemplate/{type}": {
      "get": {
        "tags": [
          "workItemTypeTemplate"
        ],
        "summary": "ExportWorkItemTypeDefinition",
        "description": "Export work item type",
        "operationId": "exportWorkItemTypeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "exportGlobalLists",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/templates": {
      "post": {
        "tags": [
          "templates"
        ],
        "summary": "CreateTemplate",
        "description": "Creates a template",
        "operationId": "createTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Template contents",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "GetTemplates",
        "description": "Gets template",
        "operationId": "getTemplates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workitemtypename",
            "description": "Optional, When specified returns templates for given Work item type.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTemplateReference"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/templates/{templateId}": {
      "delete": {
        "tags": [
          "templates"
        ],
        "summary": "DeleteTemplate",
        "description": "Deletes the template with given id",
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "GetTemplate",
        "description": "Gets the template with specified id",
        "operationId": "getTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "templates"
        ],
        "summary": "ReplaceTemplate",
        "description": "Replace template contents",
        "operationId": "replaceTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Template contents to replace with",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTemplate"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work_write"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/wiql": {
      "post": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryByWiql",
        "description": "Gets the results of the query.",
        "operationId": "queryByWiql",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The query containing the wiql.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wiql"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    },
    "/{project}/{team}/_apis/wit/wiql/{id}": {
      "get": {
        "tags": [
          "wiql"
        ],
        "summary": "QueryById",
        "description": "Gets the results of the query by id.",
        "operationId": "queryById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "team",
            "description": "Team ID or team name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The query id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "timePrecision",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemQueryResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.work"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "AccountMyWorkResult": {
      "type": "object",
      "properties": {
        "querySizeLimitExceeded": {
          "description": "True, when length of WorkItemDetails is same as the limit",
          "type": "boolean"
        },
        "workItemDetails": {
          "description": "WorkItem Details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountWorkWorkItemModel"
          }
        }
      }
    },
    "AccountRecentActivityWorkItemModel": {
      "type": "object",
      "properties": {
        "activityDate": {
          "description": "Date of the last Activity by the user",
          "type": "string",
          "format": "date-time"
        },
        "activityType": {
          "description": "Type of the activity",
          "enum": [
            "visited",
            "edited",
            "deleted",
            "restored"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.WorkItemRecentActivityType"
          }
        },
        "assignedTo": {
          "description": "Assigned To",
          "type": "string"
        },
        "changedDate": {
          "description": "Last changed date of the work item",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Work Item Id",
          "type": "integer",
          "format": "int32"
        },
        "identityId": {
          "description": "TeamFoundationId of the user this activity belongs to",
          "type": "string",
          "format": "uuid"
        },
        "state": {
          "description": "State of the work item",
          "type": "string"
        },
        "teamProject": {
          "description": "Team project the work item belongs to",
          "type": "string"
        },
        "title": {
          "description": "Title of the work item",
          "type": "string"
        },
        "workItemType": {
          "description": "Type of Work Item",
          "type": "string"
        }
      }
    },
    "AccountWorkWorkItemModel": {
      "type": "object",
      "properties": {
        "assignedTo": {
          "type": "string"
        },
        "changedDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string"
        },
        "teamProject": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "workItemType": {
          "type": "string"
        }
      }
    },
    "AttachmentReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldDependentRule": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "dependentFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        }
      }
    },
    "FieldsToEvaluate": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldUpdates": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "fieldValues": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rulesFrom": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentityRef": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isAadIdentity": {
          "type": "boolean"
        },
        "isContainer": {
          "type": "boolean"
        },
        "profileUrl": {
          "type": "string"
        },
        "uniqueName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "IdentityReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "type": "object",
      "allOf": [
        {
          "type": "array"
        }
      ],
      "properties": {
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "rel": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ProjectWorkItemStateColors": {
      "type": "object",
      "properties": {
        "projectName": {
          "description": "Project name",
          "type": "string"
        },
        "workItemTypeStateColors": {
          "description": "State colors for all work item type in a project",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeStateColors"
          }
        }
      }
    },
    "ProvisioningResult": {
      "type": "object",
      "properties": {
        "provisioningImportEvents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryHierarchyItem": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/WorkItemTrackingResource"
        }
      ],
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryHierarchyItem"
          }
        },
        "clauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemFieldReference"
          }
        },
        "createdBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "filterOptions": {
          "enum": [
            "workItems",
            "linksOneHopMustContain",
            "linksOneHopMayContain",
            "linksOneHopDoesNotContain",
            "linksRecursiveMustContain",
            "linksRecursiveMayContain",
            "linksRecursiveDoesNotContain"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.LinkQueryMode"
          }
        },
        "hasChildren": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isFolder": {
          "type": "boolean"
        },
        "isInvalidSyntax": {
          "type": "boolean"
        },
        "isPublic": {
          "type": "boolean"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IdentityReference"
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time"
        },
        "linkClauses": {
          "$ref": "#/definitions/WorkItemQueryClause"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "queryType": {
          "enum": [
            "flat",
            "tree",
            "oneHop"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.WebApi.Models.QueryType"
          }
        },
        "sortColumns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemQuerySortColumn"
[...]
