{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.0"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "behaviors"
    },
    {
      "name": "controls"
    },
    {
      "name": "fields"
    },
    {
      "name": "groups"
    },
    {
      "name": "layout"
    },
    {
      "name": "lists"
    },
    {
      "name": "pages"
    },
    {
      "name": "states"
    },
    {
      "name": "workItemTypes"
    },
    {
      "name": "workItemTypesFields"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processdefinitions/{processId}/behaviors": {
      "post": {
        "tags": [
          "behaviors"
        ],
        "summary": "CreateBehavior",
        "description": "",
        "operationId": "CreateBehavior",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BehaviorCreateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "behaviors"
        ],
        "summary": "GetBehaviors",
        "description": "",
        "operationId": "GetBehaviors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BehaviorModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/behaviors/{behaviorId}": {
      "delete": {
        "tags": [
          "behaviors"
        ],
        "summary": "DeleteBehavior",
        "description": "",
        "operationId": "DeleteBehavior",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "behaviors"
        ],
        "summary": "GetBehavior",
        "description": "",
        "operationId": "GetBehavior",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "behaviors"
        ],
        "summary": "ReplaceBehavior",
        "description": "",
        "operationId": "ReplaceBehavior",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BehaviorReplaceModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "behaviorId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BehaviorModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/fields/{field}": {
      "post": {
        "tags": [
          "fields"
        ],
        "summary": "CreateField",
        "description": "",
        "operationId": "CreateField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "fields"
        ],
        "summary": "UpdateField",
        "description": "",
        "operationId": "UpdateField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldUpdate"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FieldModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes": {
      "post": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "CreateWorkItemType",
        "description": "",
        "operationId": "CreateWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetWorkItemTypes",
        "description": "",
        "operationId": "GetWorkItemTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefName}": {
      "delete": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "DeleteWorkItemType",
        "description": "",
        "operationId": "DeleteWorkItemType",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetWorkItemType",
        "description": "",
        "operationId": "GetWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "expand",
            "description": "",
            "required": false,
            "type": "string",
            "format": "GetWorkItemTypeExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "UpdateWorkItemType",
        "description": "",
        "operationId": "UpdateWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeUpdateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout": {
      "get": {
        "tags": [
          "layout"
        ],
        "summary": "GetFormLayout",
        "description": "",
        "operationId": "GetFormLayout",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FormLayout"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/groups/{groupId}/controls": {
      "post": {
        "tags": [
          "controls"
        ],
        "summary": "AddControlToGroup",
        "description": "Creates a control, giving it an id, and adds it to the group. So far, the only controls that don't know how to generate their own ids are control extensions.",
        "operationId": "AddControlToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/groups/{groupId}/controls/{controlId}": {
      "patch": {
        "tags": [
          "controls"
        ],
        "summary": "EditControl",
        "description": "",
        "operationId": "EditControl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "controls"
        ],
        "summary": "RemoveControlFromGroup",
        "description": "",
        "operationId": "RemoveControlFromGroup",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "controls"
        ],
        "summary": "SetControlInGroup",
        "description": "Puts a control withan id into a group. Controls backed by fields can generate their own id.",
        "operationId": "SetControlInGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Control"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "controlId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromGroupId",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Control"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages": {
      "post": {
        "tags": [
          "pages"
        ],
        "summary": "AddPage",
        "description": "",
        "operationId": "AddPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Page"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "pages"
        ],
        "summary": "EditPage",
        "description": "",
        "operationId": "EditPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Page"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}": {
      "delete": {
        "tags": [
          "pages"
        ],
        "summary": "RemovePage",
        "description": "",
        "operationId": "RemovePage",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}/sections/{sectionId}/groups": {
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "AddGroup",
        "description": "",
        "operationId": "AddGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/layout/pages/{pageId}/sections/{sectionId}/groups/{groupId}": {
      "patch": {
        "tags": [
          "groups"
        ],
        "summary": "EditGroup",
        "description": "",
        "operationId": "EditGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "summary": "RemoveGroup",
        "description": "",
        "operationId": "RemoveGroup",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "put": {
        "tags": [
          "groups"
        ],
        "summary": "SetGroupInPage",
        "description": "",
        "operationId": "SetGroupInPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "sectionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "groupId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromPageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "removeFromSectionId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/states": {
      "post": {
        "tags": [
          "states"
        ],
        "summary": "CreateStateDefinition",
        "description": "",
        "operationId": "CreateStateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "states"
        ],
        "summary": "GetStateDefinitions",
        "description": "",
        "operationId": "GetStateDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemStateResultModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefName}/states/{stateId}": {
      "delete": {
        "tags": [
          "states"
        ],
        "summary": "DeleteStateDefinition",
        "description": "",
        "operationId": "DeleteStateDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "states"
        ],
        "summary": "GetStateDefinition",
        "description": "",
        "operationId": "GetStateDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "states"
        ],
        "summary": "HideStateDefinition",
        "description": "",
        "operationId": "HideStateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HideStateModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "states"
        ],
        "summary": "UpdateStateDefinition",
        "description": "",
        "operationId": "UpdateStateDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemStateInputModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "stateId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemStateResultModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefNameForBehaviors}/behaviors": {
      "post": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "AddBehaviorToWorkItemType",
        "description": "",
        "operationId": "AddBehaviorToWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      },
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetBehaviorsForWorkItemType",
        "description": "",
        "operationId": "GetBehaviorsForWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeBehavior"
              }
            }
         }
        }
      },
      "patch": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "UpdateBehaviorToWorkItemType",
        "description": "",
        "operationId": "UpdateBehaviorToWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workitemtypes/{witRefNameForBehaviors}/behaviors/{behaviorRefName}": {
      "get": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "GetBehaviorForWorkItemType",
        "description": "",
        "operationId": "GetBehaviorForWorkItemType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeBehavior"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "workItemTypes"
        ],
        "summary": "RemoveBehaviorFromWorkItemType",
        "description": "",
        "operationId": "RemoveBehaviorFromWorkItemType",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForBehaviors",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "behaviorRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefNameForFields}/fields": {
      "post": {
        "tags": [
          "workItemTypesFields"
        ],
        "summary": "AddFieldToWorkItemType",
        "description": "",
        "operationId": "AddFieldToWorkItemType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
          },
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
         }
        }
      },
      "get": {
        "tags": [
          "workItemTypesFields"
        ],
        "summary": "GetWorkItemTypeFields",
        "description": "",
        "operationId": "GetWorkItemTypeFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkItemTypeFieldModel"
              }
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/{processId}/workItemTypes/{witRefNameForFields}/fields/{fieldRefName}": {
      "get": {
        "tags": [
          "workItemTypesFields"
        ],
        "summary": "GetWorkItemTypeField",
        "description": "",
        "operationId": "GetWorkItemTypeField",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fieldRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemTypeFieldModel"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "workItemTypesFields"
        ],
        "summary": "RemoveFieldFromWorkItemType",
        "description": "",
        "operationId": "RemoveFieldFromWorkItemType",
        "parameters": [
          {
            "in": "path",
            "name": "processId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "witRefNameForFields",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fieldRefName",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      }
    },
    "/_apis/work/processdefinitions/lists": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "GetListsMetadata",
        "description": "",
        "operationId": "GetListsMetadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PickListMetadataModel"
              }
            }
         }
        }
      },
      "post": {
        "tags": [
          "lists"
        ],
        "summary": "CreateList",
        "description": "",
        "operationId": "CreateList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      }
    },
    "/_apis/work/processdefinitions/lists/{listId}": {
      "delete": {
        "tags": [
          "lists"
        ],
        "summary": "DeleteList",
        "description": "",
        "operationId": "DeleteList",
        "parameters": [
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "GetList",
        "description": "",
        "operationId": "GetList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      },
      "put": {
        "tags": [
          "lists"
        ],
        "summary": "UpdateList",
        "description": "",
        "operationId": "UpdateList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
          },
          {
            "in": "path",
            "name": "listId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PickListModel"
            }
         }
        }
      }
    }
  },
  "definitions": {
    "BehaviorCreateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color",
          "type": "string"
        },
        "inherits": {
          "description": "Parent behavior id",
          "type": "string"
        },
        "name": {
          "description": "Name of the behavior",
          "type": "string"
        }
      }
    },
    "BehaviorModel": {
      "description": "",
      "type": "object",
      "properties": {
        "abstract": {
          "description": "Is the behavior abstract (i.e. can not be associated with any work item type)",
          "type": "boolean"
        },
        "color": {
          "description": "Color",
          "type": "string"
        },
        "description": {
          "description": "Description",
          "type": "string"
        },
        "id": {
          "description": "Behavior Id",
          "type": "string"
        },
        "inherits": {
          "description": "Parent behavior reference",
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "name": {
          "description": "Behavior Name",
          "type": "string"
        },
        "overridden": {
          "description": "Is the behavior overrides a behavior from system process",
          "type": "boolean"
        },
        "rank": {
          "description": "Rank",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "BehaviorReplaceModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "description": "Color",
          "type": "string"
        },
        "name": {
          "description": "Behavior Name",
          "type": "string"
        }
      }
    },
    "Control": {
      "description": "Represent a control in the form.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the control.",
          "$ref": "#/definitions/WitContribution"
        },
        "controlType": {
          "description": "Type of the control.",
          "type": "string"
        },
        "height": {
          "description": "Height of the control, for html controls.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the field",
          "type": "string"
        },
        "metadata": {
          "description": "Inner text of the control.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "A value indicating if the control is readonly.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the control should be hidden or not.",
          "type": "boolean"
        },
        "watermark": {
          "description": "Watermark text for the textbox.",
          "type": "string"
        }
      }
    },
    "Extension": {
      "description": "Represents the extensions part of the layout",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "pickList": {
          "$ref": "#/definitions/PickListMetadataModel"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "FieldUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "FormLayout": {
      "description": "",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Gets and sets extensions list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "pages": {
          "description": "Top level tabs of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          }
        },
        "systemControls": {
          "description": "Headers controls of the layout.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        }
      }
    },
    "Group": {
      "description": "Represent a group in the form that holds controls in it.",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the group.",
          "$ref": "#/definitions/WitContribution"
        },
        "controls": {
          "description": "Controls to be put in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Control"
          }
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "Label for the group.",
          "type": "string"
        },
        "order": {
          "description": "Order in which the group should appear in the section.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "visible": {
          "description": "A value indicating if the group should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "HideStateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "hidden": {
          "type": "boolean"
        }
      }
    },
    "Page": {
      "description": "",
      "type": "object",
      "properties": {
        "contribution": {
          "description": "Contribution for the page.",
          "$ref": "#/definitions/WitContribution"
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "inherited": {
          "description": "A value indicating whether this layout node has been inherited from a parent layout.  This is expected to only be only set by the combiner.",
          "type": "boolean"
        },
        "isContribution": {
          "description": "A value indicating if the layout node is contribution are not.",
          "readOnly": true,
          "type": "boolean"
        },
        "label": {
          "description": "The label for the page.",
          "type": "string"
        },
        "locked": {
          "description": "A value indicating whether any user operations are permitted on this page and the contents of this page",
          "type": "boolean"
        },
        "order": {
          "description": "Order in which the page should appear in the layout.",
          "type": "integer",
          "format": "int32"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        },
        "pageType": {
          "description": "The icon for the page.",
          "enum": [
            "custom",
            "history",
            "links",
            "attachments"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.PageType"
          }
        },
        "sections": {
          "description": "The sections of the page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Section"
          }
        },
        "visible": {
          "description": "A value indicating if the page should be hidden or not.",
          "type": "boolean"
        }
      }
    },
    "PickListItemModel": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PickListMetadataModel": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isSuggested": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PickListModel": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PickListMetadataModel"
        }
      ],
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PickListItemModel"
          }
        }
      }
    },
    "Section": {
      "description": "",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "id": {
          "description": "The id for the layout node.",
          "type": "string"
        },
        "overridden": {
          "description": "A value indicating whether this layout node has been overridden by a child layout.",
          "type": "boolean"
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WitContribution": {
      "description": "",
      "type": "object",
      "properties": {
        "contributionId": {
          "description": "The id for the contribution.",
          "type": "string"
        },
        "height": {
          "description": "The height for the contribution.",
          "type": "integer",
          "format": "int32"
        },
        "inputs": {
          "description": "A dictionary holding key value pairs for contribution inputs.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "showOnDeletedWorkItem": {
          "description": "A value indicating if the contribution should be show on deleted workItem.",
          "type": "boolean"
        }
      }
    },
    "WorkItemBehaviorReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemStateInputModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        }
      }
    },
    "WorkItemStateResultModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32"
        },
        "stateCategory": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeBehavior": {
      "description": "",
      "type": "object",
      "properties": {
        "behavior": {
          "$ref": "#/definitions/WorkItemBehaviorReference"
        },
        "isDefault": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeFieldModel": {
      "description": "",
      "type": "object",
      "properties": {
        "allowGroups": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "pickList": {
          "$ref": "#/definitions/PickListMetadataModel"
        },
        "readOnly": {
          "type": "boolean"
        },
        "referenceName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "string",
            "integer",
            "dateTime",
            "plainText",
            "html",
            "treePath",
            "history",
            "double",
            "guid",
            "boolean",
            "identity",
            "picklistInteger",
            "picklistString",
            "picklistDouble"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.FieldType"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeModel": {
      "description": "",
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemTypeBehavior"
          }
        },
        "class": {
          "enum": [
            "system",
            "derived",
            "custom"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessDefinitions.WebApi.Models.WorkItemTypeClass"
          }
        },
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "inherits": {
          "description": "Parent WIT Id/Internal ReferenceName that it inherits from",
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "layout": {
          "$ref": "#/definitions/FormLayout"
        },
        "name": {
          "type": "string"
        },
        "states": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkItemStateResultModel"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "WorkItemTypeUpdateModel": {
      "description": "",
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "isDisabled": {
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.0-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}