{
  "swagger": "2.0",
  "info": {
    "title": "WorkItemTracking",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "3.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "basePath": "/",
  "tags": [
    {
      "name": "processes"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/work/processadmin/processes": {
      "post": {
        "tags": [
          "processes"
        ],
        "summary": "ImportProcessTemplate",
        "description": "Records supplied process template and triggers promote",
        "operationId": "importProcessTemplate",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Stream to upload",
            "required": true,
            "schema": {
              "type": "string",
              "format": "stream"
            }
          },
          {
            "in": "query",
            "name": "ignoreWarnings",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/processImportResult"
            }
          }
        }
      }
    },
    "/_apis/work/processadmin/processes/{id}": {
      "get": {
        "tags": [
          "processes"
        ],
        "summary": "ExportProcessTemplate",
        "description": "Returns requested process template",
        "operationId": "exportProcessTemplate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "stream"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "processImportResult": {
      "type": "object",
      "properties": {
        "helpUrl": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "promoteJobId": {
          "type": "string",
          "format": "uuid"
        },
        "validationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/validationIssue"
          }
        }
      }
    },
    "processPromoteStatus": {
      "type": "object",
      "properties": {
        "complete": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "message": {
          "type": "string"
        },
        "pending": {
          "type": "integer",
          "format": "int32"
        },
        "remainingRetries": {
          "type": "integer",
          "format": "int32"
        },
        "successful": {
          "type": "boolean"
        }
      }
    },
    "validationIssue": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "issueType": {
          "enum": [
            "warning",
            "error"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.WorkItemTracking.ProcessTemplate.WebApi.Models.ValidationIssueType"
          }
        },
        "line": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '3.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}