{
    "$schema": "http://swagger.io/v2/schema.json#",
    "swagger": "2.0",
    "info": {
        "title": "WorkItemTracking",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "behaviors"
        },
        {
            "name": "fields"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/work/processes/{processId}/behaviors": {
            "get": {
                "tags": [
                    "behaviors"
                ],
                "summary": "GetBehaviors",
                "description": "",
                "operationId": "getBehaviors",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "processId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "GetBehaviorsExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WorkItemBehavior"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/work/processes/{processId}/behaviors/{behaviorRefName}": {
            "get": {
                "tags": [
                    "behaviors"
                ],
                "summary": "GetBehavior",
                "description": "",
                "operationId": "getBehavior",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "processId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "behaviorRefName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "description": "",
                        "required": false,
                        "type": "GetBehaviorsExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/WorkItemBehavior"
                        }
                    }
                }
            }
        },
        "/_apis/work/processes/{processId}/fields": {
            "get": {
                "tags": [
                    "fields"
                ],
                "summary": "GetFields",
                "description": "",
                "operationId": "getFields",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "processId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FieldModel"
                            }
                        }
                    }
                }
            }
        },
        "/_apis/work/processes/{processId}/workItemTypes/{witRefName}/fields": {
            "get": {
                "tags": [
                    "fields"
                ],
                "summary": "GetWorkItemTypeFields",
                "description": "",
                "operationId": "getWorkItemTypeFields",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "processId",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "path",
                        "name": "witRefName",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FieldModel"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "FieldModel": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "string",
                        "integer",
                        "dateTime",
                        "plainText",
                        "html",
                        "treePath",
                        "history",
                        "double",
                        "guid",
                        "boolean",
                        "identity",
                        "picklistInteger",
                        "picklistString",
                        "picklistDouble"
                    ]
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "WorkItemBehavior": {
            "type": "object",
            "properties": {
                "abstract": {
                    "type": "boolean"
                },
                "color": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "fields": {
                    "type": "array",
                    "items": {
                        "type": "WorkItemBehaviorField"
                    }
                },
                "id": {
                    "type": "string"
                },
                "inherits": {
                    "$ref": "#/definitions/WorkItemBehaviorReference"
                },
                "name": {
                    "type": "string"
                },
                "overriden": {
                    "type": "boolean"
                },
                "rank": {
                    "type": "integer",
                    "format": "int32"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "WorkItemBehaviorField": {
            "type": "object",
            "properties": {
                "behaviorFieldId": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "WorkItemBehaviorReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}