{
    "swagger": "2.0",
    "info": {
        "title": "WorkItemTracking",
        "description": "",
        "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
        "contact": {
            "name": "nugetvss",
            "email": "nugetvss@microsoft.com"
        },
        "license": {
            "name": "MICROSOFT SOFTWARE LICENSE TERMS",
            "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
        },
        "version": "3.1"
    },
    "host": "fabrikam-fiber-inc.visualstudio.com",
    "basePath": "/",
    "tags": [
        {
            "name": "processes"
        }
    ],
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "pat": {
            "type": "basic",
            "description": "Personal access token"
        }
    },
    "security": [
        {
            "pat": []
        }
    ], 
    "paths": {
        "/_apis/work/processadmin/processes": {
            "post": {
                "tags": [
                    "processes"
                ],
                "summary": "ImportProcessTemplate",
                "description": "Records supplied process template and triggers promote",
                "operationId": "importProcessTemplate",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Stream to upload",
                        "required": true,
                        "type": "Stream"
                    },
                    {
                        "in": "query",
                        "name": "ignoreWarnings",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProcessImportResult"
                        }
                    }
                }
            }
        },
        "/_apis/work/processadmin/processes/{action}/{id}": {
            "get": {
                "tags": [
                    "processes"
                ],
                "summary": "ExportProcessTemplate",
                "description": "Returns requested process template",
                "operationId": "exportProcessTemplate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "Stream"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ProcessExportResult": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "ProcessImportResult": {
            "type": "object",
            "properties": {
                "helpUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "promoteJobId": {
                    "type": "string",
                    "format": "uuid"
                },
                "validationResults": {
                    "type": "array",
                    "items": {
                        "type": "ValidationIssue"
                    }
                }
            }
        },
        "ProcessPromoteStatus": {
            "type": "object",
            "properties": {
                "complete": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "message": {
                    "type": "string"
                },
                "pending": {
                    "type": "integer",
                    "format": "int32"
                },
                "remainingRetries": {
                    "type": "integer",
                    "format": "int32"
                },
                "successful": {
                    "type": "boolean"
                }
            }
        },
        "ProcessTemplateModel": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "ignoreWarnings": {
                    "type": "boolean"
                }
            }
        },
        "ValidationIssue": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "file": {
                    "type": "string"
                },
                "issueType": {
                    "enum": [
                        "warning",
                        "error"
                    ]
                },
                "line": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Visual Studio Team Services REST APIs",
        "url": "https://www.visualstudio.com/docs/integrate/api/overview"
    } 
}