{
  "swagger": "2.0",
  "info": {
    "title": "Feed",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "5.0-preview"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Packaging",
  "x-ms-vss-resource-area-id": "7ab4e64e-c4d8-4f50-ae73-5ef2e21642a5",
  "basePath": "/",
  "tags": [
    {
      "name": "Badge"
    },
    {
      "name": "Feed Changes"
    },
    {
      "name": "Feeds"
    },
    {
      "name": "Global Permissions"
    },
    {
      "name": "Package Changes"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Permissions"
    },
    {
      "name": "Recycle Bin Packages"
    },
    {
      "name": "Recycle Bin Versions"
    },
    {
      "name": "Retention Policies"
    },
    {
      "name": "Versions"
    },
    {
      "name": "Views"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feedchanges": {
      "get": {
        "tags": [
          "Feed Changes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feedChanges",
        "x-ms-vss-method": "GetFeedChanges",
        "x-ms-preview": true,
        "description": "Utility method to iterate through all changes to every package in every feed in an account.  This method allows a caller to discover package pushes, package deprecations, package deletions, and all of the other actions that are possible with packages in a feed.",
        "operationId": "Get Feed Changes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "If true, get changes for all feeds including deleted feeds. The default value is false.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A continuation token which acts as a bookmark to a previously retrieved change. This token allows the user to continue retrieving changes in batches, picking up where the previous batch left off. If specified, all the changes that occur strictly after the token will be returned. If not specified or 0, iteration will start with the first change.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "batchSize",
            "description": "Number of package changes to fetch. The default value is 1000. The maximum value is 2000.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedChangesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feedchanges/{feedId}": {
      "get": {
        "tags": [
          "Feed Changes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feedChanges",
        "x-ms-vss-method": "GetFeedChange",
        "x-ms-preview": true,
        "description": "Utility method to poll for settings changes to a specific feed.",
        "operationId": "Get Feed Change",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "The GUID of a feed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedChange"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds": {
      "post": {
        "tags": [
          "Feeds"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feeds",
        "x-ms-vss-method": "CreateFeed",
        "x-ms-preview": true,
        "description": "Creates a feed.  A feed is a container for various types of package protocols.",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A JSON object containing both required and optional attributes for the feed. The only required parameter is the name.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Feeds"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feeds",
        "x-ms-vss-method": "GetFeeds",
        "x-ms-preview": true,
        "description": "Get all of the feeds in an account.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "feedRole",
            "description": "Either Administrator(4), Contributor(3), or Reader(2)",
            "required": false,
            "type": "string",
            "format": "FeedRole"
          },
          {
            "in": "query",
            "name": "includeDeletedUpstreams",
            "description": "Return deleted upstreams in the upstreamSources array.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feed"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}": {
      "delete": {
        "tags": [
          "Feeds"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feeds",
        "x-ms-vss-method": "DeleteFeed",
        "x-ms-preview": true,
        "description": "Remove a feed.",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and Release view GUID in the form feedGuid@releaseViewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Feeds"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feeds",
        "x-ms-vss-method": "GetFeed",
        "x-ms-preview": true,
        "description": "Get the settings for a specific feed.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and release view GUID in the form feedGuid@releaseviewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeDeletedUpstreams",
            "description": "Include upstreams that have been deleted in the response.  Default is false.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Feeds"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "feeds",
        "x-ms-vss-method": "UpdateFeed",
        "x-ms-preview": true,
        "description": "Use this to change any of the attributes of a feed.",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A JSON object containing the feed's settings that should be changed.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedUpdate"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and Release view GUID in the form feedGuid@releaseViewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packagechanges": {
      "get": {
        "tags": [
          "Package Changes"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "packageChanges",
        "x-ms-vss-method": "GetPackageChanges",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "batchSize",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageChangesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packages": {
      "get": {
        "tags": [
          "Packages"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "packages",
        "x-ms-vss-method": "GetPackages",
        "x-ms-preview": true,
        "description": "Get details about all of the packages in the feed.  Use the various filters to include or exclude information from the result set.",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and Release view GUID in the form feedGuid@releaseviewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "protocolType",
            "description": "Must be one of Npm, NuGet, or Maven.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "packageNameQuery",
            "description": "Will return packages from the feed that contain the string provided.  Characters in the string must conform to the package name constraints.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "normalizedPackageName",
            "description": "Obsolete.  This used for legacy scenarios and may be removed in future versions.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "Return REST Urls with the response.  Default is True.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeAllVersions",
            "description": "Return all versions of the package in the response.  The default behavior is to only return the latest version.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": ">This parameter is only applicable for NuGet packages and when it is set to False it means that delisted packages versions will be returned.  Setting it to false for any other protocol will result in a 404.  This parameter is most useful when it is used in conjunction with includeAllVersions which will return a result set containing all delisted packages.  Default is unset.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "getTopPackageVersions",
            "description": "Changes the behavior of $top and $skip to return all versions of each package up to $top. Must be used in conjunction with includeAllVersions=true",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isRelease",
            "description": "This parameter is only applicable for NuGet packages and most useful when it is used in conjunction with includeAllVersions.  When set to False, a result set containing unreleased packages will be returned.  Default is True.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDescription",
            "description": "Return the description for every version of each package in the response.  Default is False.  Cannot be used in conjunction with includeAllVersions.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Get the top N packages (or package versions with getTopPackageVersions=true)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skip N packages (or package versions with getTopPackageVersions=true)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Return deleted or unpublished versions of packages in the response. Default is False.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isCached",
            "description": "Obsolete.  This used for legacy scenarios and may be removed in future versions.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "directUpstreamId",
            "description": "Filter results to return packages from a specific upstream.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Package"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/packages/{packageId}": {
      "get": {
        "tags": [
          "Packages"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "packages",
        "x-ms-vss-method": "GetPackage",
        "x-ms-preview": true,
        "description": "Get details about a specific package.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and Release view GUID in the form feedGuid@releaseviewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "Must be the GUID package.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeAllVersions",
            "description": "Return all versions of the package in the response.  The default behavior is to only return the latest version.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "Return REST Urls with the response.  Default is True.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "This parameter is only applicable for NuGet packages and when it is set to False it means that delisted packages versions will be returned.  Setting it to false for any other protocol will result in a 404.  This parameter is most useful when it is used in conjunction with includeAllVersions which will return a result set containing all delisted packages.  Default is unset.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isRelease",
            "description": "This parameter is only applicable for NuGet packages and most useful when it is used in conjunction with includeAllVersions.  When set to False, a result set containing unreleased packages will be returned.  Default is True.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDeleted",
            "description": "Return deleted or unpublished versions of packages in the response. Default is False.",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeDescription",
            "description": "Return the description for every version of each package in the response.  Default is False.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "GetPackageVersions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PackageVersion"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions/{packageVersionId}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "GetPackageVersion",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isListed",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "isDeleted",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PackageVersion"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "permissions",
        "x-ms-vss-method": "GetFeedPermissions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeIds",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "excludeInheritedPermissions",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Permissions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "permissions",
        "x-ms-vss-method": "SetFeedPermissions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Set Feed Permissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages": {
      "get": {
        "tags": [
          "Recycle Bin Packages"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "recycleBinPackages",
        "x-ms-vss-method": "GetRecycleBinPackages",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "protocolType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "packageNameQuery",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeAllVersions",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Package"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}": {
      "get": {
        "tags": [
          "Recycle Bin Packages"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "recycleBinPackages",
        "x-ms-vss-method": "GetRecycleBinPackage",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}/Versions": {
      "get": {
        "tags": [
          "Recycle Bin Versions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "recycleBinVersions",
        "x-ms-vss-method": "GetRecycleBinPackageVersions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RecycleBinPackageVersion"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}/Versions/{packageVersionId}": {
      "get": {
        "tags": [
          "Recycle Bin Versions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "recycleBinVersions",
        "x-ms-vss-method": "GetRecycleBinPackageVersion",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "packageVersionId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "includeUrls",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RecycleBinPackageVersion"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/retentionpolicies": {
      "delete": {
        "tags": [
          "Retention Policies"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "retentionPolicies",
        "x-ms-vss-method": "DeleteFeedRetentionPolicies",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Retention Policies"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "retentionPolicies",
        "x-ms-vss-method": "GetFeedRetentionPolicies",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedRetentionPolicy"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Retention Policies"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "retentionPolicies",
        "x-ms-vss-method": "SetFeedRetentionPolicies",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Set Feed Retention Policies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedRetentionPolicy"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedRetentionPolicy"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/views": {
      "post": {
        "tags": [
          "Views"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "views",
        "x-ms-vss-method": "CreateFeedView",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Views"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "views",
        "x-ms-vss-method": "GetFeedViews",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedView"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/Feeds/{feedId}/views/{viewId}": {
      "delete": {
        "tags": [
          "Views"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "views",
        "x-ms-vss-method": "DeleteFeedView",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Views"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "views",
        "x-ms-vss-method": "GetFeedView",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Views"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "views",
        "x-ms-vss-method": "UpdateFeedView",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "viewId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FeedView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/globalpermissions": {
      "get": {
        "tags": [
          "Global Permissions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "globalPermissions",
        "x-ms-vss-method": "GetGlobalPermissions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Global Permissions"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "globalPermissions",
        "x-ms-vss-method": "SetGlobalPermissions",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Set Global Permissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GlobalPermission"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/public/packaging/Feeds/{feedId}/Packages/{packageId}/badge": {
      "get": {
        "tags": [
          "Badge"
        ],
        "x-ms-docs-override-version": "5.0-preview.1",
        "x-ms-vss-resource": "badge",
        "x-ms-vss-method": "GetBadge",
        "x-ms-preview": true,
        "description": "Utility method to generate a SVG badge for the latest version of a package.  The generated SVG is typically used as the image in an HTML link which takes users to the feed containing the package to accelerate discovery and consumption.",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "Can either be a feed name, a feed GUID, or a feed GUID and Release View GUID in the form feedGuid@releaseViewGuid.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageId",
            "description": "The GUID of the package.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version-preview.1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Feed": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FeedCore"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "badgesEnabled": {
          "description": "If set, this feed supports generation of package badges.",
          "type": "boolean"
        },
        "defaultViewId": {
          "description": "The view that the feed administrator has indicated is the default experience for readers.",
          "type": "string",
          "format": "uuid"
        },
        "deletedDate": {
          "description": "The date that this feed was deleted.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "A description for the feed.  Descriptions must not exceed 255 characters.",
          "type": "string"
        },
        "hideDeletedPackageVersions": {
          "description": "If set, feed will hide all deleted/unpublished versions",
          "type": "boolean"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedPermission"
          }
        },
        "upstreamEnabledChangedDate": {
          "description": "If set, time that the UpstreamEnabled property was changed. Will be null if UpstreamEnabled was never changed after Feed creation.",
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "description": "The URL of the base feed in GUID form.",
          "type": "string"
        }
      }
    },
    "FeedChange": {
      "description": "A container that encapsulates the state of the feed after a create, update, or delete.",
      "type": "object",
      "properties": {
        "changeType": {
          "description": "The type of operation.",
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType",
            "values": [
              {
                "value": "addOrUpdate",
                "description": ""
              },
              {
                "value": "delete",
                "description": ""
              }
            ]
          }
        },
        "feed": {
          "description": "The state of the feed after a after a create, update, or delete operation completed.",
          "$ref": "#/definitions/Feed"
        },
        "feedContinuationToken": {
          "description": "A token that identifies the next change in the log of changes.",
          "type": "integer",
          "format": "int64"
        },
        "latestPackageContinuationToken": {
          "description": "A token that identifies the latest package change for this feed.  This can be used to quickly determine if there have been any changes to packages in a specific feed.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedChangesResponse": {
      "description": "A result set containing the feed changes for the range that was requested.",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "description": "The number of changes in this set.",
          "type": "integer",
          "format": "int32"
        },
        "feedChanges": {
          "description": "A container that encapsulates the state of the feed after a create, update, or delete.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedChange"
          }
        },
        "nextFeedContinuationToken": {
          "description": "When iterating through the log of changes this value indicates the value that should be used for the next continuation token.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FeedCore": {
      "description": "An object that contains all of the settings for a specific feed.",
      "type": "object",
      "properties": {
        "capabilities": {
          "enum": [
            "none",
            "upstreamV2",
            "defaultCapabilities"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedCapabilities",
            "values": [
              {
                "value": "none",
                "description": "No flags exist for this feed"
              },
              {
                "value": "upstreamV2",
                "description": "This feed can serve packages from upstream sources Upstream packages must be manually promoted to views"
              },
              {
                "value": "defaultCapabilities",
                "description": "The capabilities given to a newly created feed"
              }
            ]
          }
        },
        "fullyQualifiedId": {
          "description": "This will either be the feed GUID or the feed GUID and view GUID depending on how the feed was accessed.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "type": "string"
        },
        "id": {
          "description": "A GUID that uniquely identifies this feed.",
          "type": "string",
          "format": "uuid"
        },
        "isReadOnly": {
          "description": "If set, all packages in the feed are immutable.  It is important to note that feed views are immutable; therefore, this flag will always be set for views.",
          "type": "boolean"
        },
        "name": {
          "description": "A name for the feed. feed names must follow these rules: <list type=\"bullet\"><item><description> Must not exceed 64 characters </description></item><item><description> Must not contain whitespaces </description></item><item><description> Must not start with an underscore or a period </description></item><item><description> Must not end with a period </description></item><item><description> Must not contain any of the following illegal characters: <![CDATA[ @, ~, ;, {, }, \\, +, =, <, >, |, /, \\\\, ?, :, &, $, *, \\\", #, [, ] ]]></description></item></list>",
          "type": "string"
        },
        "upstreamEnabled": {
          "description": "OBSOLETE: This should always be true.  Setting to false will override all sources in UpstreamSources.",
          "type": "boolean"
        },
        "upstreamSources": {
          "description": "A list of sources that this feed will fetch packages from.  An empty list indicates that this feed will not search any additional sources for packages.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpstreamSource"
          }
        },
        "view": {
          "description": "Feed view",
          "$ref": "#/definitions/FeedView"
        },
        "viewId": {
          "type": "string",
          "format": "uuid"
        },
        "viewName": {
          "type": "string"
        }
      }
    },
    "FeedPermission": {
      "description": "",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the identity",
          "type": "string"
        },
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "identityId": {
          "type": "string",
          "format": "uuid"
        },
        "role": {
          "description": "The role for this identity. Administrators have total control over the feed. Contributors can do anything to packages in the feed including adding new packages; however, they may not modify feed settings. Readers can only read packages and view settings.",
          "enum": [
            "custom",
            "none",
            "reader",
            "contributor",
            "administrator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedRole",
            "values": [
              {
                "value": "custom",
                "description": "Unsupported"
              },
              {
                "value": "none",
                "description": "Unsupported"
              },
              {
                "value": "reader",
                "description": "Readers can only read packages and view settings."
              },
              {
                "value": "contributor",
                "description": "Contributors can do anything to packages in the feed including adding new packages; however, they may not modify feed settings."
              },
              {
                "value": "administrator",
                "description": "Administrators have total control over the feed."
              }
            ]
          }
        }
      }
    },
    "FeedRetentionPolicy": {
      "description": "",
      "type": "object",
      "properties": {
        "ageLimitInDays": {
          "type": "integer",
          "format": "int32"
        },
        "countLimit": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FeedUpdate": {
      "description": "",
      "type": "object",
      "properties": {
        "allowUpstreamNameConflict": {
          "description": "If set, the feed will allow upload of packages that exist on the upstream",
          "type": "boolean"
        },
        "badgesEnabled": {
          "description": "If set, this feed supports generation of package badges.",
          "type": "boolean"
        },
        "defaultViewId": {
          "description": "The view that the feed administrator has indicated is the default experience for readers.",
          "type": "string",
          "format": "uuid"
        },
        "description": {
          "description": "A description for the feed.  Descriptions must not exceed 255 characters.",
          "type": "string"
        },
        "hideDeletedPackageVersions": {
          "description": "If set, feed will hide all deleted/unpublished versions",
          "type": "boolean"
        },
        "id": {
          "description": "A GUID that uniquely identifies this feed.",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "description": "A name for the feed. feed names must follow these rules: <list type=\"bullet\"><item><description> Must not exceed 64 characters </description></item><item><description> Must not contain whitespaces </description></item><item><description> Must not start with an underscore or a period </description></item><item><description> Must not end with a period </description></item><item><description> Must not contain any of the following illegal characters: <![CDATA[ @, ~, ;, {, }, \\, +, =, <, >, |, /, \\\\, ?, :, &, $, *, \\\", #, [, ] ]]></description></item></list>",
          "type": "string"
        },
        "upstreamEnabled": {
          "description": "OBSOLETE: If set, the feed can proxy packages from an upstream feed",
          "type": "boolean"
        },
        "upstreamSources": {
          "description": "A list of sources that this feed will fetch packages from.  An empty list indicates that this feed will not search any additional sources for packages.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpstreamSource"
          }
        }
      }
    },
    "FeedView": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "none",
            "release",
            "implicit"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedViewType",
            "values": [
              {
                "value": "none",
                "description": ""
              },
              {
                "value": "release",
                "description": ""
              },
              {
                "value": "implicit",
                "description": ""
              }
            ]
          }
        },
        "url": {
          "type": "string"
        },
        "visibility": {
          "enum": [
            "private",
            "collection",
            "organization"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.FeedVisibility",
            "values": [
              {
                "value": "private",
                "description": "Only accessible by the permissions explicitly set by the feed administrator"
              },
              {
                "value": "collection",
                "description": "Feed is accessible by all the valid users present in the collection where the feed resides"
              },
              {
                "value": "organization",
                "description": "Feed is accessible by all the valid users present in the organization where the feed resides"
              }
            ]
          }
        }
      }
    },
    "GlobalPermission": {
      "description": "",
      "type": "object",
      "properties": {
        "identityDescriptor": {
          "$ref": "#/definitions/IdentityDescriptor"
        },
        "role": {
          "enum": [
            "custom",
            "none",
            "feedCreator"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.GlobalRole",
            "values": [
              {
                "value": "custom",
                "description": ""
              },
              {
                "value": "none",
                "description": ""
              },
              {
                "value": "feedCreator",
                "description": ""
              }
            ]
          }
        }
      }
    },
    "IdentityDescriptor": {
      "description": "An Identity descriptor is a wrapper for the identity type (Windows SID, Passport) along with a unique identifier such as the SID or PUID.",
      "type": "object",
      "properties": {
        "identifier": {
          "description": "The unique identifier for this identity, not exceeding 256 chars, which will be persisted.",
          "type": "string"
        },
        "identityType": {
          "description": "Type of descriptor (for example, Windows, Passport, etc.).",
          "type": "string"
        }
      }
    },
    "JsonPatchDocument": {
      "description": "The JSON model for JSON Patch Operations",
      "type": "object",
      "allOf": [
        {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonPatchOperation"
          }
        }
      ],
      "properties": {}
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation",
            "values": [
              {
                "value": "add",
                "description": ""
              },
              {
                "value": "remove",
                "description": ""
              },
              {
                "value": "replace",
                "description": ""
              },
              {
                "value": "move",
                "description": ""
              },
              {
                "value": "copy",
                "description": ""
              },
              {
                "value": "test",
                "description": ""
              }
            ]
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "MinimalPackageVersion": {
      "description": "",
      "type": "object",
      "properties": {
        "directUpstreamSourceId": {
          "type": "string",
          "format": "uuid"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCachedVersion": {
          "type": "boolean"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isLatest": {
          "type": "boolean"
        },
        "isListed": {
          "type": "boolean"
        },
        "normalizedVersion": {
          "description": "The normalized version representing the identity of a package version",
          "type": "string"
        },
        "packageDescription": {
          "type": "string"
        },
        "publishDate": {
          "type": "string",
          "format": "date-time"
        },
        "storageId": {
          "type": "string"
        },
        "version": {
          "description": "The display version of the package version",
          "type": "string"
        },
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedView"
          }
        }
      }
    },
    "Package": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "isCached": {
          "type": "boolean"
        },
        "name": {
          "description": "The display name of the package",
          "type": "string"
        },
        "normalizedName": {
          "description": "The normalized name representing the identity of this package for this protocol type",
          "type": "string"
        },
        "protocolType": {
          "type": "string"
        },
        "starCount": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        }
      }
    },
    "PackageChange": {
      "description": "",
      "type": "object",
      "properties": {
        "package": {
          "$ref": "#/definitions/Package"
        },
        "packageVersionChange": {
          "$ref": "#/definitions/PackageVersionChange"
        }
      }
    },
    "PackageChangesResponse": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "nextPackageContinuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageChange"
          }
        }
      }
    },
    "PackageDependency": {
      "description": "",
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "versionRange": {
          "type": "string"
        }
      }
    },
    "PackageFile": {
      "description": "",
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "name": {
          "type": "string"
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        }
      }
    },
    "PackageVersion": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MinimalPackageVersion"
        }
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "author": {
          "type": "string"
        },
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageDependency"
          }
        },
        "description": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageFile"
          }
        },
        "otherVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageVersion"
          }
        },
        "protocolMetadata": {
          "$ref": "#/definitions/ProtocolMetadata"
        },
        "sourceChain": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpstreamSource"
          }
        },
        "summary": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PackageVersionChange": {
      "description": "",
      "type": "object",
      "properties": {
        "changeType": {
          "enum": [
            "addOrUpdate",
            "delete"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.ChangeType",
            "values": [
              {
                "value": "addOrUpdate",
                "description": ""
              },
              {
                "value": "delete",
                "description": ""
              }
            ]
          }
        },
        "continuationToken": {
          "type": "integer",
          "format": "int64"
        },
        "packageVersion": {
          "$ref": "#/definitions/PackageVersion"
        }
      }
    },
    "ProtocolMetadata": {
      "description": "",
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "schemaVersion": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RecycleBinPackageVersion": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PackageVersion"
        }
      ],
      "properties": {
        "scheduledPermanentDeleteDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "UpstreamSource": {
      "description": "",
      "type": "object",
      "properties": {
        "deletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "internalUpstreamCollectionId": {
          "type": "string",
          "format": "uuid"
        },
        "internalUpstreamFeedId": {
          "type": "string",
          "format": "uuid"
        },
        "internalUpstreamViewId": {
          "type": "string",
          "format": "uuid"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "protocol": {
          "type": "string"
        },
        "upstreamSourceType": {
          "enum": [
            "public",
            "internal"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Feed.WebApi.UpstreamSourceType",
            "values": [
              {
                "value": "public",
                "description": ""
              },
              {
                "value": "internal",
                "description": ""
              }
            ]
          }
        }
      }
    },
    "VssJsonCollectionWrapper": {
      "description": "This class is used to serialized collections as a single JSON object on the wire, to avoid serializing JSON arrays directly to the client, which can be a security hole",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/VssJsonCollectionWrapperBase"
        }
      ],
      "properties": {
        "value": {
          "type": "string",
          "format": "T"
        }
      }
    },
    "VssJsonCollectionWrapperBase": {
      "description": "",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "parameters": {
    "api-Version-preview.1": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '5.0-preview.1' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
    },
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging_write": "Grants the ability to create and read feeds and packages.",
        "vso.packaging": "Grants the ability to read feeds and packages.",
        "vso.packaging_manage": "Grants the ability to create, read, update, and delete feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}