{
  "swagger": "2.0",
  "info": {
    "title": "Build",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Build",
  "x-ms-vss-resource-area-id": "965220d5-5bb9-42cf-8d67-9b146df2a5a4",
  "basePath": "/",
  "tags": [
    {
      "name": "Artifacts"
    },
    {
      "name": "Badge",
      "description": "Controller to handle all REST calls against build definition badges"
    },
    {
      "name": "Buildbadge",
      "description": "Controller to handle all REST calls against build definition badges"
    },
    {
      "name": "Builds"
    },
    {
      "name": "Controllers",
      "description": "Controller to handle all REST calls against XAML build controllers"
    },
    {
      "name": "Definitions"
    },
    {
      "name": "Folders",
      "description": "Controller to handle all REST calls against build definition folders"
    },
    {
      "name": "Metrics",
      "description": "Controller to handle all REST calls against build metrics"
    },
    {
      "name": "Options",
      "description": "Controller to handle all REST calls against build option definitions"
    },
    {
      "name": "Properties"
    },
    {
      "name": "Report",
      "description": "Controller to get build reports"
    },
    {
      "name": "Resource Usage"
    },
    {
      "name": "Revisions",
      "description": "Controller to handle all REST calls against build definition revisions"
    },
    {
      "name": "Settings",
      "description": "Controller to handle all REST calls against settings"
    },
    {
      "name": "Tags",
      "description": "Controller to handle all REST calls against definition tags"
    },
    {
      "name": "Templates",
      "description": "Controller to handle all REST calls against build definition templates"
    },
    {
      "name": "Timeline",
      "description": "Controller to handle all REST calls against build timelines"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/build/controllers": {
      "get": {
        "tags": [
          "Controllers"
        ],
        "x-ms-vss-resource": "controllers",
        "x-ms-vss-method": "GetBuildControllers",
        "x-ms-preview": true,
        "description": "Gets controller, optionally filtered by name",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildController"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/_apis/build/controllers/{controllerId}": {
      "get": {
        "tags": [
          "Controllers"
        ],
        "x-ms-vss-resource": "controllers",
        "x-ms-vss-method": "GetBuildController",
        "x-ms-preview": true,
        "description": "Gets a controller",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "controllerId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildController"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/_apis/build/resourceusage": {
      "get": {
        "tags": [
          "Resource Usage"
        ],
        "x-ms-vss-resource": "resourceUsage",
        "x-ms-vss-method": "GetResourceUsage",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildResourceUsage"
            }
         }
        }
      }
    },
    "/_apis/build/settings": {
      "get": {
        "tags": [
          "Settings"
        ],
        "x-ms-vss-resource": "settings",
        "x-ms-vss-method": "GetBuildSettings",
        "x-ms-preview": true,
        "description": "Gets the build settings",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildSettings"
            }
         }
        }
      },
      "patch": {
        "tags": [
          "Settings"
        ],
        "x-ms-vss-resource": "settings",
        "x-ms-vss-method": "UpdateBuildSettings",
        "x-ms-preview": true,
        "description": "Updates the build settings",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildSettings"
            }
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildSettings"
            }
         }
        }
      }
    },
    "/_apis/public/build/definitions/{project}/{definitionId}/badge": {
      "get": {
        "tags": [
          "Badge"
        ],
        "x-ms-vss-resource": "badge",
        "x-ms-vss-method": "GetBadge",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        }
      }
    },
    "/{project}/_apis/build/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "GetBuilds",
        "x-ms-preview": true,
        "description": "Gets builds",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitions",
            "description": "A comma-delimited list of definition ids",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "query",
            "name": "queues",
            "description": "A comma-delimited list of queue ids",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "query",
            "name": "buildNumber",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "maxFinishTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "requestedFor",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reasonFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildReason"
          },
          {
            "in": "query",
            "name": "statusFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildStatus"
          },
          {
            "in": "query",
            "name": "resultFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildResult"
          },
          {
            "in": "query",
            "name": "tagFilters",
            "description": "A comma-delimited list of tags",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "properties",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of builds to retrieve",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "maxBuildsPerDefinition",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "deletedFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "QueryDeletedOption"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "BuildQueryOrder"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "buildIds",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Build"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "QueueBuild",
        "x-ms-preview": true,
        "description": "Queues a build",
        "operationId": "Queue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ignoreWarnings",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "checkInTicket",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Build"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "UpdateBuilds",
        "x-ms-preview": true,
        "description": "Update a batch of builds",
        "operationId": "Update Builds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Build"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Build"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}": {
      "delete": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "DeleteBuild",
        "x-ms-preview": true,
        "description": "Deletes a build",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "GetBuild",
        "x-ms-preview": true,
        "description": "Gets a build",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "A comma-delimited list of properties to include in the results",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Build"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "builds",
        "x-ms-vss-method": "UpdateBuild",
        "x-ms-preview": true,
        "description": "Updates a build",
        "operationId": "Update Build",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Build"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/artifacts": {
      "post": {
        "tags": [
          "Artifacts"
        ],
        "x-ms-vss-resource": "artifacts",
        "x-ms-vss-method": "CreateArtifact",
        "x-ms-preview": true,
        "description": "Associates an artifact with a build",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildArtifact"
            }
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildArtifact"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Artifacts"
        ],
        "x-ms-vss-resource": "artifacts",
        "x-ms-vss-method": "GetArtifacts",
        "x-ms-preview": true,
        "description": "Gets all artifacts for a build",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildArtifact"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/artifacts/{artifactName}": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "x-ms-vss-resource": "artifacts",
        "x-ms-vss-method": "GetArtifact",
        "x-ms-preview": true,
        "description": "Gets a specific artifact for a build",
        "operationId": "Get",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "artifactName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildArtifact"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/changes": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "changes",
        "x-ms-vss-method": "GetBuildChanges",
        "x-ms-preview": true,
        "description": "Gets the changes associated with a build",
        "operationId": "Get Build Changes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeSourceChange",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Change"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/logs": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "logs",
        "x-ms-vss-method": "GetBuildLogs",
        "x-ms-preview": true,
        "description": "Gets logs for a build",
        "operationId": "Get Build Logs",
        "produces": [
          "application/zip",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildLog"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/logs/{logId}": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "logs",
        "x-ms-vss-method": "GetBuildLog",
        "x-ms-preview": true,
        "description": "Gets a log",
        "operationId": "Get Build Log",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "logId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "startLine",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "endLine",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/properties": {
      "get": {
        "tags": [
          "Properties"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "GetBuildProperties",
        "x-ms-preview": true,
        "description": "Gets properties for a build.",
        "operationId": "Get Build Properties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "The build id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter to specific properties. Defaults to all properties.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PropertiesCollection"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Properties"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "UpdateBuildProperties",
        "x-ms-preview": true,
        "description": "Updates properties for a build.",
        "operationId": "Update Build Properties",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "The build id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PropertiesCollection"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/report": {
      "get": {
        "tags": [
          "Report"
        ],
        "x-ms-vss-resource": "report",
        "x-ms-vss-method": "GetBuildReport",
        "x-ms-preview": true,
        "description": "Gets report for a build",
        "operationId": "Get",
        "produces": [
          "text/html",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildReportMetadata"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/tags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "AddBuildTags",
        "x-ms-preview": true,
        "description": "Adds tag to a build",
        "operationId": "Add Build Tags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "GetBuildTags",
        "x-ms-preview": true,
        "description": "Gets the tags for a build",
        "operationId": "Get Build Tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/tags/{tag}": {
      "put": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "AddBuildTag",
        "x-ms-preview": true,
        "description": "Adds a tag to a build",
        "operationId": "Add Build Tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "DeleteBuildTag",
        "x-ms-preview": true,
        "description": "Deletes a tag from a build",
        "operationId": "Delete Build Tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/timeline/{timelineId}": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "x-ms-vss-resource": "timeline",
        "x-ms-vss-method": "GetBuildTimeline",
        "x-ms-preview": true,
        "description": "Gets details for a build",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "timelineId",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "changeId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "planId",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Timeline"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/builds/{buildId}/workitems": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "workitems",
        "x-ms-vss-method": "GetBuildWorkItemsRefs",
        "x-ms-preview": true,
        "description": "Gets the work item ids associated with a build",
        "operationId": "Get Build Work Items Refs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of workitems to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "workitems",
        "x-ms-vss-method": "GetBuildWorkItemsRefsFromCommits",
        "x-ms-preview": true,
        "description": "Gets the work item ids associated with build commits",
        "operationId": "Get Build Work Items Refs From Commits",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "buildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of workitems to return, also number of commits to consider if commitids are not sent",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceRef"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/changes": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "changes",
        "x-ms-vss-method": "GetChangesBetweenBuilds",
        "x-ms-preview": true,
        "description": "Gets the changes associated between given builds",
        "operationId": "Get Changes Between Builds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromBuildId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "toBuildId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of changes to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Change"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/build/definitions": {
      "post": {
        "tags": [
          "Definitions"
        ],
        "x-ms-vss-resource": "definitions",
        "x-ms-vss-method": "CreateDefinition",
        "x-ms-preview": true,
        "description": "Creates a new definition",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "definitionToCloneId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "definitionToCloneRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Definitions"
        ],
        "x-ms-vss-resource": "definitions",
        "x-ms-vss-method": "GetDefinitions",
        "x-ms-preview": true,
        "description": "Gets definitions, optionally filtered by name",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repositoryType",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "DefinitionQueryOrder"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "definitionIds",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (int32)"
          },
          {
            "in": "query",
            "name": "path",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "builtAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "notBuiltAfter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "includeAllProperties",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "taskIdFilter",
            "description": "",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildDefinitionReference"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}": {
      "delete": {
        "tags": [
          "Definitions"
        ],
        "x-ms-vss-resource": "definitions",
        "x-ms-vss-method": "DeleteDefinition",
        "x-ms-preview": true,
        "description": "Deletes a definition and all associated builds",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Definitions"
        ],
        "x-ms-vss-resource": "definitions",
        "x-ms-vss-method": "GetDefinition",
        "x-ms-preview": true,
        "description": "Gets a definition, optionally at a specific revision",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "propertyFilters",
            "description": "",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "in": "query",
            "name": "includeLatestBuilds",
            "description": "",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Definitions"
        ],
        "x-ms-vss-resource": "definitions",
        "x-ms-vss-method": "UpdateDefinition",
        "x-ms-preview": true,
        "description": "Updates an existing definition",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionId",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "secretsSourceDefinitionRevision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "x-ms-vss-resource": "metrics",
        "x-ms-vss-method": "GetDefinitionMetrics",
        "x-ms-preview": true,
        "description": "Gets metrics of a definition",
        "operationId": "Get Definition Metrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildMetric"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}/properties": {
      "get": {
        "tags": [
          "Properties"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "GetDefinitionProperties",
        "x-ms-preview": true,
        "description": "Gets properties for a definition.",
        "operationId": "Get Definition Properties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "The definition id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter to specific properties. Defaults to all properties.",
            "required": false,
            "type": "string",
            "format": "array (string)"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PropertiesCollection"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Properties"
        ],
        "x-ms-vss-resource": "properties",
        "x-ms-vss-method": "UpdateDefinitionProperties",
        "x-ms-preview": true,
        "description": "Updates properties for a definition.",
        "operationId": "Update Definition Properties",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "The definition id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PropertiesCollection"
            }
         }
        }
      }
    },
    "/{project}/_apis/build/definitions/{definitionId}/revisions": {
      "get": {
        "tags": [
          "Revisions"
        ],
        "x-ms-vss-resource": "revisions",
        "x-ms-vss-method": "GetDefinitionRevisions",
        "x-ms-preview": true,
        "description": "Gets revisions of a definition",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildDefinitionRevision"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/{DefinitionId}/tags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "AddDefinitionTags",
        "x-ms-preview": true,
        "description": "Adds multiple tags to a definition",
        "operationId": "Add Definition Tags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "GetDefinitionTags",
        "x-ms-preview": true,
        "description": "Gets the tags for a definition",
        "operationId": "Get Definition Tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "revision",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}": {
      "put": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "AddDefinitionTag",
        "x-ms-preview": true,
        "description": "Adds a tag to a definition",
        "operationId": "Add Definition Tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "DeleteDefinitionTag",
        "x-ms-preview": true,
        "description": "Deletes a tag from a definition",
        "operationId": "Delete Definition Tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "definitionId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "tag",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "GetTemplates",
        "x-ms-preview": true,
        "description": "Gets definition templates",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildDefinitionTemplate"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/definitions/templates/{templateId}": {
      "delete": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "DeleteTemplate",
        "x-ms-preview": true,
        "description": "Deletes a definition template",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "GetTemplate",
        "x-ms-preview": true,
        "description": "Gets definition template filtered by id",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Id of the requested template.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildDefinitionTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Templates"
        ],
        "x-ms-vss-resource": "templates",
        "x-ms-vss-method": "SaveTemplate",
        "x-ms-preview": true,
        "description": "Saves a definition template",
        "operationId": "Save Template",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildDefinitionTemplate"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildDefinitionTemplate"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build_execute"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/folders/{*path}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "x-ms-vss-resource": "folders",
        "x-ms-vss-method": "GetFolders",
        "x-ms-preview": true,
        "description": "Gets folders",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "queryOrder",
            "description": "",
            "required": false,
            "type": "string",
            "format": "FolderQueryOrder"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Folder"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/build/folders/{path}": {
      "put": {
        "tags": [
          "Folders"
        ],
        "x-ms-vss-resource": "folders",
        "x-ms-vss-method": "CreateFolder",
        "x-ms-preview": true,
        "description": "Creates a new folder",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
         }
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "x-ms-vss-resource": "folders",
        "x-ms-vss-method": "DeleteFolder",
        "x-ms-preview": true,
        "description": "Deletes a definition folder for given folder name and path and all it's existing definitions and it's corresponding builds",
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "x-ms-vss-resource": "folders",
        "x-ms-vss-method": "UpdateFolder",
        "x-ms-preview": true,
        "description": "Updates an existing folder at given  existing path",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          },
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
         }
        }
      }
    },
    "/{project}/_apis/build/metrics/{metricAggregationType}": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "x-ms-vss-resource": "metrics",
        "x-ms-vss-method": "GetProjectMetrics",
        "x-ms-preview": true,
        "description": "Gets metrics of a project",
        "operationId": "Get Project Metrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "metricAggregationType",
            "description": "",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minMetricsTime",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildMetric"
              }
            }
         }
        }
      }
    },
    "/{project}/_apis/build/options": {
      "get": {
        "tags": [
          "Options"
        ],
        "x-ms-vss-resource": "options",
        "x-ms-vss-method": "GetBuildOptionDefinitions",
        "x-ms-preview": true,
        "description": "Gets all build option definitions",
        "operationId": "List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "x-ms-required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BuildOptionDefinition"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/repos/{repoType}/badge": {
      "get": {
        "tags": [
          "Buildbadge"
        ],
        "x-ms-vss-resource": "buildbadge",
        "x-ms-vss-method": "GetBuildBadge",
        "x-ms-preview": true,
        "description": "",
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repoType",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "repoId",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "branchName",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "x-ms-vss-resource": "tags",
        "x-ms-vss-method": "GetTags",
        "x-ms-preview": true,
        "description": "Gets a list of tags in the project",
        "operationId": "Get Tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.build"
            ]
          }
        ]
      }
    },
    "/{project}/_apis/build/workitems": {
      "get": {
        "tags": [
          "Builds"
        ],
        "x-ms-vss-resource": "workitems",
        "x-ms-vss-method": "GetWorkItemsBetweenBuilds",
        "x-ms-preview": true,
        "description": "Gets all the work item ids inbetween fromBuildId to toBuildId",
        "operationId": "Get Work Items Between Builds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "description": "Project ID or project name",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fromBuildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "toBuildId",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "The maximum number of workitems to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceRef"
              }
            }
         }
        }
      }
    }
  },
  "definitions": {
    "AgentPoolQueue": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "pool": {
          "description": "The pool used by this queue.",
          "$ref": "#/definitions/TaskAgentPoolReference"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "AgentPoolQueueReference": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceReference"
        }
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AgentPoolQueueTarget": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PhaseTarget"
        }
      ],
      "properties": {
        "demands": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "executionOptions": {
          "description": "The execution options.",
          "$ref": "#/definitions/AgentTargetExecutionOptions"
        },
        "queue": {
          "description": "The queue.",
          "$ref": "#/definitions/AgentPoolQueue"
        }
      }
    },
    "AgentTargetExecutionOptions": {
      "description": "",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ArtifactResource": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "data": {
          "description": "The type-specific resource data. For example, \"#/10002/5/drop\", \"$/drops/5\", \"\\\\myshare\\myfolder\\mydrops\\5\"",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Link to the resource. This might include things like query parameters to download as a zip file",
          "type": "string"
        },
        "properties": {
          "description": "Properties of Artifact Resource",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the resource: File container, version control folder, UNC path, etc.",
          "type": "string"
        },
        "url": {
          "description": "Link to the resource",
          "type": "string"
        }
      }
    },
    "AuthorizationHeader": {
      "description": "",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Build": {
      "description": "Data representation of a build",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "buildNumber": {
          "description": "Build number/name of the build",
          "type": "string"
        },
        "buildNumberRevision": {
          "description": "Build number revision",
          "type": "integer",
          "format": "int32"
        },
        "controller": {
          "description": "The build controller. This should only be set if the definition type is Xaml.",
          "$ref": "#/definitions/BuildController"
        },
        "definition": {
          "description": "The definition associated with the build",
          "$ref": "#/definitions/DefinitionReference"
        },
        "deleted": {
          "description": "Indicates whether the build has been deleted.",
          "type": "boolean"
        },
        "deletedBy": {
          "description": "Process or person that deleted the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "deletedDate": {
          "description": "Date the build was deleted",
          "type": "string",
          "format": "date-time"
        },
        "deletedReason": {
          "description": "Description of how the build was deleted",
          "type": "string"
        },
        "demands": {
          "description": "Demands",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Demand"
          }
        },
        "finishTime": {
          "description": "Time that the build was completed",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Id of the build",
          "type": "integer",
          "format": "int32"
        },
        "keepForever": {
          "type": "boolean"
        },
        "lastChangedBy": {
          "description": "Process or person that last changed the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "lastChangedDate": {
          "description": "Date the build was last changed",
          "type": "string",
          "format": "date-time"
        },
        "logs": {
          "description": "Log location of the build",
          "$ref": "#/definitions/BuildLogReference"
        },
        "orchestrationPlan": {
          "description": "Orchestration plan for the build",
          "$ref": "#/definitions/TaskOrchestrationPlanReference"
        },
        "parameters": {
          "description": "Parameters for the build",
          "type": "string"
        },
        "plans": {
          "description": "Orchestration plans associated with the build (build, cleanup)",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskOrchestrationPlanReference"
          }
        },
        "priority": {
          "description": "The build's priority",
          "enum": [
            "low",
            "belowNormal",
            "normal",
            "aboveNormal",
            "high"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueuePriority"
          }
        },
        "project": {
          "description": "The team project",
          "$ref": "#/definitions/TeamProjectReference"
        },
        "properties": {
          "$ref": "#/definitions/PropertiesCollection"
        },
        "quality": {
          "description": "Quality of the xaml build (good, bad, etc.)",
          "type": "string"
        },
        "queue": {
          "description": "The queue. This should only be set if the definition type is Build.",
          "$ref": "#/definitions/AgentPoolQueue"
        },
        "queueOptions": {
          "description": "Queue option of the build.",
          "enum": [
            "none",
            "doNotRun"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.QueueOptions"
          }
        },
        "queuePosition": {
          "description": "The current position of the build in the queue",
          "type": "integer",
          "format": "int32"
        },
        "queueTime": {
          "description": "Time that the build was queued",
          "type": "string",
          "format": "date-time"
        },
        "reason": {
          "description": "Reason that the build was created",
          "enum": [
            "none",
            "manual",
            "individualCI",
            "batchedCI",
            "schedule",
            "userCreated",
            "validateShelveset",
            "checkInShelveset",
            "pullRequest",
            "triggered",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildReason"
          }
        },
        "repository": {
          "description": "The repository",
          "$ref": "#/definitions/BuildRepository"
        },
        "requestedBy": {
          "description": "The identity that queued the build",
          "$ref": "#/definitions/IdentityRef"
        },
        "requestedFor": {
          "description": "The identity on whose behalf the build was queued",
          "$ref": "#/definitions/IdentityRef"
        },
        "result": {
          "description": "The build result",
          "enum": [
            "none",
            "succeeded",
            "partiallySucceeded",
            "failed",
            "canceled"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildResult"
          }
        },
        "retainedByRelease": {
          "description": "Specifies if Build should be retained by Release",
          "type": "boolean"
        },
        "sourceBranch": {
          "description": "Source branch",
          "type": "string"
        },
        "sourceVersion": {
          "description": "Source version",
          "type": "string"
        },
        "startTime": {
          "description": "Time that the build was started",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "Status of the build",
          "enum": [
            "none",
            "inProgress",
            "completed",
            "cancelling",
            "postponed",
            "notStarted",
            "all"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.BuildStatus"
          }
        },
        "tags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggerInfo": {
          "description": "Sourceprovider-specific information about what triggered the build",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Uri of the build",
          "type": "string"
        },
        "url": {
          "description": "REST url of the build",
          "type": "string"
        },
        "validationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRequestValidationResult"
          }
        }
      }
    },
    "BuildAgent": {
      "description": "",
      "type": "object",
      "properties": {
        "buildDirectory": {
          "type": "string"
        },
        "controller": {
          "$ref": "#/definitions/XamlBuildControllerReference"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "messageQueueUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "reservedForBuild": {
          "type": "string"
        },
        "server": {
          "$ref": "#/definitions/XamlBuildServerReference"
        },
        "status": {
          "enum": [
            "unavailable",
            "available",
            "offline"
          ],
          "x-ms-enum": {
            "name": "Microsoft.TeamFoundation.Build.WebApi.AgentStatus"
          }
        },
        "statusMessage": {
          "type": "string"
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time"
        },
        "uri": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "BuildAgentReference": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the resource",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the linked resource (definition name, controller name, etc.)",
          "type": "string"
        },
        "url": {
          "description": "Full http link to the resource",
          "type": "string"
        }
      }
    },
    "BuildArtifact": {
      "description": "",
      "type": "object",
      "properties": {
        "id": {
          "description": "The artifact id",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the artifact",
          "type": "string"
        },
        "resource": {
[...]
