{
  "swagger": "2.0",
  "info": {
    "title": "Npm",
    "description": "",
    "termsOfService": "https://go.microsoft.com/fwlink/?LinkId=329770",
    "contact": {
      "name": "nugetvss",
      "email": "nugetvss@microsoft.com"
    },
    "license": {
      "name": "MICROSOFT SOFTWARE LICENSE TERMS",
      "url": "https://go.microsoft.com/fwlink/?LinkId=329770"
    },
    "version": "4.1"
  },
  "host": "fabrikam-fiber-inc.visualstudio.com",
  "x-ms-parameterized-host": {
    "hostTemplate": "{accountName}.visualstudio.com",
    "parameters": [
      {
        "name": "accountName",
        "description": "The name of the Visual Studio Team Services account.",
        "required": true,
        "type": "string",
        "in": "path"
      }
    ]
  },
  "x-ms-vss-area": "Npm",
  "basePath": "/",
  "tags": [
    {
      "name": "content"
    },
    {
      "name": "packagesbatch"
    },
    {
      "name": "readme"
    },
    {
      "name": "Versions"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "GetScopedPackageInfo",
        "description": "",
        "operationId": "Versions_GetScopedPackageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "UnpublishScopedPackage",
        "description": "",
        "operationId": "Versions_UnpublishScopedPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "UpdateScopedPackage",
        "description": "",
        "operationId": "Versions_UpdateScopedPackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageVersionDetails"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "GetPackageInfo",
        "description": "",
        "operationId": "Versions_GetPackageInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "UnpublishPackage",
        "description": "",
        "operationId": "Versions_UnpublishPackage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Versions"
        ],
        "x-ms-vss-resource": "versions",
        "x-ms-vss-method": "UpdatePackage",
        "description": "",
        "operationId": "Versions_UpdatePackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageVersionDetails"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Package"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_manage"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/content": {
      "get": {
        "tags": [
          "Content"
        ],
        "x-ms-vss-resource": "content",
        "x-ms-vss-method": "GetContentScopedPackage",
        "description": "",
        "operationId": "Content_GetContentScopedPackage",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/readme": {
      "get": {
        "tags": [
          "Readme"
        ],
        "x-ms-vss-resource": "readme",
        "x-ms-vss-method": "GetReadmeScopedPackage",
        "description": "",
        "operationId": "Readme_GetReadmeScopedPackage",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageScope",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "unscopedPackageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/content": {
      "get": {
        "tags": [
          "Content"
        ],
        "x-ms-vss-resource": "content",
        "x-ms-vss-method": "GetContentUnscopedPackage",
        "description": "",
        "operationId": "Content_GetContentUnscopedPackage",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/readme": {
      "get": {
        "tags": [
          "Readme"
        ],
        "x-ms-vss-resource": "readme",
        "x-ms-vss-method": "GetReadmeUnscopedPackage",
        "description": "",
        "operationId": "Readme_GetReadmeUnscopedPackage",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "feedId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageName",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "packageVersion",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string",
              "format": "Stream"
            }
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging"
            ]
          }
        ]
      }
    },
    "/_apis/packaging/feeds/{feedId}/npm/packagesbatch": {
      "post": {
        "tags": [
          "Packagesbatch"
        ],
        "x-ms-vss-resource": "packagesbatch",
        "x-ms-vss-method": "UpdatePackages",
        "description": "Update several packages from a single feed in a single request. The updates to the packages do not happen atomically.",
        "operationId": "Packagesbatch_Update",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the packages to update, the operation to perform, and its associated data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NpmPackagesBatchRequest"
            }
          },
          {
            "in": "path",
            "name": "feedId",
            "description": "Feed which contains the packages to update.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
         }
        },
        "security": [
          {
            "oauth2": [
              "vso.packaging_write"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "BatchDeprecateData": {
      "description": "Data required to deprecate multiple package versions. Pass this while performing NpmBatchOperationTypes.Deprecate batch operation.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BatchOperationData"
        }
      ],
      "properties": {
        "message": {
          "description": "Deprecate message that will be added to packages",
          "type": "string"
        }
      }
    },
    "BatchOperationData": {
      "description": "Do not attempt to use this type to create a new BatchOperationData. This type does not contain sufficient fields to create a new batch operation data.",
      "type": "object",
      "properties": {
      }
    },
    "JsonPatchOperation": {
      "description": "The JSON model for a JSON Patch operation",
      "type": "object",
      "properties": {
        "from": {
          "description": "The path to copy from for the Move/Copy operation.",
          "type": "string"
        },
        "op": {
          "description": "The patch operation",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.WebApi.Patch.Operation"
          }
        },
        "path": {
          "description": "The path for the operation",
          "type": "string"
        },
        "value": {
          "description": "The value for the operation. This is either a primitive or a JToken.",
          "type": "object"
        }
      }
    },
    "MinimalPackageDetails": {
      "description": "Minimal package details required to identify a package within a protocol.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Package name.",
          "type": "string"
        },
        "version": {
          "description": "Package version.",
          "type": "string"
        }
      }
    },
    "NpmPackagesBatchRequest": {
      "description": "Request for batch operation on npm packages",
      "type": "object",
      "properties": {
        "data": {
          "description": "Data required to perform the operation. This is optional based on type of operation. Use BatchPromoteData if performing a promote operation.",
          "$ref": "#/definitions/BatchOperationData"
        },
        "operation": {
          "description": "Type of operation that needs to be performed on packages.",
          "enum": [
            "promote",
            "deprecate",
            "unpublish"
          ],
          "x-ms-enum": {
            "name": "Microsoft.VisualStudio.Services.Npm.WebApi.NpmBatchOperationType"
          }
        },
        "packages": {
          "description": "The packages onto which the operation will be performed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MinimalPackageDetails"
          }
        }
      }
    },
    "Package": {
      "description": "",
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/ReferenceLinks"
        },
        "deprecateMessage": {
          "description": "Deprecated message, if any, for the package",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "description": "The display name of the package",
          "type": "string"
        },
        "unpublishedDate": {
          "description": "If and when the package was deleted",
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "description": "The version of the package",
          "type": "string"
        }
      }
    },
    "PackageVersionDetails": {
      "description": "",
      "type": "object",
      "properties": {
        "deprecateMessage": {
          "description": "Indicates the deprecate message of a package version",
          "type": "string"
        },
        "views": {
          "description": "The view to which the package version will be added",
          "$ref": "#/definitions/JsonPatchOperation"
        }
      }
    },
    "ReferenceLinks": {
      "description": "The class to represent a collection of REST reference links.  Example: `{ self: { href: \"http://localhost:8080/tfs/DefaultCollection/_apis/wit/workItems/1\" } }`",
      "type": "object",
      "properties": {
        "links": {
          "description": "The readonly view of the links.  Because Reference links are readonly, we only want to expose them as read only.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {
    "api-Version": {
      "name": "api-version",
      "in": "query",
      "description": "Version of the API to use.  This should be set to '4.1-preview' to use this version of the api.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "type": "basic",
      "description": "Personal access token. Use any value for the user name and the token as the password."
     },
     "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion",
      "tokenUrl": "https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer",
      "scopes": {
        "vso.packaging": "Grants the ability to read feeds and packages.",
        "vso.packaging_manage": "Grants the ability to create, read, update, and delete feeds and packages.",
        "vso.packaging_write": "Grants the ability to create and read feeds and packages."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "externalDocs": {
    "description": "Visual Studio Team Services REST APIs",
    "url": "https://www.visualstudio.com/docs/integrate/api/overview"
  }
}